@charset "UTF-8";
/* Fonts and style */
.monacotype {
    font: 11px  Monaco, arial, sans-serif;
    color: #000000;
}
.helvertica_black {
    font: 12px  "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
}

.helvertica_black_big {
    font: 24px  "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
}

.helvertica_white_big {
    font: 24px  "Helvetica Neue Light", arial, sans-serif;
    color: #FFFFFF;
}

.helvertica_grey {
    font: 12px  "Helvetica Neue Light", arial, sans-serif;
    color: #f5f5f5;
}

.helvertica_blue{
    font: 12px Helvetica, arial, sans-serif;
    color: #003a76;
}

.centerText {
    text-align: center;
}

/* body */
body {
    background-color: #F5F5F5;
    margin-left: 0px;
    margin-top: 0px;
}

/* Menu */
td.menu:hover {
    cursor: pointer;
    background-color: #D55401;
}

a.menuItems {
    color: #FFFFFF;
}
a.menuItems:hover {
	cursor: pointer;
    text-decoration: none;
}

/* DataSource Items */
.dataSourceBar{
	 background-image:url(/images/dark_m.png);
	 background-repeat:repeat-x;
	 background-size:auto 25px;
}

.dataSourceMenu, .dataSourceMenuText {
    font: 11px  Monaco, arial, sans-serif;
    color: #000000;
    width: auto;
	background-image:url(/images/dark_m.png);
	background-repeat:repeat-x;
	background-size: auto 25px;
}

td.dataSourceMenu, .dataSourceMenuText {
	position: relative;
	background-image:url(/images/dark_m.png);
	background-repeat:repeat-x;
	background-size: auto 25px;
}

.addTabBg {
    background-image:url(/images/dark_m.png);
    background-repeat:repeat-x;
    background-size: auto 25px;
}

#addTabButton {
	position: relative;
	top: 2px;
}

#tab2c:hover + #tab1r{
	opacity: 0;
}

/* Pages */
.pageTurner {
    font: 12px Helvetica, arial, sans-serif;
    color: #003a76;
}

.pageTurnerPage {
    font: 12px Helvetica, arial, sans-serif;
    color: #003a76;
    text-align: center;
}

a.pageTurner,
a.pageTurnerPage,
a.pageTurnerPageNumber {
    color: #003a76;
	text-decoration: none;
}

a.pageTurner:hover,
a.pageTurnerPage:hover {
	color: #002246;
}

#pageTurnerNumberBar td.pageTurnerPage:hover {
    color: #000000;
}

a.pageTurnerPageNumber:hover {
	color: #00CC00;
    border-top-left-radius: 2;
    border-bottom-left-radius: 2;
    border-top-right-radius: 2;
    border-bottom-right-radius: 2;
    border: 3px #EEEEEE;
}

.pageTurnerPageSelected {
    background-image: url("/images/shadedSquare.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-color: #CCCCCC;
}

/* leftMenu */
#leftFrame {
    vertical-align: top;
}

/* mainFrame */
#mainFrame {
    vertical-align: top;
}
/* Tables */
.colClose {
    background-image:url(/images/closeButton.png);
    background-size: 15px 15px;
    float: right;
}

.noBorderTable {
    border-collapse: collapse;
    border: 0px;
    margin: 0px;
    /* For testing only 
    box-shadow: 0 0 0 2px blue inset; */
}

.noBorderTable td {
    padding: 0px;
    border: 0px;
}

.stbg {
	background-color: #d5d5d5;
    border-spacing: 1px 1px;
    border-collapse: separate;
    padding: 0px;
    border: 0px;
    position: relative;
    top: -1px;
    left: -1px;
}

.stbg td {
    padding: 2px;
}

.addedBarText {
    width: 150px;
    word-break:break-all;
    max-height: 45px;
    overflow-y: auto;
}

.elementText{
    width: 100%;
    max-height: 45px;
    overflow-y: auto;
}

.table_title_bg {	
	background-image: url(/images/bgbgbg.png);
	background-repeat:repeat-x;
	font: 12px  "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
	text-indent: 8px;
}

.spaceFiller {
    width: calc(100%-1365px);
}

.tabsAreaBg {
    background-image: url(/images/dark_m.png);
    background-repeat: repeat-x;
    background-size:auto 25px;
}

.b4{	
	border:1px solid BLACK;
}

#searchBar {
	width: 1196px;
}

#dropDownMenu {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	box-shadow: none;
	outline: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0;
}

.tempButton {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	box-shadow: none;
	outline: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	padding: 0;
}

#magnifyingGlass {
    width: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	box-shadow: none;
	outline: 0;
	padding: 0;
	float: left;
	border-left-width: 0;
}

table input[type=text],
table input[type=password] {
    font-family: Monaco, Arial, sans-serif;
    font-size: 12px;
    padding: 0 6px;
    box-sizing: border-box;
    margin: 0;
    height: 40px;
    resize: none;
    width: 400px;
    border: 1px solid #BFBFBF;
    border-right-width: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.bigButton {
	line-height: 38px;
    height: 40px;
    border-top-left-radius: 4;
    border-bottom-left-radius: 4;
    padding: 0 15px;
    text-align: center;
    margin: 0;
    min-width: 20px;
    cursor: pointer;
    border-left-color: #AEAEAE;
    white-space: nowrap;   
}

.normalButton,
.bigButton
{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #BFBFBF;
   
   	background-image: -moz-linear-gradient(top, #f8f8f8, #eeeeee);
   	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#EEE));
   	background-image: -webkit-linear-gradient(top, #F8F8F8, #EEE);
   	background-image: -o-linear-gradient(top, #f8f8f8, #eeeeee);
   	background-image: linear-gradient(to bottom, #F8F8F8, #EEE);
   	background-color: #EEE;
   	background-repeat: repeat-x;
   	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0);
    color: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

a.bigButton:hover,
.bigButton:hover {
	background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#F8F8F8));
    background-image: -webkit-linear-gradient(top, #F8F8F8, #F8F8F8);
    background-image: -o-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image: linear-gradient(to bottom, #F8F8F8, #F8F8F8);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff8f8f8', GradientType=0);
    border-color: #C7C7C7;
    outline: none;
}

button.bigButton,
button.normalButton {
    *padding:0px;
}
a.bigButton,
a.normalButton,
a.bigButton span,
a.normalButton span {
    text-decoration: none;
    float: left;
}
.bigButton span,
.normalButton span {
    min-width: 110px;
    *min-width: 80px;
    _width: 80px;
    *white-space: nowrap;
    display: block;
}

/* Ripped this from Splunk. We need to remove this 
body {
    font: 12px  helvetica, arial, sans-serif;
    line-height: 20px;
    color: #cccc;
    background-color: #99999;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 27px;
    font-weight: 300;
    white-space: nowrap;
    overflow: visible;
}
a {
    color: #9999;
    text-decoration: none;
}
a:hover {
    color: white;
}
*/
label {
    color: #999;
}
label.license_label {
    text-transform: none;
    font-size: 12px;
    margin-left: 3px;
}

/* Containers */
.container-wrapper {
    width: 600px;
    margin: 0 auto;
}

.container-top {
    position: absolute;
    width:482px;
    bottom: 60%;
    margin-bottom: 25px;
}
.container-center {
    position: absolute;
    width:482px;
    top: 40%;
    margin-top: -15px;
}

.subContainer {
    display: none;
    min-height: 20px;
    margin-bottom: 10px;
}

/* tips */
#connectError {
    display: none;
}
#connectError p {
    margin-top: 0px;
}
#connectError p:last-child {
    margin-bottom: 0px;
}
.connectErrorContinue {
    margin-top: 90px;
}

#tipsCheckerContainer {
    padding: 0;
}
#tipsCheckerContainer iframe {
    max-height: 90px;
    background-color: #222222;
    margin-top: -30px;
}
.tipsCheckerContinueLink {
    height: 26px;
}

#freeMessageContainer {
    padding-left: 20px;
	line-height: 25px;
    padding: 0;
    border: 0;
    box-shadow: none;
}
#freeMessageContainer .freeMessageUpdate {
    margin:10px 0px 20px;
}
#freeMessageContainer .freeMessageUpdate .bigButton {
	margin-right:10px;
}
#freeMessageContainer .skipUpdate {
    margin-left: 10px;
}
#freeMessageContainer .connectErrorContinue {
    float: none;
}

.checkingForUpdatesWrapper {
    padding-top: 15px;
}
.checkingForUpdates,
.noUpdatesFound {
	height: 16px;
	line-height: 16px;
}
.checkingForUpdates {
    padding-left: 20px;
}
.spinner {
    top: 7px;
}
#freeMessageContainer .freeMessageUpdate .skipUpdate {
	margin-left: 10px;
}

iframe {
    width: 100%; overflow: hidden;
}

/* borrowing styles form search bar */
form {
    margin-bottom: 40px;
}
form table {
    box-shadow: 0 0 5px black;
    border-collapse: collapse;
}
form table td {
    padding: 0 !important;
}
form table .input-wrapper {
    border-right: none;
}
.lt-ie9 form table .input-wrapper {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#D0D0D0', GradientType=0);
}
form table td:first-child .input-wrapper {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
form table td+td .input-wrapper {
    border-left: none;
    padding-left: 0;
}
.placeholder-text {
    position: absolute;
    padding: 13px 9px;
    color: #aaa;
    line-height: normal;
}
.loginForm table {
    margin-bottom: 5px;
}

table .placeholder {
    color: #aaa;
}

p.loginButtonRow {
    margin-top:15px;
}
.save-pass-button {
    *min-width: 150px !important;
}
.footer {
	position: fixed;
	margin: 0;
	line-height: 20px;
	bottom: 0px;
	padding-bottom: 10px;
	font-size: 12px;
	text-align: center;
}

/* noscript message */
noscript {
    position: absolute;
    width: 482px;
    top: 40%;
    margin-top: -15px;
}

noscript p {
	display: block;
}

/* remove IE7 button borders */
input[type=submit],
input[type=reset],
input[type=button],
button[type=submit],
button:hover
{
    filter:chroma(color=#000000);
    color: #010101;
}
td {
	font-family: Arial "Century Schoolbook L", "Times New Roman", serif;
	font-size: 12px;
}

/* responsive */
@media (max-width: 767px) {
    .container-center,
    .container-top {
        left: inherit;
        right: inherit;
        margin: 0;
    }
    .container-top {
        width: 482px;
        margin: 0 auto;
    }

    #brand {
        text-align: center;
    }
    #passwordHint {
        width: 220px;
        margin: 0 auto;
    }
    p.error {
        text-align: center;
    }

    /* not needed to login */
    #updateCheckerContainer {
        display: none !important;
    }
table, tbody, tr,body{
        display: block;
    }
    form table {
        width: 200px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#D0D0D0', GradientType=0);
        padding: 10px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
        border: 1px solid #E0E0E0;
        border-top-color: white;
        border-bottom-color: #CFCFCF;
        border-radius: 4px;
    }
    form table .input-wrapper {
        background: transparent;
        box-shadow: none;
        border: none;
        margin-bottom: 10px;
        padding: 0;
    }
    table input[type="text"], table input[type="password"] {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-right-width: 1px;
        border-radius: 4px;
    }
    table tr .bigButton {
        margin-top: 5px;
        border: 1px solid #bbb;
        border-radius: 4px;
        width: 100%;
    }

.bg_r-r {
	background-image:url(/images/bg_right.jpg);
	background-repeat:repeat-x;
	}
