@charset "UTF-8";
/* Fonts and style */
.monacotype {
    font: 11px  Monaco, arial, sans-serif;
    color: #000000;
}
.helvetica_black {
    font: 12px  "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
}

.helvetica_black_big {
    font: 24px  "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
}

.helvetica_white_big {
    font: 24px  "Helvetica Neue Light", arial, sans-serif;
    color: #FFFFFF;
}

.helvetica_grey {
    font: 12px  "Helvetica Neue Light", arial, sans-serif;
    color: #f5f5f5;
}

.helvetica_blue{
    font: 12px Helvetica, arial, sans-serif;
    color: #003a76;
}

.centerText {
    text-align: center;
}

/* body */
body {
    margin: 0;
    background-color: #F5F5F5;
}

div {
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.clear {
    clear: both;
}

table.outerWrapper {
    width:100%;
}


#container {
    display: table;
    width: 100%;
    overflow: hidden;
    background-color: #FFFFFF;
    
}

/* logo */
.logoWrap {
    min-width: 1370px;
    height:26px;
    background-color:#3c4651;
}

#logo {
    position: absolute;
    left: 33px;
    top: 7px;
}

/* Menu */
#menuWrap {
    /*width: 1365px;*/
    height: 40px;
    background-color: #e77e23;
}

#menuItems {
    height: 40px;
    background-color: #e77e23;
}

td.menu:hover {
    cursor: pointer;
    background-color: #D55401;
}

a.menuItems {
    color: #FFFFFF;
}

a.menuItems:hover {
    cursor: pointer;
    text-decoration: none;
}

td.menuFiller {
    height: 40px;
    background-color: #e77e23;
}

/* List Tables Header */
#listTables {
    padding-top: 15px;
    height: 53px;
    background-color: #e1e1e1;
}

img#magGlass {
    position: relative; 
    top: 3px;
    opacity: 0.5;
    margin-left: 26px;
    margin-right:10px;
}

/* Search bar */
.searchWrap {
    padding-left: 21px;
    height: 40px;
    background-color: #e1e1e1;
}

/* Tabs Header */
div.tabsHeader {
    padding-top: 10px;
    height: 42px;
    background-color: #e1e1e1;
}

span.tabsHeader {
    display:inline-block;
    margin-left: 23px;
}

/* DataSource Items */
.dataSourceBar{
     background-image:url(/images/dark_m.png);
     background-repeat:repeat-x;
     background-size:auto 25px;
     height: 25px;
     background-color: #FFFFFF;
}

#tabsArea {
    height: 25px;
}

.dataSourceMenu, .dataSourceMenuText {
    font: 11px  Monaco, arial, sans-serif;
    color: #000000;
    width: auto;
    background-image:url(/images/dark_m.png);
    background-repeat:repeat-x;
    background-size: auto 25px;
}

td.dataSourceMenu, .dataSourceMenuText {
    position: relative;
    background-image:url(/images/dark_m.png);
    background-repeat:repeat-x;
    background-size: auto 25px;
}

.addTabBg {
    /*background-image:url(/images/dark_m.png);*/
    background-repeat:repeat-x;
    background-size: auto 25px;
}

#addTabButton {
    position: relative;
    top: 2px;
}

#tab2c:hover + #tab1r{
    opacity: 0;
}

/* Placeholder */

.placeHolderWrap {
    background-color: #FFFFFF;
}

img#placeHolder {
    margin: 24px 0px 34px 20px;
   
}

/* Pages */
#pageTurnerWrap {
   width: 100%;
   border-bottom: 1px solid #CCCCCC; 
}

#pageTurnerInner {
    width: 1356px;
}

#pageForm {
    display: inline-block;
    float: right;
}

input#pageInput {
   /*margin-left: 1280px;*/
    font-family: Monaco, Arial, sans-serif;
    font-size: 12px;
    border: 1px solid #BFBFBF;
    margin-top: 6px;
    padding: 2px;
}

input#pageInput::-webkit-outer-spin-button,
input#pageInput::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#pageInput {
    -moz-appearance:textfield;
}

.pageTurner {
    font: 12px Helvetica, arial, sans-serif;
    color: #003a76;
}

#pageTurnerNumberBarInner {
    /*width: 1365px;*/
    width: 1265px;
    height: 35px;
}

#pageTurnerNumberBar {
    /*border-bottom: 1px solid #CCCCCC; */
    background-color: #FFFFFF;
    display: inline-block;
    float: right;
}

.pageTurnerLeftSpacer {
    width: 856px;
    height: 35px;
    background-color: #FFFFFF;
}

.pageTurnerRightSpacer {
    height: 35px;
    background-color: #FFFFFF;
}

td.pageTurnerWrap {
    height: 35px;
    background-color: #FFFFFF;
}

table.pageTurnerWrap {
    height: 35px;
    max-width: 389px;
    float:right;
}

td.pageTurner {
    height: 35px;
}

#pageTurnerLeft {
    height: 35px;
    width: 45px;
    background-color: #FFFFFF;
    text-align: right;
    white-space: nowrap;
}

#leftDots {
    width: 20px;
    text-align: right;
}

#rightDots {
    width: 20px;
    text-align: left;
}

#pageTurnerRight {
    width: 44px;
    height: 35px;
    background-color: #FFFFFF;
    white-space: nowrap;
}

.pageTurnerPage {
    font: 12px Helvetica, arial, sans-serif;
    color: #003a76;
    text-align: center;
    width: 35px;
    height: 35px;
}

.pageTurnerFiller {
    height: 35px;
    background-color: #FFFFFF;
}

a.pageTurner,
a.pageTurnerPage,
a.pageTurnerPageNumber {
    color: #003a76;
    text-decoration: none;
    display:block;
}

a.pageTurner:hover,
a.pageTurnerPage:hover {
    color: #002246;
}

#pageTurnerNumberBar td.pageTurnerPage:hover {
    color: #000000;
}

a.pageTurnerPageNumber:hover {
    color: #00CC00;
    border-top-left-radius: 2;
    border-bottom-left-radius: 2;
    border-top-right-radius: 2;
    border-bottom-right-radius: 2;
    border: 3px #EEEEEE;
}

.pageTurnerPageSelected {
    background-image: url("/images/shadedSquare.png");
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: center;
    font-color: #CCCCCC;
}


/* leftMenu */
#leftFrame {
    vertical-align: top;
    width: 238px;
    height: 544px;
    background-color: #FFFFFF;
    float: left;
    border-right: 1px solid #CCCCCC;
}

#leftSidebar, #subSidebar {
    padding: 0;
    list-style-type: none;
}

#leftSidebar {
    margin-left: 14px;
}

#leftSidebar > li {
    margin-bottom: 15px;
}

#subSidebar > li {
    margin-bottom: 4px;
}

/* mainFrame */
#mainFrame {
    vertical-align: top;
    width: 1126px;
    min-height: 544px;
    background-color: #FFFFFF;
    float: left;
    position: relative;
}

.mainFrameWrap {
    border-bottom: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}


/* List_Table_R_HTML */
#autoGenTable {
    width: 1120px;
}

#autoGenTable tr:not(:first-child) td{
    overflow: hidden;
}

#autoGenTable tr:first td {
    height: 17px;
}

#autoGenTable td {
    height: 17px;
}

#headCol1 {
    text-align: center;
    width: 3.5%;
}
#headCol1 strong{
    margin: 0;
    padding: 0;
}

/* Tables */
.regularTable {
    border: 5px;
    margin: 0px;
    border-collapse: separate;
    border-spacing: 3px 3px;
}

.colClose {
    background-image:url(/images/closeButton.png);
    background-size: 15px 15px;
    float: right;
}

.noBorderTable {
    border-collapse: collapse;
    border: 0px;
    margin: 0px;
    /* For testing only 
    box-shadow: 0 0 0 2px blue inset; */
}

.noBorderTable td {
    padding: 0px;
    border: 0px;
}

.stbg {
    background-color: #FFFFFF;
    border-spacing: 0px;
    border-collapse: collapse;
    padding: 0px;
    border: 0px;
    position: relative;
    top: -1px;
    left: -1px;
    box-sizing: border-box;
}

.stbg td {
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #D5D5D5;
}

.stbg strong{
    padding-left: 8px;
    display: block;
    position: relative;
    z-index: 2;
}

.stbg .editableHead {
    width: calc(100% - 10px); 
    height: 17px; 
    background-color: transparent; 
    border: none;
    display: block;
    overflow: hidden;
    padding: 2px 0px 2px 6px;
    margin: -2px 0px -2px -6px;
    font: 12px "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
    font-weight: bold;
}

.cellRelative {
    width: 100%;
    height: 100%;
    position: relative;
}

/* dropdown styling */

.dropdownBox {
    width: 15px;
    height: 15px;
    position: absolute;
    margin-right: 1px;
    vertical-align: middle;
    right:0;
    top: 1px;
    cursor: pointer;
    z-index: 6;
    background-image: url(/images/downArrow.png);
    background-size: 15px 15px;
    opacity: 0.4;
}

.cellRelative .dropdownBox {
    top: -1px;
}

.table_title_bg.staticCol strong{
    margin-right: 16px;
    overflow: hidden;
}

.dropdownBox:hover {
    opacity: 1.0;
}

.table_title_bg ul{
    position: absolute;
    list-style: none;
    padding: 0px;
    display: inline-block;
    width: 160px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    border-bottom: 1px solid #333333;
    border-bottom: 1px solid #9D9D9D;
    z-index:6;
}

ul.colMenu {
    display:none;
    top: 5px;
    right: -144px;
}

ul.colMenu li {
    padding: 6px 10px;
    height: 30px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    position:relative;
    color: #40403F;
    border: 1px solid #9d9d9d;
    border-bottom: none;
    background: #9d9d9d;
    background:-moz-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:-webkit-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:-o-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:-ms-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:linear-gradient(bottom, #9d9d9d, #d6d6d6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#9d9d9d',GradientType=0);
}

.rightArrow {
    width: 8px;
    height: 9px;
    display:none;
    position:relative;
    top: 3px;
    float:right;
    background-image: url(/images/rightArrow.png);
    background-size: 8px 9px;
}

ul.colMenu > li:hover {
    cursor: pointer;
    border: 1px solid #D86C12;
    border-bottom: none;
    color: #FFFFFF;
    background: #D86C12;
    background:-moz-linear-gradient(#FF9744, #D86C12);
    background:-webkit-linear-gradient( #FF9744, #D86C12);
    background:-o-linear-gradient( #FF9744, #D86C12);
    background:-ms-linear-gradient( #FF9744, #D86C12);
    background:linear-gradient( #FF9744, #D86C12);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D86C12', endColorstr='#FF9744',GradientType=0);   
}

ul.colMenu > li.subSelected {
    background: #D86C12;
    background:-moz-linear-gradient(#FE8624, #AA5711);
    background:-webkit-linear-gradient( #FE8624, #AA5711);
    background:-o-linear-gradient( #FE8624, #AA5711);
    background:-ms-linear-gradient( #FE8624, #AA5711);
    background:linear-gradient( #FE8624, #AA5711);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA5711', endColorstr='#FE8624',GradientType=0);
}

ul.colMenu li:hover .rightArrow {
    display:inline-block;
}

ul.colMenu li:hover > ul {
    visibility: visible;
    -webkit-transition-delay: .25s;
    -moz-transition-delay: .25s;
    -o-transition-delay: .25s;
    transition-delay: .25s;
}

ul.colMenu ul {
    visibility: hidden;
    z-index: 6;
    top: 8px;
    left: 160px;
    margin: -1px 0px 0px -1px;
    -webkit-transition-delay: .2s;
    -moz-transition-delay: .2s;
    -o-transition-delay: .2s;
    transition-delay: .2s;
}

.colMenu input[type=text] {
    width: 152px;
    height: 24px;
    margin: -4px -6px;
}

ul.subColMenu li {
    border-left: none;
}

ul.subColMenu li:first-child {
    background-color: #FE8624;
    color: #FFFFFF;
    background:-moz-linear-gradient(#FF9744, #D86C12);
    background:-webkit-linear-gradient( #FF9744, #D86C12);
    background:-o-linear-gradient( #FF9744, #D86C12);
    background:-ms-linear-gradient( #FF9744, #D86C12);
    background:linear-gradient( #FF9744, #D86C12);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D86C12', endColorstr='#FF9744',GradientType=0);
}

ul.subColMenu li.subColUnselected {
    color: #40403F;
    background: #9d9d9d;
    background:-moz-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:-webkit-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:-o-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:-ms-linear-gradient(bottom, #9d9d9d, #d6d6d6);
    background:linear-gradient(bottom, #9d9d9d, #d6d6d6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d6d6d6', endColorstr='#9d9d9d',GradientType=0);
    border: 1px solid #9d9d9d;
    border-bottom: none;
    border-left: none;
}

ul.subColMenu li.subColSelected {
    color: #FFFFFF;
    background: #D86C12;
    background:-moz-linear-gradient(#FF9744, #D86C12);
    background:-webkit-linear-gradient( #FF9744, #D86C12);
    background:-o-linear-gradient( #FF9744, #D86C12);
    background:-ms-linear-gradient( #FF9744, #D86C12);
    background:linear-gradient( #FF9744, #D86C12);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#D86C12', endColorstr='#FF9744',GradientType=0);
}

ul.leftColMenu {
    right: 1px;
}

ul.subColMenu.leftColMenu {
    left: -160px;
    border-left: 1px solid #9d9d9d;
}

ul.subColMenu.leftColMenu li {
    border-right: none;
}

/* end dropdown styling */

.mousePointer {
    display: inline-block;
}

.mousePointer:hover {
    cursor: pointer;
    background-color: #ffcda1;
}

.resizable td{
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
}

.resizeCursor {
    display: inline-block;
    height: 100%;
    position: absolute;
    width: 12px;
    cursor: e-resize;
    z-index: 4;
    right:-6px;
    top:0px;
}
        
.addedBarText {
    max-height: 45px;
    overflow-y: auto;
}

.elementText{
    width: 100%;
    max-height: 45px;
    overflow-y: auto;
}

.table_title_bg { 
    background-image: url(/images/bgbgbg.png);
    background-repeat:repeat-x;
    background-image: -ms-linear-gradient(top, #FAFAFA 0%, #DDDDDD 200%);
    background-image: -moz-linear-gradient(top, #FAFAFA 0%, #DDDDDD 200%); 
    background-image: -o-linear-gradient(top, #FAFAFA 0%, #DDDDDD 200%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #FAFAFA), color-stop(2, #DDDDDD));
    background-image: -webkit-linear-gradient(top, #FAFAFA 0%, #DDDDDD 200%);
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #DDDDDD 200%);
    font: 12px  "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
}

.noSelection{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
}

.spaceFiller {
    width: calc(100% - 1365px);
}

.tabsAreaBg {
    background-image: url(/images/dark_m.png);
    background-repeat: repeat-x;
    background-size:auto 25px;
    height: 25px;
    background-color: #FFFFFF;
}

.b4{    
    border:1px solid BLACK;
}

#searchBar {
    width: 1196px;
}

#dropDownMenu {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    outline: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
    float: left;
}

.tempButton {
    width: 100px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    outline: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0;
}

#magnifyingGlass {
    width: 40px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    outline: 0;
    padding: 0;
    float: left;
    border-left-width: 0;
}

.searchWrap input[type=text],
table input[type=text],
table input[type=password] {
    font-family: Monaco, Arial, sans-serif;
    font-size: 12px;
    padding: 0 6px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin: 0;
    height: 40px;
    resize: none;
    width: 400px;
    border: 1px solid #BFBFBF;
    border-right-width: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchWrap input[type=text] {
    float: left;
}

div input[type=text] {
    font-family: Monaco, Arial, sans-serif;
    font-size: 12px;
    padding: 0 6px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    margin: 0;
    height: 30px;
    resize: none;
    width: 250px;
    border: 1px solid #BFBFBF;
    border-radius: 4px;
}

.shadeBox {
    z-index: 5;
    opacity: 0.5;
    /*
    background-color: gray;
    background-image: repeating-linear-gradient(45deg, transparent, transparent
    15px, rgba(255,255,255,.5) 15px, rgba(255,255,255,.5) 30px);
    */
    box-sizing: content-box;
    background-color: #BFBFBF;
    position: absolute;
    border: 0px solid #000000;
    border-right: 1px solid #7F7F7F;

}

#dataTypeSelector {
    padding-left: 10px;
    float: left;
    width: 200px;
}

#filePathSelector {
    padding-left: 30px;
    float: left;
    width: auto;
}

#uploadProgress {
    padding-left: 30px;
    float: left;
    width: auto;
}

#keySelector {
    padding-left: 30px;
    float: left;
    width: auto;
}

.bigButton {
    line-height: 38px;
    height: 40px;
    border-top-left-radius: 4;
    border-bottom-left-radius: 4;
    padding: 0 15px;
    text-align: center;
    margin: 0;
    min-width: 20px;
    cursor: pointer;
    border-left-color: #AEAEAE;
    white-space: nowrap;   
}

.normalButton,
.bigButton
{
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0px;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #BFBFBF;
   
    background-image: -moz-linear-gradient(top, #f8f8f8, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#EEE));
    background-image: -webkit-linear-gradient(top, #F8F8F8, #EEE);
    background-image: -o-linear-gradient(top, #f8f8f8, #eeeeee);
    background-image: linear-gradient(to bottom, #F8F8F8, #EEE);
    background-color: #EEE;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#ffeeeeee', GradientType=0);
    color: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

a.bigButton:hover,
.bigButton:hover {
    background-image: -moz-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#F8F8F8), to(#F8F8F8));
    background-image: -webkit-linear-gradient(top, #F8F8F8, #F8F8F8);
    background-image: -o-linear-gradient(top, #f8f8f8, #f8f8f8);
    background-image: linear-gradient(to bottom, #F8F8F8, #F8F8F8);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff8f8f8', endColorstr='#fff8f8f8', GradientType=0);
    border-color: #C7C7C7;
    outline: none;
}

button.bigButton,
button.normalButton {
    *padding:0px;
}
a.bigButton,
a.normalButton,
a.bigButton span,
a.normalButton span {
    text-decoration: none;
    float: left;
}
.bigButton span,
.normalButton span {
    min-width: 110px;
    *min-width: 80px;
    _width: 80px;
    *white-space: nowrap;
    display: block;
}

.xFooter {
    width: 100%;
    background-color: #F5F5F5;
}

ul.footerList {
    width: 1365px;
    list-style: none;
    padding: 0 0 0 5px;
    display:inline-block;
    margin-top: 35px;
}

ul.footerList li {
    display: inline-block;
    padding: 10px;
}

ul.footerList li {
    display: inline-block;
    padding: 10px;
}

li.rightsReserved {
    float:right;
    margin-right: 20px;
}

/* Ripped this from Splunk. We need to remove this
***********************************************************************
*********************************************************************** 
body {
    font: 12px  helvetica, arial, sans-serif;
    line-height: 20px;
    color: #cccc;
    background-color: #99999;
}

h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 27px;
    font-weight: 300;
    white-space: nowrap;
    overflow: visible;
}
a {
    color: #9999;
    text-decoration: none;
}
a:hover {
    color: white;
}
*/
/*label {
    color: #999;
}*/

/* Containers */
.container-wrapper {
    width: 600px;
    margin: 0 auto;
}

.container-top {
    position: absolute;
    width:482px;
    bottom: 60%;
    margin-bottom: 25px;
}
.container-center {
    position: absolute;
    width:482px;
    top: 40%;
    margin-top: -15px;
}


.spinner {
    top: 7px;
}


iframe {
    width: 100%; overflow: hidden;
}

/* borrowing styles form search bar */
/*form {
    margin-bottom: 40px;
}*/
form table {
    box-shadow: 0 0 5px black;
    border-collapse: collapse;
}
form table td {
    padding: 0 !important;
}
table .placeholder {
    color: #aaa;
}

.footer {
    position: fixed;
    margin: 0;
    line-height: 20px;
    bottom: 0px;
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
}

/* noscript message */
noscript {
    position: absolute;
    width: 482px;
    top: 40%;
    margin-top: -15px;
}

noscript p {
    display: block;
}

/* remove IE7 button borders */
input[type=submit],
input[type=reset],
input[type=button],
button[type=submit],
button:hover
{
    filter:chroma(color=#000000);
    color: #010101;
    cursor: pointer;
}
td {
    font-family: Arial "Century Schoolbook L", "Times New Roman", serif;
    font-size: 12px;
}

#load_r {
    font-family: Arial "Century Schoolbook L", "Times New Roman", serif;
    font-size: 12px;
}
/* responsive */
@media (max-width: 767px) {
    .container-center,
    .container-top {
        left: inherit;
        right: inherit;
        margin: 0;
    }
    .container-top {
        width: 482px;
        margin: 0 auto;
    }

    #brand {
        text-align: center;
    }
    #passwordHint {
        width: 220px;
        margin: 0 auto;
    }
    p.error {
        text-align: center;
    }

    /* not needed to login */
    #updateCheckerContainer {
        display: none !important;
    }
table, tbody, tr,body{
        display: block;
    }
    form table {
        width: 200px;
        margin: 0 auto;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbfbfb', endColorstr='#D0D0D0', GradientType=0);
        padding: 10px;
        box-shadow: 0px 1px 1px rgba(0,0,0,0.08);
        border: 1px solid #E0E0E0;
        border-top-color: white;
        border-bottom-color: #CFCFCF;
        border-radius: 4px;
    }
    form table .input-wrapper {
        background: transparent;
        box-shadow: none;
        border: none;
        margin-bottom: 10px;
        padding: 0;
    }
    table input[type="text"], table input[type="password"] {
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        border-right-width: 1px;
        border-radius: 4px;
    }
    table tr .bigButton {
        margin-top: 5px;
        border: 1px solid #bbb;
        border-radius: 4px;
        width: 100%;
    }

.bg_r-r {
    background-image:url(/images/bg_right.jpg);
    background-repeat:repeat-x;
    }
}

/* draggable styling */
.shadowDiv {
    position: absolute;
    background-color: #eeeeee;
    z-index: 20;
    opacity: 1;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
}

.draggable {
    background-color: #FFFFFF !important;
    border-top:1px solid #FFFFFF;
    color: #FFFFFF;
}

.fauxCol{
    position: absolute;
    background-color: #ffffff;
    z-index: 21;
    opacity: 0.7;
    box-sizing: border-box;
    border-collapse: collapse;
    table-layout: fixed;
    pointer-events: none;
}

.fauxCol td {
    box-sizing: border-box;
    border: 1px solid #D5D5D5;  
    padding: 2px;
    overflow: hidden;
}

.fauxCol strong{
    padding-left: 8px;
    display: block;
}

.fauxCol .editableHead {
    width: calc(100% - 10px); 
    height: 17px; 
    background-color: transparent; 
    border: none;
    display: block;
    overflow: hidden;
    padding: 2px 0px 2px 6px;
    margin: -2px 0px -2px -6px;
    font: 12px "Helvetica Neue Light", arial, sans-serif;
    color: #000000;
    font-weight: bold;
}

input:disabled {
    background-color: #FFFFFF;
    color: #000000;
}

.dragArea {
    position: absolute;
    height: 160%;
    width: 100%;
    top: -30%;
    left: 0;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    z-index: 1;
}

.dropTarget {
    position: absolute;
    top: -1000px;
    height: 3000px !important;
    z-index: 99;
}

/* LOAD BAR STYLING  */

#loadBarContainer{
    position: relative;
    width: 230px;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 16px;
}

#backLoadBar{
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent url("/images/loadBarBack.png") repeat-x center/100% 100%;
    float: left;
}

#frontLoadBarWrap{
    position: absolute;
    top: 7%;
    left: 0.25%;
    height: 86%;
    width: 99.5%; 
    border-radius: 100px;
    overflow:hidden;
}

#lbFrontLeft {
    width: 3.5%;
    height: 100%;
    background: transparent url("/images/loadBarLeft.png") no-repeat center/100% 100%;
    float: left;
    z-index: 3;
    position:relative;
}

#lbFrontRight{
    width: 96.5%;
    height: 100%;
    float: left;
    position: relative;
    overflow: hidden;
}

#lbMoving {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    right: 96%;
    -o-transition: all 1.2s;
    -moz-transition: all 1.2s;
    -webkit-transition: all 1.2s;
    transition: all 1.2s;
    -webkit-transition-timing-function: linear; /* Safari and Chrome */
    transition-timing-function: linear;
}

.lbBobble {
    -moz-transition-timing-function: ease-out !important;
    -webkit-transition-timing-function: ease-out !important; /* Safari and Chrome */
    transition-timing-function: ease-out !important;
}

#lbInnerMain {
    width: 96%;
    height: 100%;
    background: transparent url("/images/loadBarMid.png") repeat-x center/auto 100%;
    float: left;
    z-index: 2;
}

#lbInnerRight {
    width:4%;
    height:100%;
    background: transparent url("/images/loadBarRight.png") no-repeat center/100% 100%;
    float: left;
    z-index: 2;
}

#lbText {
    position:absolute;
    color: #ffffff;
    z-index: 5;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

