.nomargin-padding {
  margin: 0;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Futura PT Book, "Trebuchet MS", Arial, sans-serif;
  color: #0f0f0f;
}
ul,
li {
  margin: 0;
  padding: 0;
}
table,
tr,
td,
th {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}
#container {
  width: 100%;
  background-color: #ffffff;
}
header {
  margin-top: 5px;
  height: 34px;
  background-color: #999999;
  color: #ffffff;
}
header div {
  display: inline-block;
  margin: 5px 100px 5px 50px;
  font-size: 18px;
}
header div:hover {
  color: #fdb03c;
  cursor: pointer;
}
#mastHead {
  height: 76px;
}
#mainFrame {
  margin-top: 5px;
}
#autoGenTable {
  border-collapse: separate;
  border-spacing: 0px;
  margin-left: 10px;
  table-layout: fixed;
}
#autoGenTable th {
  height: 33px;
  border-right: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  font-weight: normal;
}
#autoGenTable td {
  font-family: Source Code Pro Regular, monaco, courier;
  font-size: 12px;
  height: 18px;
}
#autoGenTable td,
#autoGenTable th {
  width: 125px;
  vertical-align: middle;
  text-align: center;
  padding: 2px;
}
#autoGenTable td:nth-child(odd),
#autoGenTable th:nth-child(odd) {
  background-color: rgba(80, 80, 80, 0.1);
}
#autoGenTable td:nth-child(even),
#autoGenTable th:nth-child(even) {
  background-color: rgba(158, 158, 158, 0.1);
}
#autoGenTable td:last-child,
#autoGenTable th:last-child {
  border-right: none !important;
}
#autoGenTable tbody tr:nth-child(odd) {
  background-color: #f5f5f5;
}
#autoGenTable tbody tr:nth-child(odd) td {
  border-right: 5px solid #f5f5f5;
}
#autoGenTable tbody tr:nth-child(even) {
  background-color: #ffffff;
}
#autoGenTable tbody tr:nth-child(even) td {
  border-right: 5px solid #ffffff;
}
#autoGenTable tfoot td {
  border-right: 5px solid #ffffff;
  border-top: 5px solid #ffffff;
}
#autoGenTable tbody .pinkCell:nth-child(odd) {
  background-color: rgba(237, 28, 36, 0.1);
}
#autoGenTable tbody .pinkCell:nth-child(even) {
  background-color: rgba(237, 28, 36, 0.1);
}
#autoGenTable th.pinkCell {
  color: #f46d73;
}
#autoGenTable tbody .darkCell:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
#autoGenTable tbody .darkCell:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.2);
}
