/*<meta />*/

@media only screen and (max-width: 900px)
{
	nav.tab-bar
	{
		background-repeat: no-repeat;
		background-position: center top;
		background: #378cb3 none;
		background: -moz-linear-gradient(top, #378cb3 0%, #378cb3 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#378cb3), color-stop(100%,#378cb3));
		background: -webkit-linear-gradient(top, #378cb3 0%, #378cb3 100%);
		background: -o-linear-gradient(top, #378cb3 0%,#378cb3 100%);
		background: -ms-linear-gradient(top, #378cb3 0%,#378cb3 100%);
		background: linear-gradient(top, #378cb3 0%,#378cb3 100%);
	}

	.tab-bar-section a.logo
	{
		background-position: center center;
		background-repeat: no-repeat;
		width: 80px;
		height: 48px;
		top: 0;
		bottom: auto;
		margin-top: 0;
		background: transparent url('Images/Xcalar_logo_white_orig.png') no-repeat center center;
	}

	.search-submit
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #ffffff url('Images/SearchIcon.png') no-repeat center center;
		background: url('Images/SearchIcon.png') no-repeat center center, -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/SearchIcon.png') no-repeat center center, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffffff));
		background: url('Images/SearchIcon.png') no-repeat center center, -webkit-linear-gradient(top, #ffffff 0%, #ffffff 100%);
		background: url('Images/SearchIcon.png') no-repeat center center, -o-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/SearchIcon.png') no-repeat center center, -ms-linear-gradient(top, #ffffff 0%,#ffffff 100%);
		background: url('Images/SearchIcon.png') no-repeat center center, linear-gradient(top, #ffffff 0%,#ffffff 100%);
	}

	.search-filter
	{
		background-repeat: no-repeat;
		background-position: center center;
		background: #ffffff url('Images/FilterOutline.png') no-repeat center center;
	}

	.search-input
	{
		background-repeat: no-repeat;
		background-position: center center;
	}

	.right-off-canvas-menu
	{
		background-position: top center;
		background-color: #333333;
	}

	.right-off-canvas-menu ul ul
	{
		background-position: top center;
		background-color: #333333;
	}

	.left-off-canvas-menu
	{
		background-position: top center;
		background-color: #333333;
	}

	.left-off-canvas-menu ul ul
	{
		background-position: top center;
		background-color: #333333;
	}

	.tab-bar-section.middle > div
	{
		min-height: 48px;
	}

	.inner-wrap nav.tab-bar .outer-row
	{
		
	}

	.tab-bar .menu-icon span
	{
		top: 1.5px;
		background: transparent url('Images/Menu.png') no-repeat center center;
	}

	.inner-wrap .outer-row
	{
		
	}

	.main-section > .outer-row
	{
		
	}

	ul.off-canvas-list li a
	{
		
	}

	ul.off-canvas-list li.back > a
	{
		
	}

	ul.off-canvas-list li a:hover
	{
		background-color: #242424;
	}

	ul.off-canvas-list li.back > a:hover
	{
		background-color: #242424;
	}

	nav.tab-bar .menu-icon
	{
		right: -13px;
	}

	.row.nav-search
	{
		
	}

	.search-bar
	{
		
	}

	.search-field
	{
		padding-right: 90px;
		background-color: #ffffff;
	}

	.search-filter-content
	{
		top: 40px;
		background-color: #ffffff;
	}

	.search-filter.open
	{
		background-color: #ffffff;
	}

	.search-filter.selected
	{
		background: transparent url('Images/Filter.png') no-repeat center center;
	}

	.search-filter-content ul li:hover
	{
		background-color: #ffffff;
	}

	.search-field::-webkit-input-placeholder
	{
		
	}

	.search-field::-moz-placeholder
	{
		
	}

	.search-field:-moz-placeholder
	{
		
	}

	.search-field:-ms-input-placeholder
	{
		
	}

	.search-filter-wrapper
	{
		right: 40px;
	}
}

