body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
}
#view {
  width: 232px;
  height: 165px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
#view #viewHeader {
  -webkit-flex: 0 0 19px;
  -moz-flex: 0 0 19px;
  -ms-flex: 0 0 19px;
  flex: 0 0 19px;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  order: 1;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row;
  -moz-flex-flow: row;
  -ms-flex-flow: row;
  flex-flow: row;
  border-bottom: 1px solid rgba(44, 100, 134, 0.1);
}
#view #viewHeader #stepNumber {
  background-color: #525252;
  color: white;
  font-size: .8em;
  font-weight: bold;
  line-height: 1.4em;
  padding-left: 5px;
  -webkit-flex: 0 0 13px;
  -moz-flex: 0 0 13px;
  -ms-flex: 0 0 13px;
  flex: 0 0 13px;
  -webkit-order: 1;
  -moz-order: 1;
  -ms-order: 1;
  order: 1;
}
#view #viewHeader #stepInfo {
  color: #525252;
  overflow: hidden;
  font-weight: bold;
  font-size: .7em;
  line-height: 1.8em;
  padding-left: 5px;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-order: 2;
  order: 2;
}
#view #viewContent {
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-order: 2;
  -moz-order: 2;
  -ms-order: 2;
  order: 2;
}
#view #viewContent .radio {
  position: relative;
  margin-top: 10px;
  background: url("img/radio.png");
  background-size: 11.5px 11.5px;
  width: 11.5px;
  height: 11.5px;
  left: 21px;
  cursor: pointer;
}
#view #viewContent .radio span {
  position: absolute;
  width: 200px;
  left: 20px;
  top: -6px;
  white-space: nowrap;
  overflow: hidden;
  font-size: .8em;
  line-height: 2em;
  color: #525252;
}
#view #viewContent .activeRadio {
  background: url("img/radioActive.png") !important;
  background-size: 11.5px 11.5px !important;
}
#view #viewContent .check {
  position: relative;
  margin-top: 10px;
  background: url("img/checkbox.png");
  background-size: 11.5px 11.5px;
  width: 11.5px;
  height: 11.5px;
  left: 21px;
  cursor: pointer;
}
#view #viewContent .check span {
  position: absolute;
  width: 200px;
  left: 20px;
  top: -6px;
  white-space: nowrap;
  overflow: hidden;
  font-size: .8em;
  line-height: 2em;
  color: #525252;
}
#view #viewContent .activeCheck {
  background: url("img/checkboxActive.png") !important;
  background-size: 11.5px 11.5px !important;
}
#view #viewContent #instructionTitle {
  font-size: 0.7em;
  color: #525252;
  position: relative;
  top: 10px;
  left: 17px;
}
#view #viewContent #instructionField {
  position: relative;
  size: 10px;
  top: 12px;
  left: 19px;
  width: 196px;
  height: 48px;
  outline: none;
  resize: none;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#view #viewContent #inputArea {
  position: relative;
}
#view #viewContent #inputArea span {
  width: 100px;
  padding-left: 20px;
  font-size: .7em;
  color: #515151;
}
#view #viewContent #inputArea #optionNumberInput {
  position: relative;
  width: 75px;
  left: 10px;
  height: 12px;
  outline: none;
}
#view #viewContent #paramField {
  position: relative;
  color: #515151;
  height: 90px;
  overflow: hidden;
}
#view #viewContent #paramField #valueSpan {
  position: relative;
  left: 60px;
}
#view #viewContent #paramField #displayAsSpan {
  position: relative;
  left: 120px;
}
#view #viewContent #paramField span {
  position: relative;
  left: 10px;
  font-size: .7em;
}
#view #viewContent #paramField input {
  padding-left: 3px;
  border: 1px solid #E0E0E0;
  outline: none;
  background-color: transparent;
}
#view #viewContent #paramField .valueInput {
  position: relative;
  left: 22px;
  width: 80px;
}
#view #viewContent #paramField .displayAsInput {
  position: relative;
  left: 35px;
  width: 92px;
}
#view #viewContent #confirmView {
  height: 75px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: column;
  -moz-flex-flow: column;
  -ms-flex-flow: column;
  flex-flow: column;
}
#view #viewContent #confirmView #widgetType {
  overflow: hidden;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
#view #viewContent #confirmView #parameter {
  overflow: hidden;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
#view #viewContent #confirmView #instruction {
  overflow: hidden;
  -webkit-flex: 1 1 auto;
  -moz-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
#view #viewContent #confirmView .icon {
  position: relative;
  left: 20px;
  top: 9px;
  padding-left: 3px;
  background-color: #999999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 10px;
  height: 13px;
  color: white;
  font-size: .6em;
  font-weight: bold;
}
#view #viewContent #confirmView .label {
  position: relative;
  left: 40px;
  top: -4px;
  font-size: .7em;
  color: #525252;
}
#view #viewContent #confirmView .value {
  font-size: .7em;
  position: relative;
  left: 110px;
  top: -17px;
}
#view #viewContent #pubInstruction {
  position: relative;
  left: 10px;
  top: 5px;
  white-space: nowrap;
  overflow: hidden;
  font-size: .8em;
  color: #525252;
}
#view #viewFooter {
  -webkit-flex: 0 0 26px;
  -moz-flex: 0 0 26px;
  -ms-flex: 0 0 26px;
  flex: 0 0 26px;
  -webkit-order: 3;
  -moz-order: 3;
  -ms-order: 3;
  order: 3;
  border-top: 1px solid rgba(44, 100, 134, 0.1);
}
#view #viewFooter .btn {
  margin-top: 7px;
  margin-left: 8px;
  float: right;
  background-size: 60px 16px !important;
  width: 60px;
  height: 16px;
  cursor: pointer;
}
#view #viewFooter #btnBack {
  background: url("img/back.png");
}
#view #viewFooter #btnNext {
  background: url("img/next.png");
}
#loadingView {
  display: none;
  position: absolute;
  top: 50px;
  left: 100px;
  width: 35px;
  height: 37px;
  background: url("img/waiting-1.gif") 0 0 no-repeat;
  z-index: 10;
}
