<!-- DATASTORE PANEL -->
<div id="datastorePanel" class="mainPanel">
  include "dsHeader.html"
  <!-- Import Data Form -->
  <div id="importDataView" class="dataStoreFormView">
    include "dsForm.html"
    include "dsPreview.html"
  </div>
  <!-- Main Content -->
  <div id="mainContent">
    <!-- Explore View -->
    <div id="exploreView">
      <div class="contentView">
        <div class="contentViewLeft no-selection">
          include "gridView.html"
        </div>
        <div class="contentViewMid hidden">
          include "dsTable.html"
        </div>
        <div class="contentViewRight no-selection">
          include "dsCart.html"
        </div>
      </div>
    </div>
    <!-- Export View -->
    <div id="exportView" class="firstTouch">
      include "dsExport.html"
    </div>
  </div>
  include "gridViewMenu.html"
</div>
<!-- END DATASTORE PANEL -->