<!-- DATASTORE PANEL -->
<div id="datastorePanel" class="mainPanel in">
  include "dsHeader.html"
  include "../imdBar.html"
  <!-- Main Content -->
  <div class="mainContent">
    <!-- Imporat View -->
    <div id="datastore-in-view" class="subPanel in import">
      <div id="datastore-in-view-topBar">
        <div class="tabs">
          <!-- reverse the order for z-index of style to work -->
          <div class="tab result">Dataset</div>
          <div class="tab preview">Format</div>
          <div class="tab source">Source</div>
        </div>
      </div>
      <div id="dsFormView" class="viewSection">
        include "dsSource.html"
        include "dsS3Config.html"
        include "dsForm.html"
        include "fileBrowser/fileBrowser.html"
        include "dsPreview.html"
      </div>
      <div id="dsTableView" class="viewSection xc-hidden">
        include "dsTable.html"
      </div>
      <div id="pTblView" class="viewSection xc-hidden">
        include "../table/tblPreview.html"
      </div>
    </div>
    <!-- data target view -->
    <div id="datastore-target-view" class="firstTouch subPanel target">
        include "dsTarget.html"
    </div>
    <!-- imd view -->
    <div id="imdView" class="subPanel">
        include "../worksheet/imdView.html"
    </div>
  </div>
</div>
<!-- END DATASTORE PANEL -->
