<!-- DATASTORE PANEL -->
<div id="datastorePanel" class="mainPanel">
  include "dsHeader.html"
  <!-- Import Data Form -->
  <div id="importDataView" class="dsFormView">
    include "dsForm.html"
    include "dsPreview.html"
  </div>
  <!-- Main Content -->
  <div id="mainContent" class="mainContent">
    <!-- Explore View -->
    <div id="exploreView" class="subPanel">
      <div class="contentView">
        <div class="contentViewMid hidden">
          include "dsTable.html"
        </div>
        <div class="contentViewRight no-selection">
          include "dsCart.html"
        </div>
      </div>
    </div>
    <!-- Export View -->
    <div id="exportView" class="firstTouch subPanel">
      include "dsExport.html"
    </div>
  </div>
</div>
<!-- END DATASTORE PANEL -->