<div class="buttonArea">
  <button id="submitDSTablesBtn" class="btn btnLarge iconBtn">
    <span class="icon"></span>SEND TO ACTIVE WORKSHEET
  </button>
  <!--   <button id="submitMultipleDBTablesBtn"
      class="btn btnLarge btnInactive iconBtn" tabindex="-1">
    <span class="icon"></span>SEND TO MULTIPLE WORKSHEETS
  </button> -->
  <button id="clearDataCart" class="btn btnLarge iconBtn">
    <span class="icon"></span>CLEAR DATA CART
  </button>
  <div id="dataCartTitle" class="title"></div>
  <div class="border"></div>
</div>
<div id="dataCartWrap">
  <div id="dataCart"></div>
</div>