<!-- Datastore Cart -->
<% if (dicts.tutor.name == "datastoreDemo2") { %>
<div id="dataCartContainer">
<% } else { %>
<div id="dataCartContainer" class="noCart">
<% }%>
  <div class="titleSection">
    <header class="title textOverflowOneLine">
      <span><%= dicts.dsCart.Title %></span>
      <% if (dicts.tutor.name == "datastoreDemo2") { %>
       <span class="numWrap">(<span class="dataCartNum">2</span>)</span>
      <% } else { %>
      <span class="numWrap">(<span class="dataCartNum"></span>)</span>
      <% }%>
    </header>
  </div>
  <div class="buttonSection">
    <!-- worksheet list -->
    <div class="dropDownWrap">
      <div class="title"><%= dicts.dsCart.SendTo %>:</div>
      <div id="dataCartWSList" class="dropDownList">
        <input class="text" type="text" value="" spellcheck="false" placeholder="<%= dicts.dsCart.SelectWS %>" disabled>
        <div class="iconWrapper">
          <i class="icon xi-arrow-down"></i>
        </div>
        <ul id="dataCartWSMenu" class="list">
          <li class="new">New WS</li>
          <li name="test">test</li>
        </ul>
      </div>
    </div>
    <!-- buttons -->
    <% if (dicts.tutor.name !== "datastoreDemo2") { %>
    <button id="dataCart-submit" class="btn btn-large iconBtn">
      <i class="icon xi-back-to-worksheet"></i><%= dicts.dsCart.SENDTOWS %>
    </button>
    <% } else { %>
    <button id="dataCart-submit" class="btn btn-large iconBtn" data-introstep="9" data-introposition="left">
      <i class="icon xi-back-to-worksheet"></i><%= dicts.dsCart.SENDTOWS %>
    </button>
    <% }%>
    <% if (dicts.tutor.name !== "datastoreDemo2") { %>
    <button id="dataCart-clear" class="btn btn-large iconBtn btn-clear">
      <i class="icon xi-trash"></i><%= dicts.dsCart.CLEARALL %>
    </button>
    <% } else { %>
    <button id="dataCart-clear" class="btn btn-large iconBtn btn-clear" data-introstep="8" data-introposition="left">
      <i class="icon xi-trash"></i><%= dicts.dsCart.CLEARALL %>
    </button>
    <% }%>
    <!-- end buttons -->
  </div>
  <!-- mainSection -->
  <% if (dicts.tutor.name == "datastoreDemo2") { %>
  <div id="dataCartWrap" class="mainSection">
  <% } else { %>
  <div id="dataCartWrap" class="mainSection noCart">
  <% }%>
    <div class="hint"><%= dicts.dsCart.NoCartInstr %></div>
    <div id="dataCart">
      <% if (dicts.tutor.name == "datastoreDemo2") { %>
      <div class="selectedTable" data-dsid="John Smith.yelpUsers">
        <div class="cartTitleArea" data-introstep="7">
          <input class="tableNameEdit textOverflow" type="text" spellcheck="false" value="yelpUsers">
          <i class="icon xi-edit fa-15 xc-action"></i>
        </div>
        <div class="cartEmptyHint xc-hidden">No Columns Selected</div>
        <ul data-introstep="6">
          <li data-colnum="2" style="display: list-item;">
            <div class="itemWrap type-object">
              <span class="iconWrap">
                <i class="center icon fa-16 xi-object"></i>
              </span>
              <span class="colName textOverflow">compliments</span>
            </div>
            <i class="removeCol icon xi-trash xc-action fa-15"></i>
          </li>
          <li data-colnum="3" style="display: list-item;">
            <div class="itemWrap type-array">
              <span class="iconWrap">
              <i class="center icon fa-16 xi-array"></i>
              </span>
              <span class="colName textOverflow">friends</span>
            </div>
              <i class="removeCol icon xi-trash xc-action fa-15"></i>
            </li>
        </ul>
      </div>
      <% } %>
    </div>
  </div>
  <!-- end of mainSection -->
</div>
<!-- End of Datastore Cart -->
