<div class="cardContainer">
  <!-- header -->
  <div class="cardHeader">
    <header class="title"><%= dicts.dsExport.CreateTarget %></header>
  </div>
  <!-- instuction -->
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <span class="text"><%= dicts.dsExport.CreateTargetInstr %></span>
  </div>
  <!-- cardMain -->
  <div class="cardMain">
    <form id="exportDataForm" target="_blank">
      <!-- Top Form -->
      <div id="exportDataTopForm" class="formSection no-selection">
        <!-- file path -->
        <div id="targetTypeSelector" class="formRow">
          <label for="targetTypeList"><%= dicts.dsExport.TargetType %>:</label>
          <div id="targetTypeList" class="dropDownList">
            <input class="text hint" type="text" value="" spellcheck="false" disabled>
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <ul id="fileFormatMenu" class="list">
              <li class="hint"></li>
              <li name="LocalFilesystem">
                <%= dicts.dsExport.LocalFS %>
              </li>
              <li name="ODBC" class="unavailable">ODBC</li>
            </ul>
          </div>
        </div>
        <div id="targetNameSelector" class="formRow">
          <label for="targetName"><%= dicts.common.Name %>:</label>
          <input id="targetName" name="targetName" type="text" placeholder="" autocomplete="off" pattern="^\w+$" spellcheck="false" title="<%= dicts.dsForm.fileNameTitle %>" required>
        </div>
        <!-- file name -->
      </div>
      <div class="divider"></div>
      <!-- Bottom Form -->
      <div id="exportDataBottomForm" class="formSection no-selection">
        <header class="formTitle"><%= dicts.dsExport.AddConnector %></header>
        <div class="formRow">
          <label for="exportURL"><%= dicts.common.URL %>:</label>
          <input type="url" id="exportURL" spellcheck="false">
        </div>
        <div class="formRow">
          <div class="inputSet">
            <label for="exportService"><%= dicts.common.Service %>:</label>
            <input type="text" id="exportService" spellcheck="false">
          </div>
          <div class="inputSet">
            <label for="exportPort"><%= dicts.common.Port %>:</label>
            <input type="text" id="exportPort" spellcheck="false">
          </div>
        </div>
        <div class="formRow radioButtonGroup">
          <div class="radioButton windowsAuth">
            <div class="radio">
              <i class="icon xi-radio-selected"></i>
              <i class="icon xi-radio-empty"></i>
            </div>
            <div class="label"><%= dicts.dsExport.windowsAuth %></div>
          </div>
          <div class="radioButton usernameAuth">
            <div class="radio">
              <i class="icon xi-radio-selected"></i>
              <i class="icon xi-radio-empty"></i>
            </div>
            <div class="label"><%= dicts.dsExport.usernameAuth %></div>
          </div>
        </div>
        <div class="formRow">
          <label for="userNameExport"><%= dicts.common.UserName %>:</label>
          <input type="text" id="userNameExport" spellcheck="false">
        </div>
        <div class="formRow">
          <label for="passwordExport"><%= dicts.common.Password %>:</label>
          <input type="password" id="passwordExport" spellcheck="false">
        </div>
        <div class="formButton">
          <button id="exportFormSubmit" class="btn" type="submit"><%= dicts.common.ADD %></button>
          <button id="exportFormReset" class="btn btn-cancel" type="reset"><%= dicts.common.CLEAR %></button>
        </div>
      </div>
    </form>
  </div>
  <!-- end card main -->
</div>