<!-- Form Help -->
<div id="importHelp" class="formHelp no-selection">
  <div class="contentViewMidWrap">
    <h2><%= dicts.ds.Point %></h2>
    <span class="icon"></span>
    <p><%= dicts.dsForm.Instr %></p>
  </div>
</div>
<!-- Data Form -->
<form id="importDataForm" class="dataStoreForm" target="_blank">
  <!-- Top Form -->
  <div id="importDataTopForm" class="dataStoreFormTop no-selection">
    <div class="contentViewMidWrap">
      <!-- file path -->
      <div id="filePathSelector" class="importFormRow">
        <label><%= dicts.common.FilePath %>:</label>
        <input id="filePath" type="text" name="filePath" spellcheck="false" autocomplete="off" placeholder="<%= dicts.dsForm.filePathHint %>" required <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="3"' : '' %>>
          <div class="buttonWrap">
            <button id="previewBtn" class="btn btnMid" type="button"><%= dicts.common.PREVIEW %></button>
            <button id="fileBrowserBtn" class="btn btnMid" type="button" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="2"' : '' %>><%= dicts.common.BROWSE %></button>
          </div>
      </div>
      <!-- file name -->
      <div id="fileNameSelector" class="importFormRow">
        <label><%= dicts.common.Name %>:</label>
        <input id="fileName" name="fileName" type="text" placeholder="<%= dicts.dsForm.fileNameHint %>" autocomplete="off" pattern="^\w+$" spellcheck="false" title="<%= dicts.dsForm.fileNameTitle %>" required <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="4"' : '' %>>
         <!-- file formt -->
        <div class="buttonWrap">
          <div id="promoteHeaderCheckbox" class="checkboxSection hidden default-hidden">
            <div class="checkbox iconWrapper">
              <span class="icon"></span>
            </div>
            <div class="text"><%= dicts.common.Header %></div>
            <div title="<%= dicts.dsForm.HeaderTitle %>" data-toggle="tooltip" data-placement="top" data-container="body" class="hint qMark"></div>
          </div>
          <!-- udf checkbox -->
          <div id="udfCheckbox" class="checkboxSection hidden default-hidden">
            <div class="checkbox iconWrapper">
              <span class="icon"></span>
            </div>
            <div class="text"><%= dicts.common.UDF %></div>
          </div>
          <div class="fileFormatPadding"></div>
          <div id="fileFormat" class="dropDownList" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="5"' : '' %>>
              <input class="text" type="text" spellcheck="false" placeholder="<%= dicts.ds.Format %>" disabled>
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
              <!-- Format Menu -->
              <div id="fileFormatMenu" class="list">
                <ul>
                  <li class="hint"><%= dicts.ds.Format %></li>
                  <li name="CSV">CSV</li>
                  <li name="JSON">JSON</li>
                  <li name="EXCEL">Excel</li>
                  <li name="TEXT">Text</li>
                </ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Bottom Form -->
  <div id="importDataBottomForm"  class="dataStoreFormBottom no-selection">
    <div class="contentViewMidWrap">
      <!-- UDF Args -->
      <div id="udfArgs" class="hidden clearfix default-hidden">
        <div class="optionSection">
          <section class="wrapper">
            <span class="label"><%= dicts.common.ModuleName %>:</span>
            <div id="udfArgs-moduleList" class="dropDownList">
              <input class="text" type="text" spellcheck="false" disabled>
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
              <div class="list">
                <ul></ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
          </section>
          <section class="wrapper">
            <span class="label"><%= dicts.common.FuncName %>:</span>
            <div id="udfArgs-funcList" class="dropDownList">
              <input class="text" type="text" spellcheck="false" disabled>
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
              <div class="list">
                <ul></ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div class="hintSection">
          <span class="text"><%= dicts.dsForm.UDFHint %></span>
        </div>
      </div>
      <!-- End of Udf Args -->
      <!-- Delimiters -->
      <div id="csvDelim" class="hidden clearfix default-hidden">
        <!-- Field Delimiter -->
        <section id="fieldDelim" class="wrapper">
          <span class="label"><%= dicts.dsForm.FieldDelim %>:</span>
          <div class="dropDownList">
            <input id="fieldText" class="text" type="text" spellcheck="false" disabled>
            <div class="iconWrapper">
              <span class="icon"></span>
            </div>
            <!-- dropdown menu -->
            <div class="list">
              <ul>
                <li name="default"><%= dicts.common.Default %> (\t)</li>
                <li name="comma"><%= dicts.common.Comma %> (,)</li>
                <li name="null" class="nullVal"><%= dicts.common.Null %></li>
                <li name="other" class="other">
                  <span><%= dicts.common.Other %></span>
                  <div class="inputWrap">
                    <input class="delimVal" type="text" spellcheck="false">
                    <div class="inputAction">
                      <span class="icon"></span>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="scrollArea top"><div class="arrow"></div></div>
              <div class="scrollArea bottom"><div class="arrow"></div></div>
            </div>
          </div>
        </section>
        <!-- Line Delimiter -->
        <section id="lineDelim" class="wrapper">
          <span class="label"><%= dicts.dsForm.LineDelim %>:</span>
          <div class="dropDownList">
            <input id="lineText" class="text" type="text" spellcheck="false" disabled>
            <div class="iconWrapper">
              <span class="icon"></span>
            </div>
            <!-- dropdown menu -->
            <div class="list">
              <ul>
                <li name="default"><%= dicts.common.Default %> (\n)</li>
                <li name="null" class="nullVal"><%= dicts.common.Null %></li>
                <li name="other" class="other">
                  <span><%= dicts.common.Other %></span>
                  <div class="inputWrap">
                    <input class="delimVal" type="text" spellcheck="false">
                    <div class="inputAction">
                      <span class="icon"></span>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="scrollArea top">
                <div class="arrow"></div>
              </div>
              <div class="scrollArea bottom">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
        </section>
      </div>
      <!-- End Of Delimiters -->
      <button id="importDataSubmit" class="btn btnMid" type="submit" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="7"' : '' %>><%= dicts.dsForm.CONFIRM %></button>
      <button id="importDataReset" class="btn btnMid btn-cancel" type="reset"><%= dicts.common.CANCEL %></button>
    </div>
  </div>
</form>
<!-- End of Data Form -->
