<div id="dsForm-path" class="cardContainer">
  <header class="cardHeader">
    <div class="title"><%= dicts.ds.Point %></div>
  </header>
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.dsForm.PathInstr %></div>
  </div>
  <div class="cardMain">
    <div class="content protocol">
      <label><%= dicts.ds.Protocol %>:</label>
      <!-- protocol dropdown -->
      <div id="fileProtocol" class="dropDownList">
        <input class="text" type="text" spellcheck="false" disabled>
        <div class="iconWrapper">
          <i class="icon xi-arrow-down"></i>
        </div>
        <!-- protocol Menu -->
        <div id="fileProtocolMenu" class="list">
          <ul>
            <li name="nfs"><%= dicts.FileProtocol.nfs %></li>
            <li name="hdfs"><%= dicts.FileProtocol.hdfs %></li>
          </ul>
          <div class="scrollArea top">
            <div class="arrow"></div>
          </div>
          <div class="scrollArea bottom">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="content path">
      <label for="filePath"><%= dicts.dsForm.filePath %>:</label>
      <% if (dicts.tutor.name == "datastoreDemo1") { %>
      <input id="filePath" type="text" spellcheck="false" data-introstep="w2-dsPath">
      <% } else { %>
      <input id="filePath" type="text" spellcheck="false">
      <% } %>
      <% if (dicts.tutor.name == "datastoreDemo1") { %>
      <button class="btn browse" type="button" data-introstep="w2-browseDs"><%= dicts.common.BROWSE %></button>
      <% } else { %>
      <button class="btn browse" type="button"><%= dicts.common.BROWSE %></button>
      <% } %>
    </div>
  </div>
  <div class="cardBottom">
    <button class="btn confirm" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="w2-next"' : '' %> ><%= dicts.common.NEXT %></button>
    <button class="btn btn-cancel cancel"><%= dicts.common.CLEAR %></button>
  </div>
</div>
include "fileBrowser.html"
include "dsPreview.html"