<!-- Datastore header -->
<div id="contentHeader" class="topBar">
  <div id="contentHeaderLeft" class="no-selection">
    <div id="inButton" class="buttonArea active">
      <div class="icon"></div>
      <div class="text">IN</div>
    </div>
    <div id="outButton" class="buttonArea">
      <div class="icon"></div>
      <div class="text">OUT</div>
    </div>
  </div>
  <div id="contentHeaderMid" class="no-selection">
    <div class="text" style="margin-left:20px">DATASET</div>
  </div>
  <div id="contentHeaderRight" class="no-selection">
    <div class="icon"></div>
    <div class="text">DATA CART</div>
  </div>
</div>