<div id="dsParser" class="cardContainer xc-hidden xc-viewMode">
  <header class="cardHeader">
    <div class="title"><%= dicts.dsParser.ParserTitle %></div>
    <div class="close">
      <i class="icon xi-close fa-15"></i>
    </div>
  </header>
  <div class="cardTopMain">
    <div class="topSection">
      <div class="labelSection">
        <label class="previewLabel"><%= dicts.dsPreview.Previewing %></label>
        <span class="filename tooltipOverflow textOverflowOneLine" data-toggle="tooltip" data-container="body" data-placement="top">file:///test.json</span>
      </div>
      <div class="dropDownList fileFormat">
        <input class="text" type="text" spellcheck="false" disabled="" placeholder="<%= dicts.dsParser.SelectFormat %>">
        <div class="iconWrapper">
          <i class="icon xi-arrow-down"></i>
        </div>
        <!-- Format Menu -->
        <div id="fileFormatMenu" class="list">
          <ul>
            <li name="json"><%= dicts.dsFormat.JSON %></li>
            <li name="xml"><%= dicts.dsFormat.XML %></li>
            <li name="text"><%= dicts.dsFormat.PLAINTEXT %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div class="topSection">
      <div class="rowInputArea">
        <label for="parserRowInput">Skip to line:</label>
        <!-- only allow integer -->
        <input id="parserRowInput" type="number" min="0" step="1" data-val="0" value="0" spellcheck="false">
        <label class="totalRows" for="parserRowInput"></label>
      </div>
    </div>
    <div class="divider"></div>
    <button class="btn confirm xc-confirm"><%= dicts.common.NEXT %></button>
  </div>
  <div class="cardMain">
    <div class="errorSection xc-errorView"></div>
    <div class="loadSection animatedEllipsisWrapper xc-loadView">
      <div class="text"><%= dicts.common.PleaseWait %></div>
      <div class="animatedEllipsis">
        <div>.</div>
        <div>.</div>
        <div>.</div>
      </div>
    </div>
    <div class="dataPreview xc-contentView">
      <div class="innerDataPreview">
        <div class="sizer"></div>
        <div class="previewContent"></div>
      </div>
    </div>
    <div id="previewModeBox" class="parserBox">
      <header class="boxHeader">
        <div class="title"><%= dicts.dsParser.PreviewMode %></div>
        <div class="resize">
          <i class="icon xi-exit-fullscreen xc-action" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Minimize %>"></i>
          <i class="icon xi-fullscreen xc-action" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Maximize %>"></i>
        </div>
      </header>
      <div class="boxBody"></div>
      <div class="boxFooter"></div>
    </div>
    <div id="delimitersBox" class="parserBox">
       <header class="boxHeader">
        <div class="title"><%= dicts.dsParser.SelectedKeys %></div>
        <div class="resize">
          <i class="icon xi-exit-fullscreen xc-action" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Minimize %>"></i>
          <i class="icon xi-fullscreen xc-action" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Maximize %>"></i>
        </div>
      </header>
      <div class="boxBody">
        <ul></ul>
      </div>
      <div class="boxFooter"></div>
    </div>
    <ul id="parserMenu" class="menu">
      <li class="full" data-action="full">
        <%= dicts.dsParser.Full %>
      </li>
      <li class="partial" data-action="partial">
        <%= dicts.dsParser.Partial %>
      </li>
    </ul>
  </div>
</div>