<div id="dsForm-preview" class="cardContainer xc-hidden">
  <header class="cardHeader">
    <div class="title"><%= dicts.ds.Point %></div>
  </header>
  <%  if (dicts.tutor.name == "datastoreDemo1") { %>
    include "../demo/dsDemo2-previewTable.html"
  <% } else { %>
  <div id="dsPreviewWrap" class="cardMain">
    <!-- Preview Section -->
    <header class="titleSection">
      <div class="title"><%= dicts.dsPreview.Previewing %></div>
      <div class="info">
        <div id="preview-url" class="url"></div>
        <div id="dsForm-highlighter" class="buttonGroup loadHidden">
          <button class="rmHightLight btn btn-small" title="<%= dicts.dsPreview.RmHighlight %>" data-toggle="tooltip" data-placement="top" data-container="body">
            <i class="icon xi-undo-highlight fa-15"></i>
          </button>
          <button class="highlight btn btn-small" title="<%= dicts.dsPreview.ApplyHighlight %>" data-toggle="tooltip" data-placement="top" data-container="body">
            <i class="icon xi-highlight fa-15"></i>
          </button>
        </div>
      </div>
    </header>
    <!-- Waiting Part -->
    <div class="waitSection hidden">
      <div class="icon"></div>
      <div class="text"><%= dicts.common.PleaseWait %>...</div>
    </div>
    <!-- Error Message Part -->
    <div class="errorSection hidden"></div>
    <!-- Preview -->
    <div class="previewSection">
      <div id="dsPreviewTableWrap" class="datasetTableWrap">
        <!-- Preview Part -->
        <div class="datasetTbodyWrap loadHidden">
          <table id="previewTable" class="datasetTable dataTable"></table>
          <div class="previewBottom"><%= dicts.dsPreview.EndOfPreview %></div>
        </div>
      </div>
    </div>
    <!-- End Of Preview Section -->
  </div>
  <% } %>
  <div class="cardBottom">
    <div id="dsForm-minimize" class="pulloutTab" title="<%= dicts.dsForm.Minimize %>" data-toggle="tooltip" data-body="container">
      <div class="border"></div>
      <div class="border"></div>
      <div class="border"></div>
    </div>
    <form id="importDataForm" target="_blank">
      <!-- refresh -->
      <button id="dsForm-refresh" type="button" class="fixed btn iconBtn" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="w2-refresh"' : '' %> >
        <i class="icon xi-refresh fa-17"></i>
        <%= dicts.dsForm.Refresh %>
      </button>

      <!-- auto detect -->
      <button id="dsForm-detect" type="button" class="fixed btn iconBtn" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="w2-redetect"' : '' %> >
        <i class="icon xi-magic-wand fa-17"></i>
        <%= dicts.dsForm.REDETECT %>
      </button>

      <div id="importDataForm-content" class="contentSection">
        <!-- row -->
        <div class="row">
          <label for="dsForm-dsName"><%= dicts.dsForm.DSName %>:</label>
          <div class="inputWrap">
            <% if (dicts.tutor.name == "datastoreDemo1") { %>
             <input id="dsForm-dsName" type="text" autocomplete="off" spellcheck="false" class="textOverflowOneLine" title="<%= dicts.dsForm.fileNameTitle %>" required data-introstep="w2-dsName">
            <% } else { %>
             <input id="dsForm-dsName" type="text" autocomplete="off" spellcheck="false" title="<%= dicts.dsForm.fileNameTitle %>" required>
            <% } %>
          </div>
        </div>
        <!-- row -->
        <div id="udfArgs" class="row udf clearfix">
          <div id="udfCheckbox" class="checkboxSection">
            <div class="checkbox">
              <i class="icon xi-ckbox-empty"></i>
              <i class="icon xi-ckbox-selected"></i>
            </div>
            <div class="text"><%= dicts.dsForm.UDF %></div>
          </div>
          <div class="listSection">
            <!-- udf module -->
            <div id="udfArgs-moduleList" class="rowContent dropDownList">
              <input class="text" type="text" spellcheck="false" placeholder="<%= dicts.UDF.Module %>" disabled>
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul></ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
            <!-- udf function -->
            <div id="udfArgs-funcList" class="dropDownList disabled">
              <input class="text" type="text" spellcheck="false" placeholder="<%= dicts.UDF.Func %>" disabled>
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul></ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <!-- row -->
        <div class="row">
          <label><%= dicts.dsForm.Format %>:</label>
          <div id="fileFormat" class="dropDownList rowContent" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="w2-dsFormat"' : '' %>>
            <input class="text" type="text" spellcheck="false" disabled>
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <!-- Format Menu -->
            <div id="fileFormatMenu" class="list">
              <ul>
                <li name="CSV"><%= dicts.dsFormat.CSV %></li>
                <li name="JSON"><%= dicts.dsFormat.JSON %></li>
                <li name="EXCEL"><%= dicts.dsFormat.EXCEL %></li>
                <li name="TEXT"><%= dicts.dsFormat.TEXT %></li>
              </ul>
              <div class="scrollArea top">
                <div class="arrow"></div>
              </div>
              <div class="scrollArea bottom">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <div id="promoteHeaderCheckbox" class="checkboxSection rowContent">
            <div class="text"><%= dicts.dsForm.Header %></div>
            <div class="checkbox">
              <i class="icon xi-ckbox-empty"></i>
              <i class="icon xi-ckbox-selected"></i>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <label for="lineText"><%= dicts.dsForm.LineDelim %>:</label>
          <div id="lineDelim" class="dropDownList" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="w2-dsOptions"' : '' %>>
            <input id="lineText" class="text inputable" type="text" spellcheck="false" autocomplete="off">
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <!-- dropdown menu -->
            <div class="list">
              <ul>
                <li name="default"><%= dicts.common.Default %> (\n)</li>
                <li name="null" class="nullVal"><%= dicts.common.Null %></li>
              </ul>
              <div class="scrollArea top">
                <div class="arrow"></div>
              </div>
              <div class="scrollArea bottom">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <label for="fieldText"><%= dicts.dsForm.FieldDelim %>:</label>
          <!-- Field Delimiter -->

          <div id="fieldDelim" class="dropDownList">
            <input id="fieldText" class="text inputable" type="text" spellcheck="false" autocomplete="off">
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <!-- dropdown menu -->
            <div class="list">
              <ul>
                <li name="default"><%= dicts.common.Default %> (\t)</li>
                <li name="comma"><%= dicts.common.Comma %> (,)</li>
                <li name="null" class="nullVal"><%= dicts.common.Null %></li>
              </ul>
              <div class="scrollArea top"><div class="arrow"></div></div>
              <div class="scrollArea bottom"><div class="arrow"></div></div>
            </div>
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <label for="dsForm-quote"><%= dicts.dsForm.Quoting %>:</label>
          <!-- Field Delimiter -->
          <div class="inputWrap">
            <input id="dsForm-quote" class="text" type="text" spellcheck="false">
          </div>
        </div>
        <!-- row -->
        <div class="row">
          <label for="dsForm-skipRows"><%= dicts.dsForm.SkipRows %><i title="<%= dicts.dsForm.SkipRowsHint %>" class="qMark icon xi-unknown" data-toggle="tooltip" data-container="body"></i>:</label>
          <div class="inputWrap">
            <input id="dsForm-skipRows" class="text" type="number" value="0">
          </div>
        </div>
      </div>
      <!-- buttons -->
      <div class="buttonSection">
        <button title="<%= dicts.dsForm.CreateTableHint %>" data-toggle="tooltip" data-container="body" type="button" class="btn confirm createTable"><%= dicts.dsForm.CREATETABLE %></button>
        <button title="<%= dicts.dsForm.CreateRefHint %>" data-toggle="tooltip" data-container="body" type="button" class="btn confirm" <%= (dicts.tutor.name == 'datastoreDemo1') ? 'data-introstep="w2-dsConfirm"' : '' %> ><%= dicts.dsForm.CREATEREF %></button>
        <button type="button" class="btn btn-cancel cancel"><%= dicts.common.BACK %></button>
      </div>
    </form>
  </div>
</div>