<!-- Preview Section -->
<section id="dsPreviewWrap" class="hidden">
  <div class="container">
    <div class="infoSection">
      <!-- Info Section 1 -->
      <div class="infoPart">
        <section class="titleSection textOverflowOneLine">
          <span class="title"><%= dicts.dsPreview.Previewing %>:</span>
          <span id="preview-url" class="text"></span>
          <span id="preview-udf" class="title"><%= dicts.common.UDF %>:
            <span class="text"></span>
          </span>
        </section>
      </div>
      <!-- Info Section 2 -->
      <div class="infoPart">
        <section class="inputSection">
          <span class="title"><%= dicts.dsForm.DSName %></span>
          <input id="preview-dsName" type="text" spellcheck="false">
        </section>
        <section class="btnSection">
          <button id="preview-close" class="btn btnMid btn-cancel close" type="button"><%= dicts.common.EXIT %></button>
          <button id="preview-apply" class="btn btnMid save loadHidden" type="button"><%= dicts.common.SAVEEXIT %></button>
        </section>
      </div>
    </div>
    <!-- Waiting Part -->
    <div class="waitSection hidden">
      <div class="icon"></div>
      <div class="text"><%= dicts.common.Loading %>...</div>
    </div>
    <!-- Error Message Part -->
    <div class="errorSection loadError hidden"></div>
    <div class="reviewSection loadHidden no-selection">
      <section id="preview-review" class="previewPart">
        <div class="delimiter">
          <span class="title"><%= dicts.dsForm.Delim %>:</span>
          <span class="text">Not Applied</span>
        </div>
        <div class="header">
          <span class="title"><%= dicts.dsForm.Header %>:</span>
          <span class="text">No</span>
        </div>
      </section>
      <!-- highlight icon -->
        <section class="iconPart">
          <!-- remove highlight icon -->
          <div id="preview-rmHightlight" class="rmHightLight iconWrapper" title="<%= dicts.dsPreview.RmHighlight %>" data-toggle="tooltip" data-placement="top" data-container="body">
            <span class="icon"></span>
          </div>
          <!-- apply highlight icon -->
          <div id="preview-highlight" class="highlight iconWrapper" title="<%= dicts.dsPreview.ApplyHighlight %>" data-toggle="tooltip" data-placement="top" data-container="body">
            <span class="icon"></span>
          </div>
        </section>
    </div>
    <!-- Suggestion Section -->
    <div id="previewSugg" class="suggestSection loadHidden no-selection">
      <div class="title"><%= dicts.common.Sugg %>:</div>
      <div class="content"></div>
    </div>
    <!-- Preview -->
    <div class="previewSection">
      <div id="dsPreviewTableWrap" class="datasetTableWrap">
        <!-- Preview Part -->
        <div class="datasetTbodyWrap loadHidden">
          <table id="previewTable" class="datasetTable dataTable"></table>
          <div class="previewBottom"><%= dicts.dsPreview.EndOfPreview %></div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Of Preview Section -->