<!-- Title Wrap -->
<div class="datasetTitleWrap no-selection">
  <!-- Title Info -->
  <div class="titleInfo">
    <div class="heading">
       <h2>Dataset Preview</h2>
    </div>
    <div class="dsInfo">
      <span>Format:</span>
      <span id="schema-format"></span>
    </div>
  </div>
  <!-- Button Group -->
  <div id="dsColsBtn" class="buttonGroup">
    <div class="buttonWrap">
      <div id="noDScols" class="noCols modifyDSButton">
        <span class="icon"></span>
        <span class="text">Select Columns Later</span>
      </div>
      <div title="Create A Table Without Picking Any Column"
      data-toggle="tooltip" data-container="body" class="qMark"></div>
    </div>
    <div class="buttonWrap">
      <div id="selectDSCols" class="selectAll modifyDSButton">
        <span class="icon"></span>
        <span class="text">Select All</span>
      </div>
      <div class="divider"></div>
      <div id="clearDsCols" class="clear modifyDSButton">
        <span class="icon"></span>
        <span class="text">Clear All</span>
      </div>
    </div>
  </div>
</div>
<!-- Dataset Wrap -->
<div id="datasetWrap">
  <div id="dataSetTableWrap" class="datasetTableWrap"></div>
</div>