<div class="contentViewHeader">
  <div class="dbText">
    <h2 id="dsInfo-title"><%= dicts.ds.Datasets %></h2>
    <p>
      <%= dicts.dsTable.CreatedBy %>: <span id="dsInfo-author"></span> |
      <%= dicts.dsTable.ModifiedDate %>: <span id="dsInfo-modifyDate"></span>
    </p>
    <p>
      <%= dicts.dsTable.Records %>: <span id="dsInfo-records">N/A</span> |
      <%= dicts.dsTable.Size %>: <span id="dsInfo-size">N/A</span> |
      <%= dicts.dsTable.Path %>: <span id="dsInfo-path">N/A</span>
    </p>
  </div>
</div>
<!-- Datastore Table -->
<div class="contentViewTable">
  <!-- Title Wrap -->
  <div class="datasetTitleWrap no-selection">
    <!-- Title Info -->
    <div class="titleInfo">
      <div class="heading">
         <h2><%= dicts.dsTable.DSPreview %></h2>
      </div>
      <div class="dsInfo">
        <span><%= dicts.ds.Format %>:</span>
        <span id="schema-format"></span>
      </div>
    </div>
    <!-- Button Group -->
    <div id="dsColsBtn" class="buttonGroup">
      <div class="buttonWrap">
        <div id="noDScols" class="noCols modifyDSButton">
          <span class="icon"></span>
          <span class="text"><%= dicts.dsTable.SelectLater %></span>
        </div>
        <div title="<%= dicts.dsTable.SelectLaterHint %>"
        data-toggle="tooltip" data-container="body" class="qMark"></div>
      </div>
      <div class="buttonWrap">
        <div id="selectDSCols" class="selectAll modifyDSButton">
          <span class="icon"></span>
          <span class="text"><%= dicts.common.SelectAll %></span>
        </div>
        <div class="divider"></div>
        <div id="clearDsCols" class="clear modifyDSButton">
          <span class="icon"></span>
          <span class="text"><%= dicts.common.ClearAll %></span>
        </div>
      </div>
    </div>
  </div>
  <!-- Dataset Wrap -->
  <div id="datasetWrap">
    <div id="dataSetTableWrap" class="datasetTableWrap"></div>
  </div>
</div>
<!-- End Datastore Table -->