<div class="cardContainer">
  <div class="cardHeader">
    <header class="title"><%= dicts.dsTable.DSPreview %></header>
  </div>
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.ds.TableInstr %></div>
  </div>
  <!-- cardTop -->
  <div class="cardTopMain no-selection">
    <div class="titleSection">
      <header id="dsInfo-title" class="title">
        <%= dicts.ds.Datasets %>
      </header>
    </div>
    <div class="infoSection">
      <div class="contentSection">
        <span><%= dicts.dsTable.CreatedBy %>:</span>
        <span id="dsInfo-author"></span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.ModifiedDate %>:</span>
        <span id="dsInfo-modifyDate"></span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.Records %>:</span>
        <span id="dsInfo-records">N/A</span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.Size %>:</span>
        <span id="dsInfo-size">N/A</span>
      </div>
      <div class="contentSection">
        <span><%= dicts.ds.Format %>:</span>
        <span id="schema-format"></span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.Path %>:</span>
        <span id="dsInfo-path">N/A</span>
      </div>
    </div>
    <!-- buttons -->
    <div id="dsColsBtn" class="buttonSection">
      <div class="buttonGroup">
        <div class="hint" title="<%= dicts.dsTable.SelectLaterHiint %>" data-toggle="tooltip" data-container="body">
          <i class="icon xi-help fa-12"></i>
        </div>
        <div id="noDScols" class="noCols xc-action">
          <i class="icon xi-select-later"></i>
          <span><%= dicts.dsTable.SelectLater %></span>
        </div>
      </div>
      <div class="buttonGroup">
        <div id="clearDsCols" class="clear xc-action">
           <i id="clearDsCols" class="icon xi-select-none"></i>
          <span><%= dicts.common.ClearAll %></span>
        </div>
        <div class="divider"></div>
        <div id="selectDSCols" class="selectAll xc-action">
          <i class="icon xi-select-all"></i>
          <span><%= dicts.common.SelectAll %></span>
        </div>
      </div>
    </div>
  </div>
  <!-- cardMain -->
  <div class="cardMain">
    <!-- Datastore Table -->
    <div id="dsTableContainer">
      <div class="loadSection animatedEllipsisWrapper">
        <div class="text"><%= dicts.common.Loading %></div>
        <div class="animatedEllipsis">
          <div>.</div>
          <div>.</div>
          <div>.</div>
        </div>
      </div>
      <div class="errorSection"></div>
      <div id="dsTableWrap" class="datasetTableWrap"></div>
    </div>
  </div>
</div>