<div class="cardContainer">
  <div class="cardHeader">
    <header class="title"><%= dicts.dsTable.Header %></header>
  </div>
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.ds.TableInstr %></div>
  </div>
  <!-- cardTop -->
  <% if (dicts.tutor.name == "datastoreDemo2") { %>
  <div class="cardTopMain" data-introstep="w3-dsInfo">
    <div class="titleSection">
      <header id="dsInfo-title" class="title">yelpUsers</header>
    </div>
    <div class="infoSection">
      <div class="contentSection">
        <span>Created by:</span>
        <span id="dsInfo-author">John Smith</span>
        <span class="divider">|</span>
        <span>Modified Date:</span>
        <span id="dsInfo-modifyDate">11:04:33 AM 6-20-2016</span>
        <span class="divider">|</span>
        <span>Records:</span>
        <span id="dsInfo-records">70,817</span>
        <span class="divider">|</span>
        <span>Size:</span>
        <span id="dsInfo-size">26MB</span>
      </div>
      <div class="contentSection">
        <span>Format:</span>
        <span id="schema-format">JSON</span>
        <span class="divider">|</span>
        <span>Path:</span>
        <span id="dsInfo-path">nfs:///netstore/datasets/yelp/user/</span>
      </div>
    </div>
    <!-- buttons -->
    <div id="dsColsBtn" class="buttonSection" data-introstep="w3-selectAll">
      <div class="buttonGroup">
        <div class="hint" title="<%= dicts.dsTable.SelectLaterHiint %>" data-toggle="tooltip" data-container="body">
          <i class="icon xi-help fa-12"></i>
        </div>
        <div id="noDScols" class="noCols xc-action">
          <i class="icon xi-select-later"></i>
          <span><%= dicts.dsTable.SelectLater %></span>
        </div>
      </div>
      <div class="buttonGroup">
        <div id="clearDsCols" class="clear xc-action">
           <i id="clearDsCols" class="icon xi-select-none"></i>
          <span><%= dicts.common.ClearAll %></span>
        </div>
        <div class="divider"></div>
        <div id="selectDSCols" class="selectAll xc-action">
          <i class="icon xi-select-all"></i>
          <span><%= dicts.common.SelectAll %></span>
        </div>
      </div>
    </div>
  </div>
  <% } else { %>
   <div class="cardTopMain">
    <div class="titleSection">
      <header id="dsInfo-title" class="title">
        <%= dicts.ds.Datasets %>
      </header>
    </div>
    <div class="infoSection">
      <div class="contentSection">
        <span><%= dicts.dsTable.CreatedBy %>:</span>
        <span id="dsInfo-author"></span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.Records %>:</span>
        <span id="dsInfo-records">N/A</span>
        <span class="divider">|</span>
        <span><%= dicts.common.Size %>:</span>
        <span id="dsInfo-size">N/A</span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.ModifiedDate %>:</span>
        <span id="dsInfo-modifyDate"></span>
      </div>
      <div class="contentSection">
        <span><%= dicts.ds.Format %>:</span>
        <span id="schema-format"></span>
        <span class="divider">|</span>
        <span><%= dicts.dsTable.Path %>:</span>
        <span id="dsInfo-path">N/A</span>
      </div>
    </div>
    <!-- buttons -->
    <div id="dsColsBtn" class="buttonSection">
      <div class="buttonGroup">
        <div class="hint" title="<%= dicts.dsTable.SelectLaterHiint %>" data-toggle="tooltip" data-container="body">
          <i class="icon xi-help fa-12"></i>
        </div>
        <div id="noDScols" class="noCols xc-action">
          <i class="icon xi-select-later"></i>
          <span><%= dicts.dsTable.SelectLater %></span>
        </div>
      </div>
      <div class="buttonGroup">
        <div id="clearDsCols" class="clear xc-action">
           <i id="clearDsCols" class="icon xi-select-none"></i>
          <span><%= dicts.common.ClearAll %></span>
        </div>
        <div class="divider"></div>
        <div id="selectDSCols" class="selectAll xc-action">
          <i class="icon xi-select-all"></i>
          <span><%= dicts.common.SelectAll %></span>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <!-- cardMain -->
  <%  if (dicts.tutor.name == "datastoreDemo2") { %>
    include "../demo/dsDemo2-dataTable.html"
  <% } else { %>
  <div class="cardMain">
    <!-- Datastore Table -->
    <div id="dsTableContainer">
      <div class="loadSection animatedEllipsisWrapper">
        <div class="text"><%= dicts.common.PleaseWait %></div>
        <div class="animatedEllipsis">
          <div>.</div>
          <div>.</div>
          <div>.</div>
        </div>
      </div>
      <div class="errorSection">
        <div class="error"></div>
        <div class="suggest limit">
          <div class="title"><%= dicts.ds.RetryLimit %></div>
          <div class="advanceSection">
            include "advanceOption.html"
            <div id="dsTable-retry" class="retry limit xc-action">
              <i class="icon xi-refresh blue"></i>
              <span><%= dicts.ds.Retry %></span>
            </div>
          </div>
          <div class="or">Or</div>
        </div>
        <div class="suggest point">
          <div class="title"><%= dicts.ds.RetryPoint %></div>
          <div id="dsTable-retry" class="retry point xc-action">
            <i class="icon xi-refresh blue"></i>
            <span><%= dicts.ds.Retry %></span>
          </div>
        </div>
      </div>
      <div id="dsTableWrap" class="datasetTableWrap"></div>
    </div>
  </div>
  <% } %>
</div>