<!-- dsTarget create card -->
<div id="dsTarget-create-card" class="cardContainer style-new">
  <!-- header -->
  <div class="cardHeader">
    <header class="title"><%= dicts.dsTarget.Create %></header>
  </div>
  <!-- instuction -->
  <div class="cardInstruction oneLine">
    <i class="icon xi-info-circle"></i>
    <div class="text defaultText">
      <span><%= dicts.dsTarget.CreateInstr %></span>
    </div>
  </div>
  <!-- cardMain -->
  <div class="cardMain">
    <div id="dsTarget-form" target="_blank" autocomplete="off">
      <div class="formSection name">
        <div class="formRow">
          <header class="formTitle"><%= dicts.common.Name %>:</header>
          <input id="dsTarget-name" class="xc-input" name="dsTarget-name" type="text" placeholder="" autocomplete="off" spellcheck="false" autofocus>
        </div>
      </div>
      <div class="formSection type">
        <div class="formRow">
          <header class="formTitle"><%= dicts.dsTarget.Type %>:</header>
          <div id="dsTarget-type" class="dropDownList">
            <input class="text" type="text" value="" spellcheck="false" disabled>
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <div id="dsTarget-type-menu" class="list">
              <ul></ul>
              include "../../util/menuScrollArea.html"
            </div>
          </div>
        </div>
      </div>
      <div class="formSection description xc-hidden">
        <div class="formRow">
          <header class="formTitle"><%= dicts.common.Descrip %>:</header>
        </div>
        <div class="formContent">
          <div class="formRow">
            <div id="dsTarget-description">
            </div>
          </div>
        </div>
      </div>
      <div class="formSection params xc-hidden">
        <div class="formRow">
          <header class="formTitle"><%= dicts.dsTarget.TargetParams %>:</header>
        </div>
        <div class="formContent"></div>
      </div>
      <div class="formButton">
        <button id="dsTarget-submit" class="btn btn-submit" type="submit"><%= dicts.common.Add %></button>
        <button id="dsTarget-reset" class="btn btn-clear" type="reset"><%= dicts.common.Clear %></button>
      </div>
    </div>
  </div>
  <!-- end card main -->
</div>
<!-- end of dsTarget create card -->

<!-- dsTarget info card -->
<div id="dsTarget-info-card" class="cardContainer xc-hidden">
  <!-- header -->
  <div class="cardHeader">
    <header class="title"><%= dicts.dsTarget.TargetInfo %></header>
  </div>
  <!-- instuction -->
  <div class="cardInstruction oneLine">
    <i class="icon xi-info-circle"></i>
    <div class="text">
      <span><%= dicts.dsTarget.TargetInfoInstr %></span>
    </div>
  </div>
  <!-- cardMain -->
  <div class="cardMain">
    <form target="_blank" autocomplete="off">
      <!-- Top Form -->
      <div class="formSection name">
        <!-- target name -->
        <div class="formRow">
          <header class="formTitle"><%= dicts.common.Name %>:</header>
          <span class="text"></span>
        </div>
      </div>
      <div class="formSection type">
        <!-- target type -->
        <div class="formRow type">
          <header class="formTitle"><%= dicts.dsTarget.Type %>:</header>
          <span class="text"></span>
        </div>
      </div>
      <!-- end of Top Form -->
      <!-- Bottom Form -->
      <div class="formSection params">
        <div class="formRow">
          <header class="formTitle"><%= dicts.dsTarget.TargetParams %>:</header>
        </div>
        <div class="formContent"></div>
      </div>
      <!-- end of Bottom form -->
      <div class="formButton">
        <button id="dsTarget-import" class="btn btn-submit" type="button"><%= dicts.dsTarget.ImportData %></button>
        <button id="dsTarget-delete" class="btn btn-cancel" type="button"><%= dicts.dsTarget.DELETETARGET %></button>
      </div>
    </form>
  </div>
  <!-- end card main -->
</div>
<!-- end of dsTarget info card -->
