<div id="dsUploader" class="cardContainer fileBrowser">
  <header class="cardHeader">
    <div class="title"><%= dicts.dsUploader.AddFile %></div>
  </header>
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.dsUploader.AddFileDesc %></div>
    <button id="dsUploadBrowse" class="btn browse" type="button"><%= dicts.common.BROWSE %></button>
  </div>
  <div class="cardMain">
    <div id="dsUploaderMain" class="xc-grid leftMain listView fileBrowserMain fileDroppable">
      <!-- Loading Section -->
      <section class="loadingSection">
        <div class="waitingIcon"></div>
      </section>
      <!-- Titles -->
      <section class="titleSection">
        <i class="icon refresh xi-refresh"></i>
        <!-- file name -->
        <div class="title fileName" data-sortkey="name">
          <span class="label"><%= dicts.common.Name %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- file date -->
        <div class="title fileDate" data-sortkey="date">
          <span class="label"><%= dicts.common.DateModified %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- file size -->
        <div class="title fileSize" data-sortkey="size">
          <span class="label"><%= dicts.common.Size %></span>
         <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
      </section>
      <!-- Main Content -->
      <section id="dsUploaderContainer" class="mainSection fileBrowserContainer">
        <div id="innerdsUploader" class="clearfix innerFileBrowserContainer">
        </div>
      </section>
      <input id="dsUploadSubmit" spellcheck="false" type="file" style="display: none;">
      <div id="dsUploaderDropArea">
        <%= dicts.dsUploader.DropHere %>
      </div>
    </div>
  </div>
  <div class="cardBottom">
  </div>
</div>