<div id="gridViewMenu" class="menu">
  <ul>
    <li class="delete dsOpt"><%= dicts.MenuTStr.Del %></li>
    <li class="preview dsOpt"><%= dicts.MenuTStr.Preview %></li>
    <li class="moveUp dsOpt folderOpt"><%= dicts.MenuTStr.MoveUp %></li>
    <li class="open folderOpt"><%= dicts.MenuTStr.Open %></li>
    <li class="rename folderOpt"><%= dicts.MenuTStr.Rename %></li>
    <li class="newFolder bgOpt"><%= dicts.MenuTStr.NewFolder %></li>
    <li class="back bgOpt"><%= dicts.MenuTStr.Back %></li>
    <li class="refresh bgOpt"><%= dicts.MenuTStr.Refresh %></li>
  </ul>
  <div class="scrollArea top">
    <div class="arrow"></div>
  </div>
  <div class="scrollArea bottom">
    <div class="arrow"></div>
  </div>
</div>