/* ========== Constants ========== */
/* Standard */
/* Shadow */
/* Bar */
/* Monitor */
/* Tabs */
/* Backgrounds */
/* Login */
/* Join Modal */
/* Retina Modal */
/* Operation Modal */
/* Inputs */
/* Dropdown menu colors */
/* Text */
/* Table Color Scheme */
/* SQL Color Scheme */
/* Scratchpad */
/* Fonts */
/* Random Colors */
.noSelection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.auto-selection {
  -webkit-touch-callout: default;
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
  cursor: auto;
}
.textOverflow {
  overflow: hidden;
  text-overflow: ellipsis;
}
.textOverflowOneLine {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.noTransition {
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -ms-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
}
.wordwrap {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/* DROP DOWN COLUMN STYLING */
.dropDownList {
  position: relative;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  float: left;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.dropDownList .text {
  color: #4d4d4d;
  font-size: 13px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  padding-left: 10px;
  float: left;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
.dropDownList .iconWrapper {
  background: -webkit-linear-gradient(top, #5cb2e8, #378cb3);
  background: -moz-linear-gradient(top, #5cb2e8, #378cb3);
  background: -o-linear-gradient(top, #5cb2e8, #378cb3);
  background: -ms-linear-gradient(top, #5cb2e8, #378cb3);
  background: linear-gradient(to bottom, #5cb2e8, #378cb3);
  float: right;
  -webkit-border-radius: 0px 3px 3px 0px;
  -moz-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  cursor: pointer;
}
.dropDownList .iconWrapper .icon {
  position: absolute;
  background: transparent url("../../images/dropDown.png") no-repeat 50% 50%;
  opacity: 0.7;
}
.dropDownList .list {
  position: absolute;
  left: 0;
  background-color: #ffffff;
  cursor: default;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: none;
}
.dropDownList .list li {
  padding-left: 10px;
  z-index: 10;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.dropDownList .list li:hover {
  background-color: #ddeaf2;
}
.dropDownList .list li.inactive {
  opacity: 0.3;
}
.dropDownList .list .scrollArea {
  z-index: 11;
}
.dropDownList .hint {
  color: #b6b6b6;
}
.radioWrap {
  display: inline-block;
  height: 20px;
  position: relative;
  font-size: 13px;
  line-height: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.radioWrap .radio {
  float: left;
  display: inline-block;
  margin: 4px 5px 0 0px;
  width: 14px;
  height: 15px;
  background-image: url("../../images/radioEmpty.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 14px 15px;
}
.radioWrap .radio .dot {
  width: 14px;
  height: 15px;
  background: transparent url("../../images/radioDot.png") no-repeat 50% 50%;
  display: none;
}
.radioWrap .radio.checked {
  background: transparent url("../../images/radioChecked.png") no-repeat 0 0;
}
.radioWrap .radio.checked .dot {
  display: inline-block;
}
.radioWrap .label {
  float: left;
  padding-left: 5px;
  font-weight: 900;
  width: calc(100% - 19px);
  text-align: left;
}
/* ========== Transition ========== */
/* ========== End Of Transition ========== */
/* ========== Gradient Color ========== */
/* Dag */
/* ========== End Of Gradient Color ========== */
/* ========== New Table Color Theme ========== */
/* ========== End Of Table Color Theme ========== */
table,
tr,
td,
th,
input,
textarea,
p {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  font: 14px "Open Sans", "Trebuchet MS", Arial, sans-serif;
  font-weight: 600;
  color: #4d4d4d;
}
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  color: #4d4d4d;
  font-family: "Open Sans", "Trebuchet MS", Arial, sans-serif;
  font-weight: 600;
  font-size: 0;
  /* Need to use this to get rid of stupid white space */

  overflow-y: hidden;
  background: #36444d url("../../images/bg_page.png") repeat right top;
  overflow: hidden !important;
}
#swiffycontainer {
  margin: -200px 0 0 -275px;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 550px;
  height: 400px;
}
/* LOGIN */
#loginContainer {
  width: 100%;
  height: 100%;
  min-height: 410px;
  min-width: 990px;
  position: relative;
  overflow: hidden;
}
#loginBackgroundArt {
  background: url(../../images/loginBoxes.png) no-repeat;
  width: 501px;
  height: 800px;
  top: 0px;
  right: 0px;
  position: absolute;
}
#loginLogo {
  background: url(../../images/loginLogo.png) no-repeat;
  top: 10px;
  left: 18px;
  width: 106px;
  height: 50px;
  position: absolute;
}
#loginDivider {
  background: url(../../images/loginBar.png) no-repeat;
  left: 512px;
  bottom: 87px;
  width: 1px;
  height: 281px;
  position: absolute;
  opacity: 0.26;
}
#loginInsight {
  left: 568px;
  bottom: 312px;
  width: 403px;
  height: 64px;
  background: url(../../images/loginInsight.png) no-repeat;
  position: absolute;
}
#loginShadow {
  left: 510px;
  bottom: 200px;
  width: 503px;
  height: 69px;
  background: url(../../images/loginShadow.png) no-repeat;
  position: absolute;
  opacity: 0.21;
}
.action-gradient {
  background: -webkit-linear-gradient(top, #5cb2e8, #378cb3);
  background: -moz-linear-gradient(top, #5cb2e8, #378cb3);
  background: -o-linear-gradient(top, #5cb2e8, #378cb3);
  background: -ms-linear-gradient(top, #5cb2e8, #378cb3);
  background: linear-gradient(to bottom, #5cb2e8, #378cb3);
}
#login {
  margin: auto;
  margin-right: auto;
  width: 500px;
  height: 220px;
  z-index: 40;
  position: absolute;
  left: 0;
  bottom: 137px;
  font-size: 20px;
  color: #F4EADD;
  font-family: 'Raleway', Sans Serif;
  letter-spacing: 1px;
}
#login .text {
  float: left;
  margin-right: 10px;
  margin-left: 85px;
}
#login #loginPasswordBox,
#login #loginNameBox {
  background: -webkit-linear-gradient(top, #d9d9d9, #a0a0a0);
  background: -moz-linear-gradient(top, #d9d9d9, #a0a0a0);
  background: -o-linear-gradient(top, #d9d9d9, #a0a0a0);
  background: -ms-linear-gradient(top, #d9d9d9, #a0a0a0);
  background: linear-gradient(to bottom, #d9d9d9, #a0a0a0);
  float: left;
  position: absolute;
  left: 200px;
  width: 250px;
  height: 28px;
  padding: 0px 4px;
  border-radius: 3px;
  background-color: #909090;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
#login #loginPasswordBox:focus,
#login #loginNameBox:focus {
  background-color: white;
  box-shadow: 0px 2px 2px 0 #888888 inset;
  outline: none;
  color: #000000;
  font-size: 12px;
}
#login #loginButton {
  background: -webkit-linear-gradient(top, #5cb2e8, #378cb3);
  background: -moz-linear-gradient(top, #5cb2e8, #378cb3);
  background: -o-linear-gradient(top, #5cb2e8, #378cb3);
  background: -ms-linear-gradient(top, #5cb2e8, #378cb3);
  background: linear-gradient(to bottom, #5cb2e8, #378cb3);
  color: #cdf1f6;
  font-size: 16px;
  font-weight: light;
  text-align: center;
  line-height: 30px;
  width: 110px;
  height: 30px;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  position: absolute;
  left: 340px;
  bottom: 95px;
}
/* END LOGIN */