/assets/js/config.js
/assets/js/tutorial/tags.js
/assets/stylesheets/**/*.css
/assets/widget/*.css
/assets/js/setup/constructorVersion.js
*.css
/assets/dev/!shortCutStyles.css
*.DS_Store
/prod/*
/node_modules/*
index.html
unitTest.html
/assets/htmlFiles/*
*~
/js/
.swp
