/assets/js/config.js
/assets/stylesheets/**/*.css
/assets/widget/*.css
/assets/customerPortal/*.css
/assets/customerPortal/_table_render.html
/assets/customerPortal/_error_license.html
/assets/js/setup/constructorVersion.js
/assets/dev/!shortCutStyles.css
*.DS_Store
/prod/*
/node_modules/*
index.html
unitTest.html
install.html
testSuite.html
undoredoTest.html
dashboard.html
/assets/htmlFiles/*
*~
/js/
.swp
/services/expServer/*.tar.gz
/assets/help/user/Content/SearchInsight.htm
/assets/help/admin/Content/SearchInsight.htm
