/ts/config.js
/assets/stylesheets/**/*.css
/assets/widget/*.css
/assets/customerPortal/*.css
/assets/customerPortal/_table_render.html
/assets/customerPortal/_error_license.html
/assets/js/setup/constructorVersion.js
/assets/js/constructor/E_persConstructor.js
/assets/dev/!shortCutStyles.css
*.DS_Store
/prod/*
/xcalar-insight/*
/xcalar-gui/*
/node_modules/*
/services/**/node_modules/*
assets/js/api/**/node_modules/*
index.html
unitTest.html
install.html
install-tarball.html
testSuite.html
undoredoTest.html
unitTestInstaller.html
dashboard.html
install-tarball.html
/assets/htmlFiles/*
*~
/js/
.swp
/services/expServer/*.tar.gz
/assets/help/xd/Content/SearchInsight.htm
/assets/help/xi/Content/SearchInsight.htm
/services/test/report/*
/services/appMarketplace/extensionUploader.html
/assets/js/constructor/B_constructorDefine.js
/assets/js/constructor/DA_persConstructorV1.js
/assets/js/constructor/DB_persConstructorV2.js
/assets/js/constructor/E_persConstructor.js
/assets/js/constructor/README
/assets/lang/en/jsTStrXI.js
/assets/lang/zh/jsTStrXI.js
*.tar.gz
/assets/help/user
.vscode
/assets/js/shared/
/assets/js/components/
/assets/js/external/
/assets/js/installer/
/assets/js/login/
/assets/js/sdk/
/assets/js/thrift/
/assets/js/*.js
/assets/js/*.js.map