@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

/*In the HTML file, always use "Open Sans" as the font family and specify the weight by a number.*/

@font-face 
{
    font-family: "Open Sans";
	font-weight: 400;
    src: url(../../Fonts/open-sans.regular.ttf);
} 

@font-face
{
	font-family: "Open Sans";
	font-weight: 600; 
	src: url(../../Fonts/OpenSans-Semibold.ttf);
} 

@font-face
{
	font-family: "Open Sans";
	font-weight: 300;
	src: url(../../Fonts/OpenSans-Light.ttf);
} 

@font-face
{
    font-family: "Open Sans";
    src: url(../../Fonts/OpenSans-Bold.ttf);
    font-weight: 700;
} 

body
{
	color: #4a4a4a;
	font-family: "Open Sans", Arial, sans-serif, Avenir, Myriad;
	font-weight: 400;
	line-height: 1.5em;
	font-size: 16px;
	mc-hyphenate: never;
}

a.MCBreadcrumbsLink
{
	color: #378cb3;
	text-decoration: none;
}

a.MCBreadcrumbsLink:visited
{
	color: #4a4a4a;
}

a.MCBreadcrumbsLink:hover
{
	color: #378cb3;
	text-decoration: underline;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 36px;
	color: #378cb3;
	font-weight: 400;
	line-height: 49px;
	mc-hyphenate: never;
}

h2
{
	margin-bottom: 4px;
	margin-top: 24px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

h3
{
	font-size: 20px;
	margin-bottom: 4px;
	margin-top: 16px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

h4
{
	color: #378cb3;
	font-weight: 300;
	mc-hyphenate: never;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: 14px;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|xref
{
	color: #378cb3;
	mc-format: '{para}';
	text-decoration: none;
}

MadCap|xref:hover
{
	color: #378cb3;
	text-decoration: underline;
}

/* p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
} */

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 28%;
}

html.templateTopic div.sideContent
{
	display: none;
}

p.userInput
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Courier New';
	font-weight: bold;
}

p.Copyright
{
	text-align: left;
	margin: 10px 10px 10px 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	background-color: #d7d7d7;
}

img.BigImage
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 150px;
}

img.WideButShortImage
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 40px;
}

span.UIelement
{
	font-weight: 600;
}

ul
{
	
}

ul ul
{
	list-style-image: url('../Images/XD_assets/xd-arrow-right.png');
	/*Second level unordered list uses the right arrow as the bullet. */
}

MadCap|dropDownBody
{
	border-bottom-color: #378cb3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

th
{
	font-weight: 600;
}

p.CLIoutput
{
	font-family: 'Courier New';
	margin-bottom: 5px;
	margin-top: 5px;
}

ul.navigation ul
{
	border: #000000 1px none;
	border-radius: 0px;
}

ul.navigation > li.has-children:after	/*This is to mask out the pointer pointing to the top menu. */
{
	border-bottom-color: #378cb3;
}

span.SearchHighlight
{
	background-color: #ede54b;
}

p.sampleCode
{
	font-family: 'Courier New';
	margin-bottom: 0px;
	margin-top: 0px;
}

div
{
	mc-hyphenate: never;
}

div.Example
{
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

span.label
{
	font-weight: bold;
	margin-top: 5px;
}

div.Note
{
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

p.Title
{
	font-size: 30pt;
	font-weight: bold;
}

p.subTitle
{
	font-size: 30pt;
	font-weight: bold;
}

img
{
	mc-thumbnail-max-height: 500px;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/XD_assets/xd-plus-circle-outline.png');
	mc-open-image: url('../Images/XD_assets/xd-minus-circle-outline.png');
}

MadCap|xref:focus
{
	
}

a:hover
{
	color: #378cb3;
}

a:active
{
	color: #378cb3;
}

MadCap|dropDownHotspot
{
	color: #378cb3;
}

ol
{
	
}

MadCap|equation
{
	font-family: 'Open Sans';
	text-decoration: none;
	font-style: normal;
	color: #4a4a4a;
	font-size: 14px;
}

p
{
	mc-hyphenate: never;
}

pre
{
	mc-hyphenate: never;
}

@media print
{
	p.subTitle
	{
		font-size: 24pt;
		color: #378cb3;
	}

	p
	{
		line-height: normal;
	}

	td
	{
		font: 12px;
	}

	th
	{
		font: 12px;
	}

	body
	{
		mc-hyphenate: never;
	}

	td ul
	{
		margin-left: 20px;
	}

	h1
	{
		margin-top: 12px;
		font-size: 30px;
	}

	h2
	{
		margin-top: 15px;
		page-break-before: always;
	}

	h3
	{
		margin-top: 12px;
	}

	MadCap|tocProxy
	{
		border-top-style: none;
	}

	p.Title
	{
		color: #378cb3;
	}

	h1.contents
	{
		mc-heading-level: 0;
	}

	span.UIelement
	{
		font-weight: 700;
	}

	tr
	{
		page-break-inside: avoid;
	}

	MadCap|dropDownHead
	{
		
	}

	MadCap|dropDownHotspot
	{
		color: #4a4a4a;
	}

	MadCap|dropDownBody
	{
		border-bottom-style: none;
	}

	h4
	{
		mc-heading-level: 0;
	}
}

div.bodyProxyNarrow
{
	width: 65%;
}

td ul
{
	margin-top: 3px;
	margin-left: 20;
	margin: 0px 0px 0px;
}

td p:first-child
{
	margin-top: 0;
}

/*First p paragraph should not have a margin within a table cell. Other p paragraph can keep default margin. */

p.comments	/*Questions or reminders for our eyes only*/
{
	color: #ff0000;
}

h1.contents
{
	margin-bottom: 8px;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 36px;
	color: #378cb3;
	font-weight: 400;
	line-height: 49px;
	mc-hyphenate: never;
}

ul.navigation	/*To be used by menu items in the top navigation bar in HTML5.*/
{
	text-transform: uppercase;
}

ul.sub-menu	/*Applied to sub menu items displayed when you hover over a top navigation menu item.*/
{
	text-transform: none;
}

a.ForCSH
{
	
}

