body {
    // height: auto;
}
.main {
    // position: relative;
    // margin-top: -500px;
    // transform: rotate(-90deg);

    // height: auto !important;
    // overflow: visible;
    // top: 50%;
    // left: 50%;
    // transform-origin: 50% 50% !important;
    // transform: rotate(-90deg) !important;

    // height: auto !important;
    // overflow: visible;
    // top: 50vh;
    // left: 50vh;
    // transform-origin: 50% 50% !important;
    // transform: rotate(-90deg) !important;
    // position: absolute;

    height: 100vh;
    overflow-y: visible;
    transform-origin: center;
    transform: rotate(-90deg) !important;
};

svg {
    overflow: visible !important;
}