<!-- UDF Section -->
<section id="udfSection">
  <!-- Heading -->
  <header class="heading">
    <h2><%= dicts.UDF.Header %></h2>
    <i class="icon xi-close close xc-icon-action" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
    <i class="icon xi_popout undock xc-icon-action" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.bottomMenu.popOutBtn %>"></i>
    <i class="icon xi-udf-manager toManager xc-icon-action" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.UDF.ToManager %>"></i>
    <i class="icon xi-save saveFile xc-icon-action" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.UDF.SaveFile %>"></i>
  </header>
  <!-- Content -->
  <div class="menuContent">
    <!-- Main Content -->
    <section class="mainSectionContainer">
      <!-- Section to write function -->
      <section id="udf-fnSection" class="mainSection xc-disabled">
        <!-- editSection -->
        <div class="editSection">
          <div class="editArea">
            <textarea id="udf-codeArea"></textarea>
          </div>
        </div>
      </section>
    </section>
    <!-- End of Main Section -->
  </div>
</section>
<!-- end of UDF Section -->