<section id="extension-upload" class="cardContainer xc-hidden">
  <header class="cardHeader">
    <div class="title"><%= dicts.extension.Upload %></div>
    <div class="close">
      <i class="icon xi-close fa-15"></i>
    </div>
  </header>
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div calss="text"><%= dicts.extension.EXTList %></div>
  </div>
  <div class="cardMain">
    <span class="text"><%= dicts.common.URL %>:</span>
    <input type="text">
    <button class="btn"><%= dicts.common.BROWSE %></button>
  </div>
  <div class="cardBorder"></div>
  <div class="cardBottom">
    <i class="icon xi-warning"></i>
    <span class="text"><%= dicts.extension.NotFound %></span>
  </div>
</section>
<section id="extensionInstallPanel">
  <!-- infoCard -->
  <div class="cardContainer infoCard">
    <div class="cardHeader"></div>
    <div class="cardMain">
      <!-- waitSection -->
      <div class="waitSection">
        <div class="animatedEllipsisWrapper">
          <div class="text"><%= dicts.extension.Load %></div>
          <div class="animatedEllipsis">
            <div>.</div>
            <div>.</div>
            <div>.</div>
          </div>
        </div>
      </div>
      <!-- errorSection -->
      <div class="errorSection"></div>
      <!-- hintSection -->
      <div class="hintSection">
        <i class="icon xi-warning"></i>
        <span class="text"><%= dicts.extension.NotAdded %></span>
      </div>
    </div>
  </div>
</section>

