<section id="extension-upload" class="cardContainer xc-hidden">
  <div class="cardLocked"></div>
  <header class="cardHeader">
    <div class="title"><%= dicts.extension.Upload %></div>
    <div class="close">
      <i class="icon xi-close fa-15"></i>
    </div>
  </header>
  <div class="cardInstruction">
    <i class="icon xi-warning"></i>
    <div class="text">
      <span><%= dicts.extension.uploadInstr %></span>
    </div>
  </div>
  <div class="cardMain">
    <span class="text"><%= dicts.common.URL %>:</span>
    <input class="path" type="text" disabled>
    <input class="browse" spellcheck="false" type="file" style="display: none">
    <button class="btn fakeBrowse"><%= dicts.common.BROWSE %></button>
  </div>
  <div class="cardBottom">
    <div class="buttonTooltipWrap" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SelectFile %>">
        <button type="button" class="btn confirm btn-disabled"><%= dicts.dataflow.upload %></button>
      </div>
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
  </div>
</section>
<section id="extensionInstallPanel">
  <!-- infoCard -->
  <div class="cardContainer infoCard">
    <div class="cardHeader"></div>
    <div class="cardMain">
      <!-- waitSection -->
      <div class="waitSection">
        include "../../util/animatedEllipsis.html"
      </div>
      <!-- errorSection -->
      <div class="errorSection"><%= dicts.extension.LoadErr %></div>
      <!-- hintSection -->
      <div class="hintSection">
        <i class="icon xi-warning"></i>
        <span class="text"><%= dicts.extension.NotAdded %></span>
      </div>
    </div>
  </div>
</section>

