<!-- File Browser -->
<div id="fileBrowser" class="cardContainer xc-hidden fileBrowser">
  <!-- File Browser Header -->
  <header class="cardHeader">
    <div class="title"><%= dicts.fileBrowser.header %>
      <!-- <div class="hint intro-icon" id="browseDatasourceWA3"   data-toggle="tooltip" data-container="body" data-title="<%= dicts.introTStr.wa3Tip %>" data-placement="top">
        <i class="white icon xi_smart fa-16"></i>
      </div> -->
    </div>
    <div class="headerClose">
      <i class="icon xc-action xi-close cancel"></i>
    </div>
  </header>
  <!-- File Browser Instruction -->
  <section class="cardInstruction oneLine">
    <i class="icon xi-info-circle"></i>
    <div class="text">
      <span><%= dicts.fileBrowser.instr %></span>
    </div>
  </section>
  <!-- File Browser Menu Bar -->
  <section class="cardTopMain">
    <!-- Location -->
    <div class="label"><%= dicts.common.Location %>:</div>
    <!-- up -->
    <% if (dicts.tutor.name == 'browseDatasourceTutA3') { %>
    <button id="fileBrowserUp" class="btn btn-small icon-up" title="<%= dicts.fileBrowser.Up %>" data-toggle="tooltip" data-placement="top" data-container="body" data-introstep="wa3-parentDir">
    <% } else { %>
    <button id="fileBrowserUp" class="btn btn-small icon-up disabled" title="<%= dicts.fileBrowser.Up %>" data-toggle="tooltip" data-placement="top" data-container="body">
    <% } %>
      <i class="icon xi-upload-folder"></i>
    </button>
    <div id="fileBrowserPath" class="dropDownList">
      <div class="targetName"><%= (dicts.tutor.name == 'browseDatasourceTutA3') ? 'Default Shared Root/datastores/misc' : '' %></div>
      <input class="text" spellcheck="false">
      <div class="iconWrapper" title="<%= dicts.fileBrowser.filePathHint %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <i class="icon xi-arrow-down"></i>
      </div>
      <ul id="fileBrowserPathMenu" class="list"></ul>
    </div>
    <!-- search section -->
    <div id="fileBrowserSearch" class="searchSection dropDownList" <%= (dicts.tutor.name == 'browseDatasourceTutA3') ? 'data-introstep="wa3-fileSearch"' : '' %>>
      <input type="text" placeholder="<%= dicts.fileBrowser.SearchHint %>" spellcheck="false">
      <div class="clear">
        <i class="icon fa-14 xi-close xc-action"></i>
      </div>
      <ul id="fileSearchDropdown" class="list">
        <li><%= dicts.MenuTStr.RegexMatch %><span class="regMatch"></span></li>
        <li><%= dicts.MenuTStr.RegexContains %><span class="regContain"></span></li>
        <li><%= dicts.MenuTStr.GlobMatch %><span class="globMatch"></span></li>
        <li><%= dicts.MenuTStr.GlobContains %><span class="globContain"></span></li>
      </ul>
    </div>
    <!-- Icon Options -->
    <div class="iconSection">
      <!-- sort -->
      <span id="fileBrowserSort" class="xc-icon xc-action sort clickable" title="<%= dicts.MenuTStr.Sort %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <i class="icon xi-sort fa-17"></i>
      </span>
      <ul id="fileBrowserSortMenu" class="menu">
        <li data-sortkey="name">
          <span class="label"><%= dicts.common.Name %></span>
          <i class="icon xi-tick fa-12"></i>
        </li>
        <li data-sortkey="size">
          <span class="label"><%= dicts.common.Size %></span>
          <i class="icon xi-tick fa-12"></i>
        </li>
        <li data-sortkey="type">
            <span class="label"><%= dicts.common.Type %></span>
            <i class="icon xi-tick fa-12"></i>
        </li>
        <li class="cdate" data-sortkey="cdate">
          <span class="label"><%= dicts.common.DateCreated %></span>
          <i class="icon xi-tick fa-12"></i>
        </li>
        <li data-sortkey="mdate">
          <span class="label"><%= dicts.common.DateModified %></span>
          <i class="icon xi-tick fa-12"></i>
        </li>
      </ul>
      <!-- toggle view -->
      <span id="fileBrowserGridView" class="xc-icon xc-action gridView" data-toggle="tooltip" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SwitchToListView %>" data-container="body">
        <i class="icon xi-view-as-list-2 fa-15"></i>
      </span>
      <!-- refresh -->
      <span id="fileBrowserRefresh" class="xc-icon xc-action refresh" title="<%= dicts.common.Refresh %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <i class="icon xi-refresh fa-17"></i>
      </span>
    </div>
  </section>
  <section class="cardMain">
    <!-- File Browser Main Section -->
    <div id="fileBrowserMain" class="xc-grid leftMain gridView fileBrowserMain">
        <!-- Loading Sectoin -->
        <section class="loadingSection">
          <div class="waitingIcon"></div>
        </section>
        <section class="searchLoadingSection">
        </section>
        <!-- Main Content -->
        <section id="fileBrowserContainer" class="mainSection fileBrowserContainer">
          <!-- Titles -->
          <div class="titleSection">
            <div class="checkBox"></div>
            <div class="title gridIcon"></div>
            <!-- file name -->
            <div class="title fileName" data-sortkey="name">
              <span class="label"><%= dicts.common.Name %></span>
              <i class="icon xi-sort fa-15 xc-action"></i>
              <div class="colGrab"></div>
            </div>
            <!-- file date created -->
            <div class="title fileDate cdate" data-sortkey="cdate">
              <span class="label"><%= dicts.common.DateCreated %></span>
              <i class="icon xi-sort fa-15 xc-action"></i>
            </div>
            <!-- file date modified-->
            <div class="title fileDate mdate" data-sortkey="mdate">
              <span class="label"><%= dicts.common.DateModified %></span>
              <i class="icon xi-sort fa-15 xc-action"></i>
            </div>
            <!-- file size -->
            <div class="title fileSize" data-sortkey="size">
              <span class="label"><%= dicts.common.Size %></span>
             <i class="icon xi-sort fa-15 xc-action"></i>
            </div>
          </div>
          <div class="wrapper">
            <div id="innerFileBrowserContainer" class="clearfix innerFileBrowserContainer"></div>
          </div>
          <!-- Active File Path -->
          <div class="filePathBottom">
            <span class="content"></span>
          </div>
        </section>
        <!-- File Info -->
        <section id="fileInfoContainer" class="fileInfoContainer">
          <div id="fileInfoMid" class="fileInfoMid">
            <div class="infoTitle">
              <span><%= dicts.common.SelectedFiles %></span>
            </div>
            <div class="pickedFiles">
              <span class="clearAll xc-action">
                <%= dicts.common.ClearAll %>
              </span>
              <i class="qMark icon xi-unknown" data-toggle="tooltip" data-container="body" data-title="Import folders recursively" data-placement="top"></i>
              <span class="selectAll xc-action"><%= dicts.dsForm.Recursive %></span>
              <button class="addRegex btn btn-secondary">
                <%= dicts.common.AddRegex %>
              </button>
            </div>
            <div class="fileList">
              <ul class="pickedFileList"></ul>
            </div>
          </div>
          <div id="fileInfoBottom" class="fileInfoBottom">
            <div class="infoTitle">
              <span><%= dicts.common.ImportInto %>:</span>
            </div>              
            <div class="switchWrap">
              <div class="switchLabel highlighted">
                <%= dicts.common.OneDataset %>
              </div>
              <div class="xc-switch switch">
                <div class="slider"></div>
              </div>
              <div class="switchLabel">
                <%= dicts.common.MultiDatasets %>
              </div>
            </div>
            <div class="buttonSection">
              <button type="button" class="btn btn-submit confirm xc-disabled"><%= dicts.common.Next %></button>
            </div>
          </div>
        </section>
    </div>
  </section>
  include "fileBrowserMenu.html"
</div>
<!-- End File Browser -->
