<!-- File Browser -->
<div id="fileBrowser" class="cardContainer xc-hidden fileBrowser">
  <!-- File Browser Header -->
  <header class="cardHeader">
    <div class="title"><%= dicts.fileBrowser.header %></div>
  </header>
  <!-- File Browser Instruction -->
  <section class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.fileBrowser.instr %></div>
  </section>
  <!-- File Browser Menu Bar -->
  <section class="cardTopMain">
    <!-- Location -->
    <div class="label"><%= dicts.common.Location %>:</div>
    <!-- up -->
    <button id="fileBrowserUp" class="btn btn-small icon-up disabled" title="<%= dicts.fileBrowser.Up %>" data-toggle="tooltip" data-placement="top" data-container="body">
      <span class="icon"></span>
    </button>
    <div id="fileBrowserPath" class="dropDownList">
      <div class="defaultPath">nfs:///</div>
      <input class="text" spellcheck="false">
      <div class="iconWrapper" title="<%= dicts.fileBrowser.filePathHint %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <i class="icon xi-arrow-down"></i>
      </div>
      <ul id="fileBrowserPathMenu" class="list"></ul>
    </div>
    <!-- search section -->
    <div id="fileBrowserSearch" class="searchSection">
      <input type="text" placeholder="<%= dicts.fileBrowser.SearchHint %>" spellcheck="false">
      <div class="clear">
        <i class="icon fa-9 xi-close xc-action"></i>
      </div>
    </div>
    <!-- Icon Options -->
    <div class="iconSection">
      <!-- sort -->
      <button id="fileBrowserSort" class="btn btn-small sort clickable" title="<%= dicts.MenuTStr.Sort %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <i class="icon xi-sort fa-17"></i>
        <ul id="fileBrowserSortMenu" class="menu">
          <li data-sortkey="name">
            <span class="label"><%= dicts.common.Name %></span>
            <i class="icon xi-tick fa-12"></i>
          </li>
          <li data-sortkey="size">
            <span class="label"><%= dicts.common.Size %></span>
            <i class="icon xi-tick fa-12"></i>
          </li>
          <li data-sortkey="type">
              <span class="label"><%= dicts.common.Type %></span>
              <i class="icon xi-tick fa-12"></i>
          </li>
          <li data-sortkey="date">
            <span class="label"><%= dicts.common.Date %></span>
            <i class="icon xi-tick fa-12"></i>
          </li>
        </ul>
      </button>
      <!-- toggle view -->
      <button id="fileBrowserGridView" class="btn btn-small gridView" data-toggle="tooltip" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SwitchToListView %>" data-container="body">
        <i class="icon xi-list-view fa-15"></i>
      </button>
      <!-- refresh -->
      <button id="fileBrowserRefresh" class="btn btn-small refresh" title="<%= dicts.common.Refresh %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <i class="icon xi-refresh fa-17"></i>
      </button>
    </div>
  </section>
  <section class="cardMain">
    <!-- File Browser Main Section -->
    <div id="fileBrowserMain" class="xc-grid leftMain gridView fileBrowserMain">
        <!-- Loading Sectoin -->
        <section class="loadingSection">
          <div class="waitingIcon"></div>
        </section>
        <!-- Titles -->
        <section class="titleSection">
          <div class="title gridIcon"></div>
          <!-- file name -->
          <div class="title fileName" data-sortkey="name">
            <span class="label"><%= dicts.common.Name %></span>
            <i class="icon xi-sort fa-15 xc-action"></i>
          </div>
          <!-- file date -->
          <div class="title fileDate" data-sortkey="date">
            <span class="label"><%= dicts.common.DateModified %></span>
            <i class="icon xi-sort fa-15 xc-action"></i>
          </div>
          <!-- file size -->
          <div class="title fileSize" data-sortkey="size">
            <span class="label"><%= dicts.common.Size %></span>
           <i class="icon xi-sort fa-15 xc-action"></i>
          </div>
        </section>
        <!-- Main Content -->
        <section id="fileBrowserContainer" class="mainSection fileBrowserContainer">
          <div id="innerFileBrowserContainer" class="clearfix innerFileBrowserContainer"></div>
        </section>
    </div>
    <div id="fileBrowserPreview" class="rightMain xc-hidden">
      include "filePreviewer.html"
    </div>
  </section>
  <section class="cardBorder"></section>
  <!-- Button Section -->
  <section class="cardBottom">
    <button type="button" class="btn confirm"><%= dicts.common.NEXT %></button>
    <button type="button" class="btn btn-cancel cancel"><%= dicts.common.BACK %></button>
  </section>
  include "fileBrowserMenu.html"
</div>
<!-- End File Browser -->
