
<section id="dagList" class="xc-hidden dagList menuSection">
    <div class="iconSection">
        <i class="minimizeBtn icon xi-close"></i>
        <i class="uploadBtn icon xi-upload"></i>
    </div>
    <input id="dagbrowse" spellcheck="false" type="file" style="display: none" accept=".txt">
    <div class="dagListTitle">
      <header>
        <%= dicts.dataflow.dataflows %>
      </header>
    </div>
    <div class="mainSection" id="dagListSection">
        <ul class="dagListDetails dataFlowGroup listWrap"></ul>
    </div>
</section>
