
<div class="iconSection">
  <div id="dagUpload" class="action" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.dataflow.uploadHeader %>">
  <i class="icon xi-upload"></i>
  </div>
  <i class="minimizeBtn icon xi-close"></i>
  <i class="refreshBtn icon xi-refresh fa-17"></i>
</div>
<div class="titleSection no-selection">
  <header><%= dicts.dataflow.dataflows %> (<span class="numDF">0</span>)</header>
</div>
<div id="dagListSection" class="mainSection xc-fileListView">
  include "../util/fileListView.html"
</div>
