<div id="dataflowView" class="subPanel">
  <!-- Retina Uploader -->
  <div id="uploadDataflowCard" class="cardContainer">
    <div class="cardLocked"></div>
    <!-- RetinaUploader  Header -->
    <header class="cardHeader">
      <span class="title"><%= dicts.dataflow.uploadHeader %></span>
      <div class="close"><i class="icon xi-close fa-15"></i></div>
    </header>
    <!-- RetinaUploader Instruction -->
    <section class="cardInstruction">
      <i class="icon xi-warning"></i>
      <div class="text"><%= dicts.dataflow.uploadInstr %></div>
    </section>
    <!-- RetinaUploader Main Section -->
    <section class="cardMain">
      <div class="retinaUploader">
        <span class="text"><%= dicts.common.Location %>:</span>
        <input id="retinaPath" type="text" disabled>
        <input id="dataflow-browse" spellcheck="false" type="file" style="display: none">
        <button id="dataflow-fakeBrowse" class="btn"><%= dicts.common.BROWSE %></button>
      </div>
      <div class="retinaName">
        <span class="text"><%= dicts.dataflow.dfName %>:</span>
        <input id="dfName" type="text">
      </div>
      <div class="overwriteUdf">
        <div class="checkbox">
          <i class="icon xi-ckbox-empty"></i>
          <i class="icon xi-ckbox-selected"></i>
        </div>
        <span><%= dicts.dataflow.overwriteUdf %></span>
      </div>

    </section>
    <!-- Button Section -->
    <section class="cardBottom">
      <div class="buttonTooltipWrap" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SelectFile %>">
        <button type="button" class="btn confirm btn-disabled"><%= dicts.dataflow.upload %></button>
      </div>
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
    </section>
  </div>

  <div id="dfgViz" class="cardContainer">
    <!-- cardHeader -->
    <header class="cardHeader">
      <div class="leftSection">
        <h2 class="title"></h2>
        <div class="schedulesList"></div>
      </div>
      <!-- Retina Tab Section -->
      <div class="retTabSection no-selection hidden">
        <div class="retTab">
          <div class="tabWrap btn">
            <span class="retTitle"><%= dicts.sched.params %></span>
            <div class="caret">
              <i class="icon fa-10 xi-arrow-down"></i>
            </div>
          </div>
          <!-- retPopUp -->
          <div class="retPopUp retinaParameter">
            <div class="inputSection">
              <input class="newParam" type="text" placeholder="<%= dicts.sched.inputNewParam %>" spellcheck="false">
              <button class="btn iconBtn addParam">
                <i class="icon fa-18 xi-add-parameters"></i>
                <%= dicts.sched.newParam %>
              </button>
            </div>
            <div class="tableHeader">
              <div class="cell paramNameWrap"><%= dicts.sched.param %></div>
              <div class="cell paramValWrap"><%= dicts.sched.val %></div>
              <div class="cell paramActionWrap"><%= dicts.sched.action %></div>
            </div>
            <div class="tableContainer">
              <div id="retLists" class="tableWrapper"></div>
            </div>
          </div> 
          <!-- End of retPopUp -->
        </div>
      </div>
      <!-- End Of Retina Tab Section -->
    </header>
    <!-- End of cardHeader -->
    <div class="cardMain"></div>
  </div>
</div>