<div id="dataflowView" class="subPanel">
  <!-- Retina Uploader -->
  <div id="uploadDataflowCard" class="cardContainer">
    <div class="cardLocked"></div>
    <!-- RetinaUploader  Header -->
    <header class="cardHeader">
      <span class="title"><%= dicts.dataflow.uploadHeader %></span>
      <div class="close"><i class="icon xi-close fa-15"></i></div>
    </header>
    <!-- RetinaUploader Instruction -->
    <section class="cardInstruction">
      <i class="icon xi-warning"></i>
      <div class="text">
        <span><%= dicts.dataflow.uploadInstr %></span>
      </div>
    </section>
    <!-- RetinaUploader Main Section -->
    <section class="cardMain">
      <div class="retinaUploader">
        <span class="text"><%= dicts.common.Location %>:</span>
        <input id="retinaPath" type="text" disabled>
        <input id="dataflow-browse" spellcheck="false" type="file" style="display: none">
        <button id="dataflow-fakeBrowse" class="btn"><%= dicts.common.BROWSE %></button>
      </div>
      <div class="retinaName">
        <span class="text"><%= dicts.dataflow.dfName %>:</span>
        <input id="dfName" type="text">
      </div>
      <div class="overwriteUdf">
        <div class="checkbox">
          <i class="icon xi-ckbox-empty"></i>
          <i class="icon xi-ckbox-selected"></i>
        </div>
        <span><%= dicts.dataflow.overwriteUdf %></span>
      </div>

    </section>
    <!-- Button Section -->
    <section class="cardBottom">
      <div class="buttonTooltipWrap" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SelectFile %>">
        <button type="button" class="btn confirm btn-disabled"><%= dicts.dataflow.upload %></button>
      </div>
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
    </section>
  </div>

    <!-- Schedule -->
  <div id="newScheduleForm" class="scheduleForm cardContainer">
    <div class="cardLocked" data-original-title="<%= dicts.TooltipTStr.OnlyInOpMode %>" data-placement="bottom" data-container="body" data-toggle="tooltip"></div>
    <header class="cardHeader">
      <div class="title"><%= dicts.sched.newSched %></div>
      <div class="close"><i class="icon xi-close fa-15"></i></div>
    </header>
    <section class="cardInstruction">
      <i class="icon xi-info-circle"></i>
      <div class="text">
        <span><%= dicts.sched.schedInstr %></span>
      </div>
    </section>
    <section class="cardMain">
      <div class="formWrap">
        <!-- time section -->
        <div class="timeSection">
          <div class="label"><%= dicts.sched.startTime %>:</div>
          <div class="timeWrapper">
            <div class="datePickerPart">
              <div class="input-wrap">
                <input class="date" type="text" spellcheck="false">
              </div>
              <div class="icon-wrap">
                <i class="xi-schedules icon"></i>
              </div>
            </div>
            <div class="timePickerPart">
              <div class="input-wrap">
                <input class="time timePickerBox" type="text" spellcheck="false">
              </div>
              <div class="icon-wrap">
                <i class="xi-clock icon"></i>
              </div>
              <!-- Timepicker -->
              <div id="newScheduler-timePicker" class="timePicker">
                <div class="textSection">
                  <span class="text"><%= dicts.sched.hour %></span>
                  <span class="text"><%= dicts.sched.min %></span>
                </div>
                <div class="buttonSection">
                  <button class="btn increase hour">
                    <div class="bar"></div>
                    <div class="bar vertical"></div>
                  </button>
                  <button class="btn increase minute">
                    <div class="bar"></div>
                    <div class="bar vertical"></div>
                  </button>
                  <button class="btn increase ampm">
                    <div class="bar"></div>
                    <div class="bar vertical"></div>
                  </button>
                </div>
                <div class="inputSection">
                  <input class="hour" type="number" spellcheck="false">
                  <input class="minute" type="number" spellcheck="false">
                  <span class="ampm">PM</span>
                </div>
                <div class="buttonSection">
                  <button class="btn decrease hour">
                    <div class="bar"></div>
                  </button>
                  <button class="btn decrease minute">
                    <div class="bar"></div>
                  </button>
                  <button class="btn decrease ampm">
                    <div class="bar"></div>
                  </button>
                </div>
              </div>
              <!-- End Timepicker -->
            </div>
          </div>
        </div>
        <!-- frequency section -->
        <div class="frequencySection">
          <!-- part1 -->
          <div class="freq1">
            <div class="label"><%= dicts.sched.freq %>:</div>
            <div class="radioButtonGroup center">
              <div class="radioButton active" data-option="minute">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.sched.perMin %></div>
              </div>
              <div class="radioButton" data-option="hourly">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.sched.hourly %></div>
              </div>
              <div class="radioButton" data-option="daily">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.sched.daily %></div>
              </div>
              <div class="radioButton" data-option="weekly">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.sched.weekly %></div>
              </div>
              <div class="radioButton" data-option="biweekly">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.sched.biweekly %></div>
              </div>
              <!-- <div class="radioButton" data-option="monthly">
                <div class="radio">
                  <span class="dot"></span>
                </div>
                <div class="label">Monthly</div>
              </div> -->
            </div>
          </div>
        </div>
        <!-- End of frequency section -->
      </div>
    </section>
    <section class="cardBottom">
      <button id="newScheduleForm-save" type="button" class="btn confirm"><%= dicts.common.SAVE %></button>
      <button id="newScheduleForm-cancel" type="button" class="btn btn-cancel cancel"><%= dicts.common.CLEAR %></button>
    </section>
  </div>
  <div id="scheduleDetail" class="xc-hidden cardContainer">
    <header class="cardHeader">
      <div class="title">Schedule Detail</div>
      <div class="close"><i class="icon xi-close fa-15"></i></div>
    </header>
    <!-- <div id="scheduleInfos" class="cardTopMain"> -->
    <div class="mainArea cardMain">
    <div class="cardLocked"></div>
      <div class="tabArea">
        <div class="tab default active">
          <div class="iconWrap">
            <i class="icon xi-info-rectangle" title="" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Schedule information"></i>
          </div>
        </div>
        <div class="tab dfg">
          <div class="iconWrap">
            <i class="icon xi-dataflowgroup" title="" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Run information"></i>
          </div>
        </div>
        <!-- using last tab as placeholder -->
        <div class="tab xc-disabled">
        </div>
      </div>
      <div id="scheduleInfos">
        <div class="upperArea">
          <h2 class="heading textOverflow">Schedule Name</h2>
          <div class="defaultSection scheduleInfoSection">
            <div class="infoSection clearfix">
              <div class="group">
                <div class="column">
                  <div class="scheduleInfo created row">
                    <span class="name"><%= dicts.sched.created %></span>
                    <span class="text"></span>
                  </div>
                </div>
                <div class="column">
                  <div class="scheduleInfo modified row">
                    <span class="name"><%= dicts.sched.modified %></span>
                    <span class="text"></span>
                  </div>
                </div>
                <div class="column">
                  <div class="scheduleInfo nextRunInfo row">
                    <span class="name"><%= dicts.sched.nextRun %></span>
                    <span class="text">N/A</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="tabs">
                <div class="tab simpleModeTab active">
                  <span class="text">Simple Mode</span>
                </div>
                <div class="tab advancedModeTab">
                  <span class="text">Advanced Mode</span>
                </div>
            </div>
          </div>
          <div id="scheduleTable" class="scheduleInfoSection xc-hidden">
            <section class="titleSection">
              <div class="titleWrapper clearfix">
                <div class="title time"><%= dicts.sched.runtime %></div>
                <div class="title last"><%= dicts.sched.last %></div>
                <div class="title status"><%= dicts.sched.status %></div>
                <div class="title outputLocation"><%= dicts.sched.outputLocation %></div>
              </div>
            </section>
            <section class="mainSection clearfix">
                <div class="content timeContent"><%= dicts.sched.noRun %></div>
                <div class="content lastContent"><%= dicts.sched.noRun %></div>
                <div class="content statusContent"><%= dicts.sched.noRun %></div>
                <div class="content outputLocationContent"><%= dicts.sched.noRun %></div>
            </section>
          </div>
        </div>
        <div class="border">
          <div id="left-border"></div>
          <div id="middle-left-border" class="active"></div>
          <div id="middle-right-border"></div>
          <div id="right-border"></div>
        </div>
        <div class="lowerArea">
          <div id="modifyScheduleForm" class="scheduleForm xc-hidden">
            <div class="formWrap simpleMode">
              <div class="timeSection">
                <div class="label"><%= dicts.sched.startTime %>:</div>
                <div class="timeWrapper">
                  <div class="datePickerPart">
                    <div class="input-wrap">
                      <input class="date" type="text" spellcheck="false">
                    </div>
                    <div class="icon-wrap">
                      <i class="xi-schedules icon"></i>
                    </div>
                  </div>
                  <div class="timePickerPart">
                    <div class="input-wrap">
                      <input class="time timePickerBox" type="text" spellcheck="false">
                    </div>
                    <div class="icon-wrap">
                      <i class="xi-clock icon"></i>
                    </div>
                    <!-- Timepicker -->
                    <div id="modScheduler-timePicker" class="timePicker">
                      <div class="textSection">
                        <span class="text"><%= dicts.sched.hour %></span>
                        <span class="text"><%= dicts.sched.min %></span>
                      </div>
                      <div class="buttonSection">
                        <button class="btn increase hour">
                          <div class="bar"></div>
                          <div class="bar vertical"></div>
                        </button>
                        <button class="btn increase minute">
                          <div class="bar"></div>
                          <div class="bar vertical"></div>
                        </button>
                        <button class="btn increase ampm">
                          <div class="bar"></div>
                          <div class="bar vertical"></div>
                        </button>
                      </div>
                      <div class="inputSection">
                        <input class="hour" type="number" spellcheck="false">
                        <input class="minute" type="number" spellcheck="false">
                        <span class="ampm">PM</span>
                      </div>
                      <div class="buttonSection">
                        <button class="btn decrease hour">
                          <div class="bar"></div>
                        </button>
                        <button class="btn decrease minute">
                          <div class="bar"></div>
                        </button>
                        <button class="btn decrease ampm">
                          <div class="bar"></div>
                        </button>
                      </div>
                    </div>
                    <!-- End Timepicker -->
                  </div>
                </div>
              </div>
              <!-- frequency section -->
              <div class="frequencySection">
                <!-- part1 -->
                <div class="freq1">
                  <div class="label"><%= dicts.sched.freq %>:</div>
                  <div class="radioButtonGroup center">
                    <div class="radioButton active" data-option="minute">
                      <div class="radio">
                        <i class="icon xi-radio-selected"></i>
                        <i class="icon xi-radio-empty"></i>
                      </div>
                      <div class="label"><%= dicts.sched.perMin %></div>
                    </div>
                    <div class="radioButton" data-option="hourly">
                      <div class="radio">
                        <i class="icon xi-radio-selected"></i>
                        <i class="icon xi-radio-empty"></i>
                      </div>
                      <div class="label"><%= dicts.sched.hourly %></div>
                    </div>
                    <div class="radioButton" data-option="daily">
                      <div class="radio">
                        <i class="icon xi-radio-selected"></i>
                        <i class="icon xi-radio-empty"></i>
                      </div>
                      <div class="label"><%= dicts.sched.daily %></div>
                    </div>
                    <div class="radioButton" data-option="weekly">
                      <div class="radio">
                        <i class="icon xi-radio-selected"></i>
                        <i class="icon xi-radio-empty"></i>
                      </div>
                      <div class="label"><%= dicts.sched.weekly %></div>
                    </div>
                    <div class="radioButton" data-option="biweekly">
                      <div class="radio">
                        <i class="icon xi-radio-selected"></i>
                        <i class="icon xi-radio-empty"></i>
                      </div>
                      <div class="label"><%= dicts.sched.biweekly %></div>
                    </div>
                    <!-- <div class="radioButton" data-option="monthly">
                      <div class="radio">
                        <span class="dot"></span>
                      </div>
                      <div class="label">Monthly</div>
                    </div> -->
                  </div>
                </div>
                <!-- part2 -->
                <!--
                <div class="freq2 inActive">
                  <div class="radioWrap" data-option="dayPerMonth">
                    <div class="radio">
                      <span class="dot"></span>
                    </div>
                    <div class="label">The</div>
                  </div>
                  <div class="dropDownList radix">
                    <input class="text" value="First" disabled spellcheck="false">
                    <div class="iconWrapper">
                      <i class="icon xi-arrow-down"></i>
                    </div>
                    <ul class="list">
                      <li>First</li>
                      <li>Second</li>
                      <li>Third</li>
                      <li>Fourth</li>
                      <li>Last</li>
                    </ul>
                  </div>
                  <div class="dropDownList day">
                    <input class="text" value="Sunday" disabled spellcheck="false">
                    <div class="iconWrapper">
                      <i class="icon xi-arrow-down"></i>
                    </div>
                    <ul class="list">
                      <li>Sunday</li>
                      <li>Monday</li>
                      <li>Tuesday</li>
                      <li>Wednesday</li>
                      <li>Thursday</li>
                      <li>Friday</li>
                      <li>Saturday</li>
                    </ul>
                  </div>
                  <div class="textSection">
                    <span class="text">of every month</span>
                  </div>
                </div> -->
              </div>
               <!-- End of frequency section
              <div class="recurSection">
                <div class="label"><%= dicts.sched.numRun %>:</div>
                <input type="number" spellcheck="false" placeholder="<%= dicts.sched.numRunHint %>">
                <input type="number" spellcheck="false">
              </div> -->
            </div>

            <div class="formWrap advancedMode xc-hidden">
              <div class="instruction">
                <i class="icon xi-info-circle"></i>
                <div class="text">
                  <span>
                    This field allows the donec viverra eleifend lacus, vitae ullamcorper metus. Lorem ipsum dolor sit
                    amet, consectetur adipiscing edit. Proin vestibulum varius dolor vitae dignissim.
                  </span>
                </div>
              </div>
              <div class="scheduleSection">
                <div class="leftArea">
                  <div class="scheduleLabel">Schedule:</div>
                  <div class="input-wrap">
                    <input id="cronScheduler" spellcheck="false">
                    <button id="modScheduleForm-simulate" type="button" class="btn confirm">SIMULATE</button>
                  </div>
                </div>
                <div class="rightArea">
                  <div class="column">
                    <div class="scheduleInfo modified row">
                      <span class="name">Last Run</span>
                      <span class="text"></span>
                    </div>
                    <div class="nextRunInfo row">
                      <span class="name">Next Run</span>
                      <span class="text"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cardBottom">
      <div class="tabArea"></div>
      <div class="buttonArea">
        <button id="modScheduleForm-save" type="button" class="btn confirm"><%= dicts.common.SAVE %></button>
        <button id="modScheduleForm-cancel" type="button" class="btn btn-cancel cancel"><%= dicts.common.REVERT %></button>
        <button id="modScheduleForm-delete" type="button" class="btn confirm">
          <div class="trash">
            <i class="icon xi-trash"></i>
          </div>
          <div class="trash-info">
            <%= dicts.common.DELETE %>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!-- Dataflow -->
  <div id="dfgViz" class="cardContainer">
    <!-- cardHeader -->
    <header class="cardHeader">
      <div class="leftSection">
        <h2 class="title"></h2>
      </div>
      <!-- Retina Tab Section -->
      <div class="retTabSection no-selection hidden">
        <div class="retTab">
          <div class="tabWrap btn">
            <span class="retTitle"><%= dicts.dataflow.params %></span>
            <div class="caret">
              <i class="icon fa-10 xi-arrow-down"></i>
            </div>
          </div>
          <!-- retPopUp -->
          <div class="retPopUp retinaParameter">
            <div class="inputSection">
              <input class="newParam" type="text" placeholder="<%= dicts.dataflow.inputNewParam %>" spellcheck="false">
              <button class="btn iconBtn addParam">
                <i class="icon fa-18 xi-add-parameters"></i>
                <%= dicts.dataflow.newParam %>
              </button>
            </div>
            <div class="tableHeader">
              <div class="cell paramNameWrap"><%= dicts.dataflow.param %></div>
              <div class="cell paramValWrap"><%= dicts.dataflow.val %></div>
              <div class="cell paramActionWrap"><%= dicts.dataflow.action %></div>
            </div>
            <div class="tableContainer">
              <div id="retLists" class="tableWrapper"></div>
            </div>
          </div>
          <!-- End of retPopUp -->
        </div>
      </div>
      <!-- End Of Retina Tab Section -->
    </header>
    <!-- End of cardHeader -->
    <div class="cardMain"></div>
    <ul class="menu dagDropDown">
        <li class="createParamQuery"><%= dicts.MenuTStr.CreateParamQuery %></li>
        <li class="showExportCols"><%= dicts.MenuTStr.ShowExportCols %></li>
    </ul>
    <div id="exportColPopup" class="schemaPopup">
      <div class="title">
        <span class="tableName"></span>
        <span class="numCols" title=""></span>
      </div>
      <div class="heading">
          <div class="field">Columns</div>
          <div class="sample"></div>
      </div>
      <ul></ul>
    </div>
  </div>


</div>