<section id="dataflowInfoPanel" class="menuSection">
    <div class="topSection">
        <div class="titleSection">
            <header class="dataflowName">Dataflow</header>
        </div>
        <!-- <div class="iconSection">
            <i class="closeBtn icon xi-close"></i>
        </div> -->
    </div>
    <div class="mainSection">
        <div class="row mainRow configRow collapsible">
            <div class="rowHeading">
                <!-- <i class="icon xi-info-circle-outline"></i> -->
                <!-- <span class="label"> Information</span> -->
            </div>
            <div class="rowSection overallSection prettyJson">
                Select a dataflow to view detailed statistics.
            </div>
        </div>
    </div>
</section>