<section class="menuSection dfgList">
  <div class="iconSection">
    <!-- upload dataflow button -->
    <div id="uploadDataflowButton" class="action" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.dataflow.uploadHeader %>">
      <i class="icon xi-upload"></i>
    </div>
    <i class="minimizeBtn icon xi-close fa-17"></i>
  </div>
  <div class="titleSection no-selection">
    <header>
      <span><%= dicts.sched.dfgs %> (<span class="numGroups">0</span>)</span>
    </header>
  </div>
  <div class="listSection mainSection"></div>			
</section>
