
/* ========== Dag ========== */
.dagArea {
    .size(100%, ~"calc(100% - 10px)");
    overflow: auto;

    .legendArea {
        display: inline-block;
        .size(355px, 35px);
        background-color: rgba(255,255,255, 0.6);
        padding: 3px 0px 0px 24px;
        font-size: 11px;
        color: @color-font-greyish-brown;
        font-weight: 700;


        .infoBox {
            .position(relative, @top: -3px, @left: -26px);
            .size(@width:30px, @height: 25px);
            padding-left: 5px;
            background-color: @color-bg-dusk-blue;
            border-bottom-right-radius: 3px;
            display: inline-block;
            z-index: @z-index-dfPanel + 1;
            float: left;
            .hint .icon {
                font-size: 16px;
                padding-top: 2px;
                padding-left: 2px;
            }
        }
        .descriptionArea {
            pointer-events: none;
        }
    }

    .descriptionArea {
        position: relative;
        display: inline-block;
        height: 100%;
        float: left;
        margin-right: 15px;
        white-space: nowrap;

        &:last-child {
            margin-right: 0px;
        }

        .icon {
            .position(absolute, @top: 6px, @left: 4px);
            font-size: 9px;
            color: @color-white;
        }
        .legendIcon {
            float: left;
        }

        .text {
            margin-left: 5px;
            line-height: 20px;
            white-space: nowrap;
        }

        .dataStoreIcon {
            margin-top: 2px;
            width: 16px;
            height: 16px;
            .rounded(1px);
        }

        .operationType {
            margin-top: 0px;
            width: 64px;
            height: 21px;
            border-radius: 2px;
            .dagIcon {
                width: 12px;
            }
        }
    }

    .datasetArea {
        .text {
            margin-left: 9px;
        }
    }

    .tableArea {
        .dagTableIcon {
            .size(18px, 18px);
            .rounded(2px);
            background: @color-white;
            top: 0px;
            left: 0px;
        }
        .icon {
            .position(@top: 0px, @left: 0px);
            color: @color-bg-select-blue;
            font-size: 18px;
        }
    }

    .operationArea {
        .operationType {
            position: static;
            cursor: auto;
        }
    }
}

.dagTableIcon {
    .size(@width: 25px, @height: 25px);
    position: relative;
    left: 5px;
    top: 7px;
    background-color: @color-white;
    .rounded(3px);
    .transition(box-shadow 0.3s);
}

.dagTable {
    .icon {
        color: @color-bg-select-blue;
    }
    &:hover {
        .icon {
            color: @color-bg-btn-hover-blue;
        }
        .dataStoreIcon {
            background-color: @color-bg-btn-hover-blue;
        }
        &.Cleaned, &.Dropped {
            .dataStoreIcon {
                background-color: @color-bg-white-five;
            }
        }
    }

    &.selected, &.editing, &.tempFocused {
        .dagTableIcon, .dataStoreIcon {
            box-shadow: 0px 0px 10px 4px @color-dag-glowing;
        }
    }
}

.dataStoreIcon {
    display: inline-block;
    .size(26px, 26px);
    .transform(rotate(-45deg));
    .rounded(2px);
    background-color: @color-bg-select-blue;
}

.dagIcon {
    .size(@width: 20px, @height: 100%);
    background-color: @color-bg-pinkish-grey;
    color: @color-white;
    float: left;
}

.operationType {
    .position(absolute);
    .size(@width: 100px, @height: 32px,
          @max-width: 119px, @max-height: 70px);
    background-color: @color-bg-white-five;
    line-height: 30px;
    margin: 0;
    border: 1px solid @color-bg-pinkish-grey;
    .rounded;
    overflow: hidden;
    .transition(0.3s box-shadow);
    z-index: 1; // needed for IE or click doesn't work
}

.dagWrap {
    // .position(relative); // not sure if we need it to be relative
    margin-bottom: 10px;
    border: 1px solid transparent;

    &.selected {
        box-shadow: inset 0px 0px 9px 0px @color-border-softBlue, 0px 1px 4px 0px @color-border-softBlue;
        border: 1px solid @color-border-select-blue;

        .header {
            border-bottom: 1px solid @color-font-select-blue;
        }
        .tableTitleArea {
            color: @color-font-select-blue;
        }

        .headerTable {
            .tableTitle {
                color: @color-font-select-blue;
            }
        }
    }

    &.inActive {
        display: none;
    }

    &.locked {
        .addDataFlow, .editBtn {
            .btn-disabled;
        }
    }

    &.unsavable, &.error {
        .saveImageBtn, .newTabImageBtn {
            .xc-disabled;
        }
    }

    &.building {
        display: none !important;
    }

    &.rerunning {
        .xc-disabled;
    }
    .errorMsg {
        padding: 30px;
        text-align: center;
    }

    .header {
        margin: 15px 65px 0px 15px;
        border-bottom: 1px solid @color-border-pinkish-grey2;
    }

    .infoIcon {
        float: left;
        margin-right: 7px;
        background-color: transparent;
        height: 21px;
        width: 21px;
        line-height: 20px;
        margin-top: 2px;
        cursor: initial;
        .icon {
            color: @color-bg-select-blue;
            line-height: 20px;
        }
    }

    .tableTitleArea {
        display: inline-block;
        float: left;
        margin-top: 2px;
        min-width: ~"calc(100% - 400px)";

        .tableName {
            display: inline-block;
            background: none;
            .text-selection;
            min-width: ~"calc(100% - 100px)";
        }
    }

    .retinaArea {
        display: block;
        float: right;
        margin-top: -5px;
        > .btn {
            float: right;
            margin-bottom: 5px;
            margin-left: 7px;
        }

        .addDataFlow {
            .icon {
                font-size: 22px;
            }
        }
        .runBtn, .endEdit {
            display: none;
        }
        .runBtn, .editBtn {
            .icon {
                font-size: 16px;
            }
        }

        .editBtn {
            // display: none !important; // XXX unhide when dataflow editing is ready!
        }
    }

    .dagImageWrap {
        .size(@height: ~"calc(100% - 54px)");
        overflow-x: auto;
        padding-left: 10px;
    }

    .dagImage {
        .position(relative);
        overflow: visible;
        display: block;
        float: left;
        margin-left: 30px;
        margin-top: 10px;
        padding: 0 30px 0px 0;
    }

    .columnOriginInfo {
        position: fixed;
        display: none; // xxx temporarily disabled
    }

    .dagTableTip {
        background-color: @color-bg-white-three;
        line-height: 12px;
        .horizontal-align;
        .position(absolute, @top: -23px);
        white-space: nowrap;
        border: 1px solid @color-bg-unselect-gray;
        font-size: 10px;
        padding: 1px 4px 2px;
        .rounded(2px);
        margin-left:  -3px;
        text-align: left;

        > div {
            .flex-display;
            .justify-content(space-between);
        }

        &.error {
            color: @color-error-border;
        }

        &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-top-color: @color-bg-white-three;
            border-width: 6px;
            margin-left: -6px;
        }
        &:before {
            border-color: transparent;
            border-top-color: @color-bg-unselect-gray;
            border-width: 7px;
            margin-left: -7px;
        }
    }
}



.dagDropDown {
    .size(@width: 210px);
}