#dagViewContent {
    padding: 0 0 0 0;
}

#dagViewBar {
    .flex-direction(row);
    color: #44515c;

    // TODO: move to constants.less when colors are finalized
    @color-title: #849CB0;
    @color-border-bar: #849CB0;
    @color-connector: #BBC7D1;
    @color-play: #49DAA0;
    @color-stop: #FF6E57;
    background-color: @color-bg-topBarGray2;
    box-shadow: 0px 0.25px 0px @color-border-bar;
    z-index: 0;
    min-height: @height-topBar;
    max-height: 50px;

    &.locked {
        .run, .stop, .undo, .redo {
            pointer-events: none;
            opacity: 0.5;
        }
    }

    #dagViewTitle {
        color: @color-title;
    }

    .topButtons {
        float: right;
        .flex-display;
        height: 100%;
    }

    .topButton {
        cursor: pointer;
        padding: 0px 5px;

        .icon {
            .vertical-align;
            opacity: @opacity-unhover;
            color: @color-border-bar;
            font-size: 18px;
        }

        &:hover {
            .icon {
                opacity: @opacity-hover;
            }
        }

        &.run {
            .icon {
                color: @color-play;
            }
        }
        &.stop {
            .icon {
                color: @color-stop;
            }
        }

        &.disabled {
            cursor: not-allowed;
            .icon {
                color: @color-connector;
            }
        }
        &.repeatable {
            cursor: pointer;
        }
        &.locked {
            cursor: not-allowed;
            .icon {
                color: @color-connector;
            }
        }
    }

    .divider {
        height: 25px;
        width: 1px;
        margin: 0px 5px;
        .vertical-align;
        background-color: @color-border-bar;
    }
}

#dagView {
    .flex-display;
    .flex-direction(column);
    color: #44515c;
    height: 100%;

    // TODO: move to constants.less when colors are finalized
    @color-border-bar: #D4DCE3;
    @color-border-operator: #849CB0;
    @color-connector: #BBC7D1;
    @operator-height: 28px;
    @operator-width: 90px;

    .categoryBar {
        @category-height: 40px;
        @icon-height: 22px;
        @search-width: 140px;

        .size(@min-height: @category-height);
        background-color: @color-bg-topBarGray2;
        box-shadow: 0px 0.25px 0px @color-border-operator;
        line-height: @category-height;
        .flex-display;

        &.scrollable {
            .searchArea {
                box-shadow: 3px 0px 2px -2px rgba(0, 0, 0, 0.1);
            }
            .categoryScroll {
               .flex-display;
            }
        }

        .searchArea {
            padding: 7px 4px 0px 10px;

            .searchBox {
                min-width: @search-width;
            }

            .searchInput {
                float: left;
                .size(@height: 25px, @width: @search-width - 25px);
                font-size: 13px;
                color: #44515c;
                border-color: @color-border-softGray;
                background-color: @color-white;
                padding: 0 6px;
            }
            .searchIcon {
                float: left;
                .size(25px, 25px);
                font-size: 14px;
                line-height: 25px;
                box-sizing: border-box;
                border: 1px solid @color-border-softGray;
                border-left: none;
                text-align: center;
                background-color: @color-white;
            }

            .list {
                min-width: @search-width - 2px;
                .position(@top: 32px, @left: 11px);
                .font(@size: 12px);
            }
        }

        .categoryScroll {
            display: none;
            min-width: 50px;
            .position(absolute, @right: 0px);
            box-shadow: -3px 0 2px -2px rgba(0, 0, 0, 0.1);
            .icon {
                width: 50%;
                font-size: 14px;
                line-height: @category-height;
                text-align: center;
                color: @color-font-edge;
                cursor: pointer;
            }
        }

        .categoryWrap {
            overflow: hidden;
            margin-bottom: -1px;
            margin-right: 50px;
        }

        .categories {
            .flex-display;
        }

        .category {
            padding: 4px 10px;
            margin: 4px 5px 0px;
            .flex-display;
            height: 30px;;
            line-height: 22px;
            font-size: 13px;
            position: relative;
            top: 1px;
            cursor: pointer;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }

            &.active {
                height: @category-height - 5px;
                background-color: @color-white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;

                .text {
                    text-shadow: 0px 0px #222222;
                }
            }

            .categoryIcon {
                .size(@icon-height,@icon-height);
                border-radius: 100%;
                margin-right: 8px;
                color: @color-white;
                font-size: 12px;
                line-height: @icon-height;
                text-align: center;
            }

            &.category-favorites {
                .icon {
                    background-color: @color-operator-favorites;
                }
            }
            &.category-in {
                .icon {
                    background-color: @color-operator-in;
                }
            }
            &.category-out {
                .icon {
                    background-color: @color-operator-out;
                }
            }
            &.category-value {
                .icon {
                    background-color: @color-operator-value;
                }
            }
            &.category-operations {
                .icon {
                    background-color: @color-operator-operations;
                }
            }
            &.category-column {
                .icon {
                    background-color: @color-operator-column;
                }
            }
            &.category-join {
                .icon {
                    background-color: @color-operator-join;
                }
            }
            &.category-set {
                .icon {
                    background-color: @color-operator-set;
                }
            }
            &.category-SQL {
                .icon {
                    background-color: @color-operator-SQL;
                }
            }
            &.category-extensions {
                .icon {
                    background-color: @color-operator-extensions;
                }
            }
            &.category-custom {
                .icon {
                    background-color: @color-operator-custom;
                }
            }
        }

        .spacer {
            // padding right or margin right doesn't work within flexbox
            // so using an actual div to create space
            min-width: 10px;
        }
    }
    .operatorBar {
        .size(@height: 50px, @min-height: 50px);
        background: @color-white;
        box-shadow: 0px 0.25px 0px @color-border-operator;
        z-index: 2;

        .operatorWrap {
            height: 50px;
            overflow: hidden;
        }

        .category {
            display: none;

            &.active {
                display: block;
            }
        }

        .operator {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            float: left;

            .statusIcon {
                display: none;
            }
        }
    }
    .operator {
        height: @operator-height;
        position: relative;

        @iconArea-width: 20px;
        @border-width: 2px;

        .main {
            .size(@width: @operator-width, @height: @operator-height);
            line-height: @operator-height - @border-width;
            border-radius: (@operator-height / 2) - @border-width;
            border: 1px solid  @color-border-operator;
            font-size: 11px;
            .cursor-move();
            margin-left: 6px;
            margin-right: 6px;
            overflow: hidden;
            position: relative; // places main section in front of connectors
            z-index: 1;
            background-color: @color-white;
        }

        &.locked {
            opacity: 0.6;
        }

        .opTitle, .iconArea, .icon, .opSubTypeTitle {
            pointer-events: none;
        }

        .nodeid {
            font-size: 8px;
            text-align: center;
            width: 100px;
        }

        .descriptionIcon {
            cursor: pointer;
        }

        // &.selected, &.dragSelected {
        &.selected , &.selecting {
            .main, .iconArea, .statusIcon{
                stroke: #55c4de;
                stroke-width: 2;
            }
        }

        &.lineageSelected, &.lineageStart {
            .main, .iconArea, .statusIcon{
                stroke: #55c4de;
                stroke-width: 3;
            }
        }

        &.selecting {
            .main {
                fill: #F8f8f8;
            }
        }

        &.dropAvailable {
            .main, .iconArea {
                // border-color: green;
                // box-shadow: 0px 0px 0px 1p green;
            }
        }
        &.noDrag {

        }
    }

    @inConnectorSize: 8px;
    @outConnectorSize: 6px;

    .connector {
        &.in {
            background-color: @color-connector;
            border-radius: 1px;
            border: 1px solid @color-border-operator;
            cursor: pointer;

            &:hover {
                fill: @color-border-operator;
            }
        }
        &.out {
            position: relative;
            cursor: pointer;

            &:hover {
                fill: @color-border-operator;
            }
        }
    }

    .operator {
        &.state-unused {
            .statusIcon {
                fill: @color-white;
            }
        }
        &.state-Configured {
            .statusIcon {
                fill: #fff78d;
            }

        }
        &.state-Complete {
            .statusIcon {
                fill: #6ef2a6;
            }
        }
        &.state-Error {
            .statusIcon {
                fill: @color-background-error;
            }
        }
    }

    .tabBar {
        .size(@min-height: 24px);
        background-color: @color-bg-white-eight;
    }

    .dataflowWrap {
        .flex(1 1 auto);
        .flex-display;
        background-color: @color-white;
        position: relative;
        overflow: auto;

        .dataflowArea {
            min-height: 100%;
            min-width: 100%;
            width: 100%;
            position: relative;
            display: none;
            background-size: 10px;
            overflow: auto;

            &.active {
                display: block;
            }

            &.drawing {
                pointer-events: none;
            }
        }

        .dataflowAreaWrapper {
            min-height: 100%;
            min-width: 100%;
            height: 100%;
            width: 100%;
            background: transparent url("../../images/dagIcons/dag-backgroundA.png") repeat left top;
        }

        .operator {
            position: absolute;
        }
    }
    .dragContainer {
        position: absolute;
        z-index: 2;
        pointer-events: none;
        opacity: 0.7;
        transform-origin: top left;

        .innerDragContainer {
            width: 100%;
            height: 100%;
        }

        svg, .innerDragContainer {
            position: absolute;
            top: 0;
            left: 0;
            overflow: visible;
        }

        svg > .connector.out {
            transform: translate(-95px, -8px);
        }

        .operator {
            position: absolute;
        }
        &.isOffScreen {
            .operator {
                .main {
                    background-color: pink;
                }
            }
        }

        &.clone {
            .statusIcon {
                display: none;
            }
        }
    }

    .operatorSvg {
        transform-origin: top left;
        pointer-events: none;
        .operator {
            pointer-events: auto;
        }
    }

    .edgeSvg {
        transform-origin: top left;
        pointer-events: none;
        .edge {
            pointer-events: auto;
        }
    }

    .commentArea {
        transform-origin: top left;
        overflow: visible;
        .position(absolute, @left: 0px, @top: 0px);
    }

    .comment {
        position: absolute;
        border: 1px solid @color-border-operator;
        min-width: 20px;
        min-height: 20px;
        overflow: visible;
        background: @color-white;
        .cursor-move();
        transform-origin: top left;

        &.focused {
            border: 1px solid #55c4de;
            outline: 1px solid #55c4de;
            box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);
            z-index: 1;
            .ui-resizable-handle {
                z-index: 1 !important;
            }
        }

        // &.selected, &.dragSelected {
        &.selected , &.selecting {
            border: 1px solid #55c4de;
        }

        &.selecting {
            background-color:  #F8f8f8;
            textarea {
                background-color:  #F8f8f8;
            }
        }

        textarea {
            width: ~"calc(100% - 12px)";
            height: ~"calc(100% - 12px)";
            margin: 6px;
            resize: none;
            overflow: auto;
            font-size: 12px;
            word-wrap: normal;
            color: #44515c;
            .input-placeholder(@color-lightSilverChalice);

            &:focus {
                outline: none;
            }
        }
        .ui-resizable-handle {
            z-index: 0 !important;
        }
    }

    .operatorSvg, .edgeSvg,  .secondarySvg {
        overflow: visible;
        .position(absolute, @top: 0px, @left: 0px);

        .edge {
            cursor: pointer;

            .visibleLine {
                stroke: @color-font-edge;
                stroke-width: 1px;
                fill: none;
                stroke-linecap: round;
            }

            .invisibleLine {
                stroke: transparent;
                stroke-width: 9px;
                fill: none;
            }


            &:hover, &.selected {
                .visibleLine {
                    stroke: #555555;
                    stroke-width: 2px;
                }
                .connectorIndex {
                    fill: #444444;
                    font-size: 13px;
                }
            }

            &.tempEdge {
                opacity: 0.5;
                .visibleLine {
                    stroke-dasharray: 5, 5;
                }
            }
            &.lineageSelected {
                .visibleLine {
                    stroke: #55c4de;
                    stroke-width: 2px;
                }
            }
        }
    }

    .secondarySvg {
        // used and removed during connector drag
        .position(absolute, 0, 0);
        z-index: 1;
        transform-origin: top left;
    }

    .dagTableTip {
        background-color: @color-bg-white-three;
        line-height: 12px;
        .position(absolute);
        white-space: nowrap;
        border: 1px solid @color-bg-unselect-gray;
        font-size: 10px;
        padding: 1px 4px 2px;
        .rounded(2px);
        margin-left:  -3px;
        text-align: left;

        > div {
            .flex-display;
            .justify-content(space-between);
        }

        &.error {
            color: @color-error-border;
        }

        &:after, &:before {
            top: 100%;
            left: 50%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
        }

        &:after {
            border-color: transparent;
            border-top-color: @color-bg-white-three;
            border-width: 6px;
            margin-left: -6px;
        }
        &:before {
            border-color: transparent;
            border-top-color: @color-bg-unselect-gray;
            border-width: 7px;
            margin-left: -7px;
        }
    }
}

/* ========== Dag Table Viewer Tabs ========== */
#dagViewTableArea {
    .flex(0 0 30%);
    .size(@height: 30%);
    @tableBar-h: 30px;
    @div-h: 20px;

    .refreshIcon {
        width: 75%;
        height: 25%;
        top: unset;
        left: unset;
    }

    &.error {
        .tabaleBar {
            display: none
        }

        .errorSection {
            display: block;
        }
    }

    &.error, &.loading {
        .searchbarArea, .menuArea, .rowInputArea {
            pointer-events: none;
            opacity: @opacity-disabled;
        }
    }

    &.dataset {
        .rowInputArea, .tableMenu, .skewInfoArea {
            display: none;
        }
    }

    .errorSection {
        .size(100%, 100%);
        display: none;
    }

    .tableBar {
        .size(@height: @tableBar-h);
        background-color: @color-bg-white-seven;
        padding: 5px 15px 5px 18px;

        .searchbarArea {
            .size(@height: @div-h, @max-width: 244px, @min-width: 20%);
            float: left;

            input {
                .size(@height: @div-h);
                padding-left: 20px;
            }

            .icon {
                .font(@size: 10px);
                .position(absolute, @top: 6px, @left: 5px);
            }
        }

        .menuArea {
            .size(@height: @div-h);
            float: left;
            margin-left: 10px;

            .option {
                .size(@width: 80px, @height: @div-h);
                float: left;
                background-color: @color-bg-white-two;
                .font(@size: 12px, @line-height: @div-h);
                text-align: center;
            }
        }

        .skewInfoArea {
            .position(relative);
            cursor: pointer;
            float: right;
            border-right: 1px solid @color-border-warmGray;
            padding: 0 10px;
            margin-right: 10px;
        }

        .rowInputArea {
            .size(@min-width: 60px, @height: @div-h);
            float: right;
            margin-top: 0;
            margin-right: 10px;
            border: none;
            padding: 0;

            input {
                background-color: @color-white;
                .size(@height: @div-h);
            }
        }

        .close {
            .size(@div-h, @div-h);
            float: right;
            background-color: @color-bg-body-gray;
            .rounded(3px);

            .icon {
                .size(@div-h, @div-h);
                display: block;
                .font(@size: 8px);

                &:before {
                    .size(8px, 8px);
                    display: block;
                    .center-align;
                }
            }
        }
    }

    .viewWrap {
        .size(@height: ~"calc(100% - @{tableBar-h})", @width: 100%);
        overflow-x: auto;
        overflow-y: hidden;
    }

    .xcTbodyWrap {
        .size(@max-height: 100%);
    }

    .xcTable .header {
        .position(@top: 0px);
    }

    .tableCover {
        top: @height-xcColHeaderOuter !important;
    }

    .jsonModalOpen {
        .header {
            z-index: @z-index-modalBackground - 2 !important;
        }

        th:first-child .header {
            z-index: @z-index-modalBackground - 1 !important;
        }

        .idWrap {
            z-index: @z-index-modalBackground - 2 !important;
        }
    }
}

/* ========== Dag Tabs ========== */

#dagTabSectionTabs {
    @tabHeight: 24px;
    .size(@height: @tabHeight);
    width: 100%;
    min-width: 100%;
    display: inline-flex;
    flex-wrap: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space:nowrap;
    z-index: 1;
    background-color: @color-bg-topBarGray2;

    .scrollArea {
        position: absolute;
        width: @tabHeight;
        background-color: @color-bg-topBarGray2;
        opacity: 0;
        z-index: 1;
        margin-top: 1px; // to not interfer with categoryBar box shadow
        .transition(opacity 0.4s ease-in-out 0s);

        &.active {
            opacity: @opacity-hover;
            .transition(opacity 0.4s ease-in-out 0s);
        }

        &.mouseover {
            opacity: @opacity-hover;
            .arrow {
                opacity: @opacity-hover;
            }
        }

        &.stopped {
            display: none !important;
        }

        &.top {
            z-index: 2;
            .arrow {
                width: @tabHeight - 2px;
            }
        }

        &.bottom {
            right: 0;
        }

        .arrow {
            width: 100%;
            height: @tabHeight - 1;
            line-height: @tabHeight - 1;
            font-size: 12px;
            text-align: center;
            pointer-events: initial;
            color: @color-font-edge;
        }
    }

    .dagTab {
        display: inline-flex;
        flex: 0 0 auto;
        .size(@height: 100%);
        .font(@size: 12px,
            @color: #627483,
            @line-height: @tabHeight,
            @align: center);
        border-right: 1px solid @color-bg-topBarGray2;
        background-color: #DBE1E6;
        padding: 0px 12px;
        .noSelection;
        .textOverflow;
        cursor: pointer;

        &:last-child {
            border-right: none;
        }

        &:hover {
            box-shadow: inset 0 2px 0 0 @color-border-select-blue;
        }

        &.active {
            background-color: @color-white;
            color: #44515c;
            .flex(1 1 33%);
            text-overflow: clip;
        }

        .name {
            float:left;
            letter-spacing: 0.2px;

            .xc-input {
                height: 17px;
                max-height: 17px;
                font-size: inherit;
                font-weight: inherit;
                line-height: inherit;
            }
        }

        .after {
            display: inline-block;
            padding-left: 10px;
            margin-right: 0px;
            .icon {
                font-size: 8px;
            }
        }
    }

    #tabButton {
        .font(@size: 11px, @align: center, @line-height: @tabHeight);
        .size(@height: @tabHeight, @width: @tabHeight + 2);
        cursor: pointer;
        min-width: @tabHeight + 2;
    }
}

#container {
    &.formOpen {
        #dagNodeMenu {
            .exitOp {
                display: list-item;
            }
        }
    }
    &.activePanel-modelingDagPanel {
        #userBox {
            background-color: transparent;
        }
    }
}



#dagNodeMenu {
    background-color: @color-white;
    width: 140px;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.2);

    @liHeight: 24px;

    li {
        display: none;
        background-color: @color-white;
        border-bottom: 1px solid @color-border-softGray;
        height: @liHeight;
        .font(@color: @color-font-edge, @size: 10px, @line-height: @liHeight);
        padding-top: 0px;
        padding-bottom: 0px;
        &.selected {
            background-color: @color-selectedCell-light;
        }
        &.unavailable {
            opacity: 1;
            .icon, .label {
                .xc-unavailable;
            }
        }

        .icon, .label {
            float: left;
        }
        .icon {
            .font(@size: 10px, @line-height: @liHeight + 2);
            margin-right: 8px;
            display: inline-block;
            width: 10px;
            &.xi-duplicate, &.xi-play-circle, &.xi-copy, &.xi-copy-clipboard {
                font-size: 11px;
            }
            &.xi-select-mode, &.xi-cut {
                font-size: 12px;
            }
            &.xi-close-no-circle {
                font-size: 8px;
                color: @color-background-error;
            }
            &.xi-rearrange {
                font-size: 13px;
                margin-left: -2px;
                margin-right: 10px;
            }
        }
    }

    &.operatorMenu {
        .removeNode, .copyNodes, .cutNodes, .pasteNodes, .executeNode, .resetNode,
        .description, .configureNode, .previewTable, .viewSchema, .autoAlign {
            display: list-item;
        }
        .previewAgg, .createCustom {
            display: none;
        }
        &.multiple {
            .description, .configureNode, .previewTable, .viewSchema, .shareCustom {
                display: none;
            }
            .createCustom {
                display: list-item;
            }
        }
        &.agg {
            .previewAgg {
                display: list-item;
            }
            .previewTable {
                display: none;
            }
        }
    }
    &.connectorMenu, &.edgeMenu {
        .removeInConnection {
            display: list-item;
        }
    }
    &.backgroundMenu {
        .removeAllNodes, .pasteNodes, .executeAllNodes,
        .resetAllNodes, .selectAllNodes,
        .autoAlign, .newComment {
            display: list-item;
        }
    }
    &.commentMenu {
        .removeNode, .copyNodes, .cutNodes, .pasteNodes, .autoAlign {
            display: list-item;
        }
        .executeNode, .description, .configureNode, .previewTable, .viewSchema,
        .autoAlign {
            display: none;
        }
        &.backgroundMenu {
            .removeNode {
                display: none;
            }
        }
    }
    &.customOpMenu {
        .shareCustom, .editCustom {
            display: list-item;
        }
        .configureNode {
            display: none;
        }
    }
}

#dataflow-rectSelection {
    z-index: 2;
    background-color: rgb(230, 237, 242);
    border-style: dashed;
    border-width: 2px;
}


/* ========== Dataflow List Section ========== */

#dagList {

    .dagListTitle {
        width: 150px;
        font-weight: 700;
        font-size: 20px;
        color: @color-white;
        margin: -3px 10px 0 15px;
    }

    .dagListDetails {
        .size(@height: ~"calc(100% - 71px)");
        overflow: hidden;
        overflow-y: auto;
        color: @color-white;

        .dagListDetail {
            line-height: 35px;
            font-size: inherit;
            .position(relative);
            cursor: pointer;
            overflow: hidden;
            box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
            font-weight: 500;
            opacity: @opacity-unhover;
            padding: 0 5px 0 15px;

            &.active {
                background-color: @color-bg-light-navy;
            }

            &:hover {
                background-color: rgba(0, 0, 0, 0.3);
                .listBox, .subList li {
                    opacity: @opacity-hover;
                }
            }


            white-space: nowrap;
            overflow: hidden;
            .position(relative);

            > span {
                display: block;
                float: left;
            }

            .name {
                cursor: pointer;
                width: 75%;
            }

            .icon {
                font-size: 14px;
                margin-top: 10px;
                margin-right: 10px;
                .transform(rotate(0deg));
                &:hover {
                    opacity: @opacity-unhover;
                }
                float: right;
            }
        }
    }
}

#dagSchemaPopup {
    .replaceSection {
        border-top: 1px solid @color-border-monitor-label;
        border-bottom: 1px solid @color-border-monitor-label;
        margin-top: -1px;
        position: relative;
        .changeWrap {
            visibility: hidden;
        }
    }
    .changeType-add {
        color: @color-bg-apple-green;
        > div:first-child, .icon {
            color: @color-bg-apple-green;
        }
    }
    .changeType-remove {
        color: @color-error-border;
        > div:first-child, .icon {
            color: @color-error-border;
        }
    }
    .changeType-replace {
        color:  @color-bg-apple-green;
        > div:first-child, .icon {
            color: @color-bg-apple-green;
        }
        &.changeType-remove {
            color: @color-error-border;
            > div:first-child, .icon {
                color: @color-error-border;
            }
        }
    }
    li > div:first-child {
        width: 82px;
    }
    .changeWrap {
        width: 7px;
        min-height: 10px; // if no height, changeWrap with no content will not
        // take up width
        text-align: center;
        float: left;
    }
    .iconWrap {
        float: left;
    }
    .name {
        padding-right: 0px;
        width: ~"calc(100% - 92px)";
    }

    .arrow {
        position: absolute;
        left: 2px;
        top: 7px;
        color: #64B053;
        font-weight: bold;
        font-size: 16px;
    }

    &.noChange {
        li > div:first-child {
            width: 75px;
        }
        .changeWrap {
            display: none;
        }
        .name {
            width: ~"calc(100% - 85px)";
        }
    }
}



/* ========== End of Dataflow List ========== */

// XXX temporary
#userBox.dagMode {
    width: 45px;
    #memoryAlert {
        display: none;
    }
}