#dagButton {
    display: none; // XXX temporarily hiding
}
#dagView {
    .flex-display;
    .flex-direction(column);
    color: #44515c;
    height: 100%;

    // TODO: move to constants.less when colors are finalized
    @color-border-bar: #D4DCE3;
    @color-border-operator: #849CB0;
    @color-connector: #BBC7D1;
    @color-edge: #627483;
    @color-play: #49DAA0;
    @color-stop: #FF6E57;
    @operator-height: 28px;
    @operator-width: 90px;

    .topBar {
        box-shadow: none;
        border-bottom: 1px solid @color-border-bar;
        z-index: 0;
        min-height: @height-topBar;
        padding-right: 45px;

        .topButtons {
            float: right;
            .flex-display;
            height: 100%;
        }

        .topButton {
            cursor: pointer;
            padding: 0px 5px;

            .icon {
                .vertical-align;
                opacity: @opacity-unhover;
                color: @color-connector;
                font-size: 18px;
            }

            &:hover {
                .icon {
                    opacity: @opacity-hover;
                }
            }

            &.run {
                .icon {
                    color: @color-play;
                }
            }
            &.stop {
                .icon {
                    color: @color-stop;
                }
            }
        }

        .divider {
            height: 25px;
            width: 1px;
            margin: 0px 5px;
            .vertical-align;
            background-color: @color-border-bar;
        }

        .undo, .redo {
            &.disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
            &.repeatable {
                cursor: pointer;
                opacity: 0.6;
                &:hover {
                    opacity: 0.8;
                }
            }
            &.locked {
                opacity: 0.3;
                cursor: not-allowed;
                &:hover {
                    opacity: 0.3;
                }
            }
        }
    }

    .categoryBar {
        @category-height: 40px;
        @icon-height: 22px;

        .size(@min-height: @category-height);
        background-color: @color-bg-white-eight;
        border-bottom: 1px solid @color-border-bar;
        line-height: @category-height;
        .flex-display;

        .searchArea {
            width: 150px;
        }
        .categoryWrap {
            width: ~"calc(100% - 150px)";
        }

        .category {
            padding: 4px 10px;
            margin: 4px 5px 0px;
            float: left;
            height: @category-height - 4px;
            line-height: 22px;
            font-size: 13px;
            position: relative;
            top: 1px;
            cursor: pointer;
            height: 30px;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }

            &.active {
                height: @category-height - 4px;
                font-weight: bold;
                background-color: @color-white;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;

            }

            .text {
                float: left;
            }

            .categoryIcon {
                .size(@icon-height,@icon-height);
                border-radius: 100%;
                float: left;
                margin-right: 8px;
                color: @color-white;
                font-size: 12px;
                line-height: @icon-height;
                text-align: center;
            }

            &.category-favorites {
                .icon {
                    background-color: @color-operator-favorites;
                }
            }
            &.category-in {
                .icon {
                    background-color: @color-operator-in;
                }
            }
            &.category-out {
                .icon {
                    background-color: @color-operator-out;
                }
            }
            &.category-value {
                .icon {
                    background-color: @color-operator-value;
                }
            }
            &.category-operations {
                .icon {
                    background-color: @color-operator-operations;
                }
            }
            &.category-column {
                .icon {
                    background-color: @color-operator-column;
                }
            }
            &.category-join {
                .icon {
                    background-color: @color-operator-join;
                }
            }
            &.category-set {
                .icon {
                    background-color: @color-operator-set;
                }
            }
        }
    }
    .operatorBar {
        .size(@min-height: 50px);
        background: @color-white;
        border-bottom: 1px solid @color-border-bar;

        .category {
            display: none;

            &.active {
                display: block;
            }
        }

        .operator {
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 10px;
            float: left;

            // .connectorArea {
            //     display: none;
            // }
        }
    }
    .operator {
        height: @operator-height;
        position: relative;

        @iconArea-width: 20px;
        @border-width: 2px;

        .main {
            .size(@width: @operator-width, @height: @operator-height);
            line-height: @operator-height - @border-width;
            border-radius: (@operator-height / 2) - @border-width;
            border: 1px solid  @color-border-operator;
            font-size: 11px;
            .cursor-move();
            margin-left: 7px;
            margin-right: 6px;
            overflow: hidden;
            position: relative; // places main section in front of connectors
            z-index: 1;
            background-color: @color-white;

            .iconArea {
                float: left;
                .size(@width: @iconArea-width, @height: 100%);
                border-right: 1px solid  @color-border-operator;

                .icon {
                    font-size: 12px;
                    text-align: center;
                    padding-left: 1px;
                    width: 100%;
                    line-height: @operator-height - @border-width;
                    color: @color-white;

                    &.xi-aggregate {
                        font-size: 11px;
                    }
                }
            }

            .nameArea {
                text-align: center;
                .textOverflowOneLine;
                .size(@width: @operator-width - @iconArea-width - 6px, @height: 100%);
                float: left;

            }
        }

        // &.selected, &.dragSelected {
        &.selected {
            .main, .iconArea {
                border-color: #55c4de;
                font-weight: bold;
                box-shadow: 0px 0px 0px 1px #55c4de;
            }
        }

        &.dropAvailable {
            .main, .iconArea {
                // border-color: green;
                // box-shadow: 0px 0px 0px 1p green;
            }
        }
        &.noDrag {

        }

        &.category-in {
            .iconArea {
                background-color: @color-operator-in;
            }
        }
        &.category-out {
            .iconArea {
                background-color: @color-operator-out;
            }
        }
        &.category-value {
            .iconArea {
                background-color: @color-operator-value;
            }
        }
        &.category-operations {
            .iconArea {
                background-color: @color-operator-operations;
            }
        }
        &.category-column {
            .iconArea {
                background-color: @color-operator-column;
            }
        }
        &.category-join {
            .iconArea {
                background-color: @color-operator-join;
            }
        }
        &.category-set {
            .iconArea {
                background-color: @color-operator-set;
            }
        }
    }

    @inConnectorSize: 8px;
    @outConnectorSize: 6px;

    .connectorArea {
        position: absolute;
        top: 2px;
        height: @operator-height - 4px;
        .flex-display;
        .flex-direction(column);
        .justify-content(space-evenly);

        &.in {
            left: 0px;
        }
        &.out {
            right: 0px;
        }
    }

    .connector {
        &.in {
            width: @inConnectorSize;
            height: @inConnectorSize;
            background-color: @color-connector;
            border-radius: 1px;
            border: 1px solid @color-border-operator;

            &.multi {
                height: 80%;
            }
        }
        &.out {
            position: relative;
            right: -1px;
            width: 0;
            height: 12px;
            border-top: @outConnectorSize solid transparent;
            border-bottom: @outConnectorSize solid transparent;
            border-left: @inConnectorSize solid @color-border-operator;

            &:after {
                content: " ";
                position: absolute;
                right: 1px;
                top: -4px;
                width: 0;
                height: 0;
                border-top: (@outConnectorSize - 2px) solid transparent;
                border-bottom: (@outConnectorSize - 2px) solid transparent;
                border-left:(@inConnectorSize - 2px) solid @color-connector;
            }
        }
    }

    .tabBar {
        .size(@min-height: 24px);
        background-color: @color-bg-white-eight;
    }
    .tableArea {
        display: none;
    }
    .dataflowWrap {
        .flex(1 1 auto);
        .flex-display;
        background-color: @color-white;
        position: relative;
        overflow: auto;

        .dataflowArea {
            min-height: 100%;
            min-width: 100%;
            position: relative;
            padding-bottom: 10px;
            padding-right: 10px;
            display: none;

            &.active {
                display: block;
            }

            .sizer {
                visibility: hidden;
                height: 1px;
            }
        }

        .operator {
            position: absolute;
        }
    }
    .dragContainer {
        position: absolute;
        z-index: 2;
        pointer-events: none;

        .operator {
            position: absolute;
        }
        &.isOffScreen {
            .operator {
                .main {
                    background-color: pink;
                }
            }
        }
        .operator {
            opacity: 0.7;
        }
    }

    .mainSvg {
        .size(100%, 100%);
        overflow: visible;

        .edge {
            cursor: pointer;

            .visibleLine {
                stroke: @color-edge;
                stroke-width: 1px;
                fill: none;
                stroke-linecap: round;
            }

            .invisibleLine {
                stroke: transparent;
                stroke-width: 9px;
                fill: none;
            }


            &:hover, &.selected {
                .visibleLine {
                    stroke: black;
                    stroke-width: 2px;
                }
            }
        }
    }
}

#dagNodeMenu {
    li {
        display: none;
    }
    &.operatorMenu {
        .removeNode, .cloneNode, .executeNode, .comment, .configureNode {
            display: list-item;
        }
    }
    &.connectorMenu, &.edgeMenu {
        .removeInConnection {
            display: list-item;
        }
    }
}

// XXX temporary
#userBox.dagMode {
    width: 45px;
    #memoryAlert {
        display: none;
    }
}