#dataflowPanel {
    position: relative;
    overflow: visible;

    .topBar {
        .buttonArea {
            .size(@width: 157px, @height: 100%);

            &:last-child {
               .text {
                margin-left: 10px;
               }
            }
        }
    }

    .mainContent {
        overflow: visible;
        padding-right: 0px;
        position: relative;
    }

    #schedulesView, #dataflowView {
        .size(100%, 100%);
        padding-right: 5px;
        overflow: auto;
    }

    .input-box(@w:100%, @h: 30px);
}

.dfScrollBar {
    overflow: auto;
    position: absolute;
    height: 12px; // has trouble showing if not an even number
    width: ~"calc(100% - 16px)";
    bottom: 0px;
    left: 5px;
    z-index: @z-index-topMenu - 1;
    pointer-events: initial;
    display: none;

    .sizer {
        width: 200%;
        height: inherit;
    }
}

#dfViz {
    .image("../../images/dagIcons/dag-background.png", right, top, repeat);
    position: relative; // used for positioning refresh icon

    .interactive {
        opacity: 0.3 !important;
        cursor: default !important;
    }

    .cardHeader {
        color: @color-white;
        text-transform: none;

        .leftSection {
            float: left;
            height: 48px;
            .textOverflowOneLine;
            width: ~"calc(100% - 160px)";
            h2 {
                max-width: ~"calc(100% - 200px)";

                .animatedEllipsisWrapper {
                    display: inline;
                    float: right;
                    margin-left: 5px;

                    .animatedEllipsis {
                        margin-left: 2px;

                        > div {
                            margin-left: 0px;
                        }
                    }
                }
            }
        }

        .retTabSection {
            .position(relative, @top: 3px);
            display: inline-block;
            float: right;

            &.hidden {
                display: none;
            }

            input:focus {
                outline: none;
            }

            .retTab {
                .position(relative);
                .size(@width: 135px, @height: 30px);
                display: inline-block;
                float: right;
                margin-right: 8px;

                .tabWrap {
                    .position(relative);
                    .size(@width: 100%, @height: 30px);
                    line-height: 30px;
                    cursor: pointer;
                    display: block;
                    padding: 0px;

                    .retTitle {
                        .size(@width: ~"calc(100% - 20px)");
                        display: inline-block;
                        .font(@weight: bold, @size: 14px);
                        float: left;
                        background: transparent;
                        text-align: left;
                        padding-left: 10px;
                        color: @color-white;
                        cursor: pointer;
                    }

                    .icon {
                        display: inline-block;
                        .size(@width: 20px, @height: 30px);
                        cursor: pointer;
                        color: @color-white;
                        opacity: @opacity-unhover;
                    }
                }

                &.active {
                    .tabWrap {
                        .icon {
                            opacity: @opacity-hover;
                        }
                    }
                    .retPopUp {
                        display: block;
                        z-index: @z-index-ret;
                    }
                }

                .retPopUp {
                    .position(absolute, @top: 33px, @right: 0px);
                    display: none;
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
                    padding: 10px 8px;
                    text-transform: none;

                    .inputSection {
                        .flex-display;
                        margin-bottom: 5px;

                        .newParam {
                            .flex(1 1 0);
                        }
                        .submitNewParam {
                            .size(220px, 30px);
                            line-height: 30px;
                            margin-left: 5px;
                        }
                    }
                    .cell {
                        &.paramNameWrap {
                            .size(@width: 179px);
                        }

                        &.paramValWrap {
                            .size(@width: 179px);
                            padding: 0px 0px 0px 0px;
                            input {
                                .size(@width: 100%, @height: 100%);
                                float: left;
                                border: solid 1px transparent;
                                background: transparent;
                                &:focus {
                                    background-color: white;
                                    border: solid 1px @color-font-softBlue;
                                }
                            }
                        }

                        &.paramActionWrap, &.paramNoValueWrap {
                            text-align: center;
                            .size(@width: 80px);
                            padding: 0px 4px;
                            .checkbox {
                                .size(@width: 15px, @height: 15px);
                                .position(relative, @top: 2px);
                            }
                        }
                        &.paramActionWrap {
                            padding-right: 0px;
                        }
                    }

                    .tableContainer {
                        .tableWrapper {
                            .size(@width: 542px);

                            .unfilled .paramDelete, .unfilled .checkbox{
                                display: none !important;
                            }

                            .paramActionWrap {
                                .paramDelete {
                                    .position(absolute, @top: 50%, @left: 50%);
                                    color: @color-black;
                                    transform: translate(-50%, -50%);
                                }
                                &.unavailable {
                                    .paramDelete {
                                        pointer-events: none;
                                    }
                                }
                            }
                        }
                    }

                    .tableHeader {
                        .cell {
                            text-align: center;
                        }
                    }
                }
            }
        }

        .title {
            padding-right: 2px;
        }

        .schedulesList {
            display: inline-block;
            margin-right: 40px;
            text-transform: none;
            vertical-align: top;
            font-size: 18px;
            cursor: default;
        }
    }

    .cardMain {
        padding-top: 5px;
        padding-bottom: 0px;
        min-height: 201px; // the height when 1 linear dataflow is present

        .header {
            margin-right: 30px;
        }

        .runNowBtn, .addScheduleToDataflow {
            .size(@width: 25px, @height: 25px);
            float: right;
            padding: 0px;
            text-align: center;
            margin-bottom: 0px;
            position: relative;
            top: -5px;

            &.running {
                .xi-arrow-right {
                    visibility: hidden;
                    opacity: 0;
                }

                .spin {
                    visibility: visible;
                    opacity: 1;
                }

                &:not(.canceling):hover {
                    background-color: @color-bg-lockedIcon-cancel-light;
                    .spin {
                        opacity: 0;
                        .transition(opacity 0s);
                    }
                    .xi-close {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }

            &.canceling {
                background-color: @color-bg-lockedIcon-cancel-light;
            }

            .icon {
                font-size: 14px;
                .transition(opacity 1s);
            }

            .xi-close {
                visibility: hidden;
                opacity: 0;
                .transition(opacity 0s);
                .position(absolute, 0px, 0px);
                font-size: 16px;
            }

            .spin {
                @spin-size: 17px;
                @spin-margin: -@spin-size / 2;
                @spin-border: @spin-size / 10;
                @spin-color: @color-white;

                visibility: hidden;
                opacity: 0;
                .transition(opacity 1s);

                .keyframe(spinClock, {
                    from { transform: rotate(0deg); }
                    to { transform: rotate(360deg); }
                });

                .size(@spin-size, @spin-size);
                .rounded(50%);
                .center-align;
                position: absolute;
                border: @spin-border solid @spin-color;

                &:before, &:after {
                    content: "";
                    position: absolute;
                    display: block;
                    width: @spin-border;
                    background-color: @spin-color;
                    border-radius: @spin-border / 2;
                    transform-origin: 50% 0;
                }

                &:before {
                    height: @spin-size / 2 - @spin-border * 2;
                    left: @spin-size / 2 - @spin-border / 2;
                    top: 50%;
                    .keyframeAnim(spinClock 2s infinite linear);
                }
            }
        }

        .timeSection {
            float: right;
            min-width: 160px;
            margin-left: 4px;
            margin-right: 10px;
            display: none;
            .label {
                text-transform: capitalize;
            }
        }

        .addScheduleToDataflow .icon {
            font-size: 16px;
        }

        .border {
            float: right;
            .size(@width: 1px, @height: 25px);
            margin-left: 5px;
            margin-right: 5px;
            background-color: @color-border-pinkish-grey2;
            margin-top: -5px;

        }

        .dagImage {
            margin-bottom: 4px; // otherwise theres weird vertical scrolling
            margin-left: 45px;
        }

        .dagImageWrap {
            padding-top: 20px; // space for progress tooltips - tallest is param datastore
            padding-bottom: 10px;
        }

        .dagWrap {
            &.deleting {
                pointer-events: none;
                opacity: @opacity-disabled;
            }
            &.inProgress {
                .progressInfo {
                    display: block;
                }
                .dagTableWrap {
                    pointer-events: none;
                }
                .timeSection {
                    display: block;
                }
            }

            &.error, &.invalid {
                .runNowBtn, .addScheduleToDataflow {
                    .xc-disabled
                }
            }

            &.hasRun {
                .timeSection {
                    display: block;
                }

                .dagTable {
                    &.Created {
                        .dataStoreIcon {
                            background-color: @color-bg-select-blue;
                        }
                        &.typeTable .icon {
                            color:  @color-bg-select-blue;
                        }
                        .progressInfo {
                            display: none;
                        }
                    }
                    &.Processing {
                        &:hover {
                            .dataStoreIcon {
                                background-color: @color-bg-gold !important;
                            }
                            &.typeTable .icon {
                                color: @color-bg-gold !important;
                            }
                            &[data-advancedOpts="default"] i.icon.xi-data-out {
                                color: @color-white !important;
                            }
                        }
                        .dataStoreIcon {
                            background-color: @color-bg-gold !important;
                        }
                        &.typeTable .icon {
                            color: @color-bg-gold !important;
                        }
                        &[data-advancedOpts="default"] {
                            .dagTableIcon {
                                background: @color-bg-gold;
                            }
                            i.icon.xi-data-out {
                                color: @color-white !important;
                            }
                        }
                        .progressBarWrap {
                            display: block;
                        }
                        .progressBar {
                            height: 100%;
                            width: 0%;
                            background-color: @color-bg-select-blue;
                        }
                        .progressInfo {
                            top: -35px;
                        }
                        &.parameterizable {
                            .progressBarWrap {
                                top: -9px;
                            }
                            &.dataStore {
                                .progressBarWrap {
                                    top: -9px;
                                    left: 3px;
                                }
                                .progressInfo {
                                    top: -44px;
                                }
                            }
                        }
                    }
                    &.Cleaned, &.Dropped, &.Ready, &.wasDropped {
                        &:hover {
                            .dataStoreIcon {
                                background-color: @color-bg-fern-green !important;
                            }
                            .dagTableIcon ~ .icon {
                                color: @color-bg-fern-green !important;
                            }
                            &[data-advancedOpts="default"] i.icon.xi-data-out {
                                color: @color-white !important;
                            }
                        }

                        .dataStoreIcon {
                            background-color: @color-bg-fern-green;
                        }
                        &.typeTable .icon {
                            color: @color-bg-fern-green;
                        }
                        &[data-advancedOpts="default"] .dagTableIcon {
                            background: @color-bg-fern-green;
                        }
                        &.export[data-advancedOpts="default"] .dagTableIcon {
                            background: @color-bg-fern-green !important;
                        }
                    }

                    &.Queued, &.Error {
                        &:hover {
                            .dataStoreIcon {
                                background-color: @color-error-border !important;
                            }
                            &.typeTable .icon {
                                color: @color-error-border !important;
                            }
                            &[data-advancedOpts="default"] i.icon.xi-data-out {
                                color: @color-white !important;
                            }
                        }
                        .dataStoreIcon {
                            background-color: @color-error-border !important;
                        }
                        &.typeTable .icon {
                            color: @color-error-border !important;
                        }
                        &[data-advancedOpts="default"] .dagTableIcon {
                            background: @color-error-border !important;
                        }
                    }
                }
            }
        }

        .dagTable {
            cursor: default;

            .tableTitle {
                max-width: 180px;
                color: @color-font-gray36;
            }

            .progressBarWrap {
                width: 25px;
                height: 3px;
                border-radius: 3px;
                background-color: @color-bg-light-blue-grey;
                display: none;
                pointer-events: none;
                .position(absolute, @top: 1px, @left: 5px);
                overflow: hidden;
            }

            &:hover, &.hover {
                .progressInfo {
                    display: block;
                }
            }

            .dagTableTip {
                display: none; // show if .dagWrap is .inProgress
                top: -25px;

                .label {
                    font-weight: bold;
                    margin-right: 3px;
                }
                .value {
                    .flex(1 0 auto);
                    text-align: center;
                }
                .pct {
                    text-align: center;
                    display: inline-block;
                    width: 100%;
                    text-indent: 3px;
                }

            }

            &:hover:not(.noDropdown) {
                .typeTable .icon {
                    color: @color-bg-btn-hover-blue;
                }
                &.dataStore {
                    .dataStoreIcon {
                        background-color: @color-bg-btn-hover-blue;
                    }
                }
                // &.export {
                //     .icon {
                //         color: @color-bg-btn-hover-blue;
                //     }
                //     .dagTableIcon {
                //         background-color: @color-bg-btn-hover-blue;
                //     }
                // }
                &.Dropped {
                    &.dataStore .dataStoreIcon {
                        background-color: @color-bg-white-five;
                    }
                }
            }
            &.dataStore {
                cursor: pointer;
            }

            &.rootNode {
                cursor: pointer;
                .tableTitle {
                    width: 130px;
                }
                .dataStoreIcon {
                    left: 3px;
                }
                .xi_data {
                    left: 8px;
                }
                .progressInfo {
                    top: -32px;
                }
            }

            &.export {
                .tableTitle {
                    width: 120px;
                }
                .progressInfo {
                    top: -15px;
                    .rows { // export does not have a row count
                        display: none;
                    }
                }
                &:not(.parameterizable) {
                    .progressInfo {
                        display: none;
                    }
                }
            }

            &.noDropdown {
                pointer-events: none;
                .tableTitle {
                    pointer-events: initial;
                    cursor: initial;
                }
            }
        }

        .operationTypeWrap {
            .operationType {
                cursor: pointer;
            }
            &.hasParam {

                // .operationType {
                //     border: 1px solid #699669;

                // }
                // xx may not use a background because it's too similar to
                // the status colors
                // .dagIcon {
                //     background-color: @color-bg-fern-green;
                // }
            }
            &.noDropdown {
                cursor: initial;
            }
            .commentIcon {
                cursor: initial;
            }
        }

        canvas {
            pointer-events: none;
        }

        .hint {
            .size(@width: 345px, @height: 60px);
            .horizontal-align;
            top: 40px;
            .rounded;
            border: 1px solid @color-white;
            padding: 10px 0;
            background-color: rgba(255, 255, 255, 0.7);

            > div, > i {
                display: inline-block;
                float: left;
            }

            .icon {
                .size(@width: 60px, @height: 100%);
                color: @color-font-greyish-brown;
                font-size: 33px;

                &:before {
                    display: block;
                    .position(relative, @left: 10px);
                }
            }

            .text {
                .size(@width: ~"calc(100% - 60px)", @height: 100%);
                .font(@size: 13px);
            }
        }
    }

    .schemaPopup {
        .heading {
            > div {
                &:first-child {
                    text-indent: 0px;
                    margin-left: 5px;
                    width: 100%;
                }
            }
        }

        ul {
            max-height: 300px;
            background-color: @color-bg-white-seven;
            overflow: auto;
            li {
                &> div {
                    cursor: default;

                    &:first-child {
                        // color: @color-font-select-blue;
                        color: @color-font-darkGray;
                        margin-left: 5px;
                        width: 100%;
                        max-width: 100%;
                        padding-right: 0px;
                    }
                }
            }
        }
    }

    .dagDropDown {
        &.unexpectedNode {
            .unexpectedInfo {
                display: block !important;
                .xc-disabled;
            }
        }
    }

    .refreshIcon {
        z-index: 2;
    }

    &.withSchedule {
        .addScheduleToDataflow, .border {
            display: none;
        }
    }
    &.hasUnexpectedNode {
        .retTab, .runNowBtn, .addScheduleToDataflow {
            opacity: @opacity-disabled;
            cursor: default !important;
        }
    }
}

#uploadDataflowCard {
    display: none;
    position: relative; // for cardLocked modal

    .cardMain {
        margin: 0 auto;
        padding: 40px;
        padding-bottom: 0px;

        padding-left: 20px;
        padding-right: 20px;
        > div {
            margin-bottom: 10px;
        }
        .text {
            .size(@width: 110px);
            display: inline-block;
        }
        .retinaUploader {
            .input-box(@w: ~"calc(100% - 297px)", @h: 30px);
            input {
                margin-right: 10px;
            }
        }

        .retinaName {
            .input-box(@w: 275px, @h: 30px);
        }

        .btn {
            width: 150px;
        }
    }

    .cardBottom {
        padding-right: 40px;
        padding-bottom: 20px;
        .buttonTooltipWrap {
            // Keep same as the button that it wraps
            margin-left: 10px;
            width: 150px;
            height: 36px;
            float: right;
        }
        .btn {
            &.unavailable {
                pointer-events: none;
            }
        }
    }
}

// New inform

#dataflowView {
    .scheduleForm {
        position: relative; // for cardLocked modal

        .cardMain {
            padding: 40px;
            padding-bottom: 0px;
            .flex-display;

            .formWrap {
                > div {
                    margin-bottom: 12px;
                    .clearfix;
                }
            }

            // hack to create left margin that doesn't go negative when too small
            &:before {
                content: '';
                display: inline-block;
            }
        }

        @label-width: 180px;

        .label {
            .size(@width: @label-width);
            .font(@weight: 600, @size: 14px, @line-height: 30px);
            float: left;
        }

        .nameSection input {
            width: ~"calc(100% - @{label-width})";
        }

        .input-wrap input {
            width: 208px;
        }

        .nameSection, .timeSection, .recurSection {
            > div {
                float: left;
            }
        }

        .timeWrapper {
            width: ~"calc(100% - @{label-width})";
            .input-wrap {
                width: 180px;
            }
            .utc-wrap {
                width: 30px;
                line-height: 30px;
                color: @color-bg-white-two;
                border: solid 1px @color-table-hoverBg-gray;
                border-left: none;
                border-right: none;
            }
            .input-wrap, .utc-wrap {
                height: 30px;
                background-color: @color-bg-white-three;
                float: left;
            }
            .icon-wrap {
                width: 30px;
                height: 30px;
                background-color: @color-bg-white-three;
                display: inline-block;
                border: solid 1px @color-table-hoverBg-gray;
                border-left: none;
                .icon {
                    color: @color-bg-white-two;
                    margin-top: 5px;
                    font-size: 18px;
                }
            }
        }

        .timeSection {
            .position(relative);
            margin-bottom: 0px !important;

            .timeWrapper > div {
                float: left;
                margin-bottom: 12px;

                &.datePickerPart {
                    position: relative;
                    margin-right: 20px;

                    &.active {
                        .icon-wrap {
                            background-color: @color-white;
                            border: solid 1px  @color-border-softBlue;
                            border-left: none;
                        }
                    }
                }

                &.timePickerArea {
                    position: relative;

                    .input-wrap {
                        width: 150px !important;
                    }

                     &.active {
                        .icon-wrap {
                            background-color: @color-white;
                            border: solid 1px  @color-border-softBlue;
                            border-left: none;
                        }
                        .utc-wrap {
                            background-color: @color-white;
                            border: solid 1px  @color-border-softBlue;
                            border-left: none;
                            border-right: none;
                        }
                    }
                }
            }
        }

        .frequencySection {
            // for radio part
            .radioButtonGroup {
                .size(@width: ~"calc(100% - @{label-width})");
                display: block;
                overflow: hidden;
                .radioButton {
                    display: inline-block;
                    height: 30px;
                    float: left;
                    width: 20%;
                    min-width: 145px;
                    max-width: 150px;
                    &:last-child {
                        .label {
                            margin-right: 0px;
                        }
                    }
                }
                .radio {
                    line-height: 30px;
                }
                .label {
                    width: auto;
                    margin-right: 30px;
                }
            }

            // for dropdown list
            .dropDownList {
                .styleDropDownList(150px, 30px);
                box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
                font-weight: 600;

                &.day {
                    margin-left: 10px;
                }
            }

            // for input section in .freq2 and .freq3
            .textSection {
                margin: 0 10px;
            }

            // .freq1, .freq2 {
            .freq1 {
                .size(@width: 100%);
                line-height: 30px;

                > div {
                    float: left;
                }
            }
            /**
            .freq2 {
                padding-left: 120px;
                margin-top: 20px;

                &.inActive {
                    .textSection, .dropDownList {
                        pointer-events: none;
                        opacity: 0.7;
                    }
                }
            }
            */
        }

        #ui-datepicker-div {
            margin-top: 2px;
            top: 28px !important;
            left: 0 !important;
            z-index: 3 !important;
            width: 100%
        }

        .ui-datepicker-calendar {
            width: 100%;
        }

        .timePicker, #newScheduler-timePicker {
            width: 100%;
            padding-left: 12px;
        }
        .timePicker {
            input {
                background-color: @color-bg-white-three;
                padding-top: 2px;
                .size(@width: 60px, @height: 20px);
                line-height: 20px;
                text-align: center;
            }
        }
    }

    #scheduleTable {
        @rowHeight: 30px;
        background-color: @color-bg-white-three;
        .border {
            width: 2px;
            height: 100%;
            background-color: @color-white;
            float: left;
        }
        .titleSection {
            background-color: @color-table-midGray;
            border: none;
            .row, .title {
                height: 40px;
            }
            .history {
                width: 255px;
                border-right: 1px @color-white;
            }
            .details {
                width: ~"calc(100% - 257px)";
            }
        }
        .mainSection {
            height: 320px;
            border: none;
            line-height: 0px;
            overflow: hidden;
            background-color: @color-table-evenRow-gray;
            position: relative;

            .historySection {
                width: 255px;
                float: left;
                display: inline-block;
                height: 320px;
                overflow-x: hidden;
                overflow-y: auto;
                background-color: @color-bg-white-three;
                border-right: 1px @color-white;

                .row {
                    width: 100%;
                    height: 40px;
                    cursor: pointer;
                    background-color: @color-bg-white-three;
                    &.chosen {
                        background-color: @color-table-evenRow-gray;
                    }
                    .info {
                        width: 30px;
                        height: 100%;
                        float: left;
                        .hint {
                            width: 6px;
                            height: 6px;
                            margin-left: 15px;
                            margin-top: 17px;
                            .rounded(50%);
                        }
                        &.success {
                            .hint {
                                background-color: @color-sched-success;
                            }
                        }
                        &.processing {
                            .hint {
                                background-color: @color-sched-processing;
                            }
                        }
                        &.fail {
                            .hint {
                                background-color: @color-sched-fail;
                            }
                        }
                    }
                    .order {
                        width: 50px;
                        height: 100%;
                        float: left;
                        padding-left: 5px;
                        line-height: 40px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: pointer;
                    }
                    .time {
                        width: 160px;
                        height: 100%;
                        float: left;
                        line-height: 40px;
                    }
                    &.noRun {
                        .timeContent {
                            text-align: center;
                        }
                        line-height: 40px;
                        text-align: center;
                    }
                    &:hover {
                        background-color: @color-table-evenRow-gray;
                    }
                }
            }
            .detailsSection {
                width: ~"calc(100% - 262px)";
                height: 320px;
                float: left;
                overflow-x: hidden;
                overflow-y: auto;
                display: inline-block;
                background-color: @color-table-evenRow-gray;
                padding-left: 20px;
                padding-top: 10px;
                .record {
                    height: 100%;
                    background-color: @color-table-evenRow-gray;
                    display: none;
                    &.chosen {
                        display:block;
                    }
                }
                .row {
                    height: 20px;
                    line-height: 20px;
                    width: 100%;
                    .item {
                        width: 180px;
                        float: left;
                        // font-weight: 800;
                    }
                    .content {
                        width: ~"calc(100% - 180px)";
                        float: left;
                    }
                }
            }
        }

        .title, .grid-unit > div {
            display: inline-block;
            float: left;
            height: 100%;
            text-align: center;
            vertical-align: bottom;
            line-height: 40px;
            white-space: pre;
            &.title {
                text-align: center;
            }
            .textOverflowOneLine;
        }
    }
}

#scheduleInfos {
    height: 415px;
}

#scheduleDetail {
    overflow: hidden;
    .cardMain {
        margin-top: 0px;
        padding-top: 0px;
        height: 460px;
        min-width: 650px;
        position: relative;
    }

    .cardLocked {
        .size(@height: ~"calc(100% + 80px)");
    }

    .expand {
        height: 100%;
    }

    #scheduleResults, #modScheduleForm-refresh {
        display: none;
    }

    &.detail {
        #scheduleSettings, #modScheduleForm-cancel,
        #modScheduleForm-save {
            display: none;
        }
        #scheduleResults, #modScheduleForm-refresh {
            display: block;
        }
    }

    #scheduleInfos {
        display: inline-block;
        float: left;
        width: ~"calc(100% - 40px)";
        height: 100%;
        padding-top: 0px;
        position: absolute;
        h2 {
            display: block;
            height: 25px;
            // .font(@size: 19px, @line-height: 25px, @weight: bold, @color: @color-text-blue);
            margin-bottom: 12px;
            .textOverflowOneLine;
            width: ~"calc(100% - 70px)";
        }
        .scheduleHeading {
            width: 100%;
            height: 40px;
            padding: 0px 40px 0px 40px;
            margin-top: 20px;
            .heading-wrapper {
                display: inline-block;
                float: left;
                width: 66%;
                position: absolute;
                color: @color-bg-select-blue;
            }
            .serverTimeColumn {
                display: inline-block;
                float: right;
                width: 34%;
                height: 30px;
                .serverTime {
                    background-color: @color-white;
                    height: 100%;
                    line-height: 28px;
                    .name {
                        height: 100%;
                        overflow: hidden;
                        border-left: 1px solid @color-border-white-two;
                        font-weight: 800;
                        display: inline-block;
                    }
                    .text {
                        height: 100%;
                        overflow: hidden;
                        display: inline-block;
                        margin-left: ~"calc(50% - 120px)";
                        &.fail {
                            color: @color-error-border;
                        }
                    }
                }
            }
        }
        #scheduleSettings {
            height: ~"calc(100% - 50px)";
            width: 100%;
            position: absolute;
            overflow: hidden;

            .upperArea, .lowerArea {
                padding: 0px 40px 0px 40px;
                overflow: hidden;
            }
            .upperArea {
                .column {
                    .text {
                        margin-left: ~"calc(50% - 120px)";
                    }
                }
            }
            .lowerArea {
                padding-top: 0px;
                height: 250px;
                #modifyScheduleForm {
                    padding-top: 34px;
                    height: 100%;
                    .advancedMode {
                        height: 100%;
                        .icon {
                            color: @color-bg-select-blue;
                            display: inline-block;
                            float: left;
                            margin-bottom: 0px;
                            line-height: 36px;
                        }
                        #cronScheduler {
                            height: 36px;
                            width: ~"calc(100% - 170px)";
                            min-width: 90px;
                            margin-bottom: 0px;
                            margin-right:10px;
                            margin-top: 0px;
                            .flex(1 0 90px);
                        }
                        .text {
                            padding-left: 10px;
                            overflow: hidden;
                        }
                        .scheduleSection {
                            // margin-top: 20px;
                            .flex-display;
                            align-items: center;
                            height: ~"calc(100% - 60px)";
                            .leftArea, .rightArea {
                                width: 50%;
                                min-width: 260px;
                                display: inline-block;
                                float: left;
                                .flex-display;
                            }
                            .input-wrap {
                                width: ~"calc(100% - 80px)";
                                display: inline-block;
                                float: left;
                                .flex-display;
                            }
                            .errorInfo {
                                position: absolute;
                                margin-top: 45px;
                                margin-left: 80px;
                                .size(@width: ~"calc(50% - 80px)");
                                color: @color-text-error;
                                .textOverflowOneLine;
                            }
                            .scheduleLabel {
                                width: 80px;
                                display: inline-block;
                                float: left;
                                margin-bottom: 0px;
                                line-height: 36px;
                            }
                            #modScheduleForm-simulate {
                                width: ~"calc(100% - 90px)";
                                padding-right: 0px;
                                max-width: 150px;
                                margin-left: 0px;
                                padding-left: 0px;
                                .flex(1 0 90px);
                            }
                            .column {
                                float: right;
                                margin-left: 30px;
                                border-bottom: 1px solid @color-border-white-two;
                                border-left: 1px solid @color-border-white-two;
                                &:last-child {
                                    .flex(1 1 230px);
                                }
                                .row {
                                    .size(@width: 100%, @height: 40px);
                                    .font(@size: 12px, @line-height: 40px, @weight: 600, @color: @color-font-greyish-brown);
                                    float: left;
                                    border: 0 solid @color-border-white-two;
                                    border-width: 1px 1px 0 0;
                                    background-color: @color-bg-white-seven;
                                    overflow: hidden;
                                }

                                .name, .text {
                                    padding: 0 8px;
                                }
                                .name {
                                    display: inline-block;
                                    width: 80px;
                                    border-right: 1px solid @color-border-white-two;
                                    background-color: @color-white;
                                }

                                .text {
                                    width: 165px;
                                    text-transform: capitalize;
                                    color: @color-font-select-blue;
                                    min-width: 230px;
                                }

                                &.runInfo {
                                    border: 0 solid @color-border-white-two;
                                    border-width: 0 0 1px 1px;
                                    overflow: hidden;
                                    margin-bottom: 20px;
                                }
                            }
                        }
                    }
                }
            }
            .border {
                .left-border, .right-border {
                    background-color: @color-border-white-two;
                    width: 40px;
                    height: 1px;
                    float: left;
                    display: inline-block;
                }
                .middle-left-border, .middle-right-border{
                    // background-color: @color-border-white-two;
                    width: ~"calc(50% - 40px)";
                    min-width: 255px;
                    height: 1px;
                    float: left;
                    display: inline-block;
                }
            }
        }
        #scheduleResults {
            padding: 0px 40px 0px 40px;
            .size(@width: 100%, @height: ~"calc(100% - 40px)");

            &.loading {
                .loadSection {
                    display: block;
                }
            }

            .loadSection {
                display: none;
                .size(@width: ~"calc(100% - 270px)", @height: 100%);
                .position(absolute, @right: 0px);

                .animatedEllipsisWrapper {
                    .size(@width: 100px, @height: 20px);
                    .center-align;
                }
            }
        }
        .xi-trash {
            font-size: 18px;
        }

        .defaultSection {
            position: relative;
        }

        .infoSection {
            margin-top: 10px;
            width: 100%;
        }

        .group {
                width: 100%;
                min-width: 541px;
                margin-right: 24px;
                margin-bottom: 20px;
                border: 0 solid @color-border-white-two;
                border-width: 0 0 0px 1px;
                .flex-display;
                .flex-wrap(wrap);
                float: left;
            }

        .column {
            width: 33%;
            min-width: 237px;
            float: left;
            border-bottom: 1px solid @color-border-white-two;
            min-width: 270px;
            max-width: 540px;
            &:last-child {
                .flex(1 1 230px);
            }
            .row {
                .size(@width: 100%, @height: 40px);
                .font(@size: 12px, @line-height: 40px, @weight: 600, @color: @color-font-greyish-brown);
                float: left;
                border: 0 solid @color-border-white-two;
                border-width: 1px 1px 0 0;
                background-color: @color-bg-white-seven;
                overflow: hidden;
                position: relative;
            }

            .name, .text {
                text-align: center;
            }
            .name {
                display: inline-block;
                width: 109px;
                border-right: 1px solid @color-border-white-two;
                background-color: @color-white;
            }

            .text {
                text-transform: capitalize;
                color: @color-font-select-blue;
                position: relative;
                margin-left: ~"calc(50% - 114px)";
            }

            &.runInfo {
                border: 0 solid @color-border-white-two;
                border-width: 0 0 1px 1px;
                overflow: hidden;
                margin-bottom: 20px;
            }
            &.serverTime {
                background-color:@color-white;
            }
        }
        .tabs {
            width: 100%;
            min-width: 430px;
            font-weight: 800;
            .tab {
                width: 50%;
                height: 40px;
                float: left;
                border: 1px solid @color-border-white-two;
                display:inline-block;
                text-align: center;
                font-size: 16px;
                padding-top: 10px;
                background-color: @color-bg-white-three;
                color: @color-border-pinkish-grey;
                border-bottom: none;
                cursor: pointer;
                &.simpleModeTab {
                    border-right: none;
                }
            }
        }
    }
    .tabArea {
        @tabSize: 40px;
        .size(@width: @tabSize, @height: 100%);
        background-color: @color-bg-white-three;
        border-right: 1px solid @color-border-pinkish-grey2;
        display: inline-block;
        float: left;
        .tab {
            .size(@width: 100%, @height: @tabSize);
            border-bottom: 1px solid @color-border-pinkish-grey2;
            text-align: center;
            float: left;
            cursor: pointer;

            .iconWrap {
                background-color: @color-bg-select-blue;
                color: @color-white;
                border-radius: 2px;
                opacity: 0.8;
            }

            &.active {
                background-color: @color-white;
                border-right-width: 0px;
                width: @tabSize + 1px;
                border-bottom-width: 0px;

                .iconWrap {
                    background-color: @color-bg-select-blue;
                    opacity: 1.0;
                }
                + .tab {
                     border-top: 1px solid @color-border-pinkish-grey2;
                }
                .xi-info-rectangle {
                    color: @color-bg-select-blue;
                    background-color: @color-white;
                    opacity: 1.0;
                }
            }

            &.hover {
                .iconWrap {
                    background-color: @color-bg-select-blue;
                    opacity: 0.8;
                }
            }

            &.default {
                .iconWrap {
                    background-color: @color-bg-select-blue;
                }
            }

            &:not(.default) {
                .icon {
                    font-size: 14px;
                }
            }

            &:last-child {
                position: relative;
                top: 1px;
            }

            &.xc-disabled {
                opacity: 1 !important;
                border-bottom-width: 0px;
            }
        }

        .iconWrap {
            .size(20px, 20px);
            margin-top: 10px;
            margin-left: 10px;
        }

        .xi-info-rectangle {
            background-color: @color-white;
            color: @color-bg-select-blue;
        }
    }

    .cardBottom {
        padding: 0px;
        height: 80px;
        min-width: 630px;

        .iconBtn {
            padding: 0 25px;
        }

        .buttonArea {
            margin-right: 40px;
            .btn {
                margin-top: 10px;
            }
        }
    }

    // .customizedParameters {
    //     color: @color-bg-select-blue;
    // }
    // .systemParameters {
    //     color: @color-bg-greyish-green;
    // }
}

#scheduleDetail {
    &.withSchedule {
        #modScheduleForm-save, #modScheduleForm-cancel {
            display: none;
        }

        .scheduleForm {
            opacity: @opacity-hint;
        }

        #scheduleSettings {
            pointer-events: none;
        }
        #modScheduleForm-pause {
            display: block;
        }
        #modScheduleForm-resume {
            display: none;
        }
        &.pauseState {
            #modScheduleForm-pause {
                display: none;
            }
            #modScheduleForm-resume {
                display: block;
            }
        }
    }
    &.withoutSchedule {
        .tabArea .tab {
            &.default {
                border-bottom-width: 1px;
            }

            &.detail {
                display: none !important;
            }
        }

        #modScheduleForm-cancel, #modScheduleForm-resume, #modScheduleForm-pause, #modScheduleForm-delete {
            display: none;
        }
    }
    #scheduleSettings {
        &.showSimpleMode {
            .middle-left-border {
                background-color: @color-white;
            }
            .middle-right-border {
                background-color: @color-border-white-two;
            }
            .simpleMode {
                display: block;
            }
            .advancedMode {
                display: none;
            }
            .simpleModeTab {
                background-color: @color-white;
                color: @color-font-darkGray;
                border-bottom: none;
            }
        }
        &.showAdvancedMode {
            .middle-left-border {
                background-color: @color-border-white-two;
            }
            .middle-right-border {
                background-color: @color-white;
            }
            .simpleMode {
                display: none;
            }
            .advancedMode {
                display: block;
            }
            .advancedModeTab {
                background-color: @color-white;
                color: @color-font-darkGray;
                border-bottom: none;
            }
        }
    }
}

#dfParamModal2 {
    .size(@width: 920px, @height: 550px, @min-width: 800px, @min-height: 425px);
    font-size: 12px;


}
