#extension-lists {
    .listInfo {
        .text {
            margin-left: 10px;
            .textOverflowOneLine;
        }
    }

    .item {
        .name {
            margin-left: 8px;
            .size(@width: ~"calc(100% - 70px)");
        }

        .switch {
            margin-right: 6px;
            float: right;
        }

        .delete {
            float: right;
        }
    }
}

#extension-search {
    .size(@width: ~"calc(100% - 250px)", @height: 100%);
    float: left;
    padding-left: 20px;

    .input-box(@w: ~"calc(100% - 60px)", @h: 35px);
    input {
        float: left;
        .vertical-align;
        background-color: @color-white;
    }

    .rightArea {
        padding-right: 15px;
    }

    .icon {
        color: @color-bg-pinkish-grey;
    }
}

#extension-upload {
    .size(@width: 100%, @height: 260px);

    @h-extUpload-bottom: 60px;
    @h-extUpload-noMain: @height-card-header + @height-card-instr + @h-extUpload-bottom + 1; 

    .cardHeader {
        .fullScreen {
            .position(relative, @top: 2px);
        }

        .close {
            margin-left: 5px;
        }
    }

    .cardMain {
        .size(@height: ~"calc(100% - @{h-extUpload-noMain})");
        padding-left: 20px;
        padding-right: 20px;

        .text {
            .size(@width: 50px);
            display: inline-block;
        }

        .input-box(@w: ~"calc(100% - 250px)", @h: 30px);

        input {
            margin-right: 20px;
        }
    }

    .cardBottom {
        .size(@height: @h-extUpload-bottom);
        padding: 20px;

        .icon, .text {
            display: inline-block;
            float: left;
            .size(@height: 20px);
            line-height: 20px;
        }

        .icon {
            .size(@width: 20px);
            margin-right: 16px;
            .font(@size: 24px, @color: @color-bg-select-blue);
        }

        .text {
            .font(@weight: 600, @size: 14px);
        }
    }
}

#extensionInstallPanel {
    &.wait, &.error, &.hint {
        .infoCard {
            display: block;
        }

        .category {
            display: none;
        }
    }

    &.wait {
        .infoCard {
            .waitSection {
                display: block;
            }
        }
    }

    &.error {
        .infoCard {
            .errorSection {
                display: block;
            }
        }
    }

    &.hint {
        .infoCard {
            .hintSection {
                display: block;
            }
        }
    }

    .infoCard {
        display: none;
        .size(@height: 150px);

        .cardMain {
            padding: 20px;
            .size(@height: ~"calc(100% - @{height-card-header})");
        }

        .hintSection, .errorSection, .waitSection {
            display: none;
            overflow: hidden;
            .center-align;
            text-align: center;
        }

        .hintSection {
            .size(@width: 250px);

            .icon, .text {
                display: inline-block;
                float: left;
                .size(@height: 20px);
                line-height: 20px;
            }

            .icon {
                .size(@width: 20px);
                margin-right: 16px;
                .font(@size: 24px, @color: @color-bg-select-blue);
            }

            .text {
                .font(@weight: 600, @size: 14px);
            }
        }

        .errorSection {
            display: none;
            color: @color-table-red;
        }

        .waitSection {
            display: none;
            .size(@width: 200px, @height: 20px);
        }
    }

    .category {
        overflow-x: hidden;
        overflow-y: auto;

        .items {
            padding: 0;
        }

        .item {
            border-bottom: 1px solid @color-border-pinkish-grey2;

            &.fullSize {
                .bottomSection {
                    display: block;
                }

                .lessText {
                    display: block !important;
                }

                .moreText {
                    display: none;
                }
            }

            &:last-child {
                border-bottom: none;
            }

            .mainSection {
                padding: 30px;
                .size(@height: 140px);

                .logoArea {
                    .size(@width: 250px);
                    float: left;

                    img {
                        .size(100%, 100%);
                    }
                }

                .instruction {
                    .size(@width: ~"calc(100% - 400px)");
                    float: left;
                    padding: 0 30px;

                    .extensionName {
                        .size(@height: 19px);
                        .font(@size: 14px, @weight: bold);
                    }

                    .author {
                        margin-top: 5px;
                        .size(@height: 17px);
                        .font(@size: 12px, @color: @color-font-greyish-brown);
                    }

                    .detail {
                        margin-top: 5px;
                        .size(@height: 34px);
                        .font(@size: 12px, @color: @color-font-greyish-brown);
                    }
                }

                .buttonArea {
                    .size(@width: 150px);
                    float: right;
                    .btn {
                        &:first-child {
                            margin-bottom: 8px;
                        }

                        &.installed {
                            pointer-events: none;
                            background-color: @color-bg-apple-green;
                        }
                    }

                    .lessText {
                        display: none;
                    }
                }
            }

            .bottomSection {
                display: none;
                padding: 20px 30px;
                background-color: @color-bg-white-three;
            
                .leftPart {
                    .size(@width: ~"calc(100% - 150px)");
                    float: left;
                    .font(@size: 12px, @color: @color-font-gray36);

                    .detail {
                        margin-bottom: 5px;
                        word-break: break-word;
                    }
                }

                .rightPart {
                    .size(@width: 150px);
                    float: right;
                    text-align: center;

                    .url {
                        &:first-child {
                            margin-bottom: 5px;
                        }

                        cursor: pointer;
                        .font(@size: 14px, @color: @color-font-select-blue);
                        text-decoration: underline;
                    }   
                }
            }
        }
    }
}

#extension-ops-script {
    display: none;
}

#extension-ops {
    .font(@weight: 600, @color: @color-white);

    &.hasArgs {
        .extLists {
            .size(@height: 40%);
        }

        .extArgs {
            display: block;
            .size(@height: 60%);
        }
    }

    .extLists {
        .size(@height: 100%);
        padding-left: 5px;
        overflow-x: hidden;
        overflow-y: auto;
        .transition(height 0.3s);

        .module {
            background-color: @color-bg-dark-marine;
            padding: 10px 20px;
            box-shadow: inset 0 -1px 0 0 @color-border-light-navy;

            &.active {
                .moduleInfo {
                    color: @color-font-bright-light-blue;

                    .icon {
                        color: @color-font-bright-light-blue;
                    }
                }

                .funcLists {
                    display: block;
                }
            }

            .moduleInfo {
                .icon {
                    margin-right: 5px;
                }
            }

            .funcLists {
                display: none;
                .size(@width: 100%);
                padding-left: 40px;

                .func {
                    margin-top: 12px;
                    .size(@height: 24px);
                    cursor: pointer;
                    opacity: @opacity-unhover;

                    &:hover {
                        opacity: @opacity-hover;
                    }

                    &.selected {
                        opacity: @opacity-hover;
                        color: @color-font-bright-light-blue;
                        cursor: default;

                        .name, .action {
                            border-color: @color-font-bright-light-blue;
                        }

                        .icon {
                            color: @color-font-bright-light-blue;
                        }
                    }

                    .name {
                        .size(@width: ~"calc(100% - 30px)", @height: 100%);
                        float: left;
                        .font(@size: 13px, @line-height: 22px);
                        border: 1px solid @color-white;
                        padding: 0 10px;
                        .textOverflowOneLine;
                    }

                    .action {
                        .size(24px, 24px);
                        float: right;
                        .rounded(2px);
                        border: 1px solid @color-white;
                    
                        .icon {
                            .horizontal-align;
                        }
                    }
                }
            }
        }
    }

    .extArgs {
        display: none;
        .size(@height: 0);
        padding: 10px 0;

        .titleSection {
            .size(@height: 20px);
            font-weight: 700;
            padding-left: 20px;
            padding-right: 5px;

            .title {
                .size(@width: ~"calc(100% - 20px)");
                float: left;
            }

            .icon {
                display: inline-block;
                float: right;
                .size(@width: 20px, @height: 20px);
                .position(relative, @top: 2px);
            }
        }

        .tableSection {
            .size(@width: 100%, @height: 30px);
            margin: 15px 0;
            padding-left: 20px;
            padding-right: 5px;

            .label {
                .size(@width: 40px);
                float: left;
                line-height: 30px;
                margin-right: 10px;
            }

            .tableList {
                .vertical-align;
                .styleDropDownList(@w: ~"calc(100% - 80px)", @h: 26px);
                z-index: 100;

                input {
                    .size(@height: 26px);
                    font-size: 13px;
                }

                .list {
                    color: @color-font-greyish-brown;
                }

                .selected {
                    color: @color-font-select-blue;
                }
            }

            .focusTable {
                .size(@width: 20px, @height: 16px);
                .vertical-align;
                float: right;
            }
        }

        .argSection {
            .size(@height: ~"calc(100% - 130px)");
            overflow-x: hidden;
            overflow-y: auto;
            .font(@size: 12px);

            .desc {
                .size(@height: 30px);
                .position(relative);
                line-height: 30px;
                padding: 0 10px;
                .textOverflowOneLine;

                .focusTable {
                    .size(@width: 20px, @height: 100%);
                    .position(absolute, @top: 3px, @right: 5px);
                }
            }

            .inputWrap {
                .size(@width: 100%, @height: 30px);
                background-color: @color-bg-dark-marine;

                input:not(.dropdownInput) {
                    display: inline-block;
                    float: left;
                    outline: 0;
                    .size(@width: 100%, @height: 30px);
                    .font(@line-height: 30px, @color: @color-white);
                    background-color: transparent;
                    .textOverflowOneLine;
                    
                    padding: 0 10px;
                    opacity: @opacity-unhover;

                    &:focus {
                        opacity: @opacity-hover;
                    }

                    &.type-column {
                        .size(@width: ~"calc(100% - 30px)", @height: 30px);
                        ~ .picker {
                            display: inline-block;
                        }
                    }
                }

                .argDropdown {
                    .styleDropDownList(@w: 100%, @h: 30px);
                    color: @color-font-greyish-brown;
                    position: absolute; // for overflow
                }

                .picker {
                    display: none;
                    float: right;
                    .size(30px, 30px);
                    background-color: @color-bg-select-blue;
                    
                    .icon {
                        .center-align;
                    }
                }
            }
        }

        .bottomSection {
            padding: 7px 0;
            .size(@height: 50px);

            .btn {
                display: block;
                margin: 0 auto;
            }
        }
    }
}

