#helpPanel {
    .mainContent {
        overflow-y: auto;
    }

    #help-documentation {
        overflow-y: hidden;
        height: 100%;
    }
}

#docsPanel {
    height: 100%;
    .cardContainer {
        height: 100%;
        .cardMain {
            height: 100%;
        }
    }
}