#loadWizard {
    @min-width: 450px;

    .App {
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .modelPanel {
            height: 100%;
            flex: 0 0 210px;
        }

        .mainArea {
            height: 100%;
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;

        .cardMain {
            padding: 0;
            overflow: hidden;
            position: relative;
            flex: 1 1 auto;
            display: flex;

            .leftPart {
                overflow-y: auto;
                position: relative;
                flex: 1 1 auto;

                > div {
                    padding: 8px 16px;
                    border-bottom: 1px solid @color-border-medium;

                    &:last-child {
                        border-bottom: none;
                    }

                    .header {
                        font-size: 16px;
                        font-weight: 600;
                        margin-bottom: 8px;
                    }
                }
            }

            .rightPart {
                display: none !important;
                height: 100% !important;
                flex-direction: row;
                border-left: 1px solid @color-border-medium2;
                background-color: @color-bg-leftPanel;
                .innerRightPart {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    overflow: auto;
                    user-select: text;

                    > div {
                        border-bottom: 1px solid @color-border-medium2;
                        padding: 12px;
                    }
                }
                &.active {
                    display: flex !important;
                }

                .forensicsContent {
                    margin: 0px;
                    max-height: none;
                    flex: 0 0 auto;
                    overflow: visible;
                    .xc-expand-list {
                        padding-top: 0px;
                    }
                }

                .xc-expand-list {
                    padding-top: 8px;

                    &.active {
                        .xi-down {
                            transform: rotate(0deg);
                        }
                        > ul {
                            display: block;
                        }
                    }

                    .listInfo {
                        display: flex;
                        cursor: pointer;
                        align-items: center;
                        padding: 0px;
                    }

                    .expand {
                        margin-left: auto;
                    }

                    .xi-down {
                        font-size: 14px;
                        transform: rotate(270deg);
                    }

                    > ul {
                        display: none;
                    }

                    li {
                        height: auto;
                        border: none;
                        padding: 0px;
                        padding-bottom: 4px;
                        .label {
                            color: #AAAAAA;
                        }
                        > div {
                            float: none;
                        }
                    }
                }
                .chartInfo {
                    padding-top: 8px;
                }
            }
        }
        .cardBottom {
            display: flex;
            flex: 0 0 auto;
            padding: 18px 10px 0px 8px;
            min-height: 60px;
            border-top: 1px solid @color-border-medium2;

            .navButtons {
                margin-top: 0px;
                width: 100%;

                .btn.autoWidth {
                    width: auto;
                }
            }
        }
    }

    .react-draggable {
        position: relative !important;
        transform: translate(0, 0) !important;
        display: flex !important;
        flex: 0 0 auto;
    }

    .topSection {
        @w-label: 70px;
        @button-w: 120px;
        @margin: 16px;
        @max-width: @min-width * 2 + @margin;

        .formActions {
            padding-top: 8px;
            height: 32px;
            max-width: @max-width;

            .resetAll {
                float: right;
                text-decoration: underline;
            }
        }

        .sourceForm {
            .row {
                display: flex;
                flex-direction: row;
                height: 30px;
                margin-bottom: 8px;
                max-width: @max-width;
    
                .bucketSelection {
                    width: 100%;
                    max-width: @max-width;
                }
    
                .pathSelection, .fileTypeSelection {
                    min-width: 200px;
                    margin-right: @margin;
                    flex: 1 1 auto;
                }
    
                .navButtons {
                    margin-left: 0;
                    margin-top: 3px;
                    width: @button-w;
    
                    button {
                        width: @button-w;
                    }
                }
            }
    
            .bucketSelection, .pathSelection, .fileTypeSelection {
                height: 30px;
    
                .label {
                    display: block;
                    float: left;
                    width: @w-label;
                    line-height: 30px;
                }
            }
    
            .bucketSelection, .fileTypeSelection {
                .dropDownList {
                    .styleDropDownList(~"calc(100% - @{w-label})", 30px);
    
                    .text {
                        outline: none;
                    }
    
                    &.open {
                        .list {
                            display: block;
                        }
                    }
                }
            }
    
            .pathSelection {
                .input {
                    width: ~"calc(100% - @{w-label})";
                    line-height: 30px;
                }
            }
    
            .fileTypeSelection {
                input, li {
                    text-transform: uppercase;
                }
            }
        }
    }

    .navButtons {
        margin-top: 8px;
        height: 24px;

        .nextButton {
            float: right;
        }

        .backButton {
            float: left;
        }
    }

    .forensicsContent {
        margin: 8px 0;
        width: 100%;
        overflow: auto;

        div, pre {
            // white-space: normal;
            word-break: break-all;
        }
    }

    .browseDataSourceScreen {
        border-bottom: none;
        height: 100%;
        display: flex;
        flex-direction: column;

        .upFolderIcon {
            position: relative;
            top: 4px;
            margin-right: 4px;
        }

        .fileListTableArea {
            display: flex;
            overflow: hidden;
            flex: 1 1 auto;
        }

        .fileListTableWrap {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .loadingText, .noFilesFound {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .fileBrowserPath {
            padding: 8px 0;
            height: 46px;
            input {
                width: ~"calc(100% - 34px)";
                margin-left: 8px;
                outline: none;
                padding: 0px 8px;
            }
        }

        .MuiPaper-root {
            td:first-child, th:first-child {
                .MuiCheckbox-root {
                    padding: 2px;
                    .MuiSvgIcon-root {
                        font-size: 22px;
                    }
                }
            }
            .MuiTableCell-root {
                padding: 0 4px;
            }
        }

        .outerTableWrap {
            display: flex;
            flex-direction: column;
        }

        .tableTopBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.0075em;
            padding: 0 20px 0px 10px;
            min-height: 36px;

            .numItems {
                font-size: 12px;
            }
        }

        .innerTableWrap {
            flex: 1 1 auto;
        }

        .rightAreaResizable {
            height: 100% !important;
            flex-direction: column;
            border-left: 1px solid @color-border-medium2;
        }

        .rightArea {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            width: 100%;
            height: 100%;
            font-size: 12px;

            .react-draggable {
                width: 100% !important;
                border-bottom: 1px solid @color-border-medium2;
                max-height: 90% !important;
                min-height: 50px !important;
            }

            .forensicsContent {
                max-height: none;
            }

            .forensicMessages {
                padding: 10px;
                font-size: 12px;
            }

            .pieHeader {
                padding: 0 10px;
                .textOverflowOneLine;
            }
            .chartArea {
                padding-top: 0px;
            }

            .recharts-pie-label-text {
                font-size: 11px;
            }
        }

        .selectedFilesArea {
            flex: 1 1 60%;
            display: flex;
            flex-direction: column;
            overflow: hidden;

            .selectedFilesHeader {
                font-size: 16px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 500;
                line-height: 1.6;
                letter-spacing: 0.0075em;
                padding-left: 20px;
                display: flex;
                position: relative;
                align-items: center;
                min-height: 40px;
            }

            .selectedFileDistribution {
                padding: 4px 0px 20px;
                min-height: 88px;
                flex: 0 0 auto;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                tr {
                    border-bottom: none;
                }

                th {
                    text-align: left;
                    border-bottom: 1px solid @color-border-table;
                    padding: 6px 4px 7px;
                }
                td {
                    padding: 4px;
                }
                th, td {
                    font-size: 12px;

                    &:first-child {
                        padding-left: 20px;
                    }
                }

                .noFilesSelected {
                    text-align: center;
                    padding-left: 0px !important;
                }
            }

            .icon.xi-close {
                font-size: 16px;
            }

            .MuiPaper-root {
                height: auto;

                > .MuiTable-root:nth-child(3) {
                    margin-top: auto;
                }
            }

            // turn the checkbox into a close icon
            th:first-child, td:first-child {
                .MuiCheckbox-root {
                    padding: 2px;
                }
                .Mui-checked .MuiIconButton-label {
                    &:before {
                        content: "\ea10"; //close icon
                        font-family: 'icomoon' !important;
                        color: @color-font-default;
                        font-size: 16px;
                    }
                    svg {
                        display: none;
                    }
                }
            }
            th:first-child {
                .MuiCheckbox-root {
                    padding: 4px 2px;
                }
            }

            .ReactVirtualized__Table__row .MuiTableCell-root {
                border-bottom: 1px solid transparent;
            }

        }
    }

    // overwrite material UI style
    .MuiPaper-root {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        background-color: @color-bg-modal;
        margin: 4px 0 0;
        height: 100%;
        overflow: auto;

        .MuiToolbar-regular {
            min-height: 40px;
        }

        .MuiTypography-h6 {
            font-size: 16px;
        }

        .MuiSvgIcon-root {
            fill: @color-font-default;
        }

        .Mui-disabled  .MuiSvgIcon-root {
            opacity: @opacity-disabled;
        }

        .MuiTableCell-root {
            background-color: @color-bg-modal;
            color: @color-font-default;
            font-size: 12px;
            border-bottom: 1px solid @color-border-table;
        }

        .MuiTableCell-head {
            color: @color-font-default;
        }

        .MuiTypography-root {
            color: @color-font-default;
        }

        > .MuiTable-root:nth-child(4) {
            margin-top: auto;
        }

        .MuiTableCell-footer {
            border-bottom: none;
        }
        .MuiTablePagination-caption {
            font-size: 12px;
        }
        .MuiTablePagination-toolbar {
            min-height: 40px;
        }
        .MuiIconButton-root {
            padding: 4px;
        }
    }

    .ReactVirtualized__Grid, .ReactVirtualized__Table__Grid,
    .ReactVirtualized__Table__headerColumn {
        outline: none;
    }

    .ReactVirtualized__Table {
        .MuiToolbar-regular {
            min-height: 40px;
        }

        .MuiTypography-h6 {
            font-size: 16px;
        }

        .MuiSvgIcon-root {
            fill: @color-font-default;
        }

        .Mui-disabled  .MuiSvgIcon-root {
            opacity: @opacity-disabled;
        }

        .MuiTableCell-root {
            background-color: @color-bg-modal;
            color: @color-font-default;
            font-size: 12px;
            border-bottom: 1px solid @color-border-table;
            padding: 0 4px;
            width: 100%;
        }

        .ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
            &:first-child, &:nth-child(2) {
                // checkbox column
                min-width: 30px;
            }
        }

        .innerCell {
            .textOverflowOneLine;
        }

        .xi-info-circle-outline {
            font-size: 16px;
        }

        .MuiTableCell-head {
            color: @color-font-default;
        }

        .MuiTypography-root {
            color: @color-font-default;
        }

        > .MuiTable-root:nth-child(4) {
            margin-top: auto;
        }

        .MuiTableCell-footer {
            border-bottom: none;
        }
        .MuiTablePagination-caption {
            font-size: 12px;
        }
        .MuiTablePagination-toolbar {
            min-height: 40px;
        }
        .MuiIconButton-root {
            padding: 4px;
        }

        .MuiTableSortLabel-root:hover {
            opacity: 0.8;
            color: inherit;
        }
        .MuiTableSortLabel-root.MuiTableSortLabel-active {
            color: inherit;
        }
    }

    .filesSelected {
        .section {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;

            > div {
                flex: 1 1 auto;
                height: 38px;
                line-height: 38px;
            }
        }

        .MuiPaper-root {
            padding: 0 4px;
        }
    }

    .chartArea {
        padding-top: 16px;
        .bucketChart{
            width: 800px;
            margin: 0 auto;
            display: flex;
            .recharts-pie-label-text {
                font-size: 12px;
            }
        }
    }

    #SchemaChart {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content: space-evenly;

        .recharts-pie-label-text {
            font-size: 11px;
        }
        .recharts-wrapper {
            margin-bottom: -50px;
        }
    }

    .tableLoad {
        .browsersContainer {
            button {
                background-color: @color-bg-default;
                color: @color-font-default;
            }
        }

        .tableInput {
            text-transform: uppercase;
        }

        .nextButton {
            button {
                width: auto;
            }
        }

        .qMark {
            margin-left: 4px;
            position: relative;
            top: -2px;
        }
    }

    .tableLoad, .discoverTable {
        .error {
            .label {
                margin-right: 4px;
            }

            .action {
                margin-left: 4px;
                color: @color-font-link-blue;
            }

            pre {
                user-select: text;
            }
        }
    }

    .modelPanel {
        @h-header: 36px;
        @h-button: 40px;
        border-right: 1px solid @color-border-medium2;

        .header {
            font-size: 16px;
            line-height: @h-header;
            padding-left: 15px;
            color: @color-font-darkGray;
        }

        .addModel {
            margin: 8px 15px;

            .icon {
                margin-right: 4px;
            }
        }

        .modelList {
            @h-rest: @h-header + @h-button;
            width: 100%;
            height: ~"calc(100% - @{h-rest})";
            overflow-y: auto;
        }

        .modelElement {
            padding-left: 15px;
            padding-right: 4px;
            line-height: 35px;

            &:hover {
                background-color: @color-bg-2;
            }

            &.active {
                background-color: @color-bg-list-hover;
            }

            > span {
                display: block;
                float: left;
                height: 35px;
                line-height: 35px;
            }

            .icon {
                font-size: 20px;
            }

            .modelName {
                margin-left: 8px;
            }
        }
    }

    .SourceCSVArgSection {
        width: 100%;

        > div {
            &:first-child {
                margin-bottom: 8px;
            }
        }

        .row {
            margin-top: 4px;
            width: 100%;
            @label-w: 130px;

            label {
                width: @label-w;
                display: inline-block;
            }

            input {
                width: ~"calc(100% - @{label-w})";

                &.error {
                    border-color: @color-error-border-light;
                }
            }
        }
    }

    .discoverTable {
        position: relative;
        z-index: 0;
        margin-bottom: 16px;

        .MuiTableCell-paddingNone {
            padding: 2px;
        }

        .MuiPaper-root {
            box-shadow: none;
            border: 1px solid @color-border-medium;
        }

        .MuiToolbar-gutters {
            padding-left: 0;
        }

        .error {
            max-width: 150px;
            white-space: pre-wrap;
            user-select: text;
        }
    }

    .advOption {
        .advOption-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .advOption-option {
            margin: 4px;
            padding: 0;
            min-width: @min-width;
            display: flex;
            flex-direction: row;

            &.fullRow {
                width: 100%;;
            }
        }

        .advOption-option-label {
            display: flex;
            align-items: center;
            margin-right: 8px;
        }

        .advOption-option-value {
            flex-grow: 1;
            .clearfix();
        }

        button {
            float: right;
        }
    }

    .csvArgs-chkbox {
        height: 30px;
        display: flex;
        align-items: center;
    }

    .schemaBtn {
        width: auto;
        font-size: 10px;
        height: 16px;
        line-height: 14px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        top: -1px;
    }

    .dropDownList {
        input:read-only {
            outline: none;
        }
        .list {
            display: block;
        }
    }

    .sep {
        width: 100%;
        padding: 0;
        margin: 16px 0;
        border-top: solid 1px @color-border-medium;
    }

    .modal {
        position: fixed; /* Stay in place */
        z-index: @z-index-modal; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgba(0,0,0,0.5);

        .modal-content {
            background-color: @color-bg-modal;
            margin: 32px 16px;
            height: ~"calc(100% - 64px)";
            border: 1px solid @color-border-medium;
            border-radius: 16px;
            font-size: 14px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .modal-header {
            padding: 8px 16px 0 24px;
            height: 42px;
            position: relative;
            flex: 0 0 auto;

            .text {
                display: inline-block;
                padding-right: 24px;
                line-height: 26px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .close {
                cursor: pointer;
                opacity: 1;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 10px;
                right: 24px;

                &:hover,
                &:focus {
                  opacity: 0.6;
                  text-decoration: none;
                  cursor: pointer;
                }
            }
        }

        .modal-body {
            border-top: 1px solid @color-border-medium;
            padding: 16px;
            flex: 1 1 auto;
            overflow: auto; // allow scrolling
        }

        .modal-footer {
            border-top: 1px solid @color-border-medium;
            padding: 16px;
            flex: 0 0 auto;
        }
    }
}