#loadWizard {
    .App {
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .modelPanel {
            height: 100%;
            flex: 0 0 210px;
        }

        .mainArea {
            height: 100%;
            flex: 1 1 auto;
            overflow: hidden;
        }
    }

    .container {
        height: 100%;

        .cardMain {
            padding: 20px;
            height: ~"calc(100% - 36px)";
            overflow-y: auto;
            position: relative;
        }
    }

    .box {
        padding: 40px;
        padding-top: 10px;
    }

    .sourceForm {
        @w-label: 120px;

        .label {
            display: block;
            float: left;
            width: 120px;
            line-height: 30px;
        }

        .bucketSelection, .pathSelection, .fileTypeSelection {
            height: 30px;
            margin-bottom: 8px;
            display: flex;
            .input {
                width: ~"calc(100% - @{w-label})";
                line-height: 30px;
            }
            .fieldWrap {
                flex: 1 1 auto;
            }
        }

        .fileTypeSelection {
            .iconWrapper {
                margin-right: 4px;
            }

            .option {
                padding-right: 8px;
            }
        }

        .bucketSelection {
            .fieldWrap {
                > .dropDownList {
                    .styleDropDownList(~"calc(100% - @{w-label})", 30px);

                    .text {
                        outline: none;
                    }

                    &.open {
                        .list {
                            display: block;
                        }
                    }
                }
            }
        }

        .pathSelection {
            .navButtons {
                margin-top: 3px;
                margin-left: 16px;
            }
        }
    }

    .modelInfo {
        margin: 8px 0;
    }

    .createTableButton {
        margin-right: 8px;
        width: auto;
    }

    .navButtons {
        margin-top: 8px;
        height: 24px;

        .nextButton {
            float: right;
        }

        .backButton {
            float: left;
        }
    }

    .forensicsContent {
        margin: 8px 0;
        width: 100%;
        max-height: 300px;
        overflow: auto;

        div, pre {
            // white-space: normal;
            word-break: break-all;
        }
    }

    .browseDataSourceScreen {
        border-bottom: none;
        height: 100%;
        display: flex;
        flex-direction: column;

        .upFolderIcon {
            position: relative;
            top: 4px;
            margin-right: 4px;
        }

        .fileListTableArea {
            display: flex;
            overflow: hidden;
            flex: 1 1 auto;
        }

        .fileListTableWrap {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            overflow: hidden;
        }

        .loadingText, .noFilesFound {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .fileBrowserPath {
            padding: 8px 0;
            height: 46px;
            input {
                width: ~"calc(100% - 34px)";
                margin-left: 8px;
                outline: none;
                padding: 0px 8px;
            }
        }

        .MuiPaper-root {
            td:first-child, th:first-child {
                .MuiCheckbox-root {
                    padding: 2px;
                    .MuiSvgIcon-root {
                        font-size: 22px;
                    }
                }
            }
            .MuiTableCell-root {
                padding: 0 4px;
            }
        }

        .outerTableWrap {
            display: flex;
            flex-direction: column;
        }

        .tableTopBar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-weight: 500;
            line-height: 1.6;
            letter-spacing: 0.0075em;
            padding: 0 20px 0px 10px;
            min-height: 36px;

            .numItems {
                font-size: 12px;
            }
        }

        .innerTableWrap {
            flex: 1 1 auto;
        }

        .selectedFilesArea {
            min-width: 300px;
            max-width: 400px;
            flex: 0 0 30%;
            border-left: 1px solid @color-border-medium2;
            display: flex;
            flex-direction: column;

            .selectedFilesHeader {
                font-size: 16px;
                font-family: "Roboto", "Helvetica", "Arial", sans-serif;
                font-weight: 500;
                line-height: 1.6;
                letter-spacing: 0.0075em;
                padding-left: 20px;
                display: flex;
                position: relative;
                align-items: center;
                min-height: 40px;
            }

            .selectedFileDistribution {
                padding: 4px 0px 20px;
                min-height: 88px;
                flex: 0 0 auto;

                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-spacing: 0;
                }

                tr {
                    border-bottom: none;
                }

                th {
                    text-align: left;
                    border-bottom: 1px solid @color-border-table;
                    padding: 6px 4px 7px;
                }
                td {
                    padding: 4px;
                }
                th, td {
                    font-size: 12px;

                    &:first-child {
                        padding-left: 20px;
                    }
                }

                .noFilesSelected {
                    text-align: center;
                    padding-left: 0px !important;
                }
            }

            .icon.xi-close {
                font-size: 16px;
            }

            .MuiPaper-root {
                height: auto;

                > .MuiTable-root:nth-child(3) {
                    margin-top: auto;
                }
            }

            // turn the checkbox into a close icon
            th:first-child, td:first-child {
                .MuiCheckbox-root {
                    padding: 2px;
                }
                .Mui-checked .MuiIconButton-label {
                    &:before {
                        content: "\ea10"; //close icon
                        font-family: 'icomoon' !important;
                        color: @color-font-default;
                        font-size: 16px;
                    }
                    svg {
                        display: none;
                    }
                }
            }
            th:first-child {
                .MuiCheckbox-root {
                    padding: 4px 2px;
                }
            }

            .ReactVirtualized__Table__row .MuiTableCell-root {
                border-bottom: 1px solid transparent;
            }

        }
    }

    // overwrite material UI style
    .MuiPaper-root {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        background-color: @color-bg-modal;
        margin: 4px 0 0;
        height: 100%;
        overflow: auto;

        .MuiToolbar-regular {
            min-height: 40px;
        }

        .MuiTypography-h6 {
            font-size: 16px;
        }

        .MuiSvgIcon-root {
            fill: @color-font-default;
        }

        .Mui-disabled  .MuiSvgIcon-root {
            opacity: @opacity-disabled;
        }

        .MuiTableCell-root {
            background-color: @color-bg-modal;
            color: @color-font-default;
            font-size: 12px;
            border-bottom: 1px solid @color-border-table;
        }

        .MuiTableCell-head {
            color: @color-font-default;
        }

        .MuiTypography-root {
            color: @color-font-default;
        }

        > .MuiTable-root:nth-child(4) {
            margin-top: auto;
        }

        .MuiTableCell-footer {
            border-bottom: none;
        }
        .MuiTablePagination-caption {
            font-size: 12px;
        }
        .MuiTablePagination-toolbar {
            min-height: 40px;
        }
        .MuiIconButton-root {
            padding: 4px;
        }
    }

    .ReactVirtualized__Grid, .ReactVirtualized__Table__Grid,
    .ReactVirtualized__Table__headerColumn {
        outline: none;
    }

    .ReactVirtualized__Table {
        .MuiToolbar-regular {
            min-height: 40px;
        }

        .MuiTypography-h6 {
            font-size: 16px;
        }

        .MuiSvgIcon-root {
            fill: @color-font-default;
        }

        .Mui-disabled  .MuiSvgIcon-root {
            opacity: @opacity-disabled;
        }

        .MuiTableCell-root {
            background-color: @color-bg-modal;
            color: @color-font-default;
            font-size: 12px;
            border-bottom: 1px solid @color-border-table;
            padding: 0 4px;
            width: 100%;
        }

        .ReactVirtualized__Table__headerColumn, .ReactVirtualized__Table__rowColumn {
            &:first-child, &:nth-child(2) {
                // checkbox column
                min-width: 30px;
            }
        }

        .innerCell {
            .textOverflowOneLine;
        }


        .MuiTableCell-head {
            color: @color-font-default;
        }

        .MuiTypography-root {
            color: @color-font-default;
        }

        > .MuiTable-root:nth-child(4) {
            margin-top: auto;
        }

        .MuiTableCell-footer {
            border-bottom: none;
        }
        .MuiTablePagination-caption {
            font-size: 12px;
        }
        .MuiTablePagination-toolbar {
            min-height: 40px;
        }
        .MuiIconButton-root {
            padding: 4px;
        }

        .MuiTableSortLabel-root:hover {
            opacity: 0.8;
            color: inherit;
        }
        .MuiTableSortLabel-root.MuiTableSortLabel-active {
            color: inherit;
        }
    }

    .filesSelected {
        .MuiPaper-root {
            padding: 0 4px;
        }
    }

    .discoverAll {
        margin-bottom: 8px;
    }

    #loadAll {
        margin-bottom: 8px;
        button {
            margin-right: 4px;
        }
    }

    .chartArea {
        padding-top: 16px;
        .bucketChart{
            width: 800px;
            margin: 0 auto;
            display: flex;
            .recharts-pie-label-text {
                font-size: 12px;
            }
        }
    }

    #SchemaChart {
        width: 100%;
        margin: 0 auto;
        display: flex;
        .recharts-pie-label-text {
            font-size: 10px;
        }
    }

    .tableLoad {
        button {
            background-color: @color-bg-default;
            color: @color-font-default;
        }

        .tableInput {
            text-transform: uppercase;
        }

        .error {
            .label {
                margin-right: 4px;
            }

            .action {
                margin-left: 4px;
                color: @color-font-link-blue;
            }

            pre {
                user-select: text;
            }
        }

        .qMark {
            margin-left: 4px;
            position: relative;
            top: -2px;
        }
    }

    .modelPanel {
        @h-header: 36px;
        @h-button: 40px;
        border-right: 1px solid @color-border-medium2;

        .header {
            font-size: 16px;
            line-height: @h-header;
            padding-left: 15px;
            color: @color-font-darkGray;
        }

        .addModel {
            margin: 8px 15px;

            .icon {
                margin-right: 4px;
            }
        }

        .modelList {
            @h-rest: @h-header + @h-button;
            width: 100%;
            height: ~"calc(100% - @{h-rest})";
            overflow-y: auto;
        }

        .modelElement {
            padding-left: 15px;
            padding-right: 4px;
            line-height: 35px;

            &:hover {
                background-color: @color-bg-2;
            }

            &.active {
                background-color: @color-bg-list-hover;
            }

            > span {
                display: block;
                float: left;
                height: 35px;
                line-height: 35px;
            }

            .icon {
                font-size: 20px;
            }

            .modelName {
                margin-left: 8px;
            }
        }
    }

    .SourceCSVArgSection {
        width: 100%;

        > div {
            &:first-child {
                margin-bottom: 8px;
            }
        }

        .row {
            margin-top: 4px;
            width: 100%;
            @label-w: 130px;

            label {
                width: @label-w;
                display: inline-block;
            }

            input {
                width: ~"calc(100% - @{label-w})";

                &.error {
                    border-color: @color-error-border-light;
                }
            }
        }
    }

    .discoverTable {
        position: relative;
        z-index: 0;

        .MuiTableCell-paddingNone {
            padding: 2px;
        }
    }

    .advOption {
        .advOption-header {
            font-size: 16px;
            font-weight: 600;
        }

        .advOption-group {
            flex-grow: 1;
        }

        .advOption-option {
            margin: 4px 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-direction: row;
        }

        .advOption-option-label {
            font-size: 14px;
            flex-basis: 220px;
            display: flex;
            align-items: center;
        }

        .advOption-option-value {
            flex-grow: 1;
            .clearfix();
        }
    }

    .csvArgs-chkbox {
        height: 30px;
        display: flex;
        align-items: center;
    }

    .schemaBtn {
        width: auto;
        font-size: 10px;
        height: 16px;
        line-height: 14px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        top: -1px;
    }

    .dropDownList {
        input:read-only {
            outline: none;
        }
        .list {
            display: block;
        }
    }

    .sep {
        width: 100%;
        padding: 0;
        margin: 16px 0;
        border-top: solid 1px #888;
    }

    .sectionTitle {
        font-size: 20px;
        font-weight: 600;
        padding-bottom: 8px;
    }

    .modal {
        position: absolute; /* Stay in place */
        z-index: 200; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.5);

        .modal-content {
            background-color: #2e2e2e;
            margin: 16px;
            height: ~"calc(100% - 32px)";
            border: 1px solid #888;
            border-radius: 16px;
            font-size: 14px;
            overflow: hidden;
            display: flex;
            flex-direction: column;
        }

        .modal-header {
            padding: 8px 16px 0 24px;
            height: 42px;
            position: relative;
            flex: 0 0 auto;

            .text {
                font-weight: 600;
                font-size: 20px;
                color: #DDDDDD;
                display: inline-block;
                padding-right: 24px;
                line-height: 26px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .close {
                cursor: pointer;
                opacity: 1;
                width: 18px;
                height: 18px;
                position: absolute;
                top: 10px;
                right: 24px;

                &:hover,
                &:focus {
                  opacity: 0.6;
                  text-decoration: none;
                  cursor: pointer;
                }
            }
        }

        .modal-body {
            border-top: 1px solid #888;
            padding: 16px;
            flex: 1 1 auto;
            overflow: auto; // allow scrolling
        }

        .modal-footer {
            border-top: 1px solid #888;
            padding: 16px;
            flex: 0 0 auto;
        }
    }
}