#loadWizard {
    .App {
        height: 100%;
        display: flex;
        flex-direction: row;
        overflow: hidden;

        .modelPanel {
            height: 100%;
            flex: 0 0 210px;
        }

        .mainArea {
            height: 100%;
            flex: 1 1 auto;
        }
    }

    .container {
        height: 100%;

        .cardMain {
            padding: 20px;
            height: ~"calc(100% - 36px)";
            overflow-y: auto;
        }
    }

    .box {
        padding: 40px;
        padding-top: 10px;
    }

    .sourceForm {
        @w-label: 120px;

        .label {
            display: block;
            float: left;
            width: 120px;
            line-height: 30px;
        }

        .bucketSelection, .pathSelection, .fileTypeSelection {
            height: 30px;
            margin-bottom: 8px;
            display: flex;
            .input {
                width: ~"calc(100% - @{w-label})";
                line-height: 30px;
            }
            .fieldWrap {
                flex: 1 1 auto;
            }
        }

        .fileTypeSelection {
            .iconWrapper {
                margin-right: 4px;
            }

            .option {
                padding-right: 8px;
            }
        }

        .bucketSelection {
            .fieldWrap {
                > .dropDownList {
                    .styleDropDownList(~"calc(100% - @{w-label})", 30px);

                    .text {
                        outline: none;
                    }

                    &.open {
                        .list {
                            display: block;
                        }
                    }
                }
            }
        }

        .pathSelection {
            .navButtons {
                margin-top: 3px;
                margin-left: 16px;
            }
        }
    }

    .modelInfo {
        margin: 8px 0;
    }

    .createTableButton {
        margin-right: 8px;
        width: auto;
    }

    .navButtons {
        margin-top: 8px;
        height: 24px;

        .nextButton {
            float: right;
        }

        .backButton {
            float: left;
        }
    }

    .forensicsContent {
        margin: 8px 0;
        width: 100%;
        max-height: 300px;
        overflow: auto;

        div, pre {
            // white-space: normal;
            word-break: break-all;
        }
    }

    .browseDataSourceScreen {
        border-bottom: none;

        .upFolderIcon {
            position: relative;
            top: 4px;
            margin-right: 4px;
        }

        .fileBrowserPath {
            padding: 8px 0;
            height: 46px;
            input {
                width: ~"calc(100% - 26px)";
                outline: none;
            }
        }
    }

    // overwrite material UI style
    .MuiPaper-root {
        background-color: @color-bg-modal;
        margin: 4px 0;
        height: ~"calc(100% - 86px)";
        overflow: auto;

        .MuiSvgIcon-root {
            fill: @color-font-default;
        }

        .MuiTableCell-root {
            background-color: @color-bg-modal;
            color: @color-font-default;
        }

        .MuiTableCell-head {
            color: @color-font-default;
        }

        .MuiTypography-root {
            color: @color-font-default;
        }
    }

    .filesSelected {
        .MuiPaper-root {
            padding: 0 4px;
        }
    }

    .discoverAll {
        margin-bottom: 8px;
    }

    #loadAll {
        margin-bottom: 8px;
        button {
            margin-right: 4px;
        }
    }

    tr {
        border-bottom: 1px solid black;
    }

    .chartArea {
        padding-top: 16px;
        .bucketChart{
            width: 800px;
            margin: 0 auto;
            display: flex;
            .recharts-pie-label-text {
                font-size: 12px;
            }
        }
    }

    #SchemaChart {
        width: 100%;
        margin: 0 auto;
        display: flex;
        .recharts-pie-label-text {
            font-size: 10px;
        }
    }

    .tableLoad {
        button {
            background-color: @color-bg-default;
            color: @color-font-default;
        }
    }

    .modelPanel {
        @h-header: 36px;
        @h-button: 40px;
        border-right: 1px solid @color-border-medium2;

        .header {
            font-size: 16px;
            line-height: @h-header;
            padding-left: 15px;
            color: @color-font-darkGray;
        }

        .addModel {
            margin: 8px 15px;

            .icon {
                margin-right: 4px;
            }
        }

        .modelList {
            @h-rest: @h-header + @h-button;
            width: 100%;
            height: ~"calc(100% - @{h-rest})";
            overflow-y: auto;
        }

        .modelElement {
            padding-left: 15px;
            padding-right: 4px;
            line-height: 35px;

            &:hover {
                background-color: @color-bg-2;
            }

            &.active {
                background-color: @color-bg-list-hover;
            }

            > span {
                display: block;
                float: left;
                height: 35px;
                line-height: 35px;
            }

            .icon {
                font-size: 20px;
            }

            .modelName {
                margin-left: 8px;
            }
        }
    }

    .SourceCSVArgSection {
        > div {
            &:first-child {
                margin-bottom: 8px;
            }
        }

        .row {
            margin-top: 4px;
            width: 100%;
            @label-w: 130px;

            label {
                width: @label-w;
                display: inline-block;
            }

            input {
                width: ~"calc(100% - @{label-w})";

                &.error {
                    border-color: @color-error-border-light;
                }
            }
        }
    }

    .schemaBtn {
        width: auto;
        font-size: 10px;
        height: 16px;
        line-height: 14px;
        padding-top: 0;
        padding-bottom: 0;
        position: relative;
        top: -1px;
    }

    .dropDownList {
        input:read-only {
            outline: none;
        }
        .list {
            display: block;
        }
    }
}