 /* Menu Bar  */
#homeBtn {
    .size(@width: @width-homeBtn, @height: @height-homeBtn);
    display: inline-block;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: @z-index-homeBtn;
    cursor: pointer;

    .logo {
        .center-align;
        position: absolute;
    }
}

#menuBar {
    .size(@width: @width-homeBtn, @height: 100%);
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: @color-bg-select-blue;
    line-height: 0px;
    z-index: @z-index-menuBar;
    padding-top: @height-homeBtn;
    color: @color-white;

    &.animating > div {
        pointer-events: none;
    }
}

#container {
    &.advMode {
        #menuBar {
            background-color: @color-bg-topBarGray2;
        }

        #bottomMenuBarTabs {
            border-color: @color-border-bar;
        }

        .topMenuBarTab, .bottomMenuBarTab {
            border-color: @color-border-bar;


            .mainTab {
                opacity: 1;
                .icon, .label {
                    color: @color-bg-cardHeader;
                }
            }

            &.active:not(.fromMainMenu) {
                background-color: @color-bg-cardHeader !important;
                box-shadow: inset 0 1px 1px 0.5px @color-tab-shadow;

                .mainTab {
                    .icon, .label {
                        color: @color-white;
                    }
                }
            }

            &:hover, &.hover {
                .mainTab {
                    background-color: @color-bg-cardHeader !important;

                    .icon, .label {
                        color: @color-white;
                    }
                }
            }
        }

        .subTab {
            background-color: @color-bg-advSubTab-grey;
            border-bottom: 1px solid @color-bg-cardHeader;
            opacity: 1;

            .icon {
                color: @color-border-menubar-grey;
            }

            &.active {
                background-color: @color-bg-advSubTab-drakerGrey;
                box-shadow: inset 0 2px 1px 0 @color-subTab-shadow;

                &:hover {
                    background-color: @color-bg-advSubTab-draketsGrey;
                }
            }

            &:hover {
                background-color: @color-bg-advSubTab-drakerGrey;
            }

            &:last-child {
                border-bottom: none;
            }
        }
    }
}


.topMenuBarTab, .bottomMenuBarTab {
    .position(relative);
    .size(@width: 100%);
    border-bottom: 1px solid @color-bg-dusk-blue;
    float: left;
    cursor: pointer;
    .noSelection;

    &#dataStoresTab {
        border-top: 1px solid @color-bg-dusk-blue;
    }

    &.active:not(.fromMainMenu) {
        background-color: @color-bg-dusk-blue !important;

        .transition(all 0s);
        .mainTab {
            opacity: 1;

            .icon, .label {
                color: @color-font-softBlue;
            }
        }
        .subTab {
            display: block;
        }
    }

    &:hover, &.hover {
        background-color: darken(@color-bg-select-blue, 3%) !important;
        color: @color-white;
        .mainTab {
            opacity: 1;
        }
    }

    .mainTab {
        .size(@width: 100%, @height: @height-mainTab);
        opacity: 0.6;
        .transition(opacity 0.1s);

        .icon {
            .center-align;
            position: absolute;
            top: 20px;
        }
        .label {
            font-size: 9px;
            position: absolute;
            line-height: 10px;
            text-align: center;
            top: 32px;
            height: @height-mainTab - 32px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
    }
    .subTab {
        .size(@width: 100%, @height: @height-subTab);
        background-color: @color-bg-light-navy;
        position: relative;
        display: none;
        opacity: 0.6;

        &.active {
            background-color: @color-bg-marine;
            .icon, .label {
                color: @color-font-softBlue;
            }

            // XX temp styling if subTab is the only subtab and is active
            &:nth-child(1):nth-last-child(1) {
                background-color: @color-bg-light-navy;
            }
        }
        .icon {
            font-size: 17px;
            .center-align;
            position: absolute;
            top: 14px;
        }

        .label {
            font-size: 9px;
            position: absolute;
            line-height: 10px;
            text-align: center;
            top: 22px;
            height: @height-subTab - 22px;
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }

        &:hover {
            opacity: 1;
        }
    }
}
.topMenuBarTab.active::after {
    content: "";
    display: block;
    .position(absolute, @top: 0, @left: 0);
    height: ~"calc(100% - @{height-mainTab})";
    width: 5px;
    background-color: @color-border-mainTab-active;
    top: @height-mainTab;
    left: 0;
}
.subTab.active::after {
    content: "";
    display: block;
    .position(absolute, @top: 0, @left: 0);
    position: absolute;
    height: 100%;
    width: 5px;
    background-color: @color-border-subTab-active;
    z-index: 1;
}
#targetButton {
    .xi-data-connector {
        font-size: 25px;
    }
}


#bottomMenuBarTabs {
    border-top: 1px solid @color-bg-dusk-blue;
    .size(@width: 100%);
    .position(absolute, @bottom: 0px);

    &.dataMart {
        position: relative;
        border-top: none;
    }

    .bottomMenuBarTab {
        line-height: 15px;
        .size(@width: 100%, @height: @height-mainTab);
    }
}

// ========== Start Top / Main Menu =======
#mainMenu {
    .position(absolute, @left: @width-homeBtn - @width-topMenu, @bottom: 0px);
    .size(@width: @width-topMenu, @min-width: @width-topMenu, @height: ~"calc(100% - @{height-homeBtn})");
    z-index: @z-index-topMenu;
    .transition(left @time-menuAnim);
    background-color: @color-white;
    color: @color-font-form-gray;

    &.noAnim {
        .transition(left 0s);
    }

    &.open {
        .position(@left: @width-homeBtn);
        border-top: 1px solid @color-border-grayBlue;
        border-right: 1px solid @color-border-grayBlue;
        border-left: 1px solid @color-border-grayBlue;

        &::after { // used for darkening menu when json modal is open
            content: "";
            opacity: 0;
            z-index: -1;
            .transition(opacity @time-menuAnim);
        }
        &.jsonModalOpen {
            z-index: @z-index-modal;
            > .ui-resizable-handle {
                display: none !important;
                z-index: -1;
            }
            > .ui-resizable-handle.ui-resizable-e {
                display: none !important;
                z-index: -1;
            }
            &::after {
                content: "";
                display: block;
                .position(absolute, 0, -1);
                .size(~"calc(100% + 1px)", 100%);
                background-color: @color-black;
                opacity: 0.25;
                z-index: 4;
            }
        }
    }

    &.closed {
        border-right: 1px solid @color-border-grayBlue;

        .mainContent {
            display: none;
        }
        > .ui-resizable-handle {
            display: none !important;
        }
    }

    &.expanded {
        box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
    }

    &.resizing {
        .mainContent {
            pointer-events: none;
        }
    }

    > .ui-resizable-handle {
        z-index: @z-index-topMenu !important;
        width: 10px;
        right: -5px;
    }

    > .mainContent {
        .size(100%, 100%);
    }

    .commonSection {
        display: none;
        .size(100%, 100%);
        padding: 0px;
        color: @color-font-form-gray;

        &.active {
            display: block;
        }
    }

    @topSectionHeight: 60px;

    .menuSection {
        background-color: @color-white;
        padding-bottom: 5px;
        color: @color-font-edge;
        height: 100%;

        > .topSection {
            display: flex;
            font-weight: bold;
            padding-left: 15px;
            padding-right: 8px;
            height: @topSectionHeight;
            border-bottom: 1px solid @color-bg-topBarGray2;

            .titleSection {
                .flex(1 1 auto);
                color: @color-font-form-gray;
                font-size: 22px;
                line-height: @topSectionHeight;
            }

            .iconSection {
                .flex(1 0 auto);

                .icon {
                    font-size: 14px;
                    margin-left: 12px;
                    margin-top: 8px;
                    float: right;
                    .xc-icon-action;
                }
            }
        }

        > .mainSection {
            height: ~"calc(100% - @{topSectionHeight})";
            color: @color-font-edge;
            overflow: auto;
            border-top: none;
            padding-top: 10px;
        }
    }
}
// ==========  End Top / Main Menu =======

.mainMenuGhost {
    opacity: 0.5;
    background: @color-white;
    border-right: 2px solid @color-border-softGray2;
}


#dataflowMenu {
    .menuSection.tables {
        > .iconSection {
            .size(@height: 6px);
        }

        > .titleSection {
            border-bottom: none;
            .size(@width: 100px);
            .position(relative, @top: -3px);
        }

        > .mainSection {
            .size(@height: ~"calc(100% - 45px)");
        }
        .hint {
            position: relative;
            bottom: 2px;
            left: 2px;
        }
    }
}

#monitorMenu .menuSection > .mainSection {
    overflow: initial; // prevents monitorMenu-query exitOptions from being hidden
}

#inButton {
    .icon {
        .font(@size: 20px);
    }
}

// ========== Bottom Menu ==========
#bottomMenu {
    .position(absolute, @left: @width-homeBtn - @width-topMenu, @bottom: 0px); // far left so we can't see visibile items
    .size(@width: @width-bottomMenu,  @height: ~"calc(100% - @{height-homeBtn})");
    z-index: @z-index-bottomMenu;
    .transition(left @time-menuAnim);
    border-right: 1px solid @color-border-grayBlue;
    border-top: 1px solid @color-border-grayBlue;
    border-left: 1px solid @color-border-grayBlue;

    &.noAnim {
        .transition(left 0s);
    }

    &.fromMainMenu {
        .toManager, .popOut {
            display: none;
        }
    }

    &.open {
        .position(@left: @width-homeBtn);
        > .ui-resizable-handle {
            &.ui-resizable-e {
                display: block !important;
                right: -12px; // more space for scrollbar area
            }
        }

        &::after { // used for darkening menu when json modal is open
            content: "";
            opacity: 0;
            z-index: -1;
            .transition(opacity @time-menuAnim);
        }
    }

    &.poppedOut {
        height: ~"calc(100% - 119px)";
        .position(@right: 5px, @bottom: 46px);
        z-index: @z-index-homeBtn + 1;
        .transition(right 0s);
        box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
        border-top-color: transparent;

        .heading {
            pointer-events: auto;
            .cursor-move;
        }

        > .ui-resizable-handle {
            display: block !important;
        }

        #logSection {
            .menuContent {
                .size(@width: auto, @height: ~"calc(100% - 55px)");
            }
        }
    }

    &.jsonModalOpen {
        > .ui-resizable-handle {
            display: none !important;
        }
        &.open {
            z-index: @z-index-modal;
           > .ui-resizable-handle.ui-resizable-e {
                display: none !important;
                z-index: -1;
           }
           &::after {
                content: "";
                display: block;
                .position(absolute, 0, 0);
                .size(100%, 100%);
                background-color: @color-black;
                opacity: 0.4;
                z-index: 4;
            }
        }
    }

    > .ui-resizable-handle {
        display: none !important;
        z-index: 20 !important;
        &.ui-resizable-e {
           right: -10px;
        }
    }

    .sideBarTopButtons {
        .position(relative);
        z-index: 1;
        .noSelection;

        .icon {
            margin-top: 8px;
            float: right;
            margin-right: 8px;
            font-size: 14px;
            .xc-icon-action;
        }
    }

    .menuSection {
        .position(absolute, @top: 0, @left: 0);
        .size(@width: 100%, @height: 100%);
        display: none;
        overflow: hidden;
        background-color: @color-white;

        &.active {
            display: block;
        }
    }

    .heading {
        .size(@width: 100%, @height: 60px);
        text-align: left;
        overflow: hidden;
        pointer-events: none;
        cursor: default;
        background-color: @color-white;
        padding-left: @width-menuPadding;

        h2 {
            .font(@line-height: 60px,  @size: 20px, @weight: bold, @color: @color-font-form-gray);
            display: inline-block;
            .textOverflowOneLine;
        }
    }

    .menuContent {
        .position(relative);
        .size(@width: auto, @height: ~"calc(100% - 71px)");
        overflow: hidden;
        background-color: @color-white;
    }
}

/* ========== UDF Section ========== */
#udfSection {
    color: @color-font-form-gray;
    overflow: visible !important;

    .mainSectionContainer {
        .size(@width: 100%, @height: 100%);
    }
}

ul.CodeMirror-hints {

    .CodeMirror-hint.python {
        font-family: monospace;
        font-size: 14px;
        &:first-child {
            border-top: 0px;
            margin-top: 3px;
        }
        &.empty {
            height:  0px !important;
            padding: 0px;
        }
    }
}

#udf-fnSection {
    .size(100%, 100%);
    .flex-display;
    .flex-flow(column);

    .action {
        .size(@width: 255px, @height: 28px);
        line-height: 30px;
        margin: 0px 10px 10px;
        display: block;
    }

    input {
        color: @color-font-form-gray;
        .textOverflowOneLine;
    }

    .topSection {
        padding: 8px 16px;
        background-color: @color-bg-list-hover-blue;
        font-size: 12px;
        border-top: 1px solid @color-border-softGray;
        border-bottom: 1px solid @color-border-softGray;

        .flex-display;
        .flex-wrap(wrap);
        .flex(0 0 auto);
        .justify-content(space-around);
        flex-direction: row;

        .templateSection {
            flex: 1 1 auto;

            .template {
                .size(@width: auto, @height: 30px);

                > div {
                    float: left;
                }

                &.sql {
                    .text {
                        height: 30px;
                        line-height: 30px;
                        font-size: 16px;
                    }
                }
            }
        }

        .buttonSection {
            flex: 0 0 auto;

            .icon {
                font-size: 14px;
                margin-left: 8px;
                line-height: 30px;
            }
        }
    }

    .dropDownList {
        .styleDropDownList(100%, 28px);

        .text {
            font-size: 12px;
            width: ~"calc(100% - 28px)";
            background-color: @color-white;
            border: 1px solid @color-border-softGray;
            cursor: text;

            &:focus {
                outline: none;
            }
        }

        .list {
            .size(@width: 100%);
            box-shadow: 0 2px 2px 0 @color-border-menugray;
            .position(absolute, @left: 0, @top: 28px);
            cursor: pointer;

            li {
                box-shadow: inset 0 -1px 0 0 @color-border-menugray;
                color: @color-font-form-gray;
                font-size: 12px;
                background-color: @color-white;

                &.workbookUDF {
                    background-color: @color-bg-select-blue;
                    padding-left: 15px;

                    &.hover, &.highlighted {
                        background-color: @color-bg-light-navy;
                    }
                }

                &.dataflowUDF {
                    background-color: @color-bg-select-blue;
                    padding-left: 20px;

                    &.hover, &.highlighted {
                        background-color: @color-bg-light-navy;
                    }
                }

                &.udfHeader {
                    .size(@height: 24px);
                    line-height: 24px;
                    background-color: @color-bg-light-navy;
                    text-transform: uppercase;
                    font-weight: bold;
                }

                &.dataflowHeader {
                    .size(@height: 24px);
                    line-height: 24px;
                    background-color: @color-bg-dusk-blue;
                    text-transform: uppercase;
                    padding-left: 15px;
                    font-weight: bold;
                }

                &[name="blank"] {
                    text-transform: initial;
                    color: @color-font-link-blue;

                    .icon {
                        font-size: 10px;
                        line-height: 24px;
                        margin-right: 6px;
                        display: inline-block;
                        width: 10px;
                    }
                }

                &.noResultHint {
                    color: @color-text-lightGray;
                }

                &.hover, &.highlighted {
                    background-color: @color-bg-list-hover-blue;
                }
            }
        }

        .iconWrapper {
            border-left: none;
        }
    }

    .CodeMirror-scrollbar-filler {
        display: none !important;
    }

    .editSection {
        .flex(1 1 auto);
        .flex-display;
        .size(@width: 100%);
        .position(relative);
        overflow: hidden;

        .editArea {
            ::-webkit-scrollbar-track {
                background: @color-bg-list-hover-blue;
            }
            ::-webkit-scrollbar-thumb {
                background-color: #c1c1c1 !important;
            }
            .size(100%, inherit);
            .position(relative);
            .CodeMirror {
                .size(@height: 100%);
            }
        }
    }
}

/* ========== End Of UDF Section========== */

/* ========== SQL Section========== */


/* ========== End of SQL Section========== */
#sqlSection {
    .menuContent {
        .topSection {
            .size(@width: 100%, @height: 60px);
            display: flex;
            align-items: center;
            justify-content: center;

            input {
                width: ~"calc(100% - 30px)";
            }

            .dropDownList {
                .styleDropDownList(~"calc(100% - 50px)", 30px);

                .text {
                    width: ~"calc(100% - 30px)";
                    // border: 1px solid @color-border-select-blue;
                    cursor: text;
                    font-size: 13px;

                    &:focus {
                        outline: none;
                    }
                }

                .list {
                    .size(@width: 100%);
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);

                    li {
                        box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
                        display: flex;
                        align-items: center;
                        span {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            width: ~"calc(100% - 50px)";
                        }
                        .icon {
                            font-size: 15px;
                            margin-right: 6px;
                            color: @color-bg-99-grey;
                            opacity: 0.6;
                            cursor: pointer;
                            &.hover {
                                opacity: 1;
                            }
                        }
                        .icon.xi-edit {
                            margin-right: 0px;
                            margin-left: auto;
                        }
                        .icon.xi-trash{
                            margin-left: auto;
                        }
                        .icon.xi-plus {
                            margin-right: 5px;
                            opacity: 1;
                        }
                        input {
                            .size(@width: ~"calc(100% - 43px)", @height: 22px);
                            margin-left: -3px;
                        }
                        &.noResultHint {
                            color: @color-text-lightGray;
                        }
                    }
                }
            }
        }
        .editSection {
            .size(@width: 100%, @height: ~"calc(55% - 120px)");
            .position(relative);
            overflow: hidden;

            .editArea {
                .size(@width: 100%, @height: 100%);
                .position(relative);

                .CodeMirror {
                    .size(@height: 100%);
                }
            }
        }

        .bottomSection {
            .size(@height: 60px);

            .btn {
                .center-align;
            }
        }

        .schemaSection {
            .size(@width: 100%, @height: 45%);
            padding: 10px 12px;
            display: flex;
            flex-wrap: wrap;
            color: @color-bg-body-gray;
            position: relative;
            border-top: 1px solid @color-bg-99-grey;
            .header {
                .size(@width: 100%);
                padding: 10px 0 10px;
                span {
                    display: block;
                    color: @color-font-bright-light-blue;
                    &.content {
                        font-size: 10px;
                        color: @color-font-select-blue;
                    }
                }
            }
            .tableTitle {
                .size(@width: 100%, @height: 17px);
                font-size: 12px;
                margin-bottom: 5px;
                margin-top: -10px;
                color: @color-bg-body-gray;
                display: inherit;
                .xdTable {
                    width: ~"calc(100% - 120px)";
                    user-select: text;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-left: 5px;
                }
            }
            .tables, .columns {
                .size(@width: ~"calc(50% - 5px)", @height: 100%);
                .content {
                    font-size: 10px;
                    color: @color-bg-body-gray;
                    margin-top: 13px;
                }
                div {
                    .size(@height: 30px);
                    display: flex;
                    align-items: center;
                }
                input {
                    .size(@width: 100%);
                    background-color: transparent;
                    color: @color-bg-body-gray;
                    border: solid 0.5px @color-bg-body-gray;
                    padding: 0 0 0 8px;
                    outline: none;
                }
                .icon {
                    color: @color-bg-body-gray;
                    right: 18px;
                    margin-right: -18px;
                    position: relative;
                }
                ul {
                    margin-top: 10px;
                    overflow-y: auto;
                    padding-top: 1px;
                    height: 100%;
                    &::-webkit-scrollbar {
                        width: 0px;
                    }
                    &::-webkit-scrollbar-track-piece {
                        background-color: transparent;
                        -webkit-border-radius: 6px;
                    }
                    li {
                        cursor: pointer;
                    }
                }
                .scrollWrapper {
                    height: ~"calc(100% - 110px)";
                    display: block;
                    .scrollArea {
                        .size(@height: 11px);
                        align-items: start;
                        justify-content: center;
                        position: relative;
                        background-color: @color-bg-marine;
                        opacity: 0.5;
                        z-index: 2;
                        &.scrollUp {
                            top: -100%;
                        }
                        &.scrollDown {
                            top: -20px;
                        }
                        .icon {
                            font-size: 10px;
                            margin: 0;
                            left: 0;
                        }
                    }
                }
                li > div {
                    border: 1px solid @color-bg-body-gray;
                    margin-top: -1px;
                    padding-left: 8px;
                    font-size: 11px;
                    .icon {
                        margin-left: auto;
                        right: 22px;
                        cursor: pointer;
                    }
                }
                .type {
                    .size(@height: 100%);
                    border-right: 1px solid @color-bg-body-gray;
                }
                .unit {
                    .typeIcon;
                    .type.icon {
                        color: @color-bg-body-gray;
                        margin-left: 4px;
                        left: 0;
                        display: flex;
                        align-items: center;
                        padding-right: 3px;
                        font-size: 11px;
                    }
                    .column {
                        margin-left: 15px;
                    }
                    .label {
                        width: ~"calc(100% - 20px)";
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
                .selected {
                    position: relative;
                    z-index: 1;
                    border-color: @color-font-bright-light-blue;
                    &, .icon {
                        color: @color-font-bright-light-blue !important;
                        border-color: @color-font-bright-light-blue !important;
                    }
                }
            }
            .columns {
                margin-left: auto;
                #sqlColumnList .icon {
                    cursor: help;
                }
            }
            .pulloutTab {
                .size(@width: 100%, @height: 15px);
                .horizontal-align;
                .position(absolute, @top: 0px);
                cursor: pointer;
                display: flex;
                justify-content: center;
                padding-top: 3px;

                .border {
                    .size(@width: 100%, @height: 1px);
                    background-color: @color-bg-99-grey;
                    margin-top: 1px;
                }
                .icon {
                    font-size: 11px;
                }
            }
            .ui-resizable-n {
                left: 0;
                height: 20px;
                z-index: 90;
            }
        }
    }
}