#monitorPanel {
    position: relative;
    .mainContent {
        overflow: auto;
    }

    .topBar {

        .backToWB {
            float: left;
            margin-right: 7px;
            line-height: 58px;
            display: none;
            cursor: pointer;
            .icon {
               color: @color-bg-unselect-gray;
            }
        }

        .wkbkTitle {
            display: none;
        }
    }

    .subPanel {
        display: none;
        .size(@height: 100%);

        &.active {
            display: block;
        }
    }
}

#monitorMenu-sys {
    .listWrap {
        margin-bottom: 20px;

        li {
           .text {
                margin-left: 7px;
            } 
        }
        

        &.support {
            li .text {
                margin-left: 20px;
            }
        }
    }

    .xc-switch, .xc-action {
        float: right;
    }
}

#monitorMenu-query {
    .filterSection {
        .size(@width: ~"calc(100% - 30px)", @height: 40px);
        margin: 10px 15px 0 15px;
        .flex-display;
        .rounded;
        box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);

        .iconWrap {
            .flex(0 0 25%);
            .size(@height: 100%);
            background-color: @color-bg-dusk-blue;
            box-shadow: inset 1px 1px 0 0 rgba(255, 255, 255, 0.2);

            &:first-child {
                .rounded(3px 0 0 3px);
            }

            &:last-child {
                .rounded(0 3px 3px 0);
            }

            &.active {
                background-color: @color-bg-light-navy;
            }
        }
    }
}

#monitor-queryList {
    .size(@height: ~"calc(100% - 70px)");
    overflow-y: auto;
    margin-top: 20px;
    position: relative;

    .hint {
        text-align: center;
    }

    .query {
        .size(@width: 100%, @height: 60px);
        cursor: default;
        padding-top: 10px;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.2), inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
        opacity: @opacity-unhover;

        &:hover {
            opacity: @opacity-hover;
        }

        &.active {
            background-color: @color-bg-light-navy;
        }

        .queryIcon {
            font-size: 15px;
        }

        .queryInfo {
            .size(@height: 20px);
            padding-left: 15px;
            padding-right: 10px;
            .font(@size: 11px, @weight: 400, @color: @color-font-softBlue);

            .leftPart {
                .size(@width: 30px, @height: 20px);
                float: left;
            }

            .middlePart {
                .size(@width: ~"calc(100% - 75px)", @height: 20px);
                float: left;
                margin-right: 5px;
                line-height: 20px;
                .textOverflowOneLine;
            }

            .rightPart {
                .size(@width: 40px, @height: 20px);
                float: right;

                .icon {
                    .font(@size: 14px, @color: @color-white);
                    float: right;
                    &:first-child {
                        margin-left: 10px;
                    }
                }
            }

            .name {
                .font(@size: 14px, @color: @color-white);
                .position(relative, @top: -2px);
                text-transform: capitalize;
            }

            .date {
               .size(@width: ~"calc(100% - 85px)"); 
            }

            .querySteps {
                .size(@width: 80px);
                float: right;
                .font(@size: 12px);
                .textOverflowOneLine;
                text-align: right;
            }
        }

        .queryProgress {
            margin-top: 4px;
            .size(@height: 5px);
            background-color: @color-bg-light-navy;

            .progressBar {
                .size(@height: 100%);
            }
        }
    }
}

#monitor-genSubCard {
    &.done {
        .done {
            display: block;

            &.cardInstruction {
                .flex-display;
            }

            &.title {
                display: inline-block;
            }
        }

        .close {
            display: inline-block;
        }

        .wait, .fail {
            display: none;
        }
    }

    &.fail {
        .fail {
            display: block;

            &.title {
                display: inline-block;
            }
        }

        .close {
            display: inline-block;
        }


        .wait, .done {
            display: none;
        }
    }

    .done, .close, .fail {
        display: none;
    }


    .cardMain {
        padding: 20px 50px;
        .size(@height: 80px);
        .font(@size: 14px, @color: @color-font-navy);

        .infoSection.done {
            .text-selection;
        }
    }

    .animatedEllipsisWrapper {
        .size(@width: 100px, @height: 20px);
        .vertical-align;
    }
}

#monitor-graphCard {
    min-height: ~"calc(100% - 5px)"; // take up full height
    
    .cardTopMain {
        padding-top: 16px;

        > div {
            padding: 0 20px 16px 20px;
            line-height: 20px;
        }
    }

    .cardMain {
        padding-top: 10px;
        padding-bottom: 30px;

        .topSection {
            position: relative;
            z-index: 5;
            border-top: 1px solid @color-white;
            

            .graphSwitchBox {
                width: 150px;
                float: left;
                background-color: @color-bg-white-eight;
                margin-left: 24px;
                margin-top: 10px;
                color: @color-font-dusk-blue;
                font-size: 12px;
                font-weight: 700;

                .header {
                    background-color: @color-bg-marine;
                    color: @color-white;
                    font-size: 14px;
                    height: 36px;
                    line-height: 36px;
                    text-align: center;
                }

                .row {
                    height: 26px;
                }

                .graphSwitches {
                    padding: 12px 16px 6px 10px;

                    .text {
                        display: inline-block;
                        float: left; 
                    }

                    .graphSwitch {
                        float: right;
                        display: inline-block;
                        cursor: pointer;
                        .noSelection;

                    }

                    .icon {
                        display: block;
                        .size (@height: 65px, @width: 100%);
                    }
                }
            }
            

            .graphSection {
                .size(@width: ~"calc(100% - 180px)", @height: 270px);
                .font(@color: @color-font-greyish-brown, @size: 11px);
                padding-left: 50px;
                padding-right: 95px;
                display: inline-block;
                float: left;
                background-color: @color-white;
                overflow: hidden;
                position: relative;

                #graphWrap {
                    .size(@width: ~"calc(100% - 160px)", @height: 260px);
                    .position(absolute, @left: 79px);
                    z-index: 1;
                    overflow-x: scroll;
                    overflow-y: hidden;

                    &::-webkit-scrollbar-track {
                        border-radius: 20px;
                    }
                }

                #graphParts {
                    position: absolute;
                    width: 100%;

                    .yAxis {
                        .position(absolute, @top: 2px);
                        white-space: nowrap;
                        text-align: right;
                        margin-left: -8px;

                        span {
                            display: block;
                            .font(@size: 10px, @weight: 600);
                            height: 42px;
                            color: @color-font-greyish-brown;
                        }

                        &.right {
                            right: 115px;
                            text-align: left;
                            height: 210px;

                            span {
                                position: absolute;
                                bottom: -42px;
                            }

                            svg {
                                top: 0px;
                                stroke: none;
                                fill: transparent;
                                margin-left: -2px;

                                text {
                                    display: block;
                                    fill: @color-font-greyish-brown;
                                    .font(@size: 10px, @weight: 600);
                                }
                            }
                        }
                    }
                }

                #graph {
                    .size(@width: 100%, @height: 100%);
                    z-index: 1;
                    text-align: right;
                    position: relative;
                    .noSelection;

                    .svgWrap {
                        .size(@width: 100%, @height: 212px);
                        position: relative;
                    }

                    .mainSvg {
                        .position(relative, @top: 10px, @right: 0);
                        background-color: @color-white;
                        display: inline-block;
                        overflow: hidden;
                    }

                    .separator {
                        display: block;
                        .size(@width: 100%, @height: 1px);
                    }
                    .xLabelsWrap {
                        .position(relative, @top: 6px, @right: 0, @bottom: 6px);
                        display: inline-block;
                        white-space: nowrap;
                        text-align: left;
                        overflow: hidden;

                        .spacer {
                            .size(@width: 40px, @height: 1px);
                            float: left;
                            display: inline-block;
                        }
                        .xLabels {
                            position: relative;
                            display: inline-block;

                            span {
                                display: inline-block;
                                top: 0px;
                                width: 240px;
                                .font(@size: 10px, @weight: 600);

                            }
                        }
                    }
                }

                .graphBackground {
                    .position(absolute, @left: 30px);
                    .size(@width: ~"calc(100% - 170px)", @height: 210px);
                    margin: 10px 0px 20px -1px;
                    background-color: @color-white;
                }

                .axis {
                    stroke: @color-black;
                    &.x {
                        stroke: @color-border-darkGray;
                    }

                    &.y {
                        stroke: rgba(255,255,255, 0.2);
                    }
                }

                line {
                    // stroke: rgba(0,0,0,0.15);
                    stroke: #EEEEEE;
                }

                .line{
                    fill: none;
                    stroke-width: 2px;
                    &.line0 {
                        stroke: @color-bg-graph-one;
                    }
                    &.line1 {
                        stroke: @color-bg-graph-two;
                    }
                }

                .area {
                    opacity: 0.75;
                    stroke-width: 0;
                    &.area0 {
                        fill: @color-bg-graph-one;
                    }
                    &.area1 {
                        fill: @color-bg-graph-two;
                    }

                    &.highlighted {
                        opacity: 0.6;
                    }
                }


                .graphText {
                    .size(@width: 100%, @height: 80%);
                    float: right;
                    position: absolute;
                    margin-top: 20px;
                    z-index: 1;
                    .sampleText {
                        text-align: center;
                        z-index: 5;
                        .font(@size: 70px, @color: @color-white, @weight: bold);
                        line-height: 110px;
                        opacity: 0.15;
                    }
                }

                #grids {
                    overflow: hidden;
                    position: absolute;
                    .size(@width: 100%, @height: 220px);

                    .gridSvg {
                        .position(@top: 10px, @right: 0);
                    }
                }
            }
        }

        .bottomSection {
            .flex-display();
            .flex-wrap(wrap);
            margin-right: 60px;
            margin-left: 200px;

            .donutSection {
                .flex(1 0 164px);
                .size(@height: 100%, @min-height: 200px);
                position: relative;

                &> .icon {
                    .size (@width: 75px, @height: 75px);
                    .position(absolute, @top: 0, @right: 0);
                    display: inline-block;
                    z-index: 1;
                }

                .donut {
                    .size (@height: 100px, @width: 100px);
                    margin: 15px auto 5px;
                    position: relative;

                    .sampleText {
                        .position(absolute, @top: 20px, @left: -40px);
                        .font(@size: 44px, @color: black, @weight: bold);
                        .transform(rotate(35deg));
                        opacity: 0.15;
                        z-index: 5;
                    }

                    .donutInfo {
                        .size(@width: 100%);
                        .position(absolute, @top: 30px);
                        display: inline-block;
                        text-align: center;
                        z-index: 3;

                        .unit {
                            // .font(@size: 12px);
                        }

                        hr {
                            width: 60px;
                            border: none;
                            border-top: 1px solid @color-border-monitor-label;
                            display: block;
                            .nomargin-padding;
                            margin: 0 auto;
                            &.network {
                                width: 80px;
                                margin: 0;
                            }
                        }

                        .userSize {
                            .font(@size: 20px, @weight: 500, @line-height: 36px);
                            margin-right: -9px;

                            .unit {
                                position: relative;
                            }

                        }

                        > .userSize {
                            line-height: 25px;
                            margin-right: -5px;
                        }

                        .totalSize {
                            .font(@size: 12px, @weight: 600);
                            margin-left: 8px;

                            .unit {
                                .font(@size: 11px);
                            }
                        }
                        .network {
                            .font(@size: 18px, @weight: 500) !important;
                            .icon {
                                color: @color-bg-graph-three;
                            }
                            &.userSize, &.totalSize {
                                i, span {
                                    &.xi-down {
                                        padding-top: 5px;
                                        padding-left: 1px;
                                        padding-right: 10px;
                                    }
                                    &.xi-up {
                                        padding-top: 5px;
                                        padding-right: 10px;
                                    }
                                    float: left;
                                }
                            }
                        }
                    }

                    svg:first-of-type {
                        z-index: 1;
                        path:last-child {
                            fill: rgba(0,0,0,0);
                        }
                    }

                    svg:last-child {
                        path {
                            fill: @color-bg-graph-gray;
                        }
                    }
                }

                &#donut0 {
                    .donut {
                        .font(@color: @color-bg-graph-one);
      
                    }
                    .donutInfo {
                        top: 37px;
                    }
                    .unit {
                        margin-left: -4px;
                    }

                    .statsTopHeading {
                        .font(@color: @color-bg-graph-one);
                    }

                    .statsHeadingBar {
                        background-color: @color-bg-graph-one;
                    }
                    svg:first-of-type {
                        path:first-child {
                            fill: @color-bg-graph-one;
                        }
                    }

                }

                &#donut1 {
                    .donut {
                        .font(@color: @color-bg-graph-two);
                    }

                    .statsTopHeading {
                        .font(@color: @color-bg-graph-two);
                    }

                    .statsHeadingBar {
                        background-color: @color-bg-graph-two;
                        
                    }
                    svg:first-of-type {
                        path:first-child {
                            fill: @color-bg-graph-two;
                        }
                    }
                }


                &#donut2 {
                    .donut {
                        .font(@color: @color-bg-graph-three);
                    }
                    .statsTopHeading {
                        .font(@color: @color-bg-graph-three);
                    }
 
                    .statsHeadingBar {
                        background-color: @color-bg-graph-three;
                        .userSize {
                            padding-right: 4px !important;
                        }
                    }
                }

                .statsSection {
                    width: 160px;
                    margin: 0 auto;
                    .statsTopHeading {
                        .font(@weight: 600, @size: 12px);
                        .size(@height: 20px);
                        margin: 0 auto;
                        padding: 2px 0px 0px 0px;

                        .global {
                            float: left;
                        }

                        .user {
                            float: right;
                            font-size: 8px;
                            margin-top: 4px;
                        }
                    }

                    .statsHeadingBar {
                        .font(@size: 12px, @color: @color-white, @line-height: 25px);
                        .size(@width: 100%, @height: 26px);
                        background-color: #f4f4f4;
                        padding: 0 0 0 4px;
                        margin: 0 auto;
                        overflow: hidden;
                        // cursor: pointer;
                        // 
                        .userSize {
                            padding-right: 0px;
                        }

                        .title {
                            float: left;
                        }

                        .num {
                            float: right;
                        }

                        .divider {
                            float: right;
                        }

                        .percent {
                            float: right;
                            display: inline-block;
                            padding-right: 4px;
                        }
                    }

                    .userSize {
                        .size(@width: 70px, @height: 100%);
                        text-align: right;
                        float: right;
                        display: inline-block;
                        padding-right: 4px;
                    }

                    .totalSize {
                        float: right;
                        margin-right: 4px;

                    }

                    .listWrap {
                        width: 100%;
                        margin: 0 auto 5px auto;
                        background-color: @color-bg-white-three;

                        ul {
                            width: 100%;
                            margin: 0 auto;
                            .clearfix;

                            li {
                                .font(@size: 11px, @color: @color-text-midlightGray);
                                .size(@width: 100%);
                                padding: 6px;
                                padding-right: 4px;
                                float: right;
                                overflow: hidden;   

                                .name {
                                    color: @color-font-navy;
                                    font-weight: bold;
                                }  

                                .statsNum {
                                    float: right;
                                    color: @color-font-navy;
                                }
                                .userSize {
                                    padding-right: 0px;
                                    width: auto;
                                    color: @color-font-navy;
                                }
                                .totalSize {
                                    margin-right: 0px;
                                    color: @color-font-navy;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .c3-chart-arc path {
        stroke: none;
    }
    .c3 line, .c3 path {
        fill: none;
        stroke: none;
    }

    svg {
        position: absolute;
    }

    text {
        display: none;
    }
}

#monitor-queryDetail {
    .size(@height: ~"calc(100% - 10px)");

    .cardMain {
        .size(@height: ~"calc(100% - @{height-card-header})");
        padding-top: 0;

        .title {
            .font(@size: 14px, @weight: 700, @color: @color-font-select-blue);
        }
        .flex-display;
        .flex-direction(column);
    }

    .querySection {
        .size(@width: 100%, @height: 80px);
        padding-right: 40px;

        &.processing, &.canceled {
            .queryIconWrap {
                background-color: fadeout(@color-bg-softBlue, 80%);
            }
            .status {
                color: @color-bg-softBlue;
            }
        }
        &.processing {
            .status.processing {
                display: block;
            }
        }
        &.canceled {
            .status.canceled {
                display: block;
            }
        }

        &.done {
            .queryIconWrap {
                background-color: fadeout(@color-bg-apple-green, 80%);
            }

            .status.done {
                display: block;
                color: @color-bg-apple-green;
            }
        }

        &.error {
            .queryIconWrap {
                background-color: fadeout(@color-bg-tahiti-gold, 80%);
            }

            .status.error {
                display: block;
                color: @color-bg-tahiti-gold;
            }
        }

        > div {
            display: inline-block;
            float: left;
        }

        .queryIconWrap {
            .size(@width: 80px, @height: 100%);

            .queryIcon {
                font-size: 30px;
                .center-align;
            }
        }

        .op {
            .size(@width: 200px, @height: 80px);
            border-right: 1px solid @color-bg-pinkish-grey2;
            padding-left: 15px;
            padding-top: 10px;
            position: relative;
            .font(@weight: 700);
            overflow: hidden;

            .text {
                font-size: 16px;
                margin-bottom: 7px;
                position: relative;
                bottom: 8px;
                width: 100%;
                max-height: 50px;
                .textOverflow;
            }

            .status {
                display: none;
                position: absolute;
                bottom: 10px;
            }
        }

        .queryProgress {
            .size(@width: ~"calc(100% - 320px)", @height: 100%);
            padding: 0 20px;
            position: relative;

            .progressBar {
                .vertical-align;
                .size(@height: 20px);
            }

            .querySteps {
                position: absolute;
                bottom: 10px;
            }
        }

        .actions {
            .size(@width: 30px, @height: 100%);

            .icon {
                float: right;
                color: @color-bg-99-grey;
                .vertical-align;

                &:first-child {
                    margin-left: 10px;
                }
            }
        }
    }

    .infoSection {
        padding: 20px 20px 20px 0;
        .flex(0 0 auto); // 0 0 is necessary to keep it's height

        > div {
            .size(@width: 50%, @height: 100%);
            float: left;
            padding-left: 20px;

            &:last-child {
                border-left: 1px solid @color-bg-pinkish-grey2;
            }
        }
    }

    .statusSection {
        .content {
            padding: 10px 20px 0px 50px;

            .status {
                margin-bottom: 5px;
            }
        }
    }

    .outputSection {
        .content {
            .size(@height: 70px);
            padding-top: 10px;
            overflow: hidden;
        }

        .buttonArea {
            .btn {
                margin-right: 12px;
                padding-right: 10px;
            }
        }
    }

    .divider {
        .size(@width: 100%, @height: 1px);
        background-color: @color-bg-pinkish-grey2;
    }

    .operationSection {
        // .size(@height: ~"calc(100% - 262px)");
        padding: 20px;
        .flex-display;
        .flex(1 2 auto);
        .flex-direction(column);

        .title {
            .size(@height: 20px);
            margin-bottom: 12px;
        }

        .content {
            .size(@width: 100%, @height: ~"calc(100% - 32px)");
            .flex(1 1 0px);
            background-color: @color-bg-white-three;
            border: 1px solid @color-bg-pinkish-grey2;
            padding-top: 10px;
            padding-bottom: 10px;
            .auto-selection;
            overflow: auto;
            word-break: break-word;
        }
        .queryRow {
            padding-left: 10px;
            padding-right: 10px;
        }
        .queryRow:hover {
            background-color: @color-bg-white-nine;
        }
    }
}

#monitorMenu-setup {
    .flex-display;
    .flex-direction(column);
    .listWrap {
        margin-bottom: 20px;
    }
    .listInfo .text {
        margin-left: 5px;
    }
    li {
        > .icon {
            line-height: 15px;
            width: 12px;
        }
        > .text {
            margin-left: 10px;
        }
    }
    .listWrap {
        margin-bottom: 0px;
    }

}

#monitor-setup {
    .cardMain {
        padding: 30px 60px;
    }
    .optionsArea {
        @rowHeight: 48px;
        .optionRow {
            height: @rowHeight;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;

            .input-box(@w: ~"calc(100% - 50px)" , @h: 30px, @focus: true);
            .flex-display;
        }

        .optionRow > div {
            // float: left;
            margin-left: 28px;
            line-height: @rowHeight;
            display: inline-block;
        }

        .nameArea {
            margin-left: 0px;
            .flex(0 1 310px);
            .textOverflowOneLine;
        }
        .valueArea {
            .flex(1 1 400px);
            margin-left: 12px !important;
        }
        .buttonArea {
            min-width: 90px;
            .flex(0 1 150px);
            margin-left: 20px !important;
            button {
                width: 100%;
                max-width: 150px;
            }
        }

        .label {
            font-weight: bold;
            margin-right: 5px;
        }

        .name {
            color: @color-font-select-blue;
            font-weight: bold;
        }

        input {
            color: @color-font-warm-grey-two;
            font-size: 12px !important;
            &:focus {
                color: @color-font-gray36;
            }
        }
        
    }

    .cardBottom {
        padding: 10px 60px 20px 60px;
        .btn {
            letter-spacing: normal;
            width: 160px; // decrease width if we decide to lower font weight
            margin-bottom: 10px;
        }
    }
}

#setupCard {
    display: none;
}

#configCard {
    // display: none;
    .cardMain {
        padding: 30px 2.5% 20px 2.5%;
    }

    .formRow {
        .flex-display;
        .flex-wrap(wrap);
        position: relative;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden; // for animation

        &.animating {
            .argWrap {
                height: 0px;
            }
        }
        > .argWrap {
            .flex(1 1 350px);
        }

        .removeRow {
            position: absolute;
            padding: 5px;
            top: 5px;
            left: -3px;
            z-index: 1;
            cursor: pointer;
            // display: none;
            opacity: 0;
            .transition(opacity 0s linear 0.2s);

            &:hover {
                opacity: @opacity-hover;
            }
            .icon {
                color: @color-font-darkGray;
            }
        }

        &:hover {
            .removeRow {
                opacity: @opacity-disabled;
            }
        }
      
        &.placeholder {
            border: 1px dashed @color-border-pinkish-grey;
            border: 1px dashed @color-border-darkGray;
            opacity: @opacity-disabled;
            cursor: pointer;
            .transition(opacity 0.1s);
            .argWrap {      
                pointer-events: none;
            }
            &:hover {
                opacity: 0.5;
            }
            .xc-input {
                text-align: center;
                .icon {
                    color: @color-font-warm-grey-two;
                    line-height: 30px;
                }
            }
        }

        &.nameIsSet {
            .paramName {
                border: 0px;
                background-color: white;
                color: @color-font-select-blue;
            }
        }
    }

    .flexGroup {
        .flex-display;
        .flex(2 1  auto);
        position: relative;

        .defaultParam {
            .position(absolute, @top: 5px, @right: 15px);
            .size(30px, 30px);
            line-height: 15px;
            background-color: @color-bg-select-blue;
        }
    }

    .argWrap {
        .flex(1 1 auto);
        .flex-display;
        height: 30px;
        .transition(0.5s height);
        margin-bottom: 5px;
        margin-top: 5px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 13px;
        // font-weight: 700;
          
        .text {
            line-height: 30px;
            font-weight: 700;
        }
        .xc-input {
            margin-left: 10px;
            width: 70px;
            .flex(1 1 70px);
            font-size: 13px;
            // font-weight: 700;
        }
        .disabled {
            border: 0px;
            background-color: white;
            color: @color-font-select-blue;
            &.newVal {
                cursor: not-allowed;
            }
        }
        .newVal {
            padding-right: 38px; // for refresh btn
        }


        .waitingIcon {
            top: -4px;
        }
    }

    .cardBottom {
        padding: 10px 2.5% 10px 60px;
        margin-bottom: 10px;
    }
}

#monitor-settings {
    @topSectionHeight: 54px;


    .mainSection {
        // xx allows horizontal scrolling  (temporary)
        display: inline-block;
        width: auto;
        min-width: 100%;
    }

    .cardMain {
        padding-left: 60px;
        padding-top: 22px;
        padding-bottom: 20px;
        font-size: 13px;
        min-width: 700px; 
        font-weight: 600;
    }

    .cardBottom {
        padding-right: 40px;
        padding-bottom: 20px;
    }

    .optionSet {
        height: 50px;
        line-height: 50px;
        position: relative;
    }

    .label {
        display: inline-block;
        padding-right: 24px;
        float: left;
        text-transform: uppercase;
    }

    .qMark {
        position: relative;
        top: 19px;
        margin-left: -20px;
        float: left;
    }

    .optionSelector {
        display: inline-block;
        float: left;
    }

    .checkbox {
        height: 21px;
        margin-top: 13px;
        .icon {
            font-size: 18px;
        }
    }

    .rangeSliderWrap {
        padding-top: 10px;
        .rangeSlider {
            width: 275px;
            float: left;
        }

        .input-box(@w: 46px, @h: 25px);
        input {
            padding: 0 4px;
        }

        .value {
            display: inline-block;
            float: left;
            text-align: center;
            margin-left: 20px;
            margin-right: 4px;
            .position(relative, @top: 3px);
        }
        span {
            float: left;
            line-height: 30px;
        }
    }


    .inputList {
        // .size(@height: 60px);
        line-height: 30px;
        padding-top: 10px;

        .inputWrap {
            .input-box(@w: 80px, @h: 30px);
            margin-left: 10px;
            float: left;
        }

        .dropDownList {
            margin-left: -1px;
            .styleDropDownList(80px, 30px);

            ul {
                margin: 0;
            }

            li {
                .size(@height: 20px);
                line-height: 20px;
                text-align: center;
                padding: 0;
                box-shadow: none;
                opacity: @opacity-hover;
            }
        }
    }
}
