.flexTable {
    @border-style: solid @color-border-pinkish-grey2 1px;
    @cell-padding: 10px;
    @scrollbar-width: 11px;
    @tableHeaderHeight: 40px;

    .size(@height: 100%);

    .row {
        .size(@height:30px);
        .flex-container();
        .flex-flow(nowrap);
        .align-items(center);
        .font(@weight: normal);
        border-bottom: @border-style;

        // First column
        & > .col {
            border-left: @border-style;
        }

        // The rest columns
        & > .col ~ .col {
            border-left: none;
        }
    }

    .row-header {
        .size(@height: @tableHeaderHeight);
        .font(@weight: 600);
        border-top: @border-style;
        background-color: @color-bg-white-seven;

        // Scroll bar hack
        .col-table {
            padding-right: @cell-padding + @scrollbar-width;
            .flex-basis(@width: 90px + @scrollbar-width);
        }
        .col > span {
            .textOverflowOneLine;
            width: 100%;
        }
    }

    .body {
        .size(@height: ~"calc(100% - @{tableHeaderHeight})");
        overflow-y: scroll;
    }

    .scrollbar-wrap {
        .size(@height: auto);
        overflow: hidden;
    }

    .col {
        .flex(1);
        .size(@height: 100%);
        .flex-container();
        .align-items(center);
        padding-left: @cell-padding;
        padding-right: @cell-padding;
        border-right: @border-style;
        overflow: hidden;
        white-space: nowrap;
    }

    .gen-columns(@n; @i:1) when (@i <= @n) {
        .col-@{i} {
            .flex(@i);
        }
        .gen-columns(@n; (@i + 1));
    }
    .gen-columns(12);

    .link {
        cursor: pointer;
        &:hover {
            color: @color-font-softBlue;
        }
    }

    .sort {
        .flex-container();
        .justify-content(flex-end);
        padding-left: @cell-padding;
    }

    .sort-none {
        flex-direction: column;
    }

    .sortIconWrap {
        .flex-container();
        .justify-content(flex-end);
    }

    .col-sort {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    .col-status {
        .col-1();
        .flex-basis(@width: 110px);
    }

    .col-query {
        .col-5();
        .flex-basis(@width: 70px);
    }

    .col-time {
        .col-2();
        .flex-basis(@width: 175px);
    }

    .col-duration {
        .col-2();
        .flex-basis(@width: 80px);
    }

    .col-table {
        .col-2();
        .flex-basis(@width: 90px);
    }

    .elps-text {
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
    }

}

.sqlQueryHist {
    @cardHeaderHeight: 36px;
    .size(@min-width: 650px, @height: ~"calc(100% - 5px)");
    .cardHeader {
        display: flex;
        .refresh-queryHist {
            color: white;
            opacity: 0.7;
            cursor: pointer;
            align-self: center;
            margin-left: auto;
            margin-right: 10px;
            &:hover {
                opacity: 1;
            }
        }
    }
    .cardMain {
        padding: 0;
        .size(@height: ~"calc(100% - @{cardHeaderHeight})");
    }

    .icon-run, .icon-done, .icon-cancel, .icon-fail, .icon-compile {
        font-size: 13px;
        margin-right: 9px;
    }

    .icon-run {
        color: #ffd345;
    }

    .icon-done {
        color: #34c187;
    }

    .icon-cancel {
        color: #bbc7d1;
    }

    .icon-fail {
        color: #f15840;
    }

    .icon-compile {
        color: #6eb9db;
    }

    .text-query {
        .font(@family: @font-code);
    }
}


#sqlWorkSpacePanel {
    &.resizing {
        pointer-events: none;
    }

    .mainContent {
        position: relative;// necessary for resizable sections

        .leftSection {
            width: 40%;
            height: 100%;
            border-right: 1px solid @color-border-softGray;
            position: absolute;
            left: 0px;

            .ui-resizable-se, .ui-resizable-s {
                display: none !important;
            }

            .ui-resizable-handle {
                z-index: 3 !important; // don't block other elements
            }

            &.undocked {
                z-index: @z-index-sqlEditorUndocked;
                box-shadow: 0 0 2px rgba(0,0,0, 0.3);

                header {
                    pointer-events: auto;
                    .cursor-move;
                }
                .ui-resizable-se, .ui-resizable-s {
                    display: block !important;
                }
            }
        }

        .rightSection {
            width: 60%;
            height: 100%;
            position: absolute; // necessary for resizable sections
            right: 0px;

            .resultSection, .historySection {
                height: 50%;
                background-color: @color-white;


                .sqlQueryHist {
                    .size(@min-width: 650px, @height: 100%);
                    margin-bottom: 0px;
                }
            }

            .resultSection {
                border-bottom: 1px solid @color-border-softGray;

                > div {
                    height: 100%;
                    @top-h: 38px;
                    @bottom-h: 50px;
                    @total-h: @top-h + @bottom-h;

                    &.noBottom {
                        .mainSection {
                            height: ~"calc(100% - @{top-h})";
                        }
                    }

                    .topSection {
                        background-color: @color-white;
                        height: @top-h;
                        font-size: 11px;
                        padding: 9px 15px;
                        display: flex;
                        border-bottom: 1px solid @color-border-softGray;
                        @div-h: 20px;

                        > .label {
                            margin-right: 10px;
                            line-height: 20px;
                            font-size: 12px;
                            font-weight: 600;
                            color: @color-font-edge;
                        }

                        .searchbarArea {
                            .size(@height: @div-h);
                            float: left;

                            input {
                                font-size: 11px;

                                .size(@height: @div-h);
                                padding-left: 20px;
                                line-height: 20px;
                                background-color: @color-white;
                            }

                            .icon {
                                .font(@size: 10px);
                                .position(absolute, @top: 6px, @left: 5px);
                                color: #9eb3c5;
                            }
                        }
                    }

                    .mainSection, .loadingSection, .errorSection {
                        height: ~"calc(100% - @{total-h})";
                    }

                    .bottomSection {
                        height: @bottom-h;
                        padding: 11px 25px;
                        border-top: 1px solid @color-border-softGray;
                        background-color: @color-bg-list-hover-blue;

                        .buttonWrap {
                            float: right;
                        }

                        button {
                            margin-right: 10px;
                        }
                    }
                }
            }

            .historySection {
                position: absolute;
                width: 100%;
                top: 50%;

                .cardHeader {
                    background-color: @color-white;

                    .title {
                        padding-left: 15px;
                        font-size: 12px;
                        font-weight: 600;
                        color: @color-font-edge;
                    }
                }

                .ui-resizable-handle {
                    z-index: 3 !important; // don't block other elements
                }
            }
        }
    }
}

#sqlEditorSpace {
    height: 100%;
    background-color: @color-white;
    @topSectionHeight: 50px;
    @top-bar-height: 51px;
    @bottom-height: 90px;
    @total-height: @topSectionHeight + @top-bar-height + @bottom-height;

    .undock {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    header {
        padding-left: 15px;
        height: @topSectionHeight;
        border-bottom: 1px solid @color-border-softGray;
        color: @color-font-form-gray;
        font-size: 22px;
        font-weight: bold;
        line-height: @topSectionHeight;
        pointer-events: none;
    }

    .topBarSection {
        padding: 10px 15px;
        height: @top-bar-height;
        background-color: @color-bg-list-hover-blue;
        border-bottom: 1px solid @color-border-softGray;
        display: flex; // allows .showTables to compress

        .fileName {
            max-width: 200px;
            font-weight: normal;
            font-size: 14px;
            height: 30px;
            line-height: 30px;
            margin-right: 15px;
        }

        .fileOption {
            width: 200px;
            margin-right: 15px;

            .text {
                height: 30px;
                width: ~"calc(100% - 30px)";
                line-height: 30px;
            }

            .list {
                min-width: 100px;
            }
        }

        .showTables {
            position: relative;
            top: 1px;
        }
    }

    .editSection {
        width: 100%;
        height: ~"calc(100% - @{total-height})";
        position: relative;
        overflow: hidden;
        font-size: 14px;

        .editArea {
            .size(@width: 100%, @height: 100%);
            .position(relative);
        }

        .CodeMirror-wrap {
            height: 100%;
        }
        .CodeMirror-gutters {
            background-color: @color-xpe-docker-starter-bg;
        }
    }

    .bottomSection {
        height: @bottom-height;
        border-top: 1px solid @color-border-softGray;
        padding-top: 30px;

        button {
            display: block;
            margin: 0 auto;
        }
    }
}

#sqlTableArea {
    &.loading, &.error {
        .bottomSection button {
            pointer-events: none;
            opacity: @opacity-disabled;
        }
    }

    .tableSection {
        position: relative;
        .viewWrap {
            height: 100%;
        }
    }

    .topSection {
        .searchbarArea {
            .size(@max-width: 244px, @min-width: 20%);
        }

        input {
            padding-right: 85px;
        }
    }
}

#sqlTableListerArea {
    &.loading {
        .topSection {
            .searchbarArea, .xc-action {
                opacity: @opacity-disabled;
                pointer-events: none;
            }
        }
    }

    .topSection {
        .searchbarArea {
            max-width: 150px;

            input {
                padding-right: 20px;
            }
        }

        .actionArea {
            margin-left: 15px;

            .xc-action {
                float: left;
                margin-left: 10px;
                height: 20px;
                line-height: 20px;

                > .icon {
                    font-size: 15px;
                    .position(relative, @top: 3px);
                    margin-right: 2px;
                }

                > span {
                    font-size: 12px;
                    .position(relative, @top: 1px);
                }
            }
        }
    }
}