.flexTable {
    @border-style: solid @color-border-pinkish-grey2 1px;
    @cell-padding: 10px;
    @scrollbar-width: 11px;
    @tableHeaderHeight: 40px;

    .size(@height: 100%);

    .row {
        .size(@height:30px);
        .flex-container();
        .flex-flow(nowrap);
        .align-items(center);
        .font(@weight: normal);
        border-bottom: @border-style;

        // First column
        & > .col {
            border-left: @border-style;
        }

        // The rest columns
        & > .col ~ .col {
            border-left: none;
        }
    }

    .row-header {
        .size(@height: @tableHeaderHeight);
        .font(@weight: 600);
        border-top: @border-style;
        background-color: @color-bg-white-seven;

        // Scroll bar hack
        .col-table {
            padding-right: @cell-padding + @scrollbar-width;
            .flex-basis(@width: 90px + @scrollbar-width);
        }

    }

    .body {
        .size(@height: ~"calc(100% - @{tableHeaderHeight})");
        overflow-y: scroll;
    }

    .scrollbar-wrap {
        .size(@height: auto);
        overflow: hidden;
    }

    .col {
        .flex(1);
        .size(@height: 100%);
        .flex-container();
        .align-items(center);
        padding-left: @cell-padding;
        padding-right: @cell-padding;
        border-right: @border-style;
        overflow: hidden;
        white-space: nowrap;
    }

    .gen-columns(@n; @i:1) when (@i <= @n) {
        .col-@{i} {
            .flex(@i);
        }
        .gen-columns(@n; (@i + 1));
    }
    .gen-columns(12);

    .link {
        cursor: pointer;
        &:hover {
            color: @color-font-softBlue;
        }
    }

    .sort {
        .flex-container();
        .justify-content(flex-end);
        .size(@width: 100%);
        padding-left: @cell-padding;
    }

    .sort-none {
        flex-direction: column;
    }

    .sortIconWrap {
        .flex-container();
        .justify-content(flex-end);
    }

    .col-sort {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    .col-status {
        .col-1();
        .flex-basis(@width: 110px);
    }

    .col-query {
        .col-5();
        .flex-basis(@width: 70px);
    }

    .col-time {
        .col-2();
        .flex-basis(@width: 175px);
    }

    .col-duration {
        .col-2();
        .flex-basis(@width: 80px);
    }

    .col-table {
        .col-2();
        .flex-basis(@width: 90px);
    }

    .elps-text {
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
    }

}

.sqlQueryHist {
    @cardHeaderHeight: 36px;
    .size(@min-width: 650px, @height: ~"calc(100% - 5px)");
    .cardHeader {
        display: flex;
        .refresh-queryHist {
            color: white;
            opacity: 0.7;
            cursor: pointer;
            align-self: center;
            margin-left: auto;
            margin-right: 10px;
            &:hover {
                opacity: 1;
            }
        }
    }
    .cardMain {
        padding: 0;
        .size(@height: ~"calc(100% - @{cardHeaderHeight})");
    }

    .icon-run, .icon-done, .icon-cancel, .icon-fail, .icon-compile {
        font-size: 13px;
        margin-right: 9px;
    }

    .icon-run {
        color: #ffd345;
    }

    .icon-done {
        color: #34c187;
    }

    .icon-cancel {
        color: #bbc7d1;
    }

    .icon-fail {
        color: #f15840;
    }

    .icon-compile {
        color: #6eb9db;
    }

    .text-query {
        .font(@family: @font-code);
    }
}


#sqlWorkSpacePanel {
    .mainContent {

        .leftSection {
            float: left;
            width: 40%;
            height: 100%;
        }
    
        .rightSection {
            float: right;
            width: 60%;
            height: 100%;

            .resultSection, .historySection {
                height: 50%;

                .sqlQueryHist {
                    .size(@min-width: 890px, @height: 100%);
                }
            }
        }
    }    
}

#sqlEditorSpace {
    height: 100%;
    background-color: @color-white;
    @topSectionHeight: 50px;
    @top-bar-height: 50px;
    @bottom-height: 120px;
    @total-height: @topSectionHeight + @top-bar-height + @bottom-height;

    header {
        padding-left: 15px;
        height: @topSectionHeight;
        border-bottom: 1px solid @color-border-softGray;
        color: @color-font-form-gray;
        font-size: 22px;
        font-weight: bold;
        line-height: @topSectionHeight;
    }

    .topBarSection {
        padding: 13px 15px;
        height: @top-bar-height;
        background-color: @color-bg-list-hover-blue;
        border-bottom: 1px solid @color-border-softGray;
    }

    .editSection {
        width: 100%;
        height: ~"calc(100% - @{total-height})";
        position: relative;
        overflow: hidden;
        font-size: 14px;

        .editArea {
            .size(@width: 100%, @height: 100%);
            .position(relative);
        }

        .CodeMirror-wrap {
            height: 100%;
        }
        .CodeMirror-gutters {
            background-color: @color-xpe-docker-starter-bg;
        }
    }

    .bottomSection {
        height: @bottom-height;
        border-top: 1px solid @color-border-softGray;
        padding-top: 27px;

        button {
            display: block;
            margin: 0 auto;

            &:first-child {
                margin-bottom: 10px;
            }
        }
    }
}

#sqlTableArea {
    height: 100%;
    @tableBar-h: 38px;
    @bottom-h: 50px;
    @total-h: @tableBar-h + @bottom-h;

    .tableBar {
        background-color: @color-white;
        height: @tableBar-h;
        padding-top: 9px;
        padding-bottom: 9px;

        > .label {
            margin-right: 10px;
            line-height: 20px;
            font-size: 12px;
            font-weight: 600;
            color: @color-font-edge;
        }
    }

    .tableSection {
        height: ~"calc(100% - @{total-h})";

        .viewWrap {
            height: 100%;
        }
    }

    .bottomSection {
        height: @bottom-h;
        padding: 11px 25px;
        border-top: 1px solid @color-border-softGray;
        background-color: @color-bg-list-hover-blue;

        .buttonWrap {
            float: right;
        }

        button {
            margin-right: 10px;
        }
    }
}