.flexTable {
    @border-style: solid @color-border-softGray 1px;
    @cell-padding: 10px;
    @scrollbar-width: 11px;
    @tableHeaderHeight: 30px;

    .size(@height: 100%);

    .row {
        .size(@height:30px);
        .flex-container();
        .flex-flow(nowrap);
        .align-items(center);
        .font(@weight: normal);
        border-bottom: @border-style;

        // First column
        & > .col {
            border-left: @border-style;
        }

        // The rest columns
        & > .col ~ .col {
            border-left: none;
        }
    }

    .row-header {
        .size(@height: @tableHeaderHeight);
        .font(@weight: 600);
        border-top: @border-style;
        background-color: @color-white;

        // Scroll bar hack
        .col-skew {
            padding-right: @cell-padding + @scrollbar-width;
            .flex-basis(@width: 75px + @scrollbar-width);
        }
        .col > span {
            .textOverflowOneLine;
            width: 100%;
        }
    }

    .body {
        .size(@height: ~"calc(100% - @{tableHeaderHeight})");
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .scrollbar-wrap {
        .size(@height: auto);
        overflow: hidden;
    }

    .col {
        .flex(1);
        .size(@height: 100%);
        .flex-container();
        .align-items(center);
        padding-left: @cell-padding;
        padding-right: @cell-padding;
        border-right: @border-style;
        overflow: hidden;
        white-space: nowrap;
        position: relative;

        .ui-resizable-handle {
            z-index: 3 !important; // don't block other elements
            height: 100%;
            top: 0;
        }
    }

    .gen-columns(@n; @i:1) when (@i <= @n) {
        .col-@{i} {
            .flex(@i);
        }
        .gen-columns(@n; (@i + 1));
    }
    .gen-columns(12);

    .link {
        cursor: pointer;
        color: @color-font-link-blue;
        &:hover {
            color: @color-font-button-hover;
        }
    }

    .sort {
        .flex-container();
        .justify-content(flex-end);
        padding-left: @cell-padding;
    }

    .sort-none {
        flex-direction: column;
    }

    .sortIconWrap {
        .flex-container();
        .justify-content(flex-end);
    }

    .col-sort {
        cursor: pointer;
        &:hover {
            opacity: 0.8;
        }
    }

    .col-select {
        .flex-basis(@width: 35px);
        .flex-grow(@grow: 0);
        .flex-shrink(@shrink: 0);
    }

    .col-status {
        .flex-basis(@width: 115px);
    }

    .col-query {
        .col-5();
        .flex-basis(@width: 70px);
        .flex-shrink(@shrink: 0);
    }

    .col-time {
        .flex-basis(@width: 150px);
    }

    .col-duration {
        .col-1();
        .flex-basis(@width: 100px);
        .flex-shrink(@shrink: 0);
    }

    .col-table {
        .flex-basis(@width: 75px);
        &.link {
            text-decoration: underline;
            color: @color-font-link-blue;
            &:hover {
                color: @color-font-link-blue;
            }
            &.error {
                color: @color-error-red;
                &:hover {
                    color: @color-error-red;
                }
            }
        }
    }

    .col-action {
        .flex-basis(@width: 50px);
        .flex-grow(@grow: 0);
        .flex-shrink(@shrink: 0);
    }

    .col-rows {
        .col-1();
        .flex-basis(@width: 75px);
        .flex-shrink(@shrink: 0);
    }

    .col-skew {
        .flex-basis(@width: 75px);
    }

    .elps-text {
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
    }

    .iconLinkWrap {
        width: 100%;
        text-align: center;
    }
}

.sqlQueryHist {
    @cardHeaderHeight: 36px;
    .size(@min-width: 650px, @height: ~"calc(100% - 5px)");
    .cardHeader {
        display: flex;
        .refresh-queryHist, .selCancelQueryHist {
            color: white;
            cursor: pointer;
            align-self: center;
            margin-left: auto;
            margin-right: 10px;
        }
    }
    .cardMain {
        padding: 0;
        .size(@height: ~"calc(100% - @{cardHeaderHeight})");

        .col {
            &:first-child {
                border-left: none;
            }
        }
    }

    &.loading {
        .cardHeader {
            span.refresh, span.cancel, span.delete {
                pointer-events: none;
                opacity: @opacity-disabled;
            }
        }
    }

    .resizing {
        pointer-events: none;
    }

    .icon-run, .icon-done, .icon-cancel, .icon-fail, .icon-compile {
        font-size: 13px;
        margin-right: 9px;
    }

    .icon-run {
        color: #ffd345;
    }

    .icon-done {
        color: @color-bg-green-submit;
    }

    .icon-cancel {
        color: @color-bg-dropdown-gray;
    }

    .icon-fail {
        color: @color-error-red;
    }

    .icon-compile {
        color: @color-font-light-blue;
    }

    .text-query {
        .font(@family: @font-code);
    }
}


#sqlWorkSpacePanel {
    &.resizing {
        pointer-events: none;
    }

    .mainContent {
        @resize-h: 11px;
        @tabBar-h: 24px;

        .rightSection {
            margin-left: 295px;
            height: 100%;
            position: relative; // necessary for resizable sections

            .topPart, .bottomPart {
                background-color: @color-white;
            }

            .topPart {
                height: 30%;
            }

            .bottomPart {
                height: 70%;
                top: 30%;
                display: flex;
                flex-direction: column;
                position: absolute;
                width: 100%;
                border-top: 1px solid @color-border-bar;

                > .ui-resizable-handle {
                    z-index: @z-index-sqlBottomResizeHandler !important; // don't block other elements
                    height: 12px;
                    top: -4px;
                }

                .ui-resizable-n {
                    top: 0px;
                    z-index: @z-index-sqlBottomResizeHandler !important;
                }

                .resizeHandler {
                    position: relative;
                    top: 0;
                    z-index: @z-index-sqlBottomResizeHandler;
                    width: 100%;
                    height: @resize-h;
                    background-color: @color-bg-list-hover-blue;
                    border-bottom: 1px solid @color-border-bar;

                    .xc-resizeHandler {
                        width: 48px;
                        height: @resize-h;
                        padding-top: 1px;

                        .border {
                            margin-top: 2px;
                            background-color: @color-border-bar;
                        }
                    }
                }

                .tabBar {
                    position: relative;
                    height: @tabBar-h;
                    width: 100%;
                    z-index: 3;
                    background-color: @color-bg-topBarGray2;
                }

                .bottomLeftPart, .bottomRightPart {
                    overflow: hidden;
                    height: ~"calc(100% - @{resize-h} - @{tabBar-h})";
                    position: absolute;
                    top: @resize-h + @tabBar-h;
                }

                .bottomLeftPart {
                    width: 32%;
                }

                .bottomRightPart {
                    left: 32%;
                    width: 68%;
                }

                &.docked {
                    .bottomLeftPart {
                        height: ~"calc(100% - @{resize-h} - @{tabBar-h})" !important;
                    }
                }

                &.undocked {
                    .bottomRightPart {
                        width: 100% !important;
                        left: 0px !important;
                    }
                    >.ui-resizable-w {
                        display: none;
                    }
                }
            }

            .resultSection {
                @tab-h: 36px;
                .tabSection {
                    height: @tab-h;
                    line-height: @tab-h;
                    border-bottom: 1px solid @color-border-softGray;
                    display: flex;
                    flex-direction: row;

                    > div {
                        .flex(1 1 auto);
                        text-align: center;
                        padding: 0 16px;
                        color: @color-font-edge;
                        background-color: @color-border-softGray;
                        border-right: 1px solid @color-bg-topBarGray2;
                        .xc-action;

                        &.active {
                            background-color: @color-white;
                            color: @color-font-form-gray;
                        }

                        &.active, &:hover {
                            box-shadow: inset 0 -2px 0 0 @color-bg-select-blue;
                        }
                    }
                }

                .contentSection {
                    height: ~"calc(100% - @{tab-h})";
                }

                .contentSection .section {
                    height: 100%;

                    > div {
                        height: 100%;
                        @top-h: 36px;
                        @bottom-h: 50px;
                        @total-h: @top-h + @bottom-h;

                        &.noBottom {
                            .mainSection {
                                height: ~"calc(100% - @{top-h})";
                            }
                        }

                        &.noBottom.noTop {
                            .mainSection {
                                height: 100%;
                            }
                        }

                        .topSection {
                            background-color: @color-white;
                            height: @top-h;
                            font-size: 12px;
                            padding: 6px 15px;
                            border-bottom: 1px solid @color-border-softGray;
                            @div-h: 20px;

                            > div {
                                .flex(0 0 auto);

                                &.tableNameArea {
                                    .flex(1 1 0px);
                                }
                            }

                            > .label {
                                margin-right: 10px;
                                line-height: 24px;
                                font-size: 14px;
                                font-weight: bold;
                                color: @color-font-form-gray;

                                .name {
                                    font-weight: normal;
                                    margin-left: 8px;
                                }
                            }

                            .searchbarArea {
                                .size(@height: 24px);

                                input {
                                    font-size: 12px;
                                    .rounded(3px);
                                    .size(@height: 24px);
                                    padding-left: 22px;
                                    line-height: 24px;
                                    background-color: @color-white;
                                }

                                > .icon {
                                    .font(@size: 14px);
                                    .position(absolute, @top: 6px, @left: 5px);
                                    color: @color-border-bar;
                                }
                            }
                        }

                        .mainSection, .loadingSection, .errorSection {
                            height: ~"calc(100% - @{total-h})";
                        }

                        .bottomSection {
                            height: @bottom-h;
                            padding: 11px 25px;
                            border-top: 1px solid @color-border-softGray;
                            background-color: @color-bg-list-hover-blue;

                            .buttonWrap {
                                float: left;
                            }

                            button {
                                margin-right: 10px;
                                padding: 0 17px;

                                &.btn-create {
                                    .icon {
                                        position: relative;
                                        top: -2px;
                                    }
                                }
                            }
                        }
                    }

                    .lister {
                        .listSection {
                            overflow-y: auto;

                            .row {
                                padding: 0 16px;

                                > span {
                                    display: block;
                                    line-height: 29px;
                                }

                                .name {
                                    float: left;
                                }

                                .action {
                                    margin-left: 8px;
                                    float: right;
                                    font-size: 12px;
                                    text-decoration: underline;
                                    color: @color-font-link-blue;
                                }
                            }
                        }

                        .error {
                            width: 300px;
                            .center-align;
                            text-align: center;
                            color: @color-text-error;
                        }
                    }

                    .hintArea {
                        width: auto;
                        height: auto;
                        .center-align;
                        text-align: center;

                        b {
                            font-size: 16px;
                        }

                        .hint {
                            margin-top: 8px
                        }
                    }
                }
            }
        }
    }

    .selQueryHistCard {
        height: 100%;
        margin-bottom: 0px;

        .cardHeader {
            background-color: @color-white;
            display: block;
            padding-right: 20px;

            .title {
                padding-left: 15px;
                font-size: 16px;
                font-weight: bold;
                color: @color-font-form-gray;
            }

            .action {
                float: right;
                margin-left: 0;
                .position(relative, @top: 8px);
            }

            .selCancelQueryHist {
                .icon {
                    color: @color-red-forbid;
                }
            }

            .searchbarArea {
                float: right;
                margin-right: 10px;
                input {
                    .size(@width: 131px, @height: 24px);
                    font-size: 12px;
                    line-height: 24px;
                    padding-left: 22px;
                    background-color: @color-white;
                    border-radius: 3px;
                }
                .icon {
                    .position(absolute, @top: 12px, @left: 5px);
                    font-size: 14px;
                    color: @color-border-bar;
                }
            }
        }

        .flexTable {
            .col-action {
                .icon {
                    position: relative;
                    top: 2px;
                    font-size: 18px;
                }
            }
        }
    }

    #sqlResultFuncListArea, #sqlResultUDFListArea {
        display: flex;
        flex-direction: column;

        .topSection {
            height: auto;
            display: flex;
            flex: 1 1 auto;

            .instruction {
                flex: 1 1 auto;
                margin-right: 10px;
            }

            button {
                flex: 0 0 140px;
                .vertical-align;

                &.newSQLFunc {
                    flex: 0 0 150px;
                }
            }
        }

        .mainSection {
            flex: 0 0 auto;
        }
    }
}

#sqlEditorSpace {
    height: 100%;
    background-color: @color-white;
    @topSectionHeight: 45px;
    @total-height: @topSectionHeight;
    .flex-display;
    .flex-flow(column);
    border-right: 1px solid @color-border-grayBlue;
    position: relative;

    .ui-resizable-se, .ui-resizable-s, .ui-resizable-e, .ui-resizable-w {
        display: none !important;
    }

    .ui-resizable-handle {
        z-index: 6 !important; // don't block other elements
    }

    &.undocked {
        z-index: @z-index-sqlEditorUndocked;
        box-shadow: 0 0 4px rgba(0,0,0, 0.5);
        position: fixed !important;
        border-left: 1px solid @color-border-grayBlue;

        header {
            pointer-events: auto;
            .cursor-move;
        }
        .ui-resizable-se, .ui-resizable-s, .ui-resizable-e, .ui-resizable-w {
            display: block !important;
        }
    }

    .undock {
        position: absolute;
        top: 16px;
        right: 16px;
        font-size: 14px;
    }

    header {
        border-bottom: 1px solid @color-border-softGray;
        display: flex;
        flex-wrap: wrap;
        padding: 8px 50px 8px 15px;

        .title {
            color: @color-font-form-gray;
            font-size: 16px;
            font-weight: bold;
            line-height: 28px;
            margin-right: 16px;
        }

        button {
            flex: 0 0 100px;
            padding: 0 8px;
            margin-right: 8px;
            margin-bottom: 4px;

            &:last-child {
                margin-right: 0;
            }

            &.execute {
                flex: 0 0 75px;
            }

            &.dropDownList {
                color: @color-font-form-gray;
                overflow: visible;
                float: none;
                padding: 0;
                color: @color-font-link-blue;

                &.noOption {
                    span {
                        padding-right: 16px;
                        width: 100%;
                    }

                    .iconWrapper {
                        display: none;
                    }
                }

                &:hover {
                    background-color: @color-white;
                }

                span {
                    display: inline-block;
                    padding-left: 16px;
                    width: ~"calc(100% - 28px)";

                    &:hover {
                        background-color: @color-font-seconday-button-hover;
                    }
                }

                .iconWrapper {
                    border-right: none;
                    border-top: none;
                    border-bottom: none;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                    width: 28px;
                    height: 26px;

                    &:hover {
                        background-color: @color-font-seconday-button-hover;
                    }
                }

                .list {
                    top: 27px;
                    width: 150px;
                    color: @color-font-form-gray;

                    li {
                        text-align: left;
                    }
                }
            }
        }

    }

    .editSection {
        width: 100%;
        height: ~"calc(100% - @{total-height})";
        flex: 1 1 100%;
        position: relative;
        overflow: hidden;
        font-size: 13px;

        .editArea {
            .size(@width: 100%, @height: 100%);
            .position(relative);
        }

        .CodeMirror-wrap {
            height: 100%;
        }
        .CodeMirror-gutters {
            background-color: @color-bg-list-hover-blue;
        }
    }
}

#sqlHintMenu {
    &.table {
        .columns, .udf {
            display: none;
        }
    }

    &.column {
        .tables, .sqlFunc {
            display: none;
        }
    }
}

#sqlHintSubMenu {
    max-height: 200px !important;
    width: 220px;

    .new {
        color: @color-font-link-blue;
    }
}

#sqlTableArea {

    &.loading, &.error {
        .bottomSection button {
            pointer-events: none;
            opacity: @opacity-disabled;
        }
    }

    .tableSection {
        position: relative;
        .viewWrap {
            height: 100%;
        }
    }

    .topSection {
        display: flex;

        .searchbarArea {
            .size(@max-width: 244px, @min-width: 20%);
            float: left;

            input {
                padding-right: 85px;
            }

            .arrows {
                top: 2px;
            }
        }
    }

    .bottomSection {
        .btn-create, .btn-export {
            width: 170px;
        }
    }

    .idSpan, .rowNumHead .header {
        left: 0px !important;
    }
}

#sqlTableListerArea, #sqlDataflowArea {
    .topSection {
        .actionArea {
            .action {
                float: left;
                margin-left: 8px;
            }
        }
    }
}

#sqlTableListerArea, #sqlTableSchemaArea {
    .topSection {
        .searchbarArea {
            float: right;
            max-width: 131px;

            input {
                padding-right: 10px;
            }
        }
    }
}

#sqlTableListerArea {
    &.loading {
        .topSection {
            .searchbarArea, .xc-action {
                opacity: @opacity-disabled;
                pointer-events: none;
            }
        }
    }

    .topSection {
        .actionArea {
            float: right;
        }

        .viewSchema {
            width: auto;
            padding: 0 3px;

            .icon {
                display: inline-block;
                float: left;
                margin-right: 3px;
                left: 0;
                transform: translate(0, -50%);
            }

            span {
                float: right;
                line-height: 24px;
            }
        }
    }

    .mainSection {
        .row {
            @w-creteTime: 180px;
            @w-status: 120px;
            @w-other: (@w-creteTime + @w-status) / 3;

            > div {
                width: ~"calc(100% / 3 - @{w-other})";
            }

            .createTime {
                width: @w-creteTime;
            }

            .status {
                width: @w-status;
                .activate {
                    color: @color-font-link-blue;
                    text-decoration: underline;
                }
            }
        }
    }

    .content {
        padding-bottom: 8px;

        .name {
            span {
                cursor: pointer;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        .hint {
            .size(@width: 120px, @height: 20px);
            .center-align;
        }

        .status {
            span {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }
}

#sqlTableSchemaArea {
    .mainSection {
        .row {
            @w-other: 150px;
            @w-primaryKey: @w-other * 2;

            > div {
                width: ~"calc(50% - @{w-other})";
            }

            .primaryKey {
                width: @w-primaryKey;
            }
            .columnIndex {
                width: @w-primaryKey;
            }
        }

        .content {
            .msgRow {
                &.error {
                    padding: 15px;
                    color: @color-text-error;
                }
            }
        }
    }
}

#sqlTableListerArea, #sqlTableSchemaArea {
    .mainSection {
        .header {
            background-color: @color-white;
        }

        .row {
            position: relative;
            overflow: hidden;

            > div {
                position: relative;

                .label {
                    float: left;
                    width: ~"calc(100% - 8px)";
                    .textOverflowOneLine;
                }

                .sort {
                    width: 8px;
                    height: 100%;
                    float: right;
                }
            }
        }


        .header {
            .title {
                position: relative;

                .sort {
                    .position(absolute, @top: 0px, @right: 10px);

                    .sortIconWrap {
                        .position(relative, @top: 8px);

                        .icon {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

#sqlTableListerArea, #sqlTableSchemaArea, .sqlQueryHist {
    .label {
        font-size: 12px;
        font-weight: 600;
    }

    .row {
        > div {
            font-size: 12px;
            font-weight: normal;
        }
    }
}

#sqlDataflowArea {
    &.inProgress {
        .topSection {
            display: none !important;
        }
    }
    .topSection {
        display: flex;
        .infoSection {
            display: flex;
            align-items: center;
            .viewOnly {
                font-style: italic;
                color: @color-bg-cancel-gray-hover;
            }
        }
        .actionArea {
            margin-left: 0px;
            flex: 1 1 100% !important;
            .xc-action {
                float: right;
                margin-right: 10px;

                &.analyze {
                    .icon {
                        position: relative;
                        top: 3px;
                    }
                }
            }
        }
    }
    .dataflowArea {
        display: block;
        .operator .main, .edge, .paramTitle, .table {
            cursor: initial;
        }
        .table {
            pointer-events: none;
        }
    }
}