#workbookTopBar {
    box-shadow: 0 2px 2px 0 rgba(101, 101, 101, 0.2);
}

#workbookPanel {
    z-index: @z-index-topMenu;
    .position(absolute, @top: 0px);
    height: 100%;
    background-color: @color-bg-body-gray;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3);
    top: 50px;
    .transition(0.4s top ease-out);

    #dialogWrap {
        position: absolute;
        width: 100%;
        bottom: 100px;
        opacity: 0;
        pointer-events: none;

        &.closeAttempt {
            opacity: 1;
            .transition(opacity 0.6s);
        }
        &.doneCloseAttempt {
            opacity: 0;
            .transition(opacity 0.6s);
        }
    }

    > .topBar {
        position: fixed;
        top: 0px;
    }

    > .mainContent {
        overflow: auto;
        min-width: 1222px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        border-color: transparent;
        margin-left: 0px !important; // override menuopen styling
        width: 100% !important;
        background-color: @color-bg-topBarGray2;
    }

    #workbookTopBar {
        .title {
            opacity: 1;
            .transition(0.6s opacity);
        }
    }

    &.hidden{
        top: -100%;
        #workbookTopBar {
            .title {
                opacity: 0;
                .transition(0.4s opacity);
            }
        }
    }

    &.closeAttempt {
        top: -5%;
    }

    .flexSection {
        .flex-display;
        .flex-flow(row wrap);
        .justify-content(flex-start);
        padding: 5px;
    }

    .contentWrap {
        height: 100%;
    }

    .topSection {
        padding-bottom: 15px;
        padding-top: 15px;
        padding-left: 10px;
        border-bottom: 1px solid @color-border-menubar-grey;
        height: 291px;
    }

    .bottomSection {
        background-color: @color-bg-topBarGray2;
        height: ~"calc(100% - 291px)";
    }

    .inActive {
        opacity: 0.5 !important;
        pointer-events: none;
    }

    .box {
        .flex-display;

        p, div {
            font-size: 14px;
        }

        .leftBar {
            width: 43px;
            background-color: @color-bg-wkbk-blue;
        }

        .content {
            padding: 5px 10px 10px;
            .flex-display;
            .justify-content(center);

            &.activate {
                height: 100%;
            }
        }

        .subHeading {
            font-weight: 600;
            font-size: 22px;
        }
    }
    .box-large {
        .size(350px, 250px);
        .flex(1 0 350px);
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
        background-color: @color-white;

        .content {
            .flex(1 0 300px);
            padding-top: 24px;
            padding-bottom: 24px;
        }

        .innerContent {
            width: 80%;
            min-width: 300px;
        }
    }

    .welcomeBox {
        .heading {
            .textOverflowOneLine;
            font-weight: bold;
            font-size: 22px;
            padding-bottom: 12px;
        }

        .subHeading {
            font-size: 18px;
        }

        .description {
            padding-top: 5px;
        }
    }

    .tutBox, .monitorBox {
        .section {
            margin-bottom: 10px;
            height: 50%;
        }

        .helpText {
            margin-top: 2px;
            font-weight: normal;

            a {
                color: @color-font-form-gray;
                text-decoration: underline;
                &:visited {
                    color: @color-font-form-gray;
                }
                &:hover {
                    color: @color-font-link-blue;
                }
            }
        }

        .tutBlock {
            .size(100%, 55px);
            line-height: 55px;
            margin-top: 12px;
            .noSelection;
            cursor: pointer;
            border: 1px solid @color-border-menugray;
            .rounded(8px);
            padding-left: 12px;

            a {
                color: @color-font-form-gray !important;
                // over ride default link color
            }

            &:hover {
                background-color: @color-bg-topBarGray2;
            }
        }
        .tutBtn {
            float: left;
            .size(45px, 100%);
            text-align: center;
            .icon {
                color: @color-font-edge;
                font-size: 30px;
                &.xi-videocam {
                    font-size: 20px;
                }
                line-height: 55px;
            }
        }
        .tutText {
            float: left;
            .size(~"calc(100% - 45px)", 100%);
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .actionSection {
        height: 60px;
        padding: 16px 15px;

        .label {
            font-weight: bold;
            font-size: 18px;
            margin-right: 16px;
        }

        button {
            margin-left: 8px;
        }

        .searchbarArea {
            width: 185px;
            height: 28px;
            display: inline-block;
            margin-left: 8px;

            input {
                padding-left: 22px;
                height: 28px;
                line-height: 28px;
                font-size: 12px;
            }

            .icon {
                position: absolute;
                top: 7px;
                left: 5px;
                color: @color-bg-cancel-gray-hover;
                font-size: 14px;
            }
        }
    }

    .workbookList {
        height: ~"calc(100% - 61px)";
        box-shadow: 0 2px 2px 0 rgba(101, 101, 101, 0.2);
        @h: 40px;

        .row {
            height: @h + 1; // 1px border bottom
            background-color: @color-white;
            position: relative;

            > div {
                height: @h;
                line-height: @h;
            }

            .name {
                width: 250px;
            }

            .createdTime, .modifiedTime {
                width: 150px;
            }

            .sessionId {
                width: 181px;
            }

            .state {
                width: 120px;
            }
        }

        .header {
            height: @h + 1;

            .row {
                cursor: default;
            }
        }

        .content {
            height: ~"calc(100% - @{h})";

            .row {
                &:hover {
                    background-color: @color-bg-list-hover-blue;
                }
            }
        }

        .workbookBox {
            @tabHeight: 45px;
    
            &.loading {
                .loadSection {
                    display: block;
                }
    
                i, > div:not(.loadSection) {
                    display: none !important;
                }
            }
    
            .loadSection {
                position: relative;
                opacity: 0.8;
                display: none;
                .size(100%, 100%);
    
                .animatedEllipsisWrapper {
                    .size(@width: 150px, @height: @h);
                    .center-align;
    
                    .animatedEllipsis {
                        > div {
                            .font(@weight: bold);
                            margin-left: 1px;
                        }
                    }
                }
            }
    
            &.noMeta {
                color: @color-font-greyish-brown;
            }
    
            &.active {
                .state {
                    color: @color-font-link-blue;  
                }
            }

            &.open {
                background-color: @color-bg-dropdown-hover-gray
            }
    
            .name {
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
    
                input {
                    width: 100%;
                    background-color: transparent;
                    outline: none;
    
                    &.focused, &:focus {
                        border: 1px solid @color-border-softBlue;
                        cursor: auto;
                    }
    
                    &.error {
                        border: 1px solid @color-error-border;
                    }
                }

                > div {
                    width: 100%;
                }
            }
    
            .sessionId {
                &:hover {
                    i {
                        display: inline-block;
                    }
                }
    
                div {
                    float: left;
                }
    
                i {
                    display: none;
                    margin-left: 8px;
                    font-size: 15px;
                    height: @h;
                    line-height: @h;
                }
            }
    
            .dropDown {
                position: absolute;
                right: 20px;
                top: 10px;
            }
        }
    }
}
