#watermark {
    .position(absolute, @bottom: 100px, @left: 15px);
    .size(@width: 579px, @height: 253px);
    .image("../../images/logo-white-L.png", 0, -70px);
    background-size: 100%;
    z-index: -1;
    opacity: 0.05;
}

#insight {
    .position(absolute, @bottom: 89px, @left: 238px);
    .size(243px, 79px);
    .image("../../images/insight.png");
    background-size: 100%;
    z-index: -1;
    opacity: 0.15;
}

/* DRAG AND DROP TABLES */
.tableDragging {
    position: absolute !important;
    opacity: 0.7;
    z-index: 10;
    .innerBox {
        display: none !important;
    }
    .idSpan {
        left: 0 !important;
    }
    .th.rowNumHead .header {
        left: 0 !important;
    }
}

#shadowTable {
    .position(relative, @top: 0, @left: 0);
    background-color: @color-shadow-darkGray;
    display: inline-block;
    opacity: 1;
    margin-right: 5px;
    overflow: hidden;
    white-space: normal;
    z-index: 0;
    vertical-align: top;
}

/* DRAG AND DROP COLUMNS styling */
#shadowDiv {
    .position(absolute);
    background-color: @color-table-midGray;
    z-index: 11;
    opacity: 1;
    margin-top: 5px;
}

#fauxCol{
    .position(absolute, @top: 114px);
    background-color: @color-white;
    z-index: 12;
    opacity: 0.7;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 1px 0px 1px 1px @color-fauxCol-shadow;
    white-space: nowrap;
}

#fauxTable {
    background-color: @color-white;
    z-index: 12;
    margin-left: 0 !important;
    margin-top: 5px;
    th {
        outline: 1px solid @color-fauxTable-outline;
    }
    tr:first-child {
        position: absolute;
        background-color: @color-background-white !important;
    }
    .header {
        border-left: none !important;
        border-right: none !important;
    }
    &.selectedCol {
        .header .flexContainer{
            .action-gradient;

            .editableHead {
                color: @color-white !important;
                text-overflow: clip;
            }

            .flexWrap.flex-left {
                .colIcon-active-gradient();
            }
        }

        .type-boolean .flexWrap.flex-left {
            &:after {
                border-top: @height-colHeader solid @color-border-colIconBlue;
            }
        }
    }
    &.userHidden {
        .addedBarTextWrap {
            padding-left: 10px;
        }
        .elementText {
            padding-left: 15px;
        }
    }
}

#fauxTable {
    th, td {
        border-right: none !important;
        border-left: none;
    }

    td {
        padding: 2px !important;
        overflow: hidden;
    }

    tr {
        &:nth-child(odd) {
            td {
                &.indexedColumn {
                    background-color: @color-table-indexed-lightBlue !important;
                }
                &.jsonElement, &.dataCol {
                    background-color: @color-table-col-lightGreen !important;
                }
            }

        }
        &:nth-child(even) {
            td {
                &.indexedColumn {
                    background-color: @color-table-indexed-blue !important;
                }
                &.jsonElement, &.dataCol {
                    background-color: @color-table-col-green !important;
                }
            }
        }
    }
}

.dragArea {
    .position(absolute, @top: -5px, @left: 0);
    .size(@width: 100%, @height: 45px);
    .cursor-move;
    z-index: 1;
    .iconHelper {
        .position(absolute, @top: 8px, @left: 2px);
        .size(20px, @height-colHeader);
    }
}

#moveCursor { // element that takes up the entire screen and applies a cursor
    .position(absolute, @top: 0, @left: 0);
    z-index: 22;
    .cursor-grabbing();
    width: 100%;
    height: 100%;
}

#dropTargets {
    .position(absolute, @top: 0, @left: 0);
    .cursor-grabbing();
}

.dropTarget {
    .position(absolute, @top: 0);
    z-index: 23;
    background-color: rgba(0,0,50,0.2); // only used in testing
    font-size: 50px;
    opacity: 0;
}
/* END DRAG AND DROP STYLING */

/* RESIZE CURSOR */
#resizeCursor, #rowResizeCursor {
    .position(absolute, @top: 0, @left: 0);
    z-index: 22;
    width: 100%;
    height: 100%;
}
#resizeCursor {
    .cursor-resize();
}
#rowResizeCursor {
    .cursor-rowResize();
}
/* END RESIZE CURSOR */

/* ========== Work Sheet Bar ========== */
#workspaceBar {
    .position(relative, @top: -1px);
    .flex-display;
    z-index: 13;

    .workspaceArea {
        .flex-shrink(0);
        &:first-child {
            border-right: none;
        }
    }
}

    #undoRedoArea {
        padding: 0px;
        height: 100%;
        margin-top: 0px;

        > div {
            height: 100%;
            width: 25px;
            float: left;
            cursor: pointer;
            margin-right: 1px;

            &.disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }
    }

    #undo {
         .image("../../images/undo-bright.png", 50%, 50%);
    }
    #redo {
         .image("../../images/redo-bright.png", 50%, 50%);
    }

    #functionArea {
        .flex(4 1 380px);
        .flex-display;
        position: relative;
        padding-left: 4px;

        &.searching {
            .closeBox, .counter, .arrows {
                display: inline-block;
            }
            #fnBar {
                padding-right: 48px;
            }
        }

        .closeIcon(@topOff: 5px, @rightOff: 76px);
        .closeBox {
            display: none !important;
            .size(19px, 19px);
            box-shadow: 0px 0px 1px 0px @color-search-shadow;
            .icon {
                background-position-y: 45%;
            }
        }
        .counter {
            .position(absolute, @top: 1px, @right: 68px);
            .size (@height: 30px);
            .font(@color: @color-text-graySoft, @size: 14px);
            pointer-events: none;
        }

        .arrows {
            float: left;
            display: inline-block;
            > div {
                .size(14px, 11px);
                display: inline-block;
                float: left;
            }
            .closeIcon(@topOff: 4px, @rightOff: 19px);
            .iconWrap {
                .size(19px, 19px);
                box-shadow: 0px 1px 1px 0px @color-search-shadow;
            }
            .upArrow {
                right: 42px !important;
            }
            .upArrow .icon {
                .image("../../images/arrow-up-thin.png", 50%, 50%);
                background-position-y: 45%;
            }
            .downArrow .icon {
                .image("../../images/arrow-down-thin.png", 50%, 50%);
            }
        }

        .closeBox, .counter, .arrows {
            display: none;
        }
    }

    #fnBar {
        .size(@width: ~"calc(100% - 28px)");
        margin-left: 4px;
        &.active {
            background-color: @color-background-darkGray;
            box-shadow: 0px 2px 2px 0 @color-defaultGray inset;
        }

        &.disabled {
            opacity: 0.7;
            pointer-events: none;
        }
    }

    #searchBar {
        .size(@width: 180px);
    }

    #rowInput {
        .size(@width: 60px);
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    #rowScrollerArea {
        .size(@width: 200px, @height: 35px);
        .flex(2 0 200px);
        cursor: default;
        margin: 0 4px;
        overflow: hidden;

        .rowScroller {
            .position(relative);
            .size(@width: 100%, @height: 11px);
            margin: 12px 0 25px 0;
            background-color: @color-bar-border;
            box-shadow: inset 0px 1px @color-rowScroller-shadow-dark, 0px 1px @color-rowScroller-shadow-light;

            .bookmark {
                .position(absolute, @bottom: 0);
                .size(@width: 3px, @height: 11px);
                background-color: @color-background-bookmark;
                margin-left: -1px;
            }

            .rowMarker {
                .position(absolute, @top: -11px, @left: -6px);
                .size(@width: ~"calc(100% - 1px)", @height: 35px);
                display: inline-block;
                .image("../../images/locator1.png");
                .transition (transform 0.13s);

                &.scrolling {
                    .transition (transform 0s);
                }
            }

            .subRowMarker {
                .position(absolute, @top: 0, @left: 2px);
                .size(@width: 10px, @height: 11px);
                cursor: pointer;
            }

            .bottom {
                .position(@top: 22px);
            }

            .middle {
                .position(@top: 11px, @left: 5px);
                .size(@width: 3px);
            }

            &.hidden {
                display: none !important;
            }
        }
    }
/* ========== End Of Work Sheet Bar ========== */

/* ========== Main Frame ========== */
#mainFrame {
    .size(@width: ~"calc(100% - 5px)", @height: ~"calc(100% - 38px)");
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    // XXX not using position relative for the sake of
    // the scrolling when drag/dropping a table or column
    // .transition-delay(0s);
    // .transition(height 0.3s);

    &.midway {
        .size(@height:  ~"calc(50% - 20px)");
        .transition(height 0s);
        .transition-delay(0.3s);
    }
}

.tableWrap {
    padding: 0;
    .size(100%, 100%);
    .font(@size: 11px);
    overflow-x: auto;
    overflow-y: scroll;
    display: inline-block;
}

.xcTableWrap {
    .position(relative);
    .size(@width: auto);
    margin-bottom: 0px;
    overflow: hidden;

    &:only-child, &.noDrag {
        .tableGrab {
            cursor: pointer !important;
        }
    }

    &.inActive {
        display: none;
    }

    .unhideTable {
        display: none;
    }

    &.tableHidden {
        .unhideTable {
            display: block !important;
        }

        .hideTable {
            display: none !important;
        }

        .lockedIcon {
            display: none !important;
        }

        .xcTheadWrap {
            width: 30px !important;

            .tableTitle > .labelWrap {
                width: 30px !important;
                .textOverflow;
                visibility: hidden;
            }
            .dropdownBox {
                width: 24px;
            }
        }

        .xcTbodyWrap {
            width: 30px !important;
            pointer-events: none;
            cursor: default;

            thead {
                .header {
                    width: 30px !important;
                }

                th {
                    display: none;

                    &:first-child {
                        display: table-cell;

                        .header {
                            width: 30px;
                            height: @height-colHeaderOuter;
                            border-left: none;
                        }

                        input {
                            background: @color-input-active !important;
                            left: 0px !important;
                        }
                    }
                    &:not(:first-child) {
                        display: none;
                    }
                }
            }

            td, tr, .idWrap {
                background-color: @color-table-lightGray !important;
                border-color: @color-table-lightGray !important;
            }

            td:not(:first-child) {
                display: none;
            }

            .idWrap {
                overflow: hidden;
                pointer-events: none;
                cursor: default;

                &::after {
                    .size(@width: 31px, @height: 105%);
                    .position(absolute, @top: -2px, @left: -5px);
                    content: "";
                    z-index: 0;
                    background-color: @color-table-lightGray;
                }

                .idSpan {
                    z-index: 0;
                    visibility: hidden;
                }
            }
        }
    }

    &.modalOpen {

        .dropdownBox {
            display: none !important;
        }

        th:first-child {
            pointer-events: none;
        }

        td:first-child {
            .rowGrab {
                pointer-events: none;
            }
        }

        .dragArea {
            display: none;
        }

        .tableTitle {
            pointer-events: none;
        }

        th {
            .noSelection;
        }

        th.modalHighlighted {
            .header {
                z-index: 40;
            }
            .flexContainer{
                .action-gradient;
                .flexWrap.flex-left {
                    .colIcon-active-gradient();
                }
                input {
                    color: @color-white !important;
                }
            }
            .type-boolean .flex-left::after {
                border-top: @height-colHeader solid @color-border-colIconBlue;
            }
        }



        tbody tr {
            &:nth-child(odd) {
                td.modalHighlighted {
                    background-color: @color-selectedCell-dark;
                }
            }
            &:nth-child(even) {
                td.modalHighlighted {
                    background-color: @color-selectedCell-light;
                }
            }
            &:hover {
                td.modalHighlighted {
                    background-color: @color-heather !important;
                }
            }
        }
    }

    &.exportModalOpen {
        td.col0 {
            position: relative;
            z-index: 37;
        }
        th.col0 .header {
            z-index: 41;
        }
    }

    &.tableDarkened, &.tableLocked, &.jsonModalOpen {
        &::before {
            content: "";
            .position(absolute);
            .size(100%, 100%);
            display: block;
            z-index: 21;
        }

        .xcTheadWrap {
            background-color: black;

            .tableTitle, thead {
                opacity: 0.7;
            }
        }

        .xcTable {
            background-color: black;

            &::after {
                background-color: @color-table-after-gray;
            }

            th {
                &:first-child {
                    .header::before {
                        display: block;
                        position: absolute;
                        background-color: rgba(0,0,0,1);
                        z-index: 40;
                        opacity: 0.3;
                        width: ~"calc(100% + 10px)";
                        height: @height-colHeaderOuter;
                        left: -5px;
                        top: -5px;
                    }
                }

                .header {
                    &::before {
                        content: "";
                        .position(absolute, @top: -5px, @left: 0px);
                        .size(@width: ~"calc(100% + 5px)", @height: @height-colHeaderOuter);
                        z-index: 21;
                        background-color: rgba(0, 0, 0, 1);
                        opacity: 0.3;
                    }
                }
            }

            tbody {
                opacity: 0.7;
            }
        }
        &.tableHidden {
            th:first-child input {
                background: @color-background-colIcon-gray !important;
            }
        }
    }

    &.tableLocked, &.jsonModalOpen {
        &:before {
            display: none;
        }
        .tableTitle, .header, td {
            pointer-events: none;
        }
        .tableTitle .dropdownBox {
            pointer-events: auto;
        }
        .xcTbodyWrap {
            pointer-events: none;
            overflow: hidden; // prevents scrolling
        }
        .lockedIcon {
            .position(absolute, @top: 40%, @left: 50%);
            display: inline-block;
            z-index: 9;
            height: 60px;
            width: 40px;
            .transform(translateX(-50%));

                img {
                    height: 100%;
                }
        }

        .tableCover {
            .position(absolute, @top: @height-colHeaderOuter + 35px);
            .size(@width: ~"calc(100% - 5px)", @height: auto);
            background-color: @color-table-cover;
            z-index: 5;
            .transition(opacity 0.3s);
            &.visible {
                opacity: 1 !important;
            }
        }
        tbody {
            opacity: 1 !important;
        }

        th:first-child input {
            box-shadow: none !important;
        }
    }

    .tableCoverWaiting {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
        cursor: progress;
    }

    &.jsonModalOpen {

        td.modalHighlighted {
            pointer-events: all;
            border-color: @color-table-border-darkened !important;
        }

        .header {
            z-index: 37;
        }

        th:first-child .header {
            z-index: 38;
        }

        .idWrap {
            z-index: 37;
            pointer-events: none;
            .idSpan::after {
                display: block;
                position: absolute;
                background-color: black;
                width: ~"calc(100% + 10px)";
                height: 100%;
                left: -5px;
                top: 0px;
                opacity: 0.3;
            }
        }
        .darkenedCell {
            .size(@width: ~"calc(100% + 10px)", @height: 100%);
            .position(absolute, @top: 0, @left: -5px);
            display: block;
            content: "";
            background-color: rgb(0,0,0);
            z-index: 36;
            opacity: 0.3;
            display: none;
            // jquery fades in display
        }
    }
    &.tableDarkened {
        pointer-events: none;
        .dropdownBox {
            display: none !important;
        }
    }
    &.hollowed {
        .xcTheadWrap, .xcTbodyWrap {
            display: none;
        }
    }
}

.xcTheadWrap {
    .position(relative, @left: 0%);
    top: 0px !important;
    width: ~"calc(100% - 5px)" !important;
    z-index: 9;
    display: inline-block;

    .tableTitle {
        .position(relative);
        .size(@width: 100%, @height: 35px);
        .noSelection;
        text-align: center;
        display: block;
        .gray-gradient;
        border-bottom: 1px solid @color-table-borderGray;
        overflow: hidden;
        .transition(opacity 0.3s);

        .tableGrab {
            .position(absolute, @top: 0);
            .size(@width: 100%, @height: 35px);
            z-index: 2;
            .cursor-move;
        }

        &.tblTitleSelected {
            .action-gradient;
            color: @color-white;
            border-bottom: 1px solid @color-table-borderBlue;

            .text {
                color: @color-white;
                .tableName {
                    color: @color-white;
                }
            }

            .dropdownBox {
                .innerBox {
                    background-image: url(../../images/table-corner.png) !important;
                }
            }
        }

        .dropdownBox {
            .position(absolute, @right: -3px, @bottom: -4px);
            .size(32px, 30px);
            z-index: 6;
            opacity: 0;
            border: none;
            cursor: pointer;
            .transition (opacity 0.02s linear);
            .transition-delay (0.08s);

            .innerBox {
                .position(absolute, @right: 6px, @bottom: 7px);
                .size(16px, 16px);
                background-image: url(../../images/table-corner-inactive.png);
            }
        }

        &:hover {
            .dropdownBox {
                opacity: 1;
                .innerBox {
                    background-image: url(../../images/table-corner-inactive.png);
                }
            }
        }

        .labelWrap {
            .textOverflowOneLine;
            position: absolute;
            width: ~"calc(100% - 10px)";
            height: 100%;
            left: 0px;
        }

        .text {
            .position(absolute, @top: 0);
            .size(@width: auto, @max-width: ~"calc(100% - 10px)", @height: 25px);
            .font(@weight: 600, @size: 15px, @line-height: 22px, @family: @font-base);
            .rounded;
            text-align: center;
            background-color: transparent;
            padding: 0 4px;
            z-index: 2;
            white-space: nowrap;
            margin-top: 5px;
            // overflow: hidden;
            display: inline-block;

            .hashName {
                opacity: 0.7;
                .noSelection;
                font-weight: 200;
            }
        }

        .tableName {
            .font(@weight: 600, @size: 15px, @line-height: 22px, @family: @font-base);
            .rounded;
            height: 24px;
            padding: 1px 0px;
            margin: 1px 0px;
            min-width: 15px !important;
        }

        .tableName:focus {
            background-color: @color-white;
            color: @color-text-darkGray !important;
            padding: 1px 4px;
            margin: 1px 0px;
            outline: none;
            .rounded;
        }
    }
}

.xcTbodyWrap {
    .position(@right: -17px);
    .size(@width: ~"calc(100% + 17px)", @max-height: ~"calc(100% - 31px)");
    .font(@size: 11px);
    margin-bottom: 0;
    margin-top: -3px;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }

    &::after {
        content: "";
        display: block;
        .transition(background-color 0.2s);
    }

    .userHidden {
        .editableHead {
            padding-left: 6px;
        }

        .flex-left {
            display: none;
        }

        .flex-right > .dropdownBox .innerBox {
            right: 3px !important;
            bottom: 5px !important;
        }

        .colGrab {
            right: -22px;
        }

        .addedBarTextWrap {
            padding-left: 10px;
        }
        .elementText {
            padding-left: 15px;
        }
        &.dataCol {
            input {
                padding-left: 10px;
            }
        }
    }

    td.modalHighlighted {
        position: relative;
        z-index:36;
        .transition(border-color 0.3s);
        &.jsonModalOpen {
            border-color: @color-table-border-gray !important;
        }
    }
    .dataCol {
        .flexWrap.flex-left {
            display: none;
        }
        input {
            padding-right: 3px !important;
            text-overflow: ellipsis;
        }
    }
}

html.microsoft {
    .xcTableWrap .text {
        position: relative !important;
    }
}

.xcTable, .joinTable {
    thead {
        box-shadow: 0px 1px  1px @color-shadow-black;

        .header:hover > .dropdownBox {
            opacity: 0.6;
        }

        .colGrab:hover ~ .flexContainer .dropdownBox {
            opacity: 0 !important;
        }

        th {
            &:first-child {
                border-left: none;
                .header {
                    border-left: 5px solid @color-border-darkGray;
                }
            }

            &:last-child .colGrab {
                .position(@right: -10px, @top: -40px);
                width: 12px !important;
                height: 82px !important;
            }

            &.selectedCell {
                .flexContainer {
                    .action-gradient;
                    .editableHead {
                        color: @color-white !important;
                        text-overflow: clip;
                    }
                    .flexWrap.flex-left {
                        .colIcon-active-gradient();
                    }

                }

                .type-boolean .flexWrap.flex-left {
                    &::after {
                        border-top: @height-colHeader solid @color-border-colIconBlue;
                    }
                }
            }

            &.rowNumHead {
                input {
                    .position(absolute, @left: 0);
                    .size(@width: ~"calc(100% + 10px)", @height: @height-colHeaderOuter);
                    .gray-gradient;
                    border: @width-tableCellPadding solid @color-border-darkGray;
                    margin-left: -5px;
                    margin-top: -5px;
                    z-index: 3;
                    border-radius: 0;
                    .transition(border-color 0s);
                }
                .header {
                    &::before {
                        .transition(opacity 0.3s);
                        content: "";
                        opacity: 0;
                    }
                }
            }
        }
    }

    .header {
        .position(absolute, @top: 35px);
        .dataTableHeader;
        z-index: 2;
        width: inherit;

        > input {
            .gray-gradient;
            .rounded;
        }

        .flexContainer {
            .position(relative);
            .gray-gradient;
            .rounded;
            overflow: hidden;

            .flexWrap.flex-left {
                .flex(0 1 20px);
                .size(@height: @height-colHeader);
                margin: 0;
                overflow: hidden;
                white-space: normal;
                .colIcon-gray-gradient();

                .iconHidden {
                    .size(@width: 1px, @height: @height-colHeader);
                    display: inline-block;
                }
            }

            .flexWrap.flex-mid {
                .flex(1 0 0px);
                .editableHead, input.dataCol {
                    padding-right: 18px;
                    .noSelection;
                }
            }

            .flexWrap.flex-right {
                .flex(0 1 0px);
            }

        }

        &:hover {
            .flexWrap.flex-right > .dropdownBox {
                opacity: 1.0;
            }
        }

        &.type-data .flexWrap.flex-left {
            background: transparent;
        }
    }

    &::after {
        content: "";
        .size(@width: ~"calc(100% - 5px)", @height: 5px);
        position: absolute;
        background-color: white;
    }

    tbody tr {
        td {
            .idWrap {
                .position(relative);
                .size(100%, 100%);
                display: table;

                .idSpan {
                    .size(@width: ~"calc(100% + 10px)", @height: 100%);
                    .position(absolute, @top: 0);
                    z-index: 2;
                    margin-left: -5px;
                    .flex-display;
                    .justify-content (center);
                    .align-items (center);

                    &::after {
                        content: "";
                        opacity: 0;
                        .transition(opacity 0.3s);
                    }
                }
            }

            .addedBarTextWrap {
                // white-space: pre;

                &.clickable {
                    // cursor: pointer;
                }
            }
        }

        &:nth-child(odd) {
            td:first-child {
                .idSpan {
                    background-color: @color-table-col-darkestGray;
                    border-right: 5px solid @color-table-lightGray;
                    border-left: 5px solid @color-white;
                }
            }
        }

        &:nth-child(even) {
            td:first-child {
               .idSpan {
                    background-color: @color-table-col-darkGray;
                    border-right: 5px solid @color-white;
                    border-left: 5px solid @color-white;
                }
            }
        }

        &.changedHeight {
            white-space: normal;
            overflow-wrap: break-word;
            .elementText {
                white-space: normal;
            }
        }
    }

    &.resizingCol {
        .dropdownBox {
            opacity: 0 !important;
        }
    }
}

.xcTable {
    tbody tr td:first-child {
        cursor: pointer; // for bookmark
    }
}

.menu {
    display: none;
    .parentMenu {
        &::after {
            content: "";
            width: 0px;
            height: 0px;
            position: absolute;
            vertical-align: middle;
            right: 3px;
            bottom: 3px;
            cursor: pointer;
            opacity: 0;
            border-top: 11px solid transparent;
            border-right: 11px solid @color-dropBox;
            opacity: 0.3;
            border-right-color: @color-border-lightGray;
            pointer-events: none;
        }
        &.selected {
            &::after {
                opacity: 1;
                border-right-color: @color-dropBox-secondary;
            }
        }
    }
}

#colMenu {
    overflow: hidden;
}

#colSubMenu {
    max-height: none;

    & > ul {
        display: none;
        visibility: visible;
        left: 0px;
        margin-top: 0px;
        position: static;
    }

    li.selected {
        background-color: @color-selectedCell-green;
    }

    .sectionLabel {
        text-align: center;
    }

}

#tableMenu {
    overflow: hidden;

    .unhideTable {
        display: none;
    }

    &.tableHidden {
        .hideTable {
            display: none;
        }
        .unhideTable {
            display: block;
        }
    }
}

#tableSubMenu {
    & > ul {
        display: none;
        visibility: visible;
        left: 0px;
        margin-top: 0px;
        position: static;
    }

    li.selected {
        background-color: @color-selectedCell-green;
    }
}

.menu.locked {
    cursor: auto;

    li {
        opacity: 0.4;
        cursor: default;
        pointer-events: none;
    }
    li.hideTable, li.unhideTable  {
        opacity: 1;
        cursor: pointer;
        pointer-events: auto;
    }
}


/* Row and Column Resizing*/
.colGrab {
    .position(absolute, @top: -5px, @right: -14px);
    .size(@width: 22px);
    display: inline-block;
    cursor: col-resize;
    z-index: 2;
    background-color: @color-black-invisible; //ie hack
    border-left: 6px solid @color-black-invisible !important;
    height: @height-colHeaderOuter + 2px !important;
    .noSelection;
}

.rowGrab {
    .position(absolute, @top: -3px, @left: -2px);
    .size(@width: 1000px, @height: 8px);
    z-index: 3;
    cursor: row-resize;
    visibility: hidden;
    .transition(0s visibility 0.25s);
    &.last {
        top: auto;
        visibility: visible;
    }
}

tr:hover .rowGrab, tr:hover + tr .rowGrab {
    visibility: visible;
}

tbody tr:first-child .rowGrab {
    display: none;
}

td.col0:hover {
    .rowGrab {
        .transition(0s visibility 0.25s);
    }
}

.highlightBox, .jsonModalHighlightBox {
    position: absolute;
    z-index: 0;
    .rounded(2px);
    box-shadow: inset 0px 0px 0px 2px @color-shadow-topAction;
}

.jsonModalHighlightBox {
    top: 0px !important;
    left: 0px !important;
}

/* ========== End Of Main Frame ========== */
