<!-- Grid View -->
<div class="gridViewWrapper">
  <div class="gridView gridItems">
    <div id="dataset-yelpUsers" class="ds grid-unit display active" data-introstep="1">
      <div class="gridIcon"></div>
      <div class="listIcon">
        <span class="icon"></span>
      </div>
      <div class="label" data-dsname="yelpUsers">yelpUsers</div>
    </div>
    <div class="folder display collapse grid-unit" data-introstep="11">
      <div class="gridIcon"></div>
      <div class="listIcon">
        <span class="icon"></span>
      </div>
      <div class="dsCount">0</div>
      <div title="Click to rename" class="label">New Folder</div>
    </div>
  </div>
</div>
<!-- End of Grid View -->