<!-- Grid View -->
<div class="ds grid-unit active" data-introstep="w3-dsIcon">
  <div class="dragWrap leftTopDragWrap"></div>
  <div class="dragWrap rightBottomDragWrap"></div>
  <i class="gridIcon icon xi_data"></i>
  <div title="yelpUsers" class="label">airlines</div>
  <i class="icon xi-trash delete fa-15"></i>
</div>
<div class="folder grid-unit" data-introstep="w3-folder">
  <div id="folder-0leftWarp" class="dragWrap leftTopDragWrap" ></div>
  <div id="folder-0midWarp" class="dragWrap midDragWrap"></div>
  <div id="folder-0rightWarp" class="dragWrap rightBottomDragWrap"></div>
  <i class="gridIcon icon xi-folder"></i>
  <div class="dsCount">0</div>
  <div title="New Folder" class="label" data-dsname="New Folder">New Folder</div>
  <i class="icon xi-trash delete fa-15"></i>
  <i class="icon xi-edit edit fa-15"></i>
</div>
<div class="intro-emptybox" style="position:absolute;height: 65px;margin-top:0px; margin-left: 65px;width: 65px;" data-introstep="w3-deleteFolder"></div>
<!-- End of Grid View -->