<!-- path -->
<div class="pathSection">
  <div class="pathWrap">
    <div class="rootPath">Home/</div>
    <div class="path"></div>
  </div>
  <div class="iconSection">
    <i class="backFolderBtn xc-action xc-disabled icon xi-previous2 fa-12"
        title="<%= dicts.dsView.Back %>" data-container="body"
        data-toggle="tooltip" data-placement="top">
    </i>
    <i class="forwardFolderBtn xc-action xc-disabled icon xi-next2 fa-12"
        title="<%= dicts.dsView.Forward %>" data-container="body"
        data-toggle="tooltip" data-placement="top">
    </i>
  </div>
</div>
<div class="listView">
  <ul id="dsOpListSection"></ul>
</div>