@import "flex.less";

.border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius:    @radius;
    border-radius:         @radius;

    -moz-background-clip:    padding;
    -webkit-background-clip: padding-box;
    background-clip:         padding-box;
}

.animation-timing-function(@func: linear) {
    -webkit-animation-timing-function: @func;
    -moz-animation-timing-function: @func;

}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans";
}

#view {
    width: 232px;
    height: 165px;

    .flex-display();
    .flex-flow(column);

    #viewHeader {
        .flex(0 0 19px);
        .flex-order(1);

        .flex-display();
        .flex-flow(row);

        border-bottom: 1px solid rgba(44, 100, 134, 0.1);

        #stepNumber {
            background-color: rgb(82, 82, 82);
            color: white;

            font-size: .8em;
            font-weight: bold; 
            line-height: 1.4em;
            padding-left: 5px;

            .flex(0 0 13px);
            .flex-order(1);
        }
        #stepInfo {
            color: rgb(82, 82, 82);
            overflow: hidden;

            font-weight: bold;
            font-size: .7em;
            line-height: 1.8em;
            padding-left: 5px;

            .flex(1 1 auto);
            .flex-order(2);
        }
    }
    #viewContent {
        .flex(1 1 auto);
        .flex-order(2);

        // for step 1
        .radio {
            position: relative;
            margin-top: 10px;

            background: url("img/radio.png");
            background-size: 11.5px 11.5px;

            width: 11.5px;
            height: 11.5px;
            left: 21px;
            cursor: pointer;

            span {
                position: absolute;
                width: 200px;
                left: 20px;
                top: -6px;

                white-space: nowrap;
                overflow: hidden;

                font-size: .8em;
                line-height: 2em;
                color: rgb(82, 82, 82);
            }
        }
        .activeRadio {
            background: url("img/radioActive.png") !important;
            background-size: 11.5px 11.5px !important;
        }

        // for step 2
        .check {
            position: relative;
            margin-top: 10px;

            background: url("img/checkbox.png");
            background-size: 11.5px 11.5px;

            width: 11.5px;
            height: 11.5px;
            left: 21px;
            cursor: pointer;

            span {
                position: absolute;
                width: 200px;
                left: 20px;
                top: -6px;

                white-space: nowrap;
                overflow: hidden;

                font-size: .8em;
                line-height: 2em;
                color: rgb(82, 82, 82);
            }
        }

        .activeCheck {
            background: url("img/checkboxActive.png") !important;
            background-size: 11.5px 11.5px !important;
        }

        // for step 3
        #instructionTitle {
            font-size: 0.7em;
            color: rgb(82, 82, 82);
            position: relative;
            top: 10px;
            left: 17px;
        }
        #instructionField {
            position: relative;
            size: 10px;
            top: 12px;
            left: 19px;
            width: 196px;
            height: 48px;
            outline: none;
            resize: none;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        // for step 4
        #inputArea {
            position: relative;

            span {
                width: 100px;
                padding-left: 20px;

                font-size: .7em;
                color: rgb(81, 81, 81);
            }
            #optionNumberInput {
                position: relative;
                width: 75px;
                left: 10px;
                height: 12px;
                outline: none;
            }
        }

        #paramField {
            position: relative;

            color: rgb(81, 81, 81);

            height: 90px;
            overflow: hidden;

            #valueSpan {
                position: relative;

                left: 60px;
            }
            #displayAsSpan {
                position: relative;

                left: 120px;
            }

            span {
                position: relative;
                left: 10px;

                font-size: .7em;
            }
            input {
                padding-left: 3px;
                border: 1px solid #E0E0E0;
                outline: none;
                background-color: transparent;
            }

            .valueInput {
                position: relative;

                left: 22px;
                width: 80px;
            }
            .displayAsInput {
                position: relative;

                left: 35px;
                width: 92px;
            }
        }

        // for step 5
        #confirmView {
            height: 75px;

            .flex-display();
            .flex-flow(column);
            #widgetType {
                overflow: hidden;

                .flex(1 1 auto);
            }
            #parameter {
                overflow: hidden;

                .flex(1 1 auto);
            }
            #instruction {
                overflow: hidden;
                
                .flex(1 1 auto);
            }
            

            .icon {
                position: relative;
                left: 20px;
                top: 9px;
                padding-left: 3px;

                background-color: rgb(153, 153, 153);
                .border-radius(2px);

                width: 10px;
                height: 13px;
                color: white;
                font-size: .6em;
                font-weight: bold;                
            }

            .label {
                position: relative;
                left: 40px;
                top: -4px;

                font-size: .7em;
                color: rgb(82, 82, 82);
            }

            .value {
                font-size: .7em;
                position: relative;
                left: 110px;
                top: -17px;
            }
        }

        // for step 6
        #pubInstruction {
            position: relative;
            left: 10px;
            top: 5px;

            white-space: nowrap;
            overflow: hidden;

            font-size: .8em;
            color: rgb(82, 82, 82);
        }
    }
    #viewFooter {
        .flex(0 0 26px);
        .flex-order(3);

        border-top: 1px solid rgba(44, 100, 134, 0.1);

        .btn {
            margin-top: 7px;
            margin-left: 8px;
            float: right;

            background-size: 60px 16px !important;
            width: 60px;
            height: 16px;

            cursor: pointer;
        }
        #btnBack {
            background: url("img/back.png");
        }

        #btnNext {
            background: url("img/next.png");
        }
    }
}

#loadingView {
    display: none;

    position: absolute;
    top: 50px;
    left: 100px;

    width: 35px;
    height: 37px;
    background: url("img/waiting-1.gif") 0 0 no-repeat;
    
    z-index: 10;
}
