.step {
    background-size: 232px 160px;
    width: 232px;
    height: 160px;
    top: 0px;
    left: 0px;
    position: absolute;
}

#step1 {
    background: url("img/step1.png");
    .step;
}

#step2 {
    background: url("img/step2.png");
    .step;
}

#step3 {
    background: url("img/step3.png");
    .step;
}

#step4 {
    background: url("img/step4.png");
    .step;
}

#step5 {
    background: url("img/step5.png");
    .step;
}

.button {
    background-size: 60px 16px;
    width: 60px;
    height: 16px;
    top: 146px;
    position: absolute;
}

.backButton {
    background: url("img/back.png");
    .button;
    left: 104px;
}

.nextButton {
    background: url("img/next.png");
    .button;
    left: 172px;
}

.activeRadio {
    background: url("img/activeRadio.png");
}

.radio {
    background: url("img/radio.png");
}
