.step {
  background-size: 232px 160px;
  width: 232px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#step1 {
  background: url("img/step1.png");
  background-size: 232px 160px;
  width: 232px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#step2 {
  background: url("img/step2.png");
  background-size: 232px 160px;
  width: 232px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#step3 {
  background: url("img/step3.png");
  background-size: 232px 160px;
  width: 232px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#step4 {
  background: url("img/step4.png");
  background-size: 232px 160px;
  width: 232px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
}
#step5 {
  background: url("img/step5.png");
  background-size: 232px 160px;
  width: 232px;
  height: 160px;
  top: 0px;
  left: 0px;
  position: absolute;
}
.button {
  background-size: 60px 16px;
  width: 60px;
  height: 16px;
  top: 146px;
  position: absolute;
}
.backButton {
  background: url("img/back.png");
  background-size: 60px 16px;
  width: 60px;
  height: 16px;
  top: 146px;
  position: absolute;
  left: 104px;
}
.nextButton {
  background: url("img/next.png");
  background-size: 60px 16px;
  width: 60px;
  height: 16px;
  top: 146px;
  position: absolute;
  left: 172px;
}
.activeRadio {
  background: url("img/activeRadio.png");
}
.radio {
  background: url("img/radio.png");
}
