/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Side_head;
	border-collapse: collapse;
	border-left-style: none;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: none;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: none;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: none;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #ffffff;
	background-color: #d3d3d3;
	name: Column1;
	id: 0;
	font-family: 'Open Sans Semibold';
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: none;
	separator-width: 1px;
	separator-color: #000000;
	name: Column2;
	id: 1;
	background-color: #f3f3f3;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	text-align: left;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 2px;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 3px;
	separator-color: #ffffff;
	name: Body1;
	id: 2;
	font-family: 'Open Sans';
}


/* Cell Styles: */
 
.TableStyle-Side_head
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: none;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: none;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Side_head-Column-Column1
{
	
}

.TableStyle-Side_head-Column-Column2
{
	
}

.TableStyle-Side_head-Head-Header1
{
	
}

.TableStyle-Side_head-HeadI-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadI-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadE-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Side_head-HeadE-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadF-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Side_head-HeadF-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadH-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-HeadH-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadD-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Side_head-HeadD-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadC-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadC-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadB-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-HeadB-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadA-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadA-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadG-Column1-Header1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadG-Column1-Header1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-HeadI-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadI-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadE-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Side_head-HeadE-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadF-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Side_head-HeadF-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadH-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-HeadH-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadD-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

.TableStyle-Side_head-HeadD-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadC-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadC-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadB-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-HeadB-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadA-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadA-Column2-Header1 p
{
	
}

.TableStyle-Side_head-HeadG-Column2-Header1
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-HeadG-Column2-Header1 p
{
	
}

.TableStyle-Side_head-FootI-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootI-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootE-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-FootE-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootF-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootF-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootH-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-FootH-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootD-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootD-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootC-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootC-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootB-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-FootB-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootA-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootA-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootG-Column1-
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootG-Column1- p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-FootI-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootI-Column2- p
{
	
}

.TableStyle-Side_head-FootE-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-FootE-Column2- p
{
	
}

.TableStyle-Side_head-FootF-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootF-Column2- p
{
	
}

.TableStyle-Side_head-FootH-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-FootH-Column2- p
{
	
}

.TableStyle-Side_head-FootD-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootD-Column2- p
{
	
}

.TableStyle-Side_head-FootC-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootC-Column2- p
{
	
}

.TableStyle-Side_head-FootB-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-FootB-Column2- p
{
	
}

.TableStyle-Side_head-FootA-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootA-Column2- p
{
	
}

.TableStyle-Side_head-FootG-Column2-
{
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-FootG-Column2- p
{
	
}

.TableStyle-Side_head-Body-Body1
{
	
}

.TableStyle-Side_head-BodyI-Column1-Body1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyI-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyE-Column1-Body1
{
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-BodyE-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyF-Column1-Body1
{
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyF-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyH-Column1-Body1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-BodyH-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyD-Column1-Body1
{
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyD-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyC-Column1-Body1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyC-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyB-Column1-Body1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 3px;
	border-right-color: #ffffff;
	border-right-style: solid;
}

.TableStyle-Side_head-BodyB-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyA-Column1-Body1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyA-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyG-Column1-Body1
{
	font-family: 'Open Sans Semibold';
	text-align: left;
	vertical-align: top;
	background-color: #d3d3d3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyG-Column1-Body1 p
{
	font-family: 'Open Sans Semibold';
}

.TableStyle-Side_head-BodyI-Column2-Body1
{
	font-family: 'Open Sans';
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyI-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyE-Column2-Body1
{
	font-family: 'Open Sans';
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-BodyE-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyF-Column2-Body1
{
	font-family: 'Open Sans';
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyF-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyH-Column2-Body1
{
	font-family: 'Open Sans';
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-BodyH-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyD-Column2-Body1
{
	font-family: 'Open Sans';
	border-bottom-width: 3px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyD-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyC-Column2-Body1
{
	font-family: 'Open Sans';
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyC-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyB-Column2-Body1
{
	font-family: 'Open Sans';
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: none;
}

.TableStyle-Side_head-BodyB-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyA-Column2-Body1
{
	font-family: 'Open Sans';
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyA-Column2-Body1 p
{
	font-family: 'Open Sans';
}

.TableStyle-Side_head-BodyG-Column2-Body1
{
	font-family: 'Open Sans';
	text-align: left;
	vertical-align: top;
	background-color: #f3f3f3;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Side_head-BodyG-Column2-Body1 p
{
	font-family: 'Open Sans';
}


