/* ========== Constants ========== */
/* Standard */
/* Bar */
/* Monitor */
/* Table */
/* Text */
/* Fonts */
/* ========== Elements ========== */
.nomargin-padding {
  margin: 0;
  padding: 0;
}
div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* border: 1px solid red; */

}
ul,
li {
  margin: 0;
  padding: 0;
}
/* ========== Main ========== */
body {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  font-family: "Century Gothic", "Trebuchet MS", Arial, sans-serif;
  font-size: 0;
  /* Need to use this to get rid of stupid white space */

}
#logo {
  position: absolute;
  top: 2px;
  left: 20px;
  height: 38px;
  width: 87px;
  background-image: url("/images/logo-white-L.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10;
  -webkit-filter: brightness(0);
}
.menuSelected {
  color: #fdb03c;
}
#menuBar {
  margin-top: 5px;
  height: 34px;
  background-color: #999999;
  color: #ffffff;
  width: 100%;
  display: table;
}
#menuBar div {
  display: inline-block;
  margin: 0px 150px 0px 0px;
  font: "Century Gothic", "Trebuchet MS", Arial, sans-serif;
  font-size: 26px;
  vertical-align: middle;
}
#menuBar div:hover {
  color: #fdb03c;
  cursor: pointer;
}
#menuArea {
  background-color: #FFFFFF;
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
  height: 68px;
  width: 100%;
  display: table;
}
#menuArea div {
  display: inline-block;
  width: 135px;
  margin: 0px 50px 0px 0px;
  font: "Century Gothic", "Trebuchet MS", Arial, sans-serif;
  font-size: 58px;
  vertical-align: middle;
}
.monitorSubDiv {
  font-size: 20px !important;
  font-weight: bold;
  margin: 0px !important;
  z-index: 3;
}
.monitorRed {
  color: #f8a7ab;
}
.monitorBlue {
  color: #a6c5d2;
}
.monitorGreen {
  color: #95dcbc;
}
.datasetName {
  padding-top: 5px !important;
  color: #CCCCCC;
  line-height: 23px;
  font-size: 28px !important;
  width: 200px !important;
  text-align: center;
}
#functionBar {
  background-color: #999999;
  margin-top: 5px;
  padding: 0px;
  height: 34px;
  width: 100%;
  display: table;
}
#functionBar div {
  display: inline-block;
  font: "Century Gothic", "Trebuchet MS", Arial, sans-serif;
  padding: 5px 0px 0px 0px;
  margin: 0px 0px 0px 20px;
  font-size: 18px;
  color: #FFFFFF;
  vertical-align: middle;
}
.functionField {
  margin: 0px 200px 0px 0px !important;
  font-size: 16px !important;
  font-family: "Source Code Pro";
  color: #000000 !important;
  vertical-align: middle;
}
#mainFrame {
  background-color: #FFFFFF;
  margin-top: 5px;
  padding: 0px;
  height: 848px;
  width: 100%;
  float: top;
  overflow-x: scroll;
  overflow-y: scroll;
  display: inline-block;
  font-size: 11px;
}
#mainFrame::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
#mainFrame::-webkit-scrollbar-thumb {
  background: rgba(237, 28, 36, 0.5) !important;
}
#mainFrame::-webkit-scrollbar-corner {
  background: transparent;
}
