<section class="loadingSection" style="display: none;">
  <div class="waitingIcon"></div>
</section>
<section class="searchLoadingSection" style="display: none;">
  <div class="cancelSearch lockedTableIcon">
    <div class="iconPart" data-toggle="tooltip" data-original-title="Cancel search" data-placement="top" data-container="body">
      <div class="leftPart"></div>
      <div class="rightPart"></div>
      <i class="icon xi-clock"></i>
      <i class="icon xi-close"></i>
    </div>
  </div>
</section>
<section id="fileBrowserContainer" class="mainSection fileBrowserContainer" style="width: calc(100% - 360px);">
  <div class="titleSection" style="">
    <div class="checkBox"></div>
    <div class="title gridIcon"></div>
    <div class="title fileName" data-sortkey="name">
      <span class="label">Name</span>
      <i class="icon xi-sort fa-15 xc-action"></i>
      <div class="colGrab"></div>
    </div>
    <div class="title fileDate cdate hideCdate" data-sortkey="cdate">
      <span class="label">Date Created</span>
      <i class="icon xi-sort fa-15 xc-action"></i>
    </div>
    <div class="title fileDate mdate" data-sortkey="mdate">
      <span class="label">Date Modified</span>
      <i class="icon xi-sort fa-15 xc-action"></i>
    </div>
    <div class="title fileSize" data-sortkey="size">
      <span class="label">Size</span>
      <i class="icon xi-sort fa-15 xc-action"></i>
    </div>
  </div>
  <div class="wrapper">
    <div id="innerFileBrowserContainer" class="clearfix innerFileBrowserContainer" style="height: auto;">
      <div class="sizer">
      </div>
      <div data-introstep="wa3-multDirs" style="width: 140px; height: 75px; position: absolute;"></div>
      <div class="folder visible grid-unit picked" data-index="0" data-introstep="wa3-selectDir">
        <div class="checkBox">
          <i class="icon xi-ckbox-selected">
          </i>
        </div>
        <i class="gridIcon icon xi-folder">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        APAC</div>
      </div>
      <div class="folder visible grid-unit picked" data-index="1">
        <div class="checkBox">
          <i class="icon xi-ckbox-selected">
          </i>
        </div>
        <i class="gridIcon icon xi-folder">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        EMEA</div>
      </div>
      <div class="folder visible grid-unit" data-index="2">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty">
          </i>
        </div>
        <i class="gridIcon icon xi-folder">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        LAC</div>
      </div>
      <div class="folder visible grid-unit" data-index="3">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty">
          </i>
        </div>
        <i class="gridIcon icon xi-folder">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        NA</div>
      </div>
      <div class="ds visible grid-unit picked" data-index="4" data-introstep="wa3-selectFile">
      	<div style="width: 0px; height: 0px;">
          <div data-introstep="wa3-multFiles" style="width: 133px; height: 75px; position: absolute;"></div>
        </div>
        <div class="checkBox">
          <i class="icon xi-ckbox-selected">
          </i>
        </div>
        <i class="gridIcon icon xi-xls-file">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        field-ops.xls</div>
      </div>
      <div class="ds visible grid-unit picked active selected" data-index="5">
        <div class="checkBox">
          <i class="icon xi-ckbox-selected">
          </i>
        </div>
        <i class="gridIcon icon xi-json-file">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        in-house.json</div>
      </div>
      <div class="ds visible grid-unit" data-index="6">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty">
          </i>
        </div>
        <i class="gridIcon icon xi-zip-file">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        part-orders.zip</div>
      </div>
      <div class="ds visible grid-unit" data-index="7">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty">
          </i>
        </div>
        <i class="gridIcon icon xi-csv-file">
        </i>
        <div class="label fileName" style="width: calc(2.99401% - 20px);">
        service-reqs.csv</div>
      </div>
    </div>

  </div>
  <div class="filePathBottom">
    <span class="content">/datastores/misc</span>
  </div>
</section>
<section id="fileInfoContainer" class="fileInfoContainer">
  <div id="fileInfoTop" class="fileInfoTop" data-introstep="wa3-fileDetails">
    <div>
      <span class="fileName">in-house.json</span>
      <span>| </span>
      <span class="fileType content">JSON</span>
    </div>
    <div class="fileInfoDetails">
      <div class="fileInfoIcon">
        <i class="xi-json-file icon fileIcon"></i>
      </div>
      <div class="fileInfoText">
        <div class="fileDate fileInfo mdate">
          <i class="icon xi-menu-scheduler"></i>
          <div class="contentWrapper">
            <span>Date Modified:</span>
            <span class="content">6:28:46 PM Oct 30, 2017</span>
          </div>
        </div>
        <div class="fileSize fileInfo">
          <i class="icon xi-compare"></i>
          <div class="contentWrapper">
            <span>Size:</span>
            <span class="content">16.2KB</span>
          </div>
        </div>
      </div>
    </div>
    <div class="fileRawData">
      <button id="fileRawData" class="btn iconBtn">
        <i class="icon xi-show"></i>
        <span>VIEW RAW DATA</span>
      </button>
    </div>
  </div>
  <div id="fileInfoMid" class="fileInfoMid" data-introstep="wa3-selectedRecursive">
    <div class="infoTitle">
      <span>Selected Files / Folders:</span>
      <div class="close">
        <span>Clear All</span>
        <i class="icon xi-close"></i>
      </div>
    </div>
    <div class="pickedFiles">
      <span class="selectAll">Recursive</span>
      <i class="qMark icon xi-unknown">
      </i>
      <div class="addRegex">
        <span>Click to add regex</span>
      </div>
    </div>
    <div class="fileList" >
      <ul class="pickedFileList">
        <li>
          <i class="icon xi-close close">
          </i>
          <i class="icon xi-ckbox-selected">
          </i>
          <span>
          /datastores/misc/APAC</span>
        </li>
        <li>
          <i class="icon xi-close close">
          </i>
          <i class="icon xi-ckbox-selected">
          </i>
          <span>
          /datastores/misc/EMEA</span>
        </li>
        <li>
          <i class="icon xi-close close">
          </i>
          <i class="icon xi-ckbox-empty xc-disabled">
          </i>
          <span >
          /datastores/misc/field-ops.xls</span>
        </li>
        <li>
          <i class="icon xi-close close">
          </i>
          <i class="icon xi-ckbox-empty xc-disabled">
          </i>
          <span>
          /datastores/misc/in-house.json</span>
        </li>
      </ul>

    </div>
  </div>
  <div id="fileInfoBottom" class="fileInfoBottom">
    <div class="bottomWrapper" data-introstep="wa3-multDs">
      <div class="infoTitle">
        <span>Import as:</span>
      </div>
      <div class="switchWrap">
        <div class="switchLabel highlighted">
          One Dataset
        </div>
        <div class="xc-switch switch">
          <div class="slider"></div>
        </div>
        <div class="switchLabel">
          Multiple Datasets
        </div>
      </div>
    </div>
    <div class="buttonSection">
      <button type="button" class="btn confirm" data-introstep="wa3-clickNext">NEXT</button>
    </div>
  </div>
</section>