<div id="gridViewMenu" class="menu  dsOpts" data-submenu="gridViewSubMenu" style="max-height: none; top: 259px; left: 282px; display: none;" data-introstep="wa1-contextMenu">
  <ul style="max-height: none;">
    <li class="preview dsOpt">Preview</li>
    <li class="moveUp dsOpt folderOpt disabled">Move up a level</li>
    <li class="lockDS dsOpt">Lock dataset</li>
    <li class="delete dsOpt folderOpt">Delete</li>
    <li class="share dsOpt">Share</li>
    <li class="getInfo dsOpt">Get info</li>
  </ul>
</div>