<div style="height: 65px;" <%= (dicts.tutor.name == 'datasetPanelTutA1') ? 'data-introstep="wa1-datasetsList"' : '' %>>
  <div class="folder grid-unit uneditable intro-highlightedElement" <%= (dicts.tutor.name == 'datasetPanelTutA1') ? 'data-introstep="wa1-sharedDs"' : '' %>>
    <i class="gridIcon icon xi-folder"></i>
    <div class="dsCount">17</div>
    <div title="Shared" class="label">Shared</div>
  </div>
  <div class="ds grid-unit locked" <%= (dicts.tutor.name == 'datasetPanelTutA1') ? 'data-introstep="wa1-lockedDs"' : '' %>>
    <i class="gridIcon icon xi_data"></i><div title="top50_mcap" class="label">parts</div><i class="lockIcon icon xi-lockwithkeyhole"></i>
  </div>
  <div class="ds grid-unit">
    <i class="gridIcon icon xi_data"></i>
    <div title="schedule3558" class="label" >order history</div>
  </div>
  <div class="ds grid-unit active selected" <%= (dicts.tutor.name == 'datasetPanelTutA1') ? 'data-introstep="wa1-selectFile"' : '' %>>
    <i class="gridIcon icon xi_data"></i>
    <div title="unitTestDsTable4903" class="label">service requests</div>
  </div>
</div>