@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

/*In the HTML file, always use "Open Sans" as the font family and specify the weight by a number.*/

@font-face 
{
    font-family: "Open Sans";
	font-weight: 400;
    src: url(../../Fonts/open-sans.regular.ttf);
} 

@font-face
{
	font-family: "Open Sans";
	font-weight: 600; 
	src: url(../../Fonts/OpenSans-Semibold.ttf);
} 

@font-face
{
	font-family: "Open Sans";
	font-weight: 300;
	src: url(../../Fonts/OpenSans-Light.ttf);
} 

@font-face
{
    font-family: "Open Sans";
    src: url(../../Fonts/OpenSans-Bold.ttf);
    font-weight: 700;
} 

body
{
	color: #4a4a4a;
	font-family: "Open Sans", Arial, sans-serif, Avenir, Myriad;
	font-weight: 400;
	line-height: 1.5em;
	font-size: 16px;
}

a.MCBreadcrumbsLink
{
	color: #378cb3;
	text-decoration: none;
}

a.MCBreadcrumbsLink:visited
{
	color: #4a4a4a;
}

a.MCBreadcrumbsLink:hover
{
	color: #378cb3;
	text-decoration: underline;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 36px;
	color: #378cb3;
	font-weight: 400;
	line-height: 49px;
}

h2
{
	margin-bottom: 4px;
	margin-top: 24px;
	color: #378cb3;
	font-weight: 400;
}

h3
{
	font-size: 20px;
	margin-bottom: 4px;
	margin-top: 16px;
	color: #378cb3;
	font-weight: 400;
}

h4
{
	color: #378cb3;
	font-weight: 300;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: 14px;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|xref
{
	color: #378cb3;
	mc-format: '{para}';
	text-decoration: none;
}

MadCap|xref:hover
{
	color: #378cb3;
	text-decoration: underline;
}

/* p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
} */

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 28%;
}

html.templateTopic div.sideContent
{
	display: none;
}

p.userInput
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Courier New';
	font-weight: bold;
}

img.BigImage
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 150px;
}

p.hashtag	/*Tag keywords for building dictionary for use in in-page help*/
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	display: none;
	color: #ff0000;
}

span.UIelement
{
	font-weight: 600;
}

p.InPageSummary
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	display: none;
	color: #ff0000;
}

ul.InPageSummary
{
	display: none;
}

ul
{
	
}

ul ul
{
	list-style-image: url('../Images/Insight_assets/xi-arrow-right.png');
	/*Second level unordered list uses the right arrow as the bullet. */
}

MadCap|dropDownBody
{
	border-bottom-color: #378cb3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

th
{
	font-weight: 600;
}

p.CLIoutput
{
	font-family: 'Courier New';
	margin-bottom: 5px;
	margin-top: 5px;
}

p.faqQuestion
{
	margin-bottom: 8px;
	margin-top: 8px;
	color: #454040;
	font-size: 18px;
	font-weight: bold;
}

p.faqAnswer
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	color: #454040;
	font-size: 18px;
	padding: 14px;
	background-color: #b6daf5;
	mc-auto-number-format: '{b}Answer: {/b}';
}

ul.navigation ul
{
	border: #000000 1px none;
	border-radius: 0px;
}

ul.navigation > li.has-children:after	/*This is to mask out the pointer pointing to the top menu. */
{
	border-bottom-color: #378cb3;
}

span.SearchHighlight
{
	background-color: #ede54b;
}

p.sampleCode
{
	font-family: 'Courier New';
	margin-bottom: 0px;
	margin-top: 0px;
}

div.sampleCode
{
	background-color: #cccccc;
	font-family: 'Courier New';
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px #000000;
}

div
{
	
}

div.Example
{
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

span.label
{
	font-weight: bold;
	margin-top: 5px;
}

div.Note
{
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

p.Title
{
	font-size: 30pt;
	font-weight: bold;
}

p.subTitle
{
	font-size: 30pt;
	font-weight: bold;
}

img
{
	mc-thumbnail-max-height: 500px;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/Insight_assets/xi-plus-circle-outline.png');
	mc-open-image: url('../Images/Insight_assets/xi-minus-circle-outline.png');
}

ul.navigation
{
	text-transform: uppercase;
}

ul.sub-menu
{
	text-transform: none;
}

MadCap|xref:focus
{
	
}

a:hover
{
	color: #378cb3;
}

a:active
{
	color: #378cb3;
}

MadCap|dropDownHotspot
{
	color: #378cb3;
}

ol
{
	
}

MadCap|equation
{
	font-family: 'Open Sans';
	text-decoration: none;
	font-style: normal;
	color: #4a4a4a;
	font-size: 14px;
}

@media print
{
	p.subTitle
	{
		font-size: 24pt;
	}
}

div.bodyProxyNarrow
{
	width: 65%;
}

