@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

@font-face
{
    font-family: "Open Sans";
    src: url(../../Fonts/open-sans.regular.ttf),
	url(../../Fonts/OpenSans-Bold.ttf),
	url(../../Fonts/OpenSans-BoldItalic.ttf),
	url(../../Fonts/OpenSans-ExtraBold.ttf),
	url(../../Fonts/OpenSans-ExtraBoldItalic.ttf),
	url(../../Fonts/OpenSans-Italic.ttf),
	url(../../Fonts/OpenSans-Light.ttf),
	url(../../Fonts/OpenSans-LightItalic.ttf),
	url(../../Fonts/OpenSans-Semibold.ttf),
	url(../../Fonts/OpenSans-SemiboldItalic.ttf);
    font-weight: normal;
} 

@font-face
{
    font-family: "Open Sans Semibold";
    src: url(../../Fonts/OpenSans-Semibold.ttf);
    font-weight: normal;
} 

body
{
	color: #404040;
	font-family: "Open Sans", Arial, sans-serif, Avenir, Myriad;
	line-height: 1.5em;
	font-size: 18px;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-size: 36px;
	font-weight: bold;
	color: #000000;
	line-height: 42px;
}

h2
{
	margin-bottom: 4px;
	margin-top: 20px;
	font-weight: bold;
	color: #000000;
}

h3
{
	font-size: 1.1em;
	margin-bottom: 4px;
	margin-top: 16px;
	font-weight: bold;
	color: #000000;
}

h4
{
	color: #454040;
	font-weight: bold;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-weight: normal;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .8em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|xref
{
	color: #2D8DCC;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	color: #454040;
	font-size: 18px;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 28%;
}

html.templateTopic div.sideContent
{
	display: none;
}

p.userInput
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Courier New';
	font-weight: bold;
}

img.BigImage
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 150px;
}

p.hashtag	/*Tag keywords for building dictionary for use in in-page help*/
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	display: none;
	color: #ff0000;
}

span.UIelement
{
	font-weight: bold;
}

p.InPageSummary
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	display: none;
	color: #ff0000;
}

ul.InPageSummary
{
	display: none;
}

ul
{
	
}

MadCap|dropDownBody
{
	border-bottom-color: #00bfff;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

th
{
	font-weight: bold;
}

p.Example
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	color: #454040;
	font-size: 18px;
	padding: 14px;
	mc-auto-number-format: '{b}Example: {/b}';
}

p.CLIoutput
{
	font-family: 'Courier New';
	margin-bottom: 5px;
	margin-top: 5px;
}

p.faqQuestion
{
	margin-bottom: 8px;
	margin-top: 8px;
	color: #454040;
	font-size: 18px;
	font-weight: bold;
}

p.faqAnswer
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	color: #454040;
	font-size: 18px;
	padding: 14px;
	background-color: #b6daf5;
	mc-auto-number-format: '{b}Answer: {/b}';
}

ul.navigation ul
{
	border: #000000 1px none;
	border-radius: 10px;
}

span.SearchHighlight
{
	background-color: #ede54b;
}

p.sampleCode
{
	font-family: 'Courier New';
	margin-bottom: 0px;
	margin-top: 0px;
}

div.sampleCode
{
	background-color: #cccccc;
	font-family: 'Courier New';
	padding-left: 5px;
	padding-right: 5px;
	border: solid 1px #000000;
}

div
{
	
}

div.Example
{
	border-top-color: #6495ed;
	border-bottom-color: #6495ed;
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

span.label
{
	font-weight: bold;
	margin-top: 5px;
}

div.Note
{
	border-top-color: #6495ed;
	border-bottom-color: #6495ed;
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

p.Title
{
	font-size: 30pt;
	font-weight: bold;
}

p.subTitle
{
	font-size: 30pt;
	font-weight: bold;
}

img
{
	mc-thumbnail-max-height: 500px;
}

MadCap|dropDown
{
	mc-closed-image: url('../Images/Insight_assets/xi-plus-circle-outline.png');
	mc-open-image: url('../Images/Insight_assets/xi-minus-circle-outline.png');
}

ul.navigation
{
	text-transform: uppercase;
}

ul.sub-menu
{
	text-transform: none;
}

@media print
{
	p.subTitle
	{
		font-size: 24pt;
	}
}

div.bodyProxyNarrow
{
	width: 65%;
}

