@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

body
{
	color: #404040;
	font-family: "Open Sans", Arial, sans-serif, Avenir, Myriad;
	line-height: 1.7em;
}

a.MCBreadcrumbsLink
{
	font-style: italic;
	text-decoration: underline;
}

a.MCBreadcrumbsLink:visited
{
	color: #000000;
}

a.MCBreadcrumbsLink:hover
{
	color: #BED230;
}

div.TopicContent
{
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 25px;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 10px;
	margin-top: 30px;
	font-size: 1.75em;
	font-weight: 500;
}

h2
{
	margin-bottom: 4px;
	margin-top: 20px;
	font-weight: 500;
}

h3
{
	font-size: 1.1em;
	margin-bottom: 4px;
	margin-top: 16px;
	font-weight: 500;
}

h4
{

}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
	font-weight: normal;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: .7em;
	font-style: italic;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|xref
{
	color: #2D8DCC;
	mc-format: '{para}';
	text-decoration: underline;
}

MadCap|xref:hover
{
	color: #BED230;
}

p
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 33.33%;
}

html.templateTopic div.sideContent
{
	display: none;
}

p.userInput
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Courier New';
}

img.BigImage
{
	mc-thumbnail: popup;
}

p.Note
{
	margin-bottom: 8px;
	margin-top: 8px;
	border-top: solid 2px #6495ed;
	border-bottom: solid 2px #1e90ff;
	border-bottom-color: #6495ed;
	mc-auto-number-format: '{b}{color blue}NOTE: {/color}{/b}';
	border-top-width: 3px;
	border-bottom-width: 3px;
}

p.hashtag	/*Tag keywords for building dictionary for use in in-page help*/
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	display: none;
}

span.UIelement
{
	font-weight: 500;
}

p.InPageSummary
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-weight: normal;
	display: none;
}

ul.InPageSummary
{
	display: none;
}

ul
{

}

/* Xcalar styling */
// .SearchHighlight {
// 	background-color: yellow;
// }

.sideContent .SearchHighlight {
	background-color: transparent;
}
span.SearchHighlight {
    background-color: #ede54b;
}