 // DataStore CSS
#datastorePanel {
    .position(relative, @top: 0);
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .subPanel {
        .size(100%, 100%);
        overflow: hidden;
    }

     &.in {
        .subPanel {
            &.in {
                display: block;
            }

            &.out {
                display: none;
            }
        }
    }

    &.out {
        .topBar {
            .cart {
                display: none;
            }
        }

        .subPanel {
            &.in {
                display: none;
            }

            &.out {
                display: block;
            }
        }

        #dataCartBtn {
            display: none;
        }
    }
}

#sendToWorksheetLoadBar {
    display: none;
    width: 100%;
    height: 5px;
    background-color: #374750;
    z-index: 21;
    position: absolute;
    top: 35px;
    pointer-events: none;
    .innerBar {
        width: 0%;
        height:100%;
        background-color: #4CA5D9;
    }
}

#datastore-in-view {
    .viewSection {
        .size(100%, 100%);
    }
}

/* DS Table Section */
#dsTableView {    
    &.fullSize {
        .leftSection {
            .size(@width: ~"calc(100% - 6px)");
        }

        .rightSection {
            display: none;
        }
    }

    .leftSection {
        .size(@width: ~"calc(100% - 306px)", @height: 100%);
        float: left;
        margin-right: 6px;
        .transition(width 0.2s);

        > .section {
            .size(100%, 100%);
        }
    }

    .rightSection {
        .size(@width: 300px, @height: 100%);
        float: left;
        .transition(left 0.2s);
    }

    .cardContainer {
        .size(100%, 100%);
    }

    .cardInstruction {
        padding: 5px 20px;
        white-space: normal;

        .icon {
            &:before {
                display: block;
                .position(relative, @top: 9px);
            }
        }
    }

    .cardTopMain {
        .size(@height: 116px);
        padding: 15px;

        .titleSection {
            .size(@height: 25px);
            line-height: 25px;

            .title {
                .size(@width: auto);
                .font(@size: 18px, @weight: 700);
                color: @color-font-select-blue;
                float: left;
            }
        }

        .infoSection {
            .size(@width: ~"calc(100% - 190px)");
            float: left;

            .contentSection {
                .size(@height: 20px);
                font-size: 14px;
                margin-top: 10px;
                .textOverflowOneLine;
            }
        }

        .buttonSection {
            .size(@width: 190px);
            float: right;

            .buttonGroup {
                .size(@height: 20px);
                margin-top: 10px;
                color: @color-font-select-blue;

                > div {
                    float: right;
                }

                .icon {
                    color: @color-font-select-blue;
                }

                .hint {
                    .size(@width: 14px, @height: 20px);
                    margin-left: 5px;
                }

                .xc-action {
                    i, span {
                        display: inline-block;
                        float: left;
                    }

                    span {
                        line-height: 20px;
                        margin-left: 5px;
                    }
                }

                .divider {
                    .size(@width: 1px, @height: 20px);
                    margin: 0 10px;
                    background-color: @color-bg-select-blue;
                }
            }
        }        
    }

    .cardMain {
        .size(@width: 100%, @height: ~"calc(100% - 208px)");
        padding: 0;
    }
}

// the data cart icon
#dataCartBtn {
    .size(30px, 100%);
    .position(relative);
    margin-right: 10px;

    &.active {
        background-color: @color-bg-white-two;
    }

    &.noCart {
        .text {
            display: none;
        }
    }

    .icon {
       color: @color-font-warm-grey-two; 
    }
    
    .text {
        .size(@min-width: 24px, @max-width: 35px, @height: 12px);
        .position(absolute, @top: -5px, @left: -15px);
        .rounded(6px);
        background-color: @color-bg-softBlue;
        .font(@size: 9px, @weight: 700, @color: @color-white);
        text-align: center;
    }
}

#dsTableContainer {
    .size(@max-width: 100%, @max-height: 100%);
    white-space: nowrap;
    overflow: hidden;
    float: left;
    overflow-x: auto;

    &.loading {
        border: none;
        height: 40px !important;
        .errorSection, .datasetTableWrap {
            display: none !important;
        }

        .loadSection {
            display: block;
        }
    }

    &.error {
        border: none;
        height: 40px !important;
        .datasetTableWrap, .loadSection {
            display: none !important;
        }

        .errorSection {
            display: block;
        }
    }

    .loadSection {
        display: none;
        margin-left: 15px;

        .animatedEllipsis {
            margin-left: 5px;

            > div {
                margin-left: -1px;
            }
        }
    }

    .errorSection {
        display: none;
        color: @color-table-red;
        margin-left: 15px;
    }
}

.datasetTbodyWrap {
    .size( @max-height: 100%);
    overflow-x: visible;
    overflow-y: scroll;
    display: inline-block;
    outline: 1px solid @color-white; // ie bug if we dont use this outline
    outline-offset: -1px;
    margin-top: -1px;

    &::-webkit-scrollbar {
        display: none;
    }
}

table.datasetTable {
    margin: 0;
}

.datasetTableWrap {
    height: 100%;
    margin: 0;
    position: relative;
    display: inline-block;
    overflow: hidden;

    .header {
        .position(absolute, @top: 0);
        .size(@width: inherit, @height: @height-colHeaderOuter);
        cursor: pointer;

        .editableHead {
            .no-selection;
        }

        .flexWrap.flex-right {
            .flex(0 0 20px);
            position: relative;

            .icon {
                .position(relative, @top: 1px);
                opacity: @opacity-unhover;
            }
        }

        &:hover {
            .flexWrap.flex-right {
                > .icon {
                    opacity: @opacity-hover;
                }
            }
        }

        &::before {
            display: none;
        }
    }

    th {
        width: 130px;

        &.rowNumHead {
            width: 40px;
            cursor: default;

            .header {
                width: 40px;
                cursor: default;
            }
        }
    }
    .selectedCol {
        .header {
            .editableHead {
                color: @color-white;
            }
            .tick.icon {
                opacity: 1.0;
            }
        }

        .flexContainer {
            .type-boolean .flexWrap.flex-left {
                &:after {
                    border-top: 30px solid @color-border-colIconBlue;
                }
            }
        }
        
    }
}
/* End Of DS Table Section */

// Data Cart Section
#dataCartContainer {
    .size(100%, 100%);
    background-color: @color-bg-white-seven;
    box-shadow: -1px 0 0 0 rgba(255, 255, 255, 0.5), inset 1px 0 0 0 rgba(0, 0, 0, 0.2);

    &.cartOverflow {
        .mainSection {
            box-shadow: inset 0px 3px 2px 1px rgba(0, 0, 0, 0.2);        }
    }

    &.noCart {
        .titleSection {
            .numWrap {
                display: none;
            }
        }

        .buttonSection {
            .dropDownList, .btn {
                pointer-events: none;
                opacity: @opacity-hint;
            }
        }

        .mainSection {
            .hint {
                display: block;
            }
        }        
    }

    @height-title: 40px;
    @height-button: 140px;
    @height-main: @height-title + @height-button;

    .titleSection {
        .size(@height: @height-title);
        background-color: @color-bg-topBarGray;
        padding: 0 20px;
        .font(@size: 20px, @weight: 700, @line-height: 40px, @color: @color-font-gray36);
    }

    .buttonSection {
        .size(@height: @height-button);
        background-color: @color-bg-white-nine;
        padding: 15px 20px;

        .dropDownWrap {
            .size(@width: 100%, @height: 30px);
            margin-bottom: 10px;

            > div {
                float: left;
            }

            .title {
                .size(@width: 65px);
                .font(@line-height: 30px);
            }

            .dropDownList {
                .styleDropDownList(@w: ~"calc(100% - 65px)", @h: 30px);
                
                li {
                    .icon {
                        float: right;
                        color: @color-font-gray36;
                        font-size: 14px;
                        line-height: 30px;
                        position: absolute;
                        right: 10px;
                        background-color: white;
                    }

                    &:hover {
                        .icon {
                            background-color: @color-selectedCell-light;
                        }
                    }
                }

                li.new {
                    color: @color-font-gray36;
                    border-bottom: 1px solid @color-border-pinkish-grey2;
                }
            }
        }

        .btn {
            margin-top: 10px;
            .size(@width: 100%, @height: 30px);
            display: block;
            line-height: 30px;
        }
    }

    .mainSection {
        .size(@width: 100%, @height: ~"calc(100% - @{height-main})");
        padding: 10px 10px 10px 20px;
        overflow-y: scroll;

        .hint {
            display: none;
            white-space: normal;
            margin-top: 10px;
            margin-right: 10px;
            color: @color-text-darkdarkGray;
        }
    }
}

#dataCart {
    .size(@width: 100%);
    backface-visibility: hidden;

    .selectedTable {
        .size(@width: 100%);
        margin: 10px 0 20px 0;
        color: @color-font-greyish-brown;

        .xc-action {
            color: @color-font-greyish-brown;
            .vertical-align;
            top: 45%;
            margin-left: 8px;
            opacity: @opacity-hint;

            &:hover {
                opacity: @opacity-hover;
            }
        }

        .cartTitleArea {
            .size(@width: 100%, @height: 30px);
            .input-box(@w: 220px, @h: 30px);

            .tableNameEdit {
                display: inline-block;
                float: left;
            }
        }

        .cartEmptyHint {
            margin-top: 10px;
            text-align: center;
            .font(@weight: bold, @color: @color-text-midGray);
        }

        li {
            .size(@height: 24px);
            overflow: hidden;
            margin-top: 12px;
            padding-left: 10px;

            &.colSelected {
                .itemWrap {
                    color: @color-font-select-blue;
                    border-color: @color-border-select-blue;
                
                    .iconWrap {
                        background-color: @color-bg-select-blue;
                    }
                }
            }

            .itemWrap {
                .size(@width: 210px, @height: 100%);
                border: solid 1px @color-border-warm-grey-two;
                float: left;
                display: inline-block;
                cursor: default;

                > span {
                    display: inline-block;
                    float: left;
                }

                .iconWrap {
                    .size(@width: 24px, @height: 22px);
                    background-color: @color-bg-unselect-gray;
                
                    .icon {
                        left: 45%;
                    }
                }

                .colName {
                    .size(@width: 184px, @height: 22px);
                    padding: 0 6px;
                    line-height: 22px;
                }
            }
        }
    }
}
// End of Data Cart Section

/* Path Card */
#dsForm-path {
    .cardMain {
        .size(@height: 100px);
        padding-top: 30px;

        .content {
            .size(@width: 80%);
            margin: 15px auto 0 auto;

            &:first-child {
                margin-top: 0;
            }

            > label, > div, > button, > input {
                float: left;
            }

            > label {
                .size(@width: 150px);
            }

            .dropDownList {
                .styleDropDownList(~"calc(100% - 310px)", 30px);
                
                .list {
                    left: 1px;
                }
            }

            &.protocol {
                .size(@height: 30px);
                line-height: 30px;
            }

            &.path {
                .size(@height: 36px);
                .input-box(~"calc(100% - 310px)", 30px);
                line-height: 36px;

                input {
                    .vertical-align;
                }

                .btn {
                    float: right;
                }
            }
        }
    }

    .cardBottom {
        margin: 0 10%;
        padding-right: 0;
        padding-bottom: 20px;
    }
}
/* End of Path Card */

/* File Browser */
#fileBrowser {
    .size(@min-width: 850px, @height: ~"calc(100% - 5px)");
    text-transform: capitalize;
    overflow: visible;

    &.loadMode {
        pointer-events: none;

        .cancel, .close {
            pointer-events: auto;
        }
    }

    &.unsortable {
        #fileBrowserSort {
            cursor: not-allowed;
            opacity: @opacity-disabled;
        }
        .titleSection .title {
            cursor: not-allowed !important;
        }
    }

    &.notChrome {
        #innerFileBrowserContainer {
            overflow: visible !important;
        }
    }

    .cardInstruction {
        text-transform: initial;
    }

    .cardTopMain {
        .size(@height: 58px);
        padding: 15px 20px;

        > div, > button {
            .size(@height: 30px);
            float: left;
        }

        .label {
            .size(@width: 65px);
            .font(@size: 12px, @line-height: 30px);
        }

        #fileBrowserUp {
            .size(@width: 30px);

            &.disabled {
                opacity: @opacity-disabled;
                pointer-events: none;
            }

            .icon {
                .size(100%, 100%);
                .image("../../images/datastore/upFolder.png", 50%, 50%);
            }
        }

        .dropDownList {
            .styleDropDownList(~"calc(100% - 450px)", 30px);
            text-transform: none;
            .flex-display;

            &.focused {
                .defaultPath, .text {
                    border-color: @color-border-softBlue;
                }
            }

            .defaultPath {
                .size(@height: 30px);
                .flex(1 1 46px);
                .font(@size: 12px, @line-height: 30px);
                border-top: 1px solid @color-border-white-five-darker;
                border-bottom: 1px solid @color-border-white-five-darker;
                text-align: right;
            }

            .text {
                .flex(1 1 auto);
                padding-left: 3px;
                cursor: text;
                outline: none;
                background-color: @color-white;
                .textOverflowOneLine;
                .font(@size: 12px, @line-height: 28px);
                border-top: 1px solid @color-border-white-five-darker;
                border-bottom: 1px solid @color-border-white-five-darker;
                border-left: none;
                border-right: none;
            }

            li {
                .font(@size: 12px);
            }

            .iconWrapper {
                .flex(0 0 30px);
            }
        }

        .searchSection {
            .size(@width: 250px);
            .position(relative);
            padding: 0 20px;

            .input-box(100%, 30px);

            input {
                padding-right: 20px;

                &:focus {
                    ~ .clear {
                        display: block;
                    }
                }
            }

            .clear {
                display: none;
                .size(@width: 20px, @height: 30px);
                .position(absolute, @top: 0, @right: 20px);

                .icon {
                    color: @color-font-greyish-brown;

                    &:before {
                        display: block;
                        .position(relative, @top: 3px, @left: 3px);
                    }
                }
            }
        }

        .iconSection {
            float: right;

            > button {
                float: right;
                margin-left: 5px;
            }

            #fileBrowserSortMenu {
                .size(@width: 120px);
                .position(absolute, @right: 25px);

                 li {
                    .position(relative);
                    padding: 0 6px 0 8px;
                    .label {
                        .position(relative, @top: 1px);
                    }
                    .icon {
                        display: none;
                        float: right;
                        .vertical-align;
                    }
                    &.select .icon {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .cardMain {
        .position(relative);
        .size(@height: ~"calc(100% - 360px)");
        padding-top: 0;

        .loadingSection {
            display: none;
            .size(@width: 100%, @height: 100%);
            .position(absolute);
            .waitingIcon {
                display: block;
                .center-align;
            }
        }

        .titleSection, .grid-unit {
            > div, > i {
                display: inline-block;
                .position(relative);
                .size(@width: ~"calc(33% - 15px)", @height: 30px);
                float: left;
                cursor: default;
                .font(@size: 12px, @line-height: 30px);
                .textOverflowOneLine;

                &.gridIcon {
                    .size(@width: 40px);
                    margin-left: 12px;
                }

                &:not(.gridIcon) {
                    padding-left: 5px;
                }

                // &.fileName {
                //     .size(@width: 40%);
                // }
            }
        }

        .titleSection {
            .size(@width: 100%, @height: 40px);
            background-color: @color-bg-white-seven;
            box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);

            .title {
                .size(@height: 40px);

                &.gridIcon {
                    visibility: hidden;
                }

                &.select {
                    color: @color-font-select-blue;

                    .icon {
                        color: @color-font-select-blue;
                    }
                }

                span, i {
                    display: inline-block;
                    float: left;
                }

                .label {
                    // .size(@width: ~"calc(100% - 20px)");
                    .textOverflowOneLine;
                    .font(@size: 14px, @line-height: 40px);
                    margin-right: 10px;
                }

                .icon {
                    .size(@width: 20px, @height: 40px);
                    color: @color-font-greyish-brown;

                    &:before {
                        .vertical-align;
                        display: block;
                    }
                }
            }
        }

        .mainSection {
            .size(@width: 100%, @height: 100%);
            .position(relative);
            overflow-y: auto;
            text-transform: none;

            .error {
                color: @color-text-error;
                margin: 10px;
            }

            &.manyFiles {
                .grid-unit {
                    display:none;
                    &.visible {
                        display: inline-block;
                    }
                }
            }

            .grid-unit {
                .gridIcon {
                    color: @color-border-pinkish-grey2;
                }

                &.active {
                    background-color: @color-bg-light-blue-grey;
                
                    .gridIcon {
                        color: @color-font-softBlue;
                    }
                }
            }
        }

        #innerFileBrowserContainer {
            overflow: hidden;
        }

        &.gridView {
            .titleSection, .fileDate, .fileSize {
                display: none;
            }

            .grid-unit {
                .gridViewForGrid;

                .gridIcon {
                    background: transparent !important;
                    .position(relative, @top: 5px);
                    .size(@width: 40px);
                    .font(@size: 30px); 
                }

                > .label {
                    color: @color-text-darkdarkGray;
                }
            }

            .mainSection {
                padding-left: 3px;
                padding-bottom: 4px;
            }
        }

        &.listView {
            .mainSection {
                .size(@height: ~"calc(100% - 40px)");
                overflow-y: scroll;

                &.manyFiles {
                    .grid-unit {
                        display:none;
                        &.visible {
                            display: block;
                        }
                    }
                }
            }

            .titleSection {
                padding-right: 10px;
            }

            .grid-unit {
                .size(@height: 30px);
                display: block;
                cursor: default;
                box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);

                .gridIcon {
                    .font(@size: 14px);
                }
            }
        }
    }

    .cardSubMain {
        padding: 20px 45px;

        .listInfo {
            margin-bottom: 20px;

            .expand {
                .icon {
                    .font(@color: @color-font-greyish-brown);
                }
            }
        }

        .option {
            opacity: @opacity-hover;
            padding: 0 0 0 30px;
            margin-top: 10px;
            box-shadow: none;

            > div, > input {
                display: inline-block;
                float: left;
            }


            .label {
                .size(@width: 135px);
            }

            &.pattern {
                .input-box(@w: ~"calc(100% - 335px)", @h: 30px);

                input {
                    max-width: 420px;
                }

                .checkboxSection {
                    margin-left: 20px;
                    > div {
                        .font(@weight: 600, @line-height: 30px);

                        margin-left: 7px;

                        .icon {
                            top: 55%;
                        }
                    }
                }
            }

            &.limit {
                .inputWrap {
                    .input-box(@w: 80px, @h: 30px);
                }

                .dropDownList {
                    margin-left: -1px;
                    .styleDropDownList(80px, 30px, @atTop: true);

                    ul {
                        margin: 0;
                    }

                    li {
                        .size(@height: 20px);
                        line-height: 20px;
                        text-align: center;
                        padding: 0;
                        box-shadow: none;
                        opacity: @opacity-hover;
                    }
                }
            }
        }
    }

    .cardBottom {
        .size(@height: 60px);
        padding: 0 0 20px 0;

        .btn {
            margin-right: 15px;
        }
    }
}
/* End Of File Browser */

/* Data Form Preview */
#dsForm-preview {
    .size(@min-width: 850px, @height: ~"calc(100% - 5px)");

    .cardMain {
        padding-top: 0;
        .size(@height: ~"calc(100% - 436px)");
        .text-selection;
    }

    .cardBottom {
        .size(@height: 400px);
        padding: 0;
    }
}

// Preview Table Section
#dsPreviewWrap {
    .hidden {
        display: none;
    }

    .titleSection {
        .size(@height: 70px);
        padding: 15px 25px;

        > div {
            .size(@height: 30px);
            .font(@line-height: 30px);
        }

        .title {
            .font(@size: 16px, @weight: 700, @color: @color-font-select-blue);
        }

        .info {
            .url {
                .size(@width: ~"calc(100% - 200px)");
                float: left;
            }
            
            .buttonGroup {
                .size(@width: 200px);
                float: right;

                button {
                    float: right;
                    margin-left: 5px;
                }
            }
        }
    }

    .waitSection {
        padding-top: 25px;
        .size(@width: 200px, @height: 110px);
        margin: 0 auto;

        .icon {
            .size(@width: 50px, @height: 50px);
            .image("../../images/waiting-1.gif");
            .horizontal-align;
        }

        .text {
            .font(@size: 12px);
            text-align: center;
        }
    }

    .errorSection {
        height: 35px;
        padding-top: 10px;
        padding-left: 25px;
        color: @color-table-red;
    }

    .previewSection {
        .size(@width: 100%, @height: ~"calc(100% - 75px)");
        overflow-y: hidden;
        overflow-x: auto;
    }
}

#dsPreviewTableWrap {
    margin-top: 10px;
    height: ~"calc(100% - 10px)";
    z-index: 0; // child element with z-index 10 causing problems
    .datasetTbodyWrap {
        width: ~"calc(100% + 17px)";
        overflow-x: hidden;
    }
    .datasetTbodyWrap:not(*:root) { // selecting Chrome browsers
        width: ~"calc(100% + 5px)";
    }

    .previewBottom {
        .font(@size: 12px, @weight: 700);
        margin: 5px 25px;
    }
}

#previewTable {
    width: 100%;
    white-space: pre-wrap;

    // for both th and td
    .td {
        display: inline-block;

        &.has-tab {
            width: 26px;
            tab-size: 4;
            -moz-tab-size: 4;
        }

        &.has-margin {
            margin-right: 1px;
        }

        &.highlight {
            background: @color-table-preview-highlight;
        }

        &::selection, &::-moz-selection {
            color: @color-table-preview-highlight;
        }
    }

    .truncMessage {
        .no-selection;
    }

    th {
        cursor: default;
        &:not(:first-child) {
            width: auto;

            .header {
                width: ~"calc(100% - 40px)";
                cursor: default;

                .text {
                    .size(@height: 100%);
                    .font(@weight: 600);
                    line-height: @height-tableCell;
                    padding: 0 3px;
                    .textOverflow;
                }
            }
        }

        .header {
            z-index: 10;
            // Chrome on retina has bug not showing the div
            // this CSS fix it altought I do not know whyT__T
            -webkit-transform:translateZ(0);
        }
    }

    td {
        text-align: left;

        &.cell {
            cursor: text;
        }

        &.lineMarker {
            text-align: center;
        }
    }

    &.has-delimiter {
        .size(@width: 0);
        white-space: nowrap;

        th:not(:first-child) {
            .size(@width: 130px);
            .header {
                width: inherit;
            }
        }

        td {
            text-align: center;
        }
    }
}

/* End of data form preview */
#importDataForm {
    .size(@height: 100%);
    border-top: 1px solid @color-border-pinkish-grey2;
    @row-width: 170px;

    .contentSection {
        .size(@height: ~"calc(100% - 50px)");
        padding: 10px 0;
        overflow-y: auto;
    }

    .buttonSection {
        border-top: 1px solid @color-border-pinkish-grey2;
        padding: 7px 15px;
        .size(@height: 50px);
    }

    .row {
        padding: 0 15px;
        .size(@width: 100%, @height: 30px);
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        > label, > div {
            display: inline-block;
            float: left;
            margin-right: 10px;
        }

        > label {
            .size(@width: @row-width, @height: 30px);
            .font(@size: 14px, @line-height: 30px);
            text-align: right;
        }

        .inputWrap {
            .input-box(@w: 310px, @h: 30px);

            #dsForm-dsName {
                .size(@width: 450px);
            }
        }

        button {
            float: right;
            .size(@width: 170px);
            padding-right: 5px;
        }
    }

    .dropDownList {
        .styleDropDownList(@w: 310px, @h: 30px)
    }

    .divider {
        margin-top: 10px;
        .size(@width: 100%, @height: 1px);
        background-color: @color-font-pinkish-grey2;
    }

    #udfArgs {
        .size(@height: auto, @max-height: 90px, @min-height: 30px);

        &.active {
            .listSection {
                display: inline-block;
            }
        }

        .checkboxSection {
            .size(@width: @row-width);

            > div {
                float: right;

                &.text {
                    margin-right: 8px;
                }
            }
        }

        .listSection {
            display: none;
            .size(@width: 320px, @height: 90px);
            .rounded;
            padding: 10px;
            background-color: @color-bg-white-seven;
            border: 2px solid @color-border-white-two;

            .dropDownList {
                .size(@width: 300px);
                clear: both;
                &:first-child {
                    margin-bottom: 10px;
                }
            }

            .hidden {
                display: none;
            }
        }
    }

    #lineDelim, #fieldDelim {
        input {
            cursor: text;

            &:focus {
                outline: none;
                border-color: @color-border-softBlue;
                background-color: @color-white;
            }
        }

        .nullVal {
            font-style: italic;
        }
    }

    #promoteHeaderCheckbox {
        margin-left: @row-width + 10px;
    }
}
/* End Of Import Data View Section */

#dsListSection {
    .pathSection {
        .size(@height: 20px);
        margin-bottom: 5px;
        padding: 0 15px;
        font-size: 12px;
        .textOverflowOneLine;
        cursor: default;

        span {
            color: @color-bg-softBlue;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    .gridViewWrapper {
        .size(@height: ~"calc(100% - 25px)");
        .position(relative);
        overflow-x: hidden;
        overflow-y: auto;

        .gridItems {
            .size(@width: 100%);

            &.drag {
                .dragWrap {
                  display: block;
                  z-index: 99;
                }
            }

            .dragWrap {
                display: none;
            }

            .waitingIcon {
                z-index: 20;
            }

            .xc-hidden .waitingIcon {
              display: none !important;
            }

            .grid-unit {
                opacity: 0.8;

                &:hover {
                    opacity: 1;
                }

                &.active {
                    background-color: @color-bg-light-navy;
                }

                > .label {
                    textarea {
                        background-color: transparent;
                        color: @color-white;
                        outline: none;
                        resize: none;
                    }
                }

                .dsCount {
                    .font(@weight: 700, @color: @color-font-dusk-blue);
                    .no-selection;
                    .textOverflowOneLine;
                    text-align: center;
                }

                .edit, .delete {
                    display: none;
                    .size(@width: 25px, @height: 100%);
                    float: right;
                    cursor: pointer;

                    &:before {
                        display: inline-block;
                        .vertical-align;
                    }
                }
            }

            &.gridView {
                overflow: visible;
                padding-bottom: 2px;

                .grid-unit {
                    > .label {
                        display: block;
                        background-color: transparent;
                        text-align: center;
                    }

                    .waitingIcon {
                        left: 8px;
                    }
                }

                .grid-unit.ds > .dragWrap {
                    .size(@width: ~"calc(50% + 7px)", @height: 100%);
                    position: absolute;
                    background: transparent;

                    &.leftTopDragWrap {
                        // background-color: blue;
                        left: -7px;
                        &.active {
                             box-shadow: inset 2px 0px 0px @color-shadow-topAction;
                        }
                    }

                    &.rightBottomDragWrap {
                        // background-color: green;
                        left: 50%;
                        &.active {
                            box-shadow: 2px 0px 0px @color-shadow-topAction;
                        }
                    }
                }

                .grid-unit.folder {
                    > .label {
                        &.focused {
                            overflow: visible;
                        }

                        textarea {
                            .size(@width: 130%, @height: 15px, @min-height: 15px, @max-height: 30px);
                            .position(absolute, @left: -7px);
                            box-shadow: inset 0px 0px 3px @color-white;
                            padding: 1px 1px;
                            .font(@size: 9px);
                            text-align: center;
                        }
                    }

                    > .dsCount {
                        .position(absolute, @top: 15px);
                        .size(@width: @width-grid, @height: 20px);
                        padding: 0 17px;
                        .font(@size: 13px);
                    }

                    > .dragWrap {
                        height: 100%;
                        position: absolute;
                        background: transparent;

                        &.leftTopDragWrap {
                            left: -7px;
                            width: ~"calc(16.5% + 7px)";

                            &.active {
                                box-shadow: inset 2px 0px 0px @color-shadow-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            left: 82.5%;
                            width: ~"calc(16.5% + 7px)";

                            &.active {
                                box-shadow: 2px 0px 0px @color-shadow-topAction;
                            }
                        }

                        &.midDragWrap {
                            width: 66%;
                            left: 16.5%;
                        }
                    }
                }
            }

            &.listView {
                > .waitingIcon {
                    left: 98px;
                    top: -1px;
                    background-size: 24px 25px;
                }

                .grid-unit {
                    &:hover {
                        .edit, .delete {
                            display: inline-block;
                        }
                    }
                }

                .grid-unit.ds > .dragWrap {
                    .position(absolute);
                    .size(@width: 100%, @height: 17.5px);
                    background: transparent;

                    &.leftTopDragWrap {
                        &.active {
                            box-shadow: inset 0px 2px 0px @color-shadow-topAction;
                        }
                    }

                    &.rightBottomDragWrap {
                        top: 17.5px;
                        &.active {
                            box-shadow: 0px 2px 0px @color-shadow-topAction;
                        }
                    }
                }

                .grid-unit.folder {
                    > .label {
                        textarea {
                            width: 100%;
                            height: @height-grid-list !important;
                            .font(@size: 11px, @line-height: @height-grid-list);
                            .textOverflowOneLine;
                            background: transparent;
                        }
                    }

                    > .dsCount {
                        .size(@width: 25px, @height: 35px);
                        .position(absolute, @top: 1px, @left: 4px);
                        .font(@size: 10px, @line-height: 35px);
                        padding: 0 5px;
                    }

                    > .dragWrap {
                        width: 100%;
                        position: absolute;
                        background: transparent;

                        &.leftTopDragWrap {
                            height: 10px;

                            &.active {
                                box-shadow: inset 0px 2px 0px @color-shadow-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            top: 25px;
                            height: 10px;

                            &.active {
                                box-shadow: 0px 2px 0px @color-shadow-topAction;
                            }
                        }

                        &.midDragWrap {
                            height: 15px;
                            top: 10px;
                        }
                    }
                }
            }
        }
    }
}

#dsExportListSection {
    .targetSection {
        margin-top: 10px;

        &:first-child {
            margin-top: 0;
        }

        .targetInfo {
            .size(@height: 30px);
            line-height: 30px;
            padding: 0 15px;
            .font(@weight: 700);

            > span {
                display: inline-block;
            }

            .expand {
                .size(@width: 10px, @height: 100%);
            }
        }
    }

    .xc-grid {
        .gridIcon .icon {
            .vertical-align;
        }
        

        &.gridView {
            .gridIcon .icon {
                font-size: 28px;
            }
        }

        &.listView {
            .grid-unit {
                padding: 0 10px;
            }

            .gridIcon .icon {
                font-size: 18px;
            }
        }
    }
}
#gridViewMenu {
    li {
        display: none;
    }
    &.dsOpts {
        .dsOpt {
            display: block;
        }
    }
    &.folderOpts {
        .folderOpt {
            display: block;
        }
    }
    &.bgOpts {
        .bgOpt {
            display: block;
        }
    }

    .disabled {
        opacity: @opacity-disabled;
        pointer-events: none;
    }

    &.uneditable {
        .moveUp, .rename, .delete {
            opacity: @opacity-disabled;
            pointer-events: none;
        }
    }
}

#datastore-out-view {
    .cardContainer {
        .size(@height: 100%);
    }

    .cardInstruction {
        .icon {
            .size(@width: 25px, @height: 25px);
        }
    }

    @minusHeight: @height-card-instr + @height-card-header;

    .cardMain {
        .size(@height: ~"calc(100% - @{minusHeight})");
    }

    .divider {
        .size(@width: 100%, @height: 1px);
        background-color: @color-border-pinkish-grey2;
    }

    .formSection {
        padding-bottom: 20px;

        .formTitle {
            .size(@height: 20px);
            .font(@weight: 700, @color: @color-font-select-blue);
            margin: 18px 0 18px 5%;
        }

        .formRow {
            .size(@width: 80%);
            margin: 0 10%;
            .flex-display;
            .size(@height: 30px);
            line-height: 30px;
            margin-bottom: 10px;

            label {
                .flex(0 0 150px);
                .font(@size: 14px, @weight: 600, @color: @color-font-greyish-brown);
            }

            input {
                .size(@height: 30px);
                .flex(1 1 auto);
                background-color: @color-bg-white-three;
                border: 1px solid @color-bg-white-five;
            }

            .inputSet {
                .flex(0 0 50%);
                .flex-display;
                padding-right: 30px;

                &:last-child {
                    padding-right: 0;

                    label {
                        .flex(0 0 50px);
                    }
                }
            }
        }

        .formButton {
            .size(@width: 80%, @height: 30px);
            margin: 30px 10%;
            line-height: 30px;

            .btn {
                float: right;
                &:last-child {
                    margin-right: 10px;
                }
            }
        }

        .dropDownList {
            .styleDropDownList(~"calc(100% - 150px)", 30px, true);
            .list li {
                font-size: 14px;
                &.unavailable {
                    opacity: 0.5;
                    // pointer-events: none;
                }
            }
            .text {
                font-size: 14px;
            }
        }

        .radioButtonGroup {
            margin-top: 30px;
            padding-left: 150px;

            .label {
                line-height: 20px;
            }

            .windowsAuth {
                .flex(0 0 auto);
                margin-right: 50px;
            }
        }
    }

    .importFormRow {
        .flex-display();
        height: 25px;
        line-height: 25px;
        margin-bottom: 25px;

        label {
            width: 100px;
            font-weight: bold;
        }
        input {
            width: ~"calc(100% - 100px)";
            min-width: ~"calc(100% - 100px)";
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
            float: left;
            height: 25px;
            line-height: 25px;
        }
        .dropDownList {
            .styleDropDownList(320px, 25px, true);
            .list li {
                font-size: 14px;
                &.unavailable {
                    opacity: 0.5;
                    // pointer-events: none;
                }
            }
            .text {
                font-size: 14px;
            }
        }
    }
    .dsFormBottom {
        // padding-left: 10px;
        padding-top: 20px;
        h2 {
            display: block;
            margin-left: ~"calc(4% - 7px)";
            margin-bottom: 20px;
            width: 90%;
        }
        input {
            background-color: @color-background-topForm;
        }
        
        .radioButtonGroup {
            .justify-content(space-between);
            margin-top: 45px;

            .label {
                line-height: 20px;
            }

            .windowsAuth {
                .flex(1 1 60%);
            }
        }

        button {
            margin-bottom: 40px;
        }
    }
}
