#watermark {
    .position(absolute, @bottom: 100px, @left: 15px);
    .size(@width: 579px, @height: 253px);
    .image("../../images/logo/xcalar-white-lg.png", 0, -70px);
    background-size: 100%;
    z-index: -1;
    opacity: 0.05;
}

#insight {
    .position(absolute, @bottom: 89px, @left: 238px);
    .size(243px, 79px);
    .image("../../images/logo/insight-lg.png");
    background-size: 100%;
    z-index: -1;
    opacity: 0.15;
}

/* DRAG AND DROP TABLES */
.tableDragging {
    position: absolute !important;
    opacity: 0.7;
    z-index: 10;
    .innerBox {
        display: none !important;
    }
    .idSpan {
        left: 0 !important;
    }
    .th.rowNumHead .header {
        left: 0 !important;
    }
}

#shadowTable {
    .position(relative, @top: 0, @left: 0);
    background-color: @color-shadow-darkGray;
    display: inline-block;
    opacity: 1;
    margin-right: 5px;
    overflow: hidden;
    white-space: normal;
    z-index: 0;
    vertical-align: top;
}

/* DRAG AND DROP COLUMNS styling */
#shadowDiv {
    .position(absolute);
    background-color: @color-table-midGray;
    z-index: 11;
    opacity: 1;
    margin-top: 5px;
}

#fauxCol{
    .position(absolute, @top: @height-homeBtn + 40px);
    background-color: @color-white;
    z-index: 12;
    opacity: 0.7;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 1px 0px 1px 1px @color-fauxCol-shadow;
    white-space: nowrap;
}

#fauxTable {
    background-color: @color-white;
    z-index: 12;
    margin-left: 0 !important;
    margin-top: 5px;
    th {
        outline: 1px solid @color-fauxTable-outline;
    }
    tr:first-child {
        position: absolute;
        background-color: @color-background-white !important;
    }
    .header {
        border-left: none !important;
        border-right: none !important;
    }
    &.selectedCol {
        .header .flexContainer{
            .action-gradient;

            .editableHead {
                color: @color-white !important;
                text-overflow: clip;
            }

            .flexWrap.flex-left {
                .colIcon-active-gradient();
            }
        }

        .type-boolean .flexWrap.flex-left {
            &:after {
                border-top: @height-colHeader solid @color-border-colIconBlue;
            }
        }
    }
    &.userHidden {
        .tdText, .dataColText, .dataCol .flex-mid {
            display: none;
        }
    }
    .dataCol {
        .flexWrap.flex-left {
           display: none;
        }
        input {
            padding-right: 3px !important;
            text-overflow: ellipsis;
        }
    }
}

#fauxTable {
    th, td {
        border-right: none !important;
        border-left: none;
    }

    td {
        padding: 2px !important;
        overflow: hidden;
    }

    tr {
        &:nth-child(odd) {
            td {
                &.indexedColumn {
                    background-color: @color-table-indexed-lightBlue !important;
                }
                &.jsonElement, &.dataCol {
                    background-color: @color-table-col-lightGreen !important;
                }
            }

        }
        &:nth-child(even) {
            td {
                &.indexedColumn {
                    background-color: @color-table-indexed-blue !important;
                }
                &.jsonElement, &.dataCol {
                    background-color: @color-table-col-green !important;
                }
            }
        }
    }
}

.dragArea {
    .position(absolute, @top: -5px, @left: 0);
    .size(@width: 100%, @height: 45px);
    .cursor-move;
    z-index: 2;
    .iconHelper {
        .position(absolute, @top: 8px, @left: 2px);
        .size(20px, @height-colHeader);
    }
}

#moveCursor { // element that takes up the entire screen and applies a cursor
    .position(absolute, @top: 0, @left: 0);
    z-index: 22;
    .cursor-grabbing();
    width: 100%;
    height: 100%;
}

#dropTargets {
    .position(absolute, @top: 0, @left: 0);
    .cursor-grabbing();
}

.dropTarget {
    .position(absolute, @top: 0);
    z-index: 23;
    background-color: rgba(0,0,50,0.2); // only used in testing
    font-size: 50px;
    opacity: 0;
}
/* END DRAG AND DROP STYLING */

/* RESIZE CURSOR */
#resizeCursor, #rowResizeCursor {
    .position(absolute, @top: 0, @left: 0);
    z-index: 22;
    width: 100%;
    height: 100%;
}
#resizeCursor {
    .cursor-resize();
}
#rowResizeCursor {
    .cursor-rowResize();
}
/* END RESIZE CURSOR */

/* ========== Work Sheet Bar ========== */
#workspaceBar {
    .position(relative);
    .flex-display;
    width: @width-topBar;

    .workspaceArea {
        .flex-shrink(0);

        &:first-child {
            border-right: none;
            min-width: 53px;
        }
    }
}

    #undoRedoArea {
        padding: 0px;
        height: 100%;
        margin-top: -2px;

        > div {
            height: 100%;
            width: 25px;
            float: left;
            cursor: pointer;
            margin-right: 1px;

            &.disabled {
                opacity: 0.3;
                cursor: not-allowed;
            }
        }
    }

    #undo {
         .image("../../images/new/workspace/undo.png", 50%, 50%);
    }
    #redo {
         .image("../../images/new/workspace/redo.png", 50%, 50%);
    }

    #functionArea {
        .flex(4 1 380px);
        .flex-display;
        max-width: ~"calc(100% - 400px)";
        position: relative;
        padding-left: 4px;
        height: 37px;
        padding-top: 7px;
        margin-top: 0px;
        border-right: none;

        label {
            pointer-events: none;
            position: absolute;
            z-index: 1;
            left: 16px;
            line-height: 32px;
        }

        &.searching {
            .closeBox, .counter, .arrows {
                display: inline-block;
            }
            #fnBar, .fnBarClone, .CodeMirror {
                padding-right: 100px;
            }
            .fnbarPre {
                span {
                    color: @color-text-fnBar-blue;
                }
            }
        }
        .counter {
            .position(absolute, @top: 9px, @right: 94px);
            .size (@height: 30px);
            .font(@color: @color-text-graySoft, @size: 14px);
            pointer-events: none;
        }

        .arrows {
            right: 40px;
            top: 7px;
            z-index: 3; // codeMirror has z-index of 2
        }

        .closeBox, .counter, .arrows {
            display: none;
        }

        .CodeMirror {
            .size(@width: ~"calc(100% - 28px)") !important;
            margin-left: 4px;
            height: 32px;
            padding: 0px 4px 0px 36px;
            font-weight: bold;
            line-height: 32px;
            font-size: 14px;
            font-family: @font-base;
            background-color: @color-input-background;
            color: @color-text-darkGray;

            &.active, &.inFocus {
                background-color: @color-white;
                // box-shadow: 0px 2px 2px 0 @color-defaultGray inset;
            }

            &.CodeMirror-focused {
                background-color: @color-white;
                color: @color-text-fnBar-blue;
                // box-shadow: 0px 2px 2px 0 @color-defaultGray inset;
            }

            &.disabled {
                opacity: 0.7;
                pointer-events: none;
                background-color: @color-input-background;
                .fnbarPre {
                    color: @color-text-darkGray;
                    span {
                        color: @color-text-darkGray;
                    }
                }
            }

            pre {
                padding-left: 0px;
            }
        }
        .CodeMirror-gutter-wrapper {
            display: none;
        }
        .CodeMirror-sizer {
            border-width: 0px !important;
            overflow: hidden;
        }
        .CodeMirror-scroll {
            overflow: hidden !important;
            margin-right: 0px;
            margin-bottom: 0px;
            padding-bottom:0px;
        }
        .CodeMirror-hscrollbar, .CodeMirror-vscrollbar {
            display: none !important;
        }
        .CodeMirror-gutters {
            display: none;
        }
        .CodeMirror-cursor {
            height: 19px !important;
            top: 5px !important;
        }
        .CodeMirror-lines {
            height: 32px;
            padding: 0px;
        }
        .CodeMirror-selected {
            height: 18px !important;
            top: 6px !important;
        }
        .CodeMirror-selected { background:  @color-table-preview-highlight;}
        .CodeMirror-focused .CodeMirror-selected { background:  @color-table-preview-highlight;}
        .CodeMirror ::selection { background:  @color-table-preview-highlight;}
        .CodeMirror ::-moz-selection { background:  @color-table-preview-highlight;}
        .CodeMirror-placeholder {
            pointer-events: none;
            color: @color-lightSilverChalice;
            display: none;
        }

        .fnbarPre {
            color: @color-text-fnBar-blue;
            &.CodeMirror-placeholder {
                color: @color-lightSilverChalice;
            }
        }

        &:not(.searching) {
            .CodeMirror:not(.disabled) {
                .cm-keyword {
                    color: @color-text-fnBar-blue;
                }
                .cm-xckeyword {
                    // color: orange;
                }
                .cm-xcspecial { // booleans and null
                    color: @color-json-num;
                }
                .cm-string {
                    color: @color-json-string;
                }
                .cm-backslash { // not actually a string
                    color: @color-text-blue;
                     &+ .cm-operator {
                       color: @color-text-blue;
                    }
                }
                .cm-number {
                    color: @color-json-num;
                }
                .cm-bracket {
                    color: @color-text-fnBar-blue;
                }
                .CodeMirror-nonmatchingbracket {
                    color: red;
                }
                .cm-variable-2, .cm-error {
                    color: @color-text-blue;
                    &+ .cm-operator, &+ .cm-atom, &+ .cm-unknown {
                       color: @color-text-blue;
                    }
                }
                .cm-atom {
                    color: @color-text-fnBar-blue;
                }
                .cm-comma {
                    color: @color-text-darkGray !important;
                }

            }

        }
    }

    #fnBar, .fnBarClone {
        .size(@width: ~"calc(100% - 28px)");
        margin-left: 4px;
        &.active, &.inFocus {
            background-color: @color-background-darkGray;
            box-shadow: 0px 2px 2px 0 @color-defaultGray inset;
        }

        &.disabled {
            opacity: 0.7;
            pointer-events: none;
        }
    }

    .fnBarClone {
        background-color: transparent;
        color: transparent;
        pointer-events: none;
        z-index:1;
        position: absolute;
        left: 25.5px; // 0.5 actually works in this case
        height: 25px;
        padding: 0 4px;
        font-weight: bold;
        line-height: 25px;
        font-size: 14px;
        width: ~"calc(100% - 50px)";
        .textOverflowOneLine;
        span {
            color: red;
        }
    }

    #searchBar {
        .size(@width: 180px);
    }

    #rowInputArea {
        border-left: 1px solid @color-tab-divider;
        margin-top: 11px;
    }

    #rowInput {
        .size(@width: 60px, @height: 32px);
        position:relative;
        top: -1px;
        margin-top: -3px;
        background-color: @color-input-background;
        &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &:focus {
            background-color: @color-white;
        }
    }

    #rowScrollerArea {
        .size(@width: 200px, @height: 35px);
        .flex(2 0 200px);
        cursor: default;
        margin: 4px 4px 0px;
        overflow: hidden;

        @height-innerScroller: 20px;

        .rowScroller {
            .position(relative);
            .size(@width: 100%, @height: @height-innerScroller);
            margin: 8px 0 25px 0;
            background-color: @color-bg-white-nine;
            border: 1px solid @color-border-pinkish-grey2;

            .bookmark {
                .position(absolute, @bottom: -2px);
                .size(@width: 2px, @height: @height-innerScroller);
                background-color: @color-bg-bright-light-blue;
                margin-left: -1px;
                z-index: 2;
            }

            .rowMarker {
                .position(absolute, @top: -11px, @left: 0px);
                .size(@width: 100%, @height: 35px);
                display: inline-block;
                .transition (transform 0.13s);
                &.scrolling {
                    .transition (transform 0s);
                }
                z-index: 1;
                pointer-events: none;
            }

            .tooltipHelper {
                width: 100%;
                height: 20px;
                top: -5px;
                left: 0px;
                position: absolute;
            }

            .rangeWrapper {
                .position(absolute, @top: 11px, @left: 0px);
                top: 5px;
                min-width: 3px !important;
                z-index: 1;
                pointer-events: initial;
                cursor: pointer;
                height: 20px;

                .arrow {
                    width: 15px;
                    height: 20px;
                }
                .triangle {
                    display: none;// xi2 change
                }

                .rangeBar {
                    height: @height-innerScroller;
                    width: 100%;
                    background-color: @color-white;
                    border-left: 2px solid white;
                    border-right: 2px solid white;
                    position: absolute;
                    top: 6px;
                }

                .bar {
                    width: 2px;
                    height: 11px;
                    position: absolute;
                    left: 7px;
                    z-index: 1;
                }

                .top {
                    position: absolute;
                    top: -3px;
                    left: -7px;
                    .triangle {
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;
                        border-top: 8px solid white;
                        position: absolute;
                        top:1px;
                        display: none;
                    }
                    .bar {
                        top: 9px;
                    }
                }
                .bottom {
                    position: absolute;
                    top: 6px;
                    right: -7px;
                    .triangle {
                        width: 0;
                        height: 0;
                        border-left: 8px solid transparent;
                        border-right: 8px solid transparent;

                        border-bottom: 8px solid white;
                        position: absolute;
                        top: 11px;
                        left: -1px;
                    }
                    .bar {
                        top: 0px;
                        left: 6px;
                    }
                }
            }

            &.hidden {
                display: none !important;
            }
        }
    }
/* ========== End Of Work Sheet Bar ========== */

/* ========== Main Frame ========== */
#mainFrame {
    .size(@width: ~"calc(100% - 5px)", @height: ~"calc(100% - 89px)");
    padding: 5px 5px 0px 5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    // XXX not using position relative for the sake of
    // the scrolling when drag/dropping a table or column
    // .transition-delay(0s);
    // .transition(height 0.3s);

    &.midway {
        .size(@height:  ~"calc(50% - 20px)");
        .transition(height 0s);
        .transition-delay(0.3s);
    }
}

/* ========== End Of Main Frame ========== */

/* === WORKSHEET TABS (TO BE REMOVED IN 2.0) ==== */

#bottomTabArea {
    .size(@height: 39px);
    background: @color-limedSpruce url("../../images/bg_page.png") repeat right top;
}

#addWorksheet {
    display: inline-block;
    margin: 8px 8px 0px 9px;
    cursor: pointer;
    float: left;

    span {
        .size(100%, 100%);
        .image("../../images/plus-sign.png", 55%, 45%);
        display: block;
    }
}

#worksheetTabs {
    .position(relative, @top: -1px);
    .size(@width: ~"calc(100% - 40px)", @height: 36px);
    .flex-display;
    float: left;

    .worksheetTab {
        .size(@width: 201px, @height: 35px);
        .position(relative, @top: ~"0px !important");
        float: left;
        .flex(0 0 201px);
        margin-right: 10px;

        &.transition {
            display: block;
            .flex(0 0 auto);
        }

        &.dragging {
            pointer-events: none;
            .label {
                cursor: default;
            }
        }
        .draggableArea {
            float: left;
            height: @height-colHeader;
            width: ~"calc(100% - 28px)";
            position: absolute;
            left: 27px;
            overflow: hidden;
        }

        .label {
            .size(@width: ~"calc(100% - 30px)", @height: 100%);
            .position(relative);
            .darkGray-gradient;
            display: inline-block;
            float: left;
            text-align: left;
            border: 1px solid @color-bar-border;
            border-top: none;
            .rounded(0 0 0 3px);
            .cursor-move;

            .wsIconWrap {
                .position(relative);
                .size(@width: 25px, @height: 18px);
                margin-left: 2px;
                padding-right: 2px;
                border-right: 1px solid @color-tab-divider;
                display: inline-block;
                float: left;
                cursor: pointer;
                .vertical-align;
            }

            .wsIcon {
                .size(@width: 18px, @height: 23px);
                margin-left: 2px;
                margin-top: -3px;
                .image("../../images/worksheet/wsMenu.png", 50%, 50%);
                float: left;
            }

            .tooltip { // tooltip for worksheet name
                top: -35px !important;
                left: 50% !important;
                .transform(translateX(-50%));
                white-space: nowrap;
            }

            .text {
                .size(@height: 21px);
                .font(@weight: 700, @size: 14px, @line-height: 20px);
                outline: none;
                margin: 2px 2px;
                padding: 0 3px;
                white-space: nowrap;
                line-height: 20px;
                border: 1px solid transparent;
                cursor: text;
                background-color: transparent;

                &:focus {
                    border: 1px solid @color-malibu;
                    box-shadow: inset 0 1px 2px 1px @color-shadow-medium;
                    text-overflow: clip;
                    width: ~"calc(100% - 6px)" !important;
                }
            }
        }

        &.focus {
            .label {
                cursor: initial;
            }
        }

        .dagTab {
            .size(@width: 30px, @height: 34px);
            float: left;
            display: inline-block;
            margin-top: 1px;
            cursor: pointer;
            .noSelection;
            border-bottom: 1px solid @color-bar-border;
            border-right: 1px solid @color-bar-border;
            .rounded(0 0 3px 0);
            .linear-gradient(top, @color-background-sidebar, @color-background-darkdarkGray);

            .icon {
                .size(100%, 100%);
                .image("../../images/dagIcons/comp-icon.png", 50%, 50%);
            }

            &:hover {
                .linear-gradient(top, @color-background-topGrayMed, @color-boulder);
            }

            &:active {
                 box-shadow: inset 0px 1px 1px 0px @color-shadow-stronger;
            }

            &.active {
                .action-gradient;
                &:hover {
                    .action-inverse-gradient;
                }
            }

            & + .tooltip {
                white-space: nowrap;
            }

            &.active + .tooltip {
                display: none !important;
            }
        }

        &.inActive {
            .size (@width: 172px, @height: 28px);
            .position(@top: ~"6px !important");
            .noSelection;
            .flex(0 1 auto);

            .label {
                background: rgba(0,0,0, .15);
                border: 1px solid @color-tab-border;
                color: @color-text-tab;
                .size(@width: ~"calc(100% - 2px)");
                .rounded;
                cursor: pointer;
                .transition(~"background 0.15s, border 0.15s");

                .wsIconWrap {
                    opacity: 0;
                    .transition(opacity 0.15s);
                }

                .text {
                    .size(@width: ~"calc(100% - 27px)") !important;
                    min-width: 30px;
                    text-align: center;
                    pointer-events: none;
                    margin: 2px 0;
                    color: @color-text-tab;
                    .transition(color 0.15s);
                }
            }

            .dagTab {
                display: none;
            }

            &:hover {
                .label {
                    // hover vs regular color scheme needs to be adjusted
                    background-color: rgba(255,255,255,.15);
                    border: 1px solid @color-table-borderGray;
                    .wsIconWrap {
                        opacity: 1 !important;
                    }
                    .text {
                        color: @color-white;
                    }
                }
            }
            .label.hover {
                background-color: rgba(255,255,255,.15);
                color: @color-white;
                border: 1px solid @color-table-borderGray;
                .wsIconWrap {
                    visibility: visible;
                }
                .text {
                    color: @color-white;
                }
            }
        }

        &:not(.inActive) {
            .label {
                .tooltip {
                    display: none !important;
                }
                .text {
                    line-height: 20px;
                    margin-top: 7px;
                }
            }
            .draggableArea {
                height: 100%;
            }
        }

        &.locked {
            .wsIconWrap {
                pointer-events: none !important;
                cursor: auto !important;
                opacity: 0.5;
            }
        }
    }
}

#hiddenWorksheetsTab {
    display: none;
    .size(@width: 60px, @height: 28px);
    .position(absolute, @bottom: 6px, @right: 4px);
    box-shadow: none;
    background-color: transparent;

    &:hover {
        .mainTab {
            // hover vs regular color scheme needs to be adjusted
            background-color: rgba(255,255,255,.15);
            color: @color-white;
            border: 1px solid @color-table-borderGray;
        }
    }

    .mainTab {
        .size(@width: 60px, @height: 28px);
        background: rgba(0,0,0, .15);
        border: 1px solid @color-tab-border;
        color: @color-text-tab;
        .rounded;
        text-align: center;
        .textOverflowOneLine;
    }

    .list {
        bottom: 28px;
        right: 0px;
        width: 180px;
        left: auto;
        display: block;
        font-size: 13px;
        border-radius: 3px 3px 0 3px;
        display: none;
    }
    li {
        height: 25px;
        line-height: 25px;
        padding: 0px 5px;
    }
    .divider {
        border-top: 1px solid @color-border-lightLightGray;
    }
    .icon {
        .image("../../images/worksheet/hidden-ws.png", 2px, 6px);
        .size(@width:20px, @height:100%);
        float: left;
    }
    .unhideAll {
        position: relative;
        .icon:last-child {
            position: absolute;
            left: 7px;
            top: 2px;
        }
    }
}

#bottomTabArea.hasHiddenWS {
    #worksheetTabs {
        width: ~"calc(100% - 110px)";
    }
    #hiddenWorksheetsTab {
        display: inline-block;
    }
}

#worksheetTabMenu {
    width: 130px;
    border-radius: 3px;
    overflow: visible;
    ul {
        overflow: hidden;
        .rounded;
    }
    li {
        height: 25px;
        line-height: 25px;
        padding: 0 6px;
    }
    &:after {
        top: 100%;
        left: 8px;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        border-top-color: @color-white;
        border-width: 5px;
    }
}



/* === END WORKSHEET TABS ==== */
/* Row and Column Resizing*/
.colGrab {
    .position(absolute, @top: -5px, @right: -14px);
    .size(@width: 22px);
    display: inline-block;
    cursor: col-resize;
    z-index: 2;
    background-color: @color-black-invisible; //ie hack
    border-left: 6px solid @color-black-invisible !important;
    height: @height-colHeaderOuter + 2px !important;
    .noSelection;
}

.rowGrab {
    .position(absolute, @top: -3px, @left: -2px);
    .size(@width: 1000px, @height: 8px);
    z-index: 3;
    cursor: row-resize;
    visibility: hidden;
    .transition(0s visibility 0.25s);
    &.last {
        top: auto;
        visibility: visible;
    }
}

tr:hover .rowGrab, tr:hover + tr .rowGrab {
    visibility: visible;
}

tbody tr:first-child .rowGrab {
    display: none;
}

td.col0:hover {
    .rowGrab {
        .transition(0s visibility 0.25s);
    }
}

.highlightBox, .jsonModalHighlightBox {
    position: absolute;
    z-index: 1;
    .rounded(2px);
    box-shadow: inset 0px 0px 0px 2px @color-shadow-topAction;
}

.jsonModalHighlightBox {
    top: 0px !important;
    left: 0px !important;
}
