<div id="debugViewContainer">
  <div class="topSection">
    <div class="tabSection">
      <div class="tab active" data-tab="output">Notebook Output</div>
      <div class="tab" data-tab="sqlHistory">SQL History</div>
      <div class="tab" data-tab="console">Console</div>
      <div class="tab" data-tab="systemLog">System Log</div>
      <div class="tab" data-tab="udfLog">Scalar Function Log</div>
    </div>
    <i class="closeResult xc-icon-action icon xi-close"
    data-toggle="tooltip"
    data-container="body"
    data-original-title="<%= dicts.common.Close %>"
    ></i>
  </div>
  <div class="contentSection">
    <div class="section output"></div>
    <div class="section sqlHistory xc-hidden">
      include "sqlQueryHistory.html"
    </div>
    <div class="section console xc-hidden">
      include "shellPanel.html"
    </div>
    <div class="section systemLog xc-hidden">
      include "systemLogArea.html"
    </div>
    <div class="section udfLog xc-hidden"></div>
  </div>
</div>