<!--Bottom Menu Section -->
<div id="bottomMenu" class="small">
  <!-- Top Buttons -->
  <div class="sideBarTopButtons">
    <i class="icon xi-close fa-15 close"></i>
    <i class="icon xi_popout fa-18 popOut" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomMenu.popOutBtn %>"></i>
    <div id="sqlButtonWrap" class="xc-hidden">
      <i class="icon xi-human-dot fa-18 humanLog" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomMenu.toggleSqlBtn %>"></i>
      <i class="icon xi-copy-clipboard fa-18 copyLog" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomMenu.copySqlBtn %>"></i>
    </div>
  </div>
  <!-- End Of Top Buttons -->
  <div class="bottomMenuContainer">
    <!-- SQL Section -->
    <section id="sqlSection" class="menuSection">
      <header class="heading draggable">
        <h2>SQL</h2>
      </header>
      <div class="menuContent">
        <div class="container">
          <div id="sql-TextArea" class="sqlTextArea"></div>
          <div id="sql-MachineTextArea" class="sqlTextArea"></div>
        </div>
      </div>
    </section>

    <!-- UDF Section -->
    <section id="udfSection" class="menuSection no-selection">
      <!-- Heading -->
      <header class="heading draggable">
        <h2><%= dicts.UDF.wholeTitle %></h2>
      </header>
      <!-- Content -->
      <div class="menuContent">
        <!-- Section to switch between editor and manager section -->
        <section class="tabSection">
          <!-- option for editor section -->
          <div class="tab active" data-tab="udf-fnSection"><%= dicts.UDF.Editor %></div>
          <!-- option manager section -->
          <div class="tab" data-tab="udf-manager"><%= dicts.UDF.Manager %></div>
        </section>

        <!-- Main Content -->
        <section class="mainSectionContainer">
          <!-- Section to write function -->
          <section id="udf-fnSection" class="mainSection">
            <!-- topSection -->
            <div class="topSection">
              <button id="udf-upload-browse" class="btn action iconBtn" type="button">
                <i class="icon xi-browse fa-15"></i>
                <%= dicts.UDF.Browse %>
              </button>
              <input id="udf-upload-fileBrowser"  spellcheck="false" type="file" style="display: none;">
              <div class="template">
                <div class="title"><%= dicts.UDF.Template %>:</div>
                <div id="udf-fnList" class="dropDownList">
                  <input class="text" spellcheck="false" placeholder="<%= dicts.UDF.selectTemplate %>" disabled>
                  <div class="iconWrapper">
                    <i class="icon"></i>
                  </div>
                  <div id="udf-fnMenu" class="list">
                    <ul>
                      <li name="blank"><%= dicts.UDF.blankFunc %></li>
                    </ul>
                    <div class="scrollArea top">
                      <div class="arrow"></div>
                    </div>
                    <div class="scrollArea bottom">
                      <div class="arrow"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- editSection -->
            <div class="editSection">
              <div class="editArea">
                <textarea id="udf-codeArea"></textarea>
              </div>
            </div>
            <!-- bottom section -->
            <div class="bottomSection">
              <input id="udf-fnName" class="action" type="text" spellcheck="false" placeholder="<%= dicts.UDF.nameHint %>">
              <button id="udf-fnUpload" class="btn btnMid upload iconBtn action" type="button">
                <i class="icon xi-add-udf fa-15"></i>
                <span class="text"><%= dicts.UDF.upload %></span>
              </button>
            </div>
          </section>
          <!-- Section to manager udfs -->
          <section id="udf-manager" class="mainSection hidden">
            <div class="titleSection">
              <header><%= dicts.UDF.MyUDF %> (<span class="numUDF">0</span>)</header>
            </div>
            <div class="udfListSection"></div>
          </section>
          <!-- End of manager Section -->
        </section>
        <!-- End of Main Section -->
      </div>
    </section>

    <!-- Help Section -->
    <section id="helpSection" class="menuSection no-selection">
      <header class="heading draggable">
        <h2><%= dicts.bottomMenu.Help %></h2>
      </header>
      <div class="menuContent">
        <!-- Help Search -->
        <form id="helpSearchArea" class="clearfix" action="index.html">
          <!-- <input id="helpSearch" name="q" type="text" -->
          <input id="helpSearch" type="text"
            spellcheck="false" placeholder="Type in your question..."
            autocomplete="off">
            <div id="helpSubmit" class="icon">
            </div>
        </form>
        <div class="border"></div>
        <!-- Help Result -->
        <div id="helpResults" class="helpBox">
          <div class="categoryArea">
            <div class="mainHeading">Help Topics</div>
          </div>
          <div class="resultsArea">
            <span class="noResults"><%= dicts.bottomMenu.useSearch %><br/><a href="assets/help/Content/Home.htm" target="xchelp" class="visitHelpGuide"><%= dicts.bottomMenu.visitHelp %></a></span>
            <div id="tipue_search_content"></div>
          </div>
        </div>
        <!-- Help On Off Button -->
        <div class="helpOnOffWrap">
          <div id="helpOnOff" class="onOffBtn on off">
            <div class="slider"></div>
            <div class="text offText"><%= dicts.common.OFF %></div>
            <div class="text onText"><%= dicts.common.ON %></div>
          </div>
          <div class="text"><%= dicts.bottomMenu.InPageHelp %></div>
        </div>
        <!-- Intro Tutorials -->
        <div id="helpTopics" class="helpBox">
          <div>
            <ul>
              <span><%= dicts.bottomMenu.Walkthrough %>:</span>
              <li id="workbookWT" class="walkthrough">
                <span><%= dicts.bottomMenu.wkbkTutor %></span>
              </li>
              <li id="datastoreWT1" class="walkthrough">
                <span><%= dicts.bottomMenu.dsTutor1 %></span>
              </li>
              <li id="datastoreWT2" class="walkthrough">
                <span><%= dicts.bottomMenu.dsTutor2 %></span>
              </li>
            </ul>
          </div>
        </div>
        <!-- Generate Sub Button -->
        <div class="henpGenSubPart">
          <div class="wrap">
            <div class="icon"></div>
            <div class="text"><%= dicts.monitor.GenSub %></div>
            <button id="helpGenSub" class="btn btnMid"><%= dicts.common.GEN %></button>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div id="sideBarModal"></div>
</div>
<!-- End Of BottomMenu -->
