<!--Bottom Menu Section -->
<div id="bottomMenu" class="small">
  <!-- Top Buttons -->
  <div class="sideBarTopButtons">
    <i class="icon xi-close close fa-18"></i>
    <i class="icon xi_popout fa-18 popOut" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.bottomMenu.popOutBtn %>"></i>
    <div id="logButtonWrap" class="xc-hidden">
      <i class="icon xi-human-dot fa-18 humanLog" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomMenu.toggleLog %>"></i>
      <i class="icon xi-download fa-18 downloadLog" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.bottomMenu.downloadLogBtn %>"></i>
    </div>
    <div id="helpButtonWrap" class="xc-hidden">
      <i id="helpCategories" class="icon xi-menu-table-list fa-18" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomMenu.helpCategories %>"></i>
    </div>
  </div>
  <!-- End Of Top Buttons -->
  <div class="bottomMenuContainer">
    <!-- extension sectoin -->
    <section id="extension-ops" class="menuSection">
      <header class="heading draggable">
        <h2><%= dicts.extension.MyExt %> (<span class="numExt">0</span>)</h2>
      </header>
      <div class="menuContent">
        <ul class="extLists"></ul>
        <div class="extArgs">
          <div class="titleSection">
            <div class="title textOverflowOneLine"></div>
            <i id="extension-ops-close" class="icon xi-close xc-action"></i>
          </div>
          <div class="instructionSection"></div>
          <div class="tableSection">
            <div class="label"><%= dicts.common.Table %>:</div>
            <div id="extension-ops-mainTable" class="dropDownList tableList">
              <input class="text" type="text" disabled>
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul></ul>
                include "../../util/menuScrollArea.html"
              </div>
            </div>
            <div class="focusTable xc-action">
              <i class="icon xi-show fa-16"></i>
            </div>
          </div>
          <!-- args -->
          <div class="argSection"></div>
          <div class="bottomSection">
            <button id="extension-ops-submit" class="btn confirm"><%= dicts.common.APPLY %></button>
          </div>
        </div>
      </div>
      <div id="extension-ops-script"></div>
    </section>
    <!-- Log Section -->
    <section id="logSection" class="menuSection firstTouch">
      <header class="heading draggable">
        <h2><%= dicts.menuBar.Logs %></h2>
      </header>
      <div class="menuContent">
        <div class="container">
          <div id="log-TextArea" class="logTextArea"></div>
          <div id="log-MachineTextArea" class="logTextArea"></div>
        </div>
      </div>
      <div id="logMenu" class="menu">
        <ul>
          <li class="download" data-action="download"><%= dicts.bottomMenu.downloadLogBtn %></li>
          <li class="collapseAll" data-action="collapseAll"><%= dicts.bottomMenu.collapseAll %></li>
          <li class="expandAll" data-action="expandAll"><%= dicts.bottomMenu.expandAll %></li>
        </ul>
        include "../../util/menuScrollArea.html"
      </div>
    </section>
    <!-- SQL Section -->
    <section id="sqlSection" class="menuSection no-selection">
      <header class="heading draggable">
        <h2>SQL</h2>
      </header>
      <div class="menuContent">
        <div class="topSection">
          <div id="sqlEditorsList" class="dropDownList">
            <input class="text" spellcheck="false" placeholder="<%= dicts.SQL.SelectTemplate %>" data-toggle="tooltip" data-container="body" data-placement="top">
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <div id="sqlEditorMenu" class="list">
              <ul>
                <li name="addNew"><i class="icon xi-plus"></i><%= dicts.SQL.AddNew %></li>
              </ul>
              include "../../util/menuScrollArea.html"
            </div>
          </div>
        </div>
        <div class="editSection">
          <div class="editArea">
            <textarea id="sqlEditor"></textarea>
          </div>
        </div>
        <div class="bottomSection">
          <button id="sqlExecute" class="btn-large btn iconBtn action" type="button">
            <i class="icon xi-arrow-right fa-15"></i>
            <span class="text"><%= dicts.SQL.EXECUTE %></span>
          </button>
        </div>
        <div class="schemaSection">
          <div id="sql-minimize" class="pulloutTab">
            <i class="icon xi-arrow-up xc-hidden"></i>
            <i class="icon xi-arrow-down"></i>
            <!-- <div class="border"></div> -->
            <!-- <div class="border"></div> -->
          </div>
          <div class="header">
            <span class="title"><%= dicts.SQL.Schema %></span>
            <span class="content"><%= dicts.SQL.SchemaInst %></span>
          </div>
          <div class="tableTitle">
          </div>
          <div class="tables">
            <div id="sqlTableSearch">
              <input type="text" placeholder="Tables" spellcheck="false" tabindex="-1">
              <i class="icon xi-search fa-14"></i>
            </div>
            <div class="scrollWrapper">
              <ul id="sqlTableList">
              </ul>
              <div class="scrollArea scrollUp xc-hidden">
                <i class="arrow icon xi-arrow-up"></i>
              </div>
              <div class="scrollArea scrollDown xc-hidden">
                <i class="arrow icon xi-arrow-down"></i>
              </div>
            </div>
          </div>
          <div class="columns">
            <div id="sqlColumnSearch" class="xc-disabled">
              <input type="text" placeholder="Columns" spellcheck="false" tabindex="-1">
              <i class="icon xi-search fa-14"></i>
            </div>
            <div class="content"><%= dicts.SQL.ColumnInst %></div>
            <div class="scrollWrapper">
              <ul id="sqlColumnList">
              </ul>
              <div class="scrollArea scrollUp xc-hidden">
                <i class="arrow icon xi-arrow-up"></i>
              </div>
              <div class="scrollArea scrollDown xc-hidden">
                <i class="arrow icon xi-arrow-down"></i>
              </div>
            </div>
          </div>
          <!-- <div class="ui-resizable-handle ui-resizable-n"></div> -->
        </div>
      </div>
    </section>
    <!-- end of SQL Section -->


    <!-- UDF Section -->
    <section id="udfSection" class="menuSection no-selection">
      <!-- Heading -->
      <header class="heading draggable">
        <h2><%= dicts.UDF.Header %></h2>
      </header>
      <!-- Content -->
      <div class="menuContent">
        <!-- Section to switch between editor and manager section -->
        <section class="tabSection">
          <!-- option for editor section -->
          <div class="tab active" data-tab="udf-fnSection"><%= dicts.UDF.Editor %></div>
          <!-- option manager section -->
          <div class="tab" data-tab="udf-manager"><%= dicts.UDF.Manager %></div>
        </section>

        <!-- Main Content -->
        <section class="mainSectionContainer">
          <!-- Section to write function -->
          <section id="udf-fnSection" class="mainSection">
            <!-- topSection -->
            <div class="topSection">
              <button id="udf-upload-browse" class="btn action iconBtn" type="button">
                <i class="icon xi-browse fa-15"></i>
                <%= dicts.UDF.Browse %>
              </button>
              <input id="udf-upload-fileBrowser"  spellcheck="false" type="file" style="display: none;">
              <div class="template">
                <div class="title"><%= dicts.UDF.Template %>:</div>
                <div id="udf-fnList" class="dropDownList">
                  <input class="text" spellcheck="false" placeholder="<%= dicts.UDF.SelectTemplate %>" data-toggle="tooltip" data-container="body" data-placement="top">
                  <div class="iconWrapper">
                    <i class="icon xi-arrow-down"></i>
                  </div>
                  <div id="udf-fnMenu" class="list">
                    <ul>
                      <li name="blank"><%= dicts.UDF.BlankFunc %></li>
                    </ul>
                    include "../../util/menuScrollArea.html"
                  </div>
                </div>
              </div>
            </div>
            <!-- editSection -->
            <div class="editSection">
              <div class="editArea">
                <textarea id="udf-codeArea"></textarea>
              </div>
            </div>
            <!-- bottom section -->
            <div class="bottomSection">
              <input id="udf-fnName" class="action" type="text" spellcheck="false" placeholder="<%= dicts.UDF.NameHint %>">
              <button id="udf-fnUpload" class="btn upload iconBtn action" type="button">
                <i class="icon xi-add-udf fa-15"></i>
                <span class="text"><%= dicts.UDF.ADD %></span>
              </button>
            </div>
          </section>
          <!-- Section to manager udfs -->
          <section id="udf-manager" class="mainSection xc-hidden">
            <div class="titleSection">
              <header><%= dicts.UDF.Udfs %> (<span class="numUDF">0</span>)</header>
              <i title="<%= dicts.common.Refresh %>" data-toggle="tooltip" data-container="body" class="refresh icon xi-refresh fa-17 xc-action"></i>
            </div>
            <div class="udfListSection"></div>
          </section>
          <!-- End of manager Section -->
        </section>
        <!-- End of Main Section -->
      </div>
    </section>
    <!-- end of UDF Section -->

    <!-- Help Section -->
    <section id="helpSection" class="menuSection no-selection">
      <header class="heading draggable">
        <h2><%= dicts.bottomMenu.HelpSupport %></h2>
      </header>
      <div class="menuContent">
        <!-- Help Search -->
        <form id="helpSearchArea" class="clearfix" action="index.html">
          <input id="helpSearch" type="text"
            spellcheck="false" placeholder="Type in your question..."
            autocomplete="off">
            <div id="helpSubmit">
              <i class="icon xi-search"></i>
            </div>
        </form>
        <div class="helpBg"></div>
        <!-- Help Result -->
        <div id="helpResults" class="helpBox">
          <div class="categoryArea">
            <div class="mainHeading"><%= dicts.bottomMenu.HelpTopics %></div>
          </div>
          <div class="resultsArea">
            <div class="mainHeading">
              <span><%= dicts.bottomMenu.SearchRes %></span>
              <button id="discourseButton" class="btn"><%= dicts.bottomMenu.SearchDiscourse %></button>
            </div>
            <span class="noResults"><%= dicts.bottomMenu.useSearch %><br/><a href="<%= dicts.paths.helpUserDocs %>" target="xchelp" class="visitHelpGuide"><%= dicts.bottomMenu.visitHelp %></a></span>
            <iframe id="mcfResults"></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- End Of BottomMenu -->
