<!--Bottom Menu Section -->
<div id="bottomMenu" class="small">
  <!-- Top Buttons -->
  <div class="sideBarTopButtons">
    <i class="icon xi-close close fa-18"></i>
    <i class="icon xi_popout fa-18 popOut" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.bottomMenu.popOutBtn %>"></i>
    <div id="udfButtonWrap" class="xc-hidden">
      <i class="icon xi-folder fa-18 toManager" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.UDF.ToManager %>"></i>
      <i class="icon xi-save fa-18 saveFile" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.UDF.SaveFile %>"></i>
    </div>
    <div id="helpButtonWrap" class="xc-hidden">
      <i id="helpCategories" class="icon xi-menu-table-list fa-18" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomMenu.helpCategories %>"></i>
    </div>
  </div>
  <!-- End Of Top Buttons -->
  <div class="bottomMenuContainer">
    <!-- extension sectoin -->
    <!-- <section id="extension-ops" class="menuSection">
      <header class="heading draggable">
        <h2><%= dicts.extension.MyExt %> (<span class="numExt">0</span>)</h2>
      </header>
      <div class="menuContent">
        <ul class="extLists"></ul>
        <div class="extArgs">
          <div class="titleSection">
            <div class="title textOverflowOneLine"></div>
            <i id="extension-ops-close" class="icon xi-close xc-action"></i>
          </div>
          <div class="instructionSection"></div>
          <div class="tableSection">
            <div class="label"><%= dicts.common.Table %>:</div>
            <div id="extension-ops-mainTable" class="dropDownList tableList">
              <input class="text" type="text" disabled>
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul></ul>
                include "../../util/menuScrollArea.html"
              </div>
            </div>
            <div class="focusTable xc-action">
              <i class="icon xi-show fa-16"></i>
            </div>
          </div> -->
          <!-- args -->
          <!-- <div class="argSection"></div>
          <div class="bottomSection">
            <button id="extension-ops-submit" class="btn confirm"><%= dicts.common.APPLY %></button>
          </div>
        </div>
      </div> -->
    <!-- </section> -->
    <!-- UDF Section -->
    <section id="udfSection" class="menuSection no-selection">
      <!-- Heading -->
      <header class="heading draggable">
        <h2><%= dicts.UDF.Header %></h2>
      </header>
      <!-- Content -->
      <div class="menuContent">
        <!-- Main Content -->
        <section class="mainSectionContainer">
          <!-- Section to write function -->
          <section id="udf-fnSection" class="mainSection xc-disabled">
            <!-- topSection -->
            <div class="topSection">
              <div class="template">
                <div id="udf-fnList" class="dropDownList">
                  <input id= "test_udf_fn" class="text udf-fnName" spellcheck="false" placeholder="<%= dicts.UDF.SelectTemplate %>" data-toggle="tooltip" data-container="body" data-placement="top">
                  <div class="iconWrapper">
                    <i class="icon xi-arrow-down"></i>
                  </div>
                  <div id="udf-fnMenu" class="list">
                    <ul>
                      <li name="blank"><%= dicts.UDF.BlankFunc %></li>
                    </ul>
                    include "../../util/menuScrollArea.html"
                  </div>
                </div>
              </div>
            </div>
            <!-- editSection -->
            <div class="editSection">
              <div class="editArea">
                <textarea id="udf-codeArea"></textarea>
              </div>
            </div>
          </section>
        </section>
        <!-- End of Main Section -->
      </div>
    </section>
    <!-- end of UDF Section -->

    <!-- Help Section -->
    <section id="helpSection" class="menuSection no-selection">
      <header class="heading draggable">
        <h2><%= dicts.bottomMenu.HelpSupport %></h2>
      </header>
      <div class="menuContent">
        <!-- Help Search -->
        <form id="helpSearchArea" class="clearfix" action="index.html">
          <input id="helpSearch" type="text"
            spellcheck="false" placeholder="Type in your question..."
            autocomplete="off">
            <div id="helpSubmit">
              <i class="icon xi-search"></i>
            </div>
        </form>
        <div class="helpBg"></div>
        <!-- Help Result -->
        <div id="helpResults" class="helpBox">
          <div class="categoryArea">
            <div class="mainHeading"><%= dicts.bottomMenu.HelpTopics %></div>
          </div>
          <div class="resultsArea">
            <div class="mainHeading">
              <span><%= dicts.bottomMenu.SearchRes %></span>
              <button id="discourseButton" class="btn"><%= dicts.bottomMenu.SearchDiscourse %></button>
            </div>
            <span class="noResults"><%= dicts.bottomMenu.useSearch %><br/><a href="<%= dicts.paths.helpUserDocs %>" target="xchelp" class="visitHelpGuide"><%= dicts.bottomMenu.visitHelp %></a></span>
            <iframe id="mcfResults"></iframe>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<!-- End Of BottomMenu -->
