<div id="mainMenu" class="closed">
	<div class="mainContent">
		<!-- content common to all inner sections -->
		<div id="workspaceMenu" class="commonSection" data-tab="workspaceTab">
			<section class="menuSection worksheets">
				include "../worksheet/worksheetTabs.html"
			</section>
			<section class="menuSection tables xc-hidden">
				include "../worksheet/tableList.html"
			</section>
		</div>
		<div id="datastoreMenu" class="commonSection" data-tab="dataStoresTab">
			<div class="minimizeBtn">-</div>
			Datastore
		</div>
	</div>
	<div class="minimizedContent">
		><br>
		><br>
		><br>
	</div>
</div>