<% if (dicts.isTutor) { %>
<div id="mainMenu" class="open">
<% } else { %>
<div id="mainMenu" class="closed">
<% } %>
  <div class="mainContent">
  <!-- content common to all inner sections -->
    <% if (dicts.tutor.name == "workbookTut") { %>
    <div id="workspaceMenu" class="commonSection active" data-tab="workspaceTab">
    <% } else { %>
    <div id="workspaceMenu" class="commonSection" data-tab="workspaceTab">
    <% } %>
      <% if (dicts.tutor.name == "workbookTut") { %>
      <section class="menuSection worksheets">
      <% } else { %>
      <section class="menuSection worksheets xc-hidden">
      <% } %>
        include "../worksheet/worksheetTabs.html"
      </section>
      <% if (dicts.tutor.name == "workbookTut") { %>
      <section class="menuSection tables xc-hidden">
      <% } else { %>
      <section class="menuSection tables">
      <% } %>
        include "../worksheet/tableList.html"
      </section>
      include "../dataflow/dagList.html"
      include "../worksheet/operationsView.html"
      include "../worksheet/joinView.html"
      include "../worksheet/joinOpPanel.html"
      include "../worksheet/unionView.html"
      include "../worksheet/exportView.html"
      include "../worksheet/smartCastView.html"
      include "../worksheet/dfCreateView.html"
      include "../worksheet/sortView.html"
      include "../worksheet/projectView.html"
      include "../worksheet/projectOpPanel.html"
      include "../worksheet/setOpPanel.html"
      include "../worksheet/datasetOpPanel.html"
      include "../worksheet/filterOpPanel.html"
      include "../worksheet/mapOpPanel.html"
      include "../worksheet/aggOpPanel.html"
      include "../worksheet/groupByOpPanel.html"
      include "../worksheet/castOpPanel.html"
      include "../worksheet/dfLinkInOpPanel.html"
      include "../worksheet/dfLinkOutOpPanel.html"
      include "../worksheet/publishIMDOpPanel.html"
      include "../worksheet//extensionOpPanel.html"
    </div>
    <% if (dicts.tutor.name == "datastoreTut1" || dicts.tutor.name == "datastoreTut2" || dicts.tutor.name == "datasetPanelTutA1" || dicts.tutor.name == "importDatasourceTutA2" || dicts.tutor.name == "browseDatasourceTutA3" || dicts.tutor.name == "browseDatasource2TutA4") { %>
    <div id="datastoreMenu" class="commonSection active" data-tab="dataStoresTab">
    <% } else { %>
    <div id="datastoreMenu" class="commonSection" data-tab="dataStoresTab">
    <% } %>
      <section class="menuSection in">
        include "../datastore/dsMenu.html"
      </section>
      <section class="menuSection target xc-hidden">
        include "../datastore/dsTargetMenu.html"
      </section>
      <section class="menuSection out xc-hidden">
        include "../datastore/dsExportMenu.html"
      </section>
    </div>
    <div id="monitorMenu" class="commonSection" data-tab="monitorTab">
      <section class="menuSection query simple">
        include "../monitor/queryMenu.html"
      </section>
      <section class="menuSection monitor simple xc-hidden">
        include "../monitor/monitorMenu.html"
      </section>
      <section class="menuSection queryHist simple xc-hidden">
        include "../sql/sqlQueryHistoryMenu.html"
      </section>
      <section class="menuSection settings simple xc-hidden">
        include "../monitor/monitorSettingsMenu.html"
      </section>
      <section class="menuSection extension xc-hidden">
        include "../extension/extensionMenu.html"
      </section>
      <section class="menuSection fileManager simple xc-hidden">
        include "../fileManager/fileManagerMenu.html"
      </section>
      <section class="menuSection setup simple xc-hidden">
        include "../monitor/monitorSetupMenu.html"
      </section>
    </div>
    <div id="dfMenu" class="commonSection" data-tab="dataflowTab">
      include "../dataflow/dfList.html"
    </div>
  </div>
  <div class="minimizedContent"></div>
</div>
