<% var userNameAttr = (dicts.tutor.name == "workbookDemo") ? 'data-introstep="9"' : '' %>

<!-- Top Menu Bar -->
<div id="menuBar" class="clearfix no-selection">
  <!-- workbook btn-->
  <% if (dicts.tutor.name == "workbookDemo") { %>
  <div id="workbookBtn" class="btn btn-small" data-introstep="1">
    <span class="icon"></span>
  </div>
  <% } else { %>
  <div id="workbookBtn" class="btn btn-small" data-toggle="tooltip" data-placement="right" data-container="body" title="Workbook">
    <span class="icon"></span>
  </div>
  <% } %>
  <!-- maiu menu-->
  <div id="topMenuBarTabs" class="clearfix">
    <!-- workspance tab -->
    <% if (!dicts.isTutor) { %>
    <div id="workspaceTab" class="topMenuBarTab active">
      <div class="mainTab">
        <i class="icon xi-menu-worksheet fa-25"></i>
      </div>
    </div>
    <% } else if (dicts.tutor.name == "workbookDemo") { %>
    <div id="workspaceTab" class="topMenuBarTab active" data-introstep="2">
      <div class="mainTab">
        <i class="icon xi-menu-worksheet fa-25"></i>
      </div>
    </div>
    <% } else { %>
    <div id="workspaceTab" class="topMenuBarTab">
      <div class="mainTab">
        <i class="icon xi-menu-worksheet fa-25"></i>
      </div>
    </div>
    <% } %>

    <!-- data store tab -->
    <% if (!dicts.isTutor) { %>
    <div id="dataStoresTab" class="topMenuBarTab firstTouch mainMenuOpen">
      <div class="mainTab">
        <i class="icon xi-menu-datastore fa-25"></i>
      </div>
      <div id="inButton" class="subTab active">
        <i class="icon xi-data-in"></i>
      </div>
      <div id="outButton" class="subTab">
        <i class="icon xi-data-out"></i>
      </div>
    </div>
    <% } else if (dicts.tutor.name == "workbookDemo") { %>
    <div id="dataStoresTab" class="topMenuBarTab mainMenuOpen" data-introstep="4">
      <div class="mainTab">
        <i class="icon xi-menu-datastore fa-25"></i>
      </div>
      <div id="inButton" class="subTab active">
        <i class="icon xi-data-in"></i>
      </div>
      <div id="outButton" class="subTab">
        <i class="icon xi-data-out"></i>
      </div>
    </div>
    <% } else { %>
    <div id="dataStoresTab" class="topMenuBarTab active mainMenuOpen">
      <div class="mainTab">
        <i class="icon xi-menu-datastore fa-25"></i>
      </div>
      <div id="inButton" class="subTab active">
        <i class="icon xi-data-in"></i>
      </div>
      <div id="outButton" class="subTab">
        <i class="icon xi-data-out"></i>
      </div>
    </div>
    <% } %>

    <!-- monitor tab -->
    <% if (dicts.tutor.name == "workbookDemo") { %>
    <div id="monitorTab" class="topMenuBarTab mainMenuOpen" data-introstep="3">
      <div class="mainTab">
        <i class="icon xi-menu-monitoring fa-20"></i>
      </div>
      <div id="systemButton" class="subTab active">
        <i class="icon"></i>
      </div>
      <div id="queriesButton" class="subTab">
        <i class="icon"></i>
      </div>
      <div id="setupButton" class="subTab">
        <i class="icon"></i>
      </div>
      <div id="settingsButton" class="subTab">
        <i class="icon"></i>
      </div>
    </div>
    <% } else { %>
    <div id="monitorTab" class="topMenuBarTab mainMenuOpen">
      <div class="mainTab">
        <i class="icon xi-menu-monitoring fa-20"></i>
      </div>
       <div id="systemButton" class="subTab active">
        <i class="icon">sys</i>
      </div>
      <div id="queriesButton" class="subTab">
        <i class="icon">qry</i>
      </div>
      <div id="setupButton" class="subTab">
        <i class="icon">setup</i>
      </div>
      <div id="settingsButton" class="subTab">
        <i class="icon">setng</i>
      </div>
    </div>
    <% } %>

    <!-- scheduler tab -->
    <div id="schedulerTab" class="topMenuBarTab mainMenuOpen">
      <div class="mainTab">
        <i class="icon xi-menu-scheduler fa-20"></i>
      </div>
      <div id="dataflowButton" class="subTab active">
        <i class="icon xi-dataflowgroup"></i>
      </div>
      <div id="schedulesButton" class="subTab">
        <i class="icon xi-schedules"></i>
      </div>
    </div>
    <!-- extension tab -->
    <div id="extensionTab" class="topMenuBarTab mainMenuOpen">
      <div class="mainTab">
        <i class="icon xi-menu-extension fa-20"></i>
      </div>
      <div class="subTab"></div>
    </div>
  </div>
  <!-- end main menu -->

  <!-- start bottom menu -->
  <div id="bottomMenuBarTabs" class="bottomButtonsArea no-selection clearfix">
    <!-- sql -->
    <div id="sqlTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="SQL">
      <div class="mainTab">
        <i class="icon xi-menu-sql fa-25"></i>
      </div>
    </div>
    
    <!-- udf -->
    <div id="udfTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="UDF">
      <div class="mainTab">
        <i class="icon xi-menu-udf fa-25"></i>
      </div>
    </div>
  
    <!-- help section -->
    <% if (dicts.tutor.name == "workbookDemo") { %>

    <div id="helpTab" class="sliderBtn bottomMenuBarTab">
      <div class="mainTab">
        <i class="icon xi-menu-info fa-25"></i>
      </div>
    </div>

    <% } else { %>

    <div id="helpTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.bottomBar.help %>">
      <div class="mainTab">
        <i class="icon xi-menu-info fa-25"></i>
      </div>
    </div>
      
    <% } %>
  </div>
</div>
<!-- End of Menu Bar -->
include "mainMenu.html"
include "bottomMenu.html"
