<!-- Home / workbook button -->
<% if (dicts.tutor.name == "workbookDemo") { %>
<div id="homeBtn" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.wb %>" data-introstep="w1-workbookBut">
  <div class="logo xc-logo">
    <div class="innerShadow"></div>
    <i class="icon xi_logo"></i>
  </div>
</div>
<% } else { %>
<div id="homeBtn" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.wb %>">
  <div class="logo xc-logo">
    <div class="innerShadow"></div>
    <i class="icon xi_logo"></i>
  </div>
</div>
<% } %>
<!-- End Home / workbook button -->

<!-- Top Menu Bar -->
<div id="menuBar" class="clearfix no-selection">
  <!-- maiu menu-->
  <div id="topMenuBarTabs" class="clearfix" <%= (dicts.tutor.name == 'workbookDemo') ? 'data-introstep="w1-topMenu"' : '' %> >
    <!-- workspance tab -->
    <% if (!dicts.isTutor) { %>
    <div id="workspaceTab" class="topMenuBarTab active">
      <div class="mainTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.ws %>">
        <i class="icon xi-menu-worksheet fa-25"></i>
      </div>
    </div>
    <% } else if (dicts.tutor.name == "workbookDemo") { %>
    <div id="workspaceTab" class="topMenuBarTab active mainMenuOpen" data-introstep="w1-workspaceBut">
      <div class="mainTab">
        <i class="icon xi-menu-worksheet fa-25"></i>
      </div>
    </div>
    <% } else { %>
    <div id="workspaceTab" class="topMenuBarTab mainMenuOpen">
      <div class="mainTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.ws %>">
        <i class="icon xi-menu-worksheet fa-25"></i>
      </div>
    </div>
    <% } %>

    <!-- data store tab -->
    <% if (!dicts.isTutor) { %>
    <div id="dataStoresTab" class="topMenuBarTab firstTouch mainMenuOpen">
      <div class="mainTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.ds %>">
        <i class="icon xi-menu-datastore fa-25"></i>
      </div>
      <div class="subTabs">
        <div id="inButton" class="subTab active" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.ds.In %>">
          <i class="icon xi-data-in"></i>
        </div>
        <div id="outButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.ds.Out %>">
          <i class="icon xi-data-out"></i>
        </div>
      </div>
      
    </div>
    <% } else if (dicts.tutor.name == "workbookDemo") { %>
    <div id="dataStoresTab" class="topMenuBarTab mainMenuOpen" data-introstep="w1-datastoresBut">
      <div class="mainTab">
        <i class="icon xi-menu-datastore fa-25"></i>
      </div>
      <div class="subTabs">
        <div id="inButton" class="subTab active">
          <i class="icon xi-data-in"></i>
        </div>
        <div id="outButton" class="subTab">
          <i class="icon xi-data-out"></i>
        </div>
      </div>
    </div>
    <% } else { %>
    <div id="dataStoresTab" class="topMenuBarTab active mainMenuOpen">
      <div class="mainTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.ds %>">
        <i class="icon xi-menu-datastore fa-25"></i>
      </div>
      <div class="subTabs">
        <div id="inButton" class="subTab active">
          <i class="icon xi-data-in"></i>
        </div>
        <div id="outButton" class="subTab">
          <i class="icon xi-data-out"></i>
        </div>
      </div>
    </div>
    <% } %>

    <!-- monitor tab -->
    <% if (dicts.tutor.name == "workbookDemo") { %>
    <div id="monitorTab" class="topMenuBarTab mainMenuOpen" data-introstep="w1-monitorBut">
      <div class="mainTab">
        <i class="icon xi-menu-monitoring fa-20"></i>
      </div>
      <div class="subTabs">
        <div id="systemButton" class="subTab active" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Syst %>">
          <i class="icon xi-system"></i>
        </div>
        <div id="queriesButton" class="subTab">
          <i class="icon xi-quary"></i>
        </div>
        <div id="setupButton" class="subTab adminOnly">
          <i class="icon xi-setup"></i>
        </div>
        <div id="settingsButton" class="subTab">
          <i class="icon xi-setting"></i>
        </div>
      </div>
    </div>
    <% } else { %>
    <div id="monitorTab" class="topMenuBarTab mainMenuOpen">
      <div class="mainTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.monitor %>">
        <i class="icon xi-menu-monitoring fa-20"></i>
      </div>
      <div class="subTabs">
        <div id="queriesButton" class="subTab active" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Queries %>">
          <i class="icon xi-quary"></i>
        </div>
         <div id="systemButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Syst %>">
          <i class="icon xi-system"></i>
        </div>
        <div id="setupButton" class="subTab adminOnly" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Setup %>">
          <i class="icon xi-setup"></i>
        </div>
        <div id="settingsButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Settings %>">
          <i class="icon xi-setting"></i>
        </div>
        <div id="extensionSettingButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.exts %>">
          <i class="icon xi-menu-extension"></i>
        </div>
      </div>
    </div>
    <% } %>
    <div id="dataflowTab" class="topMenuBarTab mainMenuOpen" <%= (dicts.tutor.name == 'workbookDemo') ? 'data-introstep="w1-df"' : '' %> >
      <div class="mainTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.dataflow.dfgs %>">
        <i class="icon xi-dataflow fa-20"></i>
      </div>
    </div>
  </div>
  <!-- end main menu -->

  <!-- start bottom menu -->
  <% if (dicts.tutor.name == "workbookDemo") { %>
  <div id="bottomMenuBarTabs" class="bottomButtonsArea no-selection clearfix" data-introstep="w1-bottomMenu">
    <!-- extension tab -->
    <div id="extensionTab" class="sliderBtn bottomMenuBarTab" data-introstep="w1-extensions">
      <div class="mainTab">
        <i class="icon xi-menu-extension fa-25"></i>
      </div>
    </div>

    <!-- sql -->
    <div id="sqlTab" class="sliderBtn bottomMenuBarTab" data-introstep="w1-log">
      <div class="mainTab">
        <i class="icon xi-menu-sql fa-25"></i>
      </div>
    </div>

    <!-- udf -->
    <div id="udfTab" class="sliderBtn bottomMenuBarTab" data-introstep="w1-udf">
      <div class="mainTab">
        <i class="icon xi-menu-udf fa-25"></i>
      </div>
    </div>

    <!-- help section -->
    <div id="helpTab" class="sliderBtn bottomMenuBarTab" data-introstep="w1-help">
      <div class="mainTab">
        <i class="icon xi-menu-info fa-25"></i>
      </div>
    </div>
  </div>
  <% } else { %>
  <div id="bottomMenuBarTabs" class="bottomButtonsArea no-selection clearfix">
    <!-- extension tab -->
    <div id="extensionTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.exts %>">
      <div class="mainTab">
        <i class="icon xi-menu-extension fa-25"></i>
      </div>
    </div>

    <!-- sql -->
    <div id="sqlTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="SQL">
      <div class="mainTab">
        <i class="icon xi-menu-sql fa-25"></i>
      </div>
    </div>

    <!-- udf -->
    <div id="udfTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="UDF">
      <div class="mainTab">
        <i class="icon xi-menu-udf fa-25"></i>
      </div>
    </div>

    <!-- help section -->
    <div id="helpTab" class="sliderBtn bottomMenuBarTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.Help %>">
      <div class="mainTab">
        <i class="icon xi-menu-info fa-25"></i>
      </div>
    </div>
  </div>
  <% } %>
</div>
<!-- End of Menu Bar -->
include "mainMenu.html"
include "bottomMenu.html"
