<!-- Home / workbook button -->
<div id="homeBtn" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.wb %>">
  <div class="logo xc-new-logo">
    <i class="icon xi-x-logo"></i>
  </div>
</div>
<!-- End Home / workbook button -->
<!-- mainMenu.html contains the left panels -->
<!-- Top Menu Bar -->
<div id="menuBar" class="clearfix no-selection">
  <!-- maiu menu-->
  <div id="topMenuBarTabs" class="clearfix xc-hidden">
    <!-- datasets tab -->
    <!--  TODO: Currently Datasets/etc don't work if no workbook is activated. This will come later. -->
    <div id="dataStoresTab" class="topMenuBarTab firstTouch">
        <div class="tabGroup">
            <div class="mainTab" data-toggle="tooltip" data-delay="1" data-placement="right" data-container="body" title="Source & Load Data">
                <i class="icon xi-source"></i>
                <span class="label">Source & Load Data</span>
                </div>
                <div class="subTabs">
                <div id="inButton" class="subTab active" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.ds.Datasets %>">
                    <i class="icon xi-import-dataset-double"></i>
                    <span class="label">Datasets</span>
                </div>
                <div id="sourceTblButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.Table.Tables %>">
                    <i class="icon xi-table-2"></i>
                    <span class="label">Tables</span>
                </div>
                <!-- imd tab -->
                <div id="imdTab" class="subTab noLeftPanel firstTouch xc-hidden" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.ws.IMDPanel %>">
                    <i class="icon xi-changingclock"></i>
                </div>
                <div id="targetButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.ds.Targets %>">
                    <i class="icon xi-data-connector"></i>
                    <span class="label">Connectors</span>
                </div>
            </div>
        </div>
    </div>

    <!-- SQL tab -->
    <div id="sqlTab" class="topMenuBarTab wkbkMenuBarTabs noLeftPanel toggleable showing">
      <div class="tabGroup">
        <div id="sqlWorkSpace" class="mainTab noLeftPanel" data-toggle="tooltip" data-delay="1" data-placement="right" data-container="body" title="Workspace">
                <i class="icon xi-workspace"></i>
                <span class="label">Query</span>
        </div>
      </div>
  </div>

    <!-- dataflow tab -->
    <div id="modelingDataflowTab" class="topMenuBarTab firstTouch wkbkMenuBarTabs xc-hidden">
        <div class="tabGroup">
            <div id="dagButton" class="mainTab" data-delay="1" data-toggle="tooltip" data-placement="right" data-container="body" title="Transformation & Business Logic">
                <i class="icon xi-dfg2"></i>
                <span class="label">B & T Logic</span>
            </div>
        </div>
    </div>

    <!-- jupyter Tab -->
    <div id="jupyterTab" class="xc-hidden topMenuBarTab noLeftPanel wkbkMenuBarTabs">
        <div class="tabGroup">
            <div class="mainTab" data-toggle="tooltip" data-delay="1" data-placement="right" data-container="body" title="Jupyter Notebook">
                <i class="icon xi-menu-cli"></i>
                <span class="label">Jupyter</span>
            </div>
        </div>
    </div>

    <!-- system tab -->
    <div id="monitorTab" class="topMenuBarTab firstTouch">
        <div class="tabGroup">
            <div class="mainTab" data-toggle="tooltip" data-delay="1" data-placement="right" data-container="body" title="<%= dicts.menuBar.monitor %>">
                <i class="icon xi-menu-monitoring"></i>
                <span class="label">System</span>
            </div>
            <div class="subTabs">
                <div id="queriesButton" class="subTab active" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Queries %>">
                    <i class="icon xi-operations"></i>
                </div>
                <div id="systemButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Monitor %>">
                    <i class="icon xi-system2"></i>
                </div>
                <div id="fileManagerButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.fileManager %>">
                    <i class="icon xi-udf-manager"></i>
                </div>
                <div id="logButton" class="subTab" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.Logs %>">
                    <i class="icon xi-menu-log"></i>
                </div>
                <div id="setupButton" class="subTab adminOnly" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.monitor.Setup %>">
                    <i class="icon xi-setup"></i>
                </div>
            </div>
        </div>
    </div>
    <div id="helpTab" class="topMenuBarTab xc-hidden">
        <div class="tabGroup">
            <div class="mainTab">
            </div>
        </div>
    </div>

  </div>
  <!-- end main menu -->

  <!-- start bottom menu -->
  <div id="bottomMenuBarTabs" class="bottomButtonsArea no-selection clearfix xc-hidden">
    <!-- udf -->
    <div id="udfTab" class="sliderBtn bottomMenuBarTab xd-only wkbkMenuBarTabs" data-toggle="tooltip" data-delay="1" data-placement="right" data-container="body" title="Scalar Function">
        <div class="tabGroup">
            <div class="mainTab">
            <i class="icon xi-menu-udf"></i>
            <span class="label">UDF</span>
        </div>
      </div>
    </div>

    <div id="debugTab" class="sliderBtn bottomMenuBarTab xd-only wkbkMenuBarTabs" data-toggle="tooltip" data-delay="1" data-placement="right" data-container="body" title="Logs">
        <div class="tabGroup">
            <div class="mainTab">
            <i class="icon xi-info-rectangle-outline2"></i>
            <span class="label">Debug</span>
        </div>
      </div>
    </div>

    <!-- help section -->
    <div id="helpMenuTab" class="sliderBtn bottomMenuBarTab xc-hidden" data-toggle="tooltip" data-placement="right" data-container="body" title="<%= dicts.menuBar.Help %>">
       <div class="tabGroup">
            <div class="mainTab">
                <i class="icon xi-help-outline"></i>
            </div>
       </div>
    </div>
  </div>
</div>
<!-- End of Menu Bar -->
include "bottomMenu.html"
