 /* ========== Constants ========== */

 /* Standard */
@color-white: #FFFFFF;
@color-black: #000000;

/* Shadow */
@color-shadow-darkGray: #A6ABAF;
@color-shadow-black: rgba(0, 0, 0, 0.15);
@color-shadow-topAction: #5CB2E8;
@color-shadow-bottomAction: #378CB3;
@color-shadow-topGrayMed: #CCCCCC;
@color-search-shadow: rgba(0,0,0,0.5);
@color-black-invisible: rgba(0, 0, 0, 0);
@color-textBox-shadow: rgba(0,0,0,0.4);
@color-textBox-whitish: rgba(255,255,255,0.85);
@color-shadow-strong: rgba(0, 0, 0, 0.4);
@color-shadow-medium: rgba(0, 0, 0, 0.2);
@color-shadow-stronger: rgba(0,0,0,0.5);

/* Bar */
@color-bar-darkGray-bot: #8C8C8C;
@color-bar-darkGray-top: #A3A3A3;
@color-bar-border: #242C31;
@color-error-border: #FDBDBD;
@color-bar-shadow: rgba(0,0,0, .4);
@color-bar-shadowDark: rgba(0,0,0, .5);
@color-rowScroller-shadow-light: #D5D5D5;
@color-rowScroller-shadow-dark: #1A1C1D;

/* Border */
@color-border-topAction: #5CB2E8;
@color-border-bottomAction: #378CB3;
@color-border-lightGray: #9C9C9C;
@color-border-darkGray: #E6E6E6;
@color-border-lightLightGray: #DDDDDD;
@color-border-topGrayMed: #CCCCCC;
@color-border-midGrayMed: #BEBEBE;
@color-border-bottomGrayMed: #AEAEAE;
@color-border-sidebar: #999999;
@color-border-colIconBlue: #3578A1;
@color-border-joinGray: #A8A8A8;
@color-border-inputMidGray: #EEEEEE;
@color-border-dagTopGray: #EAEAEA;


/* Tabs */
@color-tab-border: #4A5D6A;
@color-tab-borderBlue: #27717C;
@color-tab-divider: #838383;
@color-tab-shadow: rgba(0,0,0, .15);
@color-tab-hover: rgba(255,255,255,.15);

/* Backgrounds */
@color-background-white: #FFFFFF;
@color-background-topAction: #5CB2E8;
@color-background-bottomAction: #378CB3;
@color-background-darkGray: #E6E6E6;
@color-background-lightLightGray: #DDDDDD;
@color-background-topGrayMed: #CCCCCC;
@color-background-midGrayMed: #BEBEBE;
@color-background-bottomGrayMed: #AEAEAE;
@color-background-darkdarkGray: #666666;
@color-background-columnList: #CDCDCD;
@color-background-topForm: #F0F0F0;
@color-background-sidebar: #999999;
@color-background-bookmark: #009EFF;
@color-background-colIcon-lightGray: #BABABA;
@color-background-colIcon-gray: #A0A0A0;
@color-background-colIcon-lightBlue: #4C9ED4;
@color-background-colIcon-blue: #2F7DA6;
@color-background-joinGray: #A8A8A8;
@color-background-joinDropDownGray: #E0E0E0;
@color-background-listSectionGray: #EBEBEB;

/* Login */
@color-login-field-top: #D9D9D9;
@color-login-field-bot: #A0A0A0;

/* Modal */
@color-modal-whiteGray: #F0F0F0;
@color-modal-dividerGray: #CECECE;
@color-modal-innerCircleBlue: #4499C5;
@color-modal-innerCircleGray: #EEEEEE;
@color-modal-close-light: #ACD7F1;
@color-modal-close-dark: #9FCADF;

/* Join Modal */
@color-join-divider: #D7D7D7;
@color-join-drop-shadow: #B4B4B4;

/* Monitor */
@color-monitor-whiteGray: #FAFAFA;
@color-monitor-row: #EFEFEF;
@color-monitor-rowBorder: #A7A7A7;
@color-monitor-progressBar: #36434C;

/* Dag */
@color-dag-textBlue: #4499C5;
@color-dag-TopGray: #EAEAEA;
@color-dag-bottomGray: #9C9C9C;
@color-dag-header-border: #A5A5A5;
@color-dag-highlighted:  #0AC9F8;
@color-dag-schemaBackground: #F4F4F4;
@color-dag-schema-hover: rgba(99, 178, 225, 0.15);
@color-dag-schema-selected: rgba(99, 178, 225, 0.25);
@color-param-table-row: #F4F4F4;

/* Inputs */
@color-input-active: #E6E6E6;
@color-input-background: #909090;
@color-input-error: #FFEEEE;
@color-input-error-border: #FFD6D6;

/* Dropdown menu colors */
@color-selectedCell-dark: #D1DEE6;
@color-selectedCell-light: #DDEAF2;
@color-selectedCell-green: #D3E2E4;
@color-selectedCell-lightGreen: #D5F1E4;
@color-dropBox: #216E93;
@color-dropBox-secondary: #A1B8C7;
@color-menu-shadow: rgba(0,0,0,0.1);

/* Text */
@color-text-black: #0F0F0F;
@color-text-white: #FFFFFF;
@color-text-transparentWhite: rgba(255,255,255,0.95);
@color-text-topAction: #5CB2E8;
@color-text-blue: #398EB6;
@color-text-tab: #70828C;
@color-text-darkGray: #4D4D4D;
@color-text-dropMenu: #838384;
@color-text-columnList: #646464;
@color-text-lightGray: #B6B6B6;
@color-text-midGray: #6E6E6E;
@color-text-midlightGray: #787878;
@color-text-instructions: #AAAAAA;
@color-text-cyan: #CDF1F6;
@color-text-signout-lightGray: #7F7F7F;
@color-text-signout-blue: #5BB1E7;
@color-text-signout-darkGray: #444444;
@color-text-error: #E45B52;
@color-text-fnBar-blue: #242C31;
@color-text-placeholder: #E1E1E1;
@color-text-graySoft: #AFAFAF;
@color-text-lightLightGray: #DDDDDD;
@color-text-topGrayMed: #CCCCCC;
@color-text-bottomGrayMed: #AEAEAE;
@color-text-darkdarkGray: #666666;
// @color-text-green: #16A915;
@color-text-green: #3CD83C;
@color-text-softGray: #838383;

/* Table Color Scheme */
@color-table-red: #F46D73;
@color-table-lightGray: #F5F5F5;
@color-table-midGray: #EDEDED;
@color-table-darkGray: #E6E6E6;
@color-table-col-darkGray: #DBDBDB;
@color-table-col-darkestGray: #CFCFCF;
@color-table-col-lightGray: #FBFBFB;
@color-table-col-lightGreen: #EAF5EA;
@color-table-col-green: #E3EDE2;
@color-table-indexed-lightBlue: #E9EFF4;
@color-table-indexed-blue: #E1E7EC;
@color-table-normal-lightGray: #CCCCCC;
@color-table-normal-darkGray: #AEAEAE;
@color-table-inactive-lightGray: #D6D6D6;
@color-table-inactive-darkGray: #C3C3C3;
@color-table-selected-lightBlue: #5BB1E7;
@color-table-selected-darkBlue: #388CB4;
@color-table-error-lightRed: #F2A9A9;
@color-table-error-darkRed: #D97171;
@color-table-go-lightGreen: #9ED39D;
@color-table-go-darkGreen: #7AAA7A;
@color-table-option-lightBrown: #D9CEAE;
@color-table-option-darkBrown: #C3B89B;
@color-table-borderGray: #838384;
@color-table-borderBlue: #266481;
@colorOpaque-pink: rgba(237, 28, 36, 0.1);
@colorOpaque-blankGrayDark: rgba(0, 0, 0, 0.2);
@colorOpaque-dataCol: rgba(135, 200, 171, 0.1);
@colorOpaque-blue: rgba(150,180,205, 0.2);
@color-table-cover: rgba(0,0,0,0.3);
@color-table-promote: #5BB2E9;
@color-table-preview-highlight: rgba(91, 178, 233, 0.5);
@color-fauxCol-shadow: rgba(100,100,100,.05);
@color-fauxTable-outline: rgba(0,0,0,.1);
@color-table-after-gray: #B8B8B8;
@color-table-border-darkened: #BBBBBB;
@color-table-border-gray: #9E9E9E;

/* EXPORT */
@color-export-divider: #ADADAD;
@color-export-title: #585858;


/* SQL Color Scheme */
@color-sql-blue: #378CB3;
@color-sql-darkGray: #657B83;
@color-sql-darkGreen: #2AA198;
@color-sql-lightGreen: #5F8700;
@color-sql-brown: #B58900;
@color-sql-orange: #D75F00;
@color-sql-lightGray: #9C9C9C;
@color-sql-black: #000000;
@color-sql-hover: #F4F4F4;

/* JSON Modal */
@color-json-default: #FFA633;
@color-json-active-bar: #C5E1F1;
@color-json-options-bar: #DEDEDE;
@color-json-button: #BCBCBC;
@color-json-key: #002D41;
@color-json-string: #2B594F;
@color-json-num: #E74A5F;
@color-json-array: #9B8920;
@color-json-partial: #F3DBDC;
@color-json-partial-shadow: #E56158;

/* JOIN Modal */
@color-join-onoff-border: #A4A4A4;
@color-join-onoff-gradient: #E2E2E2;
@color-join-placeholder-border: #A4A4A4;

/* Workbookmodal */
@color-workbook-grid-default: #8B8B8B;
@color-workbook-grid-even: #F4F4F4;
@color-workbook-title-border: #B2B2B2;
@color-workbook-title-font: #5E5E5E;
@color-workbook-listSection: #FDFDFD;
@color-workbook-list-grid: #808080;

/* Dataflow Modal */
@color-modal-title-border: #B2B2B2;
@color-dataflow-list-hover: #E2EEF6;
@color-dataflow-list-selected: #C5E1F1;
@color-dataflow-icon-top: #60B3E6;
@color-dataflow-icon-bottom: #3C8DB2;
@color-dataflow-list-active: #4CA1D0;

/* Filebrowser Modal */
@color-filebrowser-title: #5E5E5E;
@color-filebrowser-mainSection: #F9F9F9;

/* Profile Modal */
@color-profile-bar-extra-highlight: #F1F1F1;
@color-profile-bar-highlight: #B7E2F3;
@color-profile-bar-border-highlight: #25B0DE;
@color-profile-tick-highlight: #32B4DF;
@color-profile-bar-hover: #3A9AC2;
@color-profile-bar-selected-border: #2D7694;;
@color-profile-bar-null-hover: #CA443B;
@color-profile-selected-bar-extra:  #A4BBC3;
@color-profile-bar: #44B5E4;
@color-profile-selected-bar: #339ECA;
@color-profile-bar-null: #E04C42;
@color-profile-selected-bar-null: #9E2F28;
@color-profile-agg-text: #489AC3;
@color-profile-range-slider: #F9F9F9;
@color-profile-input-background: #F7F7F7;
@color-profile-scroller-top: #E2E2E2;
@color-profile-scroller-bottom: #F7F7F7;
@color-profile-scroller: #BCBCBC;
@color-profile-cancel: #959595;
@color-profile-cancel-text: #ECECEC;
@color-profile-option-text: #828282;
@color-profile-option: #F1F1F1;
@color-profile-option-hover: #F7F7F7;
@color-profile-cancel-hover: #A0A0A0;

/* Multicast Modal */
@color-multicast-icon: #C5C5C5;

/* DFG Param Modal */
@color-dfg-paramLine: #4CB1C7;

/* Success Message */
@color-successMsg-Blue: #3B8DB2;
@color-successMsg-Gray: #6D6D6D;

/* Scratchpad */
@color-scratchpad-dark-odd: rgba(120, 162, 189, 0.1);
@color-scratchpad-dark-even: rgba(164, 183, 210, 0.1);
@color-scratchpad-light-odd: #F1F6F8;
@color-scratchpad-light-even: #FFFFFF;
@color-scratchpad-border: #ADC5D2;
@color-scratchpad-selected: rgba(28, 237, 36, 0.1);
@color-scratchpad-purple: rgba(190, 100, 190, 0.1);

/* Tooltips */
@color-tooltip-border: rgba(54, 68, 77, 0.95);

/* Fonts */
@font-base: "Open Sans", "Trebuchet MS", Arial, sans-serif;
@font-code: "Source Code Pro", courier, sans-serif;

/* Random Colors */
@color-mineShaft: #333333;
@color-froly: #F28281;
@color-punch: #DC4135;
@color-silverChalice: #ABABAB;
@color-doveGray: #737373;
@color-limedSpruce: #36444D;
@color-mercury: #E9E9E9;
@color-defaultGray: #888888;
@color-lightSilverChalice: #B1B1B1;
@color-iron: #CBD1D6;
@color-heather: #BFCCD4;
@color-tasman: #CCD7CC;
@color-silver: #BDBDBD;
@color-thunderbird: #C51D23;
@color-twilightBlue: #ECFDFF;
@color-malibu: #5FC8FF;
@color-boulder: #777777;
@color-nightShadz: #AF2F4D;
@color-turbo: #FFE400;
@color-chileanHeath: #FFFDE4;
@color-bostonBlue: #3E8FB4;
@color-darkSilverChalice: #9F9F9F;
@color-wildSand: #F6F6F6;

/* other */
@color-icon-gray-flat: #B7B7B7;


/* Sizes */
@height-colHeader: 26px;
@height-tableCell: 25px;
@width-tableCellPadding: 5px;
@height-colHeaderOuter: @height-colHeader + (@width-tableCellPadding * 2);
