@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);
/*<meta />*/

/*In the HTML file, always use "Open Sans" as the font family and specify the weight by a number.*/

@font-face 
{
	font-family: "Open Sans";
	font-weight: 400;
	src: url(../../Fonts/open-sans.regular.ttf);
}

@font-face 
{
	font-family: "Open Sans";
	font-weight: 600;
	src: url(../../Fonts/OpenSans-Semibold.ttf);
}

@font-face 
{
	font-family: "Open Sans";
	font-weight: 300;
	src: url(../../Fonts/OpenSans-Light.ttf);
}

@font-face 
{
	font-family: "Open Sans";
	src: url(../../Fonts/OpenSans-Bold.ttf);
	font-weight: 700;
}

body
{
	font-family: "Open Sans", Arial, sans-serif, Avenir, Myriad;
	font-weight: 400;
	line-height: 1.5em;
	font-size: 16px;
	mc-hyphenate: never;
	color: #44515c;
}

a.MCBreadcrumbsLink
{
	color: #378cb3;
	text-decoration: none;
}

a.MCBreadcrumbsLink:visited
{
	color: #4a4a4a;
}

a.MCBreadcrumbsLink:hover
{
	color: #378cb3;
	text-decoration: underline;
}

h1
{
	margin-bottom: 8px;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 36px;
	color: #378cb3;
	font-weight: 400;
	line-height: 49px;
	mc-hyphenate: never;
}

h2
{
	margin-bottom: 4px;
	margin-top: 24px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

h3
{
	font-size: 20px;
	margin-bottom: 4px;
	margin-top: 16px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

h4
{
	font-size: 18px;
	margin-bottom: 4px;
	margin-top: 16px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

h5	/* Provided just in case. Should not use so many heading levels in a topic. */
{
	font-size: 16px;
	margin-bottom: 3px;
	margin-top: 16px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

h6	/* Provided just in case. Should not use so many heading levels in a topic. */
{
	font-size: 14px;
	margin-bottom: 3px;
	margin-top: 16px;
	color: #378cb3;
	font-weight: 400;
	mc-hyphenate: never;
}

li
{
	margin-bottom: 6px;
	margin-top: 6px;
}

MadCap|breadcrumbsProxy
{
	border-bottom: none;
	font-size: 14px;
	mc-breadcrumbs-prefix: 'You are here: ';
}

MadCap|xref
{
	color: #378cb3;
	mc-format: '{para}';
	text-decoration: none;
}

MadCap|xref:hover
{
	color: #378cb3;
	text-decoration: underline;
}

div.sideContent
{
	float: right;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 28%;
}

html.templateTopic div.sideContent
{
	display: none;
}

p.userInput	/* For lines that the user types. Each is a standalone paragraph, not as part of a screen text block with a gray background. */
{
	margin-bottom: 8px;
	margin-top: 8px;
	font-family: 'Courier New';
	font-weight: bold;
	font-size: 13px;
}

p.Copyright
{
	text-align: left;
	margin: 0px 0px 0px 10px;
	padding-left: 0px;
	padding-top: 10px;
	padding-bottom: 15px;
}

p.paramDescription	/* For paragraphs that are descriptions of a parameter, e.g., in utilities documentation. */
{
	margin: 8px 14px 14px;
}

p.paramDescriptionHeading	/* Heading for the parameter description. Always stays with description without a page break in between. */
{
	page-break-after: avoid;
	font-weight: 500;
	margin: 14px 14px 8px;
}

img.BigImage
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 150px;
}

img.WideButShortImage
{
	mc-thumbnail: popup;
	mc-thumbnail-max-height: 40px;
}

span.UIelement
{
	font-weight: 600;
}

ul
{
	
}

ul ul
{
	/*Second level unordered list uses a circle as the bullet. */
	list-style-type: circle;
}

MadCap|dropDownBody
{
	border-bottom-color: #378cb3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

th
{
	font-weight: 600;
}

p.CLIoutput	/* For output in response to a CLI command. For standalone paragraph, not as part of screen text block. */
{
	font-family: 'Courier New';
	margin-bottom: 5px;
	margin-top: 5px;
	font-size: 13px;
}

ul.navigation ul
{
	border: #000000 1px none;
	border-radius: 0px;
}

ul.navigation > li.has-children:after	/*This is to mask out the pointer pointing to the top menu. */
{
	border-bottom-color: #378cb3;
}

span.SearchHighlight
{
	background-color: #ede54b;
}

div
{
	mc-hyphenate: never;
}

div.Code	/*For a block of sample code, not for a single line of input or output.*/
{
	font-family: 'Courier New';
	padding-left: 20px;
	border-bottom-color: #f2f2f2;
	border: solid 2px #f2f2f2;
	background-color: #f8f8f8;
	font-size: 13px;
}

div.Example
{
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

span.label	/* Apply to the NOTE, WARNING, EXAMPLE, or RECOMMENDATION label, which begins a div such as div.Note. */
{
	font-weight: bold;
	margin-top: 5px;
}

span.commandInBlock	/* Make command stand out as a part of screen text block. */
{
	font-weight: bold;
}

span.variableInBlock	/* Make variable (placeholder) stand out as a part of screen text block. */
{
	font-style: italic;
}

div.Note
{
	border-bottom: none 2px #000000;
	border-top: none 2px #000000;
	border-left: solid 5px #5cb2e8;
	margin: 0px;
	margin-left: 40px;
	padding: 3px 3px 3px 7px;
	margin-top: 33px;
	margin-bottom: 33px;
	margin-right: 34px;
}

p.Title
{
	font-size: 30pt;
	font-weight: bold;
}

p.TitleOnMasterPage
{
	font-style: italic;
	margin-bottom: 0;
	margin-top: 0.25em;
}

/* Publication title; used only for HTML5 output */

p.subTitle
{
	font-size: 30pt;
	font-weight: bold;
}

caption
{
	color: #1e6789;
	mc-auto-number-format: 'CT:Table {n+} ';
	font-weight: 600;
	font-size: 14px;
	text-align: left;
}

/* Table caption */

p.FigureCaption
{
	color: #1e6789;
	mc-auto-number-format: 'CF:Figure {n+} ';
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	page-break-after: avoid;
	margin-bottom: 6px;
}

img
{
	mc-thumbnail-max-height: 500px;
}

MadCap|dropDown
{
	mc-closed-image: url(../../Resources/Images/XD_assets/xd-plus-circle-outline.png);
	mc-open-image: url(../../Resources/Images/XD_assets/xd-minus-circle-outline.png);
}

MadCap|xref:focus
{
	
}

a:hover
{
	color: #378cb3;
}

a:active
{
	color: #378cb3;
}

MadCap|dropDownHotspot
{
	color: #378cb3;
}

ol
{
	
}

MadCap|equation
{
	font-family: 'Open Sans';
	text-decoration: none;
	font-style: normal;
	color: #4a4a4a;
	font-size: 14px;
}

p
{
	mc-hyphenate: never;
}

pre
{
	mc-hyphenate: never;
}

a
{
	color: #378cb3;
}

@media print
{
	p.Subtitle
	{
		font-size: 14pt;
		margin-bottom: .75in;
		margin-top: 14pt;
		font-family: 'Lato Light';
		text-align: left;
		color: #1e6789;
	}

	p.Title
	{
		color: #378cb3;
	}

	/*	p.TOC1
	{
		mc-leader-format: ' ';
		color: #000000;
		mc-pagenum-display: all;
		font-size: 10pt;
		line-height: 15 pt;
		margin-left: 0pt;
		font-family: Lato;
		font-weight: normal;
		margin-bottom: 5px;
		margin-top: 10px;
	}

	p.TOC2
	{
		font-weight: normal;
		margin-left: 0.25in;
		mc-leader-format: ' ';
		mc-pagenum-display: all;
		color: #000000;
		line-height: 15pt;
		font-size: 10pt;
		font-family: 'Lato Light';
		margin-top: 4px;
		margin-bottom: 4px;
	}

	p.TOC3
	{
		margin-left: 0.45in;
		mc-leader-format: ' ';
		mc-pagenum-display: all;
		color: #000000;
		line-height: 15pt;
		font-size: 10pt;
		font-family: 'Lato Light';
		margin-top: 4px;
		margin-bottom: 4px;
		font-weight: bold;
	}

	p.TOC4
	{
		margin-left: 0.55in;
		mc-leader-format: ' ';
		mc-pagenum-display: all;
		color: #000000;
		line-height: 15pt;
		font-size: 10pt;
		font-family: 'Lato Light';
		margin-top: 4px;
		margin-bottom: 4px;
		font-weight: bold;
	}

	p.TOC5
	{
		mc-heading-level: 0;
	}

	p.TOC6
	{
		mc-heading-level: 0;
	}
	
	*/

	p.CopyrightHeading
	{
		page-break-before: always;
		font-weight: 800;
		margin-top: 150px;
	}

	p.EmptyPageText
	{
		font-size: 10pt;
		font-weight: bold;
	}

	p.FrameFooterText
	{
		font-size: 8 pt;
		font-family: 'Lato Light';
		margin-top: 0;
	}

	p
	{
		line-height: normal;
	}

	td
	{
		font: 12px;
	}

	th
	{
		font: 12px;
	}

	body
	{
		mc-hyphenate: never;
	}

	td ul
	{
		margin-left: 20px;
	}

	h1
	{
		font-family: 'Open Sans';
		line-height: 24pt;
		margin-bottom: 20px;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		font-weight: 400;
		color: #1e6789;
		page-break-before: always;
		margin-top: 6px;
		font-size: 30px;
	}

	h2
	{
		color: #1e6789;
		font-family: 'Open Sans';
		line-height: 18pt;
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		padding: 0;
		font-weight: 400;
		page-break-before: always;
	}

	h3
	{
		font-family: 'Open Sans';
		color: #1e6789;
		line-height: 18pt;
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		padding: 0;
		font-weight: 400;
	}

	h4
	{
		font-family: 'Open Sans';
		color: #1e6789;
		line-height: 18pt;
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		padding: 0;
		font-weight: 400;
	}

	h5	/* Provided just in case. Should not use so many heading levels in a topic. */
	{
		font-family: 'Open Sans';
		color: #1e6789;
		line-height: 18pt;
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		padding: 0;
		font-weight: 400;
	
	}

	h6	/* Provided just in case. Should not use so many heading levels in a topic. */
	{
		font-family: 'Open Sans';
		color: #1e6789;
		line-height: 18pt;
		margin-bottom: 10px;
		margin-left: 0;
		margin-right: 0;
		margin-top: 30px;
		padding: 0;
		font-weight: 400;
		mc-heading-level: 0;
	}

	MadCap|tocProxy
	{
		border-top-style: none;
	}

	p.Title
	{
		color: #378cb3;
	}

	h1.contents
	{
		mc-heading-level: 0;
	}

	span.UIelement
	{
		font-weight: 700;
	}

	tr
	{
		page-break-inside: avoid;
	}

	MadCap|dropDownHead
	{
		
	}

	MadCap|dropDownHotspot
	{
		color: #4a4a4a;
	}

	MadCap|dropDownBody
	{
		border-bottom-style: none;
	}

	h4
	{
		mc-heading-level: 4;
	}
	
	h5
	{
		mc-heading-level: 5;
	}

	h2.noPageBreak
	{
		page-break-before: avoid;
	}
}

div.bodyProxyNarrow
{
	width: 65%;
}

td ul
{
	margin-top: 3px;
	margin-left: 20;
	margin: 0px 0px 0px;
}

td p:first-child
{
	margin-top: 0;
}

/*First p paragraph should not have a margin within a table cell. Other p paragraph can keep default margin. */

p.comments	/*Questions or reminders for our eyes only*/
{
	color: #ff0000;
}

h1.contents
{
	margin-bottom: 8px;
	padding-bottom: 20px;
	margin-top: 30px;
	font-size: 36px;
	color: #378cb3;
	font-weight: 400;
	line-height: 49px;
	mc-hyphenate: never;
}

ul.navigation	/*To be used by menu items in the top navigation bar in HTML5.*/
{
	text-transform: uppercase;
}

ul.sub-menu	/*Applied to sub menu items displayed when you hover over a top navigation menu item.*/
{
	text-transform: none;
}

a.ForCSH
{
	
}

h2.noPageBreak	/*For print medium only. */
{
	
}

p.FigureCaption
{
	color: #1e6789;
	font-weight: 600;
	text-align: center;
	font-size: 9pt;
	page-break-after: avoid;
	margin-bottom: 6px;
	font-family: inherit;
	mc-auto-number-format: 'Figure {n+}. ';
}
