<!-- Aboout Modal -->
<div id="aboutModal" class="modalContainer">
  <header class="modalHeader">
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- modalMain -->
  <section class="modalMain">
    <div class="logoSection">
      <div class="logo xc-logo">
        <div class="innerShadow"></div>
        <i class="icon xi_logo"></i>
      </div>
    </div>
    <div class="infoSection">
      <div class="title"><%= dicts.common.XI %></div>
      <div class="version frontVersion textoverflowOneLine">
        <span><%= dicts.about.Version %>:</span>
        <span class="text"></span>
      </div>
      <div class="version backVersion textoverflowOneLine">
        <span><%= dicts.about.SHA %>:</span>
        <span class="text"></span>
      </div>
    </div>
    <div class="copyRightSection"><%= dicts.about.copyRight %></div>
  </section>
</div>
<!-- End of Aboout Modal -->
