<!-- Quick Aggregates Modal -->
<div id="aggModal" class="modalContainer">
  <!-- Header -->
  <header class="modalHeader">
    <span class="text">Quick Aggregates</span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Quick Aggregates Instruction Section -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div id="aggModal-instr" class="text"></div>
  </section>
  <!-- Quick Aggregates Input Section -->
  <section class="modalTopMain">
    <div id="aggModal-tableName" class="tableName textOverflowOneLine">
      <span>Table Name:</span>
      <span class="text"></span>
    </div>
  </section>
  <!-- Quick Aggregates Main Section -->
  <section id="aggModal-quickAgg" class="mainAgg clearfix modalMain">
    <div class="tableText">Quick aggregates for each individual column</div>
    <div class="aggTable">
      <div class="headerContainer"></div>
      <div class="tableContainer">
        <div class="labelContainer"></div>
        <div class="aggContainer"></div>
      </div>
    </div>
  </section>
  <section id="aggModal-corr" class="mainAgg clearfix modalMain">
    <div class="tableText">Correlation coefficients for every pair of columns</div>
    <div class="aggTable">
      <div class="headerContainer"></div>
      <div class="tableContainer">
        <div class="labelContainer"></div>
        <div class="aggContainer"></div>
      </div>
    </div>
  </section>
</div>
<!-- End Of Quick Aggregates Modal -->