<!-- Alert Modal -->
<div id="alertModal" class="modalContainer shadow" style="display:none;">
  <!-- Alert Modal Header -->
  <header id="alertHeader" class="modalHeader">
    <span class="text"></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Alert Modal Instruction -->
  <section id="alertInstruction" class="modalInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"></div>
  </section>
  <!-- Alert Modal Content -->
  <section class="content">
    <section id="alertContent" class="modalTopMain">
        <div class="text"></div>
        <div class="alertRadioButtons radioButtonGroup"> </div>
    </section>
    <section id="alertDetail" class="modalTopMain detail">
        <div class="detailTitle">
        <span class="detailAction xc-action"><%= dicts.MenuTStr.ViewDetails %></span>
        </div>
        <div class="detailContent"></div>
    </section>
  </section>

  <!-- Alert Checkbox -->
  <section id="alertOption" class="modalMain">
    <div id="alertCheckBox" class="checkboxSection">
      <div class="checkbox">
        <i class="icon xi-ckbox-empty"></i>
        <i class="icon xi-ckbox-selected"></i>
      </div>
      <div class="text"><%= dicts.common.DontShow %></div>
    </div>
  </section>
  <!-- Button Section -->
  <section id="alertActions" class="modalBottom">
    <button type="button" class="btn confirm"><%= dicts.common.Confirm %></button>
    <button type="button" class="btn cancel"><%= dicts.common.Clear %></button>
  </section>
</div>
<!-- End of Alert Modal -->