<!-- Alert Modal -->
<div id="alertModal" class="modalContainer" style="display:none;">
  <!-- Alert Modal Header -->
  <header id="alertHeader" class="modalHeader">
    <span class="text"></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Alert Modal Instruction -->
  <section id="alertInstruction" class="modalInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"></div>
  </section>
  <!-- Alert Modal Content -->
  <section id="alertContent" class="modalTopMain">
    <div class="text"></div>
    <div class="options">
      <span id="alertOptionLabel" class="label"></span>
      <div class="dropDownList">
        <input id="alertOptionInput" type="text" spellcheck="false" placeholder="<%= dicts.common.ClickToOpts %>">
        <ul id="alertlist" class="list xc-worksheetList"></ul>
      </div>
    </div>
    <div id="alertUserInputArea" class="xc-hidden">
      <label class="label" for="alertUserInput"></label>
      <input id="alertUserInput" class="xc-input" type="text" spellcheck="false">
    </div>
  </section>
  <!-- Alert Checkbox -->
  <section id="alertOption" class="modalMain">
    <div id="alertCheckBox">
      <div class="checkbox"></div>
      <div class="text"><%= dicts.common.DontShow %></div>
    </div>
  </section>
  <!-- Button Section -->
  <section id="alertActions" class="modalBottom">
    <button type="button" class="btn confirm"><%= dicts.common.CONFIRM %></button>
    <button type="button" class="btn cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Alert Modal -->