<!-- Alert Modal -->
<div id="alertModal" class="modalContainer">
  <!-- Alert Modal Header -->
  <header id="alertHeader" class="modalHeader">
    <span class="text"></span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Alert Modal Instruction -->
  <section id="alertInstruction" class="modalInstruction">
    <div class="icon"></div>
    <div class="text"></div>
  </section>
  <!-- Alert Modal Content -->
  <section id="alertContent" class="modalTopMain">
    <div class="text"></div>
    <div class="options">
      <span id="alertOptionLabel" class="label"></span>
      <div class="dropDownList">
          <input id="alertOptionInput" type="text" spellcheck="false" placeholder="<%= dicts.alertModal.optionHint %>">
          <ul id="alertlist" class="list"></ul>
      </div>
    </div>
  </section>
  <!-- Alert Checkbox -->
  <section id="alertOption" class="modalMain">
    <div id="alertCheckBox">
      <div class="checkbox"></div>
      <div class="text"><%= dicts.alertModal.checkBox %></div>
    </div>
  </section>
  <!-- Button Section -->
  <section id="alertActions" class="modalBottom">
    <button type="button" class="btn btnMid confirm"><%= dicts.common.CONFIRM %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Alert Modal -->