<div id="createAppModal" class="modalContainer flex">
  <header class="modalHeader">
    <span class="text"><%= dicts.App.Create %></span>
    <div class="close" data-container="body" data-toggle="tooltip"
    data-original-title="<%= dicts.common.Close %>">
        <i class="icon xi-close"></i>
    </div>
  </header>

  <div class="modalInstruction"><%= dicts.App.CreateInstr %></div>
  <div class="modalMain">
    <div class="graphList"></div>
    <div class="loadingSection">
      <div class="animatedEllipsisWrapper">
        <div class="text"><%= dicts.App.Loading %></div>
        <div class="wrap">
          <div class="animatedEllipsis hiddenEllipsis">....</div>
          <div class="animatedEllipsis staticEllipsis">....</div>
        </div>
      </div>
    </div>
  </div>
  <div class="modalBottomMain">
    <div class="inputWrap">
        <label><%= dicts.App.Name %>:</label>
        <input type="text" class="newName xc-input white textOverflow" spellcheck="false">
    </div>

  </div>
  <div class="modalBottom">
    <button class="btn confirm btn-submit btn-rounded"><%= dicts.common.Create %></button>
    <button class="btn cancel btn-secondary btn-rounded"><%= dicts.common.Cancel %></button>
  </div>
</div>
