<div id="dagUDFErrorModal" class="modalContainer style-new tempModalStyling">
<!-- Header -->
<header class="modalHeader flexContainer">
    <span class="text">UDF failure report (<span class="numErrors"></span> failures)</span>
    <!-- new styling does not have expand/minimize buttons -->
    <!-- <div class="headerBtn exitFullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.common.Minimize %>">
    <i class="icon xi-exit-fullscreen"></i>
    </div>
    <div class="headerBtn fullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.common.Maximize %>">
    <i class="icon xi-fullscreen"></i>
    </div>-->
    <div class="close">
    <i class="icon xi-close"></i>
    </div>
</header>
<!-- Instruction -->
<section class="modalInstruction">
    <div class="modalInstructionSection extraErrors">
        <i class="icon xi-error"></i>
        There are more failures than reported below. To discover additional errors, fix the ones reported, and re-run the map operation.
    </div>
</section>
<section class="modalTop">
    <div class="columnHeader">
        Column name
    </div>
    <div class="expandAll toggleAll xc-action">Expand all</div>
    <div class="collapseAll toggleAll xc-action">Collapse all</div>
</section>
<div class="divider"></div>
<!-- Main Section -->
<section class="modalMain">
    <div class="errorList"></div>
</section>

<section class="modalBottom">
    <button type="button" class="btn btn-large btn-submit genErrorTable">Generate detailed error report</button>
    <button type="button" class="btn cancel"><%= dicts.common.Close %></button>
</section>
</div>