<!-- DATAFLOW MODAL -->
<div id="dataFlowModal" class="modalContainer">
  <!-- DATAFLOW Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.dataFlowModal.header %></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Data Flow Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.dataFlowModal.instr %></div>
  </section>
  <!-- Data Flow Modal Top Section-->
  <section class="modalTopMain">
    <!-- option section -->
    <div class="optionSection radioButtonGroup">
        <!-- option: new data flow group -->
        <div class="radioButton active" data-option="0">
          <div class="radio">
            <i class="icon xi-radio-selected"></i>
            <i class="icon xi-radio-empty"></i>
          </div>
          <div class="label"><%= dicts.dataFlowModal.NewDFG %></div>
        </div>
        <!-- option: add to existing data flow -->
        <div class="radioButton" data-option="1">
          <div class="radio">
            <i class="icon xi-radio-selected"></i>
            <i class="icon xi-radio-empty"></i>
          </div>
          <div class="label"><%= dicts.dataFlowModal.AppendDFG %></div>
        </div>
    </div>
    <!-- input section for new group name -->
    <div class="inputSection">
      <span class="label"><%= dicts.dataFlowModal.NewGroupName %>:</span>
      <input id="newGroupNameInput" type="text" spellcheck="false">
    </div>
  </section>
  <!-- Data Flow Modal Main Section -->
  <section class="modalMain unavailable">
    <!-- Data Flow Lists Section -->
    <section class="sideListSection">
      <!-- header -->
      <header class="title">
        <h2><%= dicts.sched.dfgs %> (<span class="num">0</span>)</h2>
      </header>
      <!-- data flow lists -->
      <div class="sideLists">
        <!-- search area -->
        <div class="searchArea">
          <input id="dataFlowSearch" type="text" spellcheck="false" placeholder="<%= dicts.common.SearchKeyWord %>...">
          <div class="iconWrap clear">
            <span class="icon"></span>
          </div>
        </div>
        <!-- list section -->
        <div class="listSection"></div>
      </div>
    </section>
    <!-- Preview Section -->
    <section class="previewSection">
      <!-- title section -->
      <section class="titleSection">
        <div class="titleWrap textOverflow">
          <span class="text"><%= dicts.common.Preview %></span>
        </div>
        <div class="buttonGroup">
          <!-- select all btn -->
          <div class="selectAll modifyDSButton">
            <span class="icon"></span>
            <span class="text"><%= dicts.common.SelectAll %></span>
          </div>
          <!-- clear all btn -->
          <div class="clear modifyDSButton">
            <span class="icon"></span>
            <span class="text"><%= dicts.common.ClearAll %></span>
          </div>
        </div>
      </section>
      <!-- Data Flow list section -->
      <section id="dataFlowPreviews" class="listSection"></section>
      <section id="dataFlowExport" class="tableSection" style="display:none;">
        <div class="tablePadding"></div>
        <div class="headerBackground"></div>
        <div class="headerShadow"></div>
        <table id="dataFlowTable" class="dataFlowTable dataTable"></table>
      </section>
    </section>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button id="dataFlowModalConfirm" type="button" class="btn btnMid confirm next"><%= dicts.common.NEXT %></button>
    <button type="button" class="btn btnMid back"><%= dicts.common.BACK %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of DATAFLOW MODAL -->