<!-- Delete Table Modal -->
<div id="deleteTableModal" class="modalContainer">
  <!-- Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.deleteTable.header %></span>
    <div class="headerBtn exitFullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.common.Minimize %>">
      <i class="icon xi-exit-fullscreen"></i>
    </div>
    <div class="headerBtn fullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-tipclasses="highZindex" data-original-title="<%= dicts.common.Maximize %>">
      <i class="icon xi-fullscreen"></i>
    </div>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Instruction -->
  <section class="modalInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.deleteTable.instr %></div>
  </section>
  <!-- Main Section -->
  <section class="modalMain">
    <section class="loadingSection">
      <div class="loadWrap">
        <div class="animatedEllipsisWrapper">
          <div class="text"></div>
          <div class="animatedEllipsis">
            <div>.</div>
            <div>.</div>
            <div>.</div>
          </div>
        </div>
      </div>
    </section>
    <!-- Orphan Section -->
    <section id="deleteTableModal-orphan" class="section orphan">
      <!-- title section -->
      <div class="titleSection">
        <!-- checkbox -->
        <div class="checkboxSection">
          <div class="checkbox">
            <i class="icon xi-ckbox-empty"></i>
            <i class="icon xi-ckbox-selected"></i>
          </div>
        </div>
        <!-- category -->
        <div class="title name" data-sortkey="name">
          <span class="label"><%= dicts.deleteTable.Orphan %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- table size -->
        <div class="title" data-sortkey="size">
          <span class="label"><%= dicts.common.Size %></span>
         <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- date modified-->
        <div class="title" data-sortkey="date">
          <span class="label"><%= dicts.common.DateModified %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
      </div>
      <!-- orphan table list section -->
      <div class="listSection"></div>
    </section>
    <!-- inactive list -->
    <section id="deleteTableModal-archived" class="section inactive">
      <!-- title section -->
      <div class="titleSection">
        <!-- checkbox -->
        <div class="checkboxSection">
          <div class="checkbox">
            <i class="icon xi-ckbox-empty"></i>
            <i class="icon xi-ckbox-selected"></i>
          </div>
        </div>
        <!-- category -->
        <div class="title name" data-sortkey="name">
          <span class="label"><%= dicts.deleteTable.Inactive %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- table size -->
        <div class="title" data-sortkey="size">
          <span class="label"><%= dicts.common.Size %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- date modified-->
        <div class="title" data-sortkey="date">
          <span class="label"><%= dicts.common.DateModified %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
      </div>
      <!-- table list section -->
      <div class="listSection"></div>
    </section>
    <!-- active list -->
    <section id="deleteTableModal-active" class="section active">
      <!-- title section -->
      <div class="titleSection">
        <!-- checkbox -->
        <div class="checkboxSection">
          <div class="checkbox">
            <i class="icon xi-ckbox-empty"></i>
            <i class="icon xi-ckbox-selected"></i>
          </div>
        </div>
        <!-- category -->
        <div class="title name" data-sortkey="name">
          <span class="label"><%= dicts.deleteTable.Active %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- table size -->
        <div class="title" data-sortkey="size">
          <span class="label"><%= dicts.common.Size %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
        <!-- date modified-->
        <div class="title" data-sortkey="date">
          <span class="label"><%= dicts.common.DateModified %></span>
          <i class="icon xi-sort fa-15 xc-action"></i>
        </div>
      </div>
      <!-- table list section -->
      <div class="listSection"></div>
    </section>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn confirm"><%= dicts.deleteTable.CONFIRM %></button>
    <button type="button" class="btn cancel"><%= dicts.common.CLOSE %></button>
  </section>
</div>
<!-- End of Delete Table Modal -->
