<!-- dfg Parameter Modal -->
<div id="dfgParameterModal" class="modalContainer">
  <div class="modalHeader">
    <span class="text"><%= dicts.dfgParam.title %></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </div>
  <div class="modalInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.dfgParam.instr %></div>
  </div>
  <div class="modalTopMain">
    <div class="templateSection clearfix retinaSection">
      <div class="heading"><%= dicts.dfgParam.query %>:</div>
      <table class="templateTable">
        <tr class="template"></tr>
      </table>
    </div>
    <div class="border"></div>
    <div class="currentParameterList retinaSection" ondragover="DFGParamModal.allowParamDrop(event)">
      <div class="heading"><%= dicts.dfgParam.paramList %>:</div>
      <div class="draggableParams"></div>
    </div>
    <div class="border"></div>
    <div class="editableParamQuery retinaSection">
      <div class="heading"><%= dicts.dfgParam.editParam %>:</div>
      <table class="editableTable">
        <tr class="editableRow"></tr>
      </table>
    </div>
    <!-- defaultListSection -->
    <div class="defaultListSection retinaParameter">
      <div class="tableHeader">
        <div class="cell paramNameWrap"><%= dicts.dfgParam.param %></div>
        <div class="cell paramValWrap"><%= dicts.dfgParam.val %></div>
        <div class="cell paramActionWrap"><%= dicts.dfgParam.empty %></div>
      </div>
      <div class="tableContainer">
        <div id="dagModleParamList" class="tableWrapper"></div>
      </div>
    </div>
    <!-- end of defaultListSection -->
  </div>
  <div class="modalBottom clearfix">
    <button class="btn confirm"><%= dicts.common.SAVE %></button>
    <button class="btn cancel"><%= dicts.common.CANCEL %></button>
  </div>
</div>
<!-- End Of Parameter Modal -->