<!-- dfg Parameter Modal -->
<div id="dfgParameterModal" class="modalContainer">
  <div class="modalHeader">
    <span class="text">Parameterize Query</span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </div>
  <div class="modalInstruction">
    <div class="icon"></div>
    <div class="text">To convert this query into a parameterized query,
    please click the add new parameterized query button and drag and drop
    the parameters into their appropriate places.</div>
  </div>
  <div class="modalTopMain clearfix">
    <div class="templateSection clearfix retinaModalSection">
      <span class="heading">Current Query:</span>
      <table class="templateTable">
        <tr class="template"></tr>
      </table>
    </div>
    <div class="border"></div>
    <div class="currentParameterList retinaModalSection"
      ondragover="DFGParamModal.allowParamDrop(event)">
      <span class="heading">Current Parameter List:</span>
      <div class="draggableParams"></div>
    </div>
    <div class="border"></div>
    <div class="editableParamQuery retinaModalSection">
      <span class="heading">Parameterized Query:</span>
      <table class="editableTable">
        <tr class="editableRow"></tr>
      </table>
    </div>
  </div>
  <!-- defaultListSection -->
  <div class="defaultListSection">
    <div class="tableHeader">
      <div class="thWrap paramName">Parameter</div>
      <div class="thWrap paramVal">Value</div>
      <div class="thWrap checkbox">No Value</div>
    </div>
    <div class="tableContainer">
      <div class="tableWrapper">
        <table id="dagModleParamList">
          <tbody></tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- end of defaultListSection -->
  <div class="modalBottom clearfix">
    <button class="btn btnMid confirm">SAVE</button>
    <button class="btn btnMid cancel">CANCEL</button>
  </div>
</div>
<!-- End Of Parameter Modal -->