<!-- DF Publish Modal -->
<div id="dfPublishModal" class="modalContainer large">
<!-- Header -->
<header class="modalHeader">
  <span class="text"><%= dicts.dataflow.PublishDF %></span>
  <div class="close" data-container="body" data-toggle="tooltip" 
  data-original-title="<%= dicts.common.Close %>">
    <i class="icon xi-close"></i>
  </div>
</header>
 <!-- Instruction -->
 <section class="modalInstruction">
  <div class="text">
    <%= dicts.dataflow.PublishDFInstr %>
  </div>
</section>
<!-- Main Section -->
<section class="modalMain">
  <div class="row label"><%= dicts.dataflow.DestDFName %>:</div>
  <!-- path -->
  <div class="row path">
    <input type="text" class="xc-input white textOverflow" spellcheck="false"></span>
    <div class="prefix"></div>
    <button class="btn btn-secondary browse"><%= dicts.common.Browse %>...</button>
  </div>
  <div class="row label onPremOnly"><%= dicts.common.Options %>:</div>
  <!-- share ds check box -->
  <div class="row shareDS onPremOnly">
    <div class="checkboxSection">
      <div class="checkbox">
        <i class="icon xi-ckbox-empty"></i>
        <i class="icon xi-ckbox-selected"></i>
      </div>
      <div class="text"><%= dicts.dataflow.ShareDS %></div>
      <i class="qMark icon xi-unknown" data-toggle="tooltip"
      data-container="body" data-title="<%= dicts.dataflow.ShareDSHint %>"
      data-placement="top"></i>
    </div>
  </div>
</section>
<!-- Button Section -->
<section class="modalBottom">
  <button type="button" class="btn confirm"><%= dicts.common.Confirm %></button>
  <button type="button" class="btn cancel"><%= dicts.common.Cancel %></button>
</section>
</div>
<!-- End of DF Publish Modal -->