<!-- Export Modal -->
<div id="exportModal" class="modalContainer">
  <!-- Export Modal Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.exportModal.header %></span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Export Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.exportModal.instr %></div>
  </section>
  <!-- Export Modal Top Section-->
  <section class="modalTopMain">
    <!-- export name section -->
    <div class="exportNameSection formRow">
        <span class="label"><%= dicts.exportModal.ExportAs %>:</span>
        <input id="exportName" class="text" type="text" spellcheck="false" required>
        <div class="checkboxWrap keepOrderedCBWrap">
          <div class="checkbox">
            <span class="icon"></span>
          </div>
          <div class="text"><%= dicts.exportModal.keepOrder %></div>
          <div class="hint qMark" data-container="body" data-toggle="tooltip"
                title="<%= dicts.exportModal.orderHint %>"></div>
        </div>

    </div>
    <!-- export path section -->
    <div class="exportPathSection formRow">
      <span class="label"><%= dicts.exportModal.Location %>:</span>
      <div id="exportLists" class="dropDownList">
          <input id="exportPath" class="text" type="text" value="Local Filesystem" spellcheck="false" disabled>
          <div class="iconWrapper">
              <span class="icon"></span>
          </div>
          <div class="list">
            <ul></ul>
            <div class="scrollArea top">
              <div class="arrow"></div>
            </div>
            <div class="scrollArea bottom">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="exportColumnsSection formRow">
      <span class="label"><%= dicts.exportModal.Columns %>:</span>
      <input id="exportColumns" type="text" placeholder="<%= dicts.exportModal.ColumnsHint %>" spellcheck="false" required>
      <div class="clearInput iconWrap">
        <span class="icon"></span>
      </div>
    </div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btnMid confirm"><%= dicts.exportModal.CONFIRM %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Export Modal -->