<!-- Export Modal -->
<div id="exportModal" class="modalContainer">
  <!-- Export Modal Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.exportModal.header %></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Export Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.exportModal.instr %></div>
  </section>
  <!-- Export Modal Top Section-->
  <section class="modalTopMain">
    <!-- export name section -->
    <div class="exportNameSection formRow">
        <span class="label"><%= dicts.exportModal.ExportAs %>:</span>
        <input id="exportName" class="text" type="text" spellcheck="false" required>
        <div class="checkboxWrap keepOrderedCBWrap">
          <div class="checkbox">
            <span class="icon"></span>
          </div>
          <div class="text"><%= dicts.exportModal.keepOrder %></div>
          <div class="hint qMark" data-container="body" data-toggle="tooltip"
                title="<%= dicts.exportModal.orderHint %>"></div>
        </div>
    </div>
    <!-- export path section -->
    <div class="exportPathSection formRow">
      <span class="label"><%= dicts.exportModal.Location %>:</span>
      <div id="exportLists" class="dropDownList">
          <input id="exportPath" class="text" type="text" value="" spellcheck="false" disabled>
          <div class="iconWrapper">
              <span class="icon"></span>
          </div>
          <div class="list">
            <ul></ul>
            <div class="scrollArea top">
              <div class="arrow"></div>
            </div>
            <div class="scrollArea bottom">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
    </div>
    <div class="exportColumnsSection formRow">
      <span class="label"><%= dicts.exportModal.Columns %>:</span>
      <input id="exportColumns" type="text" placeholder="<%= dicts.exportModal.ColumnsHint %>" spellcheck="false" required>
      <div class="clearInput iconWrap">
        <span class="icon"></span>
      </div>
    </div>

     <!-- advanced section -->
    <div class="advancedSection collapsed">
      <div class="advancedTitle">
        <span class="advancedIcon minimized" data-container="body" data-toggle="tooltip" title="<%= dicts.TooltipTStr.ToggleAdvanced %>"></span>
        <span class="text"><%= dicts.common.AdvancedOpts %></span>
      </div>
      <div class="restore" data-container="body" data-toggle="tooltip" title="<%= dicts.TooltipTStr.Restore %>"></div>
      <div class="formRow typeRow">
        <div class="label"><%= dicts.common.Type %>:</div>
        <div class="radioButtonGroup">
          <div class="radioButton active" data-option="DfFormatCsv">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label">CSV</div>
          </div>
          <div class="radioButton" data-option="DfFormatSql">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label">SQL</div>
          </div>
        </div>
      </div>
      <div class="formRow csvRow csvHidden">
          <span class="label"><%= dicts.dsForm.FieldDelim %>:</span>
          <div class="dropDownList">
            <input class="fieldDelim text" type="text" spellcheck="false" disabled="">
            <div class="iconWrapper">
              <span class="icon"></span>
            </div>
            <!-- dropdown menu -->
            <div class="list">
              <ul>
                <li name="default"><%= dicts.common.Default %> (\t)</li>
                <li name="comma"><%= dicts.common.Comma %> (,)</li>
                <li name="other" class="other">
                  <span><%= dicts.common.Other %></span>
                  <div class="inputWrap">
                    <input class="delimVal" type="text" spellcheck="false">
                    <div class="inputAction">
                      <span class="icon"></span>
                    </div>
                  </div>
                </li>
              </ul>
              <div class="scrollArea top">
                <div class="arrow"></div>
              </div>
              <div class="scrollArea bottom">
                <div class="arrow"></div>
              </div>
            </div>
          </div>
      </div>
      <div class="formRow csvRow csvHidden">
        <span class="label"><%= dicts.exportModal.RecordDelim %>:</span>
        <div class="dropDownList">
          <input class="text recordDelim" type="text" spellcheck="false" disabled="">
          <div class="iconWrapper">
            <span class="icon"></span>
          </div>
          <!-- dropdown menu -->
          <div class="list">
            <ul>
              <li name="default"><%= dicts.common.Default %> (\n)</li>
              <!-- no other delimiter but \n currently works -->
             <!--  <li name="other" class="other">
                <span><%= dicts.common.Other %></span>
                <div class="inputWrap">
                  <input class="delimVal" type="text" spellcheck="false">
                  <div class="inputAction">
                    <span class="icon"></span>
                  </div>
                </div>
              </li> -->
            </ul>
            <div class="scrollArea top">
              <div class="arrow"></div>
            </div>
            <div class="scrollArea bottom">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="formRow splitType">
        <div class="label"><%= dicts.common.File %>:</div>
        <div class="radioButtonGroup">
          <div class="radioButton active" data-option="ExSFFileSplitForceSingle">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.OneFile %></div>
          </div>
          <div class="radioButton" data-option="ExSFFileSplitNone">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.MultiFiles %></div>
          </div>
        </div>
      </div>
      <div class="formRow headerType">
        <div class="label"><%= dicts.common.Header %>:</div>
        <div class="radioButtonGroup">
            <div class="radioButton active" data-option="ExSFHeaderEveryFile">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.EveryFile %></div>
          </div>
          <div class="radioButton" data-option="ExSFHeaderSeparateFile">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.SeparateFile %></div>
          </div>
        </div>
      </div>
      <div class="formRow overwrite createRule">
        <div class="label"><%= dicts.exportModal.Overwrite %>?</div>
        <div class="radioButtonGroup">
          <div class="radioButton active" data-option="ExExportCreateOnly">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.DoNotOverwrite %></div>
          </div>
          <div class="radioButton" data-option="ExExportDeleteAndReplace">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.OverwriteExisting %></div>
          </div>
          <div class="radioButton" data-option="ExExportAppendOnly">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <div class="label"><%= dicts.exportModal.AppendExisting %></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btnMid confirm"><%= dicts.exportModal.CONFIRM %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Export Modal -->