<!-- Extension Modal -->
<div id="extensionModal" class="modalContainer">
  <!-- Extension Modal Header -->
  <header class="modalHeader">
    <span class="text">Extension</span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Extension Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    </div>
  </section>
  <!-- Extension Modal Main Section -->
  <section class="modalTopMain">
    <div class="basicInfos">
      <div class="logoArea">
        <span class="icon1 icon"></span>
        <span class="icon2 icon"></span>
      </div>
      <div class="infoArea">
        <div class="website topInfo">
          <span class="icon"></span>
          <span class="text">VISIT WEBSITE</span>
        </div>
        <div class="error topInfo">
          <span class="icon"></span>
          <span class="text">REPORT ERROR</span>
        </div>
        <div class="bottomInfo">
          <div>Version: 2.6</div>
          <div>Updated: April 2, 2013</div>
          <div>Size: 74.22KB</div>
          <div>Language: English</div>
        </div>
      </div>
    </div>
    <div class="detailInfos">
      <div class="detail">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
      <div class="divider"></div>
      <div class="detail">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btnMid confirm">INSTALL</button>
    <button type="button" class="btn btnMid cancel">CANCEL</button>
  </section>
</div>
<!-- End of Extension Modal -->