<!-- OPERATIONS MODAL -->
<div id="extensionOpModal" class="modalContainer">
  <!-- Header -->
  <div class="modalHeader operationsModalHeader ">
    <span class="text"></span>
    <div class="minimize headerBtn">
      <span class="icon"></span>
    </div>
    <div class="maximize headerBtn">
      <span class="icon"></span>
    </div>
    <div class="close headerBtn">
      <span class="icon"></span>
    </div>
  </div>
  <!-- Instruction -->
  <div class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.extOpsModal.instr %></div>
  </div>
  <!-- Modal Top Main -->
  <div class="modalTopMain clearfix">
     <div class="argSection">
       <div class="column descs">
         <!-- <div class="cell">Lorem ipsum
         dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        </div> -->
       </div>
       <div class="column args">
        <!--  <div class="cell">
           <input>
         </div> -->
       </div>
     </div>
  </div>
  <!-- Modal Main -->
  <div class="modalMain">
    <div class="tableContainer paramTableContainer">
      <div class="tableWrapper">
        <table class="argumentTable">
          <tbody>
            <!-- row1 -->

          </tbody>
        </table>
      </div>
    </div>

  </div>
  <!-- Modal Bottom -->
  <div class="modalBottom clearfix">
    <button class="btn btnMid confirm" tabindex="11"><%= dicts.opsModal.CONFIRM %></button>
    <button class="btn btnMid cancel" tabindex="10"><%= dicts.common.CANCEL %></button>
  </div>
</div>
<!-- END OPERATIONS MODAL -->
