<!-- Extension Modal -->
<div id="extensionInfoModal" class="modalContainer">
  <!-- Extension Modal Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.extModal.title %></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Extension Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.extModal.instr %></div>
  </section>
  <!-- Extension Modal Main Section -->
  <section class="modalTopMain">
    <div class="basicInfos">
      <div class="logoArea">
        <img id="extensionInfoModal-logo" class="logo icon">
        <span class="icon2 icon"></span>
      </div>
      <div class="infoArea">
        <div class="website topInfo">
          <span class="icon"></span>
          <span id="extModal-website" class="text"><%= dicts.extModal.website %></span>
        </div>
        <div class="error topInfo">
          <span class="icon"></span>
          <span id="extModal-error" class="text"><%= dicts.extModal.report %></span>
        </div>
        <div class="bottomInfo">
          <div class="version"><%= dicts.extModal.Version %>: <span class="text"></span></div>
          <!-- <div>Updated: April 2, 2013</div>
          <div>Size: 74.22KB</div> -->
          <div class="lang"><%= dicts.extModal.Lang %>: <span class="text">English</span></div>
        </div>
      </div>
    </div>
    <div class="detailInfos">
      <div class="detail basic">
        <div class="name"><%= dicts.extModal.extName %>: <span class="text"></span></div>
        <div class="category"><%= dicts.extModal.categoryName %>: <span class="text"></span></div>
      </div>
      <div class="divider"></div>
      <div class="detail">
        <div class="description"><%= dicts.common.Detail %>: <span class="text"></span></div>
      </div>
    </div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btnMid confirm"><%= dicts.extModal.confirm %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Extension Modal -->
