<!-- Extensions Modal -->
<div id="extModal" class="modalContainer">
  <!-- Extension Modal Header -->
  <header id="extHeader" class="modalHeader">
    <span class="text"></span>
    <div class="close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Extension Modal Instruction -->
  <section id="extInstruction" class="modalInstruction">
    <div class="icon"></div>
    <div class="text"></div>
  </section>
  <!-- Extension Modal Content -->
  <section id="extContent" class="modalTopMain">
  </section>
  <!-- Button Section -->
  <section id="extActions" class="modalBottom">
    <button type="button" class="btn cancel"><%= dicts.common.Cancel %></button>
  </section>
</div>
<!-- End of Extension Modal -->