<!-- File Browser Modal -->
<div id="fileBrowserModal" class="modalContainer">
  <!-- File Browser Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.fileBrowser.header %></span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- File Browser Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.fileBrowser.instr %></div>
  </section>
  <!-- File Browser Menu Bar -->
  <section class="modalTopMain">
    <!-- data target part -->
    <div class="leftSection">
      <button id="fileBrowserTarget" class="btn btnMid"><%= dicts.fileBrowser.NewTraget %></button>
    </div>
    <!-- browser part -->
    <div class="rightSection">
      <!-- Location -->
      <div class="label tag"><%= dicts.fileBrowser.location %>:</div>
      <!-- up -->
      <div id="fileBrowserUp" class="iconWrapper icon-up disabled" title="<%= dicts.fileBrowser.Up %>" data-toggle="tooltip" data-placement="top" data-container="body">
        <span class="icon"></span>
      </div>
      <div id="fileBrowserPath" class="dropDownList">
        <div class="defaultPath">file:///</div>
        <input class="text" spellcheck="false">
        <div class="iconWrapper" title="<%= dicts.fileBrowser.filePathHint %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <div class="icon"></div>
        </div>
        <ul id="fileBrowserPathMenu" class="list"></ul>
      </div>
      <!-- Icon Options -->
      <section class="iconSection">
        <!-- refresh -->
        <div id="fileBrowserRefresh" class="iconWrapper refresh" title="<%= dicts.common.Refresh %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <span class="icon"></span>
        </div>
        <!-- toggle view -->
        <div id="fileBrowserGridView" class="iconWrapper toggleListGrid gridView" data-toggle="tooltip" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SwitchToListView %>" data-container="body">
          <span class="icon"></span>
        </div>
        <!-- sort -->
        <div id="fileBrowserSort" class="iconWrapper sort" title="<%= dicts.MenuTStr.Sort %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <span class="icon"></span>
          <div class="dropdownBox">
            <span class="innerBox"></span>
          </div>
          <!-- sort dropdown -->
          <ul id="fileBrowserSortMenu" class="menu">
            <li data-sortkey="name">
              <span class="label tag"><%= dicts.common.Name %></span>
              <span class="icon"></span>
            </li>
            <li data-sortkey="size">
              <span class="label tag"><%= dicts.common.Size %></span>
              <span class="icon"></span>
            </li>
            <li data-sortkey="type">
                <span class="label tag"><%= dicts.common.Type %></span>
                <span class="icon"></span>
            </li>
            <li data-sortkey="date">
              <span class="label tag"><%= dicts.common.Date %></span>
              <span class="icon"></span>
            </li>
          </ul>
          <!-- end of sort dropdown -->
        </div>
      </section>
      <!-- checkbox for nsf -->
      <section id="fileBrowserNFS" class="checkboxSection">
        <span class="checkbox icon"></span>
        <span title="<%= dicts.common.NFS %>" data-toggle="tooltip" data-container="body" data-placement="top" class="text">NFS</span>
      </section>
    </div>
  </section>
  <!-- File Browser Main Section -->
  <section id="fileBrowserMain" class="modalMain gridView">
    <!-- data target part -->
    <div class="leftSection">
      <div class="targetContainer">
        <div class="target grid-unit">
          <div class="gridIcon"></div>
          <div class="listIcon">
            <span class="icon"></span>
          </div>
          <div class="label">Local File System</div>
        </div>
      </div>
    </div>
    <!-- browser part -->
    <div class="rightSection">
      <!-- Loading Sectoin -->
      <section class="loadingSection">
        <div class="waitingIcon"></div>
      </section>
      <!-- Titles -->
      <section class="titleSection">
        <!-- file name -->
        <div class="title fileName" data-sortkey="name">
          <span class="label tag"><%= dicts.common.Name %></span>
          <span class="icon"></span>
        </div>
        <!-- file date -->
        <div class="title fileDate" data-sortkey="date">
          <span class="label tag"><%= dicts.common.DateModified %></span>
          <span class="icon"></span>
        </div>
        <!-- file size -->
        <div class="title fileSize" data-sortkey="size">
          <span class="label tag"><%= dicts.common.Size %></span>
          <span class="icon"></span>
        </div>
      </section>
      <!-- Main Content -->
      <div class="shadow"></div>
      <section id="fileBrowserContainer" class="mainSection"></section>
    </div>
  </section>
  <!-- File Info Section -->
  <section class="modalSubMain">
    <!-- Input for file name -->
    <section class="inputSection">
      <div class="label tag">
        <label for="fileBrowserInputName"><%= dicts.fileBrowser.FileName %>:</label>
      </div>
      <input id="fileBrowserInputName" type="text" value="" spellcheck="false">
    </section>
    <!-- Input for file format -->
    <section class="inputSection">
      <div class="label tag"><%= dicts.fileBrowser.FileFormat %>:</div>
      <div id="fileBrowserFormat" class="dropDownList">
        <div class="text"><%= dicts.common.all %></div>
        <div class="iconWrapper">
          <div class="icon"></div>
        </div>
        <div class="list">
          <ul>
            <li class="select" name="all"><%= dicts.common.all %></li>
            <li name="json">json</li>
            <li name="csv">csv</li>
            <li name="xlsx">excel</li>
          </ul>
          <div class="scrollArea top"><div class="arrow"></div></div>
          <div class="scrollArea bottom"><div class="arrow"></div></div>
        </div>
      </div>
    </section>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btnMid confirm"><%= dicts.fileBrowser.CONFIRM %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End File Browser Modal -->
