<!-- Join Modal -->
<div id="joinModal" class="modalContainer">
  <!-- Join Modal Header -->
  <header id="joinHeader" class="modalHeader">
    <span class="text"><%= dicts.joinModdal.header %></span>
    <div id="closeJoin" class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Jonin Modal Instrunction Section -->
  <section id="joinInstr" class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.joinModdal.instr %></div>
  </section>
  <!-- Join Modal Input Section -->
  <section class="modalTopMain">
    <div class="text"><%= dicts.joinModdal.NewTableName %>:</div>
    <input id="joinRoundedInput" type="textbox" required spellcheck="false" autofocus>
    <div id="joinType" class="dropDownList">
      <div class="text"><%= dicts.joinModdal.InnerJoin %></div>
      <div class="iconWrapper">
          <div class="icon"></div>
      </div>
      <ul class="list">
        <li><%= dicts.joinModdal.InnerJoin %></li>
        <li><%= dicts.joinModdal.LeftJoin %></li>
        <li><%= dicts.joinModdal.RightJoin %></li>
        <li><%= dicts.joinModdal.FullJoin %></li>
      </ul>
    </div>
    <div class="checkboxWrap keepTablesCBWrap">
      <div class="checkbox">
        <span class="icon"></span>
      </div>
      <div class="text"><%= dicts.joinModdal.keepTables %></div>
      <div class="hint qMark" data-container="body" data-toggle="tooltip" title="<%= dicts.joinModdal.keepTablesHint %>"></div>
    </div>
    <div id="multiJoinBtn" data-container="body" data-toggle="tooltip">
      <div class="offOnBox offBox active">
        <span class="icon"></span>
      </div>
      <div class="offOnBox onBox">
        <span class="icon"></span>
      </div>
    </div>
  </section>
  <section id="joinPreview">
  </section>
  <!-- Join Modal Main Section -->
  <section id="mainJoin" class="clearfix modalMain">
    <canvas id="joinCanvas" width="111" height="22"></canvas>
    <!-- left join -->
    <div id="leftJoin" class="joinContainer">
      <div class="tableText">
        <span class="text"><%= dicts.joinModdal.LeftTable %></span>
        <div class="dropDownList joinTableList">
          <div class="text"></div>
          <div class="iconWrapper" title="<%= dicts.joinModdal.viewTables %>" data-toggle="tooltip" data-placement="top" data-container="body">
              <div class="icon"></div>
          </div>
          <div class="list">
            <ul >
            </ul>
            <div class="scrollArea top">
              <div class="arrow"></div>
            </div>
            <div class="scrollArea bottom">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <button class="smartSuggest btn" title="<%= dicts.joinModdal.SuggLeftHint %>" data-toggle="tooltip" data-placement="top" data-container="body"><%= dicts.joinModdal.SmartSuggBtn %></button>
        <span class="suggError">e</span>
      </div>
      <div class="mainTable">
        <div class="tabArea">
          <div class="joinTableArea">
            <div class="background"></div>
            <div class="outline"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- multi clause -->
    <div id="multiJoin" class="joinContainer">
      <div class="tableText"></div>
      <div class="mainTable">
        <div class="title"><%= dicts.joinModdal.MultiJoin %></div>
        <div class="instruction"><%= dicts.joinModdal.MultiJoinInstr %></div>
        <div class="clauseArea">
          <div class="joinClause placeholder">
            <div class="clause leftClause">
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
            </div>
            <div class="middleIcon">
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
            </div>
            <div class="clause rightClause">
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right join -->
    <div id="rightJoin" class="joinContainer">
      <div class="tableText">
        <span class="text"><%= dicts.joinModdal.RightTable %></span>
        <div class="dropDownList joinTableList">
          <div class="text"></div>
          <div class="iconWrapper" title="<%= dicts.joinModdal.viewTables %>" data-toggle="tooltip" data-placement="top" data-container="body">
              <div class="icon"></div>
          </div>
          <div class="list">
            <ul >
            </ul>
            <div class="scrollArea top">
              <div class="arrow"></div>
            </div>
            <div class="scrollArea bottom">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
        <button class="smartSuggest btn" title="<%= dicts.joinModdal.SuggRightHint %>" data-toggle="tooltip" data-placement="top" data-container="body"><%= dicts.joinModdal.SmartSuggBtn %></button>
        <span class="suggError">e</span>
      </div>
      <div class="mainTable">
        <div class="tabArea">
          <div class="joinTableArea">
            <div class="background"></div>
            <div class="outline"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Join Modal Button Section -->
  <section id="joinActions" class="modalBottom">
    <button id="joinTables" class="btn btnMid confirm" type="button"><%= dicts.joinModdal.CONFIRM %></button>
    <button id="cancelJoin" class="btn btnMid cancel" type="button"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End Of Join Modal -->