<!-- Join Modal -->
<div id="joinModal" class="modalContainer">
  <!-- Join Modal Header -->
  <header id="joinHeader" class="modalHeader">
    <span class="text">Join Tables</span>
    <div id="closeJoin" class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Jonin Modal Instrunction Section -->
  <section id="joinInstr" class="modalInstruction">
    <div class="icon"></div>
    <div class="text">
      First, select the column from the left table that you would like to join
      on. <br>
      Next, select the table followed by the column from the right that you
      would like to join on.
    </div>
  </section>
  <!-- Join Modal Input Section -->
  <section class="modalTopMain">
    <div class="text">New Table Name:</div>
    <input id="joinRoundedInput" type="textbox" required spellcheck="false" autofocus>
    <div id="joinType" class="dropDownList">
      <div class="text">Inner Join</div>
      <div class="iconWrapper">
          <div class="icon"></div>
      </div>
      <ul id="joinTypeSelect" class="list">
        <li>Inner Join</li>
        <li>Left Outer Join</li>
        <li>Right Outer Join</li>
        <li>Full Outer Join</li>
      </ul>
    </div>
    <div id="multiJoinBtn" data-container="body" data-toggle="tooltip">
      <div class="offOnBox offBox active">
        <span class="icon"></span>
      </div>
      <div class="offOnBox onBox">
        <span class="icon"></span>
      </div>
    </div>
  </section>
  <section id="joinPreview">
  </section>
  <!-- Join Modal Main Section -->
  <section id="mainJoin" class="clearfix modalMain">
    <canvas id="joinCanvas" width="111" height="22"></canvas>
    <!-- left join -->
    <div id="leftJoin" class="joinContainer">
      <div class="tableText">
        <span class="text">Left Table</span>
        <button class="smartSuggest btn"
          title="Suggest a key in left table to match right table"
          data-toggle="tooltip" data-placement="top" data-container="body">
          Smart Suggest
        </button>
        <span class="suggError">e</span>
      </div>
      <div class="mainTable">
        <div class="tabArea">
          <div class="worksheetTabs"></div>
          <div class="tableTabs"></div>
          <div class="joinTableArea">
            <div class="background"></div>
            <div class="outline"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- multi clause -->
    <div id="multiJoin" class="joinContainer">
      <div class="tableText"></div>
      <div class="mainTable">
        <div class="title">Multi Clause Join</div>
        <div class="instruction">Drap and drop columns to join</div>
        <div class="clauseArea">
           <div class="joinClause placeholder">
            <div class="clause leftClause">
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
            </div>
            <div class="middleIcon">
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
            </div>
            <div class="clause rightClause">
              <div class="iconWrapper">
                <span class="icon"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- right join -->
    <div id="rightJoin" class="joinContainer">
      <div class="tableText">
        <span class="text">Right Table</span>
        <button class="smartSuggest btn"
        title="Suggest a key in right table to match left table"
        data-toggle="tooltip" data-placement="top"
        data-container="body">
          Smart Suggest
        </button>
        <span class="suggError">e</span>
      </div>
      <div class="mainTable">
        <div class="tabArea">
          <div class="worksheetTabs"></div>
          <div class="tableTabs"></div>
          <div class="joinTableArea">
            <div class="background"></div>
            <div class="outline"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Join Modal Button Section -->
  <section id="joinActions" class="modalBottom">
    <button id="joinTables" class="btn btnMid confirm" type="button">
      JOIN TABLES
    </button>
    <button id="cancelJoin" class="btn btnMid cancel" type="button">
      CANCEL JOIN
    </button>
  </section>
</div>
<!-- End Of Join Modal -->