<!-- Json Modal -->
<div id="jsonModal" class="modalContainer">
  <div class="jsonDragArea"><%= dicts.jsonModal.header %></div>
  <div class="closeJsonModal">
    <span class="icon"></span>
  </div>
  <div id="jsonSearchWrap">
    <div id="jsonSearch" class="closed">
      <div class="icon searchIcon"></div>
      <input type="text" spellcheck="false">
      <div class="closeBox iconWrap">
        <span class="icon"></span>
      </div>
      <div class="counter">
        <span class="position"></span>
        <span class="total"></span>
      </div>
      <div class="arrows">
        <div class="upArrow iconWrap">
          <span class="icon"></span>
        </div>
        <div class="downArrow iconWrap">
          <span class="icon"></span>
        </div>
      </div>
    </div>
  </div>
  <div class="jsonArea">
  </div>
</div>
<!-- End Of Join Modal -->