<div id="liveHelpModal" class="modalContainer noWinResize">
  <header class="modalHeader">
    <div class="headerBtn sendEmail email-disabled"  data-toggle="tooltip" data-placement="top"
      data-container="body" title=<%= dicts.liveHelp.SendEmail %>>
      <i class="icon xi-envelope"></i>
    </div>
    <div class="title"><%= dicts.liveHelp.Title %></div>
    <div class="headerBtn minimize">
      <i class="icon xi-exit-fullscreen"></i>
      <i class="icon xi-fullscreen"></i>
    </div>
    <div class="headerBtn close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <div class="modalContent">
    <div class="modalInstruction reqConn">
        <span class="text"><%= dicts.liveHelp.Instruction %></span>
    </div>
    <div class="reqConn">
      <div class="row">
        <span class="text"><%= dicts.liveHelp.Name %></span>
        <input class="xc-input name" type="text">
      </div>
      <div class="row">
        <span class="text"><%= dicts.liveHelp.Email %></span>
        <input class="xc-input email" type="Email">
      </div>
      <div class="row">
        <span class="text emailInfo"><%= dicts.liveHelp.EmailInfo %></span>
        <span class="text emailError"><%= dicts.liveHelp.EmailError %></span>
      </div>
    </div>
    <div class="chatBox">
      <section class="chatMsg">
      </section>
      <div class="sendArea">
        <textarea class="sendMsg" placeholder=<%= dicts.liveHelp.TypeMsg %>></textarea>
      </div>
    </div>
    <div class="bottom reqConn">
      <button type="button" class="btn reqConnBtn btn-disabled"><%= dicts.common.START %></button>
    </div>
  </div>
</div>