<!-- message modal -->
<div id="messageModal" class="modalContainer style-new" style="display:none;">
    <!-- header -->
    <header class="header">
      <div class="title">
        <i class="icon xi-warning"></i>
        <span class="text"></span></span>
      </div>
      <div class="close xc-action">
        <i class="icon xi-close"></i>
      </div>
    </header>
    <!-- content -->
    <section class="content">
        <div class="message text"></div>
        <div class="checkboxSection">
          <div class="checkbox">
            <i class="icon xi-ckbox-empty"></i>
            <i class="icon xi-ckbox-selected"></i>
          </div>
          <div class="text"><%= dicts.common.DontShow %></div>
        </div>
        <div class="buttonSection">
          <button type="button" class="btn btn-submit confirm"><%= dicts.common.Confirm %></button>
          <button type="button" class="btn btn-clear cancel"><%= dicts.common.Close %></button>
        </div>
    </section>
  </div>
  <!-- End of Alert Modal -->