<div id="userSettingsModal" class="modalContainer mainSection no-selection">
  <header class="modalHeader">
    <span class="text"><%= dicts.monitor.Preferences %></span>
    <div class="close" data-container="body" data-toggle="tooltip"
    data-original-title="<%= dicts.common.Close %>">
        <i class="icon xi-close"></i>
    </div>
  </header>
  <div class="optionsContainer modalMain">
    <!-- show data col -->
    <div class="optionSet dataMart cloud onPrem">
      <div class="optionSelector">
        <div id="showDataColBox" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
      <div class="label"><%= dicts.monitor.showDataCol %></div>
      <i class="qMark icon xi-unknown"
      data-toggle="tooltip"
      data-container="body"
      data-title="<%= dicts.monitor.showDataColHint %>"
      data-placement="top"></i>
    </div>
    <!-- hide system op logs -->
    <div class="optionSet cloud onPrem">
      <div class="optionSelector">
        <div id="hideSysOps" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
      <div class="label"><%= dicts.monitor.hideSysOps %></div>
    </div>
    <!-- show syntax highlight -->
    <div class="optionSet dataMart cloud onPrem">
      <div class="optionSelector">
        <div id="showSyntaxHighlight" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
      <div class="label">Show syntax highlighting for editors</div>
    </div>
    <!-- color theme -->
    <div class="optionSet dataMart cloud onPrem">
      <div class="optionSelector">
        <div class="label">Editor theme:</div>
        <div id="colorThemeSelector" class="dropDownList">
            <div class="text"></div>
            <div class="iconWrapper">
              <i class="icon xi-arrow-down"></i>
            </div>
            <div class="list">
              <ul>
                <li data-option="xcalar-dark">Xcalar Dark</li>
                <li data-option="3024-night">3024 Night</li>
                <li data-option="ayu-dark">Ayu Dark</li>
                <li data-option="erlang-dark">Erlang Dark</li>
                <li data-option="midnight">Midnight</li>
              </ul>
              include "../../util/menuScrollArea.html"
            </div>
        </div>
      </div>
    </div>
    <!-- health check interval -->
    <div class="optionSet dataMart cloud onPrem">
      <div class="label"><%= dicts.monitor.commitInterval %></div>
      <div id="commitIntervalSlider" class="optionSelector rangeSliderWrap">
        <div class="rangeSlider">
          <div class="leftArea">
            <div class="slider"></div>
          </div>
          <div class="rightArea"></div>
        </div>
        <input class="value" value="120" type="number" min="10" max="600">
        <span><%= dicts.common.seconds %></span>
      </div>
    </div>
    <!-- disable dataset sharing -->
    <div class="optionSet admin onPrem">
      <div class="optionSelector">
        <div id="disableDSShare" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
      <div class="label"><%= dicts.monitor.DISABLESHARE %></div>
    </div>
    <!-- logout interval -->
    <div class="optionSet dataMart cloud onPrem">
      <div class="label"><%= dicts.monitor.logOutInterval %></div>
      <div id="logOutIntervalSlider" class="optionSelector rangeSliderWrap">
        <div class="rangeSlider">
          <div class="leftArea">
            <div class="slider"></div>
          </div>
          <div class="rightArea"></div>
        </div>
        <input class="value" value="25" type="number" min="10" max="120">
        <span><%= dicts.common.minutes %></span>
      </div>
    </div>
    <!-- cloud inactivity shut down -->
    <div class="optionSet cloud">
      <div class="optionSelector">
        <div id="enableInactivityCheck" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
      <div class="label"><%= dicts.monitor.InactivityShutdown %></div>
    </div>
    <!-- enable cloud support -->
    <div class="optionSet cloud">
      <div class="optionSelector">
        <div id="enableXcalarSupport" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
      <div class="label"><%= dicts.monitor.EnableSupport %></div>
      <i class="qMark icon xi-unknown"
      data-toggle="tooltip"
      data-container="body"
      data-title="<%= dicts.monitor.EnableSupportHint %>"
      data-placement="top"></i>
    </div>
  </div>
  <div class="modalBottom">
    <button id="userSettingsSave" class="btn confirm btn-submit btn-rounded"><%= dicts.common.Save %></button>
    <button id="userSettingsDefault" class="btn cancel btn-secondary btn-rounded"><%= dicts.exportView.restoreDefaults %></button>
  </div>
</div>
