<!-- MultiCast Modal -->
<div id="multiCastModal" class="modalContainer">
  <!-- Header Section -->
  <header class="modalHeader">
    <span class="text"><%= dicts.multiCastModal.header %></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Instrunction Section -->
  <section class="modalInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text"><%= dicts.multiCastModal.instr %></div>
  </section>
  <!-- Top Section -->
  <section class="modalTopMain"></section>
  <!-- Main Section -->
  <section class="modalMain">
     <div class="resultContainer">
      <div class="title">
        <span class="label"><%= dicts.multiCastModal.CastResult %></span>
        <div id="multiCast-clear" class="modifyButton">
          <i class="icon xi-select-none fa-17"></i>
          <span class="text"><%= dicts.common.ClearAll %></span>
        </div>
      </div>
      <div class="header">
        <div class="row">
          <div class="colName"><%= dicts.multiCastModal.ColName %></div>
          <div class="oldType"><%= dicts.common.Original %></div>
          <div class="newType"><%= dicts.multiCastModal.NewType %></div>
        </div>
      </div>
      <div id="multiCast-result" class="content"></div>
    </div>
    <div id="multiCast-tableContainer"class="tableContainer">
      <div class="title">
         <button id="multiCast-cast" class="btn btnMid iconBtn">
            <i class="icon xi_smart fa-15"></i>
            <%= dicts.multiCastModal.SmartBtn %>
          </button>
      </div>
      <div class="tableSection">
        <div class="background"></div>
        <table id="multiCast-table" class="multiCastTable dataTable"></table>
      </div>
    </div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button class="btn btnMid confirm" type="button"><%= dicts.multiCastModal.CONFIRM %></button>
    <button class="btn btnMid cancel" type="button"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End Of MultiCast Modal -->