<!-- newDataMartModal modal -->
<div id="newDataMartModal" class="modalContainer large">
  <!-- header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.DataMart.Create %></span>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- content -->
  <section class="modalMain content">
    <div class="label"><%= dicts.common.Name %>:</div>
    <input class="xc-input white" type="text">
  </section>
  <section class="modalBottom">
    <button type="button" class="btn confirm"><%= dicts.common.Create %></button>
    <button type="button" class="btn cancel"><%= dicts.common.Cancel %></button>
  </section>
</div>
<!-- End of newDataMartModal Modal -->