<!-- OPERATIONS MODAL -->
<div id="operationsModal" class="modalContainer">
  <!-- Header -->
  <div class="modalHeader operationsModalHeader ">
    <span class="text"></span>
    <div class="minimize headerBtn">
      <span class="icon"></span>
    </div>
    <div class="maximize headerBtn">
      <span class="icon"></span>
    </div>
    <div class="close headerBtn">
      <span class="icon"></span>
    </div>
  </div>
  <!-- Instruction -->
  <div class="modalInstruction">
    <div class="icon"></div>
    <div class="text"><%= dicts.opsModal.instr %></div>
  </div>
  <!-- StepChain -->
  <div class="stepChain">
    <div class="stepChainImg"></div>
    <div class="outerCircle circle0 filled">
      <div class="innerCircle "></div>
      <div class="circleContent">
        <span class="text">1</span>
        <span class="icon tick"></span>
      </div>
    </div>
    <div class="outerLink">
      <div class="innerLink link0"></div>
    </div>
    <div class="outerCircle circle1">
      <div class="innerCircle"></div>
      <div class="circleContent">
        <span class="text">2</span>
        <span class="icon tick"></span>
      </div>
    </div>
    <div class="outerLink">
      <div class="innerLink link1"></div>
    </div>
    <div class="outerCircle circle2">
      <div class="innerCircle"></div>
      <div class="circleContent">
        <span class="text">3</span>
        <span class="icon tick"></span>
      </div>
    </div>
  </div>
  <!-- Modal Top Main -->
  <div class="modalTopMain clearfix">
    <!-- Category Section -->
    <section class="step">
      <b><%= dicts.common.Category %>: </b>
      <div id="categoryList" class="dropDownList">
        <input class="text autocomplete" placeholder="aggregate" spellcheck="false" tabindex="10" required>
        <div class="iconWrapper dropdown">
          <span class="icon"></span>
        </div>
        <div id="categoryMenu" class="list">
          <ul>
            <li class="all">
              <%= dicts.common.all %>
            </li>
          </ul>
          <div class="scrollArea top">
            <div class="arrow"></div>
          </div>
          <div class="scrollArea bottom">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="border"></div>
    <!-- Function Section -->
    <section class="step inactive">
      <b><%= dicts.common.Func %>: </b>
      <div id="functionList" class="dropDownList">
        <input class="text autocomplete" tabindex="10" spellcheck="false" disabled required>
        <div class="iconWrapper dropdown">
          <span class="icon"></span>
        </div>
        <div id="functionsMenu" class="list">
          <ul></ul>
          <div class="scrollArea top">
            <div class="arrow"></div>
          </div>
          <div class="scrollArea bottom">
            <div class="arrow"></div>
          </div>
        </div>
      </div>
    </section>
    <div class="border"></div>
  </div>
  <!-- Modal Main -->
  <div class="modalMain step inactive">
    <b><%= dicts.opsModal.DescripFunc %>:</b>
    <div class="argumentSection">
      <p class="descriptionText">N/A</p>
      <b class="argumentListTitle"><%= dicts.opsModal.ArgList %>:</b>
      <div class="tableHeader">
        <div class="thWrap">
          <div class="text"><%= dicts.common.Arg %></div>
        </div>
        <div class="thWrap cast">
          <div class="text"><%= dicts.common.Cast %></div>
        </div>
        <div class="thWrap descCell">
          <div class="text"><%= dicts.common.Descrip %></div>
        </div>
        <div class="thWrap">
          <div class="text"><%= dicts.common.Empty %></div>
        </div>
      </div>
      <div class="tableContainer paramTableContainer">
        <div class="tableWrapper">
          <table class="argumentTable">
            <tbody>
              <!-- row1 -->
              <tr>
                <td>
                  <div class="inputWrap">
                    <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <ul class="list hint"></ul>
                    </div>
                  </div>
                </td>
                <td class="cast">
                   <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list"></ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td>
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
              <!-- row2 -->
              <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <ul class="list hint"></ul>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list"></ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td>
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
              <!-- row3 -->
              <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <ul class="list hint"></ul>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list">
                      </ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td>
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
              <!-- row4 -->
              <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <div class="list hint">
                        <ul></ul>
                        <div class="scrollArea top">
                          <div class="arrow"></div>
                        </div>
                        <div class="scrollArea bottom">
                          <div class="arrow"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list">
                      </ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td class="descCell">
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
               <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <div class="list hint">
                        <ul></ul>
                        <div class="scrollArea top">
                          <div class="arrow"></div>
                        </div>
                        <div class="scrollArea bottom">
                          <div class="arrow"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list">
                      </ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td class="descCell">
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
               <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <div class="list hint">
                        <ul></ul>
                        <div class="scrollArea top">
                          <div class="arrow"></div>
                        </div>
                        <div class="scrollArea bottom">
                          <div class="arrow"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list">
                      </ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td class="descCell">
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
               <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <div class="list hint">
                        <ul></ul>
                        <div class="scrollArea top">
                          <div class="arrow"></div>
                        </div>
                        <div class="scrollArea bottom">
                          <div class="arrow"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list">
                      </ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td class="descCell">
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
               <tr>
                <td>
                  <div class="inputWrap">
                     <div class="dropDownList">
                      <input class="argument" type="text" tabindex="10" spellcheck="false">
                      <div class="argIconWrap">
                        <span class="icon"></span>
                      </div>
                      <div class="list hint">
                        <ul></ul>
                        <div class="scrollArea top">
                          <div class="arrow"></div>
                        </div>
                        <div class="scrollArea bottom">
                          <div class="arrow"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td class="cast">
                  <div class="dropDownList">
                      <input class="text nonEditable" value="default" disabled>
                      <div class="iconWrapper dropdown">
                        <span class="icon"></span>
                      </div>
                      <ul class="list">
                      </ul>
                   </div>
                </td>
                <td class="descCell">
                  <div class="description"></div>
                </td>
                <td class="descCell">
                  <div class="checkboxWrap">
                    <span class="checkbox" data-container="body" data-toggle="tooltip" title="<%= dicts.opsModal.EmptyHint %>"></span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal Bottom -->
  <div class="modalBottom clearfix">
    <button class="btn btnMid confirm" tabindex="11"><%= dicts.opsModal.CONFIRM %></button>
    <button class="btn btnMid cancel" tabindex="10"><%= dicts.common.CANCEL %></button>
  </div>
</div>
<!-- END OPERATIONS MODAL -->
