<!-- Preview File Modal -->
<div id="previewFileModal" class="modalContainer xc-viewMode">
  <header class="modalHeader">
    <span class="text preview"><%= dicts.previewFile.previewHeader %></span>
    <span class="text parse"><%= dicts.previewFile.parseHeader %></span>
    <div class="headerBtn exitFullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Minimize %>">
      <i class="icon xi-exit-fullscreen"></i>
    </div>
    <div class="headerBtn fullScreen" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Maximize %>">
      <i class="icon xi-fullscreen"></i>
    </div>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- search box -->
  <div class="slidingSearchWrap">
    <div class="searchbarArea closed">
      <i class="icon searchIcon xi-search"></i>
      <input type="text" spellcheck="false">
      <div class="closeBox iconWrap">
        <i class="icon xi-cancel"></i>
      </div>
      <div class="counter">
        <span class="position"></span>
        <span class="total"></span>
      </div>
      <div class="arrows">
        <div class="upArrow iconWrap">
          <i class="icon xi-up"></i>
        </div>
        <div class="downArrow iconWrap">
          <i class="icon xi-down"></i>
        </div>
      </div>
    </div>
  </div>
  <!-- end search box -->
  <!-- Instruction Section -->
  <section class="modalInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text textOverflowOneLine">
      <span class="url">
        <%= dicts.previewFile.ListOf %> <b></b>
      </span>
      <span class="pattern">
        <%= dicts.dsForm.Pattern %>: <b></b>
      </span>
    </div>
  </section>
  <!-- Top Main Section -->
  <section class="modalTopMain">
    <div class="contentSection radioButtonGroup xc-contentView">
      <div class="part"></div>
      <div class="part"></div>
      <div class="part"></div>
    </div>
    <div class="loadSection xc-loadView">
      include "../../util/animatedEllipsis.html"
    </div>
    <div class="errorSection xc-errorView"></div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn confirm xc-confirm">
      <span class="preview"><%= dicts.previewFile.PREVIE %></span>
      <span class="parse"><%= dicts.previewFile.PARSE %></span>
    </button>
    <button type="button" class="btn cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- Preview File Modal -->