<!--Profile Modal -->
<div id="profileModal" class="modalContainer">
  <!-- Profile Modal Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.profile.header %></span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Profile Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"></div>
  </section>
  <!-- Profile Modal Top Section, for statistics groupby info-->
  <section class="modalTopMain">
    <!-- loading section -->
    <div class="loadingSection hidden">
      <div class="waitingIcon"></div>
    </div>
    <!-- error section -->
    <div class="errorSection hidden">
      <div class="title"><%= dicts.profile.fail %></div>
      <div class="text"></div>
    </div>
    <!-- info section -->
    <div class="helpInfoSection loadHidden">
     <!--  <div class="filterInfo hidden">
        <span class="text filter"><%= dicts.profile.filter %></span>
        <span class="text exclude"><%= dicts.profile.exclude %></span>
        <span class="text cancel"><%= dicts.profile.cancelFilter %></span>
      </div> -->
      <div class="numInfo">
        <div title="<%= dicts.profile.RowMore %>" class="icon more">
          <div class="plus"></div>
          <div class="plus vertical"></div>
        </div>
        <div class="text"></div>
        <div title="<%= dicts.profile.RowLess %>" class="icon less">
          <div class="plus"></div>
        </div>
      </div>
    </div>
    <!-- groupby section -->
    <div class="groubyInfoSection loadHidden">
      <svg class="groupbyChart"></svg>
      <div class="arrow left-arrow"></div>
      <div class="arrow right-arrow"></div>
    </div>
    <div id="profile-filterOption" class="filterOption">
      <div class="option filter">
        <div class="textWrapper"><%= dicts.profile.filter %>...</div>
      </div>
      <div class="option exclude">
        <div class="textWrapper"><%= dicts.profile.exclude %>...</div>
      </div>
      <div class="option cancel">
        <div class="textWrapper"><%= dicts.profile.cancelFilter %></div>
      </div>
    </div>
  </section>
  <!-- Profile Modal Main Section, for agg info -->
  <section class="modalMain">
    <!-- scroll section -->
    <div class="scrollSection loadHidden">
      <div class="rowScrollArea">
        <div class="scrollBar">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
    <div class="sortAndInputSection loadHidden">
      <!-- sortSection -->
      <div class="sortSection">
        <div class="label"><%= dicts.profile.SortBy %>:</div>
        <div class="sort asc">
          <div class="radioWrap">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <span class="icon"></span>
            <span class="text"><%= dicts.profile.asc %></span>
          </div>
        </div>
        <div class="sort origin">
          <div class="radioWrap">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <span class="icon"></span>
            <span class="text"><%= dicts.profile.orig %></span>
          </div>
        </div>
        <div class="sort desc">
          <div class="radioWrap">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <span class="icon"></span>
            <span class="text"><%= dicts.profile.desc %></span>
          </div>
        </div>
      </div>
      <!-- row input -->
      <div class="rowInputSection">
        <div class="rowInput">
          <label><%= dicts.profile.SkipTo %></label>
          <input id="stats-rowInput" class="min-range" val="1" spellcheck="false">
          <label><%= dicts.common.of %> </label>
          <label for="stats-rowInput" class="max-range"></label>
        </div>
      </div>
    </div>
    <!-- range section -->
    <div class="rangeSection loadDisable">
      <div class="title"><%= dicts.profile.BucketTitle %></div>
      <div class="content">
        <!-- slider -->
        <div class="sliderSection">
          <div class="sliderBar">
            <div class="wrap single" data-val="single"></div>
            <div class="wrap range" data-val="range"></div>
            <div class="wrap fitAll" data-val="fitAll"></div>
            <span class="slider"></span>
          </div>
        </div>
        <!-- options -->
        <div class="optionSection">
          <div class="rangePart active" data-val="single">
            <span class="text"><%= dicts.profile.Single %></span>
          </div>
          <div class="rangePart" data-val="range">
            <span class="text"><%= dicts.profile.Range %></span>
            <input id="stats-step" type="number" step="1" min="1" spellcheck="false" placeholder="<%= dicts.profile.BucketInstr %>">
          </div>
          <div class="rangePart" data-val="fitAll">
            <span class="text"><%= dicts.profile.FitAll %></span>
          </div>
        </div>
      </div>
    </div>
    <!-- info section -->
    <div class="infoSection">
      <!-- agginfo -->
      <div class="infoContainer aggInfo">
        <div class="title"><%= dicts.profile.AggSummary %></div>
        <div class="info">
          <span class="label"><%= dicts.common.count %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text count tooltipOverflow"></span>
        </div>
         <div class="info">
          <span class="label"><%= dicts.common.min %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text min tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label"><%= dicts.common.max %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text max tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label"><%= dicts.common.average %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text average tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label"><%= dicts.common.sum %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text sum tooltipOverflow"></span>
        </div>
      </div>
      <!-- stats info -->
      <div class="infoContainer statsInfo">
        <div class="title"><%= dicts.profile.QuartileSummary %></div>
        <div class="instruction"><%= dicts.profile.QuartileInstr %></div>
        <div class="info">
          <span class="label">0%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text zeroQuartile tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">25%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text lowerQuartile tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">50%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text median tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">75%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text upperQuartile tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">100%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text fullQuartile tooltipOverflow"></span>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End of Profile Modal -->