<!--Profile Modal -->
<div id="profileModal" class="modalContainer">
  <!-- Profile Modal Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.profile.header %></span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Profile Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"></div>
  </section>
  <!-- Profile Modal Top Section, for statistics groupby info-->
  <section class="modalTopMain">
    <div class="loadingSection hidden">
      <div class="waitingIcon"></div>
    </div>
    <div class="errorSection hidden">
      <div class="title"><%= dicts.profile.fail %></div>
      <div class="text"></div>
    </div>
    <div class="groubyInfoSection loadHidden">
      <svg class="groupbyChart"></svg>
      <div class="arrow left-arrow"></div>
      <div class="arrow right-arrow"></div>
    </div>
  </section>
  <!-- Profile Modal Main Section, for agg info -->
  <section class="modalMain">
    <!-- scroll section -->
    <div class="scrollSection loadHidden">
      <div class="rowScrollArea">
        <div class="scrollBar">
          <div class="scroller"></div>
        </div>
      </div>
    </div>
    <div class="sortAndInputSection loadHidden">
      <!-- sortSection -->
      <div class="sortSection">
        <div class="label"><%= dicts.profile.SortBy %>:</div>
        <div class="sort asc">
          <div class="radioWrap">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <span class="icon"></span>
            <span class="text"><%= dicts.profile.asc %></span>
          </div>
        </div>
        <div class="sort origin">
          <div class="radioWrap">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <span class="icon"></span>
            <span class="text"><%= dicts.profile.orig %></span>
          </div>
        </div>
        <div class="sort desc">
          <div class="radioWrap">
            <div class="radio">
              <span class="dot"></span>
            </div>
            <span class="icon"></span>
            <span class="text"><%= dicts.profile.desc %></span>
          </div>
        </div>
      </div>
      <!-- row input -->
      <div class="rowInputSection">
        <div class="rowInput">
          <label><%= dicts.profile.SkipTo %></label>
          <input id="stats-rowInput" class="min-range" val="1" spellcheck="false">
          <label><%= dicts.common.of %> </label>
          <label for="stats-rowInput" class="max-range"></label>
        </div>
      </div>
    </div>
    <!-- range section -->
    <div class="rangeSection loadDisable">
      <div class="title"><%= dicts.profile.BucketTitle %></div>
      <div class="buttonSection">
        <span class="text single"><%= dicts.profile.Single %></span>
        <div class="rangeBtn">
          <div class="slider"></div>
        </div>
        <span class="text range"><%= dicts.profile.Range %></span>
      </div>
      <div class="inputSection">
        <span class="text"><%= dicts.profile.BucketInstr %>:</span>
        <input id="stats-step" type="number" step="1" min="1" spellcheck="false">
      </div>
    </div>
    <!-- info section -->
    <div class="infoSection">
      <!-- agginfo -->
      <div class="infoContainer aggInfo">
        <div class="title"><%= dicts.profile.AggSummary %></div>
        <div class="info">
          <span class="label"><%= dicts.common.count %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text count tooltipOverflow"></span>
        </div>
         <div class="info">
          <span class="label"><%= dicts.common.min %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text min tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label"><%= dicts.common.max %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text max tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label"><%= dicts.common.average %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text average tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label"><%= dicts.common.sum %>:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text sum tooltipOverflow"></span>
        </div>
      </div>
      <!-- stats info -->
      <div class="infoContainer statsInfo">
        <div class="title"><%= dicts.profile.QuartileSummary %></div>
        <div class="instruction"><%= dicts.profile.QuartileInstr %></div>
        <div class="info">
          <span class="label">0%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text min tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">25%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text lowerQuartile tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">50%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text median tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">75%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text upperQuartile tooltipOverflow"></span>
        </div>
        <div class="info">
          <span class="label">100%:</span>
          <span data-toggle="tooltip" data-placement="top" data-container="body" class="text max tooltipOverflow"></span>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- End of Profile Modal -->