<!-- Source Modal -->
<div id="sourceModal" class="modalContainer">
  <header class="modalHeader">
    <span class="text">Xcalar Connector</span>
    <div class="close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>">
    <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- modalMain -->
  <section class="modalMain">
    <div class="tabSection">
      <ul class="sourceList">
        <li data-tab="connector">Setup Connectors</li>
        <li data-tab="import">Load with connectors</li>
        <li data-tab="loadWizard">S3 Load Wizard</li>
      </ul>
    </div>
    <div class="panelSection">
      include "../datastore/datastore.html"
    </div>
  </section>
</div>
<!-- End of Source Modal -->
  