<!-- sqlDebugConfirmModal modal -->
<div id="sqlDebugConfirmModal" class="modalContainer large">
  <!-- header -->
  <header class="modalHeader has-subHeader">
    <span class="text"><%= dicts.SQL.EditAdvanced %></span>
    <div class="close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>">
      <i class="icon xi-close"></i>
    </div>
    <div class="subHeader instr">
      Debugging plan will possibly be based on a different one than what is displayed.
    </div>
  </header>
  <!-- content -->
  <section class="modalMain content">
    <div class="label">Module Name:</div>
    <input class="xc-input white" type="text">
  </section>
  <section class="modalBottom">
    <button type="button" class="btn confirm"><%= dicts.common.Confirm %></button>
    <button type="button" class="btn cancel"><%= dicts.common.Close %></button>
  </section>
</div>
<!-- End of sqlDebugConfirmModal Modal -->