<!-- SQL Snippet List Modal -->
<div id="sqlSnippetListModal" class="modalContainer">
  <!-- Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.SQLEditor.Snippets %></span>
    <div class="close" data-container="body" data-toggle="tooltip" 
    data-original-title="<%= dicts.common.Close %>">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <!-- Main Section -->
  <section class="modalMain xc-gridList">
    <div class="listSection content"></div>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btn-cancel cancel"><%= dicts.common.Close %></button>
  </section>
</div>
<!-- End of SQL Snippet List Modal -->