<div id="sqlSnippetRenameModal" class="modalContainer">
    <!-- Header -->
    <header class="modalHeader">
      <i class="infoIcon icon xi-warning"></i>
      <span class="text"><%= dicts.SQLEditor.RenameWarning %></span>
      <div class="close" data-container="body" data-toggle="tooltip" title=""
      data-original-title="<%= dicts.common.Close %>">
        <i class="icon xi-close"></i>
      </div>
    </header>
    <section class="modalInstruction">
      <div class="text"><%= dicts.SQLEditor.RenameModalInstr %></div>
    </section>
    <!-- card main -->
    <section class="modalMain">
      <div class="label">
        <div class="text"><%= dicts.common.SaveAs %>:</div>
        <input type="text" class="name xc-input textOverflow">
      </div>
    </section>
    <!-- Button Section -->
    <section class="modalBottom">
      <button type="button" class="btn confirm"><%= dicts.SQLEditor.Save %></button>
      <button type="button" class="btn btn-cancel discard"><%= dicts.SQLEditor.Discard %></button>
    </section>
</div>