<!-- Workbook Modal -->
<div id="workbookModal" class="modalContainer">
  <!-- Workbook Modal Header -->
  <header class="modalHeader">
    <span class="text"><%= dicts.workbook.header %></span>
    <div class="close">
      <span class="icon"></span>
    </div>
  </header>
  <!-- Workbook Modal Instruction -->
  <section class="modalInstruction">
    <div class="icon"></div>
    <div class="text"></div>
  </section>
  <!-- Workbook Modal Top Section-->
  <section class="modalTopMain">
    <!-- option section -->
    <div class="optionSection radioButtonGroup">
        <!-- option: new workbook -->
        <div class="radioButton" data-option="0">
          <div class="radio">
            <span class="dot"></span>
          </div>
          <div class="label"><%= dicts.workbook.newWKBK %></div>
        </div>
        <!-- option: continue workbook -->
        <div class="radioButton" data-option="1">
          <div class="radio">
            <span class="dot"></span>
          </div>
          <div class="label"><%= dicts.workbook.continue %></div>
        </div>
        <!-- option: copy workbook -->
        <div class="radioButton" data-option="2">
          <div class="radio">
            <span class="dot"></span>
          </div>
          <div class="label"><%= dicts.workbook.copy %></div>
        </div>
    </div>
    <!-- input section for new workbook name -->
    <div class="inputSection">
      <span class="label"><%= dicts.workbook.newName %>:</span>
      <input id="workbookInput" type="text" spellcheck="false">
    </div>
  </section>
  <!-- Workbook Modal Main Section -->
  <section class="modalMain">
    <!-- Workbook Section -->
    <section class="workbookSection">
      <!-- title section -->
      <section class="titleSection">
        <section class="innerTitleSection">
          <div class="title" data-sortkey="name">
            <span class="label"><%= dicts.common.Name %></span>
            <span class="icon"></span>
          </div>
          <!--  date created-->
          <div class="title" data-sortkey="created">
            <span class="label"><%= dicts.common.DateCreated %></span>
            <span class="icon"></span>
          </div>
          <!--  date modified-->
          <div class="title" data-sortkey="modified">
            <span class="label"><%= dicts.common.DateModified %></span>
            <span class="icon"></span>
          </div>
          <!-- number of table -->
          <div class="title" data-sortkey="srcUser">
            <span class="label"><%= dicts.workbook.CreateBy %></span>
            <span class="icon"></span>
          </div>
          <!-- number of worksheet -->
          <div class="title" data-sortkey="curUser">
            <span class="label"><%= dicts.workbook.ModifiedBy %></span>
            <span class="icon"></span>
          </div>
        </section>
         <!-- name -->
      </section>
      <!-- workbook list section -->
      <section id="workbookLists" class="listSection"></section>
    </section>
  </section>
  <!-- Button Section -->
  <section class="modalBottom">
    <button type="button" class="btn btnMid confirm"><%= dicts.workbook.CONFIRM %></button>
    <button type="button" class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Workbook Modal -->