<div id="debugViewContainer">
  <div class="topSection">
    <div class="tabSection">
      <div class="tab active" data-tab="output">Output</div>
      <div class="tab" data-tab="sqlHistory">SQL History</div>
    </div>
    <div class="closeResult xc-iconWrap-action" 
    data-toggle="tooltip"
    data-container="body"
    data-original-title="<%= dicts.common.Close %>"
    >
      <i class="icon xi-close"></i>
    </div>
  </div>
  <div class="contentSection">
    <div class="section output"></div>
    <div class="section sqlHistory"></div>
  </div>
</div>