<div id="sqlDataflowArea" class="dagContainer showProgressTips showConfigInfo">
    <div class="topSection tableBar">
        <div class="actionArea">
            <div class="xc-action analyze">
                <i class="icon xi-edit-dataflow-2"></i>
                <span><%= dicts.SQL.EditAdvanced %></span>
            </div>
        </div>
    </div>
    <div class="dataflowMainArea noPreviewTable">
      <div class="dataflowWrap">
        <div class="innerDataflowWrap"></div>
      </div>
    </div>
</div>