<div id="sqlEditorSpace">
  <header class="draggable">
    <div class="title">
      <%= dicts.SQL.Editor %>
    </div>
    <div class="divider"></div>
    <div class="fileName tooltipOverflow"></div>
  </header>
  <i class="icon xc-icon-action xi_popout undock" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.bottomMenu.popOutBtn %>"></i>
  <section class="topBarSection">
    <div class="row">
      <button class="btn execute"
      data-toggle="tooltip"
      data-placement="top"
      data-container="body"
      data-title="<%= dicts.SQLEditor.RunHint %>"
      >
        <%= dicts.SQLEditor.Run %>
      </button>
      <button class="btn btn-secondary saveAs"><%= dicts.common.SaveAs %>...</button>
      <button class="btn btn-secondary new"><%= dicts.SQLEditor.NewSnippet %></button>
      <button class="btn btn-secondary more dropDownList">
        <%= dicts.SQLEditor.More %>...
        <i class="icon xi-arrow-down"></i>
        <div class="list">
          <ul>
            <li data-action="list"><%= dicts.SQLEditor.Open %>...</li>
            <li data-action="download"><%= dicts.fileManager.Download %></li>
            include "../../util/menuScrollArea.html"
          </ul>
        </div>
      </button>
    </div>
    <div class="row">
      <span class="xc-action udf"><%= dicts.SQLEditor.WriteUDF %></span>
      <i class="qMark icon xi-unknown"
      data-toggle="tooltip"
      data-container="body"
      data-title="<%= dicts.SQLEditor.WriteUDFHint %>"
      data-placement="top"></i>
      <span class="xc-action sqlFunc"><%= dicts.SQLFunc.Title %></span>
      <i class="qMark icon xi-unknown"
      data-toggle="tooltip"
      data-container="body"
      data-title="<%= dicts.SQLEditor.SQLFuncHint %>"
      data-placement="top"></i>
    </div>
  </section>
  <section class="editSection">
    <div class="editArea">
      <textarea id="sqlEditorSpace-editor"></textarea>
    </div>
  </section>
</div>