<div id="sqlEditorSpace" class="contentSection">
  <header class="sectionBar">
    <div class="title sectionHeader">
      <%= dicts.SQL.Editor %>
    </div>
    <div class="savingText"><%= dicts.common.Saving %>...</div>
    <i class="icon xi-play-outline hintDisable execute"
    data-toggle="tooltip"
    data-placement="top"
    data-container="body"
    data-title="<%= dicts.SQLEditor.RunHint %>"></i>
    <button class="btn btn-secondary more dropDownList">
      <!-- <div class="iconWrapper"> -->
        <i class="icon xi-ellipsis-h xc-action"></i>
      <!-- </div> -->
      <div class="list">
        <ul>
          <li data-action="history"><%= dicts.SQL.HistoryTab %></li>
          <li data-action="showTables"><%= dicts.Table.Show %></li>
          <li data-action="addUDF"><%= dicts.resouceMenu.AddUDF %></li>
          <li data-action="download"><%= dicts.fileManager.Download %></li>
          <li data-action="convertToSQLFuc">Convert to table function</li>
          include "../../util/menuScrollArea.html"
        </ul>
      </div>
    </button>
  </header>
  <i class="icon xc-icon-action xi_popout undock" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.bottomMenu.popOutBtn %>"></i>
  <section class="hintHidden editSection">
    <div class="editArea">
      <textarea id="sqlEditorSpace-editor"></textarea>
    </div>
    include "sqlHintMenu.html"
  </section>
  <section class="hintSection">
    To get started, open an existing SQL query or <span class="newSQL action xc-action">create a new one</span>
  </section>
</div>