<div class="selQueryHistCard cardContainer sqlQueryHist">
    <header class="cardHeader">
        <span class="title"><%= dicts.SQL.queryHistCardTitle %></span>
        <!-- <div class="headerBtn minimize" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Minimize %>">
            <i class="icon xi-exit-fullscreen"></i>
        </div>
        <div class="headerBtn maximize" data-toggle="tooltip" data-container="body" data-placement="top auto" data-original-title="<%= dicts.common.Maximize %>">
            <i class="icon xi-fullscreen"></i>
        </div> -->
        <i class="selRefreshQueryHist refresh refresh-queryHist right icon xi-refresh fa-17 xc-action" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Refresh"></i>
        <i class="selCancelQueryHist cancel right icon xi-cancel fa-17 xc-action" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="Cancel SQL in execution"></i>
    </header>
    <div class="cardMain"></div>
</div>