<div class="contentSection">
  <!-- <div class="expandResult xc-iconWrap-action"
    data-toggle="tooltip"
    data-container="body"
    data-original-title="expand"
    >
        <i class="icon xi-stack"></i>
  </div> -->
  <i class="closeResult xc-icon-action icon xi-close"
  data-toggle="tooltip"
  data-container="body"
  data-original-title="<%= dicts.common.Close %>"
  ></i>
  <div class="section result">
    include "sqlTableArea.html"
    include "sqlDataflowArea.html"
    <!-- include "../worksheet/dagViewTableArea.html" -->
    <div class="hintArea">
      <div class="hint">Reuslt is loading, please wait...</div>
    </div>
  </div>
  <div class="section sql">
    include "sqlTableListerArea.html"
    include "sqlTableSchemaArea.html"
  </div>
  <div class="section error"></div>
</div>