<div class="contentSection">
  <!-- <div class="expandResult xc-iconWrap-action"
    data-toggle="tooltip"
    data-container="body"
    data-original-title="expand"
    >
        <i class="icon xi-stack"></i>
  </div> -->
  <i class="closeResult xc-icon-action icon xi-close"
  data-toggle="tooltip"
  data-container="body"
  data-original-title="<%= dicts.common.Close %>"
  ></i>
  <div class="hintHidden section result">
    include "sqlTableArea.html"
    include "sqlDataflowArea.html"
    <!-- include "../worksheet/dagViewTableArea.html" -->
    <div class="hintArea">
      <div class="hint">Reuslt is loading, please wait...</div>
    </div>
  </div>
  <div class="hintHidden section sql">
    include "sqlTableListerArea.html"
    include "sqlTableSchemaArea.html"
  </div>
  <div class="hintHidden section error"></div>
  <div class="hintSection">
    No results. To get started with building a data app, run a SQL query or edit operators in the app builder.
  </div>
</div>