<div id="sqlTableListerArea" class="noBottom">
  <div class="topSection">
    <span class="label"><%= dicts.common.Tables %></span>
    <span class="actionArea">
      <div class="xc-action refresh">
        <i class="icon xi-refresh"></i>
        <span><%= dicts.common.Refresh %></span>
      </div>
      <div class="xc-action viewSchema">
        <i class="icon xi-show"></i>
        <span><%= dicts.dag.viewSchema %></span>
      </div>
    </span>
    <span class="searchbarArea">
      <input type="text">
      <i class="icon xi-search"></i>
    </span>
  </div>
  <div class="mainSection xc-gridList"></div>
</div>