<div id="sqlTableSchemaArea">
  <div class="topSection">
    <div class="label">Schema of Table <span class="name"></span></div>
    <div class="searchbarArea">
      <input type="text" placeholder="<%= dicts.common.Search %>">
      <i class="icon xi-search"></i>
    </div>
  </div>
  <div class="mainSection xc-gridList"></div>
  <div class="bottomSection">
    <div class="info"></div>
    <div class="buttonWrap">
      <button class="btn btn-clear back"><%= dicts.common.Back %></button>
    </div>
  </div>
</div>