<!-- XXX TODO: generalize with the on in dagView.html -->
<div id="sqlTableArea" class="tableArea xc-viewMode xc-tableArea">
    <div class="topSection tableBar">
        <div class="label"><%= dicts.dag.viewResult %></div>
        <!-- search area -->
        <div class="searchbarArea">
          <input type="text" placeholder="<%= dicts.common.SeachColumn %>">
          <i class="icon xi-search"></i>
          <div class="counter">
            <span class="position">1</span>
            <span class="total">of 2</span>
          </div>
          <div class="arrows">
            <div class="upArrow iconWrap">
              <i class="icon xi-up"></i>
             </div>
            <div class="downArrow iconWrap">
              <i class="icon xi-down"></i>
            </div>
          </div>
        </div>
        <!-- end of search area -->
        <div class="tableNameArea">
          <div class="label">Table Name:&nbsp;</div>
          <div class="name"></div>
        </div>
        <div class="skewInfoArea"></div>
        <div class="rowInputArea"></div>
    </div>
    <div class="errorSection xc-errorView"></div>
    <div class="loadingSection xc-loadView"></div>
    <div class="mainSection tableSection xc-contentView"></div>
    <div class="bottomSection">
        <div class="buttonWrap">
            <button class="btn btn-clear btn-create">
              Save Result as Table
            </button>
            <button class="btn btn-clear btn-export">
              <%= dicts.Table.Export %>
            </button>
        </div>
    </div>
</div>