<div id="sqlWorkSpacePanel" class="mainPanel">
  <div class="topBar">
    <div class="title">Query</div>
  </div>
  <div class="mainContent">
    <section class="leftSection">
      include "sqlEditorSpace.html"
    </section>
    <section class="rightSection">
      <div class="resultSection">
        include "sqlTableListerArea.html"
        include "sqlTableArea.html"
        include "sqlTableSchemaArea.html"
        include "sqlDataflowArea.html"
      </div>
      <div class="historySection">
        <div class="resizeHandler">
            <div class="xc-resizeHandler">
              <div class="border"></div>
              <div class="border"></div>
            </div>
        </div>
        include "sqlQueryHistory.html"
      </div>
    </section>
  </div>
</div>