<!-- Bottom Bar -->
<div id="bottomArea">
  <!-- Worksheet Bar -->
  <div id="worksheetBar" class="workspaceBar clearfix">
    <section id="worksheetInfo" class="clearfix">
      <div class="workspaceArea">Xcalar Insight</div>
      <div class="workspaceArea">
        <span><%= dicts.common.WKBK %>: </span>
        <span class="wkbkName">
          <%= dicts.isTutor ? dicts.tutor.wkbk : "" %>
        </span>
      </div>
      <div id="workspaceDate" class="workspaceArea">
        <span><%= dicts.ws.create %>: </span>
        <span class="date">
          <%= dicts.isTutor ? dicts.tutor.wkbkDate : "" %>
        </span>
      </div>
      <div class="workspaceArea">
        <span><%= dicts.ws.save %>:</span>
        <span id="autoSavedInfo">
          <%= dicts.isTutor ? dicts.tutor.wkbkSaveDate : "" %>
        </span>
      </div>
      <div class="workspaceArea">
        <span id="pageStatusText">
          <%= dicts.isTutor ? dicts.tutor.meta.tab : dicts.bottomBar.EC %>
        </span>
        <div id="loadingIconWrap">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- Buttons to pop out rightside bar -->
    <section id="rightSideBarBtns" class="bottomButtonsArea no-selection">
      <!-- tablelist -->
      <div class="btn btnSmall sliderBtn">
        <span id="tableListBtn" class="icon" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomBar.tblList %>"></span>
      </div>
      <!-- sql -->
      <div class="btn btnSmall sliderBtn">
        <span id="sqlBtn" data-toggle="tooltip" data-placement="top" data-container="body" title="SQL"></span>
      </div>
      <!-- udf -->
      <div class="btn btnSmall sliderBtn">
        <span id="udfBtn" class="icon" data-toggle="tooltip" data-placement="top" data-container="body" title="UDF"></span>
      </div>
      <!-- cli -->
      <div class="btn btnSmall sliderBtn">
        <span id="cliBtn" class="icon" data-toggle="tooltip" data-placement="top" data-container="body" title="CLI"></span>
      </div>
      <!-- scratchpad -->
      <!-- <div class="btn btnSmall sliderBtn">
        <span id="scratchpadBtn" data-toggle="tooltip"
        data-placement="top" data-container="body" title="scratchpad"></span>
      </div> -->
      <!-- help section -->
      <% if (dicts.tutor.name == "workbookDemo") { %>
      <div class="btn btnSmall sliderBtn" data-introstep="8">
        <span id="infoBtn"></span>
      </div>
      <% } else { %>
      <div class="btn btnSmall sliderBtn">
        <span id="infoBtn" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.bottomBar.help %>"></span>
      </div>
      <% } %>
    </section>
  </div>
  <!-- Bottom Worksheet Tabs -->
  <div id="bottomTabArea">
    <!-- addWorkhseet btn -->
    <% if (dicts.tutor.name == "workbookDemo") { %>
    <div id="addWorksheet" class="btn btnSmall" data-introstep="7">
      <span class="icon"></span>
    </div>
    <% } else { %>
    <div id="addWorksheet" class="btn btnSmall" title="<%= dicts.ws.add %>" data-toggle="tooltip" data-placement="top" data-container="body">
      <span class="icon"></span>
    </div>
    <% } %>
    <!-- Worksheet Tabs -->
    <div id="worksheetTabs">
      <% if (dicts.tutor.name == "workbookDemo") { %>
      <section class="worksheetTab inActive">
        <div class="label" data-introstep="6">
          <div class="iconWrapper wsIconWrap">
            <span class="wsIcon"></span>
          </div>
          <div class="draggableArea">
            <input type="text" class="text textOverflow" spellcheck="false" value="<%= dicts.ws.sheet %> 1" style="width: 63px;">
          </div>
        </div>
        <!-- dag tab -->
        <div class="dagTab">
          <span class="icon"></span>
        </div>
      </section>
      <section class="worksheetTab">
          <div class="label" data-introstep="5">
            <div class="iconWrapper wsIconWrap">
              <span class="wsIcon"></span>
            </div>
            <div class="draggableArea">
              <input type="text" class="text textOverflow" spellcheck="false" value="<%= dicts.ws.sheet %> 2">
            </div>
          </div>
          <div class="dagTab">
            <span class="icon"></span>
          </div>
        </section>
      <% } else { %>
      <!-- Placeholder, Keep it so user don't see difference when loading -->
      <section class="worksheetTab">
        <div class="label">
          <div class="iconWrapper wsIconWrap">
            <span class="wsIcon"></span>
          </div>
          <div class="draggableArea">
            <input type="text" class="text textOverflow" spellcheck="false" value="<%= dicts.ws.sheet %> 1">
          </div>
        </div>
        <!-- dag tab -->
        <div id="compSwitch" class="dagTab">
          <span class="icon"></span>
        </div>
      </section>
      <% } %>
    </div>
    <div id="hiddenWorksheetsTab" class="dropDownList">
      <div class="mainTab" title="hidden worksheets" data-toggle="tooltip" data-placement="top" data-container="body">
        ...(0)
      </div>
      <div class="list">
        <ul>
          <div class="divider"></div>
          <li class="unhideAll" data-ws="all">
            <span class="icon"></span>
            <span class="icon"></span>
            <%= dicts.ws.unHideAll %>
          </li>
        </ul>
      </div>
    </div>
    <div id="worksheetTabMenu" class="menu">
      <ul>
        <li class="rename"><%= dicts.common.Rename %></li>
        <li class="hide"><%= dicts.ws.hide %></li>
        <li class="delete"><%= dicts.ws.del %></li>
      </ul>
      <div class="arrow"></div>
    </div>
  </div>
</div>
<!-- End Of Bottom Bar -->