<!-- initial background -->
<div id="initialLoadScreen">
  <div class="dialog">
    <div class="animatedEllipsisWrapper">
      <div class="text"><%= dicts.common.PleaseWait %></div>
      <div class="animatedEllipsis">
        <div>.</div>
        <div>.</div>
        <div>.</div>
      </div>
    </div>
  </div>
</div>
<!-- CONTAINER -->
<div id="container" class="mainContainer" style="display:none;">
  <script type="text/javascript">
    if (!window.redirectToLogin) {
        document.getElementById('container').style.display = 'block';
    }
  </script>
  <!-- homeBtn is in menuBar.html" -->
  include "menuBar/menuBar.html"
  include "userBox.html"

  <!-- START MAIN PANELS -->
  include "workbook.html"
  include "workspace.html"
  include "monitor/monitor.html"
  include "datastore/datastore.html"
  include "dataflow/dataflow.html"
  <!-- END MAIN PANELS -->

  <div class="underConstruction mainPanel">
    <div class="topBar"></div>
    <div class="alert">
      <i class="icon xi-info-circle fa-25"></i>
    </div>
    <br>
    This page is still under construction!
  </div>
  <div id="adminStatusBar" class="adminOnly active">
    <div class="pulloutTab">
      <div class="border"></div>
      <div class="border"></div>
    </div>
    <span class="text"><%= dicts.statusBar.adminText %>:</span>
    <span class="username">unknown</span>
    <i class="icon xi-close fa-12"></i>
  </div>
  include "statusBar.html"

  <!-- Fixed positioned StatusBox -->
  <div id="statusBox">
    <div class="arrow"></div>
    <div class="boxInnerWrap">
      <div class="vertBar">
        <i class="icon xi-error"></i>
        <i class="icon xi-info-circle"></i>
      </div>
      <div class="content">
        <i id="statusBoxClose" class="close xc-action icon fa-10 xi-close"></i>
        <div class="title">
          <span class="titleText"></span>
        </div>
        <div class="message textOverflow"></div>
      </div>
    </div>
  </div>
  <!-- End Of StatusBox -->

  <div id="successMessageWrap">
    <div class="checkMark">
      <i class="icon success xi-chat-bubble-happy"></i>
      <i class="icon failed xi-chat-bubble-sad"></i>
    </div>
    <span class="largeText success"><%= dicts.status.SUCCESS %></span>
    <span class="largeText failed"><%= dicts.status.FAILED %></span>
    <div class="successMessage">
      <div class="textBox success">
        <%= dicts.status.actionSuccess %>
      </div>
      <div class="textBox failed">
        <%= dicts.status.actionFailed %>
      </div>
    </div>
  </div>

  <!-- Modal Background -->
  <div id="modalBackground"></div>
  include "modal/aggModal.html"
  include "modal/dfgParameterModal.html"
  include "modal/jsonModal.html"
  include "modal/alertModal.html"
  include "modal/profileModal.html"
  include "modal/deleteTableModal.html"
  include "modal/extModal.html"
  include "modal/licenseModal.html"
  include "modal/supTicketModal.html"
  include "modal/aboutModal.html"
</div>
<!-- END CONTAINER -->
