<div id="container" class="mainContainer" style="display:none;">
  <script type="text/javascript">
    if (!window.redirectToLogin) {
        document.getElementById('container').style.display = 'block';
    }
  </script>
  <div id="homeBtn">
    <div class="logo"></div>
  </div>
  include "menuBar/menuBar.html"
  include "userBox.html"

  <!-- START MAIN PANELS -->
  include "workspace.html"
  include "monitor/monitor.html"
  include "datastore/datastore.html"
  include "scheduler/scheduler.html"
  <!-- END MAIN PANELS -->

  <div class="underConstruction mainPanel">
    <div class="topBar"></div>
    <div class="alert"></div>
    <br><br>
    This page is still under construction!
  </div>
  include "statusBar.html"

  <!-- Fixed positioned StatusBox -->
  <div id="statusBox">
    <div class="arrow"></div>
    <div class="boxInnerWrap">
      <div id="statusBoxClose" class="close"></div>
      <div class="title">
        <span class="icon"></span>
        <span class="titleText"></span>
      </div>
      <div class="message textOverflow"></div>
    </div>
  </div>
  <!-- End Of StatusBox -->

  <div id="successMessageWrap">
    <!--
    <div class="checkMark">
      <i class="icon xi-bubble-happy"></i>
    </div> -->
    <div class="checkMark">
      <i class="icon xi-chat-bubble-happy"></i>
    </div>
    <span class="largeText">SUCCESS</span>
    <div class="successMessage">
      <div class="textBox">
        
        Your action was successful!
      </div>
    </div>
  </div>
 
  <!-- Modal Background -->
  <div id="modalBackground"></div>
  include "modal/aggModal.html"
  include "modal/dfgParameterModal.html"
  include "modal/jsonModal.html"
  include "modal/alertModal.html"
  include "modal/workbook.html"
  include "modal/profileModal.html"
  include "modal/multiCastModal.html"
  include "modal/deleteTableModal.html"
  include "modal/extModal.html"
</div>