<!-- Dag Panel -->
<div id="dagPanelContainer">
  <div id="dagPanel" class="hidden midway no-selection xc-hidden">
    <div class="topBorder">
      <div id="dagPulloutTab">
        <div class="border"></div>
        <div class="border"></div>
      </div>
    </div>
    <div class="topButtons">
      <i id="maximizeDag" class="icon xi-fullscreen fa-18 unavailable"
      data-container="body" data-toggle="tooltip" data-original-title="<%= dicts.common.Maximize %>">
      </i>
      <i id="closeDag" class="icon xi-down btnDeselected"
      data-container="body" data-toggle="tooltip" data-original-title="<%= dicts.common.Close %>">
      </i>
      <i id="exitDagEdit" class="icon xi-close fa-18 btnDeselected"
      data-container="body" data-toggle="tooltip" data-original-title="Exit editing mode">
      </i>
    </div>
    <div class="dagArea">
      <div class="legendArea">
        <div class="infoBox">
          <div class="hint csHelp" data-topic="dataflowGraph" title="" data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.TooltipTStr.CSHelp %>">
            <i class="white icon xi-help fa-12"></i>
          </div>
        </div>
        <div class="datasetArea descriptionArea">
          <div class="dataStoreIcon legendIcon"></div>
          <i class="icon xi_data"></i>
          <span class="text"><%= dicts.common.DS %></span>
        </div>
        <div class="tableArea descriptionArea">
          <div class="dagTableIcon legendIcon"></div>
          <i class="icon xi-table-2"></i>
          <span class="text"><%= dicts.common.Table %></span>
        </div>
        <div class="operationArea descriptionArea">
          <div class="operationType legendIcon">
            <div class="dagIcon"></div>
          </div>
          <span class="text"><%= dicts.common.Op %></span>
        </div>
      </div>
    </div>
    <ul class="menu rightClickDropDown">
        <li class="saveImage" data-action="saveImage">
          <%= dicts.MenuTStr.SaveImage %>
        </li>
        <li class="newTabImage" data-action="newTabImage">
          <%= dicts.MenuTStr.OpenImage %>
        </li>
        <li class="unsavable" data-action="none">
          <%= dicts.MenuTStr.Unsavable %>
        </li>
        <li class="unsavable" data-action="none">
          <%= dicts.MenuTStr.ExceedsSize %>
        </li>
        <li class="expandAll" data-action="expandAll">
          <%= dicts.MenuTStr.ExpandAllDags %>
        </li>
        <li class="cannotExpand" data-action="none">
          <%= dicts.MenuTStr.CannotExpand %>
        </li>
        <li class="collapseAll" data-action="collapseAll">
          <%= dicts.MenuTStr.CollapseDF %>
        </li>
        <li class="dataflow" data-action="dataflow" data-toggle="tooltip"
          data-placement="bottom" data-container="body"
          data-original-title="">
          <%= dicts.MenuTStr.CreateDF %>
        </li>
    </ul>
    <ul class="menu dagOperationDropDown">
        <li class="undoEdit" data-action="undoEdit">
          <%= dicts.MenuTStr.UndoEdit %>
        </li>
        <li class="editOp" data-action="editOp">
          <%= dicts.MenuTStr.EditOp %>
        </li>
        <li class="commentOp" data-action="commentOp">
          <%= dicts.MenuTStr.CommentOp %>
        </li>
        <li class="expandTag" data-action="expandTag">
          <%= dicts.MenuTStr.RevealOps %>
        </li>
        <li class="collapseTag" data-action="collapseTag">
          <%= dicts.MenuTStr.HideOps %>
        </li>
        <li class="exitEdit" data-action="exitEdit">
          <%= dicts.MenuTStr.ExitEditMode %>
        </li>
    </ul>
    <ul class="menu dagTableDropDown">
      <li class="unexpectedInfo">
        <%= dicts.MenuTStr.UnexpectedTable %>
      </li>
      <li class="dataStoreInfo">
        <%= dicts.MenuTStr.ViewDetails %>
      </li>
      <li class="addTable">
        <%= dicts.MenuTStr.AddTblToWS %>
      </li>
      <li class="revertTable">
        <%= dicts.MenuTStr.RevertTbl %>
      </li>
      <li class="focusTable">
        <%= dicts.MenuTStr.FocusTbl %>
      </li>
      <li class="makeTempTable">
        <%= dicts.MenuTStr.SendToTemp %>
      </li>
      <li class="deleteTable">
        <%= dicts.MenuTStr.DelTbl %>
      </li>
      <li class="addNoDelete" data-toggle="tooltip" data-placement="bottom"
      data-container="body" data-original-title="<%= dicts.TooltipTStr.LockTable %>" data-delay="500">
        <%= dicts.MenuTStr.LockTbl %>
      </li>
      <li class="removeNoDelete" data-toggle="tooltip" data-placement="bottom"
      data-container="body" data-original-title="<%= dicts.TooltipTStr.AllowDelete %>">
        <%= dicts.MenuTStr.UnlockTbl %>
      </li>
   <!--    <li class="deleteTableDescendants unavailable" data-toggle="tooltip"
          data-placement="bottom" data-container="body"
          data-original-title="<%= dicts.common.ComeSoon %> ">
        <%= dicts.MenuTStr.DelTblDesc %>
      </li> -->
      <li class="generateIcv unavailable" data-toggle="tooltip"
          data-placement="bottom" data-container="body"
          data-original-title="<%= dicts.TooltipTStr.IcvRestriction %> ">
        <%= dicts.MenuTStr.GenIcv %>
      </li>
      <li class="complementTable unavailable" data-toggle="tooltip"
          data-placement="bottom" data-container="body"
          data-original-title="">
        <%= dicts.MenuTStr.ComplementTable %>
      </li>
      <li class="showSchema">
        <%= dicts.MenuTStr.ShowSchema %>
      </li>
      <li class="exitEdit">
        <%= dicts.MenuTStr.ExitDFEdit %>
      </li>
    </ul>

  </div>
  <div id="dagScrollBarWrap">
    <div class="sizer"></div>
  </div>
</div>

<div id="mapPreForm" class="schemaPopup">
  <div id="mapPreFormTitle" class="title">
    <div class="titleContentWrap">
      <span class="tableName">Map</span>
      <span class="numCols" title=""></span>
    </div>
    <div class="close" data-container="body"
       data-toggle="tooltip" title="" data-original-title="<%= dicts.common.Close %>">
      <i class="icon xi-close"></i>
    </div>
  </div>
  <div class="subHeader">
    <div class="text">
      <i class="icon xi-info-circle"></i>
      <%= dicts.dataflow.SelectOpEdit %>
    </div>
  </div>
  <div class="content">
    <div class="opRows"></div>
    <div class="addOp">
      <i class="icon xi-plus xc-action"></i>
      <span class="text"><%= dicts.MenuTStr.AddOperation %></span>
    </div>
  </div>
</div>

<div id="dagSchema" class="schemaPopup">
  <div id="dagSchemaTitle" class="title">
    <div class="titleContentWrap">
      <span class="tableName"></span>
      <span class="numCols" title=""></span>
    </div>
    <div class="close" data-container="body"
       data-toggle="tooltip" title="" data-original-title="<%= dicts.common.Close %>">
      <i class="icon xi-close"></i>
    </div>
  </div>
  <span class="background"></span>
  <div class="rowCount subHeader">
    <div class="text"><%= dicts.queryGraph.numRows %></div>
    <div class="value"></div>
    <i class="icon xi-error error" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="<%= dicts.dataflow.heavySkew %>" data-tipclasses="zIndex10000"></i>
    <i class="icon xi-warning error" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="<%= dicts.dataflow.slightSkew %>" data-tipclasses="zIndex10000"></i>
    <i class="icon xi-arrow-down expand xc-action"></i>
  </div>
  <div class="nodeInfoHeader subHeader">
    <div class="text active">
      <%= dicts.queryGraph.node %>
      <i class="icon xi-sort sort"></i>
    </div>
    <div class="value">
      <span class="innerText">
        <%= dicts.queryGraph.numRowsPct %>
      </span>
      <i class="icon xi-sort sort"></i>
    </div>
  </div>
  <div class="nodeInfoContent"></div>
  <div class="heading">
      <div class="type"><%= dicts.queryGraph.type %></div>
      <div class="field"><%= dicts.queryGraph.field %></div>
  </div>
  <div class="content"></div>
</div>



<!-- End Of Dag Panel -->
