<!-- Dag Panel -->
<div id="dagPanelContainer">
  <div id="dagPanel" class="hidden midway no-selection invisible">
    <div class="topBorder">
      <div id="dagPulloutTab">
        <div class="border"></div>
        <div class="border"></div>
      </div>
    </div>
    <div class="topButtons">
      <i id="maximizeDag" class="icon xi-fullscreen fa-18 btnDeselected"
      data-container="body" data-toggle="tooltip" title="<%= dicts.common.maximize %>">
      </i>
      <i id="closeDag" class="icon xi-close fa-15 btnDeselected"
      data-container="body" data-toggle="tooltip" title="<%= dicts.common.close %>">
      </i>
    </div>
    <div class="dagArea">
      <div class="legendArea">
        <div class="infoBox">
          <i class="icon xi-info-circle-outline"></i>
        </div>
        <div class="datasetArea descriptionArea">
          <div class="dataStoreIcon legendIcon"></div>
          <i class="icon xi_data"></i>
          <span class="text"><%= dicts.common.DS %></span>
        </div>
        <div class="tableArea descriptionArea">
          <div class="dagTableIcon legendIcon"></div>
          <i class="icon xi_table"></i>
          <span class="text"><%= dicts.common.Table %></span>
        </div>
        <div class="operationArea descriptionArea">
          <div class="actionTypeWrap legendIcon">
            <div class="dagIcon"></div>
          </div>
          <span class="text"><%= dicts.common.Op %></span>
        </div>
      </div>
    </div>
    <ul class="menu rightClickDropDown">
        <li class="saveImage" data-action="saveImage">
            <%= dicts.MenuTStr.SaveImage %>
        </li>
        <li class="newTabImage" data-action="newTabImage">
            <%= dicts.MenuTStr.OpenImage %>
        </li>
        <li class="unsavable" data-action="none">
            <%= dicts.MenuTStr.Unsavable %>
        </li>
        <li class="unsavable" data-action="none">
            <%= dicts.MenuTStr.ExceedsSize %>
        </li>
        <li class="expandAll" data-action="expandAll">
            <%= dicts.MenuTStr.ExpandAllDags %>
        </li>
         <li class="cannotExpand" data-action="none">
            <%= dicts.MenuTStr.CannotExpand %>
        </li>
        <li class="collapseAll" data-action="collapseAll">
          <%= dicts.MenuTStr.CollapseQG %>
        </li>
        <li class="archiveTable" data-action="archiveTable">
            <%= dicts.MenuTStr.Archive %>
        </li>
        <li class="deleteTable" data-action="deleteTable">
            <%= dicts.MenuTStr.DelTbl %>
        </li>
    </ul>
    <ul class="menu dagTableDropDown">
      <li class="addTable">
          <%= dicts.MenuTStr.AddTblToWS %>
      </li>
      <li class="revertTable">
          <%= dicts.MenuTStr.RevertTbl %>
      </li>
      <li class="focusTable">
          <%= dicts.MenuTStr.FocusTbl %>
      </li>
      <li class="archiveTable">
        <%= dicts.MenuTStr.Archive %>
      </li>
      <li class="deleteTable">
        <%= dicts.MenuTStr.DelTbl %>
      </li>
      <li class="lockTable" title="<%= dicts.TooltipTStr.LockTable %>">
          <%= dicts.MenuTStr.LockTbl %>
      </li>
      <li class="unlockTable"
          title="<%= dicts.TooltipTStr.AllowDelete %>">
          <%= dicts.MenuTStr.UnlockTbl %>
      </li>
      <li class="deleteTableDescendants unavailable" data-toggle="tooltip"
          data-placement="bottom" data-container="body"
          title="<%= dicts.common.ComeSoon %> ">
          <%= dicts.MenuTStr.DelTblDesc %>
      </li>
      <li class="showSchema">
        <%= dicts.MenuTStr.ShowSchema %>
      </li>
    </ul>
  </div>
  <div id="dagScrollBarWrap">
    <div class="sizer"></div>
  </div>
</div>
<!-- End Of Dag Panel -->