<!-- Dag Panel -->
<div id="dagPanelContainer">
  <div id="dagPanel" class="hidden midway no-selection invisible">
    <div class="topBorder">
      <div class="pulloutTabWrap">
        <div id="dagPulloutTab"></div>
      </div>
      <div class="tabShadow"></div>
    </div>
    <div class="topButtons">
      <div id="maximizeDag" class="btn btnSmall btnDeselected"
      data-container="body" data-toggle="tooltip" title="<%= dicts.common.maximize %>">
        <span class="icon iconMaximize"></span>
      </div>
      <div id="closeDag" class="btn btnSmall btnDeselected"
      data-container="body" data-toggle="tooltip" title="<%= dicts.common.close %>">
        <span class="icon iconClose"></span>
      </div>
    </div>
    <div class="dagArea">
      <div class="legendArea">
        <div class="datasetArea descriptionArea">
          <div class="dataStoreIcon legendIcon"></div>
          <div class="icon"></div>
          <span class="text"><%= dicts.common.DS %></span>
        </div>
        <div class="tableArea descriptionArea">
          <div class="dagTableIcon legendIcon"></div>
          <div class="icon"></div>
          <span class="text"><%= dicts.common.Table %></span>
        </div>
        <div class="operationArea descriptionArea">
          <div class="actionTypeWrap legendIcon">
            <div class="dagIcon"></div>
          </div>
          <span class="text"><%= dicts.common.Op %></span>
        </div>
      </div>
    </div>
    <ul class="menu rightClickDropDown">
        <li class="saveImage" data-action="saveImage">
            <%= dicts.MenuTStr.SaveImage %>
        </li>
        <li class="newTabImage" data-action="newTabImage">
            <%= dicts.MenuTStr.OpenImage %>
        </li>
        <li class="unsavable" data-action="none">
            <%= dicts.MenuTStr.Unsavable %>
        </li>
        <li class="unsavable" data-action="none">
            <%= dicts.MenuTStr.ExceedsSize %>
        </li>
        <li class="expandAll" data-action="expandAll">
            <%= dicts.MenuTStr.ExpandAllDags %>
        </li>
         <li class="cannotExpand" data-action="none">
            <%= dicts.MenuTStr.CannotExpand %>
        </li>
        <li class="collapseAll" data-action="collapseAll">
          <%= dicts.MenuTStr.CollapseQG %>
        </li>
        <li class="archiveTable" data-action="archiveTable">
            <%= dicts.MenuTStr.Archive %>
        </li>
        <li class="deleteTable" data-action="deleteTable">
            <%= dicts.MenuTStr.DelTbl %>
        </li>
    </ul>
    <ul class="menu dagTableDropDown">
      <li class="addTable">
          <%= dicts.MenuTStr.AddTblToWS %>
      </li>
      <li class="revertTable">
          <%= dicts.MenuTStr.RevertTbl %>
      </li>
      <li class="focusTable">
          <%= dicts.MenuTStr.FocusTbl %>
      </li>
      <li class="archiveTable">
        <%= dicts.MenuTStr.Archive %>
      </li>
      <li class="deleteTable">
        <%= dicts.MenuTStr.DelTbl %>
      </li>
      <li class="lockTable" title="<%= dicts.TooltipTStr.LockTable %>">
          <%= dicts.MenuTStr.LockTbl %>
      </li>
      <li class="unlockTable"
          title="<%= dicts.TooltipTStr.AllowDelete %>">
          <%= dicts.MenuTStr.UnlockTbl %>
      </li>
      <li class="deleteTableDescendants unavailable" data-toggle="tooltip"
          data-placement="bottom" data-container="body"
          title="<%= dicts.common.ComeSoon %> ">
          <%= dicts.MenuTStr.DelTblDesc %>
      </li>
    </ul>
  </div>
<!--   <div id="dagScrollbarWrap">
    <div class="scrollbar"></div>
  </div> -->
  <div id="dagScrollBarWrap">
    <div class="sizer"></div>
  </div>
</div>
<!-- End Of Dag Panel -->