<!-- XXX: TODO extract out english words -->
<!-- Extension Panel -->
<div id="extensionPanel" class="mainPanel no-selection">
  <div class="topBar">
      <div id="xcExtensionButton" class="buttonArea active">
        <div class="icon"></div>
        <div class="text">XCALAR EXTENSIONS</div>
      </div>
      <div id="customeExtensionButton" class="buttonArea">
        <div class="icon"></div>
        <div class="text">CUSTOM</div>
      </div>
      <div class="rightHeaderArea">
        <div class="text">EXTENSION LIST</div>
      </div>
  </div>
  <div class="mainContent">
    <!-- Extension View -->
    <div id="extensionView">
      <section class="leftContent no-selection">
        <div class="headingArea">
          Installed (<span class="num">0</span>)
        </div>
        <div class="buttonArea">
          <button id="uploadExtension" class="btn btnLarge iconBtn">
            <span class="icon"></span>
            UPLOAD CUSTOM EXTENSION
          </button>
        </div>
        <div class="extensionListArea">
          <ul id="extensionLists" class="extensionLists"></ul>
        </div>
      </section>
      <section class="midContent">
        <!-- midContent Header -->
        <div class="midContentHeader">
          <div class="searchArea">
            <input type="text">
            <span class="icon"></span>
          </div>
          <div id="extensionViewButtons" class="buttonArea">
            <div class="btn listView">
              <span class="icon"></span>
            </div>
            <div class="btn gridView active">
              <span class="icon"></span>
            </div>
          </div>
        </div>
        <div class="midContentTopMain">
          <span class="text">URL:</span>
          <input type="text">
          <button class="btn btnMid">BROWSE</button>
        </div>
        <!-- end of midContent Header -->
        <div id="extensionInstallPanel" class="midContentMain">
          <!-- <div class="category">
            <div class="title">Popular Extension</div>
            <div class="items">
              <div class="item">
                <div class="logoArea"></div>
                <div class="instruction">
                  <div class="extensionName textOverflowOneLine">Extension Name</div>
                  <div class="author textOverflowOneLine">by <span class="text"></span>Author</div>
                  <div class="detail textOverflow">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                  proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                </div>
                <div class="buttonArea">
                  <button class="btn btnMid install">INSTALL</button>
                  <button class="btn btnMid btn-cancel more">VIEW MORE</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <!-- end of midContentMain -->
      </section>
    </div>
    <!-- End of Extension View -->
  </div>
</div>
<!-- End of Extension Panel -->