<!-- Extension Panel -->
<div id="extensionPanel" class="mainPanel no-selection">
  <div class="topBar">
      <div id="xcExtensionButton" class="buttonArea active">
        <div class="icon"></div>
        <div class="text"><%= dicts.extension.XCEXT %></div>
      </div>
      <div id="customExtensionButton" class="buttonArea">
        <div class="icon"></div>
        <div class="text"><%= dicts.extension.CUSTOM %></div>
      </div>
      <div class="rightHeaderArea">
        <div class="text"><%= dicts.extension.EXTList %></div>
      </div>
  </div>
  <div class="mainContent">
    <!-- Extension View -->
    <div id="extensionView">
      <section class="leftContent no-selection">
        <div class="headingArea">
          <%= dicts.extension.Installed %> (<span class="num">0</span>)
        </div>
        <div class="buttonArea">
          <button id="uploadExtension" class="btn btnLarge iconBtn">
            <span class="icon"></span><%= dicts.extension.Updalod %>
          </button>
        </div>
        <div class="extensionListArea">
          <ul id="extension-installedLists" class="extensionLists"></ul>
        </div>
      </section>
      <section class="midContent">
        <!-- midContent Header -->
        <div class="midContentHeader">
          <div id="extension-search" class="searchArea">
            <input type="text" placeholder="<%= dicts.extension.SearchHint %>">
            <span class="icon"></span>
          </div>
          <div id="extensionViewButtons" class="buttonArea">
            <div class="btn listView">
              <span class="icon"></span>
            </div>
            <div class="btn gridView active">
              <span class="icon"></span>
            </div>
          </div>
        </div>
        <div class="midContentTopMain">
          <span class="text"><%= dicts.common.URL %>:</span>
          <input type="text">
          <button class="btn btnMid"><%= dicts.common.BROWSE %></button>
        </div>
        <!-- end of midContent Header -->
        <div id="extensionInstallPanel" class="midContentMain">
          <div class="errorSection default-hidden wait-hidden"></div>
          <div class="waitSection default-hidden error-hidden">
            <div class="wrapper">
              <div class="text"><%= dicts.extension.Load %></div>
              <div class="animatedEllipsis">
                <div>.</div>
                <div>.</div>
                <div>.</div>
              </div>
            </div>
          </div>
          <div class="hintSection default-hidden error-hidden wait-hidden"><%= dicts.extension.Hint %></div>
          <div class="categorySection error-hidden wait-hidden"></div>
        </div>
        <!-- end of midContentMain -->
      </section>
    </div>
    <!-- End of Extension View -->
  </div>
</div>
<!-- End of Extension Panel -->