<div id="homeScreen" class="mainPanel mainScreen">
  <div class="topBar"></div>
  <div class="contentSection">
    <div id="loadScreenBtn" class="box" data-id="load">
      <div class="image">
        <i class="icon xi-worksheet"></i>
        <i class="arrow icon xi-arrowtail-right"></i>
        <i class="icon xi-table-outline"></i>
      </div>
      <div class="text">Load</div>
      <div class="detail">
        <ul>
          <li>Browse data in AWS S3</li>
          <li>Discover file schema</li>
          <li>Load table into notebook</li>
        </ul>
      </div>
    </div>
    <div id="notebookScreenBtn" class="box" data-id="notebook">
      <div class="image">
        <i class="icon xi-notebook-workspace"></i>
      </div>
      <div class="text">Notebook</div>
      <div class="detail">
        <ul>
          <li>Explore data with SQL</li>
          <li>Create custom functions</li>
          <li>Build data apps</li>
        </ul>
      </div>
    </div>
    <div class="box" data-id="connect">
      <div class="image">
        <i class="icon xi-connector-outline"></i>
      </div>
      <div class="text">Connect</div>
      <div class="detail">
        <div class="hint">Coming Soon...</div>
        <ul>
          <li>Connect to any data lake</li>
        </ul>
      </div>
    </div>
    <div class="box" data-id="schedule">
      <div class="image">
        <i class="icon xi-menu-scheduler"></i>
      </div>
      <div class="text">Schedule</div>
      <div class="detail">
        <div class="hint">Coming Soon...</div>
          <ul>
            <li>Schedule a data app</li>
            <li>Manage schedulers</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>