<link href='../../3rd/fonts/raleway/raleway.css' rel='stylesheet' type='text/css'>
<link href='../../3rd/fonts/opensans/opensans.css' rel='stylesheet' type='text/css'>
<link href="../stylesheets/css/login.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div id="logo" class="xc-logo">
    <div class="innerShadow"></div>
    <i class="icon xi_logo"></i>
  </div>
  <div id="loginContainer">
    <div class="outerWrap">
      <header>
        <h2 class="loginHeader"><%= dicts.login.loginHeader %></h2>
        <h2 class="signupHeader hidden"><%= dicts.login.loginHeader %></h2>
      </header>
    </div>
    <div id="loadingBar">
      <div class="innerBar"></div>
    </div>
    <div class="outerWrap">
      <div id="formArea">
        <form id="loginForm" autocomplete="off">
          <div class="section">
            <label for="loginNameBox">
              <input name="noautocomplete" type="text" class="input" autocomplete="off" style="display: none;">
              <input id="loginNameBox" name="noautocomplete" type="text" class="input" autocomplete="off" spellcheck="false" autofocus required>
              <div class="label"><%= dicts.login.username %></div>
            </label>
          </div>
          <div class="section">
            <label for="loginPasswordBox">
              <input name="noautocomplete2" type="password" class="input" autocomplete="off" value=" " style="display: none;">
              <input id="loginPasswordBox" name="noautocomplete2" class="input" type="password" autocomplete="off">
              <div class="label"><%= dicts.login.password %></div>
            </label>
          </div>
          <!-- <div class="passwordForgot">Forgot your password?</div> -->
          <input id="loginButton" class="btn login" type="submit" value="<%= dicts.login.login %>">
          <!-- XX SIGN UP TEMPORARILY HIDDEN -->
          <!-- 
          <input id="signupButton" class="btn signup" type="button" name="signup" value="<%= dicts.login.signup %>">
          -->
        </form>
        <form id="signupForm" autocomplete="off">
          <div class="nameSection section">
            <input id="signup-firstName" class="input" required autocomplete="off">
            <div class="label"><%= dicts.login.firstName %></div>
          </div>
          <div class="nameSection section">
            <input id="signup-lastName" class="input" required autocomplete="off">
            <div class="label"><%= dicts.login.lastName %></div>
          </div>
          <div class="section">
            <input id="signup-userName" class="input" required autocomplete="off">
            <div class="label"><%= dicts.login.usernameLower %></div>
          </div>
          <div class="section">
            <input id="signup-email" class="input" type="email" required autocomplete="off">
            <div class="label"><%= dicts.login.email %></div>
          </div>
          <div class="section confirmSection">
            <input id="signup-confirmEmail" class="input" type="email" required autocomplete="off">
            <div class="label"><%= dicts.login.confirmEmail %></div>
          </div>
          <div class="section">
            <input id="signup-password" class="input" type="password" required autocomplete="off">
            <div class="label"><%= dicts.login.passwordLower %></div>
          </div>
          <div class="section confirmSection">
            <input id="signup-confirmPassword" class="input" type="password" required autocomplete="off">
            <div class="label"><%= dicts.login.confirmPassword %></div>
          </div>
          <div class="section submitSection clearfix">
            <div class="part termPart clearfix">
              <div class="text">
                <label for="signup-termCheck"><%= dicts.login.IAgree %> <a id="signup-term"><%= dicts.login.terms %></a></label>
              </div>
              <input id="signup-termCheck" type="checkbox" class="checkbox" required>
            </div>
            <div class="part clearfix">
              <input id="signup-submit" class="btn signup" type="submit" value="SIGN UP">
            </div>
          </div>
          <div class="loginSection text">
            <%= dicts.login.alreadyAccount %> <a id="signup-login"><%= dicts.login.signin %></a>
          </div>
        </form>
      </div>
    </div>
  </div>
    <!-- <div id="insightVersion">Version: Current</div> -->
  <script src="../../3rd/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="../js/thrift/XcalarApiVersionSignature_types.js"></script>
  <script src="../js/setup/compatible.js"></script>
  <script src="../js/setup/xvm.js"></script>
  <script src="../js/setup/paths.js"></script>
  <script src="../js/login.js"></script>
  <script src="../js/login_globals.js"></script>
  <script src="../js/globalEnums.js"></script>
</body>
