<!-- Top Menu Bar -->
<div id="menuBar" class="clearfix no-selection">
  <div id="workbookBtn" class="btn btnSmall" data-toggle="tooltip" data-placement="right" data-container="body" title="Workbook">
    <span class="icon"></span>
  </div>
  <div id="mainMenu" class="clearfix">
    <div id="workspaceTab" class="mainMenuTab active">
      <span class="icon mountain-icon"></span><%= dicts.menuBar.ws %>
    </div>
    <div id="monitorTab" class="mainMenuTab">
      <span class="icon monitor-icon"></span><%= dicts.menuBar.monitor %>
    </div>
    <div id="dataStoresTab" class="mainMenuTab firsTouch">
      <span class="icon db-icon"></span><%= dicts.menuBar.ds %>
    </div>
    <div id="schedulerTab" class="mainMenuTab">
      <span class="icon scheduler-icon"></span><%= dicts.menuBar.schde %>
    </div>
    <div id="extensionTab" class="mainMenuTab">
      <span class="icon extension-icon"></span><%= dicts.menuBar.exts %>
    </div>
  </div>
  <div id="logo"></div>
  <div id="userNameArea" style="display:none;">
    <span><%= dicts.menuBar.welcome %>: </span>
    <span id="userName" class="text"><%= dicts.menuBar.user %></span>
  </div>
  <div id="userNamePopout">
    <div id="peri"><%= dicts.menuBar.signInAs %>:</div>
    <br/>
    <div id="name"><span class="text"><%= dicts.menuBar.Vikram %></span> |</div>
    <div id="signout"><%= dicts.menuBar.signOut %></div>
  </div>
</div>
<!-- End of Menu Bar -->