<div id="modelingDagPanel" class="mainPanel no-selection">
    include "worksheet/dagViewBar.html"
    <div id="dagViewContent" class="mainContent">
        <div id="dagStatsPanel" class="dagContainer showProgressTips showConfigInfo showTableName xc-hidden">
            <div class="dataflowMainArea">
                <div class="queryList"></div>
                <div class="dataflowWrap">
                    <div class="innerDataflowWrap">
                        <div id="dataflowStatsBtn"><i class="icon xi-graph"></i>View Stats</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>