<!-- MONITOR PANEL -->
<div id="monitorPanel" class="mainPanel no-selection">
  <div id="monitorTopBar" class="topBar">
    <div id="systemButton" class="buttonArea active">
      <div class="icon"></div>
      <div class="text"><%= dicts.monitor.SYS %></div>
    </div>
    <div id="queriesButton" class="buttonArea">
      <div class="icon"></div>
      <div class="text"><%= dicts.monitor.QUERIES %></div>
    </div>
    <div id="setupButton" class="buttonArea">
      <div class="icon"></div>
      <div class="text"><%= dicts.monitor.SETUP %></div>
    </div>
  </div>
  <!-- System Section -->
  <section id="monitor-system" class="monitorSection active">
  <!-- <div class="monitorSubPanel" id="systemPanel"> -->
    <!-- asupSub section -->
    <div class="asupSubSection">
      <div class="asupSection">
        <div class="icon"></div>
        <div class="title"><%= dicts.monitor.AUTOSUPPORT %></div>
        <div id="asupBtn" class="onOffBtn off">
          <div class="slider"></div>
          <div class="text offText"><%= dicts.common.OFF %></div>
          <div class="text onText"><%= dicts.common.ON %></div>
        </div>
      </div>
      <div class="subSection">
          <div class="icon"></div>
          <div class="title"><%= dicts.monitor.GENSUB %></div>
          <button id="subBtn" class="btn btnMid"><%= dicts.common.GEN %></button>
      </div>
    </div>
    <!-- end of asupsub section -->
    <!-- top section -->
    <div class="topSection clearfix">
      <div class="sideTabs">
        <div id="cpuTab" class="sideTab active">
          <div class="icon"></div>
          <div class="text"><%= dicts.monitor.CPU %></div>
        </div>
        <div id="ramTab" class="sideTab">
          <div class="icon"></div>
          <div class="text"><%= dicts.monitor.RAM %></div>
        </div>
        <div id="flashTab" class="sideTab" data-toggle="tooltip" data-placement="bottom" data-container="body" title="<%= dicts.common.ComeSoon %>">
            <div class="icon"></div>
            <div class="text"><%= dicts.monitor.FLASH %></div>
        </div>
        <div id="diskTab" class="sideTab" data-toggle="tooltip" data-placement="bottom" data-container="body" title="<%= dicts.common.ComeSoon %>">
            <div class="icon"></div>
            <div class="text"><%= dicts.monitor.NETWORK %></div>
        </div>
      </div>
      <div class="graphSection">
        <div class="graphTop">
          <div id="connectionInfo">
            <span class="text" id="phyNodeText"><%= dicts.monitor.PhysicalNode %>: </span>
            <span class="text" id="phyNode">localhost</span>
            <span class="text" id="virNodeText"><%= dicts.monitor.VirtualNode %>: </span>
            <span class="text" id="virNode">Node 0</span>
          </div>
          <div id="refreshGraph">
            <span class="text"><%= dicts.monitor.AutoRefresh %></span>
            <!-- <div class="icon"></div> -->
          </div>
          <div id="refreshBtn" class="onOffBtn off">
            <div class="slider"></div>
            <div class="text offText"><%= dicts.common.OFF %></div>
            <div class="text onText"><%= dicts.common.ON %></div>
          </div>
          <div class="time">
            <span class="text"><%= dicts.monitor.LastCheckTime %>: </span>
            <span id="graphTime"></span>
          </div>
       </div>
      <!--<div class="graphText">
              <div class="sampleText">SAMPLE</div>
          </div> -->
        <div id="graphWrap">
          <div id="graph">
            <div id="grids"></div>
            <div class="svgWrap"></div>
            <div class="separator"></div>
            <div class="xLabelsWrap">
              <div class="spacer"></div>
              <div class="xLabels"></div>
            </div>
          </div>
        </div>
        <div id="graphParts">
          <div class="yAxis left">
            <span>100</span>
            <span>80</span>
            <span>60</span>
            <span>40</span>
            <span>20</span>
            <span>0 (%)</span>
          </div>
          <div class="graphBackground"></div>
          <div id="rightYAxis" class="yAxis right">
            <span>0 (GB)</span>
          </div>
        </div>
      </div>
    </div>
    <!-- end of top sectoin -->
    <!-- bottom section -->
    <div class="bottomSection flex-container flex-row">
      <!-- donut0 -->
      <div id="donut0" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="innerCircle"></div>
          <div class="donutInfo first">
            <span class="percent userSize">
              <span class="num">0</span>
              <sup>%</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
            <span class="global"></span>
            <span class="user"></span>
          </div>
          <div class="statsHeadingBar small open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.CPU %></span>
            <span class="percent">%</span>
            <span class="num avgNum">0</span>
          </div>
          <div class="listWrap open">
            <ul class="small"></ul>
          </div>
        </div>
      </div>
      <!-- donut1 -->
      <div id="donut1" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="innerCircle"></div>
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">200</span>
              <sup>GB</sup>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">293</span>
              <sup>GB</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
              <span class="global"><%= dicts.monitor.GTotal %></span>
              <span class="user"><%= dicts.monitor.UTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.RAM %></span>
            <span class="userSize">
              <span class="avgNum">45 GB</span>
            </span>
            <span class="totalSize">
              <span class="totNum">128 GB</span>
            </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
      <!-- donut2 -->
      <div id="donut2" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="sampleText"><%= dicts.monitor.SAMPLE %></div>
          <div class="innerCircle"></div>
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">200</span>
              <sup>GB</sup>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">293</span>
              <sup>GB</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
            <span class="global"><%= dicts.monitor.GTotal %></span>
            <span class="user"><%= dicts.monitor.UTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.FLASH %></span>
            <span class="userSize">
              <span class="avgNum">45 GB</span>
            </span>
            <span class="totalSize">
              <span class="totNum">128 GB</span>
            </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
      <!-- dount3 -->
      <div id="donut3" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="sampleText"><%= dicts.monitor.SAMPLE %></div>
          <div class="innerCircle"></div>
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">100</span>
              <sup>Mbps</sup>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">193</span>
              <sup>Mbps</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
            <span class="global"><%= dicts.monitor.GTotal %></span>
            <span class="user"><%= dicts.monitor.UTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.NETWORK %></span>
            <span class="userSize">
              <span class="avgNum">45</span> Mbps
            </span>
            <span class="totalSize">
              <span class="totNum">128</span> Mbps
            </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end of bottom section -->
  </section>
  <!-- End Of System Section -->
  <!-- Queries Section -->
  <section id="monitor-queries" class="monitorSection">
    <!-- Left Section, list of queries -->
    <div class="leftSection">
      <section class="titleSection">
        <h1><%= dicts.monitor.RecentQueries %></h1>
      </section>
      <!-- Queery list Section -->
      <section class="queryListSection">
        <!-- placeholder -->
        <div class="queryList play">
          <div class="headBar"></div>
          <div class="queryInfo">
            <div class="name">Xcalar worksheet 01</div>
            <div class="date">Started 06:25:45 02-26-2015</div>
          </div>
          <div class="queryProgress">
            <div class="barIcon icon"></div>
            <div class="barContainer">
                <div class="progressBar" style="width:40%"></div>
            </div>
            <div class="refreshIcon icon"></div>
            <div class="deleteIcon icon"></div>
            <div class="divider"></div>
            <div class="inspectIcon icon"></div>
          </div>
        </div>

        <div class="queryList done active">
          <div class="headBar"></div>
          <div class="queryInfo">
            <div class="name">Xcalar worksheet 03</div>
            <div class="date">Started 06:25:45 02-15-2015</div>
          </div>
          <div class="queryProgress">
            <div class="barIcon icon"></div>
            <div class="barContainer">
                <div class="progressBar"></div>
            </div>
            <div class="refreshIcon icon"></div>
            <div class="deleteIcon icon"></div>
            <div class="divider"></div>
            <div class="inspectIcon icon"></div>
          </div>
        </div>
      </section>
    </div>
    <!-- Right section, queries detatils -->
    <div class="rightSection">
      <section class="titleSection">
        <h1>Detail of Xcalar worksheet 03</h1>
      </section>
      <!-- Status Part -->
      <section class="statusSection">
        <div class="title">
          <h2><%= dicts.monitor.STATUS %></h2>
        </div>
        <div class="conent">
          <div class="status">
            <span class="name"><%= dicts.monitor.StartedTime %>:</span>
            <span class="text">06:25:45 02-15-2015 GMT-08:00</span>
          </div>
          <div class="status">
            <span class="name"><%= dicts.monitor.ElaspedTime %>:</span>
            <span class="text">01:28:21</span>
          </div>
          <div class="status">
            <span class="name"><%= dicts.monitor.RemainTime %>:</span>
            <span class="text">00:00:00</span>
          </div>
          <div class="status">
            <span class="name"><%= dicts.monitor.TotalTime %>:</span>
            <span class="text">01:28:21</span>
          </div>
        </div>
      </section>
      <div class="divider"></div>
      <!-- Output Detail -->
      <section class="outputSection">
        <div class="title">
          <h2><%= dicts.monitor.OUTPUT %></h2>
        </div>
        <div class="content">
          <span class="text"><%= dicts.monitor.ip %>...</span>
        </div>
        <div class="buttonArea">
          <button id="monitor-inspect" class="btn btnLarge iconBtn btnInactive">
            <span class="icon"></span><%= dicts.monitor.VIEWOUTPUT %>
          </button>
          <button id="monitor-export" class="btn btnLarge iconBtn btnInactive">
            <span class="icon"></span><%= dicts.monitor.EXPORT %>
          </button>
        </div>
      </section>
      <div class="divider"></div>
      <!-- SQL Part -->
      <section class="operationSection">
        <div class="title">
          <h2><%= dicts.common.OP %></h2>
        </div>
        <div class="content">
          <div class="sqlWrap">
            <div class="lineMarkerArea"></div>
            <div class="sqlArea"></div>
          </div>
        </div>
      </section>
    </div>
  </section>
  <!-- End Of Queries Section -->
  <!-- Setup Section -->
  <section id="monitor-setup" class="monitorSection">
    <div class="topSection"><%= dicts.monitor.Config %></div>
    <div class="midSection">
      <div class="visualArea">
        <div class="clusterIcon">
          <div class="icon"></div>
        </div>
        <div class="nodeIcon">
          <div class="icon"></div>
        </div>
      </div>
      <div class="optionsArea">
        <div class="optionRow">
          <div class="nameArea">
            <span class="label"><%= dicts.common.Name %>: </span>
            <span class="name">DsDefaultSampleSize</span>
          </div>
          <div class="valueArea">
            <span class="label"><%= dicts.common.Val %>: </span>
            <input type="text">
          </div>
          <div class="buttonArea">
            <button class="btn btnMid"><%= dicts.common.BROWSE %></button>
          </div>
        </div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
        <div class="optionRow"></div>
      </div>
    </div>
    <div class="bottomSection">
      <button class="btn btnMid"><%= dicts.common.CONFIRMSAVE %></button>
      <button class="btn btnMid"><%= dicts.common.CONFIRMRESTART %></button>
      <button class="btn btnMid cancel"><%= dicts.common.CANCEL %></button>
    </div>
  </section>
  <!-- End of Setup Section -->
</div>
<!-- END OF MONITOR PANEL -->