<% var tag = dicts.isUnitTest ? 'data-cover' : '' %>
<!-- 3rd Party Stuff -->
<script src="3rd/d3.min.js" charset="utf-8"></script>
<script src="3rd/tableau-2.0.3.min.js" type="text/javascript"></script>
<script src="3rd/jquery-ui.js" charset="utf-8"></script>
<script src="3rd/bower_components/bootstrap/js/tooltip.js"></script>
<script src="3rd/bower_components/caret/jquery.caret.js" type="text/javascript"></script>
<script src="3rd/jQuery-MD5-master/jquery.md5.js" type="text/javascript"></script>

<!-- 3rd party CodeMirror -->
<script src="3rd/bower_components/CodeMirror/lib/codemirror.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/edit/matchbrackets.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/edit/closebrackets.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/display/placeholder.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/hint/show-hint.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/hint/python-hint.js"></script>
<link rel="stylesheet" type="text/css" href="3rd/bower_components/CodeMirror/addon/hint/show-hint.css">
<script src="3rd/bower_components/CodeMirror/mode/python/python.js"></script>
<script src="3rd/bower_components/CodeMirror/mode/spreadsheetXcalarCustom/spreadsheet.js"></script>


<!-- Backend Thrift Stuff -->
<script src="assets/js/thrift/thrift.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataFormatEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/LibApisEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/QueryStateEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataFormatEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/JoinOpEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/Status_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/LibApisCommon_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/LibApisConstants_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/FunctionCategory_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DagStateEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApiService.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApiServiceAsync.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataTargetEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataTargetTypes_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/SourceTypeEnum_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DagTypes_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/UdfTypes_types.js" type="text/javascript"></script>
<script src="assets/js/config.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApiVersionSignature_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/OrderingEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApi.js" type="text/javascript"></script>
<script src="assets/js/thrift/SchedTaskType_types.js" type="text/javascript"></script>

<!-- Start Xcalar Insight stuff -->
<script src="assets/lang/en/jsTStr.js" type="text/javascript"></script>
<script src="assets/js/XcalarThrift.js" type="text/javascript"></script>
<script src="assets/js/enums.js" type="text/javascript"></script>
<script src="assets/js/setup/constructorVersion.js" type="text/javascript"></script>
<script src="assets/js/setup/constructor.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/setup/xvm.js"></script>
<script src="assets/js/setup/compatible.js" type="text/javascript"></script>
<script src="assets/js/resultSet.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/globals.js" type="text/javascript"></script>
<script src="assets/js/script.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/workbookManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/XFTSupportTools.js" type="text/javascript" <%= tag %>></script>

<!-- worksheet file -->
<script src="assets/js/worksheet/wsManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/tPrefix.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/tablelist.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/aggregates.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/fnBar.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/tableMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/tableAnim.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/tableFunctions.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/rowScroller.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/tableManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/colManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/dagFunction.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/dag.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/operationsView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/joinView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/exportView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/smartCastView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/worksheet/DFCreateView.js" type="text/javascript" <%= tag %>></script>
<!-- end of worksheet file -->

<!--menu files -->
<script src="assets/js/menuBar/workbook.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/menuBar/mainMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/menuBar/udf.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/menuBar/help.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/menuBar/sql.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/menuBar/bottomMenu.js" type="text/javascript" <%= tag %>></script>
<!-- menu files -->

<!-- datastore file -->
<script src="assets/js/datastore/datastore.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/dsForm.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/fileBrowser.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/filePreviewer.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/dsTable.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/dsPreview.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/dsCart.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/ds.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/datastore/dsExport.js" type="text/javascript" <%= tag %>></script>
<!-- end of datastore file -->

<!-- monitor file-->
<script src="assets/js/monitor/monitorPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/monitor/monitorGraph.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/monitor/queryManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/monitor/monitorConfig.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/monitor/userSettings.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/monitor/supportTools.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/monitor/admin.js" type="text/javascript" <%= tag %>></script>
<!-- end of monitor file -->

<!-- modal file -->
<script src="assets/js/modal/jsonModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/alert.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/aggModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/profile.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/dfgParamModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/deleteTableModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/extModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/licenseModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/supTicketModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/modal/aboutModal.js" type="text/javascript" <%= tag %>></script>
<!-- end of modal file -->

<!-- util file -->
<script src="assets/js/util/tips.js" type="text/javascript"></script>
<script src="assets/js/util/statusMessage.js" type="text/javascript"></script>
<script src="assets/js/util/statusBox.js" type="text/javascript"></script>
<script src="assets/js/util/kvStore.js" type="text/javascript"></script>
<script src="assets/js/util/xcFunctions.js" type="text/javascript"></script>
<script src="assets/js/util/xcHelper.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/util/xcTooltip.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/util/replay.js" type="text/javascript"></script>
<script src="assets/js/util/transaction.js" type="text/javascript"></script>
<script src="assets/js/util/undo.js" type="text/javascript"></script>
<script src="assets/js/util/redo.js" type="text/javascript"></script>
<script src="assets/js/util/support.js" type="text/javascript"></script>
<script src="assets/js/util/promiseHelper.js" type="text/javascript"></script>
<script src="assets/js/util/xiApi.js" type="text/javascript"></script>
<!-- end of util file -->

<!-- sdk file -->
<script src="assets/js/sdk/extensionApi_Basic.js" type="text/javascript"></script>
<script src="assets/js/sdk/extensionApi_Operations.js" type="text/javascript"></script>
<script src="assets/js/sdk/tableApi.js" type="text/javascript"></script>
<script src="assets/js/sdk/promiseApi.js" type="text/javascript"></script>
<script src="assets/js/sdk/columnApi.js" type="text/javascript"></script>
<script src="assets/js/sdk/enumsApi.js" type="text/javascript"></script>
<!-- end of sdk file -->


<script src="assets/lang/en/walkthroughTStr.js" type="text/javascript"></script>
<script src="assets/js/setup/authentication.js" type="text/javascript"></script>
<!-- <script src="assets/js/setup/userSettings.js" type="text/javascript"></script> -->
<script src="assets/js/tutorial/tutorialsSetup.js" type="text/javascript"></script>
<script src="assets/js/tutorial/intro.js" type="text/javascript"></script>
<script src="assets/js/tutorial/helpHashTags.js" type="text/javascript"></script>

<!-- dataflow -->
<script src="assets/js/dataflow/dataflowPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/dataflow/df.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/dataflow/dfCard.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/dataflow/uploadDataflowCard.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/dataflow/scheduleView.js" type="text/javascript" <%= tag %>></script>
<!-- end of dataflow -->

<!-- tests -->
<script src="assets/test/testSuite.js" type="text/javascript"></script>
<script src="assets/test/undoredoTest.js" type="text/javascript"></script>
<!-- end of tests -->

<script src="assets/js/setup/testDataLocation.js" type="text/javascript"></script>

<script src="assets/js/extPanel.js" type="text/javascript"></script>
<script src="assets/extensions/extManager.js" type="text/javascript"></script>
<!-- start auto template tags -->
<!-- end auto template tags -->

<!-- Start up script -->
