<% var tag = dicts.isUnitTest ? 'data-cover' : '' %>
<!-- 3rd Party Stuff -->
<script src="3rd/d3.min.js" charset="utf-8"></script>
<script src="3rd/microsoft-authentication-library-for-js/dist/msal.js" type="text/javascript"></script>
<script src="3rd/tableau-2.0.3.min.js" type="text/javascript"></script>
<script src="3rd/jquery-ui.js" charset="utf-8"></script>
<script src="3rd/jquery.mousewheel.min.js"></script>
<script src="3rd/bower_components/bootstrap/js/tooltip.js"></script>
<script src="3rd/jquery.caret-master/src/jquery.caret.js" type="text/javascript"></script>
<script src="3rd/jQuery-MD5-master/jquery.md5.js" type="text/javascript"></script>
<script src="3rd/jquery-scrollintoview-master/jquery.scrollintoview.js" type="text/javascript"></script>
<script src="3rd/socket.io.min.js" type="text/javascript"></script>
<script src="3rd/bower_components/crypto-js/crypto-js.js"></script>
<script src="3rd/bower_components/cron-parser/lib/date.js"></script>
<script src="3rd/bower_components/cron-parser/lib/expression.js"></script>
<script src="3rd/bower_components/cron-parser/lib/parser.js"></script>
<script src="3rd/bower_components/cron-parser/lib/umd.js"></script>
<script src="3rd/bower_components/dom-to-image/dist/dom-to-image.min.js"></script>
<script src="3rd/bower_components/pako/dist/pako.min.js"></script>
<script src="3rd/azure-storage-js-2.10.101/azure-storage.blob.min.js"></script>
<script src="3rd/AJV/ajv.js"></script> <!-- json schema validator -->
<!-- 3rd party CodeMirror -->
<script src="3rd/bower_components/CodeMirror/lib/codemirror.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/edit/matchbrackets.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/edit/closebrackets.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/display/placeholder.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/hint/show-hint.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/hint/python-hint.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/hint/sql-hint.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/search/search.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/search/searchcursor.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/dialog/dialog.js"></script>
<link rel="stylesheet" href="3rd/bower_components/CodeMirror/addon/lint/lint.css">
<script src="3rd/bower_components/CodeMirror/addon/jsonlint.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/lint/lint.js"></script>
<script src="3rd/bower_components/CodeMirror/addon/lint/json-lint.js"></script>
<link rel="stylesheet" type="text/css" href="3rd/bower_components/CodeMirror/addon/hint/show-hint.css">
<link rel="stylesheet" type="text/css" href="3rd/bower_components/CodeMirror/addon/dialog/dialog.css">
<script src="3rd/bower_components/CodeMirror/mode/python/python.js"></script>
<script src="3rd/bower_components/CodeMirror/mode/sql/sql.js"></script>
<script src="3rd/bower_components/CodeMirror/mode/javascript/javascript.js"></script>
<script src="3rd/bower_components/CodeMirror/mode/spreadsheetXcalarCustom/spreadsheet.js"></script>
<script src="3rd/bower_components/moment/min/moment.min.js"></script>


<!-- Backend Thrift Stuff -->
<script src="assets/js/thrift/thrift.js" type="text/javascript"></script>
<script src="assets/js/thrift/CsvLoadArgsEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/LibApisEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/QueryStateEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataFormatEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/JoinOpEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/UnionOpEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/Status_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/LibApisCommon_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/LibApisConstants_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/FunctionCategory_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DagStateEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApiService.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApiServiceAsync.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataTargetEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DataTargetTypes_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/SourceTypeEnum_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarEvalEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/DagTypes_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/UdfTypes_types.js" type="text/javascript"></script>
<script src="assets/js/config.js" type="text/javascript"></script>
<script src="assets/js/loginConfig.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApiVersionSignature_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/OrderingEnums_types.js" type="text/javascript"></script>
<script src="assets/js/thrift/XcalarApi.js" type="text/javascript"></script>
<!-- auto template script tags only added in production mode -->
<!-- start auto template tags -->
<!-- end auto template tags -->

<!-- Start Xcalar Design stuff -->
<% if (dicts.product == "XI") { %>
<script src="assets/lang/<%=lang%>/jsTStrXI.js" type="text/javascript"></script>
<% } else { %>
<script src="assets/lang/<%=lang%>/jsTStr.js" type="text/javascript"></script>
<% } %>
<script src="assets/js/globalEnums.js" type="text/javascript"></script>
<script src="assets/js/constructor/A_constructorVersion.js" type="text/javascript"></script>
<script src="assets/js/constructor/B_constructorDefine.js" type="text/javascript"></script>
<script src="assets/js/constructor/DA_persConstructorV1.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/constructor/DB_persConstructorV2.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/constructor/E_persConstructor.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/setup/compatible.js" type="text/javascript"></script>
<script src="assets/js/shared/setup/script.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/setup/enums.js" type="text/javascript"></script>
<script src="assets/js/shared/setup/xcGlobal.js" type="text/javascript"></script>
<script src="assets/js/shared/setup/xvm.js"></script>
<script src="assets/js/shared/setup/xcManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/setup/authentication.js" type="text/javascript" <%= tag %>></script>

<!-- helperClasses -->
<script src="assets/js/shared/helperClasses/ListScroller.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/C_ephConstructor.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/concurrency.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/csHelp.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/kvStore.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/redo.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/repeat.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/replay.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/statusBox.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/statusMessage.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/transaction.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/undo.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/upgrader.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/xcMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/xcSocket.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/xcUser.js" type="text/javascript"></script>
<script src="assets/js/shared/helperClasses/dragDropUploader.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/adminTools.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/helperClasses/FileLister.js" type="text/javascript" <%= tag %>></script>
<!-- workbook file -->
<script src="assets/js/components/workbook/workbookManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/workbook/workbookPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/workbook/workbookSet.js" type="text/javascript" <%= tag %>></script>
<!-- end of workbook file -->
<!-- menu file -->
<script src="assets/js/components/menu/AbstractMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menu/TableMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menu/ColMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menu/CellMenu.js" type="text/javascript" <%= tag %>></script>
<!-- end of menu file -->
<!-- table file -->
<script src="assets/js/components/table/TableComponent.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/TableMenuManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/TablePrefixManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/TblFunc.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/TblManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/RowManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/RowInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/table/TableSkew.js" type="text/javascript" <%= tag %>></script>
<!-- end of table file -->

<!-- worksheet file -->
<script src="assets/js/components/worksheet/xdfManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/worksheetScrollTracker.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/scrollTableChecker.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/wsManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/tablelist.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/aggregates.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/fnBar.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/tblAnim.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/colManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dagFunction.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dagPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dag.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dagDraw.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dagEdit.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/operationsView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/joinView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/unionView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/exportView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/smartCastView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/sortView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dfCreateView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/projectView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/BaseOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/common/OpPanelDropdown.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/common/OpPanelDataRepo.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/common/OpPanelTemplateManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/common/OpPanelNodeDefFactory.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/common/OpPanelNodeRenderFactory.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/common/OpPanelComponentFactory.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/DatasetOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/SetOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/SetOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/OpPanelArg.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/GeneralOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/GeneralOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/FilterOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/FilterOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/PublishIMDOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/IMDTableOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/MapOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/MapOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/AggOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/AggOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/GroupByOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/GroupByOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ProjectOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ProjectOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/JoinOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/JoinOpPanelStep1.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/JoinOpPanelStep2.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/JoinOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ColAssignmentView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ColAssignmentModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/DatasetColRenamePanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/CastOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/DFLinkInOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/DFLinkInOpPanelSchemaSection.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/DFLinkOutOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ExtensionOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ExtensionOpPanelArgSection.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ExtensionOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ExportOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/ExportOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/SQLOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/SQLOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/SplitOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/SplitOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/RoundOpPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/oppanel/RoundOpPanelModel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/workspacePanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/imdPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/worksheet/dagDrag.js" type="text/javascript" <%= tag %>></script>

<!-- end of worksheet file -->

<!--menu files -->
<script src="assets/js/components/menuBar/mainMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menuBar/UDFPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menuBar/help.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menuBar/log.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/menuBar/bottomMenu.js" type="text/javascript" <%= tag %>></script>
<!-- menu files -->

<!-- datastore file -->
<script src="assets/js/components/datastore/dsFormController.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/datastore.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/dsForm.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/fileBrowser.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/filePreviewer.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/dsTable.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/dsPreview.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/ParquetFileForm.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/dsCart.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/ds.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/datastore/dsTargetManager.js" type="text/javascript" <%= tag %>></script>
<!-- end of datastore file -->

<!-- file manager file-->
<script src="assets/js/components/fileManager/FileManagerPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/fileManager/BaseFileManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/fileManager/UDFFileManager.js" type="text/javascript" <%= tag %>></script>
<!-- end of file manager file-->

<!-- monitor file-->
<script src="assets/js/components/monitor/extItem.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/xcSubQuery.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/monitorPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/monitorGraph.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/monitorDonuts.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/queryManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/monitorConfig.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/userSettings.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/monitorLog.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/memoryAlert.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/extensionPanel.js" type="text/javascript"></script>
<script src="assets/js/components/monitor/uploadExtensionCard.js" type="text/javascript"></script>
<script src="assets/js/components/monitor/admin.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/monitor/adminAlertCard.js" type="text/javascript" <%= tag %>></script>
<!-- end of monitor file -->

<!-- modal file -->
<script src="assets/js/components/modal/modalHelper.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/jsonModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/alert.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/aggModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/profile/profile.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/profile/profileEngine.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/profile/profileChart.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/profile/profileSelector.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/deleteTableModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/extModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/licenseModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/supTicketModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/aboutModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/fileInfoModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/dsInfoModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/skewInfoModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/workbookInfoModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/workbookPreview.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/loginConfigModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/liveHelpModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/dfCommentModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/fileListModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/dsImportErrorModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/dfParamModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/sqlQueryHistModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/DagCustomRenameModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/ShareDFModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/DFSettingsModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/DFBrowserModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/DFUploadModal.js" type="text/javascript" <%= tag %>></script>
<!-- end of modal file -->

<!-- shared file -->
<!-- util -->
<script src="assets/js/shared/util/helpHashTags.js" type="text/javascript"></script>
<script src="assets/js/shared/util/xcAssert.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/util/xcConsole.js" type="text/javascript"></script>
<script src="assets/js/shared/util/xcFunction.js" type="text/javascript"></script>
<script src="assets/js/shared/util/xcHelper.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/util/xcTimeHelper.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/util/xcTimePicker.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/util/xcTooltip.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/util/xcSupport.js" type="text/javascript"></script>
<script src="assets/js/shared/util/XcUID.js" type="text/javascript"></script>
<!-- api -->
<script src="assets/js/XcalarThrift.js" type="text/javascript"></script>
<script src="assets/js/shared/api/xiApi.js" type="text/javascript"></script>
<!-- end of shared file -->
<script src="assets/js/promiseHelper.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/httpStatus.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/HTTPService.js" type="text/javascript" <%= tag %>></script>
<!-- sql file -->
<script src="assets/js/components/sql/sqlApi.js" type="text/javascript"></script>
<script src="assets/js/components/sql/sqlEditor.js" type="text/javascript"></script>
<script src="assets/js/components/sql/sqlCompiler.js" type="text/javascript"></script>
<script src="assets/js/components/sql/sqlCache.js" type="text/javascript"></script>
<script src="assets/js/components/sql/sqlQueryHistory.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/sql/sqlQueryHistoryPanel.js" type="text/javascript" <%= tag %>></script>
<!-- end of sql file -->

<!-- parser -->
<script src="assets/js/shared/parser/antlrParser.js" type="text/javascript"></script>
<!-- end of parser file -->

<!-- xcrpc -->
<script src="assets/js/xcrpc/libxce.js" type="text/javascript"></script>

<!-- suggest file -->
<script src="assets/js/shared/util/suggest/xcSuggest.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/shared/util/suggest/skRFPredictor.js" type="text/javascript"></script>
<script src="assets/js/shared/util/suggest/skRFModels.js" type="text/javascript"></script>
<!-- end of suggest file -->

<!-- sdk file -->
<script src="assets/js/sdk/extensionApi_Basic.js" type="text/javascript"></script>
<script src="assets/js/sdk/extensionApi_Operations.js" type="text/javascript"></script>
<script src="assets/js/sdk/tableApi.js" type="text/javascript"></script>
<script src="assets/js/sdk/promiseApi.js" type="text/javascript"></script>
<script src="assets/js/sdk/columnApi.js" type="text/javascript"></script>
<script src="assets/js/sdk/enumsApi.js" type="text/javascript"></script>
<!-- end of sdk file -->

<script src="assets/lang/en/walkthroughTStr.js" type="text/javascript"></script>
<script src="assets/js/components/tutorial/tutorialsSetup.js" type="text/javascript"></script>
<script src="assets/js/components/tutorial/intro.js" type="text/javascript"></script>

<!-- dataflow -->
<script src="assets/js/components/dataflow/dataflowPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dataflow/df.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dataflow/dfCard.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dataflow/uploadDataflowCard.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dataflow/scheduleView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dataflow/ParamPopup.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dataflow/batchDFParamPopup.js" type="text/javascript" <%= tag %>></script>
<!-- end of dataflow -->

<!-- jupyter -->
<script src="assets/js/components/jupyter/jupyterPanel.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/jupyter/jupyterStubMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/jupyterUDFModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/modal/jupyterFinalizeModal.js" type="text/javascript" <%= tag %>></script>

<!-- end of jupyter -->

<!-- viewer -->
<script src="assets/js/components/viewer/XcViewer.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/viewer/XcTableViewer.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/viewer/XcDatasetViewer.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/viewer/XcTableInWSViewer.js" type="text/javascript" <%= tag %>></script>
<!-- end of viewer -->

<!-- dag -->
<script src="assets/js/components/dag/DagList.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTab.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTabUser.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTabShared.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTabManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagGraphExecutor.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagNodeExecutor.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagNodeFactory.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagLineage.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTable.js" type="text/javascript" <%= tag %>></script>

<script src="assets/js/components/dag/node/DagNode.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeIn.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeOut.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeAggregate.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeDataset.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeDFIn.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeDFOut.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeExport.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeFilter.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeGroupBy.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeIMDTable.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeJoin.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeMap.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeSplit.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeRound.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeProject.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodePublishIMD.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeSet.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeSQL.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeRowNum.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeExtension.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeCustom.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeCustomInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/DagNodeCustomOutput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/node/CommentNode.js" type="text/javascript" <%= tag %>></script>

<script src="assets/js/components/dag/nodeInput/DagNodeInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeAggregateInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeDatasetInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeDFInInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeDFOutInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeExportInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeFilterInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeGroupByInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeIMDTableInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeJoinInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeMapInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeSplitInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeRoundInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeProjectInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodePublishIMDInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeSetInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeSQLInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeRowNumInput.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/nodeInput/DagNodeExtensionInput.js" type="text/javascript" <%= tag %>></script>

<script src="assets/js/components/dag/DagGraph.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagSubGraph.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagEnums.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTopBar.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagCategories.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagCategoryNode.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagCategoryBar.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagView.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagSchemaPopup.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagNodeMenu.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/modals/DagDescriptionModal.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagComment.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTabCustom.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagParamManager.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagParamPopup.js" type="text/javascript" <%= tag %>></script>
<script src="assets/js/components/dag/DagTblManager.js" type="text/javascript" <%= tag %>></script>
<!-- end of dag -->

<!-- tests -->
<script src="assets/test/testSuite.js" type="text/javascript"></script>
<script src="assets/test/behaviorTest/flightTest.js" type="text/javascript"></script>
<script src="assets/test/behaviorTest/flightTestInXD.js" type="text/javascript"></script>
<script src="assets/test/undoredoTest.js" type="text/javascript"></script>
<script src="assets/js/components/sql/sqlTest.js" type="text/javascript"></script>
<!-- end of tests -->

<script src="assets/js/shared/setup/testDataLocation.js" type="text/javascript"></script>
<script src="assets/extensions/extManager.js" type="text/javascript"></script>

<!-- Start up script -->