<div id="statusBar" class="worksheetMode">
  <section id="worksheetInfo" class="clearfix">
    <div class="workspaceArea"><%= dicts.common.XD %></div>
    <div class="workspaceArea">
      <span><%= dicts.workbook.Wkbk %>: </span>
      <span class="wkbkName">
        <%= dicts.isTutor ? dicts.tutor.wkbk : "" %>
      </span>
    </div>
    <div class="workspaceArea">
      <span id="pageStatusText">
        <%= dicts.isTutor ? dicts.tutor.meta.tab : dicts.statusBar.EC %>
      </span>
      <div id="loadingIconWrap">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- XXX TODO: remove it -->
  <div id="dfPanelSwitch" class="btn btn-small xc-hidden" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="<%= dicts.TooltipTStr.OpenDFP %>">
    <i class="icon xi-dfg2"></i>
  </div>
</div>
<div id="pageStatusMenu" class="menu xc-worksheetList"></div>
