<div id="statusBar" class="workspaceBar">
  <section id="worksheetInfo" class="clearfix">
    <div class="workspaceArea"><%= dicts.common.XI %></div>
    <div class="workspaceArea">
      <span><%= dicts.workbook.Wkbk %>: </span>
      <span class="wkbkName">
        <%= dicts.isTutor ? dicts.tutor.wkbk : "" %>
      </span>
    </div>
    <div id="workspaceDate" class="workspaceArea">
      <span><%= dicts.statusBar.create %>: </span>
      <span class="date">
        <%= dicts.isTutor ? dicts.tutor.wkbkDate : "" %>
      </span>
    </div>
    <div class="workspaceArea">
      <span><%= dicts.statusBar.save %>:</span>
      <span id="autoSavedInfo">
        <%= dicts.isTutor ? dicts.tutor.wkbkSaveDate : "" %>
      </span>
    </div>
    <div class="workspaceArea">
      <span id="pageStatusText">
        <%= dicts.isTutor ? dicts.tutor.meta.tab : dicts.statusBar.EC %>
      </span>
      <div id="pageStatusMenu" class="menu xc-worksheetList"></div>
      <div id="loadingIconWrap">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div>
    </div>
  </section>
  <div id="adminViewBtn" class="btn btn-small adminOnly" data-toggle="tooltip" data-container="body" data-placement="left" title="Show current user">
    <i class="icon xi-view-as fa-15"></i>
  </div>
   <div id="dfgPanelSwitch" class="btn btn-small" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="<%= dicts.TooltipTStr.OpenDFP %>">
    <i class="icon xi-dfg2"></i>
  </div>
</div>