<script src="assets/test/unitTest/setupSpec.js"></script>
<script src="assets/test/unitTest/constructor/ephConstructorSpec.js"></script>
<script src="assets/test/unitTest/constructor/persConstructorSpec.js"></script>
<script src="assets/test/unitTest/setup/xcManagerSpec.js"></script>
<script src="assets/test/unitTest/util/xcHelperSpec.js"></script>
<script src="assets/test/unitTest/authenticationSpec.js"></script>
<script src="assets/test/unitTest/util/xcTooltipSpec.js"></script>
<script src="assets/test/unitTest/util/xcTrackerSpec.js"></script>
<script src="assets/test/unitTest/util/xcAssertSpec.js"></script>
<script src="assets/test/unitTest/util/promiseHelperSpec.js"></script>
<script src="assets/test/unitTest/util/xcSocketSpec.js"></script>
<script src="assets/test/unitTest/util/xcMenuSpec.js"></script>
<script src="assets/test/unitTest/workbookManagerSpec.js"></script>
<script src="assets/test/unitTest/menuBar/workbookSpec.js"></script>
<script src="assets/test/unitTest/monitor/queryManagerSpec.js"></script>
<script src="assets/test/unitTest/modals/alertModalSpec.js"></script>
<script src="assets/test/unitTest/modals/aboutModalSpec.js"></script>
<script src="assets/test/unitTest/modals/extModalSpec.js"></script>
<script src="assets/test/unitTest/modals/deleteTableModalSpec.js"></script>
<script src="assets/test/unitTest/modals/previewFileModalSepc.js"></script>
<script src="assets/test/unitTest/modals/supTicketModalSpec.js"></script>
<script src="assets/test/unitTest/modals/licenseModalSpec.js"></script>
<script src="assets/test/unitTest/menuBar/sqlSpec.js"></script>
<script src="assets/test/unitTest/menuBar/udfSpec.js"></script>
<script src="assets/test/unitTest/datastore/datastoreSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsObjSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsFormSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsUploaderSpec.js"></script>
<script src="assets/test/unitTest/datastore/fileBrowserSpec.js"></script>
<script src="assets/test/unitTest/datastore/filePreviewerSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsPreviewSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsParserSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsCartSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsTableSpec.js"></script>
<script src="assets/test/unitTest/datastore/dsExportSpec.js"></script>
<script src="assets/test/unitTest/dataflow/scheduleViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/tableListSpec.js"></script>
<script src="assets/test/unitTest/worksheet/tPrefixSpec.js"></script>
<script src="assets/test/unitTest/worksheet/colManagerSpec.js"></script>
<script src="assets/test/unitTest/worksheet/smartCastViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/wsManagerSpec.js"></script>
<script src="assets/test/unitTest/worksheet/tblManagerSpec.js"></script>
<script src="assets/test/unitTest/worksheet/tblAnimSpec.js"></script>
<script src="assets/test/unitTest/modals/aggModalSpec.js"></script>
<script src="assets/test/unitTest/worksheet/operationsViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/joinViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/exportViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/jsonModalSpec.js"></script>
<script src="assets/test/unitTest/worksheet/aggregatesSpec.js"></script>
<script src="assets/test/unitTest/modals/profileSpec.js"></script>
<script src="assets/test/unitTest/worksheet/dfCreateViewSpec.js"></script>
<script src="assets/test/unitTest/worksheet/fnBarSpec.js"></script>
<script src="assets/test/unitTest/worksheet/tblMenuSpec.js"></script>
<script src="assets/test/unitTest/util/xcalarThriftSpec.js"></script>
<script src="assets/test/unitTest/dataflow/dfCardSpec.js"></script>
<script src="assets/test/unitTest/dataflow/uploadDataflowCardSpec.js"></script>
<script src="assets/test/unitTest/modals/dfParamModalSpec.js"></script>
<script src="assets/test/unitTest/util/xcFunctionSpec.js"></script>
<script src="assets/test/unitTest/suggest/xcSuggestSpec.js"></script>
<script src="assets/test/unitTest/suggest/skRFPredictorSpec.js"></script>
<script src="assets/test/unitTest/worksheet/rowManagerSpec.js"></script>
<script src="assets/test/unitTest/worksheet/rowScrollerSpec.js"></script>
<script src="assets/test/unitTest/worksheet/dagPanelSpec.js"></script>
<script src="assets/test/unitTest/util/concurrencySpec.js"></script>
<!--<script src="assets/test/unitTest/extensions/tfExtSpec.js"></script>-->

