<% var userNameAttr = (dicts.tutor.name == "workbookDemo") ? 'data-introstep="9"' : '' %>
<!-- userBox -->
<div id="userBox">
	<div id="userNameArea" class="xc-action clickable" <%= userNameAttr %>>
    <i class="icon xi-user fa-18"></i>
	</div>
  <div id="autoSaveBtn" class="saveArea xc-action" title="<%= dicts.common.SaveWKBK %>" data-toggle="tooltip" data-container="body" data-placement="left">
    <i class="icon xi-save fa-18"></i>
    <div class="dot"></div>
  </div>
</div>
<div id="userMenu" class="menu">
  <ul>
    <li id="userName" class="textOverflowOneLine">
      <%= dicts.isTutor ? dicts.tutor.user : dicts.menuBar.user %>
    </li>
    <div class="divider"></div>
    <li class="help"><%= dicts.menuBar.Help %></li>
    <li id="signout"><%= dicts.menuBar.signOut %></li>
  </ul>
</div>