<% var userNameAttr = (dicts.tutor.name == "workbookDemo") ? 'data-introstep="w1-user"' : '' %>
<!-- userBox -->
<div id="userBox">
	<button id="userNameArea" class="btn-icon clickable" <%= userNameAttr %>>
    <i class="icon xi-user"></i>
	</button>
  <% if (dicts.tutor.name == "workbookDemo") { %>
  <button id="autoSaveBtn" class="saveArea btn btn-small" data-introstep="w1-save">
    <i class="icon xi-save fa-16"></i>
    <div class="dot"></div>
  </button>
  <% } else { %>
  <button id="autoSaveBtn" class="saveArea btn btn-small" title="<%= dicts.common.SaveWKBK %>" data-toggle="tooltip" data-container="body" data-placement="left">
    <i class="icon xi-save fa-16"></i>
    <div class="dot"></div>
  </button>
  <% } %>
</div>
<div id="userMenu" class="menu">
  <ul>
    <li id="userName" class="textOverflowOneLine">
      <%= dicts.isTutor ? dicts.tutor.user : dicts.menuBar.user %>
    </li>
    <div class="divider"></div>
    <li class="help"><%= dicts.menuBar.Help %></li>
    <li class="about"><%= dicts.menuBar.About %></li>
    <li id="signout"><%= dicts.menuBar.SignOut %></li>
  </ul>
</div>
<!-- This is here for the z-index -->
<div id="funcBarMenu" class="menu">
  <ul>
    <li class="funcBarOption mapMode">f(x)</li>
      <li class="funcBarOption searchMode">
      <i class="icon xi-search"></i>
    </li>
  </ul>
</div>