<% var userNameAttr = (dicts.tutor.name == "workbookTut") ? 'data-introstep="w1-user"' : '' %>
<!-- userBox -->
<div id="userBox">
	<button id="userNameArea" class="btn-icon clickable" <%= userNameAttr %>>
    <i class="icon xi-user"></i>
	</button>
  <button id="memoryAlert" class="btn btn-small" data-toggle="tooltip" data-container="body" data-placement="bottom" data-title="<%= dicts.TooltipTStr.SystemGood %>">
    <i class="icon xi-warning"></i>
    <i class="icon xi-success"></i>
  </button>
</div>
<div id="userMenu" class="menu">
  <ul>
    <li id="userName" class="textOverflowOneLine">
      <%= dicts.isTutor ? dicts.tutor.user : dicts.menuBar.user %>
    </li>
    <div class="divider"></div>
    <li class="help"><%= dicts.menuBar.HelpDocs %></li>
    <li class="about"><%= dicts.menuBar.About %></li>
    <li class="setup adminOnly"><%= dicts.monitor.Setup %></li>
    <li id="signout"><%= dicts.menuBar.SignOut %></li>
  </ul>
</div>
<!-- This is here for the z-index -->
<div id="funcBarMenu" class="menu">
  <ul>
    <li class="funcBarOption mapMode">f(x)</li>
      <li class="funcBarOption searchMode">
      <i class="icon xi-search"></i>
    </li>
  </ul>
</div>