<!-- Work Space Bar -->
<div id="workspaceBar" class="topBar">
  <div id="undoRedoArea" class="workspaceArea">
    <div id="undo" class="disabled" data-toggle="tooltip" data-container="body" data-placement="right">
      <i class="icon xi-undo fa-18"></i>
    </div>
    <div id="redo" class="disabled" data-toggle="tooltip" data-container="body" data-placement="right">
      <i class="icon xi-redo fa-18"></i>
    </div>
    <div class="noUndoTip" data-toggle="tooltip" data-container="body" data-placement="right" data-original-title="Close active form to undo or redo"></div>
  </div>
  <!-- FnBar -->
  <div id="functionArea" class="workspaceArea searchbarArea searching">
    <label for="fnBar">
      <div id="funcBarMenuArea" title="<%= dicts.TooltipTStr.SelectCol%>"
        data-toggle="tooltip" data-container="body" data-placement="bottom">
        <span class="funcBarMode mapMode">f(x)</span>
        <i class="funcBarMode icon xi-search searchMode"></i>
      </div>
    </label>
    <textarea id="fnBar"></textarea>
    <div class="fnBarClone"></div>
    <div class="counter">
      <span class="position"></span>
      <span class="total"></span>
    </div>
    <div class="arrows">
      <div class="upArrow iconWrap">
        <i class="icon xi-up"></i>
      </div>
      <div class="downArrow iconWrap">
        <i class="icon xi-down"></i>
      </div>
    </div>
    <i class="icon xi-close xc-action exitFnBar"></i>
  </div>
  <!-- skew info -->
  <div id="skewInfoArea" class="workspaceArea skewInfoArea" data-toggle="tooltip" data-container="body" data-placement="bottom" data-title="<%= dicts.workspaceBar.ClickToDetail%>">
    <label><%= dicts.workspaceBar.Skew%>:</label>
    <span class="text"></span>
    <div class="divider"></div>
  </div>
  <!-- Row Input -->
  <div id="rowInputArea" class="workspaceArea rowInputArea">
    <label for="rowInput"><%= dicts.workspaceBar.rowInput%>:</label>
    <!-- only allow integer -->
    <input id="rowInput" type="number" min="0" step="1" spellcheck="false">
    <label id="numPages" for="rowInput"></label>
  </div>
</div>
<div id="imdBar" class="topBar xc-hidden">
  <div class="filterListSection">
      <div class="inputArea filterArea">
        <label for="imdFilterInput"><%= dicts.imdBar.Filter%>:</label>
        <input id="imdFilterInput" class="xc-input" spellcheck="false">
        <div class="icon-wrap">
          <i class="xi-search icon"></i>
        </div>
      </div>
  </div>
  <div class="rangeInputArea">
    <div class="inputArea dateArea">
      <label for="imdFromInput"><%= dicts.imdBar.From%>:</label>
      <input id="imdFromInput" class="xc-input" spellcheck="false">
    </div>
    <div class="inputArea fromTimeArea">
        <div class="timePickerArea">
          <div class="input-wrap">
            <input class="time timePickerBox" type="text" spellcheck="false">
          </div>
          <div class="utc-wrap">
            <span class="text">UTC</span>
          </div>
          <!-- Timepicker -->
          <div class="timePicker">
            <div class="textSection">
              <span class="text"><%= dicts.sched.hour %></span>
              <span class="text"><%= dicts.sched.min %></span>
            </div>
            <div class="buttonSection">
              <button class="btn increase hour">
                <div class="bar"></div>
                <div class="bar vertical"></div>
              </button>
              <button class="btn increase minute">
                <div class="bar"></div>
                <div class="bar vertical"></div>
              </button>
              <button class="btn increase ampm">
                <div class="bar"></div>
                <div class="bar vertical"></div>
              </button>
            </div>
            <div class="inputSection">
              <input class="hour" type="number" spellcheck="false" min="1" max="12">
              <input class="minute" type="number" spellcheck="false" min="0" max="59">
              <span class="ampm">PM</span>
            </div>
            <div class="buttonSection">
              <button class="btn decrease hour">
                <div class="bar"></div>
              </button>
              <button class="btn decrease minute">
                <div class="bar"></div>
              </button>
              <button class="btn decrease ampm">
                <div class="bar"></div>
              </button>
            </div>
          </div>
          <!-- End Timepicker -->
        </div>
    </div>

    <div class="inputArea dateArea">
      <label for="imdToInput"><%= dicts.imdBar.To%>:</label>
      <input id="imdToInput" class="xc-input" spellcheck="false">
    </div>
    <div class="inputArea toTimeArea">
      <div class="timePickerArea">
        <div class="input-wrap">
          <input class="time timePickerBox" type="text" spellcheck="false">
        </div>
        <div class="utc-wrap">
          <span class="text">UTC</span>
        </div>
        <!-- Timepicker -->
        <div class="timePicker">
          <div class="textSection">
            <span class="text"><%= dicts.sched.hour %></span>
            <span class="text"><%= dicts.sched.min %></span>
          </div>
          <div class="buttonSection">
            <button class="btn increase hour">
              <div class="bar"></div>
              <div class="bar vertical"></div>
            </button>
            <button class="btn increase minute">
              <div class="bar"></div>
              <div class="bar vertical"></div>
            </button>
            <button class="btn increase ampm">
              <div class="bar"></div>
              <div class="bar vertical"></div>
            </button>
          </div>
          <div class="inputSection">
            <input class="hour" type="number" spellcheck="false" min="1" max="12">
            <input class="minute" type="number" spellcheck="false" min="0" max="59">
            <span class="ampm">PM</span>
          </div>
          <div class="buttonSection">
            <button class="btn decrease hour">
              <div class="bar"></div>
            </button>
            <button class="btn decrease minute">
              <div class="bar"></div>
            </button>
            <button class="btn decrease ampm">
              <div class="bar"></div>
            </button>
          </div>
        </div>
        <!-- End Timepicker -->
      </div>
  </div>
    <div class="inputArea xc-hidden">
      <label for="imdScaleInput"><%= dicts.imdBar.Scale%>:</label>
      <input id="imdScaleInput" class="xc-input" type="number" min="0" step="1" spellcheck="false" value="10">
      <label><%= dicts.imdBar.ScaleUnit%></label>
    </div>
  </div>
</div>
<!-- End Of Work Space Bar -->
