<!-- SCHEDULER PANEL -->
<div id="workbookPanel" class="mainPanel">
  <div id="workbookTopBar" class="topBar">
      <div class="rightHeaderArea">
        <div class="title"><%= dicts.workbook.header %></div>
      </div>
  </div>
  <div class="mainContent">
  	<!-- <div class="subPanel"> -->
  		<div class="flexSection topSection">
	  		<div class="box box-large"></div>
	  		<div class="box box-large"></div>
	  		<div class="box box-large"></div>
	  	</div>
	  	<div class="flexSection bottomSection">
	  		<div class="box box-small"></div>
	  		<div class="box box-small"></div>
	  		<div class="box box-small"></div>
	  		<div class="box box-small"></div>
	  	</div>
  	<!-- </div> -->
  	
  </div>
</div>
<!-- END SCHEDULER PANEL -->
