<!-- SCHEDULER PANEL -->
<div id="workbookPanel" class="mainPanel">
  <div id="workbookTopBar" class="topBar">
      <div class="rightHeaderArea">
        <div class="title"><%= dicts.workbook.header %></div>
      </div>
  </div>
  <div class="mainContent">
  	<!-- <div class="subPanel"> -->
  		<div class="flexSection topSection">
	  		<div class="box box-large">
	  			<div class="leftBar"></div>
	  			<div class="content">
	  				<header class="heading">Hello!</header>
	  				<div class="subHeading">Welcome to <b>Xcalar Insight</b></div>
	  				<p class="description">
	  					The $79 iWork ’08 appears to be a good deal for anyone needing an affordable office suite for the Mac. Apple has finally added a spreadsheet application. At first glance, Numbers is an elegant no-brainer for anyone migrating from Microsoft Excel. In the past, many Mac aficionados bought Microsoft Excel because iWork lacked a spreadsheet application. 
	  				</p>
	  			</div>
	  		</div>
	  		<div class="box box-large">
	  			<div class="leftBar"></div>
	  			<div class="content">
	  				<div class="subHeading">News</div>
	  				<div class="description">
	  					<ul>
	  						<li>Maintain Your Pc S Performance With Pc...</li>
	  						<li>Maintain Your Pc S Performance With Pc...</li>
	  						<li>Maintain Your Pc S Performance With Pc...</li>
	  					</ul>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="box box-large"></div>
	  	</div>
	  	<div class="flexSection bottomSection">
	  		<div class="box box-small newWorkbookBox">
	  			<div class="leftBar"></div>
	  			<div class="content">
	  				<div class="subHeading">New Workbook</div>
	  				<div class="description">Create a new workbook with data and worksheets</div>
	  				<input type="text" placeholder="Workbook name ...">
	  				<button class="btn">Create Workbook</button>
	  			</div>
	  		</div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  	</div>
  	<!-- </div> -->
  	
  </div>
</div>
<!-- END SCHEDULER PANEL -->
