<!-- SCHEDULER PANEL -->
<div id="workbookPanel" class="mainPanel">
  <div id="workbookTopBar" class="topBar">
      <div class="rightHeaderArea">
        <div class="title"><%= dicts.workbook.header %></div>
      </div>
  </div>
  <div class="mainContent">
  	<!-- <div class="subPanel"> -->
  		<div class="flexSection topSection">
	  		<div class="box box-large welcomeBox">
	  			<div class="leftBar vertBar"></div>
	  			<div class="content">
	  				<div class="innerContent">
	  					<header class="heading">Hello <div class="username">User</div>!</header>
		  				<div class="subHeading">Welcome to <b>Xcalar Insight</b></div>
		  				<p class="description">
		  					The $79 iWork ’08 appears to be a good deal for anyone needing an affordable office suite for the Mac. Apple has finally added a spreadsheet application. At first glance, Numbers is an elegant no-brainer for anyone migrating from Microsoft Excel. In the past, many Mac aficionados bought Microsoft Excel because iWork lacked a spreadsheet application. 
		  				</p>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="box box-large newsBox">
	  			<div class="leftBar vertBar"></div>
	  			<div class="content">
	  				<div class="innerContent">
	  					<div class="section">
	  						<div class="subHeading">News</div>
			  				<div class="description">
			  					<ul>
			  						<li><a href="http://www.xcalar.com" target="_blank">Visit Xcalar.com</a></li>
			  						<li>Maintain Your Pc S Performance With Pc...</li>
			  						<li>Maintain Your Pc S Performance With Pc...</li>
			  					</ul>
			  				</div>
	  					</div>
	  					<div class="section">
	  						<div class="subHeading">Help</div>
			  				<div class="description">
			  					<ul>
			  						<li><a href="assets/help/Content/Home.htm" target="xchelp">View our new help documentation</a></li>
			  						<li>Maintain Your Pc S Performance With Pc...</li>
			  						<li>Maintain Your Pc S Performance With Pc...</li>
			  					</ul>
			  				</div>
	  					</div>
	  				</div>
	  				<hr>
	  			</div>
	  		</div>
	  		<div class="box box-large tutBox">
	  			<div class="leftBar vertBar"></div>
	  			<div class="content">
	  				<div class="innerContent">
	  					<div class="subHeading">Tutorials</div>
	  					<div class="helpText"><a href="assets/help/Content/Home.htm" target="xchelp" >Learn more about Xcalar Insight</a></div>
		  				<div class="tutBlock">
		  					<div class="tutBtn">
		  						<i class="icon xi-play-circle"></i>
		  					</div>
		  					<div class="tutText">Tutorials To Get You Started</div>
		  				</div>
		  				<div class="tutBlock">
		  					<a href="assets/help/Content/Home.htm" target="xchelp" >
		  						<div class="tutBtn">
		  						<i class="icon xi-worksheet"></i>
			  					</div>
			  					<div class="tutText">Related Tutorials Help Docs</div>
		  					</a>
		  				</div>
		  				<div class="tutBlock">
		  					<div class="tutBtn">
		  						<i class="icon xi-worksheet"></i>
		  					</div>
		  					<div class="tutText">Step-by-Step Tour</div>
		  				</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	<div class="flexSection bottomSection">
	  		<div class="box box-small newWorkbookBox">
	  			<div class="leftBar vertBar"></div>
	  			<div class="content">
	  				<div class="innerContent">
	  					<div class="subHeading">New Workbook</div>
		  				<div class="description">Create a new workbook with data and worksheets</div>
		  				<input type="text" placeholder="Workbook name ...">
		  				<button class="btn">Create Workbook</button>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="box box-small workbookBox">
	  			<div class="content">
	  				<div class="innerContent">
	  					<div class="subHeading">Workbook Title</div>
	  					<div class="infoSection topInfo">
	  						<div class="row clearfix">
	  							<div class="label">Created by:</div>
	  							<div class="info">Rudy Gagneron</div>
	  						</div>
	  						<div class="row clearfix">
	  							<div class="label">Created on:</div>
	  							<div class="info">8/14/2016</div>
	  						</div>
	  						<div class="row clearfix">
	  							<div class="label">Last Modified:</div>
	  							<div class="info">8/14/2016</div>
	  						</div>
	  					</div>
	  					<div class="infoSection bottomInfo">
	  						<div class="row clearfix">
	  							<div class="label">Worksheets:</div>
	  							<div class="info">3</div>
	  						</div>
	  						<div class="row clearfix">
	  							<div class="label">Status:</div>
	  							<div class="info">Active</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			<div class="rightBar vertBar">
	  				<div class="tab btn btn-small">
	  					<i class="icon xi-play-circle"></i>
	  				</div>
	  				<div class="tab btn btn-small">
	  					<i class="icon xi-edit"></i>
	  				</div>
	  				<div class="tab btn btn-small">
	  					<i class="icon xi-duplicate"></i>
	  				</div>
	  				<div class="tab btn btn-small">
	  					<i class="icon xi-trash"></i>
	  				</div>
	  			</div>
	  		</div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small workbookBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  		<div class="box box-small dummyBox"></div>
	  	</div>
  	<!-- </div> -->
  	
  </div>
</div>
<!-- END SCHEDULER PANEL -->
