<div class="fileManager">
  <div class="fileManagerBar">
    <div class="fileTypeArea">
      <div class="fileTypeBox">
        <div class="fileTypeContent">UDF</div>
        <i class="icon fileTypeIcon xi-arrow-down"></i>
      </div>
    </div>
    <div class="navigationArea">
      <div class="navigationButton">
        <i class="icon xi-previous2"></i>
      </div>
      <div class="navigationButton">
        <i class="icon xi-next2"></i>
      </div>
      <div class="navigationButton">
        <i class="icon xi-refresh"></i>
      </div>
    </div>
    <div class="addressArea">
      <div class="addressBox">
        <div class="addressContent">/user1/workbook1/</div>
      </div>
    </div>
    <div class="actionArea">
      <div class="actionBox">
        <i class="icon actionIcon xi-arrow-down"></i>
        <div class="actionContent">Actions</div>
      </div>
    </div>
    <div class="operationArea">
      <div class="operationContent">
        Create Folder
      </div>
    </div>
    <div class="operationArea oprerationAreaUpload">
      <div class="operationContent">
        Upload
      </div>
    </div>
  </div>
  <div class="fileManagerSearchBar">
    <div class="searchBox">
      <i class="icon searchIcon xi-search"></i>
      <input type="text" class="searchInput xc-input" placeholder="Search">
    </div>
  </div>
  <div class="fileManagerMainArea">
    <div class="section titleSection">
      <div class="row">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty"></i>
        </div>
        <div class="field">
          <span class="label">Name</span>
          <i class="icon xi-sort"></i>
        </div>
        <div class="field">
          <span class="label">Date</span>
          <i class="icon xi-sort"></i>
        </div>
        <div class="field">
          <span class="label">Size</span>
          <i class="icon xi-sort"></i>
        </div>
      </div>
    </div>
    <div class="section mainSection">
      <div class="row">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty"></i>
        </div>
        <div class="field">
          <i class="icon xi-folder"></i>
          <span class="label">New Folder</span>
        </div>
        <div class="field">
          <span class="label">9.10.18 7:10 PM</span>
        </div>
        <div class="field">
          <span class="label">10MB</span>
        </div>
      </div>
      <div class="row">
        <div class="checkBox">
          <i class="icon xi-ckbox-empty"></i>
        </div>
        <div class="field">
          <i class="icon xi-folder"></i>
          <span class="label">New Folder2</span>
        </div>
        <div class="field">
          <span class="label">10.10.18 7:10 PM</span>
        </div>
        <div class="field">
          <span class="label">10KB</span>
        </div>
      </div>
    </div>
  </div>
</div>