// mixins
@import "mixins/grid.less";
@import "mixins/flex.less";
@import "mixins/elements.less";

// partials
@import "type.less";

// make grids
.make-grids();

 /*========== Constants ========== */


@color-input: #909090;
@color-input-active: #E6E6E6;
@color-bar-border: #242C31;
@color-bookmark: #009EFF;
@color-white: #FFFFFF;

/*Tabs*/
@color-tab-border: #4A5D6A;
@color-tab-divider: #838383;

/* Backgrounds */
@color-background-topAction: #5CB2E8;
@color-background-bottomAction: #378CB3;
@color-background-lightGray: #9C9C9C;
@color-background-darkGray: #E6E6E6;
@color-background-topGrayMed: #CCCCCC;
@color-background-midGrayMed: #BEBEBE;
@color-background-bottomGrayMed: #AEAEAE;
@color-arrow-background: #929292;
@color-background-topForm: #F0F0F0;
@colorShadow-black: rgba(0, 0, 0, 0.15);
@color-selectedCell-light: #DDEAF2;

@color-background-sidebar: #BBBBBB;
@color-background-tableBorders: #E6E6E6;
@color-table-borderGray: #838384;
@color-table-borderBlue: #266481;

/* Text */
@color-text-black: #0F0F0F; 
@color-text-white: #FFFFFF; 
@color-text-brightBlue: #5CB2E8;
@color-text-blue: #398EB6;
@color-text-tab: #70828C;
@color-text-darkGray: #4D4D4D;
@color-text-transparentWhite: rgba(255,255,255,0.95);
@color-text-lightGray: #B6B6B6;
@color-text-red: #E04C42;
/* Fonts */
@font-base: "Open Sans", "Trebuchet MS", Arial, sans-serif;
@font-code: "Source Code Pro", courier;

/* Heights */
@default-bar-height: 26px;

.transition (@argument) {
    -webkit-transition: @argument;
    -moz-transition: @argument;
    -ms-transition: @argument;
    -o-transition: @argument;
    transition: @argument;
}

.container {
    font-size: 14px;
    min-width: 850px;
}

.row:before, .row:after, .container:before, .container:after {
    display: table;
    content: " ";
}

.row:after, .container.after {
    clear: both;
}

.action-gradient {
    .linear-gradient(top, @color-background-topAction, @color-background-bottomAction);
}

.gray-gradient {
    .linear-gradient(top, @color-background-topGrayMed, @color-background-bottomGrayMed);
}

.light-gradient {
    .linear-gradient(top, @color-background-darkGray, #C6C6C6);
}

.red-gradient {
    .linear-gradient(top, #F28481, #DC4135);
}

#datastoreView {
    display: none;

    width: 100%;

    position: relative;
    top: 37px;
    top: 0px;
    z-index: 5;

    height: ~"-webkit-calc(100% - 115px)";
    height: ~"-moz-calc(100% - 115px)";
    height: ~"calc(100% - 115px)";
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    // overflow-y: scroll;

    #contentHeader {
        height: 38px;
        width: 100%;

        // position: fixed;
        position: absolute;
        z-index: 6;
        top: -1px;

        color: @color-text-darkGray;
        border-top: 1px solid @color-bar-border;
        border-bottom: 1px solid @color-bar-border;
        background: linear-gradient(@color-background-midGrayMed, @color-background-bottomGrayMed);
        box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);

        .flex-display();
        .flex-flow(row);

        #contentHeaderLeft {
            .flex(0 0 255px);
            .flex-order(1);

            background-color: white;
            cursor: pointer;

            .flex-display();
            .flex-flow(row);

            .buttonArea {
                .flex(1 1 127px);
                .linear-gradient(top, rgb(163, 163, 163), rgb(140, 140, 140));
                border-right: 1px solid @color-bar-border;

                &[active] {
                    .linear-gradient(top, rgb(96, 179, 230), rgb(60, 141, 178));
                }
            }

            #exploreButton {
                height: 24px;
                width: 89px;

                position: relative;
                top: 6px;
                left: 8px;

                background: url(/images/datastore/explore.png);
                background-repeat: no-repeat;
            }
            #searchButton {
                height: 24px;
                width: 89px;

                position: relative;
                top: 7px;
                left: 8px;

                background: url(/images/datastore/search.png);
                background-repeat: no-repeat;
            }
        }
        #contentHeaderMid {
            .flex(1 1 auto);
            .flex-order(2);

            background: url(/images/datastore/dataset-title.png);
            background-repeat: no-repeat;
            background-position: 19px 12px;
        }
        #contentHeaderRight {
            .flex(0 0 255px);
            .flex-order(3);

            background: url(/images/datastore/data-cart-title.png) 0 0 no-repeat;
        }
    }

    .contentViewMidWrap {
        max-width: 900px;
        margin: 0 auto;
    }

    #importDataView {
        display: none;
        width: 774px;
        height: 652px;
        width: ~"calc(100% - 510px)";
        height: ~"calc(100% - 152px)";
        min-width: 513px;
        position: fixed;
        z-index: 2;
        left: 255px;
        top: 78px;
        background-color: @color-white;
        font-size: 13px;
        overflow: hidden;

      

        #importHelp {
            height: 93px;
            padding: 15px 6% 5px 6%;
            font-weight: 700;
            box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
            position: relative;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;

            h2 {
                font-size: 18px;
                color: @color-text-blue;
                display: block;
                margin-bottom: 10px;
            }
            p {
                color: @color-text-lightGray;
                font-size: 12px;
                font-weight: 700;
                width: ~"calc(100% - 50px)";
                height: 30px;
                overflow: hidden;
                display: inline-block;
                white-space: normal;
                float: left;
            }
            .icon {
                background: url(/images/info-icon-large.png) 0 0 no-repeat;
                display: inline-block;
                height: 28px;
                width: 28px;
                float: left;
                margin-right: 10px;
            }
        }

        #importDataTopForm {
            background-color: @color-background-topForm;
            padding: 25px 13% 1px 15%;

            .importFormRow {
                margin-bottom: 25px;
                height: 25px;
                line-height: 25px;

                label {
                    display: inline-block;
                    width: 100px;
                    font-weight: 700;
                }
                input {
                    height: 100%;
                    border-radius: 3px;
                    width: ~"calc(100% - 100px)";
                    padding: 4px;
                    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
                }
            }
        }

        #importDataBottomForm {
            padding: 25px 13% 1px 15%;
        }

        #fileFormat {
            margin-bottom: 65px;
            font-weight: 700;
            > span {
                display: inline-block;
                width: 90px;
            }

            label {
                display: inline-block;
                width: 100px;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                position: relative;
                span {
                    cursor: pointer;
                    float: left;
                    display: inline-block;
                    padding-left: 10px;
                }

                .radio {
                    float: left;
                    margin-top: 4px;
                    margin-left: 10px;
                    cursor: pointer;
                    background: url(/images/radioEmpty.png) 0 0 no-repeat;
                    width: 14px;
                    height: 15px;

                    .dot {
                        background: url(/images/radioDot.png) 50% 50% no-repeat;
                        width: 14px;
                        height: 15px;
                        display: none;
                    }
                    
                    &.checked {
                        background: url(/images/radioChecked.png) 0 0 no-repeat;
                        .dot {
                            display: inline-block;
                        }
                    }
                }
            }

            input[type=radio] {
                margin-top: 4px;
                margin-left: 10px;
                cursor: pointer;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                left: 0;

            }

            .dsTypeLabel {
                float: left;
            }

            .dsRadio {
                display: inline-block;
            }
        }

        button {
            margin-bottom: 15px;
            margin-left: 20px;
            height: 30px;
            width: 150px;
            border-radius: 3px;
            float: right;
            box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.8);
            text-shadow: 1px 1px rgba(0,0,0,.2);
            font-weight: 600;
            font-size: 12px;
            &[type=reset] {
                .linear-gradient(top, @color-background-topGrayMed, @color-background-bottomGrayMed);
            }
        }

    }

    .iconWaiting {
            display: none;
            width: 35px;
            height: 37px;
            background: url(/images/waiting-1.gif) 0 0 no-repeat;
            position: absolute;
            top: 2px;
            left: 3px;
            z-index: 101;
            &.active {
                display: inline-block;
            }
    }

    #mainContent {
        height: 100%;
        padding-top: 37px;
        #searchView {
            display: none;
            height: 100%;
        }

        #exploreView {
            height: 100%;
        }

        #contentView {
            height: 100%;

            .flex-display();
            .flex-flow(row);

            background-color: white;

            #contentViewLeft {
                .flex(0 0 255px);
                .flex-order(1);

                .flex-display();
                .flex-flow(column-reverse);
                box-shadow: inset -2px 2px 6px 0 rgba(0,0,0,.3);

                #datasetExplore {
                    .flex(0 0 35px);
                    .flex-order(4);
                    background: url(/images/datastore/dataset-explore.png) 0 0 no-repeat;
                    .gray-gradient;
                    text-align: center;
                    padding-top: 6px;
                    position: relative;
                    color: #666666;
                    font-weight: 700;
                    font-size: 15px;
                    span {
                        line-height: 22px;
                    }
                    .buttonGroup {
                        position: absolute;
                        right: 7px;
                        display: inline-block;
                        .btn {
                            width: 23px;
                            height: 23px;
                            margin-left: 2px;
                            box-shadow: 0px 1px 1px 1px rgba(0,0,0,.3);
                            .icon {
                                width: 100%;
                                height: 100%;
                            }
                        }

                        #dataListView {
                            .icon {
                                background: url(/images/ds-listView.png) 50% 50% no-repeat;
                            }
                        }
                        #dataGridView{
                            .icon {
                                background: url(/images/ds-iconView.png) 50% 50% no-repeat;
                            }
                        }
                    }
                }
                #importDataArea {
                    .flex(0 0 58px);
                    .flex-order(3);
                    background-color: rgb(230, 230, 230);
                    // box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);
                    border-right: 1px solid @color-background-lightGray;
                    z-index: 2;

                    #importDataButton {
                        width: 233px;
                        height: 32px;

                        position: relative;
                        left: 10px;
                        top: 12px;

                        cursor: pointer;

                        background: url(/images/datastore/import-data-button.png);
                        background-repeat: no-repeat;
                    }
                }
                #gridView {
                    .flex(1 1 auto);
                    .flex-order(1);

                    padding: 9px;
                    background-color: rgb(230, 230, 230);
                    z-index: 1;
                    // box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);
                    box-shadow: inset -2px 2px 6px 0 rgba(0,0,0,.3);
                    border-top: 1px solid rgba(0,0,0,0.25);
                    border-right: 1px solid rgba(0, 0, 0, 0.25);

                    // .flex-display();
                    // .flex-flow(row);
                    // .flex-wrap(wrap);

                    grid-unit {
                        height: 65px;
                        width: 45px;
                        // .flex(0 0 45px);

                        margin: 7px;
                        text-align: center;
                        cursor: pointer;
                        position: relative;
                        

                        // .flex-display();
                        // .flex-flow(column);

                        float: left;
                        display: inline-block;

                        .icon {
                            // .flex(1 1 40px);
                            // .flex-order(1);
                            // .transition (opacity 0.6s);
                            background: url(/images/datastore/db-large.png);
                            background-repeat: no-repeat;
                            background-position: 4.5px 3px;
                            display: inline-block;
                            width: 50px;
                            height: 40px;
                        }

                        .label {
                            .flex(1 1 25px);
                            .flex-order(2);
                            .transition (opacity 0.6s);
                            // background-color: green;
                            font-size: 9px;
                            font-weight: 600;
                            // word-wrap: break-word;
                            // white-space: normal;
                            // overflow: hidden;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        &.inactive {
                            .icon, .label {
                                opacity: 0.5;
                                .transition (opacity 0.6s);
                            }
                        }

                        &.active {
                            outline: 2px solid @color-background-topAction;
                            .label {
                                font-weight: 700;
                                color: #333333;
                            }
                        }
                    }

                    #billy {
                        height: 40px;
                        width: 20px;


                    }
                }

                #datasetSearch {
                    .flex(0 0 35px);
                    .flex-order(2);
                    // background: url(/images/datastore/dataset-search.png) 0 0 no-repeat;
                     z-index: 1;
                    // box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);
                    background-color: @color-background-darkGray;
                }
                #listView {
                    .flex(1 1 auto);
                    .flex-order(1);
                    // background: url(/images/datastore/list-view.png);
                    // background-repeat: no-repeat;
                    // background-position: 0% 90%;
                    background-color: rgb(230, 230, 230);
                    z-index: 1;
                    // box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);
                }
            }
            #contentViewMid {
                .flex(1 1 auto);
                .flex-order(2);

                .flex-display();
                .flex-flow(column);
                // box-shadow: 2px 0px 11px 0px rgba(0,0,0,.5);
                z-index: 1;

                #contentViewHeader {
                    .flex(0 0 93px);
                    .flex-order(1);

                    // background: url(/images/datastore/explore-view-header.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    box-shadow: 0 3px 2px rgba(0,0,0,.2);

                    .dbText {
                        display: inline-block;
                        float: left;
                        width: ~"calc(100% - 105px)";
                        padding-left: 25px;
                        overflow: hidden;
                    }

                    .modifyDBButtons {
                        display: inline-block;
                        float: right;
                        width: 105px;
                        margin-top: 12px;
                        color: @color-text-blue;
                        font-weight: 600;
                        text-align: right;
                        padding-right: 20px;
                    }

                    .modifyDBButton {
                        margin-bottom: 5px;
                        cursor: pointer;
                        .icon {
                            display: inline-block;
                            float: right;
                            margin-left: 8px;
                            width: 16px;
                            height: 17px;

                        }
                    }
                    .delete {
                        color: @color-text-red;
                        .icon {
                            background: url(/images/ds-deleteDS.png) 50% 50% no-repeat;
                            margin-top: 2px;
                        }
                    }
                    .update {
                        .icon {
                            background: url(/images/ds-refreshDS.png) 50% 50% no-repeat;
                            margin-top: 0px;
                        }
                    }
                    .edit {
                        .icon {
                            background: url(/images/ds-editDS.png) 50% 50% no-repeat;
                            margin-top: 1px;
                        }
                    }


                    h2 {
                        display: block;
                        height: 28px;
                        line-height: 28px;
                        color: @color-text-blue;
                        font-size: 19px;
                        margin-top: 8px;
                    }
                    p {
                        display: block;
                        font-size: 13px;
                        margin-top: 2px;
                        margin-bottom: 5px;

                    }
                }
                #contentViewTable {
                    .flex(1 1 auto);
                    .flex-order(2);

                    // background: url(/images/datastore/explore-view-table.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }

                #searchHeader {
                    .flex(0 0 91px);
                    .flex-order(1);

                    // background: url(/images/datastore/search-view-header.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
                #searchResult {
                    .flex(1 1 auto);
                    .flex-order(2);

                    // background: url(/images/datastore/search-view-table.png);
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            #contentViewRight {
                .flex(0 0 255px);
                .flex-order(3);
                width: 255px;
                height: 100%;

                // background: url(/images/datastore/data-cart.png);    
                background-color: @color-background-darkGray;
                box-shadow: inset 2px 2px 6px 0 rgba(0,0,0,.3);
                border-left: 1px solid rgba(0, 0, 0, 0.25);     
            }
        }
    }
}

#contentViewTable {

    .datasetTitleWrap {
        height: 50px;
        margin-left: 0px;
    }

    h2 {
        display: block;
        margin: 15px 0px 8px;
        font-size: 14px;
    }
    p {
        font-size: 13px;
    }

    .dsInfo {
        float: left;
        width: ~"calc(100% - 120px)";
        padding-left: 25px;
    }

    .buttonGroup {
        display: inline-block;
        float: right;
        width: 120px;
        margin-top: 12px;
        color: @color-text-blue;
        font-weight: 600;
        text-align: right;
        padding-right: 20px;
    }

    .modifyDSButton {
        margin-bottom: 5px;
        cursor: pointer;
        .icon {
            display: inline-block;
            float: right;
            margin-left: 8px;
            width: 16px;
            height: 17px;

        }
    }

    .selectAll {
        .icon {
            background: url(/images/plus-blue.png) 50% 50% no-repeat;
            margin-top: 2px;
        }
    }
    .clear {
        color: @color-text-red;
        .icon {
            background: url(/images/ds-deleteDS.png) 50% 50% no-repeat;
            margin-top: 1px;
        }
    }
}


/* START DATASET TABLE */

#contentViewTable {
    // overflow: auto;
    position: relative;
}

.datasetTitleWrap {
    margin-left: 15px;
}

#datasetWrap {
    
}

.datasetTableWrap {
    width: ~"calc(100% - 20px)";
    overflow: auto;
    margin: 20px 10px 0px;
    position: absolute;
    height: ~"calc(100% - 80px)";
    border: 1px solid #DDDDDD;
}

.datasetTable {
    width: 0px;
    thead {
        box-shadow: 0px 1px  1px @colorShadow-black;
        outline: 2px solid rgba(100, 100, 100, .3);
    }

    th {
        width: 130px;
    }

    .selectedCell {
        .editableHead {
            background: none !important;
            // background-color: #CDE6F6 !important;
            background-color: @color-white !important;
            color: @color-text-darkGray !important;
        }
        td {

        }
    }
    .selectedCol {
        .editableHead {
            background: none !important;
            background-color: #CDE6F6 !important;
            color: #0090E8 !important;
        }
    }

    .header {
        height: 30px;
        
        .editableHead {
            width: ~"calc(100% - 30px)";
            background-color: @color-white;
            font-weight: 700;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            outline: none;
            float: left;
            border: 1px solid @color-background-topGrayMed;
            z-index: 0;
        }

        &.colAdded {
            .checkBox {
                .action-gradient;
                border-left: 1px solid @color-background-topAction;
            }
        }
    }

    .checkBox {
        display: inline-block;
        float: right;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        width: 30px;
        height: 100%;
        border: 1px solid @color-background-topGrayMed;
        .linear-gradient(top, @color-background-darkGray, #C6C6C6);
        cursor: pointer;
        .icon {
            width: 100%;
            height: 100%;
            display: inline-block;
            background: url(/images/checkmark-inactive.png) 50% 50% no-repeat;
        }
    }
}

#contentViewRight {
    .buttonArea {
        margin-top: 20px;
        padding-bottom: 20px;
        padding-left: 12px;
        z-index: 2;
        position: relative;
        &.cartOverflow {
            box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
        }
    }

    .btnLarge {
        margin-top: 10px;
        width: 225px;
        font-size: 11px;

        .icon {
            margin: 4px;
            float: left;
            display: inline-block;
        }

        &#submitDSTablesBtn {
            .icon {
                background: url(/images/send-single.png) 0 0 no-repeat;
                width: 27px;
                height: 21px;
            }

        }
        &#submitMultipleDBTablesBtn {
            .icon {
                background: url(/images/send-multiple.png) 0 0 no-repeat;
                width: 27px;
                height: 23px;
                
            }
            // background: linear-gradient(@color-background-topGrayMed,
            //                             @color-background-bottomGrayMed);
        }
        &#clearDataChart {
            .icon {
                background: url(/images/garbage.png) 0 0 no-repeat;
                width: 22px;
                height: 24px;
                margin-right: 8px;
            }
        }
    }
}

#dataCartWrap {
    overflow: auto;
    float: left;
    height: ~"calc(100% - 135px)";
    width: 100%;
}

#dataCart {
    margin-left: 12px;
    background-color: @color-background-darkGray;

    .selectedTable {
        margin-bottom: 20px;
        margin-top: 10px;
        width: 225px;

        h3 {
            display: inline-block;
            text-indent: 4px;
        }

        li {
            height: 28px;
            line-height: 28px;
            background-color: @color-white;
            border-radius: 3px;
            box-shadow: -1px 1px 1px rgba(0,0,0,.2);
            overflow: hidden;
            margin-top: 8px;
            font-weight: 700;

            &.colSelected {
                background-color: @color-selectedCell-light;
                // color: @color-background-bottomAction;
            }

            &.keySelected {
                // background-color: @color-selectedCell-light; 
                box-shadow: 0px 0px 0px 2px @color-background-bottomAction;
            }

            .colName {
                width: 200px;
                height: 100%;
                padding-left: 12px;
                float: left;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
                
            }
            .removeCol {
                width: 25px;
                height: 100%;
                float: left;
                display: inline-block;
                .gray-gradient;
                cursor: pointer;

                &:hover {
                    .red-gradient;
                }

                .closeIcon {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    background: url(/images/ds-close.png) 50% 50% no-repeat,
                }
            }
        }
    }
}