<!-- Cast Op Panel -->
<section id="castOpPanel" class="xc-hidden opPanel">
  <!-- Header -->
  <header class="headerSection">
    <div class="row clearfix">
        <div class="title">Cast</div>
        <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
    </div>
    <div class="row">
        <div class="subTitle"></div>
    </div>
  </header>
  <!-- content -->
  <div class="mainContent">
    <div class="opSection">
      <p class="mainInstructions instrText">Cast columns from one data type to
        another by selecting a column, choosing the desired data type,
        and providing a name for the resultant column.</p>

        include "colAssignmentView.html"
        include "opPanelAdvancedSection.html"
        include "opPanelBottomSection.html"
    </div>
  </div>
</section>
<!-- End Of Cast Op Panel -->
