<div id="dagGraphBar">
    <div class="topButtons left">
        <div id="undo" class="topButton undo" data-toggle="tooltip" data-container="body" data-placement="top">
            <i class="icon xi-undo-outline actionIcon"></i>
        </div>
        <div id="redo" class="topButton redo" data-toggle="tooltip" data-container="body" data-placement="top">
            <i class="icon xi-redo-outline actionIcon"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton zoomOut" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%=
                dicts.dag.zoomOut %>">
            <i class="icon xi-minus actionIcon"></i>
        </div>
        <div class="topButton zoomPercent" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dag.zoom %>">
            <input disabled class="zoomPercentInput xc-input white" type="text" pattern="\d*" maxlength="3" max="200" min="25" step="1" value="100" placeholder="100">
            <div class="percent-sign">%</div>
        </div>
        <div class="topButton zoomIn" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%=
                dicts.dag.zoomIn %>">
            <i class="icon xi-plus actionIcon"></i>
        </div>
    </div>
    <div class="infoSection">
        <!-- <div class="divider"></div> -->
        <div class="numNodesSection">
            <%= dicts.dag.NumOperatorNodes %>:
            <span class="numNodes">0</span>
        </div>
        <div class="viewOnly">
            <div class="divider"></div>
            <%= dicts.dag.ViewOnly %>
        </div>
        <div class="runStatus">
            <div class="divider"></div>
            <div class="animatedEllipsisWrapper">
                <div class="text">
                    Executing
                </div>
                <div class="animatedEllipsis">
                    <div>.</div>
                    <div>.</div>
                    <div>.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="topButtons">
        <button class="btn btn-secondary action convertSQLToDF">Save As Module</button>
        <button class="btn btn-secondary useInSQL">Use In SQL</button>
        <div class="topButton run dropDownList">
            <span>
                <span class="text">Execute</span>
                <i class="icon xi-play-outline actionIcon"></i>
            </span>
            <div class="iconWrapper" data-toggle="tooltip" data-container="body" data-placement="top" data-title="Select a function to execute">
                <i class="icon xi-arrow-down"></i>
            </div>
            <div class="list">
            <ul>
                include "../../util/menuScrollArea.html"
            </ul>
            </div>
        </div>
        <div class="topButton stop" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dag.cancelExecute %>">
            <span class="text">Cancel</span>
            <i class="icon xi-stop-outline actionIcon"></i>
        </div>
        <div class="divider"></div>
        <!-- <div class="topButton setting noTabRequired" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dataflow.Settings %>">
            <i class="icon xi-setting"></i>
        </div> -->
        <button class="noTabRequired btn-secondary dropDown optionsBtn clickable">
            <i class="icon xi-ellipsis-h xc-action"></i>
        </button>
    </div>
</div>