<div id="dagGraphBar">
    <div class="topButtons left">
        <div id="undo" class="topButton undo" data-toggle="tooltip" data-container="body" data-placement="top">
            <i class="icon xi-undo"></i>
        </div>
        <div id="redo" class="topButton redo" data-toggle="tooltip" data-container="body" data-placement="top">
            <i class="icon xi-redo"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton zoomOut" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%=
                dicts.dag.zoomOut %>">
            <i class="icon xi-minus-circle-outline"></i>
        </div>
        <div class="topButton zoomPercent" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dag.zoom %>">
            <input disabled class="zoomPercentInput xc-input white" type="text" pattern="\d*" maxlength="3" max="200" min="25" step="1" value="100" placeholder="100">
            <div class="percent-sign">%</div>
        </div>
        <div class="topButton zoomIn" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%=
                dicts.dag.zoomIn %>">
            <i class="icon xi-plus-circle-outline"></i>
        </div>
    </div>
    <div class="infoSection">
        <!-- <div class="divider"></div> -->
        <div class="numNodesSection">
            <%= dicts.dag.NumOperatorNodes %>:
            <span class="numNodes">0</span>
        </div>
        <div class="viewOnly">
            <div class="divider"></div>
            <%= dicts.dag.ViewOnly %>
        </div>
        <div class="runStatus">
            <div class="divider"></div>
            <div class="animatedEllipsisWrapper">
                <div class="text">
                    Executing
                </div>
                <div class="animatedEllipsis">
                    <div>.</div>
                    <div>.</div>
                    <div>.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="topButtons">
        <button class="btn btn-secondary useInSQL">Use In SQL</button>
        <div class="topButton run" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dag.executeAllNodes %>">
            <span class="text">Execute all</span>
            <i class="icon xi-play-circle"></i>
        </div>
        <div class="topButton stop" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dag.cancelExecute %>">
            <span class="text">Cancel</span>
            <i class="icon xi-stop-circle"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton setting noTabRequired" data-toggle="tooltip" data-container="body" data-placement="top" data-title="<%= dicts.dataflow.Settings %>">
            <i class="icon xi-setting"></i>
        </div>
    </div>
</div>