<div id="dagSearch" class="searchbarArea xc-hidden">
  <input type="text" placeholder="<%= dicts.common.SearchKeyWord %>" spellcheck="false">
  <div class="counter">
    <span class="position"></span>
    <span class="total"></span>
  </div>
  <div class="arrows">
    <div class="upArrow iconWrap">
        <i class="icon xi-up"></i>
        </div>
    <div class="downArrow iconWrap">
        <i class="icon xi-down"></i>
    </div>
  </div>
  <i class="close icon xi-close-no-circle xc-action"></i>
</div>