<div id = "dagViewBar" class="topBar">
    <header class="title">CREATING DATAFLOWS</header>
    <div class="topButtons">
        <div class="topButton run">
            <i class="icon xi-play-circle"></i>
        </div>
        <div class="topButton stop">
            <i class="icon xi-stop-circle"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton undo">
            <i class="icon xi-undo"></i>
        </div>
        <div class="topButton redo">
            <i class="icon xi-redo"></i>
        </div>
        <div class="divider"></div>
        <!-- <div class="topButton">
            <i class="icon"></i>
        </div>
        <div class="topButton">
            <i class="icon"></i>
        </div> -->
    </div>
</div>