<div id="dagView">
    include "dataflowUploadCard.html"
    <div class="categoryBar">
        <div class="searchArea dropDownList">
            <div class="searchBox">
                <input type="text" class="searchInput xc-input" placeholder="<%= dicts.common.Search %>">
                <i class="icon searchIcon xi-search"></i>
            </div>
            <div class="list">
              <ul></ul>
              include "../../util/menuScrollArea.html"
            </div>
        </div>
        <div class="categoryWrap">
            <div class="categories"></div>
        </div>
        <div class="categoryScroll">
            <i class="icon arrow left xi-arrow-left"></i>
            <i class="icon arrow right xi-arrow-right"></i>
        </div>
    </div>
    <div class="operatorBar">
        <div class="operatorWrap">

        </div>
    </div>
    <div class="tabBar">
        include "tabView.html"
    </div>
    <div id="dagViewTableArea" class="tableArea xc-hidden xc-viewMode">
        <div class="tableBar">
            <div class="searchbarArea">
              <input type="text">
              <i class="icon xi-search"></i>
            </div>
            <div class="menuArea">
              <div class="tableMenu option xc-action">Table Menu</div>
            </div>
            <div class="close xc-action">
              <i class="icon xi-close-no-circle"></i>
            </div>
            <div class="rowInputArea"></div>
            <div class="skewInfoArea"></div>
        </div>
        <div class="errorSection xc-errorView"></div>
        <div class="loadingSection xc-loadView"></div>
    </div>
    <div class="dataflowWrap">
    </div>
    include "dagNodeMenu.html"

    <div id="dagSchemaPopup" class="schemaPopup">
        <div id="dagSchemaPopupTitle" class="title">
          <div class="titleContentWrap">
            <span class="tableName"><%= dicts.dag.schema %></span>
            <span class="numCols" title=""></span>
          </div>
          <div class="close" data-container="body"
             data-toggle="tooltip" title="" data-original-title="<%= dicts.common.Close %>">
            <i class="icon xi-close"></i>
          </div>
        </div>
        <span class="background"></span>
        <!-- <div class="rowCount subHeader">
          <div class="text"><%= dicts.queryGraph.numRows %></div>
          <div class="value"></div>
          <i class="icon xi-error error" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="<%= dicts.dataflow.heavySkew %>" data-tipclasses="zIndex10000"></i>
          <i class="icon xi-warning error" data-toggle="tooltip" data-placement="right" data-container="body" data-original-title="<%= dicts.dataflow.slightSkew %>" data-tipclasses="zIndex10000"></i>
          <i class="icon xi-arrow-down expand xc-action"></i>
        </div> -->
        <div class="nodeInfoHeader subHeader">
          <div class="text active">
            <%= dicts.queryGraph.node %>
            <i class="icon xi-sort sort"></i>
          </div>
          <div class="value">
            <span class="innerText">
              <%= dicts.queryGraph.numRowsPct %>
            </span>
            <i class="icon xi-sort sort"></i>
          </div>
        </div>
        <div class="nodeInfoContent"></div>
        <div class="heading">
            <div class="type"><%= dicts.queryGraph.type %></div>
            <div class="field"><%= dicts.queryGraph.field %></div>
        </div>
        <div class="content"></div>
      </div>
</div>