<div id = "dagViewBar" class="topBar">
    <div class="topButtons left">
        <div id="undo" class="topButton undo" data-toggle="tooltip" data-container="body" data-placement="right">
            <i class="icon xi-undo"></i>
        </div>
        <div id="redo" class="topButton redo" data-toggle="tooltip" data-container="body" data-placement="right">
            <i class="icon xi-redo"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton zoomOut" data-toggle="tooltip" data-container="body" data-placement="right" data-title="<%=
                dicts.dag.zoomOut %>">
            <i class="icon xi-minus-circle-outline"></i>
        </div>
        <div class="topButton zoomIn" data-toggle="tooltip" data-container="body" data-placement="right" data-title="<%=
                dicts.dag.zoomIn %>">
            <i class="icon xi-plus-circle-outline"></i>
        </div>
        <div class="topButton zoomPercent" data-toggle="tooltip" data-container="body" data-placement="right" data-title="<%= dicts.dag.zoom %>">
            <input class="zoomPercentInput xc-input" type="number" pattern="\d*" maxlength="3" max="200" min="25" step="1" value="100" placeholder="100">
            <div class="percent-sign">%</div>
        </div>
        <div class="divider"></div>
        <div class="topButton run" data-toggle="tooltip" data-container="body" data-placement="right" data-title="<%= dicts.dag.executeAll %>">
            <i class="icon xi-play-circle"></i>
        </div>
        <div class="topButton stop" data-toggle="tooltip" data-container="body" data-placement="right" data-title="<%= dicts.dag.cancelExecute %>">
            <i class="icon xi-stop-circle"></i>
        </div>
    </div>
    <div class="topButtons">
        <div class="topButton parameters retTab noTabRequired" data-toggle="tooltip" data-container="body" data-placement="right">
            Parameters
            <!-- <button class="tabWrap btn">
                <span class="retTitle">Parameters</span>
                <i class="icon fa-10 xi-arrow-down"></i>
            </button> -->
        </div>
        <div class="topButton aggregates retTab" data-toggle="tooltip" data-container="body" data-placement="right">
            <%= dicts.ws.ConstList %>
        </div>
        <div class="topButton setting noTabRequired" data-toggle="tooltip" data-container="body" data-placement="right" data-title="<%= dicts.dataflow.Settings %>">
            <i class="icon xi-setting"></i>
        </div>
        <div class="divider"></div>
    </div>
</div>