<div id="dagView">
    <div class="topBar">Under Construction</div>
    <div class="categoryBar"></div>
    <div class="operatorBar">
        <div class="operatorWrap">
        <div class="operator">
            <div class="connector in"></div>
            <div class="main">Map</div>
            <div class="connector out"></div>
        </div>
        <div class="operator">
            <div class="connector in"></div>
            <div class="main">Filter</div>
            <div class="connector out"></div>
        </div>
        </div>
    </div>
    <div class="tabBar"></div>
    <div class="tableArea"></div>
    <div class="dataflowArea">
        <div class="dataflowWrap">
        <div class="sizer"></div>
        </div>
    </div>
</div>