<div id = "dagViewBar" class="topBar">
    <header id="dagViewTitle" class="title">CREATING DATAFLOWS</header>
    <div class="topButtons">
        <div class="topButton run">
            <i class="icon xi-play-circle"></i>
        </div>
        <div class="topButton stop">
            <i class="icon xi-stop-circle"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton share" data-toggle="tooltip" data-container="body" data-placement="left" data-title="<%= dicts.dataflow.ShareDF %>">
            <i class="icon xi-add-dataflow"></i>
        </div>
        <div class="divider"></div>
        <div class="topButton zoomIn" data-toggle="tooltip" data-container="body" data-placement="left">
            <i class="icon xi-plus-circle-outline"></i>
        </div>
        <div class="topButton zoomOut" data-toggle="tooltip" data-container="body" data-placement="left">
            <i class="icon xi-minus-circle-outline"></i>
        </div>
        <div class="topButton undo" data-toggle="tooltip" data-container="body" data-placement="left">
            <i class="icon xi-undo"></i>
        </div>
        <div class="topButton redo" data-toggle="tooltip" data-container="body" data-placement="left">
            <i class="icon xi-redo"></i>
        </div>
        <div class="divider"></div>
    </div>
</div>