<div id="dagView">
    <div class="topBar">Under Construction</div>
    <div class="categoryBar"></div>
    <div class="operatorBar">
        <div class="operatorWrap">

        </div>
    </div>
    <div class="tabBar"></div>
    <div class="tableArea"></div>
    <div class="dataflowWrap">
        <div class="dataflowArea active">
            <div class="sizer"></div> <!-- used to provide width for scrollbars to show during dragging-->
        </div>
        <div class="dataflowArea"> <!-- an inactive dataflow-->
            <div class="sizer"></div>
        </div>
    </div>
</div>