<!-- Dataflow uploader -->
<div id="dataflowUploadCard" class="cardContainer">
  <div class="cardLocked"></div>
  <!-- Header -->
  <header class="cardHeader">
    <span class="title"><%= dicts.dataflow.uploadHeader %></span>
    <div class="close"><i class="icon xi-close"></i></div>
  </header>
  <!-- Instruction -->
  <section class="cardInstruction">
    <i class="icon xi-warning"></i>
    <div class="text">
      <span><%= dicts.dataflow.uploadInstr %></span>
    </div>
  </section>
  <!-- Main Section -->
  <section class="cardMain">
    <div class="uploadArea">
      <span class="text"><%= dicts.common.Location %>:</span>
      <input class="path" type="text" readonly>
      <input class="browse" spellcheck="false" type="file" style="display: none" accept=".gz">
      <button class="btn browse"><%= dicts.common.BROWSE %></button>
    </div>
    <div class="nameArea">
      <span class="text"><%= dicts.dataflow.dfName %>:</span>
      <input class="name" type="text">
    </div>
  </section>
  <!-- Button Section -->
  <section class="cardBottom">
    <div class="buttonTooltipWrap" data-toggle="tooltip" data-container="body" data-placement="top" data-original-title="<%= dicts.TooltipTStr.SelectFile %>">
    <button type="button" class="btn confirm btn-disabled"><%= dicts.dataflow.upload %></button>
    </div>
    <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
  </section>
</div>
<!-- End of Dataflow uploader -->
