<!-- DF Create View -->
<div id="dfCreateView" class="xc-hidden opView">
  <!-- Header -->
  <header>
    <div class="title"><%= dicts.dataflow.header %></div>
    <i class="close icon xi-close"></i>
  </header>
  <div class="mainContent">
    <div class="export opSection">
      <p class="instructions"><%= dicts.dataflow.instr %></p>
      <!-- Top Section-->
      <section class="modalTopMain">
        <!-- export name section -->
        <div class="exportNameSection formRow">
          <div class="subHeading clearfix">
            <div class="label"><%= dicts.dataflow.dfName %>:</div>
          </div>
          <input id="newDFNameInput" class="text" type="text" spellcheck="false" required>
        </div>

        <div class="group firstGroup">
          <div class="tableListSection clearfix">
            <div class="subHeading clearfix">
              <span class="text"><%= dicts.common.Table %>:</span>
              <div class="iconWrap focusTable">
                <i class="icon xi-show"></i>
              </div>
              <i class="icon xi-minus minGroup"></i>
            </div>
            <div class="dropDownList tableList">
              <input type="text" class="text arg" spellcheck="false">
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul></ul>
                include "../../util/menuScrollArea.html"
              </div>
            </div>
          </div>
          <div class="exportColumnsSection formRow empty">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.dataflow.exportHeader %>:</div>
            </div>
            <p><%= dicts.dataflow.exportInstr %></p>
            <div class="checkboxWrap selectAllWrap">
              <div class="checkbox">
                <i class="icon xi-ckbox-empty fa-13"></i>
                <i class="icon xi-ckbox-selected fa-13"></i>
              </div>
              <div class="text"><%= dicts.common.SelectAll %></div>
            </div>
            <div class="columnsToExport columnsWrap flexWrap clearfix">
              <ul class="cols"></ul>
              <div class="hint noColsHint empty"><%= dicts.dataflow.noColsHint %></div>
            </div>
            <!-- rename section -->
            <div class="renameSection clearfix xc-hidden">
              <div class="subHeading clearfix">
                <div><%= dicts.common.ColRenames %></div>
              </div>
              <p><%= dicts.common.ColRenameInstr %></p>
              <div class="tableRenames">
                <div class="subSubHeading clearfix">
                  <div><%= dicts.exportView.CurrentColName %></div>
                  <div><%= dicts.exportView.NewColName %></div>
                </div>
                <div class="renamePart"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="addArgWrap addDest addArgWrapSmall">
          <button class="btn btn-small">
            <i class="icon xi-plus"></i>
          </button>
          <span class="text"><%= dicts.dataflow.AdditionalTables %></span>
        </div>
        <div class="sourceTableSection">
          <div class="subHeading clearfix">
            <div class="label"><%= dicts.dataflow.SourceTables %>
              <span class="optionalText">(<%= dicts.MenuTStr.Optional %>)</span>
              <div class="hint" data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.dataflow.SourceTableHint %>">
                <i class="icon xi-help fa-12"></i>
              </div>
            </div>
          </div>
          <div class="sourceTableWrap clearfix"></div>
          <div class="addArgWrap addSrc addArgWrapSmall">
            <button class="btn btn-small">
              <i class="icon xi-plus"></i>
            </button>
            <span class="text"><%= dicts.dataflow.AddSource %></span>
          </div>
        </div>
      </section>
      <!-- Button Section -->
      <section class="bottomSection flexWrap">
        <button type="button" class="btn confirm"><%= dicts.dataflow.create %></button>
        <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
      </section>
    </div>
  </div>
</div>
<!-- End of DF Create View -->
