<!-- Dataflow Link In Panel -->
<section id="dfLinkInPanel" class="xc-hidden opPanel">
    <!-- Header -->
    <header class="headerSection">
      <div class="title"><%= dicts.DFLink.InHeader %></div>
      <i class="close icon xi-close"></i>
    </header>
    <!-- content -->
    <div class="mainContent">
      <div class="opSection">
        <p class="mainInstructions instrText"><%= dicts.DFLink.InInstr %></p>
        <div class="argsSection">
          <!-- dataflow name -->
          <div class="row clearfix dataflowName">
            <div class="description"><%= dicts.DFLink.DFName %>:</div>
            <div class="inputWrap">
              <div class="dropDownList">
                <input type="text">
                <div class="list">
                  <ul></ul>
                  include "../../util/menuScrollArea.html"
                </div>
              </div>
            </div>
          </div>
          <!-- node name -->
          <div class="row clearfix linkOutNodeName">
            <div class="description"><%= dicts.DFLink.OutName %>:</div>
            <div class="inputWrap">
              <div class="dropDownList">
                <input type="text">
                <div class="list">
                  <ul></ul>
                  include "../../util/menuScrollArea.html"
                </div>
              </div>
            </div>
          </div>
          <!-- schema -->
          <div class="row clearfix schema">
            <div class="description"><%= dicts.DFLink.Schema %>:</div>
            <div class="schemaSection">
              <!-- buttons -->
              <div class="buttonSection">
                <div class="detect xc-action">
                    <i class="icon xi-magic-wand"></i>
                    <span><%= dicts.smartCast.detect %></span>
                </div>
                <div class="clear xc-action">
                    <i class="icon xi-select-none"></i>
                    <span><%= dicts.smartCast.clearAll %></span>
                </div>
              </div>
              <!-- list section -->
              <div class="listSection">
                <div class="title">
                  <div class="part">
                    <div class="name"><%= dicts.smartCast.colName %></div>
                    <div class="type"><%= dicts.common.ColType %></div>
                  </div>
                </div>
                <div class="content"></div>
                <div class="addColumn">
                  <button class="btn btn-small btn-rounded">
                    <i class="icon xi-plus"></i>
                  </button>
                  <span class="text"><%= dicts.common.AddCol %></span>
                </div>
              </div>
              <!-- end of list section -->
            </div>
            <!-- end of schemaSection -->
          </div>
          <!-- end of schema row -->
        </div>
        <!-- end of arg section -->
      </div>
      <!-- end of opsection -->
      <section class="bottomSection">
        <button type="button" class="btn btn-submit btn-rounded center submit"><%= dicts.common.Save %></button>
      </section>
    </div>
  </section>
  <!-- End Of Dataflow Link In Panel -->