<!-- Dataflow Link Out Panel -->
<section id="dfLinkOutPanel" class="xc-hidden opPanel">
    <!-- Header -->
    <header class="headerSection">
      <div class="row clearfix">
            <div class="title"><%= dicts.DFLink.OutHeader %></div>
            <i class="close icon xi-close"></i>
        </div>
        <div class="row">
            <div class="subTitle"></div>
        </div>
    </header>
    <!-- content -->
    <div class="mainContent">
      <div class="opSection">
        <p class="mainInstructions instrText">
            A Link In Node links to a Link Out Node using a reference name you provide in the Link Out Node's configuration panel.
        </p>
        <div class="argsSection">
          <!-- node name -->
          <div class="row clearfix linkOutName">
            <div class="description">Enter a unique Link Out reference name:</div>
            <div class="inputWrap">
              <input type="text">
            </div>
          </div>
          <!-- columns-->
          <div class="row exportColumnsSection formRow">
            <div class="subHeading clearfix">
                <div class="label">Select columns (optimized executions only):</div>
            </div>
            <p>
              Select the columns you want in the optimized execution results. The column selection is required for optimized executions only.
            </p>
            <div class="selectAllWrap">
                <div class="checkbox">
                    <i class="icon xi-ckbox-empty fa-13"></i>
                    <i class="icon xi-ckbox-selected fa-13"></i>
                </div>
                <div class="text"><%= dicts.common.SelectAll %></div>
            </div>
            <div class="columnsToExport columnsWrap flexWrap clearfix">
                <ul class="cols"></ul>
                <div class="hint noColsHint empty">No columns are available for selection</div>
            </div>
            <!-- rename section -->
            <div class="renameSection clearfix xc-hidden">
                <div class="subHeading clearfix">
                <div><%= dicts.common.ColRenames %></div>
                </div>
                <p><%= dicts.common.ColRenameInstr %></p>
                <div class="tableRenames">
                <div class="subSubHeading clearfix">
                    <div><%= dicts.exportView.CurrentColName %></div>
                    <div><%= dicts.exportView.NewColName %></div>
                </div>
                <div class="renamePart"></div>
                </div>
            </div>
          </div>
          <!-- option -->
          <div class="row clearfix option">
              <div class="description">Option:</div>
              <div class="inputWrap checkboxSection">
                <div class="checkbox">
                  <i class="icon xi-ckbox-empty fa-11"></i>
                  <i class="icon xi-ckbox-selected fa-11"></i>
                </div>
                <div class="text">Link In Node triggers the execution of this Node</div>
                <i class="qMark icon xi-unknown" data-toggle="tooltip"
                data-container="body"
                data-title="If this check box is checked, the Link In Node that references this Link Out Node, triggers the execution of this Link Out Node. Otherwise, the Link In Node uses the existing result set of this Link Out Node."
                data-placement="top"></i>
              </div>
            </div>
        </div>
      </div>
      include "opPanelAdvancedSection.html"
      include "opPanelBottomSection.html"
    </div>
  </section>
  <!-- End Of Dataflow Link Out Panel -->