<!-- Dataflow Link Out Panel -->
<section id="dfLinkOutPanel" class="xc-hidden opPanel">
    <!-- Header -->
    <header class="headerSection">
      <div class="title"><%= dicts.DFLink.OutHeader %></div>
      <i class="close icon xi-close"></i>
    </header>
    <!-- content -->
    <div class="mainContent">
      <div class="opSection">
        <p class="mainInstructions instrText"><%= dicts.DFLink.OutInstr %></p>
        <div class="argsSection">
          <!-- node name -->
          <div class="row clearfix linkOutName">
            <div class="description"><%= dicts.DFLink.OutName %>:</div>
            <div class="inputWrap">
              <input type="text">
            </div>
          </div>
        </div>
      </div>
      <section class="bottomSection">
        <button type="button" class="btn btn-submit btn-rounded center confirm"><%= dicts.common.Save %></button>
      </section>
    </div>
  </section>
  <!-- End Of Dataflow Link Out Panel -->