<!-- Export View -->
<div id="exportView" class="xc-hidden opView">
  <!-- Export Header -->
  <header>
    <div class="title"><%= dicts.exportView.header %></div>
    <i class="close icon xi-close fa-15"></i>
  </header>
  
  <div class="mainContent">
    <div class="export opSection">
      <p class="instructions"><%= dicts.exportView.instr %></p>
      <!-- Export Modal Top Section-->
      <section class="modalTopMain">
        
        <div class="tableListSection clearfix formRow">
          <div class="subHeading clearfix">
            <span class="text"><%= dicts.exportView.tableToExport %>:</span>
            <div class="iconWrap focusTable">
              <i class="icon xi-show"></i>
            </div>
          </div>
          <div class="dropDownList tableList">
              <div class="text"></div>
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul >
                </ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
          </div>
        </div>

        <!-- export name section -->
        <div class="exportNameSection formRow">
          <div class="subHeading clearfix">
            <div class="label"><%= dicts.exportView.exportFilename %>:</div>
          </div>
            
          <input id="exportName" class="text" type="text" spellcheck="false" required>
          
        </div>
        <!-- export path section -->
        <div class="exportPathSection formRow">
          <div class="subHeading clearfix">
            <div class="label">Export <%= dicts.exportView.Location %>:</div>
          </div>
          <div id="exportLists" class="dropDownList">
              <input id="exportPath" class="text" type="text" value="" spellcheck="false" disabled>
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <div class="list">
                <ul></ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
        </div>
        <div class="exportColumnsSection formRow">
          <div class="subHeading clearfix">
            <div class="label"><%= dicts.exportView.colsToExport %>:</div>
          </div>
          <p><%= dicts.exportView.colInstr %></p>
          <input id="exportColumns" type="text" placeholder="<%= dicts.exportView.ColumnsHint %>" spellcheck="false" required>
          <div class="checkboxWrap selectAllWrap">
            <div class="checkbox">
              <i class="icon xi-ckbox-empty fa-13"></i>
              <i class="icon xi-ckbox-selected fa-13"></i>
            </div>
            <div class="text"><%= dicts.common.SelectAll %></div>
          </div>
          <div class="columnsWrap clearfix">
            <ul class="cols"></ul>
          </div>
          <div class="clearInput iconWrap">
            <span class="icon"></span>
          </div>
        </div>

        <div class="exportRowOrderSection formRow">
          <div class="checkboxWrap keepOrderedCBWrap">
            <div class="checkbox">
              <i class="icon xi-ckbox-empty fa-13"></i>
              <i class="icon xi-ckbox-selected fa-13"></i>
            </div>
            <div class="text"><%= dicts.exportView.exportInOrder %></div>
          </div>
        </div>
         <!-- advanced section -->
        <div class="advancedSection collapsed">
          <div class="advancedTitle minimized subHeading clearfix">
            <div>
              <i class="icon xi-plus-circle-outline advancedIcon minimized" data-container="body" data-toggle="tooltip" title="<%= dicts.TooltipTStr.ToggleAdvanced %>"></i>
              <i class="icon xi-minus-circle-outline advancedIcon minimized" data-container="body" data-toggle="tooltip" title="<%= dicts.TooltipTStr.ToggleAdvanced %>"></i>
              <span class="text"><%= dicts.common.AdvancedOpts %></span>
            </div>
           
          </div>
          <div class="formRow buttonRow typeRow">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.common.Type %>:</div>
            </div>
            <div class="radioButtonGroup">
              <div class="radioButton active" data-option="DfFormatCsv">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label">CSV</div>
              </div>
              <div class="radioButton" data-option="DfFormatSql">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label">SQL</div>
              </div>
            </div>
          </div>
          <div class="formRow csvRow csvHidden">
              <div class="subHeading clearfix">
                <div class="label"><%= dicts.dsForm.FieldDelim %>:</div>
              </div>
              <div class="dropDownList">
                <input class="fieldDelim text" type="text" spellcheck="false" disabled="">
                <div class="iconWrapper">
                  <i class="icon xi-arrow-down"></i>
                </div>
                <!-- dropdown menu -->
                <div class="list">
                  <ul>
                    <li name="default"><%= dicts.common.Default %> (\t)</li>
                    <li name="comma"><%= dicts.common.Comma %> (,)</li>
                    <li name="other" class="other">
                      <span><%= dicts.common.Other %></span>
                      <div class="inputWrap">
                        <input class="delimVal" type="text" spellcheck="false">
                        <div class="inputAction xc-action">
                          <i class="icon xi-tick fa-11"></i>
                        </div>
                      </div>
                    </li>
                  </ul>
                  <div class="scrollArea top">
                    <div class="arrow"></div>
                  </div>
                  <div class="scrollArea bottom">
                    <div class="arrow"></div>
                  </div>
                </div>
              </div>
          </div>
          <div class="formRow csvRow csvHidden">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.exportView.RecordDelim %>:</div>
            </div>
            <div class="dropDownList">
              <input class="text recordDelim" type="text" spellcheck="false" disabled="">
              <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
              </div>
              <!-- dropdown menu -->
              <div class="list">
                <ul>
                  <li name="default"><%= dicts.common.Default %> (\n)</li>
                  <!-- no other delimiter but \n currently works -->
                 <!--  <li name="other" class="other">
                    <span><%= dicts.common.Other %></span>
                    <div class="inputWrap">
                      <input class="delimVal" type="text" spellcheck="false">
                      <div class="inputAction">
                        <span class="icon"></span>
                      </div>
                    </div>
                  </li> -->
                </ul>
                <div class="scrollArea top">
                  <div class="arrow"></div>
                </div>
                <div class="scrollArea bottom">
                  <div class="arrow"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="formRow buttonRow splitType">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.common.File %>:</div>
            </div>
            <div class="radioButtonGroup">
              <div class="radioButton active" data-option="ExSFFileSplitForceSingle">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.OneFile %></div>
              </div>
              <div class="radioButton" data-option="ExSFFileSplitNone">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.MultiFiles %></div>
              </div>
            </div>
          </div>
          <div class="formRow buttonRow headerType">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.common.Header %>:</div>
            </div>
            <div class="radioButtonGroup">
                <div class="radioButton active" data-option="ExSFHeaderEveryFile">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.EveryFile %></div>
              </div>
              <div class="radioButton" data-option="ExSFHeaderSeparateFile">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.SeparateFile %></div>
              </div>
            </div>
          </div>
          <div class="formRow buttonRow overwrite createRule">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.exportView.Overwrite %>:</div>
            </div>
            <div class="radioButtonGroup">
              <div class="radioButton active" data-option="ExExportCreateOnly">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.DoNotOverwrite %></div>
              </div>
              <div class="radioButton" data-option="ExExportDeleteAndReplace">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.OverwriteExisting %></div>
              </div>
              <div class="radioButton" data-option="ExExportAppendOnly">
                <div class="radio">
                  <i class="icon xi-radio-selected"></i>
                  <i class="icon xi-radio-empty"></i>
                </div>
                <div class="label"><%= dicts.exportView.AppendExisting %></div>
              </div>
            </div>
          </div>
          <div class="restore" data-container="body" data-toggle="tooltip" title="<%= dicts.TooltipTStr.Restore %>">
            <i class="icon xi-refresh"></i>
            <%= dicts.exportView.restoreDefaults %>
          </div>
        </div>
      </section>
      <!-- Button Section -->
      <section class="bottomSection">
        <button type="button" class="btn confirm"><%= dicts.exportView.CONFIRM %></button>
        <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
      </section>
    </div>
    
  </div>
  <!-- Export Modal Instruction -->
  
</div>
<!-- End of Export Modal -->
