<!-- Extension Op Panel -->
<section id="extensionOpPanel" class="xc-hidden opPanel">
    <!-- Header -->
    <header class="headerSection">
      <div class="row clearfix">
            <div class="title"><%= dicts.extension.Extension %></div>
            <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
        </div>
        <div class="row">
            <div class="subTitle"></div>
        </div>
    </header>
    <div class="mainContent">
      <div class="opSection">
        <section class="argsSection">
          <!-- module name -->
          <div class="row clearfix moduleName">
            <div class="description"><%= dicts.extension.ExtensionName %>:</div>
            <div class="inputWrap">
              <div class="dropDownList">
                <input class="text" type="text" disabled>
                <div class="iconWrapper">
                  <i class="icon xi-arrow-down"></i>
                </div>
                <div class="list">
                  <ul></ul>
                  include "../../util/menuScrollArea.html"
                </div>
              </div>
            </div>
          </div>
          <!-- node name -->
          <div class="row clearfix funcName">
            <div class="description"><%= dicts.extension.FunctionName %>:</div>
            <div class="inputWrap">
              <div class="dropDownList">
                <input class="text" type="text" disabled>
                <div class="iconWrapper">
                  <i class="icon xi-arrow-down"></i>
                </div>
                <div class="list">
                  <ul></ul>
                  include "../../util/menuScrollArea.html"
                </div>
              </div>
            </div>
          </div>
          <!-- args -->
          <div class="extArgs xc-hidden">
              <div class="instructionSection"></div>
              <div class="tableSection">
                <div class="label description"><%= dicts.common.Node %>:</div>
                <div class="dropDownList inputWrap">
                  <input class="text" type="text" disabled>
                  <div class="iconWrapper">
                    <i class="icon xi-arrow-down"></i>
                  </div>
                  <div class="list">
                    <ul></ul>
                    include "../../util/menuScrollArea.html"
                  </div>
                </div>
              </div>
          </div>
        </section>
        <section class="advancedEditor">
          <textarea></textarea>
        </section>
        <section class="bottomSection">
          <button type="button" class="btn btn-submit btn-rounded center confirm"><%= dicts.common.Save %></button>
          include "../util/switcher.html"
        </section>
    </div>
</section>
<!-- End of Extension Op Panel -->