<!-- IMD Table Operation Panel -->
<div id="IMDTableOpPanel" class="xc-hidden opPanel">
    <!-- Project Header -->
    <header class="headerSection">
        <div class="row clearfix">
            <div class="title"><%= dicts.IMDTableOp.SourceTable %></div>
            <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
        </div>
        <div class="row">
            <div class="subTitle"></div>
        </div>
    </header>
    <!-- content -->
    <div class="mainContent">
        <div class="IMDTable opSection">
        <p class="instructions instrText"><%= dicts.IMDTableOp.IMDTableInstr %></p>
        <!-- IMD Table View Top Section-->
        <section class="modalTopMain">
            <div class="IMDTableName formRow step1 clearfix">
                <div class="subHeading clearfix">
                <div class="label"><%= dicts.IMDTableOp.table %>:</div>
                </div>
                <p><%= dicts.IMDTableOp.tableInstr %></p>
                <div id="pubTableList" class="dropDownList">
                    <input class="text pubTableInput" type="text" value="" spellcheck="false">
                    <div class="iconWrapper">
                        <i class="icon xi-arrow-down"></i>
                    </div>
                    <div class="list">
                        <ul class="pubTables"></ul>
                        include "../../util/menuScrollArea.html"
                    </div>
                </div>
            </div>
            <!-- schema -->
            <div class="schema">
                <div class="subHeading clearfix">
                    <div class="label"><%= dicts.DFLink.Schema %>:</div>
                </div>
                include "colSchemaView.html"
            </div>
        </section>
        </div>
        include "opPanelAdvancedSection.html"
        include "opPanelBottomSection.html"
    </div>
</div>
<!-- End of IMD Table View -->