<div class="tableSection upperTableSection">
    <div class="upperTableHeader">
        <div class="tableListHeader">
            <div class="tableListTopHeader">
                <div class="text">Published Tables <span class="activeTableCount"></span></div>
                <div class="iconSection">
                    <i class="icon xi-refresh xc-action refreshList tableIcon"></i>
                </div>
            </div>
            <div class="tableListSubheader">
                <div class="checkbox checkAllActive">
                    <i class="icon xi-ckbox-empty"></i>
                    <i class="icon xi-ckbox-selected"></i>
                </div>
                <span class="tableOperationMessage">Select tables to perform operations</span>
                <div class="iconSection">
                    <i class="icon xi-sort sortActive tableIcon" title="Sort the table list" data-toggle="tooltip"
                        data-placement="top" data-container="body"></i>
                    <i class="icon xi-trash deleteActiveTable tableIcon" title="Delete selected tables" data-toggle="tooltip"
                        data-placement="top" data-container="body"></i>
                    <i class="icon xi-compare-arrows coalesce tableIcon" title="Coalesce each selected table" data-toggle="tooltip"
                        data-placement="top" data-container="body"></i>
                    <i class="icon xi-forbid deactivate tableIcon" title="Deactivate selected tables" data-toggle="tooltip"
                        data-placement="top" data-container="body"></i>
                </div>
            </div>
        </div>
        <div class="tickContainer">
            <canvas id="imdTimeCanvas"></canvas>
        </div>
    </div>
    <div class="mainTableSection">
        <div class="seperatorDiv"></div>
        <div class="indicatorDiv"></div>
        <div class="scrollDiv">
            <div class="fakeArea"></div>
        </div>
        <div class="activeTablesList tableList">
            <!-- autogenerate list of tables will go here -->
        </div>
    </div>
</div>
<div class="tableSection lowerTableSection">
    <div class="inactiveTablesList tableList">
        <div class="tableListHeader">
            <div class="checkbox checkAllInactive">
                <i class="icon xi-ckbox-empty"></i>
                <i class="icon xi-ckbox-selected"></i>
            </div>
            <div class="text">Inactive Tables <span class="inactiveTableCount"></span></div>
            <i class="icon xi-sort sortInactive tableIcon" title="Sort the table list" data-toggle="tooltip"
                    data-placement="top" data-container="body"></i>
            <div class="iconSection">
                    <i class="icon xi-trash deleteInactiveTable tableIcon" title="Delete selected tables" data-toggle="tooltip"
                    data-placement="top" data-container="body"></i>
                    <i class="icon xi-installerscreen-opencircle activate tableIcon" title="Activate selected tables" data-toggle="tooltip"
                    data-placement="top" data-container="body"></i>
            </div>
        </div>
        <div class="inactiveTablesListItems">
            <!-- autogenerate list of tables will go here -->
        </div>
    </div>
    <div class="tableDetailSection">
        <div class="subHeading">
            <div class="preText">Details about </div><span class="tableName"></span><span class="tableSize"></span>
            <span class="viewColumns xc-action">View columns</span>
            <span class="viewTables xc-action">View table details</span>
        </div>
        <div class="tableDetailList updatesList">
            <div class="tableDetailRow headerRow">
                <div class="tableColumn name" data-type="name"><span class="label">Source</span><i class="icon xi-sort fa-15 xc-action"></i></div>
                <div class="tableColumn batchID" data-type="batchID"><span class="label">Batch ID</span><i class="icon xi-sort fa-15 xc-action"></i></div>
                <div class="tableColumn timeStamp" data-type="timeStamp"><span class="label">Timestamp</span><i class="icon xi-sort fa-15 xc-action"></i></div>
                <div class="tableColumn metaData" data-type="metaData"><span class="label">Number of Rows</span><i class="icon xi-sort fa-15 xc-action"></i></div>
            </div>
            <div class="tableDetailContent">
            </div>
        </div>
        <div class="tableDetailList columnsList">
            <div class="tableDetailRow headerRow">
                <div class="tableColumn name" data-type="name"><span class="label">Source</span><i class="icon xi-sort fa-15 xc-action"></i></div>
                <div class="tableColumn batchID" data-type="batchID"><span class="label">Batch ID</span><i class="icon xi-sort fa-15 xc-action"></i></div>
                <div class="tableColumn timeStamp" data-type="timeStamp"><span class="label">Timestamp</span><i class="icon xi-sort fa-15 xc-action"></i></div>
                <div class="tableColumn metaData" data-type="metaData"><span class="label">Number of Rows</span><i class="icon xi-sort fa-15 xc-action"></i></div>
            </div>
            <div class="tableDetailContent">
            </div>
        </div>
        <div class="emptyText">
            <%= dicts.IMDPanel.emptyDetails %>
        </div>
    </div>
</div>
<div class="update-prompt xc-hidden">
    <div class="arrow arrowSecondary"></div>
    <div class="arrow"></div>
    <i class="icon xi-close close"></i>
    <div class="basicOptions">
       <div class="heading"><%= dicts.IMDPanel.RefreshTables %>:</div>
        <div class="buttonWrap">
            <button type="button" class="btn pointInTime">Point in time</button>
            <button type="button" class="btn latest">Latest</button>
        </div>
    </div>
</div>
<div class="dateTipLine"></div>
<div class="date-tipbox">
    <div id="#imdDateTipBox">May 12th Monday 2018 12:00:00</div>
</div>