<div class="tableSection upperTableSection">
    <div class="upperTableHeader">
        <div class="tableListHeader">
            <div class="text">Published Tables</div>
            <div class="iconSection">
                <i class="icon xi-trash tableIcon"></i>
                <i class="icon xi-hide tableIcon"></i>
                <i class="icon xi-refresh xc-action refreshList tableIcon"></i>
            </div>
        </div>
        <div class="tickContainer">
            <canvas id="imdTimeCanvas"></canvas>
        </div>
    </div>
    <div class="mainTableSection">
        <div class="seperatorDiv"></div>
        <div class="indicatorDiv"></div>
        <div class="scrollDiv">
            <div class="fakeArea"></div>
        </div>
        <div class="activeTablesList tableList">
            <!-- autogenerate list of tables will go here -->
        </div>
    </div>
</div>
<div class="tableSection lowerTableSection">
    <div class="hiddenTablesList tableList">
        <div class="tableListHeader">
            <div class="text">Hidden Tables</div>
            <div class="iconSection">
                <i class="icon xi-trash tableIcon"></i>
                <i class="icon xi-show tableIcon"></i>
            </div>
        </div>
        <div class="hiddenTablesListItems">
             <!-- autogenerate list of tables will go here -->
        </div>
    </div>
    <div class="tableDetailSection">
        <div class="subHeading">More details about <span class="tableName"></span>
        </div>
        <div class="tableDetailList">
            <div class="tableDetailRow headerRow">
                <div class="tableColumn name">Source</div>
                <div class="tableColumn batchID">Batch ID</div>
                <div class="tableColumn timeStamp">Timestamp</div>
                <div class="tableColumn metaData">Number of Rows</div>
            </div>
            <div class="tableDetailContent">

            </div>
        </div>
        <div class="emptyText">
            <%= dicts.IMDPanel.emptyDetails %>
        </div>
    </div>
</div>
<div class="update-prompt xc-hidden">
    <div class="arrow arrowSecondary"></div>
    <div class="arrow"></div>
    <i class="icon xi-close close"></i>
    <div class="basicOptions">
       <div class="heading"><%= dicts.IMDPanel.RefreshTables %>:</div>
        <div class="buttonWrap">
            <button type="button" class="btn pointInTime">Point in time</button>
            <button type="button" class="btn latest">Latest</button>
        </div>
        <div class="moreOptions xc-action"><%= dicts.IMDPanel.more %></div>
    </div>
    <div class="advancedOptions">
        <div class="heading"><%= dicts.IMDPanel.Coalesce %> <i class="hint qMark icon xi-unknown"
            data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.IMDPanel.CoalesceTip %>"></i> :</div>
        <div class="buttonWrap">
            <button type="button" class="btn coalesce"><%= dicts.IMDPanel.Coalesce %></button>
        </div>
        <div class="moreOptions xc-action"><%= dicts.IMDPanel.back %></div>
    </div>
</div>
<div class="dateTipLine"></div>
<div class="date-tipbox">
    <div id="#imdDateTipBox">May 12th Monday 2018 12:00:00</div>
</div>