<section id="joinOpPanel" class="xc-hidden opPanel joinOpPanel">
    <header>
      <div class="title"><%= dicts.joinView.header %></div>
      <i class="close icon xi-close"></i>
    </header>
    <div class="mainContent">
      <div class="join opSection">
        <!-- first step -->
        <section data-xcid="joinFirstStep" class="firstStep">
            include "joinOpPanelJoinTemplate.html"
            <p class="instructions"><%= dicts.joinView.instr %></p>
            <section class="topDropdowns clearfix">
              <div class="subHeading clearfix">
                <div><%= dicts.joinView.JoinType %>:
                  <div class="hint csHelp" data-topic="joinTables" title="" data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.TooltipTStr.CSHelp %>">
                    <i class="icon xi-help fa-12"></i>
                  </div>
                </div>
              </div>
              <div data-xcid="joinType" class="dropDownList">
                <div data-xcid="text" class="text"><%= dicts.joinView.InnerJoin %></div>
                <div class="iconWrapper">
                  <i class="icon xi-arrow-down"></i>
                </div>
                <ul data-xcid="menuItems" class="list"></ul>
            </div>
          </section>
          <!-- Join Main Section -->
          <section>
            <div>
                <div class="subHeading clearfix"><div><%= dicts.joinView.colSelectTitle %></div></div>
                <p data-xcid="colInstruction" class="colSelectInstr"></p>
            </div>
            <div data-xcid="clauseArea">
              <!-- <div class="smartSuggestSection">
                <button class="smartSuggest btn" title="<%= dicts.joinView.SuggRightHint %>" data-toggle="tooltip" data-placement="top" data-container="body"><%= dicts.joinView.SmartSuggBtn %></button>
                <span class="suggError">e</span>
              </div> -->
              <div class="row row-subheading">
                <div class="col col-left"><%= dicts.joinView.LeftCols %></div>
                <div class="col col-right"><%= dicts.joinView.RightCols %></div>
              </div>
              <div class="mainTable">
                <div data-xcid="clauseContainer"></div>
                <div class="addClause placeholder">
                  <button data-xcid="addClauseBtn" class="btn"><i class="icon xi-plus fa-12"></i><%= dicts.joinView.ADDCLAUSE %></button>
                </div>
              </div>
            </div>
            <section data-xcid="crossJoinFilter">
              <div class="subHeading clearfix">
                <div class="text"><%= dicts.joinView.FilterEval %></div>
              </div>
              <p class="crossJoinFilterInstr"><%= dicts.joinView.FilterInstr %></p>
              <input data-xcid="evalStr" type="text" spellcheck="false" />
            </section>
            <section class="joinPreviewArea">
              <div class="subHeading clearfix">
                <div class="text"><%= dicts.joinView.Preview %></div>
              </div>
              <p class="joinPreview" data-xcid="joinPreview">
                <span class="joinType keyword">Inner Join</span>
                <span class="highlighted">table1</span>,<span class="highlighted">table2</span>
                <br/><span class="keyword">ON </span>
                <span class="highlighted">col1</span> = <span class="highlighted">col2</span>
              </p>
            </section>
          </section>
        </section>
        <!-- second step -->
        <section data-xcid="joinSecondStep" class="secondStep">
          include "joinOpPanelRenameTemplate.html"
          <p class="instructions"><%= dicts.joinView.instr %></p>
          <!-- <div class="colsToKeepSection noSelection">
            <div class="subHeading clearfix">
              <div><%= dicts.joinView.colKeepTitle %></div>
            </div>
            <p><%= dicts.joinView.colKeepInstr %></p>
            <div class="subHeading clearfix">
              <div class="leftColHeading"><%= dicts.joinView.LeftCols %>
                <div class="checkbox checked selectAll">
                  <i class="icon xi-ckbox-empty fa-13"></i>
                  <i class="icon xi-ckbox-selected fa-13"></i>
                </div>
              </div>
              <div class="rightColHeading"><%= dicts.joinView.RightCols %>
                <div class="checkbox checked selectAll">
                  <i class="icon xi-ckbox-empty fa-13"></i>
                  <i class="icon xi-ckbox-selected fa-13"></i>
                </div>
              </div>
            </div>
            <div class="columnsWrap clearfix">
              <ul class="leftCols cols"></ul>
              <ul class="rightCols cols"></ul>
            </div>
          </div> -->
          <!-- <div class="checkboxWrap keepTablesCBWrap clearfix">
            <div class="keepTableCheckbox">
              <div class="text"><%= dicts.joinView.keepTables %></div>
              <div class="checkbox">
                <i class="icon xi-ckbox-empty fa-13"></i>
                <i class="icon xi-ckbox-selected fa-13"></i>
              </div>
            </div>
            <i class="hint qMark icon xi-unknown" data-container="body" data-toggle="tooltip" title="<%= dicts.joinView.keepTablesHint %>"></i>
          </div> -->
          <div class="renameSection">
            <div class="subHeading clearfix">
              <div><%= dicts.common.ColRenames %></div>
            </div>
            <p><%= dicts.common.ColRenameInstr %></p>
            <div data-xcid="prefixRename"></div>
            <div data-xcid="derivedRename"></div>
          </div>
          <!-- <div>
            <div class="subHeading">
              <div class="text"><%= dicts.joinView.NewTableName %>:</div>
            </div>
            <input data-xcid="joinTableNameInput" type="text" required spellcheck="false" autofocus>
          </div> -->
          <!-- <div class="estimatorWrap">
            <div class="subHeading clearfix" data-container="body" data-toggle="tooltip" title="<%= dicts.joinView.EstimateTooltip %>">
              <div class="title"><%= dicts.joinView.Estimate %>
              </div>
              <div class="checkbox estimateCheckbox">
                <i class="icon xi-ckbox-empty fa-13"></i>
                <i class="icon xi-ckbox-selected fa-13"></i>
              </div>
            </div>
            <div class="stats">
              <div class="min"><%= dicts.statistics.Min %>: <div class="value"></div></div>
              <div class="med"><%= dicts.statistics.Med %>: <div class="value"></div></div>
              <div class="max"><%= dicts.statistics.Max %>: <div class="value"></div></div>
            </div>
          </div> -->
        </section>
      </div>
      <!-- Advanced form -->
      <section class="advancedEditor">
        <textarea></textarea>
      </section>
      <!-- Buttons -->
      <section data-xcid="bottomSection" class="bottomSection">
        <div data-xcid="step1" class="btnWrap">
          <button data-xcid="btnNextStep" class="btn btn-rounded btn-submit submit" type="button"><%= dicts.common.Next %></button>
        </div>
        <div data-xcid="step2" class="btnWrap">
          <button data-xcid="joinTables" class="btn btn-submit btn-rounded submit" type="button"><%= dicts.common.Save %></button>
          <button data-xcid="goBack" class="btn btn-cancel btn-rounded submit" type="button"><%= dicts.common.Back %></button>
        </div>
        <div data-xcid="adv" class="btnWrap">
            <button data-xcid="saveAdv" class="btn btn-submit btn-rounded submit" type="button"><%= dicts.common.Save %></button>
        </div>
        include "../util/switcher.html"
      </section>
    </div>
  </section>
  