<!-- Derived Column List Template -->
<div data-xcid="xdtemp_projop_column_derive" style="display:none">
    <li (click)="onColClick">
        <span class="text tooltipOverflow" data-original-title="{{origTitle}}" data-toggle="tooltip" data-placement="top" data-container="body">{{colName}}</span>
        <div class="checkbox {{checkClass}}">
        <i class="icon xi-ckbox-empty fa-13"></i>
        <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
    </li>
</div>
    
<!-- Fixed Column List Template -->
<div data-xcid="xdtemp_projop_column_nocheck" style="display:none">
    <li>
        <span class="text tooltipOverflow" data-original-title="{{origTitle}}" data-toggle="tooltip" data-placement="top" data-container="body">{{colName}}</span>
    </li>
</div>
    
<!-- Prefixed Column List Template -->
<div data-xcid="xdtemp_projop_prefixed" style="display:none">
    <div class="prefixGroup columnGroup">
        <div class="prefixName" data-toggle="tooltip" data-container="body" data-original-title="{{prefixTip}}">{{prefix}}</div>
        <div class="checkboxWrap selectAllWrap" (click)="onSelAllClick">
            <div class="checkbox {{selAllCss}}">
                <i class="icon xi-ckbox-empty fa-13"></i>
                <i class="icon xi-ckbox-selected fa-13"></i>
            </div>
            <div class="text">{{textSelectAll}}</div>
        </div>
        <div class="columnsToExport columnsWrap flexWrap clearfix">
            <ul class="cols" data-xcid="columnContainer"></ul>
        </div>
    </div>
</div>
      
      