<!-- Publish IMD Operation Panel -->
<div id="publishIMDOpPanel" class="xc-hidden opPanel">
    <!-- Project Header -->
    <header class="headerSection">
      <div class="row clearfix">
            <div class="title"><%= dicts.publishIMDOp.publishIMD %></div>
            <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
        </div>
        <div class="row">
            <div class="subTitle"></div>
        </div>
    </header>
    <!-- content -->
    <div class="mainContent">
      <div class="publishIMD opSection">
        <p class="mainInstructions instrText"><%= dicts.publishIMDOp.publishInstr %></p>
        <!-- Publish IMD View Top Section-->
        <section class="modalTopMain">
          <div class="IMDName formRow">
            <div class="subHeading clearfix">
              <div class="label"><%= dicts.publishIMDOp.name %>:</div>
            </div>
            <div class="inputWrap">
                <input class="arg IMDNameInput" type="text" tabindex="10"
                    spellcheck="false" data-typeid="-1"
                    data-casted="false" data-casttype="null">
            </div>
          </div>
          <div class="IMDKey formRow">
              <div class="subHeading clearfix">
                <div class="label"><%= dicts.publishIMDOp.key %>:</div>
              </div>
              <p><%= dicts.publishIMDOp.keyInstr %></p>
              <div class="checkboxWrap disableKey">
                <div class="text"><%= dicts.publishIMDOp.noKey %></div>
                <div class="checkbox">
                    <i class="icon xi-ckbox-empty fa-13"></i>
                    <i class="icon xi-ckbox-selected fa-13"></i>
                </div>
              </div>
              <div class="primaryKeyList dropDownList">
                  <input class="text primaryKeyInput" type="text" value="" spellcheck="false">
                  <div class="iconWrapper">
                      <i class="icon xi-arrow-down"></i>
                  </div>
                  <div class="list">
                      <ul class="primaryKeyColumns"></ul>
                      include "../../util/menuScrollArea.html"
                  </div>
              </div>
          </div>
          <div class="btnWrap">
            <div class="addArgWrap addArgWrapLarge">
                <button class="btn btn-secondary addArg addKeyArg">
                  <%= dicts.opsView.AddAnotherColumn %></span>
                </button>
            </div>
          </div>
          <div class="IMDOperator formRow">
              <div class="subHeading clearfix">
                <div class="label"><%= dicts.publishIMDOp.operator %>:</div>
              </div>
              <p><%= dicts.publishIMDOp.operatorInstr %></p>
              <div id="IMDOperatorList" class="dropDownList">
                  <input class="text IMDOperatorInput" placeholder="Optional" type="text"
                    value="" spellcheck="false">
                  <div class="iconWrapper">
                      <i class="icon xi-arrow-down"></i>
                  </div>
                  <div class="list">
                      <ul class="IMDOperatorColumns"></ul>
                      include "../../util/menuScrollArea.html"
                  </div>
              </div>
            </div>
            <div id="publishIMDColumns" class="publishColumnsSection formRow">
                <div class="subHeading clearfix">
                    <div class="label"><%= dicts.publishIMDOp.colsInTable %>:</div>
                </div>
                <div class="checkboxWrap selectAllWrap">
                    <div class="text"><%= dicts.common.SelectAll %></div>
                    <div class="checkbox">
                        <i class="icon xi-ckbox-empty fa-13"></i>
                        <i class="icon xi-ckbox-selected fa-13"></i>
                    </div>
                </div>
                <div class="columnsToPublish columnsWrap flexWrap clearfix">
                    <ul class="cols"></ul>
                    <div class="hint noColsHint empty"><%= dicts.dataflow.noColsHint %></div>
                </div>
            </div>
      </div>
      include "opPanelAdvancedSection.html"
      include "opPanelBottomSection.html"
    </div>
  </div>
  <!-- End of Publish IMD View -->
