<!-- Smart Cast View -->
<section id="sortView" class="xc-hidden opView">
  <!-- Export Header -->
  <header>
    <div class="title"><%= dicts.sortView.SORT %></div>
    <i class="close icon xi-close"></i>
  </header>
  <div class="mainContent">
    <div class="instructions">
      <p><%= dicts.sortView.instr %></p>
    </div>
    <div class="subHeading clearfix">
      <div class="label"><%= dicts.sortView.colInstrHeader %></div>
    </div>
    <p><%= dicts.sortView.colInstrText %></p>
    <div id="sortView-table" class="tableSection no-selection">
      <div class="clearWrap clearfix">
        <div class="clear xc-action">
          <i class="icon xi-select-none fa-17"></i>
          <%= dicts.common.ClearAll %>
        </div>
      </div>
      <div class="tableTitle">
        <div class="col"><%= dicts.smartCast.colName %></div>
        <div class="col"><%= dicts.sortView.order %></div>
      </div>
      <div class="hint"><%= dicts.sortView.NoSort %></div>
      <div class="tableContent"></div>
      <div id="sortViewMenu" class="menu">
        <ul>
          <li class="ascending" data-order="ascending">Ascending</li>
          <li class="descending" data-order="descending">Descending</li>
        </ul>
        include "../../util/menuScrollArea.html"
      </div>
    </div>
    <!-- bottom section -->
    <div class="bottomSection flexWrap">
      <button type="button" class="btn confirm"><%= dicts.sortView.SORT %></button>
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
    </div>
  </div>
</section>
<!-- End of Smart Cast View -->
