<!-- SQLFuncOut Panel -->
<section id="sqlFuncOutPanel" class="xc-hidden opPanel">
  <!-- Header -->
  <header class="headerSection">
    <div class="row clearfix">
        <div class="title"><%= dicts.SQLFunc.Output %></div>
        <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
    </div>
    <div class="row">
        <div class="subTitle"></div>
    </div>
  </header>
  <!-- content -->
  <div class="mainContent">
    <div class="opSection">
      <p class="mainInstructions instrText"><%= dicts.SQLFunc.OutputInstr %></p>
      <!-- schema -->
      <div class="row clearfix schema">
        <p class="description"><%= dicts.DFLink.Schema %>:</p>
        include "colSchemaView.html"
      </div>
      <!-- end of schema row -->
    <!-- end of arg section -->
    </div>
    <!-- end of opsection -->
    include "opPanelAdvancedSection.html"
    include "opPanelBottomSection.html"
  </div>
</section>
<!-- End Of SQLFuncOut Panel -->