<!-- Table List Section -->
<div class="iconSection">
  <i class="minimizeBtn icon xi-close fa-15"></i>
  <!-- switch to worksheet list -->
  <i id="worksheetListTab" class="right icon xi-worksheet fa-20" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.ws.WSList %>"></i>
</div>
<header class="titleSection"><%= dicts.common.Tables %>
  <div class="hint csHelp" data-topic="tablesList" title="" data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.TooltipTStr.CSHelp %>">
    <i class="white icon xi-help fa-12"></i>
  </div>
</header>
<div id="tableListSection" class="mainSection no-selection">
  <!-- Tabs -->
  <section id="tableListSectionTabs">
    <div class="tableListSectionTab active"><%= dicts.ws.ActiveList %></div>
    <div class="tableListSectionTab"><%= dicts.ws.InActiveList %></div>
    <div class="tableListSectionTab"><span class="fullText"><%= dicts.ws.OrphanList %></span><span class="abbrText"><%= dicts.ws.TempAbbr %>...</span></div>
    <div class="tableListSectionTab"><span class="fullText"><%= dicts.ws.ConstList %></span><span class="abbrText"><%= dicts.ws.ConstAbbr %>...</span></div>
  </section>
  <!-- Sections -->
  <section id="tableListSections">
    <!-- active list -->
    <div id="activeTableListSection" class="tableListSection sortedByDate">
      <div class="buttonSection">
        <div class="submit archive xc-hidden" title="<%= dicts.ws.archive %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <i class="icon xi-archive"></i>
        </div>
        <i class="icon xi-select-none select clearAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.DeSelectAll %>"></i>
        <i class="icon xi-select-all select selectAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.SelectAll %>"></i>
      </div>
      <div class="sortSection">
        <span class="label"><%= dicts.common.SortBy %>:&nbsp;</span>
        <span class="sortDate sortOption"><%= dicts.common.LastUpdated %></span>
        <span class="divider"></span>
        <span class="sortName sortOption"><%= dicts.common.Name %></span>
      </div>
      <ul id="activeTablesList" class="tableLists"></ul>
      <div class="listInstructions">
        <%= dicts.ws.ActiveTableInstr %>
      </div>
    </div>
    <!-- archived list -->
    <div id="archivedTableListSection" class="tableListSection sortedByDate">
      <div class="buttonSection">
        <div id="submitTablesBtn" class="submit active xc-hidden" title="<%= dicts.ws.active %>" data-toggle="tooltip" data-placement="top" data-container="body">
           <i class="icon xi-back-to-worksheet fa-17"></i>
        </div>
        <div class="submit delete xc-hidden" title="<%= dicts.TooltipTStr.DropTables %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <i class="icon xi-trash fa-17"></i>
        </div>
        <i class="icon xi-select-none select clearAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.DeSelectAll %>"></i>
        <i class="icon xi-select-all select selectAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.SelectAll %>"></i>
      </div>
      <div class="sortSection">
        <span class="label"><%= dicts.common.SortBy %>:&nbsp;</span>
        <span class="sortDate sortOption"><%= dicts.common.LastUpdated %></span>
        <span class="divider"></span>
        <span class="sortName sortOption"><%= dicts.common.Name %></span>
      </div>
      <ul id="inactiveTablesList" class="tableLists"></ul>
      <div class="listInstructions">
        <%= dicts.ws.HideTableInstr %>
      </div>
    </div>
    <!-- orphaned table list -->
    <div id="orphanedTableListSection" class="tableListSection">
      <div class="buttonSection">
        <div class="submit active xc-hidden" title="<%= dicts.ws.active %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <i class="icon xi-back-to-worksheet fa-17"></i>
        </div>
        <div class="submit delete xc-hidden" title="<%= dicts.TooltipTStr.DropTables %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <i class="icon xi-trash fa-17"></i>
        </div>
        <i class="icon xi-select-none select clearAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.DeSelectAll %>"></i>
        <i class="icon xi-select-all select selectAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.SelectAll %>"></i>
        <div class="divider"></div>
        <i class="icon xi-refresh refresh fa-18 blue" data-toggle="tooltip" data-placement="top" data-container="body" title="" data-original-title="<%= dicts.common.Refresh %>"></i>
      </div>
      <div id="orphanedTableList-search" class="searchbarArea">
          <input type="text" placeholder="<%= dicts.ws.filterOrphan %>"
            spellcheck="false" />
          <div class="clear iconWrap">
            <i class="icon xi-close"></i>
          </div>
          <div class="counter">
            <span class="position"></span>
            <span class="total"></span>
          </div>
          <div class="arrows">
            <div class="upArrow iconWrap">
              <i class="icon xi-up"></i>
            </div>
            <div class="downArrow iconWrap">
              <i class="icon xi-down"></i>
            </div>
          </div>
      </div>
      <ul id="orphanedTablesList" class="tableLists"></ul>
      <div class="listInstructions">
        <%= dicts.ws.TempTableInstr %>
      </div>
    </div>
    <div id="constantsListSection" class="tableListSection">
      <div class="buttonSection">
        <div class="submit delete xc-hidden" title="<%= dicts.TooltipTStr.DropConsts %>" data-toggle="tooltip" data-placement="top" data-container="body">
          <i class="icon xi-trash fa-17"></i>
        </div>
        <i class="icon xi-select-none select clearAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.DeSelectAll %>"></i>
        <i class="icon xi-select-all select selectAll" data-toggle="tooltip" data-placement="top" data-container="body" title="<%= dicts.common.SelectAll %>"></i>
        <div class="divider"></div>
        <i class="icon xi-refresh refresh fa-18 blue" data-toggle="tooltip" data-placement="top" data-container="body" title="" data-original-title="<%= dicts.common.Refresh %>"></i>
      </div>
      <ul id="constantList" class="tableLists"></ul>
      <div class="listInstructions">
        <%= dicts.ws.ConstTableInstr %>
      </div>
    </div>
  </section>
  <!-- End Of Sections -->
</div>