<!-- Union View -->
<section id="unionView" class="xc-hidden opView">
  <!-- Header -->
  <header class="headerSection">
    <div class="title"><%= dicts.unionView.header %></div>
    <i class="close icon xi-close"></i>
  </header>
  <!-- content -->
  <div class="mainContent">
    <div class="union opSection">
      <p class="instructions"><%= dicts.unionView.Instr %></p>
      <!-- topSection -->
      <section class="topSection">
        <div class="dedup">
          <div class="header"><%= dicts.unionView.Mode %>:</div>
          <div class="dropDownList modeList">
            <div class="text"><%= dicts.unionView.UnionAll %></div>
            <div class=iconWrapper>
              <i class="icon xi-arrow-down"></i>
            </div>
            <div class="list">
              <ul>
                <li name="unionAll">
                  <%= dicts.unionView.UnionAll %>
                </li>
                <li name="union">
                  <%= dicts.unionView.Union %>
                </li>
                <li name="exceptAll">
                  <%= dicts.unionView.ExceptAll %>
                </li>
                <li name="except">
                  <%= dicts.unionView.Except %>
                </li>
                <li name="intersectAll">
                  <%= dicts.unionView.IntersectAll %>
                </li>
                <li name="intersect">
                  <%= dicts.unionView.Intersect %>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="divider"></div>
        <div class="addTableSection">
          <div class="header"><%= dicts.unionView.TableTitle %>:</div>
          <button class="btn addTable"><%= dicts.unionView.AddTable %></button>
        </div>
        <div class="tableSection">
          <div class="listSection"></div>
        </div>
      </section>
      <section class="middleSection">
        <!-- result part -->
        <div class="resultSection">
          <div class="header clearfix">
            <span class="text"><%= dicts.unionView.ColumnTitle %>:</span>
          </div>
          <div class="listSection"></div>
        </div>
        <!-- drop part -->
        <div class="candidateSection">
          <div class="subHeading clearfix">
            <span class="text"><%= dicts.unionView.CandidateTitle %>:</span>
          </div>
          <div class="listSection">
            <div class="lists"></div>
          </div>
        </div>
      </section>
      <section class="bottomSection">
        <button type="button" class="btn center confirm"><%= dicts.unionView.UnionAll %></button>
      </section>
    </div>
  </div>
</section>
<!-- End Of Union Modal -->
