<!-- MONITOR PANEL -->
<div id="monitorPanel" class="mainPanel no-selection">
  <div id="monitorTopBar" class="topBar">
    <div class="backToWB">
      <i class="icon xi-arrowtail-left"></i>
    </div>
    <div class="title"><%= dicts.monitor.Monitor %>/<%= dicts.monitor.Queries %></div>
    <div class="title wkbkTitle"><%= dicts.workbook.header %></div>
    <div id="extension-search" class="searchBar xc-hidden">
      <input type="text" placeholder="<%= dicts.extension.SearchHint %>...">
      <div class="rightArea">
        <i class="icon xi-search fa-22 center"></i>
      </div>
    </div>
  </div>
  <div class="mainContent">
    <!-- Queries Section -->
    <section id="monitor-queries" class="subPanel monitorSection active">
      include "monitorQuery.html"
    </section>
    <!-- End Of Queries Section -->
    <!-- System Section -->
    <section id="monitor-system" class="subPanel monitorSection">
      include "monitorSys.html"
    </section>
    <!-- End Of System Section -->
    <!-- Setup Section -->
    <section id="monitor-setup" class="subPanel monitorSection firstTouch">
      include "monitorSetup.html"
    </section>
    <!-- End of Setup Section -->
    <!-- Settings Section -->
    <section id="monitor-settings" class="subPanel monitorSection">
      include "monitorSettings.html"
    </section>
    <!-- End of Settings Section -->
    <section id="monitor-extension" class="subPanel monitorSection">
      include "../extension/extensionPanel.html"
    </section>
    
    <section id="monitorSupportTools" class="subPanel monitorSection">
      include "monitorSupportTools.html"
    </section>
  </div>
  
</div>
<!-- END OF MONITOR PANEL -->