<!-- Monitor Sys Menu -->
<header class="titleSection">
  <div><%= dicts.monitor.Setup %></div>
  <i class="minimizeBtn icon xi-close fa-15"></i>
</header>
<div id="monitorMenu-setup" class="mainSection">
  <div class="preference listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.monitor.Config %></span>
    </div>
    <ul class="no-selection">
      <li>
        <i class="icon xi-download fa-12"></i>
        <span class="text"><%= dicts.monitor.Install %></span>
      </li>
      <li>
        <i class="icon xi-trash fa-12"></i>
        <span class="text"><%= dicts.monitor.Uninstall %></span>
      </li>
      <li>
        <i class="icon xi-upgrade fa-12"></i>
        <span class="text"><%= dicts.monitor.Upgrade %></span>
      </li>
      <li>
        <i class="icon xi-start-nodes fa-12"></i>
        <span class="text"><%= dicts.monitor.StartNode %></span>
      </li>
      <li>
        <i class="icon xi-stop-nodes fa-12"></i>
        <span class="text"><%= dicts.monitor.StopNode %></span>
      </li>
      <li>
        <i class="icon xi-restart-nodes fa-12"></i>
        <span class="text"><%= dicts.monitor.RestartNode %></span>
      </li>
    </ul>
  </div>
  <div class="adminOnly userList listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.monitor.UseAs %></span>
    </div>
    <div class="searchWrap">
      <div id="adminUserSearch" class="searchbarArea">
        <!-- <i class="icon searchIcon xi-search"></i> -->
        <input type="text" spellcheck="false" placeholder="<%= dicts.admin.searchUser %>">
        <div class="closeBox iconWrap"><i class="icon xi-cancel"></i></div>
        <div class="counter"><span class="position"></span> <span class="total"></span></div>
        <div class="arrows">
          <div class="upArrow iconWrap"><i class="icon xi-up"></i></div>
          <div class="downArrow iconWrap"><i class="icon xi-down"></i></div>
        </div>
      </div>
    </div>
    <ul class="no-selection">
      <li class="userLi">
        <span class="text">User 1</span>
      </li>
      <li class="userLi">
        <span class="text">User 2</span>
      </li>
    </ul>
  </div>
</div>