<!-- Monitor Sys Menu -->
<header class="titleSection">
  <div><%= dicts.monitor.Syst %></div>
  <i class="minimizeBtn icon xi-close fa-15"></i>
</header>
<div id="monitorMenu-sys" class="mainSection">
  <div class="support listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.common.Supports %></span>
    </div>
    <ul class="no-selection">
      <li>
        <span class="text"><%= dicts.monitor.GenSub %></span>
        <i id="monitor-genSub" class="icon xc-action xi-generate-sub fa-15"></i>
      </li>
      <li>
        <span class="text"><%= dicts.monitor.ReleaseMem %></span>
        <i id="monitor-delete" class="icon xc-action xi-trash fa-15"></i>
      </li>
    </ul>
  </div>
</div>