<div id="setupCard" class="cardContainer">
  <header class="cardHeader">
    <span class="title"><%= dicts.common.Details %></span>
  </header>
  <div class="cardMain">
    <div class="optionsArea clearfix">
      <% var names = ['DsDefaultSampleSize', 'StatTurnOnDiffStats', 'DsMaxUncompressedFileSize',
      'XcalarRootCompletePath', 'XcalarRootCompletePath', 'DfMaxRecords', 'ConfigUiKvStorePath',
      'StatTurnOnDiffStats', 'StatTurnOnDiffStats', 'DsMaxUncompressedFileSize',
      'XcalarRootCompletePath', 'XcalarRootCompletePath', 'DfMaxRecords', 'ConfigUiKvStorePath',
      'StatTurnOnDiffStats']; %>
      <% var inputValues = [524280000, false, 1073741824, '//var//tmp/xcalar//1073741824',
      '//var//tmp//UI.kvStore', false, 1073741824, 1073741824, 1073741824, 1073741824,
      1073741824, 1073741824, 1073741824, 1073741824]; %>
      <% _.each(names, function(name, i) { %>

      <div class="optionRow">
        <div class="nameArea">
          <span class="label"><%= dicts.common.Name %>: </span>
          <span class="name"><%= name %></span>
        </div>
        <div class="valueArea">
          <span class="label"><%= dicts.common.Val %>: </span>
          <input type="text" value="<%= inputValues[i] %>">
        </div>
        <div class="buttonArea">
          <button class="btn"><%= dicts.common.BROWSE %></button>
        </div>
      </div>
     <% }) %>
      <div class="optionRow">
        <div class="nameArea">
          <span class="label"><%= dicts.common.Name %>: </span>
          <span class="name">DsDefaultSampleSize</span>
        </div>
        <div class="valueArea">
          <span class="label"><%= dicts.common.Val %>: </span>
          <input type="text">
        </div>
        <div class="buttonArea">
          <button class="btn"><%= dicts.common.BROWSE %></button>
        </div>
      </div>
    </div>
  </div>
  <div class="cardBottom">
    <button class="btn"><%= dicts.common.CONFIRMSAVE %></button>
    <button class="btn"><%= dicts.common.CONFIRMRESTART %></button>
    <button class="btn btn-cancel"><%= dicts.common.CANCEL %></button>
  </div>
</div>
<div id="configCard" class="cardContainer">
  <header class="cardHeader">
    <span class="title"><%= dicts.monitor.ConfigParam %></span>
  </header>
  <div class="cardMain">
    <div class="formRow clearfix">
      <label class="argWrap">
        <span class="text">Config Parameter Name:</span>
        <input type="text" class="xc-input paramName" data-value="">
      </label>
      <label class="argWrap">
        <span class="text">Current Value:</span>
        <input type="text" class="xc-input curVal" disabled>
      </label>
      <label class="argWrap">
        <span class="text">New Value:</span>
        <input type="text" class="xc-input newVal">
      </label>
    </div>
    <div class="formRow clearfix placeholder" title="Add Config Parameter" data-toggle="tooltip">
      <label class="argWrap">
        <span class="text">Config Parameter Name:</span>
        <div class="xc-input">
          <i class="icon xi-plus"></i>
        </div>
      </label>
      <label class="argWrap">
        <span class="text">Current Value:</span>
        <div class="xc-input">
          <i class="icon xi-plus"></i>
        </div>
      </label>
      <label class="argWrap">
        <span class="text">New Value:</span>
        <div class="xc-input">
          <i class="icon xi-plus"></i>
        </div>
      </label>
    </div>
  </div>
  <div class="cardBottom">
    <button class="btn"><%= dicts.common.CONFIRMSAVE %></button>
    <button class="btn"><%= dicts.common.CONFIRMRESTART %></button>
    <button class="btn btn-cancel"><%= dicts.common.CANCEL %></button>
  </div>
</div>
