<!-- monitors -->
<div id="monitor-graphCard" class="cardContainer monitorCard">
  <header class="cardHeader"><span class="title">Statistics</span></header>
  <!-- asupSub section -->
  <div class="asupSubSection cardTopMain">
     <div id="connectionInfo">
        <span class="text" id="phyNodeText"><%= dicts.monitor.PhysicalNode %>: </span>
        <span class="text" id="phyNode">localhost</span>
        <span class="text" id="virNodeText"><%= dicts.monitor.VirtualNode %>: </span>
        <span class="text" id="virNode">Node 0</span>
      </div>
      <div class="time">
        <span class="text"><%= dicts.monitor.LastCheckTime %>: </span>
        <span id="graphTime"></span>
      </div>
  </div>
  <!-- end of asupsub section -->
  <div class="cardMain">
    <!-- top section -->
    <div class="topSection clearfix">
      <div class="graphSwitchBox">
        <div class="header">Display Settings</div>
        <div class="graphSwitches">
          <div class="row clearfix">
            <div class="text"><%= dicts.monitor.CPU %></div>
            <div id="cpuTab" class="graphSwitch xc-switch switch on">
              <div class="slider"></div>
            </div>
          </div>
          <div class="row clearfix">
            <div class="text"><%= dicts.monitor.RAM %></div>
            <div id="ramTab" class="graphSwitch xc-switch switch">
              <div class="slider"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="graphSection">
        <div id="graphWrap">
          <div id="graph">
            <div id="grids"></div>
            <div class="svgWrap"></div>
            <div class="separator"></div>
            <div class="xLabelsWrap">
              <div class="spacer"></div>
              <div class="xLabels"></div>
            </div>
          </div>
        </div>
        <div id="graphParts">
          <div class="yAxis left">
            <span>100</span>
            <span>80</span>
            <span>60</span>
            <span>40</span>
            <span>20</span>
            <span>0 (%)</span>
          </div>
          <div class="graphBackground"></div>
          <div id="rightYAxis" class="yAxis right">
          </div>
        </div>
      </div>
    </div>
    <!-- end of top section -->
    <!-- bottom section -->
    <div class="bottomSection flex-container flex-row">
      <!-- donut0 cpu -->
      <div class="donutSection">
        <div id="donut0" class="donut">
          <div class="donutInfo first">
            <span class="percent userSize">
              <span class="num">0</span>
              <span class="unit">%</span>
            </span>
          </div>
        </div>
        <div id="donutStats0" class="statsSection">
          <div class="statsTopHeading">
            <span class="title"><%= dicts.monitor.CPU %></span>
            <span class="user"></span>
          </div>
          <div class="statsHeadingBar small open">
            <span class="percent">%</span>
            <span class="num avgNum">0</span>
          </div>
          <div class="listWrap open">
            <ul class="small"></ul>
          </div>
        </div>
      </div>
      <!-- donut1 & donut2 memory-->
      <div class="donutSection ramDonut">
        <div id="donut1" class="donut">
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">1</span>
              <span class="unit">GB</span>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">64</span>
              <span class="unit">GB</span>
            </span>
          </div>
        </div>
        <div id="donutStats1" class="statsSection ramStats">
          <div class="statsTopHeading">
              <span class="title"><%= dicts.monitor.RAM %></span>
              <span class="user"><%= dicts.monitor.UTotal %>/<%= dicts.monitor.GTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="totalSize">
              <span class="totNum">64 GB</span>
            </span>
            <span class="divider">/</span>
            <span class="userSize">
              <span class="avgNum">2 GB</span>
            </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
        <div id="donut2" class="donut">
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">1</span>
              <span class="unit">GB</span>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">64</span>
              <span class="unit">GB</span>
            </span>
          </div>
        </div>
        <div id="donutStats2" class="statsSection xdbStats">
          <div class="statsTopHeading">
              <span class="title"><%= dicts.monitor.XDB %></span>
              <span class="user"><%= dicts.monitor.UTotal %>/<%= dicts.monitor.GTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="totalSize">
              <span class="totNum">64 GB</span>
            </span>
            <span class="divider">/</span>
            <span class="userSize">
              <span class="avgNum">2 GB</span>
            </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
      <!-- donut3 network -->
      <div class="donutSection">
        <div id="donut3" class="donut">
          <div class="donutInfo">
            <span class="userSize network">
              <i class="icon xi-up fa-15"></i>
              <span class="num network">100</span>
              <span class="unit network">B</span>
            </span>
            <hr class="network"/>
            <span class="totalSize network">
              <i class="icon xi-down fa-15"></i>
              <span class="num network">193</span>
              <span class="unit network">B</span>
            </span>
          </div>
        </div>
        <div id="donutStats3" class="statsSection">
          <div class="statsTopHeading">
            <span class="title"><%= dicts.monitor.NETWORK %></span>
            <span class="user"><%= dicts.monitor.NSent %> / <%= dicts.monitor.NRecv %></span>
          </div>
          <div class="statsHeadingBar open">
             <span class="totalSize">
              <i class="icon xi-down fa-11"></i>
              <span class="totNum">128</span>
             </span>
             <span class="userSize">
              <i class="icon xi-up fa-11"></i>
              <span class="avgNum">45</span>
             </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end of bottom section -->
  </div>
  <div class="statsErrorContainer xc-hidden">
  <!-- error message goes here -->
  </div>
</div>
