<div id="monitorGenSettingsCard" class="mainSection no-selection cardContainer">
  <header class="cardHeader">
    <div class="title"><%= dicts.monitor.GeneralSettings %></div>
  </header>
  <div class="optionsContainer cardMain">
    <!-- show data col -->
    <div class="optionSet">
      <div class="label"><%= dicts.monitor.showDataCol %></div>
      <div class="optionSelector">
        <div id="showDataColBox" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
    </div>

    <div class="optionSet">
      <div class="label">Show IMD screen</div>
      <div class="optionSelector">
        <div id="showIMD" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
    </div>

    <div class="optionSet">
      <div class="label"><%= dicts.monitor.hideSysOps %></div>
      <div class="optionSelector">
        <div id="hideSysOps" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
    </div>

    <div class="optionSet">
      <div class="label"><%= dicts.monitor.commitInterval %></div>
      <div id="commitIntervalSlider" class="optionSelector rangeSliderWrap">
        <div class="rangeSlider">
          <div class="leftArea">
            <div class="slider"></div>
          </div>
          <div class="rightArea"></div>
        </div>
        <input class="value" value="120" type="number" min="10" max="600">
        <span><%= dicts.common.seconds %></span>
      </div>
    </div>
    <div class="optionSet admin">
      <div class="label"><%= dicts.monitor.DISABLESHARE %></div>
      <div class="optionSelector">
        <div id="disableDSShare" class="checkbox">
          <i class="icon xi-ckbox-empty fa-13"></i>
          <i class="icon xi-ckbox-selected fa-13"></i>
        </div>
      </div>
    </div>
    <div class="optionSet admin">
      <div class="label"><%= dicts.monitor.logOutInterval %></div>
      <div id="logOutIntervalSlider" class="optionSelector rangeSliderWrap">
        <div class="rangeSlider">
          <div class="leftArea">
            <div class="slider"></div>
          </div>
          <div class="rightArea"></div>
        </div>
        <input class="value" value="25" type="number" min="10" max="120">
        <span><%= dicts.common.minutes %></span>
      </div>
    </div>
	</div>
  <div class="cardBottom">
    <button id="userSettingsSave" class="btn btn-submit btn-rounded"><%= dicts.common.Save %></button>
    <button id="userSettingsDefault" class="btn btn-secondary btn-rounded"><%= dicts.exportView.restoreDefaults %></button>
  </div>
</div>
