<div id="supportToolsCard" class="cardContainer">
  <header class="cardHeader">
    <span class="title"><%= dicts.monitor.SupportTools %></span>
  </header>
  <div class="cardInstruction">
    <i class="icon xi-info-circle"></i>
    <div class="text">Placeholder text</div>
  </div>
  <div class="cardMain">
    <div class="btnArea">
      <div class="btn" data-action="status">Status</div>
    </div>
  </div>
  <div class="cardBottom">
    <button class="btn btn-confirm"><%= dicts.common.CONFIRMSAVE %></button>
    <!-- restart temporarily disabled -->
    <!-- <button class="btn" d="paramSettingsRestart"><%= dicts.common.CONFIRMRESTART %></button> -->
    <button class="btn btn-cancel"><%= dicts.common.CANCEL %></button>
  </div>
</div>
