<div id="adminAlertCard" class="cardContainer xc-hidden">
  <div class="cardLocked"></div>
  <header class="cardHeader">
    <div class="title"><%= dicts.monitor.AdminAlert %></div>
    <div class="close">
      <i class="icon xi-close"></i>
    </div>
  </header>
  <div class="cardInstruction">
    <i class="icon xi-warning"></i>
    <div class="text">
      <span><%= dicts.monitor.AdminAlertInstruc %></span>
    </div>
  </div>
  <div class="cardMain">
    <span class="text"><%= dicts.monitor.AlertMessageTitle %></span>
    <textarea class="xc-input alert-msg" type="text"></textarea>
  </div>
  <div class="cardBottom">
    <button type="button" class="btn confirm btn-disabled">SEND</button>
    <button type="button" class="btn btn-cancel cancel">CANCEL</button>
  </div>
</div>