<!-- Worksheet Tabs -->
<div class="iconSection">
  <i class="minimizeBtn icon xi-close fa-15"></i>
</div>
<header class="titleSection"><%= dicts.monitor.Syst %></header>
<div class="mainSection">
  <div class="preference listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.common.Prefs %></span>
    </div>
    <ul class="no-selection">
      <li>
        <i class="icon xi-auto-support fa-15"></i>
        <span class="text"><%= dicts.monitor.AutoSupport %></span>
        <div id="monitor-asup" class="xc-switch switch">
          <div class="slider"></div>
        </div>
      </li>
    </ul>
  </div>
  <div class="support listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.common.Supprots %></span>
    </div>
    <ul class="no-selection">
      <li>
        <span class="text"><%= dicts.monitor.GenSub %></span>
        <i id="monitor-genSub" class="icon xc-action xi-support-bundle fa-15"></i>
      </li>
      <li>
        <span class="text"><%= dicts.monitor.ReleaseMem %></span>
        <i id="monitor-delete" class="icon xc-action xi-trash fa-15"></i>
      </li>
    </ul>
  </div>
</div>