<!-- support bundle -->
<div id="monitor-genSubCard" class="cardContainer genSub xc-hidden">
  <header class="cardHeader">
    <div class="title wait"><%= dicts.monitor.SubGen %></div>
    <div class="title done"><%= dicts.monitor.SubGened %></div>
    <div class="title fail"><%= dicts.monitor.SubGenFail %></div>
    <div class="close">
      <i class="icon xi-close fa-15"></i>
    </div>
  </header>
  <div class="cardInstruction done">
    <i class="icon xi-warning"></i>
    <div class="text"><%= dicts.monitor.SubInstr %></div>
  </div>
  <div class="cardMain">
    <div class="wait animatedEllipsisWrapper">
        <div class="text"><%= dicts.common.PleaseWait %></div>
        <div class="animatedEllipsis">
          <div>.</div>
          <div>.</div>
          <div>.</div>
        </div>
    </div>
    <div class="infoSection done"></div>
    <div class="errorSection fail"></div>
  </div>
</div>

<!-- monitors -->
<div id="monitor-monitorsCard" class="cardContainer monitorCard">
  <header class="cardHeader">
    <div class="title"><%= dicts.monitor.Monitors %></div>
  </header>
  <div class="cardMain">
    <!-- top section -->
    <div class="topSection clearfix">
      <div class="sideTabs">
        <div id="cpuTab" class="sideTab active">
          <div class="icon"></div>
          <div class="text"><%= dicts.monitor.CPU %></div>
        </div>
        <div id="ramTab" class="sideTab">
          <div class="icon"></div>
          <div class="text"><%= dicts.monitor.RAM %></div>
        </div>
        <div id="diskTab" class="sideTab" data-toggle="tooltip" data-placement="bottom" data-container="body" title="<%= dicts.common.ComeSoon %>">
          <div class="icon"></div>
          <div class="text"><%= dicts.monitor.NETWORK %></div>
        </div>
      </div>
      <div class="graphSection">
        <div class="graphTop">
          <div id="connectionInfo">
            <span class="text" id="phyNodeText"><%= dicts.monitor.PhysicalNode %>: </span>
            <span class="text" id="phyNode">localhost</span>
            <span class="text" id="virNodeText"><%= dicts.monitor.VirtualNode %>: </span>
            <span class="text" id="virNode">Node 0</span>
          </div>
          <div class="time">
            <span class="text"><%= dicts.monitor.LastCheckTime %>: </span>
            <span id="graphTime"></span>
          </div>
       </div>
      <!--<div class="graphText">
              <div class="sampleText">SAMPLE</div>
          </div> -->
        <div id="graphWrap">
          <div id="graph">
            <div id="grids"></div>
            <div class="svgWrap"></div>
            <div class="separator"></div>
            <div class="xLabelsWrap">
              <div class="spacer"></div>
              <div class="xLabels"></div>
            </div>
          </div>
        </div>
        <div id="graphParts">
          <div class="yAxis left">
            <span>100</span>
            <span>80</span>
            <span>60</span>
            <span>40</span>
            <span>20</span>
            <span>0 (%)</span>
          </div>
          <div class="graphBackground"></div>
          <div id="rightYAxis" class="yAxis right">
          </div>
        </div>
      </div>
    </div>
    <!-- end of top sectoin -->
    <!-- bottom section -->
    <div class="bottomSection flex-container flex-row">
      <!-- donut0 -->
      <div id="donut0" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="innerCircle"></div>
          <div class="donutInfo first">
            <span class="percent userSize">
              <span class="num">0</span>
              <sup>%</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
            <span class="global"></span>
            <span class="user"></span>
          </div>
          <div class="statsHeadingBar small open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.CPU %></span>
            <span class="percent">%</span>
            <span class="num avgNum">0</span>
          </div>
          <div class="listWrap open">
            <ul class="small"></ul>
          </div>
        </div>
      </div>
      <!-- donut1 -->
      <div id="donut1" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="innerCircle"></div>
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">1</span>
              <sup>GB</sup>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">64</span>
              <sup>GB</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
              <span class="global"><%= dicts.monitor.GTotal %></span>
              <span class="user"><%= dicts.monitor.UTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.RAM %></span>
            <span class="userSize">
              <span class="avgNum">2 GB</span>
            </span>
            <span class="totalSize">
              <span class="totNum">64 GB</span>
            </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
      <!-- donut2 -->
      <div id="donut2" class="donutSection">
        <div class="icon"></div>
        <div class="donut">
          <div class="sampleText"><%= dicts.monitor.SAMPLE %></div>
          <div class="innerCircle"></div>
          <div class="donutInfo">
            <span class="userSize">
              <span class="num">100</span>
              <sup>Mbps</sup>
            </span>
            <hr/>
            <span class="totalSize">
              <span class="num">193</span>
              <sup>Mbps</sup>
            </span>
          </div>
        </div>
        <div class="statsSection">
          <div class="statsTopHeading">
            <span class="global"><%= dicts.monitor.GTotal %></span>
            <span class="user"><%= dicts.monitor.UTotal %></span>
          </div>
          <div class="statsHeadingBar open">
            <span class="arrow"></span>
            <span class="title"><%= dicts.monitor.NETWORK %></span>
            <span class="userSize">
              <span class="avgNum">45</span> Mbps
             </span>
             <span class="totalSize">
              <span class="totNum">128</span> Mbps
             </span>
          </div>
          <div class="listWrap open">
            <ul></ul>
          </div>
        </div>
      </div>
    </div>
    <!-- end of bottom section -->
  </div>
  <!-- end of card main -->
</div>
