<!-- Monitor Sys Menu -->
<header class="titleSection">
  <div><%= dicts.monitor.Syst %></div>
  <i class="minimizeBtn icon xi-close"></i>
</header>
<div id="monitorMenu-sys" class="mainSection">
  <div class="support listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.common.Supports %></span>
    </div>
    <ul class="no-selection">
      <li id="monitor-genSub">
        <span class="text"><%= dicts.monitor.GenSub %></span>
        <i class="icon xc-action xi-generate-sub fa-15"></i>
      </li>
      <li id="monitor-delete">
        <span class="text"><%= dicts.monitor.ReleaseMem %></span>
        <i class="icon xc-action xi-trash fa-15"></i>
      </li>
    </ul>
  </div>
  <div class="displaySettings listWrap xc-expand-list active">
    <div class="listInfo no-selection">
      <span class="expand">
        <i class="icon xi-arrow-down fa-7"></i>
      </span>
      <span class="text"><%= dicts.monitor.DisplaySettings %></span>
    </div>
    <ul class="no-selection">
      <li class="graphSwitch">
        <div class="text">Xcalar Memory Usage</div>
        <div class="xc-switch switch on">
          <div class="slider"></div>
        </div>
      </li>
      <li class="graphSwitch">
        <div class="text">Swap Usage</div>
        <div class="xc-switch switch on">
          <div class="slider"></div>
        </div>
      </li>
      <li class="graphSwitch">
        <div class="text"><%= dicts.monitor.CPU %></div>
        <div class="xc-switch switch on">
            <div class="slider"></div>
        </div>
      </li>
    </ul>
  </div>
</div>