<!-- MONITOR PANEL -->
<div id="monitorPanel" class="mainPanel no-selection">
  <div id="monitorTopBar" class="topBar">
    <div class="backToWB">
      <i class="icon xi-arrow-left"></i>
    </div>
    <div class="title"><%= dicts.monitor.Monitor %>/<%= dicts.monitor.Syst %></div>
    <div class="title wkbkTitle"><%= dicts.workbook.header %></div>
    <div id="extension-search" class="searchBar xc-hidden">
      <input type="text" placeholder="<%= dicts.extension.SearchHint %>...">
      <div class="rightArea">
        <i class="icon xi-search fa-22 center"></i>
      </div>
    </div>
  </div>
  <div class="mainContent">
    <!-- System Section -->
    <section id="monitor-system" class="subPanel monitorSection active">
      include "monitorSys.html"
    </section>
    <!-- End Of System Section -->
    <!-- Queries Section -->
    <section id="monitor-queries" class="subPanel monitorSection">
      include "monitorQuery.html"
    </section>
    <!-- End Of Queries Section -->
    <!-- Setup Section -->
    <section id="monitor-setup" class="subPanel monitorSection">
      include "monitorSetup.html"
    </section>
    <!-- End of Setup Section -->
    <!-- Settings Section -->
    <section id="monitor-settings" class="subPanel monitorSection">
      <div class="mainSection no-selection cardContainer">
        <header class="cardHeader">
          <div class="title"><%= dicts.monitor.GeneralSettings %></div>
        </header>
        <div class="optionsContainer cardMain">
          <div class="optionSet">
            <div class="label"><%= dicts.monitor.showDataCol %></div>
            <div class="optionSelector">
              <div id="showDataColBox" class="checkbox">
                <i class="icon xi-ckbox-empty fa-13"></i>
                <i class="icon xi-ckbox-selected fa-13"></i>
              </div>
<!--               <div class="onOffBtn">
                  <input type='checkbox' class="checkbox" id="showDataColBox" checked>
                  <label for="showDataColBox">
                    <div class="slider"></div>
                    <div class="text offText">OFF</div>
                    <div class="text onText">ON</div>
                  </label>
              </div> -->
            </div>
          </div>
          <div class="optionSet">
            <div class="label"><%= dicts.monitor.memThreshold %></div>
            <i title="<%= dicts.monitor.MemoryThresholdHint %>" class="qMark icon xi-unknown" data-toggle="tooltip" data-container="body"></i>
            <div id="memLimitSlider" class="optionSelector rangeSliderWrap">
              <div class="rangeSlider">
                <div class="leftArea">
                  <div class="slider"></div>
                </div>
                <div class="rightArea"></div>
              </div>
              <input class="value" value="90" type="number" min="50" max="99">
              <span>%</span>
            </div>
          </div>
          <div class="optionSet">
            <div class="label"><%= dicts.monitor.graphInterval %></div>
            <div id="monitorIntervalSlider" class="optionSelector rangeSliderWrap">
              <div class="rangeSlider">
                <div class="leftArea">
                  <div class="slider"></div>
                </div>
                <div class="rightArea"></div>
              </div>
              <input class="value" value="3" type="number" min="1" max="60">
              <span><%= dicts.common.seconds %></span>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section id="monitor-extension" class="subPanel monitorSection">
      include "../extension/extensionPanel.html"
    </section>
    <!-- End of Settings Section -->
  </div>
  
</div>
<!-- END OF MONITOR PANEL