<div class="topSection">
  <div class="titleSection">
    <header>
      <span><%= dicts.menuBar.Logs %></span>
    </header>
  </div>
  <div class="iconSection">
    <i class="minimizeBtn icon xi-close"></i>
  </div>
</div>
<div id="logButtonWrap" class="mainSection">
  <div class="xc-expand-list active">
      <ul class="no-selection">
        <li class="collapseAll">
          <span class="text"><%= dicts.bottomMenu.collapseAll %></span>
          <i class="icon xc-icon-action xi-minimize2 fa-15"></i>
        </li>
        <li class="expandAll">
          <span class="text"><%= dicts.bottomMenu.expandAll %></span>
          <i class="icon xc-icon-action xi-expand2 fa-15"></i>
        </li>
        <li class="humanLog">
          <span class="text"><%= dicts.bottomMenu.toggleLog %></span>
          <i class="icon xc-icon-action xi-human-dot fa-15"></i>
          <i class="icon xc-icon-action xi-android-dot fa-15"></i>
        </li>
        <li class="downloadLog">
          <span class="text"><%= dicts.bottomMenu.downloadLogBtn %></span>
          <i class="icon xc-icon-action xi-download fa-15"></i>
        </li>
      </ul>
  </div>
</div>