/* ========== Elements ========== */
div, ul, li, span, section, header {
    .box-sizing;
    .nomargin-padding;
}

ul > li {
    list-style-type: none;
}

table, tr, td, th, input, textarea, section, p {
    .nomargin-padding;
    .box-sizing;
    border: none;
    .font(@weight: 600, @size: 14px, @family: @font-base);
    color: @color-text-darkGray;
}

h1, h2, h3, h4, h5, h6{
    .nomargin-padding;
    display: inline;
}

h2 {
    font-size: 16px;
}

/* ========== Main ========== */
body {
    -webkit-font-smoothing: antialiased;
    .nomargin-padding;
    color: @color-text-darkGray;
    .font(@weight: 600, @family: @font-base);
    font-size: 0; /* Need to use this to get rid of stupid white space */
    overflow-y: hidden;
    background: #36444d url("/images/bg_page.png") repeat right top;
    overflow: hidden !important;
}

#container {
    .position(relative);
    .size(@height: 100vh, @min-height: 260px, @min-width: 1024px);
    font-size: 14px;
    overflow: hidden;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

&::-webkit-scrollbar {
    .size(11px, 11px);
    background: transparent;
}

&::-webkit-scrollbar-thumb {
    border-width: 1px 0px 1px 0px;
    border-color: transparent;
    border-style: solid;
    .rounded(10px);
    background-color: rgba(175,175,175,1) !important;
    background-clip: content-box;
    -webkit-box-shadow: inset 0 -1px 2px rgba(205,205,205,0.75);
}

&::-webkit-scrollbar-track {
    background: linear-gradient(to bottom right, #e9e9e9 , #ffffff); /* Standard syntax */
}

&::-webkit-scrollbar-corner {
    background: transparent;
}

.avoidClicks {
    pointer-events: none;
}

// .allowClicks {
    
// }

.persist {
    display: block !important;
    visibility: visible !important;
    pointer-events: all;
}

/* For Both worksheet menu bar and bottom area bar */
.workspaceBar, .topBar {
    .position(relative);
    .size(@width: 100%, @height: 38px);
    color: @color-text-darkGray;
    border-top: 1px solid @color-bar-border;
    border-bottom: 1px solid @color-bar-border;
    .darkGray-gradient;
    box-shadow: 0px 3px 3px 0px rgba(0,0,0, .4);
    display: block;
    z-index: 13;
}

.topBar {
    top: -1px;
}

/* For Both worksheet menu bar and bottom area bar */
.workspaceArea {
    .size(@height: 25px);
    display: inline-block;
    padding: 0px 14px;
    margin-top: 5px;
    border-right: 1px solid @color-tab-divider;
    float: left;
    line-height: 25px;
    
    input {
        .size(@height: 25px);
        padding: 0 4px;
        background-color: @color-background-input;
        .font(@weight: bold, @line-height: 25px);

        &:focus {
            background-color: @color-background-input-active;
            box-shadow: 0px 2px 2px 0 #888888 inset;
            outline: none;
            color: @color-text-fnBar-blue;
        }
    }

    &:last-child {
        border-right: none;
    }
}

.mainPanel {
    display: none;
    &.active {
        display: block;
    }
}

.btn {
    .noSelection;
    cursor: pointer;
    display: inline-block;
    border: 0;
    outline: 0;
    .rounded(2px);
    color: @color-text-transparentWhite;
    .action-gradient;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.7);
    .font(@family: @font-base);

    &:hover, &:focus {
       .action-inverse-gradient;
    }

    &:active {
        box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5), 
            0px 1px 1px 0 rgba(255, 255, 255, 0.3);
    }

    span {
        .size(100%, 100%);
        display: inline-block;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}

.btnSmall {
    .size(22px, 22px);
    .rounded(2px);
}

.btnMid {
    .size(@width: 150px, @height: 30px);
    .rounded;
    .font(@weight: bold, @size: 12px, @line-height: 30px);
    text-align: center;
    padding: 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.btnLarge {
    .size(@width: 230px, @height: 30px);
    .rounded;
    color: @color-text-transparentWhite;
    text-shadow: 1px 1px rgba(0,0,0,.3);
    .font(@size: 12px, @line-height: 30px);
}

.iconBtn {
    .position(relative);
    // XXX padding-right = padding-left + icon width
    padding: 0 30px 0 5px;
    text-align: center;

    .icon {
        display: inline-block;
        .size(@width: 25px, @height: 100%);
        .position(relative, @top: 0, @left: 0);
        float: left;
    }
}

.btn-cancel {
    color: @color-text-white;
    .gray-gradient;
    &:hover, &:focus {
        .gray-inverse-gradient;
    }
}

.btnInactive {
    .gray-gradient;
    pointer-events: none;
    &:hover, &:focus {
        .gray-gradient;
    }
}

.btnDeselected {
    .gray-gradient;
    &:hover, &:active {
        .gray-gradient;
    }
}

.onOffBtn {
    .size(@width:86px, @height:27px);
    .rounded;
    position: relative;
    top: 3px;
    margin-top: -8px;
    display: inline-block;
    float: right;
    z-index: 0;
    cursor: pointer;
    .noSelection;

    .slider {
        .size(@width:45px, @height:27px);
        .rounded;
        .linear-gradient(top, @color-table-lightGray, @color-table-darkGray);
        box-shadow: 0px 1px 0px 1px rgba(0,0,0, 0.15);
        border-left: 1px solid rgba(0,0,0,0.05);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 5;
        .transition(all 0.2s);
        &.off {
            left: 45px;
        }
    }

    .text {
        .font(@size: 14px, @weight: bold, @line-height: 27px);
        .rounded;
        .size(@width: 50px, @height: 100%);
        text-align: center;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        box-shadow: inset -1px 1px 1px 0px rgba(0, 0, 0, 0.2);
        z-index: -3;
        .transition-delay(0.1s);

        &.onText {
            .font(@color: @color-text-transparentWhite);
            .action-gradient;
            left: 35px;
            z-index: -2;
            padding-left: 10px;

        }
        &.offText {
            .font(@color: @color-text-dropMenu);
            background-color: @color-sql-hover;
            box-shadow: inset 1px 1px 1px 0px rgba(0, 0, 0, 0.2);
            padding-right: 5px;
        }
    }

    &.off {
        .slider {
            left: 45px;
            border-left: none;
            border-right: 1px solid rgba(0,0,0,0.05);
        }
        .offText {
            z-index: -1;
        }
    }
}

input {
    .size(@height: 30px);
    .rounded;
    line-height: 30px;
    padding: 0 4px;
    background-color: @color-white;
}

.icon {
    display: inline-block;
    .noSelection;
}

.roundedIcon {
    .size(19px, 19px);
    float: right;
    margin: 7px 6px 0 0 ;
    background-color: @color-background-bottomGrayMed;
    .rounded(1px);
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
    cursor: pointer;
}


.underConstruction {
    .size(@height: ~"calc(100% - 114px)");
    background: @color-background-darkGray;
    text-align: center;
    .alert {
        .size(28px, 28px);
        margin: 50px auto 0 auto;
        .image("/images/info-icon-large.png");
    }
}

/* For Scoll bar in worksheet and datastore */
#mainFrame, .datasetTableWrap {
    &::-webkit-scrollbar:vertical {
        .size(@width: 0, @height: 11px);
        background: transparent;
    }
}

/* For both worksheet table and datastore table */
.dataTable {
    .size(@width: 520px);
    border-collapse: separate;
    border-spacing: 0px;
    margin-right: 5px;
    table-layout: fixed;

    th {
        .size(@height: 40px);
        background-color: @color-background-tableBorders;
        border: 5px solid @color-background-tableBorders;
        border-left: none;
        padding: 0px;
        .font(@weight: normal, @size: 13px);
    }

    td {
        .size(@height: 30px);
        .font(@size: 11px, @line-height: 15px, @family: @font-code);
        overflow: hidden;
        padding: 2px;
    }

    td/*, th */{
        vertical-align: middle;
        text-align: center;

        &:last-child {
            border-right: 5px solid @color-white !important;
        }
    }

    thead {
        background-color: @color-white;
    }

    tbody tr {
        td:first-child {
            padding: 0 !important;
        }

        &:nth-child(odd) {
            background-color: @color-table-lightGray;
            td {
                border-right: 5px solid @color-table-lightGray;
                &:nth-child(odd) {
                    background-color: @color-table-darkGray;
                }
                &:nth-child(even) {
                    background-color: @color-table-midGray;
                }
                &:first-child {
                    background-color: @color-table-col-darkestGray;
                }
                &.indexedColumn {
                    background-color: @color-table-indexed-blue !important;
                }
                &.selectedCell {
                    background-color: @color-selectedCell-dark;
                }
                &.selectedCol {
                    background-color: @color-selectedCell-dark;
                }
                &.jsonElement, &.dataCol {
                    background-color: @color-table-col-green !important;
                }
            }
        }
        &:nth-child(even) {
            background-color: @color-white;
            td {
                border-right: 5px solid @color-white; 
                &:nth-child(odd) {
                    background-color: @color-table-lightGray;
                }
                &:nth-child(even) {
                    background-color: @color-table-col-lightGray;
                }
                &:first-child {
                    background-color: @color-table-col-darkGray;
                }
                &.indexedColumn {
                    background-color: @color-table-indexed-lightBlue !important;
                } 
                &.selectedCell {
                    background-color: @color-selectedCell-light;
                }
                &.selectedCol {
                    background-color: @color-selectedCell-light;
                }
                &.jsonElement, &.dataCol {
                    background-color: @color-table-col-lightGreen !important;
                }
            }
        }
    }

    tbody tr:not(.notDragging):hover, tbody tr.dragging {
        td {
            border-right: 5px solid #E1E1E1; 
            &:nth-child(odd) {
                background-color: #D7D7D7;
            }
            &:nth-child(even) {
                background-color: #DDDDDD;
            }
            &:first-child {
                background-color: #BDBDBD;
                .idSpan {
                    background-color: #BDBDBD;
                }
            }
            &.indexedColumn {
                background-color: #CBD1D6 !important;
            } 
            &.selectedCell, &.colSelected, &.selectedCol {
                background-color: #BFCCD4 !important;
            }
            &.jsonElement, &.dataCol {
                background-color: #CCD7CC !important;
            }
        }
    }

    tbody tr.dragging td:not(.rowBookmarked) {
        &:first-child .idSpan {
            background-color: #BDBDBD !important;
        }
    }

    &.xcTable {
        tbody tr td:first-child {
            border-right: 5px solid white;
        }
    }
    
    th.unusedCell {
        background-color: @colorOpaque-blankGrayDark;
        .editableHead {
            color: @color-text-black;
        }
    }

    tbody .unusedCell {
        &:nth-child(odd) {
            background-color: @colorOpaque-blankGrayDark;
        }
        &:nth-child(even) {
            background-color: @colorOpaque-blankGrayDark;
        }
    }

    tbody td:first-child {
        .noSelection;
        overflow: visible;
        border-left: 5px solid @color-white;
    }

    thead th:first-child {
        background-color: @color-background-darkGray;
        .header {
            z-index: 3;
        }
    }

    .header {
        .position(relative);
        .rounded;
        &::after {
            content: "";
            position: absolute;
            display: block;
            width: ~"calc(100% + 5px)";
            height: 1px;
            border-bottom: 1px solid rgba(0,0,0,0.15);
            box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.08);
            top: 34px;
            left: 0px;
        }
    }

    th:first-child {
        .header::after {
            width: ~"calc(100% + 10px)";
            left: -5px;
        }
        input {
            box-shadow: 0px 1px 0px 0px #B8B8B8;
        }
        &.rowNumHead {
            .header::after {
                z-index: 3;
                box-shadow: none;
                border: none;
            }
        }
    }

    input {
        font: 13px @font-base;
        background-color: transparent;
        &:disabled {
            color: @color-text-darkGray;
        }
        &[readonly] {
            .size(@width: 100%);
            text-align: center;
            outline: none;
            cursor: default;
            font-weight: 600;
        }
        &:focus {
            outline-offset: -1px;
        }
    }

    .editableHead {
        .position(relative);
        .size(@width: ~"calc(100% + 2px)");
        padding: 0px 4px;
        background-color: transparent; 
        border: none;
        display: block;
        text-align: center;
        overflow: hidden;
        .font(@weight: 600, @size: 13px, @family: @font-base);
        z-index: 2;
        margin-left: -2px;
    }

    .addedBarTextTd {
       overflow: hidden !important;
    }

    .addedBarTextTd:hover {
        overflow-y: auto !important;
    }

    .addedBarText {
        cursor: default;
    }

    .textAlignLeft {
        text-align: left !important;
        .elementText {
            text-align: left;
        }
        .flexContainer {
            .justify-content(flex-start);
        }

    }

    .textAlignRight {
        text-align: right !important;
        .elementText {
            text-align: right;
        }
        .flexContainer {
            .justify-content(flex-end);
        }
    }

    .textAlignCenter {
        text-align: center !important;
        .elementText {
            text-align: center;
        }
        .flexContainer {
            .justify-content(center);
        }
    }

    .elementText{ 
        cursor: pointer;
        text-align: left;
        white-space: normal;
    }

    .elementTextWrap {
        max-height: 16px;
        overflow: hidden;
    }

    .indexedColumn {
       background-color: @colorOpaque-blue !important;
    }
    // XXX if we have scrollbars on individual tds
    // .elementTextWrap:hover, .addedBarTextWrap:hover {
    //     overflow-y: auto;
    //     // overflow-x: auto;
    // }

    span.undefined {
        color: #c51d23;
    }

    .rowBookmarked {
        background-color:@color-background-topAction !important;
        .idSpan {
            background-color:@color-background-topAction !important;
        }
    }
}


.unavailable {
    // XXX for features that haven't been implemented yet
    opacity: 0.4;
}

/* Flex Styling */
.flexContainer {
    .flex-display;

    &.flexRow {
        .flex-flow(row);
    }

    .flexWrap {
        &.flex-left {
            .flex-order(1);
        }
        &.flex-mid {
            .flex-order(2);
        }
        &.flex-right {
            .flex-order(3);
        }
    }
}

.fullOpacity {
    opacity: 1.0 !important;
}

.xcTable ul, .xcTheadWrap ul, .colMenu, .colMenu ul {
    .position(absolute);
    .size(@width: 170px);
    list-style: none;
    padding: 0px;
    display: inline-block;
    z-index: 20;
    box-shadow: 0px 0px 1px 3px rgba(0,0,0,.05);
}

ul.colMenu {
    .position(fixed);
    display:none;
    background-color: @color-white;
    z-index: 20;
    cursor: pointer;
    .dropDown;

    li {
        .position(relative);
        .size(@height: 30px);
        padding: 6px 6px 6px 8px;
        color: @color-text-dropMenu;
        background-color: @color-white;
        .font(@weight: 700, @size: 12px);
        .noSelection;
        text-align: left;

        &.selected {
            cursor: pointer;
            background-color: @color-selectedCell-dark;
            > .dropdownBox {
                opacity: 1;
                border-right-color: @color-dropBox-secondary;
            }
        }

        .dropdownBox {
            opacity: 0.3;
            z-index: 0;
            border-right-color: @color-background-lightGray;
            .transition-delay (.0s);
            pointer-events: none;
        }

        &.subSelected {
            background-color: @color-monitor-lightGreen !important;
        }

        &.clickable {
            .size(@height: 60px);
            span {
                display: block;
                float: none;
            }
            input {
                top: 10px;
            }
            
        }
    }

    ul {
        .position(@top: 0, @left: 155px);
        visibility: hidden;
        z-index: 20;
        .transition-delay (.15s);
        margin-top: 30px;
        background-color: @color-white;
    }

    input[type=text] {
        .position(relative, @top: -1px, @right: 0);
        .size(@width: 160px, @height: 20px);
        .font(@size: 12px, @line-height: 20px);
        margin-left: -3px;
        padding: 0 2px;
        text-align: center;
        box-shadow: 0px 0px 0px 1px @color-selectedCell-dark;
        background-color: @color-white;

        &:focus {
            outline: none;
        }
    }

    .visible {
        visibility: visible !important;
    }

    .hidden {
        display: none !important;
    }

    > .inputSelected {
        background-color: @color-selectedCell-dark !important;
    }

    .inputSelected {
        visibility: visible !important;
        background-color: @color-selectedCell-green;  
    }

    .filter ul {
        .size(@width: 170px);
        cursor: text;
    }

    .subColMenu li.selected {
        background-color: @color-selectedCell-green;
    }

    .changeDataType {
        li.flexContainer {
            height: 30px;
            padding: 0;
            // see common.less
            .typeIcon;

            .flexWrap.flex-left {
                .flex(0 0 24px);
                padding: 6px 5px;
                position: relative;
                height: 30px;
                .gray-gradient;
                overflow:hidden;
                
            }
            .flexWrap.flex-right {
                .flex(1 1 auto);
                padding: 6px 8px;
            }
        }
    }

    .sort, .aggregate, .groupBy, .filter {
        span {
            .size(@width: 24px, @height: 16px);
            float: left;
            display: inline-block;
        }
    }

    .sort {
        // indexed column cannot sort
        .indexedColumn & {
            display: none;
        }
        .sortUp {
            .image("/images/arrowUp.png", 0, 50%);
        }
        .sortDown {
            .image("/images/arrowDown.png", 0, 50%);
        }
    }

    .aggregate, .groupBy {
        .maxIcon {
            .image("/images/max.png", 0, 50%);
        }
        .minIcon {
            .image("/images/min.png", 0, 50%);
        }
        .avgIcon {
            .image("/images/average.png", 0, 50%);
        }
        .countIcon {
            .image("/images/count.png", 0, 50%);
        }
        .sumIcon {
            .image("/images/sum.png", 0, 50%);
        }
    }

    .filter {
        .greaterThan {
            .image("/images/greaterThan.png", 0, 50%);
        }
        .greaterEqual {
            .image("/images/greaterEqual.png", 0, 50%);
        }
        .equal {
            .image("/images/equal.png", 0, 50%);
        }
        .lessEqual {
            .image("/images/lessEqual.png", 0, 50%);
        }
        .lessThan {
            .image("/images/lessThan.png", 0, 50%);
        }
        .exclude {
            .image("/images/notEqual.png", 0, 50%);
            margin-left: -2px;
            width: 26px;
        }
        .regex {
            .image("/images/regex.png", 0, 50%);
        }
        .like {
            .image("/images/like.png", 0, 50%);
        }
    }

    .map {
        span {
            float: left;
        }
        .switch {
            float: left;
            .image("/images/switch.png", 0, 50%);
            width: 16px;
            height: 16px;
            opacity: 0.5;
            &:hover {
                opacity: 1.0;
            }
            &.selected {
                background-color: #ECFDFF;
                opacity: 1.0;
            }
        }

    }

    .unhide {
        display: none;
    }

    .unavailable {
        // pointer-events: none;
        cursor: default !important;
        .dropdownBox {
            opacity: 0 !important;
        }
        ul {
            display: none !important;
        }
        &.moveToWorksheet {
            &+ .tooltip {
                display: block !important;
            }
        }
    }

    .moveToWorksheet {
        &+ .tooltip {
            display: none !important;
        }
    }

    &.type-string, &.type-array {
        .aggregate {
            display: none;
        }
        .type-string {
            display: none;
        }
    }

    &.type-emptyTable .map {
        display: none !important;
    }

    &.type-object, &.type-newColumn, &.type-undefined, &.type-mixed, 
    &.recordNum, &.childOfArray {
        .sort, .aggregate, .groupby, .filter, .joinList, .map, .operations {
            display: none;
        }
    }

    &.type-newColumn, &.type-undefined {
        .operations, .map {
            display: list-item;
        }
    }

    &.type-object, &.type-array, &.type-newColumn, &.type-undefined,
    &.recordNum {
        .changeDataType {
            display: none;
        }
    }

    &.type-boolean {
        .aggregate, .groupby, .filter{
            display: none;
        }
        .gb:first-child, .aggregate .aggrOp:nth-child(4) {
            display: list-item;
        }
        .type-boolean {
            display: none;
        }
    }

    &.type-integer {
        .type-integer {
            display: none;
        }
    }

    &.type-decimal {
        .type-decimal {
            display: none;
        }
    }

    &.type-indexed {
        .sort {
            display: none;
        }
    }

    &.type-data {
        .sort, .aggregate, .groupby, .filter, .joinList, .deleteColumn, 
        .deleteDuplicates, .duplicate, .renameCol, .map, .operations,
        .changeDataType {
            display: none;
        }
    }

    &.type-hidden {
        .hide {
            display: none;
        }
        .unhide {
            display: list-item;
        }
    }

    .tdDropdown {
        display: none;
    }

    &.tdMenu {
        .thDropdown {
            display: none !important;
        }

        .tdDropdown {
            display: list-item !important;
        }
    }
}

.moveToWorksheet, .dupToWorksheet {
    .listSection {
        .size(@width: 100%, @height: 30px);
        .position(relative);

        .list {
            .size(@width: 160px, @height: 20px);
            .position(absolute, @top: 31px, @left: -3px);
            margin: 0;
            visibility: visible !important;
            display: none;
        }
    }
}

ul.colMenu.leftColMenu::before {
    border-color: @color-selectedCell-dark @color-selectedCell-dark;
}

ul.colMenu li:hover > ul {
    .transition-delay (.15s);
}

ul.colMenu li > ul {
    .transition-delay (.15s);
}

// DATA Column should not have duplicate and sort option
th.dataCol ul.colMenu {
    .duplicate, .sort {
        display: none;
    }
}

.visible {
    visibility: visible;
}


ul.subColMenu li {
    &.subColUnselected {
        background-color: @color-white;
    }
    &.subColSelected {
        background-color: @color-selectedCell-dark;
    }
}

.subColMenuArea {
    .position(absolute, @top: -30px, @left: 14px);
    .size(@width: ~"calc(100% + 30px)", @height: ~"calc(100% + 60px)");
    z-index: -1;
    cursor: default;
}

.leftColMenu .subColMenuArea {
    .position(@right: 0, @left: auto);
}

ul.leftColMenu {
    .position(@right: 0);
    box-shadow: -1px 1px rgba(0,0,0,0.1);

    .dropdownBox {
        display: none !important;
    }
}

ul.subColMenu.leftColMenu {
    .position(@left: -170px);
    margin-top: 0px;
    box-shadow: -1px 1px rgba(0,0,0,0.1);
}


ul.inputMenu {
    > li {
        .size(@height: auto, @min-height: 30px);
        overflow: hidden;
        padding: 0px;
        margin: 0px;

        span {
            .position(relative);
            .size(@height: 30px);
            .box-sizing;
            display: block;
            padding: 8px 6px 6px 6px;
            background-color: @color-white;
            z-index: 1;
            .transition (margin-bottom .3s);

            &.openMenuInput {
                margin-bottom: 30px;
            }
        }

        .dropdownBox {
            .position(@top: 15px);
            z-index: 1;
        }
    }

    &:hover ul {
        visibility: visible;
    }

    input[type=text] {
        .position(absolute, @top: 31px, @left: 0);
        .size(@width: 160px, @height: 24px);
        margin: 0px 5px;
        z-index: 0;

        &:focus {
            outline: none;
        }
    }
}

/* END DROPDOWN STYLING */

 /* ========== Menu Related CSS ========== */

 /* Top Menu Bar  */
#menuBar {
    .size(@width: 100%, @height: 41px);
    background: #36444d url("/images/bg_page.png") repeat right top;
}

#workbookBtn {
    .position(relative, @top: 30%);
    float: left;
    margin-left: 10px;
    box-shadow: -2px 2px 0px 0px rgba(0, 0, 0, 0.4);
    .rounded;

    .icon {
        .size(100%, 100%);
        .image("/images/workbookBtn.png", 50%, 50%);
        background-size: 18px 17px;
    }
}

#mainMenu {
    .size(@height: 41px);
    float: left;
    margin-left: 10px;
    display: inline-block;

    .mainMenuTab {
        .position(relative);
        .size(@height: 32px);
        margin: 4px 10px 0px 0px;
        padding: 5px 25px 0px 35px;
        border: 1px solid @color-tab-border;
        .rounded;
        display: inline-block;
        color: @color-text-tab;
        background-color: rgba(0,0,0, .15);
        .font(@size: 14px, @family: @font-base);
        float: left;
        cursor: default;
        white-space: nowrap;
        .noSelection;

        &:hover {
            // hover vs regular color scheme needs to be adjusted
            background-color: rgba(255,255,255,.15);
            color: @color-white;
            border: 1px solid @color-table-borderGray;

            .mountain-icon {
                .image("/images/mountain-active.png");
            }

            .db-icon {
                .image("/images/db-icon-active.png");
            }

            .user-icon {
                .image("/images/user-active.png");
            }

            .monitor-icon {
                .image("/images/monitor-active.png");
            }
        }

        &.active {
            .position(relative);
            .size(@height: 35px);
            margin-top: 6px;
            color: @color-text-darkGray;
            .lightGray-gradient;
            border: 1px solid @color-bar-border;
            border-bottom: none;
            border-bottom-left-radius: 0px;
            border-bottom-right-radius: 0px;
            z-index: 14;

            .mountain-icon {
                .image("/images/mountain-active.png");
            }

            .page-icon {
                .image("/images/page-active.png");
            }

            .db-icon {
                .image("/images/db-icon-active.png");
            }

            .user-icon {
                .image("/images/user-active.png");
            }

            .monitor-icon {
                .image("/images/monitor-active.png");
            }
        }

        .icon {
            .position(absolute);
            .size(24px, 24px);
            margin: 1px 0 0 -27px;
            display: inline-block;
        }

        .mountain-icon {
            .image("/images/mountain.png");
        }

        .page-icon {
            .image("/images/page.png");
            margin-top: 0px;
        }

        .db-icon {
            .image("/images/db-icon.png");
        }

        .user-icon {
            .image("/images/user-icon.png");
        }

        .monitor-icon {
            .image("/images/monitor.png");
        }
    }
}

#logo {
    .size(@width: 74px, @height: 34px);
    margin: 5px 10px 0 0;
    .image("/images/xcalar-logo-white.png");
    float: right;
    display: inline-block;
}

#userNameArea {
    color: @color-text-white;
    float: right;
    margin: 10px 25px 0 0;
    display: inline-block;
    font-weight: 400;
    .text {
        color: @color-text-brightBlue;
        cursor: pointer;
    }
}

#userNamePopout {
    .position(absolute);
    .size(@width: 168px, @height: 46px);
    .image("/images/signout.png");
    .font(@size: 10px, @line-height: 5px);
    display: none;
    z-index: 42;
    #peri {
        padding: 13px 0 0 10px;
        color: @color-text-signout-lightGray;
    }
    #name {
        padding: 5px 0 0 10px;
        color: @color-text-signout-darkGray;
        float: left;
    }
    #signout {
        padding: 5px 0 0 5px;
        color: @color-text-signout-blue;
        float: left;
        cursor: pointer;
    }
}
 /* End Of Top Menu Bar  */

/* Bottom Section */
#bottomArea {
    .position(absolute, @bottom: 0);
    .size(@width: 100%);
    z-index: 9;
}

#worksheetBar {
    .size(@height: 35px);
    border-top: 2px solid @color-bar-border;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0, .5);
    overflow: hidden;
    z-index: 0;
    .lightGray-gradient;

    .workspaceArea {
        .size(@height: 13px);
        .font(@size: 13px, @line-height: 13px);
        margin-top: 8px;
    }

    #pageStatusText {
        float: left;
        overflow: hidden;
        display: inline-block;
        .size(@height: 20px);
        .font(@line-height: 20px);
        margin-top: -4px;
        white-space: nowrap;

        span {
            display: block;
            .size(@height: 20px);
            position: relative;
            overflow: hidden;
        }

        .text {
            float: left;
        }

        .icon {
            float: left;
            .size(@width: 20px);
            .image("/images/close-icon.png", 50%, 50%);
            cursor: pointer;
            margin-left: 4px;
        }
    }

    #loadingIconWrap {
        position: relative;
        display: inline-block;
        .size(@width: 30px, @height: 100%);
        float: left;
        .spinner {
            display: none;
        }

        
    }
}

.spinner {
    // margin: 100px auto 0;
    width: 70px;
    text-align: center;
    display: block;
}

.spinner > div {
    width: 7px;
    height: 7px;
    background-color: @color-text-blue;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
    0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
    } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    }
}

.animatedEllipsis {
    animation: ellipsis 2s steps(4, end) infinite;
    -webkit-animation: ellipsis 2s steps(4, end) infinite;
    text-align: left;
    overflow: hidden;
    width: 0px;
    display: inline-block;
    float: right;
    > div {
        display: inline;
        margin-left: 1px;
    }
}

@-webkit-keyframes ellipsis {
    to {
        width: 20px;
    }
}

@keyframes ellipsis {
    to {
        width: 20px;
    }
}

#worksheetInfo {
    .size(@width: ~"calc(100% - 215px)", @height: 100%);
    float: left;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

// .iconBtn {
//     .size(22px, 22px);
//     .rounded(2px);

//     span {
//         .size(100%, 100%);
//         display: inline-block;
//         background-repeat: no-repeat;
//         background-position: 50% 50%;
//     }
// }

.bottomButtonsArea {
    float: right;
    .noSelection;
    cursor: default;
    .sliderBtn {
        margin: 5px;
        &.active {
            .action-inverse-gradient;
        }
    }
}

#tableListBtn {
    background-image: url(/images/list-icon.png);
}

#sqlBtn {
    background-image: url(/images/sql.png);
}

#udfBtn {
    background-image: url(/images/udf.png);
}

#cliBtn {
    background-image: url(/images/cli-icon.png); 
}

#scratchpadBtn {
    background-image: url(/images/pencil.png); 
}

#infoBtn {
    background-image: url(/images/info-icon.png); 
}

#bottomTabArea {
    .size(@height: 39px);
    background: #36444d url("/images/bg_page.png") repeat right top;
}

#addWorksheet {
    display: inline-block;
    margin: 8px 8px 0px 9px;
    cursor: pointer;
    float: left;
    span {
        .size(100%, 100%);
        .image("/images/plus-sign.png", 55%, 45%);
        display: block;
    }
}

#worksheetTabs {
    .position(relative, @top: -1px);
    .size(@width: ~"calc(100% - 40px)", @height: 36px);
    .flex-display;
    float: left;

    .worksheetTab {
        .size(@width: 172px, @height: 35px);
        .position(relative);
        float: left;
        .flex(0 0 172px);
        margin-right: 10px;


        &:only-child {
            .delete {
                display: none !important;
            }
            .wsIcon {
                margin-left: 5px !important;
            }
            .text {
                margin-left: 5px !important;
                width: ~"calc(100% - 35px)" !important;
            }
        }

        .label {
            .size(@width: ~"calc(100% - 30px)", @height: 100%);
            .position(relative);
            .darkGray-gradient;
            display: inline-block;
            float: left;
            text-align: left;
            border: 1px solid @color-bar-border;
            border-top: none;
            .rounded(0 0 0 3px);

            .delete {
                .position(relative);
                .size(@width: 20px, @height: 17px);
                margin-left: 2px;
                padding-right: 2px;
                border-right: 1px solid @color-tab-divider;
                display: inline-block;
                float: left;
                cursor: pointer;
                .vertical-align;

                .icon {
                    .size(100%, 100%);
                    .image("/images/worksheet/ws_close.png", 50%, 50%);
                    background-size: 10px 10px;
                }

                &:hover .icon {
                    background-image: url(/images/worksheet/ws_close_hover.png);
                }
            }

            .wsIcon {
                .size(@width: 20px, @height: 100%);
                margin-left: 3px;
                .image("/images/page-white.png", 50%, 50%);
                float: left;
            }

            .text {
                .size(@width: ~"calc(100% - 50px)", @height: 21px);
                .font(@weight: 700, @size: 14px, @line-height: 20px);
                float: left;
                outline: none;
                margin: 0 2px;
                padding: 0 3px;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                .vertical-align;
                border: 1px solid transparent;

                &:focus {
                    border: 1px solid #5FC8FF;
                    box-shadow: inset 0 1px 2px 1px rgba(0, 0, 0, 0.2);
                    text-overflow: initial;
                }
            }
        }

        .dagTab {
            .size(@width: 30px, @height: 34px);
            float: left;
            display: inline-block;
            margin-top: 1px;
            cursor: pointer;
            .noSelection;
            border-bottom: 1px solid @color-bar-border;
            border-right: 1px solid @color-bar-border;
            .rounded(0 0 3px 0);
            .linear-gradient(top, @color-background-sidebar, @color-background-darkdarkGray);
            .icon {
                .size(100%, 100%);
                .image("/images/comp-icon.png", 50%, 50%);
            }

            &:hover {
                .linear-gradient(top, #CCCCCC, #777777);
            }

            &:active {
                 box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5);
            }

            &.active {
                .action-gradient;
                &:hover {
                    .action-inverse-gradient;
                }
            }

            & + .tooltip {
                white-space: nowrap;
            }

            &.active + .tooltip {
                display: none !important;
            }

        }

        &.inActive {
            .size (@height: 28px);
            .position(@top: 6px);
            .noSelection;
            .flex(0 1 auto);
            .label {
                background: rgba(0,0,0, .15);
                border: 1px solid @color-tab-border;
                color: @color-text-tab;
                .size(@width: ~"calc(100% - 2px)");
                .rounded;
                .wsIcon, .delete {
                    display: none;
                }
                .text {
                    .size(@width: 100%);
                    text-align: center;
                    pointer-events: none;
                    margin: 0;
                }
            }

            .dagTab {
                display: none;
            }

            &:hover .label {
                // hover vs regular color scheme needs to be adjusted
                background-color: rgba(255,255,255,.15);
                color: @color-white;
                border: 1px solid @color-table-borderGray;
            }
        }
    }
}
/* End Of Bottom Section */

/* Status Box */
#statusBox {
    .position(fixed);
    padding: 5px;
    display: none;
    z-index: 100;

    .boxInnerWrap {
        .position(relative);
        .size(@width: 185px, @min-height: 100px, @max-height: 300px);
        padding: 7px;
        .rounded;
        box-shadow: 0 0 5px 1px rgba(0,0,0,.2);
        background-color: @color-background-white;
        z-index: 3;
    }
    .close {
        .position(absolute, @top: 7px, @right: 7px);
        .size(14px, 14px);
        .image("/images/close-gray.png", 50%, 50%);
        display: inline-block;
        cursor: pointer;
    }
    .title {
        .size(@height: 24px);
        font-weight: bold;
        .icon {
            .size(20px, 20px);
            margin-right: 6px;
            float: left;
        }
        .titleText {
            margin-top: 3px;
            float: left;
            .font(@size: 14px, @line-height: 16px);
        }
    } 
    
    .message {
        color: @color-text-darkGray;
        .font(@size: 12px, @line-height: 18px);
        white-space: normal;
    }
    &.error {
        display: inline-block;
        .title {
            .icon {
                .image("/images/error-icon.png", 50%, 50%);
            }
            .titleText {
                color: @color-text-error;
            }
        } 
        .arrow {
            .size(10px, 10px);
            display: inline-block;
            background-color: transparent;
            .transform(rotate(45deg));
            border: none;
            z-index: 1;
            box-shadow: 0 0 5px 2px rgba(0,0,0,.2);
        }
        .boxInnerWrap {
            border: 1px solid @color-error-border;
            &:before, &:after {
                content: "";
                border-top: 7px solid transparent;
                border-bottom: 7px solid transparent;
                margin-left: -9px;
            }
            &:before {
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                margin-left: -11px;
                margin-top: -1px;
            }
            &:after {
                z-index: 1;
            }
        }
        &.right {
            .arrow {
                .position(absolute, @top: 38px, @left: 0);
            }
            .boxInnerWrap {
                &:before, &:after {
                    .position(absolute, @top: 30px, @left: 0);
                }
                &:before {
                    border-right: 10px solid @color-error-border;
                }
                &:after {
                    border-right: 9px solid @color-background-white;
                    margin-right: -2px;
                }
            }
        }
        &.left {
            .arrow {
                .position(absolute, @top: 38px, @right: 0);
            }
            .boxInnerWrap {
                &:before, &:after {
                    .position(absolute, @top: 30px, @right: -10px);
                }
                &:before {
                    border-left: 10px solid @color-error-border;
                }
                &:after {
                    border-left: 9px solid @color-background-white;
                    margin-right: 2px;
                }
            }
        }

    }
    
}
/* End Of Status Box */

/* Tool Tips */
/*!
 * Bootstrap v3.3.2 (http://getbootstrap.com)
 * Copyright 2011-2015 Twitter, Inc.
 * Licensed under MIT
 * (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*!
 * Generated using the Bootstrap Customizer
 * (http://getbootstrap.com/customize/?id=719e42616a8ac56d2c95)
 * Config saved to config.json and
 * https://gist.github.com/719e42616a8ac56d2c95
 */

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.4;
    opacity: 0;
    filter: alpha(opacity=0);
    white-space: normal;
}
.tooltip.in {
    opacity: 0.9;
    filter: alpha(opacity=90);
}
.tooltip.top {
    margin-top: -3px;
    padding: 5px 0;
}
.tooltip.right {
    margin-left: 3px;
    padding: 0 5px;
}
.tooltip.bottom {
    margin-top: 3px;
    padding: 5px 0;
}
.tooltip.left {
    margin-left: -3px;
    padding: 0 5px;
}
.tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: #000000;
    border-radius: 4px;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
    bottom: 0;
    right: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #000000;
}
/* END AUTOGEN BOOTSTRAP CODE */
/* START CUSTOM BOOTSTRAP CODE */
.tooltip {
    z-index: 100;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-wrap: break-word;
}

.tooltip-inner {
    background-color: #36444D;
    opacity: 0.95;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: rgba(54, 68, 77, 0.95);
}
.tooltip.top .tooltip-arrow {
    border-top-color: rgba(54, 68, 77, 0.95);
}

.tooltip.left .tooltip-arrow {
    border-left-color: rgba(54, 68, 77, 0.95);
}
.tooltip.right .tooltip-arrow {
    border-right-color: rgba(54, 68, 77, 0.95);
}

.tooltip.error {
    opacity: 1 !important;
    display: block !important;
        
    .tooltip-inner, .tooltip-arrow {
        color: #4d4d4d;
        opacity: 1 !important;
    }

    .tooltip-arrow {
        background-color: transparent !important;
        border-top-color: @color-error-border;
    }

    .tooltip-inner {
        background-color: white;
        border: 1px solid @color-error-border;
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
    }
}

.tooltip.tutorial {
    @deep-yellow: #FFE400;

    opacity: 1 !important;
    display: block !important;

    &.z-10 {
        z-index: 10 !important;
    }

    .tooltip-inner, .tooltip-arrow {
        color: #4d4d4d;
        opacity: 1 !important;
    }

    .tooltip-arrow {
        background-color: transparent !important;
        border-top-color: @deep-yellow;
    }

    .tooltip-inner {
        background-color: #FFFDE4;
        border: 1px solid @deep-yellow;
        box-shadow: 0 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

    &.right {
        .tooltip-arrow {
            border-color: transparent;
            border-right-color: @deep-yellow;
        }
    }

    &.left {
        .tooltip-arrow {
            border-color: transparent;
            border-left-color: @deep-yellow;
        }
    }

    &.bottom {
        .tooltip-arrow {
            border-color: transparent;
            border-bottom-color: @deep-yellow;
        }
    }
}

body.tooltipOff {
    .tooltip {
        display: none !important;
        &.error {
            display: block !important;
        }
    }
}

/* JQUERY RESIZABLE */
.ui-resizable-handle {
    position: absolute;
}  

.ui-resizable-n, .ui-resizable-s {
    .size (100%, 15px);
    cursor: n-resize;
}

.ui-resizable-e, .ui-resizable-w {
    .size (15px, 100%);
    cursor: e-resize;
}

.ui-resizable-n {
    top: -10px;
    left: -10px;
}

.ui-resizable-s {
    bottom: -10px;
    left: -10px;
}
.ui-resizable-w {
    top: -10px;
    left: -10px;
}
.ui-resizable-e {
    top: -10px;
    right: -10px;
}

.ui-resizable-se {
    bottom: -10px;
    right: -10px;
    height: 25px;
    width: 25px;
    cursor: se-resize;

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 8px;
        left: 4px;
        width: 10px;
        height: 1px;
        background-color: @color-background-darkdarkGray;
        .transform(rotate(-45deg));
    }

    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 11px;
        left: 9px;
        width: 5px;
        height: 1px;
        background-color: @color-background-darkdarkGray;
        .transform(rotate(-45deg));
    }
}
