/* ========== Dag ========== */
#dagPanel {
    position: absolute;
    width: 100%;
    height: ~"calc(100% - 152px)";
    top: 78px;
    z-index: 9; 
    background-color: rgb(140, 173, 181);
    .image("/images/dag-background.png", right, top, repeat);
    .transition (~"transform 0.3s, z-index 0s .3s");

    .topBorder {
        position: relative;
        width: 100%;
        height: 11px;
        background-color: @color-background-sidebar;
        border-top: 1px solid @color-bar-border;
        border-bottom: 1px solid @color-bar-border;
        box-shadow: 0 1px 5px 0px rgba(0,0,0,0.5);

        .pulloutTabWrap, .tabShadow {
            width: 50px;
            height: 8px;
            top: 9px;
            left: 50%;
            position: absolute;
            background-color: @color-background-sidebar;
            border: 1px solid @color-bar-border;
            border-top: none;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
            z-index: 1;                                                 
        }

        .tabShadow {
            z-index: -1;
            background-color: rgba(0,0,0,0.3);
            border: none;
            box-shadow: 0 1px 5px 0px rgba(0,0,0,0.5);
        }

        #dagPulloutTab {
            position: absolute;
            height: 17px;
            width: 100%;
            top: -9px;
            cursor: pointer;
            .image("/images/dagIcons/dagTabArrow.png", 50%, 70%);
        }
    }

    &.midway {
        z-index: 9;
        .transform(translate3d(0, 50%, 0));
        .transition (~"transform 0.3s, z-index 0s 0.3s");

        #dagPulloutTab {
            .transform (rotate(180deg));
        }
    }

    &.full {
        z-index: 9;
        .transition (~"transform 0.3s, z-index 0s 0s");
    }

    &.hidden {
        .transform(translate3d(0, 100%, 0));
    }

    #closeDag {
        position: absolute;
        right: 18px;
        top: 16px;
        z-index: 50;
        .iconClose {
            background-image: url(/images/close-icon.png);
        }
    }

    .dagArea {
        width: ~"calc(100% - 10px)";
        height: ~"calc(100% - 10px)";
        overflow: auto;
    }
}

.dagWrap {
    position: relative;
    // overflow: auto;
    // height: 100%;
    margin-bottom: 10px;
    .header {
        margin: 15px 55px 0px 15px;
        border-bottom: 1px solid #A5A5A6;
        margin-bottom: 10px;
    }

    .infoIcon {
        float: left;
        margin-right: 7px;

        &:hover, &:active {
            cursor: default;
            .action-gradient;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,.7);
        }
        .icon {
            width: 100%;
            height: 100%;
            .image("/images/info-icon.png", 50%, 50%);
        }
    }

    .tableTitleArea {
        display: inline-block;
        float: left;
        margin-top: 2px;

        .tableName {
            display: inline-block;
            background: none;
        }
    }

    .retinaArea {
        display: inline-block;
        float: right;
        .addRet {
            display: inline-block;
            height: 22px;
            width: 22px;
            float: right;
            margin-bottom: 8px;
            border-radius: 3px;
            box-shadow: 2px 2px 2px 0 rgba(0,0,0,.4);
            .icon {
                .image("/images/retina/retAdd.png", 50%, 50%);
            }
        }

        .retTabSection {
            display: inline-block;
            float: right;
            position: relative;
            top: -5px;

            input:focus {
                outline: none;
            }
            .retTab {
                display: inline-block;
                width: 105px;
                height: 30px;
                float: right;
                position: relative;
                margin-right: 8px;

                .tabWrap {
                    position: relative;
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 3px;
                    border: 1px solid #979797;
                    background: rgba(219, 219, 219, 1);
                    cursor: pointer;

                    .retTitle {
                        display: inline-block;
                        width: ~"calc(100% - 20px)";
                        margin-top: 5px;
                        float: left;
                        font-size: 14px;
                        background: transparent;
                        text-align: left;
                        padding-left: 10px;
                        color: #989898;
                        font-weight: bold;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    .retDown {
                        display: inline-block;
                        height: 30px;
                        width: 20px;
                        cursor: pointer;
                        .icon {
                            .background("/images/retina/retDown.png", 13px, 8px);
                        }
                    }
                }

                &.unconfirmed .tabWrap{
                    opacity: 0.7;
                    .retTitle {
                        cursor: text;
                    }
                    .retDown {
                        cursor: initial;
                    }
                }

                &.active {
                    top: 5px;
                    .tabWrap {
                        background: #c3c3c3;
                        border-radius: 3px 3px 0 0;
                        border-bottom: none;
                        .retTitle {
                            color: #4d4d4d;
                        }
                        .retDown .icon {
                            background-image: url(/images/retina/retDownActive.png);
                        }
                    }
                    .retPopUp {
                        display: block;
                        z-index: 10;
                    }
                }

                .retPopUp {
                    display: none;
                    width: 440px;
                    height: 289px;
                    position: absolute;
                    left: -288px;
                    top: 30px;
                    background: @color-white;
                    border-radius: 0px 0px 3px 3px;
                    box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.3);

                    .divider {
                        width: 100%;
                        height: 4px;
                        background: #979797;
                    }
                    .inputSection {
                        width: 100%;
                        height: 45px;
                        background: #eaeaea;
                        box-shadow: 0px 3px 3px 0 rgba(0, 0, 0, 0.4);
                        padding: 7px 10px;
                        .newParam {
                            display: inline-block;
                            width: 194px;
                            height: 30px;
                            background: @color-white;
                            float: left;
                            padding-left: 9px;
                            box-shadow: inset -2px 0px 2px 0 rgba(0, 0, 0, 0.3);
                            border-radius: 3px;
                            font-weight: bold;
                            font-size: 13px;
                            color: #cccccc;
                            .input-placeholder(#cccccc);
                        }
                        .addParam {
                            display: inline-block;
                            width: 214px;
                            height: 30px;
                            margin-left: 12px;
                            border-radius: 3px;
                            box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.8);
                            padding-top: 5px;
                            .icon {
                                float: left;
                                margin: 0px 8px 0 6px;
                                .background("/images/retina/retNewParam.png", 24px, 23px);
                            }
                            .label {
                                width: 170px;
                                font-size: 12px;
                                font-weight: bold;
                                color: @color-text-cyan;
                            }
                        }
                    }
                    .tableContainer {
                        position: relative;
                        width: 100%;
                        // height: ~"calc(100% - 55px)";
                        background: @color-white;
                        z-index: -1;
                        padding: 0 10px;
                        border-radius: 0 0 3px 3px;
                        .tableWrapper {
                            overflow-y: scroll;
                            height: 100%;
                            margin: 0 auto;
                            .thWrap {
                                width: 226px;
                                height: 30px;
                                line-height: 30px;
                                position: absolute;
                                background: #a8a8a8;
                                top: 0px;
                                z-index: 40;
                                padding-left: 10px;
                                font-weight: bold;
                                font-size: 13px;
                                color: @color-text-white;
                            }
                            .paramVal {
                                    float: left;
                                    background: transparent;
                                    height: 30px;
                                    line-height: 30px;
                                    width: 80%;
                            }
                            .paramDelete {
                                float: right;
                                width: 20px;
                                position: relative;
                                right: 2px;
                                cursor: pointer;
                                .icon {
                                    position: relative;
                                    top: 1px;
                                    .background("/images/ds-close.png", 15px, 15px);
                                }
                            }
                            &::-webkit-scrollbar {
                                display: none;
                            }
                            .unfilled .paramDelete {
                                display: none;
                            }
                        }
                    }
                    table {
                        margin: auto;
                        table-layout: fixed;
                        text-align: left;
                        border-collapse: collapse;
                        th {
                            height: 30px;
                            &:first-of-type .thWrap{
                                width: 194px !important;
                                border-right: 1px solid #ffffff;
                            }
                        }
                        tbody {
                            tr {
                                td {
                                    width: 226px;
                                    height: 30px;
                                    line-height: 30px;
                                    position: relative;
                                    padding-left: 10px;
                                    font-weight: bold;
                                    font-size: 13px;
                                    &:first-of-type {
                                        width: 194px;
                                        border-right: 1px solid #a8a8a8;
                                    }
                                }
                                &:nth-child(odd) {
                                    background-color: @color-background-darkGray;
                                }
                                &:nth-child(even) {
                                    background-color: #f4f4f4;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .dagImageWrap {
        height: ~"calc(100% - 54px)";
        overflow-x: auto;
        margin-left: 10px;
    }

    .dagImage {
        position: relative;
        // display: flex;
        overflow: hidden;
        overflow: visible;
        display: block;
        float: left;
        margin-left: 30px;
        padding-bottom: 30px;
        padding-right: 30px;
    }

    .dagTableWrap {
        vertical-align: middle;
        align-self: center;
        margin: 10px 10px;
        margin-top: 0px;
        display: flex;
    }

    .dagTableWrap + .dagTableWrap {
        margin-top: 50px;
    }
    .dagTableWrap + .joinWrap {
        margin-top: 30px;
    }

    .dagTable {
        display: block;
        position: relative;
        text-align: center;
        line-height: 30px;
        float: right;
        width: 40px;
        height: 40px;
        
        
        top: 0;
        right: 0;

        .icon {
            .image("/images/table-icon.png", 50%, 50%);
            background-size: contain;
            width: 75%;
            height: 75%;
            position: absolute;
            top: 5px;
            left: 5px;
        }

        .dagTableIcon {
            position: absolute;
            background-color: lightblue;
            .action-gradient;
            border-radius: 15px;
            width: 40px;
            height: 30px;
            top: 5px;
        }

        &.dataStore {
            background: none;
            cursor: pointer;
            .icon {
                .image("/images/db-icon-white.png", 50%, 50%);
                left: -5px;
                top: -1px;
                width: 100%;
                height: 100%;
            }
            .tableTitle {
                top: 38px;
                .transform (translateX(-60%));
            }
            .dataStoreIcon {
                .transform (rotate(-45deg));
                border-radius: 3px;
                width: 28px;
                height: 28px;
                .action-gradient;
                top: 6px;
                left: 2px;
                position: absolute;
            }
        }

        .tableTitle {
            position: absolute;
            z-index: 5;
            font-size: 10px;
            top: 35px;
            // left: -1px;
            // width: 100%;
            color: @color-text-midGray;
            font-weight: 700;
            line-height: 12px;
            white-space: nowrap;
            .transform (translateX(-50%));
        }
    }

    .childContainer > .dagTableWrap {
        display: block;
    }

    .joinWrap {
        display: flex;
        justify-content: flex-end;
    }

    .joinWrap + .joinWrap {
        margin-top: 15px;
    }

    .actionType {
        display: inline-block;
        line-height: 30px;
        margin: auto 20px;
        margin-right: 30px;
        width: 100px;
        height: 32px;

        .actionTypeWrap {
            .dag-gradient;
            position: absolute;
            line-height: 30px;
            margin: 0;
            border: 1px solid rgb(135, 132, 132);
            border-radius: 3px;
            width: 100px;
            height: 32px; 
            max-width: 119px;
            max-height: 70px;
            overflow: hidden;
            cursor: pointer;
        }

        span {
            display: block;
            float: left;
            font-size: 8px;
            line-height: 10px;
            font-weight: 700;
            padding-left: 2px;
            width: 70%;
        }

        .typeTitle {
            text-transform: capitalize;
        }

        .childrenTitle {
            height: ~"calc(100% - 12px)";
            overflow: hidden;
            word-break: break-all;
        }

        .dagIcon {
            width: 22px;
            height: 100%;
            .dagDark-gradient;
            float: left;
        }

        .icon {
            width: 100%;
            height: 100%;
        }

        .duplicateColumn {
            .icon {
                .image("/images/dagIcons/duplicate-column.png", 40%, 45%);
            }
        }

        .filter {
            .icon {
                .image("/images/dagIcons/filter.png", 50%, 45%);
            }
            &.filtergt .icon {
                .image("/images/dagIcons/greater-than.png", 50%, 45%);
            }
            &.filterge .icon {
                .image("/images/dagIcons/greater-than-equal.png", 50%, 45%);
            }
            &.filtereq .icon {
                .image("/images/dagIcons/equal.png", 50%, 45%);
            }
            &.filterlt .icon {
                .image("/images/dagIcons/less-than.png", 50%, 45%);
            }
            &.filterle .icon {
                .image("/images/dagIcons/less-than-equal.png", 50%, 45%);
            }
            &.filterregex .icon {
                .image("/images/dagIcons/regex.png", 50%, 45%);
            }
            &.filterlike .icon {
                .image("/images/dagIcons/filter.png", 50%, 45%);
            }
            &.filterothers .icon {
                .image("/images/dagIcons/filter.png", 50%, 45%);
            }
        }

        .groupBy {
            .icon {
                .image("/images/dagIcons/group.png", 40%, 40%);
                height: 10px;
                position: relative;
                top: -8px;

                &.groupByCount {
                    .image("/images/dagIcons/count.png", 40%, 40%);
                }
                 &.groupByAverage {
                    .image("/images/dagIcons/average.png", 40%, 40%);
                }
                 &.groupBySum {
                    .image("/images/dagIcons/sum.png", 40%, 40%);
                }
                &.groupByMax {
                    .image("/images/dagIcons/max.png", 40%, 40%);
                }
                &.groupByMin {
                    .image("/images/dagIcons/min.png", 40%, 40%);
                }
            }

            .icon2 {
                height: 15px;
                top: -24px;
                left: 1px;
            }
        }

        .index {
            .icon {
                .image("/images/dagIcons/index.png", 40%, 40%);
            }
        }

        .join {
            .icon {
                .image("/images/dagIcons/inner-join.png", 40%, 40%);
            }
        }

        .sort {
            .icon {
                .image("/images/dagIcons/sort-up.png", 40%, 40%);
            }
        }
    }
}

.canvas {
    position: absolute;
    // top: 28px;
    left: 0;
    z-index: -1;
    // margin-top:  10px;
    top: 0px;
}