 // DataStore CSS
#datastoreView {
    .position(relative, @top: 0);
    .size(@width: 100%, @height: ~"calc(100% - 115px)");
    z-index: 5;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.waitingIcon {
    .position(absolute, @top: 2px, @left: 3px);
    .size(@width: 35px, @height: 37px);
    display: none;
    .image("/images/waiting-1.gif");
    z-index: 101;
    &.active {
        display: inline-block;
    }
}

input {
    &.error {
        background-color: #FFEEEE !important;
        &:focus {
            outline: 1px solid #FFD6D6 !important;
        }
    }
}

/* Content Header */
 #contentHeader {
    .flex-display;
    .flex-flow(row);
    .position(absolute, @top: -1px);
    z-index: 6;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);
    cursor: default;

    .text {
        float: left;
        font-size: 14px;
        color: white;
        margin: 8px 0 0 3px;
        text-shadow: 1px 1px @color-text-drop-shadow;
    }
}

#contentHeaderLeft {
    .flex(0 0 255px);
    .flex-order(1);

    background-color: white;

    .flex-display;
    .flex-flow(row);

    .buttonArea {
        .flex(1 1 127px);
        .linear-gradient(top, rgb(163, 163, 163), rgb(140, 140, 140));
        border-right: 1px solid @color-bar-border;

        .icon {
            float: left;
        }

        &.active {
            .linear-gradient(top, rgb(96, 179, 230), rgb(60, 141, 178));
        }
    }
}

// two icons in #contentHeaderLeft
#exploreButton {
    margin: 6px 2px 0 8px;
    .background("/images/datastore/explore.png", 24px, 24px);
}

#searchButton {
    margin: 6px 0 0 8px;
    .background("/images/datastore/search.png", 26px, 24px);
}

#contentHeaderMid {
    .flex(1 1 auto);
    .flex-order(2);
    background-repeat: no-repeat;
    background-position: 19px 12px;
}

#contentHeaderRight {
    .flex(0 0 255px);
    .flex-order(3);
    background: linear-gradient(@color-bar-darkGray-top,
                                @color-bar-darkGray-bot);
    border-left: 1px solid black;
    .icon {
        margin: 9px 0 0 8px;
        .background("/images/db-icon-white.png", 19px, 19px);
        float: left;
    }

    color: white;
}
/* End Of Content Header */

/* Import Data View Section */
#importDataView {
    display: block;
    .position(fixed, @top: 78px, @left: 255px);
    .size(@width: ~"calc(100% - 510px)", @height: ~"calc(100% - 152px)",
          @min-width: 513px);
    z-index: 2;
    background-color: @color-background-white;
    font-size: 13px;
    overflow: hidden;

    .contentViewMidWrap {
        .size(@height: 100%, @width: 85%, @min-width: 470px, @max-width: 900px);
        margin: 0 auto;
        padding: 0 0px;
    }

    .label {
        display: inline-block;
        float: left;
        .size(@width: 100px, @height: 30px);
        .font(@weight: 700, @line-height: 30px);
        cursor: default;
    }

    .btn {
        margin-left: 20px;
        padding: 0;
        float: right;
        text-shadow: 1px 1px rgba(0,0,0,.2);
    }
}

#importHelp {
    .position(relative);
    .size(@height: 93px);
    padding: 15px 10px 5px 10px;
    font-weight: 700;
    box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;

    .contentViewMidWrap {
        .size (@width: 90%, @max-width: 960px);
    }

    h2 {
        font-size: 18px;
        color: @color-text-blue;
        display: block;
        margin-bottom: 10px;
    }

    p {
        .size(@width: ~"calc(100% - 50px)", @height: 30px);
        .font(@weight: 700, @size: 12px);
        color: @color-text-lightGray;
        overflow: hidden;
        display: inline-block;
        white-space: normal;
        float: left;
    }
    .icon {
        .background("/images/info-icon-large.png", 28px, 28px);
        display: inline-block;
        float: left;
        margin-right: 10px;
    }
}

// Data Form Section
#importDataForm {
    #previewBtn {
        display: none;
    }

    &.browseMode {
        #previewBtn {
            display: block;
        }
    }

    &.previewMode {
        height: 151px !important;

        #importDataBottomForm, #fileBrowserBtn, #fileFormat,
        #udfCheckbox, #csvPromoteCheckbox {
            display: none;
        }

        #previewBtn {
            min-width: 220px;
        }

        #filePath {
            pointer-events: none;
            opacity: 0.8;
        }

        #fileName {
            min-width: ~"calc(100% - 300px)" !important;
        }
    }
}
// Top Form Section
#importDataTopForm {
    background-color: @color-background-topForm;
    padding: 30px 20px 1px 20px;

    .importFormRow {
        height: 30px;
        line-height: 30px;
        margin-bottom: 30px;
        .flex-display;

        label {
            display: inline-block;
            max-width: 100px;
            min-width: 80px;
            font-weight: 700;
            float: left;
        }
        input {
            max-width: 620px;
            min-width: ~"calc(100% - 300px)";
            width: ~"calc(100% - 260px)";
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            float: left;
            // .flex(2 0 180px);
        }
        .input-placeholder(@color-text-instructions);

        &#fileNameSelector {
            input {
                max-width: 485px;
                min-width: ~"calc(100% - 440px)";
                width: ~"calc(100% - 400px)";
            }

            #fileFormat {
                margin-left: 20px;
                .size(@height: 30px);
                .position(relative);
                outline: none;

                input {
                    .noSelection;
                }

                .listSection {
                    .dropDownList(115px, 30px);
                    .text {
                        .size(@width: ~"calc(100% - 30px)");
                        .font(@size: 13px);
                        .rounded(3px 0 0 3px);
                        cursor: default;
                        .noSelection;
                    }
                    .list {
                        .rounded(3px 0 0 3px);
                        .position(@top: 0px);
                        .font(@size: 13px);
                    }
                    &.open {
                        box-shadow: none;
                    }

                    .hint {
                        color: @color-text-lightGray;
                    }
                }
            }
        }
    }

    .checkbox {
        .size(@width: 100px, @height: 30px);
        .font(@weight: 700, @size: 13px);
        margin-left: 0px;
        cursor: pointer;
        .noSelection;

        &.hidden {
            display: none;
        }

        .iconWrapper {
            float: left;
            .size(@width: 16px, @height: 100%);
            .position(relative);

            .icon {
                .size(@width: 100%, @height: 100%);
                .image("/images/alertModal/checkbox-unchecked.png", 50%, 50%);
            }

            &.checked .icon {
                .image("/images/alertModal/checkbox-checked.png", 50%, 50%);
            }
        }

        .text {
            color: @color-text-lightGray;
            float: left;
            margin-left: 10px;
        }

        &#csvPromoteCheckbox {
            margin-left: 0px;
        }

        &#udfCheckbox {
            margin-left: 20px;
        }
    }
}
// End of Top Form Section

// Bottom Form Section
#importDataBottomForm {
    padding: 30px 20px 1px 20px;
}

#csvDelim, #udfArgs {
    visibility: visible;
    opacity: 1;
     .transition(opacity 0.3s);

    &.hidden {
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .size(@min-height: 50px; @max-height: 95px);
    .position(relative);
    margin-bottom: 15px;
    // margin-right: -30px;
    .font(@weight: 700, @size: 12px);

    .wrapper {
        .size(@height: 50px);
        .position(relative);
        float: left;
        .size(@width: 50%);
        &:first-child {
            margin-right: 30px;
            .size(@width: ~"calc(50% - 30px)");
        }
    }

    .label {
        .size(@width: 110px, @height: 30px);
        .font(@size: 13px);
    }

    .nullVal {
        font-style: italic;
    }

    .listSection {
        .dropDownList(~"calc(100% - 110px)", 30px);

         .text {
            .size(@width: ~"calc(100% - 30px)");
            .font(@size: 13px);
            .rounded(3px 0 0 3px);
            .noSelection;
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            cursor: default;
        }

        .list {
            .rounded(0 0 3px 3px);
            .position(@top: 31px);
            .font(@size: 13px, @weight: 600);

            li {
                padding: 0 7px;

                &:hover {
                    background-color: @color-white;
                }

                &.hover {
                    background-color: @color-selectedCell-light;
                }
            }

            .other {
                .size(@height: 60px);
                .position(relative);
                span {
                    display: block;
                }
                input {
                    display: block;
                    .size(@width: 100%, @height: 20px);
                    .font(@line-height: 20px);
                    box-shadow: 0px 0px 0px 1px #d1dee6;
                    .rounded;
                    outline: none;
                }
            }
        }

        &.open {
            .rounded(3px 3px 0 0);
            .text {
                .rounded(3px 0 0 0);
            }
        }
    }
}
// End of Bottom Form Section
// End of Data Form Section

// Preview Table Section
#dsPreviewWrap {
    padding: 10px 10px 0 10px;
    background-color: @color-background-topForm;
    height: ~"calc(100% - 244px)";

    &.hidden {
        display: none;
    }

    .container {
        .size(@height: 100%);
        white-space: nowrap;
        background-color: @color-white;
        padding: 10px;
        box-shadow: 0px 2px 1px 2px rgba(0, 0, 0, 0.2);
    }

    .infoSection {
        .size(@height: 50px);

        section > div {
            height: 25px;
            line-height: 25px;
        }

        .titleSection {
            .size(@width: 50%);
            float: left;

            h2 {
                float: left;
            }

            .btn {
                .size(@width: 120px, @height: 25px);
                line-height: 25px;
                // margin: 0;
                float: left;
            }
        }

        .iconSection {
            .size(@width: 50%);
            float: right;

            > div {
                clear: both;
                float: right;
            }

            .iconWrapper {
                .size(@width: 20px);
                .position(relative);
                cursor: pointer;
                float: right;

                .icon {
                    .size(@width: 100%, @height: 25px);
                }
            }

            .close .icon {
                .image("/images/datastore/preview-close.png", 50%, 50%);
            }

            .group {
                .iconWrapper {
                    pointer-events: none;
                    &.highlight {
                        margin-right: 15px;
                        .icon {
                            .image("/images/datastore/preview-highlight-gray.png", 50%, 50%);
                        }

                        &.active .icon {
                            .image("/images/datastore/preview-highlight.png", 50%, 50%);
                        }
                    }

                    &.rmHightLight {
                        .icon {
                            .image("/images/datastore/preview-rmHeightLight-gray.png", 50%, 50%);
                        }

                        &.active .icon {
                            .image("/images/datastore/preview-rmHeightLight.png", 50%, 50%);
                        }
                    }

                    &.active {
                        pointer-events: all;
                    }
                }
            }
        }
    }

    .suggestSection {
        .size(@height: 25px);
        .font(@size: 12px, @line-height: 25px);
        cursor: default;
        .noSelection;
        overflow: hidden;
        clear: both;

        .transition(height 0.2s linear);

        &.hidden {
            height: 0;
        }

        .title {
            float: left;
            margin-right: 5px;
            font-weight: 700;
        }

        .action {
            .size(@height: 25px);
            margin-right: 5px;
            padding: 0 5px;
            display: inline-block;
            line-height: 25px;
            background: #b6b6b6;
            color: @color-white;
            .rounded;


            &.active {
                .action-gradient;
                cursor: pointer;

                &:hover {
                    .action-inverse-gradient;
                }
            }
        }
    }

    .previewSection {
        .size(@width: 100%, @height: ~"calc(100% - 50px)");
        overflow-y: hidden;
        overflow-x: auto;
        .transition(height 0.2s linear);

        .waitSection {
            height: 25px;
            line-height: 25px;

            .loadingMsg {
                margin-left: 0;
                float: left;
            }

            .animatedEllipsis {
                float: left;

                > div {
                    display: inline-block;
                    width: 2px;
                    margin-left: 0;
                }
            }

            &.hidden {
                display: none;
            }
        }

        .errorSection {
            // color please check .loadError
            margin-left: 0;
            &.hidden {
                display: none;
            }
        }
    }

    &.has-suggest .previewSection {
        .size( @height: ~"calc(100% - 75px)");
    }
}

#previewTable {
    width: 100%;
    white-space: pre-wrap;

    // for both th and td
    .td {
        display: inline-block;
        tab-size: 4;

        &.has-margin {
            margin-right: 1px;
        }

        &.highlight {
            background: rgba(91, 178, 233, 0.5);
        }

        &::selection, &::-moz-selection {
            color: rgba(91, 178, 233, 0.5);
        }
    }

    th {
        cursor: default;
        &:not(:first-child) {
            width: auto;

            .header {
                width: ~"calc(100% - 40px)";
                cursor: text;

                .text {
                    .size(@height: 100%);
                    .gray-gradient;
                    .rounded;
                    line-height: 30px;
                    padding: 0 3px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }

        .header {
            z-index: 10;
        }
    }

    td {
        text-align: left;

        &.lineMarker {
            text-align: center;
        }
    }

    &.has-delimiter {
        .size(@width: 0);
        white-space: nowrap;

        th:not(:first-child) {
            .size(@width: 130px);

            .header {
                .size(@width: 130px);
            }
        }

        td {
            text-align: center;
        }
    }

    .undo-promote {
        pointer-events: all;

        .header {
            background: #5bb2e9;
            cursor: pointer;

            .icon {
                .size(@width: 100%, @height: 100%);
                .image("/images/datastore/undo-promote.png", 50%, 50%);
            }
        }
    }

    .promote {
        background: #5bb2e9;
        cursor: pointer;

        .promoteWrap {
            .size(@height: 100%);
            .position(relative);
        }

        .divider {
            .size(@width: 9999px, @height: 2px);
            background-color: #5bb2e9;
        }

        .iconWrapper {
            .size(@height: ~"calc(100% - 2px)");
            .icon {
                .size(@width: 100%, @height: 30px);
                .image("/images/datastore/promote.png", 50%, 50%);
            }
        }
    }
}
// End Of Preview Table Section

/* End Of Import Data View Section */

/* Main Content */
#mainContent {
    height: 100%;
    padding-top: 37px;
    #searchView {
        display: none;
        height: 100%;

        #datasetSearch {
            .flex(0 0 35px);
            .flex-order(2);
            z-index: 1;
            background-color: @color-background-darkGray;
        }

        #listView {
            .flex(1 1 auto);
            .flex-order(1);
            background-color: @color-background-darkGray;
            z-index: 1;
        }

        #searchHeader {
            .flex(0 0 91px);
            .flex-order(1);
        }
        #searchResult {
            .flex(1 1 auto);
            .flex-order(2);
        }
    }

    #exploreView {
        height: 100%;
    }

    #contentView {
        height: 100%;
        .flex-display;
        .flex-flow(row);
        background-color: @color-background-white;
    }
}

/* Content Left */
#contentViewLeft {
    .flex(0 0 255px);
    .flex-order(1);
    .flex-display;
    .flex-flow(column);
    box-shadow: inset -2px 2px 6px 0 rgba(0,0,0,.3);

    #datasetExplore {
        .flex(0 0 35px);
        .flex-order(0);
        .gray-gradient;
        text-align: center;
        padding-top: 6px;
        position: relative;
        color: @color-background-darkdarkGray;
        .font(@weight: 700, @size: 15px);

        span {
            line-height: 22px;
        }
        .buttonGroup {
            .position(absolute, @right: 7px);
            display: inline-block;
            .noSelection;
            cursor: default;
            .btn {
                .size(23px, 23px);
                margin-left: 2px;
            }
            #dataListView .icon {
                .image("/images/ds-listView.png", 50%, 50%);
            }
            #dataGridView .icon {
                .image("/images/ds-iconView.png", 50%, 50%);
            }
        }
    }

    #importDataArea {
        .flex(0 0 59px);
        .flex-order(1);
        background-color: @color-background-darkGray;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        z-index: 2;
        height: 59px;

        #importDataButton {
            .vertical-align;
            display: block;
            margin: 0 auto;

            .icon {
                .image("/images/db-icon-white.png", 50%, 50%);
            }
        }
    }

    #gridViewButtonArea {
        .flex(0 0 31px);
        .flex-order(2);
        .flex-display;
        position: relative;
        background-color: @color-background-bottomGrayMed;
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        // inner function
        ._gridViewButton(@order, @url) {
            .flex(1 1 auto);
            .flex-order(@order);
            height: 100%;
            cursor: pointer;
            .gray-gradient;
            &:hover {
                .gray-inverse-gradient;
            }
            &.disabled {
                opacity: 0.3;
                background: @color-background-darkGray;
                cursor: default;
                pointer-events: none;
            }
            .icon {
                display: inline-block;
                margin: 3px 5px 3px 8px;
                .background(@url, 25px, 25px);
                float: left;
            }

            .label {
                display: inline-block;
                .transition (opacity 0.6s);
                .font(@size: 11px, @line-height: 32px, @family: @font-base);
                text-align: center;
                float: left;
                color: @color-text-black;
            }
        }

        #backFolderBtn {
            ._gridViewButton(1, "/images/datastore/btn-upper-folder.png");
            .label {
                font-size: 12px;
            }
            &.active {
                .gray-inverse-gradient;
                opacity: 1.0;
            }
        }
        #addFolderBtn {
            ._gridViewButton(2, "/images/datastore/btn-add-folder.png");
            border-left: 1px solid rgba(118, 118, 118, 0.5);
            border-right: 1px solid rgba(118, 118, 118, 0.5);
        }
        #deleteFolderBtn {
            ._gridViewButton(3, "/images/datastore/btn-delete-folder.png");
        }
    }

    #gridViewWrapper {
        .flex(1 1 auto);
        .flex-order(3);
        padding: 9px;
        position: relative;
        overflow: hidden;
        background-color: @color-background-darkGray;
        border-top: 1px solid rgba(154,154,154,1);
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        #gridViewScrollbarWrapper {
            position: absolute;
            overflow-x: hidden;
            overflow-y: scroll;
            .size(@width: ~"calc(100% + 20px)", @height: 100%);
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
}

#gridView {
    &.gridView {
        overflow: auto;
        .grid-unit.hidden {
            > .gridIcon, > .listIcon, > .label, > .dsCount, 
            > .dragWrap {
                display: none !important;
            }
        }

        .grid-unit:first-of-type {
            clear: left;
        }

        .grid-unit.display {
            .gridViewForGrid;
        }

        .grid-unit.ds.display > .dragWrap {
            .size(@width: ~"calc(50% + 7px)", @height: 100%);
            position: absolute;
            background: transparent;
            &.leftTopDragWrap {
                // background-color: blue;
                left: -7px;
                &.active {
                    box-shadow: inset 2px 0px 0px @color-background-topAction;
                }
            }

            &.rightBottomDragWrap {
                // background-color: green;
                left: 50%;
                &.active {
                    box-shadow: 2px 0px 0px @color-background-topAction;
                }
            }
        }

        .grid-unit.folder.display {
            .label {
                cursor: text;
                &:focus {
                    .position(absolute, @left: -10px);
                    box-shadow: inset 0px 0px 3px black;
                    background: @color-background-white;
                    outline: none;
                    white-space: nowrap;
                    overflow-y: hidden;
                    width: 150%;
                    text-overflow: initial;
                }
            }

            .dsCount {
                .position(absolute, 11px, 0, 0, -3px);
                .size(@width: 50px, @height: 20px);
                color: @color-text-blue;
                font-weight: 700;
            }

            > .dragWrap {
                height: 100%;
                position: absolute;
                background: transparent;

                &.leftTopDragWrap {
                    left: -7px;
                    width: ~"calc(16.5% + 7px)";
                    &.active {
                        box-shadow: inset 2px 0px 0px @color-background-topAction;
                    }
                }

                &.rightBottomDragWrap {
                    left: 82.5%;
                    width: ~"calc(16.5% + 7px)";
                    &.active {
                        box-shadow: 2px 0px 0px @color-background-topAction;
                    }
                }

                &.midDragWrap {
                    width: 66%;
                    left: 16.5%;
                }
            }
        }
    }

    & .dragWrap {
        z-index: -1;
    }

    &.drag .dragWrap {
        z-index: 99;
    }

    &.listView {
        padding: 4px 0;
        overflow-y: scroll;

        .grid-unit {
            .listViewForGrid;
        }

        .grid-unit.ds > .dragWrap {
            .position(absolute);
            .size(@width: 100%, @height: 17.5px);
            background: transparent;
            &.leftTopDragWrap {
                top: -5px;
                &.active {
                    box-shadow: inset 0px 2px 0px @color-background-topAction;
                }
            }

            &.rightBottomDragWrap {
                top: 12.5px;
                &.active {
                    box-shadow: 0px 2px 0px @color-background-topAction;
                }
            }
        }

        .grid-unit.folder {
            .grid-unit {
                .size(@width: 95%, @max-width: 230px);
                margin-left: 5%;
                display: block;
            }

            .label:focus {
                outline: none;
            }

            .dsCount {
                .position(absolute, @top: 3px, @right: 8px, @bottom: 0);
                .size(@width: 45px, @height: 25px);
                color: @color-text-blue;
                font-weight: 900;
                text-align: right;
            }

            > .dragWrap {
                width: 100%;
                position: absolute;
                background: transparent;

                &.leftTopDragWrap {
                    top: -5px;
                    height: 9.17px;
                     &.active {
                        box-shadow: inset 0px 2px 0px @color-background-topAction;
                    }
                }

                &.rightBottomDragWrap {
                    top: 20.84px;
                    height: 9.16px;
                    &.active {
                        box-shadow: 0px 2px 0px @color-background-topAction;
                    }
                }

                &.midDragWrap {
                    height: 16.67px;
                    top: 4.17px;
                }
            }
        }

        .grid-unit.collapse {
            .grid-unit {
                display: none !important;
            }
            &.folder > .listIcon .icon {
                .image("/images/datastore/folder-sm.png", 50%, 50%)
            }
        }
    }
}
/* End Of Content Left */

/* Content Mid */
#contentViewMid {
    .flex(1 1 auto);
    .flex-order(2);
    .flex-display;
    .flex-flow(column);
    z-index: 1;
    height: 100%;

    .modifyDSButton {
        margin-bottom: 5px;
        cursor: pointer;
        text-align: right;
        height: 20px;
        span {
            float: right;
        }
        .icon {
            display: inline-block;
            margin-left: 8px;
            .size(@width: 16px, @height: 17px);
        }
    }

    #contentViewHeader {
        .flex(0 0 93px);
        .flex-order(1);
        box-shadow: 0 3px 2px rgba(0,0,0,.2);
        .dbText {
            display: inline-block;
            float: left;
            width: ~"calc(100% - 105px)";
            padding-left: 25px;
            overflow: hidden;

            h2 {
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        h2 {
            display: block;
            height: 28px;
            color: @color-text-blue;
            margin-top: 8px;
            .font(@size: 19px, @line-height: 28px);
        }
        p {
            display: block;
            font-size: 13px;
            margin: 2px 0 5px 0;
        }
    }
    
    /* START DATASET TABLE */
    #contentViewTable {
        .flex(1 1 auto);
        .flex-order(2);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 100%;

        .datasetTitleWrap {
            height: 60px;
            margin-left: 0px;
        }

        .dsInfo {
            float: left;
            .size(@width: ~"calc(100% - 120px)", @height: 60px);
            padding-left: 25px;
            h2 {
                display: block;
                margin: 15px 0px 8px;
                font-size: 14px;
            }
            p {
                font-size: 13px;
            }
        }

        .buttonGroup {
            display: inline-block;
            float: right;
            width: 120px;
            margin-top: 10px;
            color: @color-text-blue;
            font-weight: 600;
            text-align: right;
            padding-right: 17px;
        }

        .modifyDSButton {
            &.selectAll .icon {
                margin-top: 2px;
                width: 19px;
                .image("/images/select-all.png", 50%, 50%);
            }
            &.clear .icon {
                margin-top: 1px;
                width: 19px;
                .image("/images/select-none.png", 50%, 50%);
            }
        }
    }
}

#datasetWrap {
    .size(@width: ~"calc(100% - 20px)", @height: ~"calc(100% - 68px)",
              @max-width: 100%);
    white-space: nowrap;
    overflow: hidden;
    float: left;
    position: absolute;
    margin-left: 10px;
    overflow-x: auto;
}

.datasetTbodyWrap {
    max-height: 100%;
    overflow-x: visible;
    overflow-y: scroll;
    display: inline-block;
    outline: 1px solid #DDDDDD;
    outline-offset: -1px;
    margin-top: -1px;
    &::-webkit-scrollbar {
        display: none;
    }
}

table.datasetTable {
    margin: 0;
}

.datasetTableWrap {
    .size(@height: ~"calc(100% - 10px)", @max-height: ~"calc(100% - 10px)");
    margin: 10px 0px 0px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    .datasetTable {
        width: 0px;
    }

    .loadError {
        color: @color-table-red;
        margin-left: 15px;
    }

    .loadingMsg {
        margin-left: 15px;
    }

    .header {
        .position(absolute, @top: 0);
        .size(@width: 130px, @height: 40px);
        cursor: pointer;

       .dataTableHeader;
       .editableHead {
            .noSelection();
            cursor: pointer;
       }

       .colGrab:hover + div {
            .dropdownBox {
                display: none;
            }
       }

       .flexContainer {
            overflow: hidden;
            .gray-gradient;
            .rounded;
       }

        .flexWrap.flex-left {
            .flex(0 0 24px);
            margin: 0px 0 0 0px;
            overflow: hidden;
            cursor: default;
            .size(@height: 30px);
            .colIcon-gray-gradient();
            position: relative;
            .iconHidden {
                .size(@width: 1px, @height: 30px);
                display: inline-block;
            }
            .icon {
                margin-left: 3px;
            }
        }

        .flexWrap.flex-mid {
            .flex(1 1 auto);
        }

        .flexWrap.flex-right {
            .flex(0 0 24px);
            position: relative;

            .tick.icon {
                .size(@width: 15px, @height: 27px);
                .image("/images/datastore/tick.png", 50%, 50%);
                opacity: 0.5;
            }
        }

        &:hover {
            .flexWrap.flex-right {
                > .tick.icon {
                    opacity: 1.0;
                }
            }
        }
    }

    th {
        width: 130px;
        &:first-child {
            width: 40px;
            cursor: default;
            pointer-events: none;
            .header {
                border-left: 5px solid @color-background-tableBorders;
                width: 40px;
                cursor: default;
                .gray-gradient;
            }
        }
    }
    .selectedCell {
        .editableHead {
            background: none !important;
            background-color: @color-background-white !important;
            color: @color-text-darkGray !important;
        }
    }
    .selectedCol {
        .header {
            .editableHead {
                color: @color-background-white;
            }
            .tick.icon {
                opacity: 1.0;
            }
            .flexContainer {
                .action-gradient;
            }
        }
        .flexWrap.flex-left {
            .colIcon-active-gradient();
        }
        .type-boolean .flexWrap.flex-left {
            &:after {
                border-top: 30px solid @color-triangle-colIcon-blue;
            }
        }
    }
}
/* End Of Content Mid */

/* Content Right */
#contentViewRight {
    .flex(0 0 255px);
    .flex-order(3);
    .size(@width: 255px, @height: 100%);
    background-color: @color-background-darkGray;
    box-shadow: inset 2px 2px 6px 0 rgba(0,0,0,.3);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    .buttonArea {
        margin-top: 4px;
        padding-bottom: 0px;
        padding-left: 12px;
        z-index: 2;
        position: relative;
        &.cartOverflow {
            box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
            .border {
                display: none;
            }
        }
        .title {
            font-size: 16px;
            padding-left: 5px;
            padding-top: 15px;
            .size(@width:225px, @height: 45px);
            text-align: center;
        }
        .border {
            border-top: 1px solid @color-join-border;
            border-bottom: 1px solid white;
            width: 225px;
        }
    }

    .btnLarge {
        margin-top: 10px;
        width: 225px;
        font-size: 11px;
        display: block;
        text-align: left !important;
        text-indent: 4px;

        .icon {
            left: -2px !important;
        }

        &#submitDSTablesBtn .icon {
            .image("/images/send-single.png", 0, 50%);
        }
        &#submitMultipleDBTablesBtn .icon {
            .image("/images/send-multiple.png", 0, 50%);
        }
        &#clearDataCart .icon {
            .image("/images/garbage.png", 0, 50%);
        }
    }
}

// Data Cart Section
#dataCartWrap {
    .size(@width: 100%, @height: ~"calc(100% - 125px)");
    overflow: auto;
    float: left;
}

#dataCart {
    margin-left: 12px;
    background-color: @color-background-darkGray;
    backface-visibility: hidden;

    .helpText {
        white-space: normal;
        display: block;
        margin-top: 10px;
        margin-right: 15px;
        color: @color-background-darkdarkGray;
    }

    .selectedTable {
        margin: 10px 0 20px 0;
        width: 225px;

        .cartTitleArea {
            .position(relative);
            .size(@width: 100%, @height: 30px);

             .tableNameEdit {
                .size(100%, 100%);
                .font(@size: 16px, @weight: bold, @line-height: 30px);
                padding-right: 30px;
                padding-left: 5px;
                display: inline-block;
                text-align: center;
                overflow: hidden;
                text-overflow: ellipsis;
                box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5);
                background-color: #CCCCCC;
            }

            .iconWrapper {
                .position(absolute, @top: 5px, @right: 5px);
                .size(20px, 20px);
                background-color: #B7B7B7;
                box-shadow: -1px 1px 0px 1px rgba(0, 0, 0, 0.2);
                .rounded;
                cursor: pointer;

                &:hover {
                    .action-gradient;
                }

                .icon {
                    .size(100%, 100%);
                    .image("/images/datastore/tableEdit.png", 50%, 50%);
                }
            }

            &.focus {
                .tableNameEdit {
                    padding-right: 5px;
                }

                .iconWrapper {
                    display: none;
                }
            }
        }

        li {
            height: 28px;
            .font(@weight: 700, @line-height: 28px);
            background-color: @color-background-white;
            .rounded;
            box-shadow: -1px 1px 1px rgba(0,0,0,.2);
            overflow: hidden;
            margin-top: 8px;
            &.colSelected {
                background-color: @color-selectedCell-light;
            }
            &.keySelected {
                box-shadow: 0px 0px 0px 2px @color-background-bottomAction;
            }
            .colName {
                .size(@width: 200px, @height: 100%);
                padding-left: 12px;
                float: left;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
            }
            .removeCol {
                .size(@width: 25px, @height: 100%);
                float: left;
                display: inline-block;
                .gray-gradient;
                cursor: pointer;
                &:hover {
                    .red-gradient;
                }
                .closeIcon {
                    display: inline-block;
                    .size(100%, 100%);
                    .image("/images/ds-close.png", 50%, 50%);
                }
            }
        }
    }
}
// End of Data Cart Section

