 // DataStore CSS
#datastoreView {
    display: none;
    width: 100%;
    position: relative;
    top: 37px;
    top: 0px;
    z-index: 5;
    height: ~"-webkit-calc(100% - 115px)";
    height: ~"-moz-calc(100% - 115px)";
    height: ~"calc(100% - 115px)";
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    .iconWaiting {
        display: none;
        width: 35px;
        height: 37px;
        .image("/images/waiting-1.gif");
        position: absolute;
        top: 2px;
        left: 3px;
        z-index: 101;
        &.active {
            display: inline-block;
        }
    }
}

input {
    &.error {
        background-color: #FFEEEE !important;
        &:focus {
            outline: 1px solid #FFD6D6 !important;
        }
    }
}

/* Content Header */
 #contentHeader {
    .words {
        float: left;
        font-size: 15px;
        color: white;
        margin-left: 3px;
        margin-top: 8px;
        text-shadow: 1px 1px @color-text-drop-shadow;
    }
    height: 38px;
    width: 100%;
    position: absolute;
    z-index: 6;
    top: -1px;
    color: @color-text-darkGray;
    border-top: 1px solid @color-bar-border;
    border-bottom: 1px solid @color-bar-border;
    .darkGray-gradient;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);

    .flex-display();
    .flex-flow(row);

    #contentHeaderLeft {
        .flex(0 0 255px);
        .flex-order(1);

        background-color: white;
        cursor: pointer;

        .flex-display();
        .flex-flow(row);

        .buttonArea {
            .flex(1 1 127px);
            .linear-gradient(top, rgb(163, 163, 163), rgb(140, 140, 140));
            border-right: 1px solid @color-bar-border;
            &[active] {
                .linear-gradient(top, rgb(96, 179, 230), rgb(60, 141, 178));
            }
        }

        #exploreButton {
            margin-top: 6px;
            margin-left: 8px;
            margin-right: 2px;
            float: left;
            .background("/images/datastore/explore.png", 24px, 24px);
        }
        #searchButton {
            margin-top: 6px;
            margin-left: 8px;
            float: left;
            .background("/images/datastore/search.png", 26px, 24px);
        }
    }
    #contentHeaderMid {
        .flex(1 1 auto);
        .flex-order(2);
        background-repeat: no-repeat;
        background-position: 19px 12px;
    }
    #contentHeaderRight {
        .flex(0 0 255px);
        .flex-order(3);
        background: linear-gradient(@color-bar-darkGray-top,
                                    @color-bar-darkGray-bot);
        border-left: 1px solid black;
        .icon {
            margin-top: 9px;
            margin-left: 8px;
            .background("/images/db-icon-white.png", 19px, 19px);
            float: left;
        }

        color: white;
    }
}
/* End Of Content Header */

/* Import Data View Section */
.contentViewMidWrap {
    max-width: 900px;
    margin: 0 auto;
}

#importDataView {
    display: block;
    width: 774px;
    height: 652px;
    width: ~"calc(100% - 510px)";
    height: ~"calc(100% - 152px)";
    min-width: 513px;
    position: fixed;
    z-index: 2;
    left: 255px;
    top: 78px;
    background-color: @color-background-white;
    font-size: 13px;
    overflow: hidden;

    #importHelp {
        height: 93px;
        padding: 15px 6% 5px 6%;
        font-weight: 700;
        box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
        position: relative;
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;

        h2 {
            font-size: 18px;
            color: @color-text-blue;
            display: block;
            margin-bottom: 10px;
        }
        p {
            color: @color-text-lightGray;
            font-size: 12px;
            font-weight: 700;
            width: ~"calc(100% - 50px)";
            height: 30px;
            overflow: hidden;
            display: inline-block;
            white-space: normal;
            float: left;
        }
        .icon {
            .background("/images/info-icon-large.png", 28px, 28px);
            display: inline-block;
            float: left;
            margin-right: 10px;
        }
    }

    #importDataTopForm {
        background-color: @color-background-topForm;
        padding: 30px 13% 1px 15%;

        .importFormRow {
            margin-bottom: 30px;
            height: 30px;
            line-height: 30px;
            label {
                display: inline-block;
                width: 100px;
                font-weight: 700;
            }
            input {
                width: ~"calc(100% - 300px)";
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.3)
            }
            button {
                width: 150px;
                height: 100%;
                display: inline-block;
            }

        }
    }

    #importDataBottomForm {
        padding: 30px 13% 1px 15%;
    }

    #fileFormat {
        margin-bottom: 65px;
        font-weight: 700;
        > span {
            display: inline-block;
            width: 90px;
        }
        label {
            display: inline-block;
            width: 100px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            position: relative;
            span {
                cursor: pointer;
                float: left;
                display: inline-block;
                padding-left: 10px;
            }
            .radio {
                float: left;
                margin-top: 4px;
                margin-left: 10px;
                cursor: pointer;
                .background("/images/radioEmpty.png", 14px, 15px);
                .dot {
                    .image("/images/radioDot.png", 50%, 50%);
                    width: 14px;
                    height: 15px;
                    display: none;
                }
                &.checked {
                    .image("/images/radioChecked.png");
                    .dot {
                        display: inline-block;
                    }
                }
            }
        }
        input[type=radio] {
            margin-top: 4px;
            margin-left: 10px;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            left: 0;
        }
        .dsTypeLabel {
            float: left;
        }
        .dsRadio {
            display: inline-block;
        }
    }
    button {
        margin-bottom: 15px;
        margin-left: 20px;
        height: 30px;
        width: 150px;
        border-radius: 3px;
        float: right;
        text-shadow: 1px 1px rgba(0,0,0,.2);
        font-weight: 600;
        font-size: 12px;
        &[type=reset] {
            .gray-gradient;
        }
    }
}
/* End Of Import Data View Section */

/* Main Content */
#mainContent {
    height: 100%;
    padding-top: 37px;
    #searchView {
        display: none;
        height: 100%;

        #datasetSearch {
            .flex(0 0 35px);
            .flex-order(2);
            z-index: 1;
            background-color: @color-background-darkGray;
        }

        #listView {
            .flex(1 1 auto);
            .flex-order(1);
            background-color: rgb(230, 230, 230);
            z-index: 1;
        }
    }

    #exploreView {
        height: 100%;
    }

    #contentView {
        height: 100%;
        .flex-display();
        .flex-flow(row);
        background-color: white;
    }
}

/* Content Left */
#contentViewLeft {
    .flex(0 0 255px);
    .flex-order(1);
    .flex-display();
    .flex-flow(column-reverse);
    box-shadow: inset -2px 2px 6px 0 rgba(0,0,0,.3);
    #datasetExplore {
        .flex(0 0 35px);
        .flex-order(4);
        .gray-gradient;
        text-align: center;
        padding-top: 6px;
        position: relative;
        color: #666666;
        font-weight: 700;
        font-size: 15px;
        span {
            line-height: 22px;
        }
        .buttonGroup {
            position: absolute;
            right: 7px;
            display: inline-block;
            .btn {
                width: 23px;
                height: 23px;
                margin-left: 2px;
            }
            #dataListView .icon {
                .image("/images/ds-listView.png", 50%, 50%);
            }
            #dataGridView .icon {
                .image("/images/ds-iconView.png", 50%, 50%);
            }
        }
    }
    #importDataArea {
        .flex(0 0 59px);
        .flex-order(3);
        background-color: rgb(230, 230, 230);
        border-bottom: 1px solid rgba(0,0,0,0.25);
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        z-index: 2;
        #importDataButton {
            position: relative;
            left: 10px;
            top: 12px;
            line-height: 32px;
            .icon {
                background-image: url(/images/db-icon-white.png);
                margin: -1px 4px 0px 8px;
                width: 25px;
                float: left;
            }
        }
    }

    #gridViewButtonArea {
        .flex(0 0 31px);
        .flex-order(2);
        display: flex;
        position: relative;
        background-color: @color-background-bottomGrayMed;
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        .gridViewButton(@order, @url) {
            .flex(1 1 auto);
            .flex-order(@order);
            height: 100%;
            cursor: pointer;
            .gray-gradient;
            &:hover {
                .gray-inverse-gradient;
            }
            &.disabled {
                opacity: 0.3;
                background: @color-background-darkGray;
                cursor: default;
            }
            .icon {
                display: inline-block;
                width: 25px;
                height: 25px;
                margin: 3px 5px 3px 8px;
                background-repeat: no-repeat;
                background-position: 0px 0px;
                background-size: 25px 25px;
                float: left;
                .image(@url);
            }

            .label {
                display: inline-block;
                .transition (opacity 0.6s);
                font-family: @font-base;
                font-size: 11px;
                text-align: center;
                float: left;
                line-height: 32px;
                color: @color-text-black;
            }
        }

        #backFolderBtn {
            .gridViewButton(1, "/images/datastore/btn-upper-folder.png");
            .label {
                font-size: 12px;
            }
            &.active {
                .gray-inverse-gradient;
                opacity: 1.0;
            }
        }
        #addFolderBtn {
            .gridViewButton(2, "/images/datastore/btn-add-folder.png");
            border-left: 1px solid rgba(118, 118, 118, 0.5);
            border-right: 1px solid rgba(118, 118, 118, 0.5);
        }
        #deleteFolderBtn {
            .gridViewButton(3, "/images/datastore/btn-delete-folder.png");
        }
    }

    #gridViewWrapper {
        .flex(1 1 auto);
        .flex-order(1);
        padding: 9px;
        position: relative;
        overflow: hidden;
        background-color: @color-background-darkGray;
        z-index: ;
        border-top: 1px solid rgba(154,154,154,1);
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        #gridViewScrollbarWrapper {
            position: absolute;
            overflow-x: hidden;
            overflow-y: scroll;
            width: ~"calc(100% + 20px)";
            height: 100%;
        }
        #gridViewScrollbarWrapper::-webkit-scrollbar {
            display: none;
        }

        #gridView {
            &.gridView {
                overflow: auto;
                grid-unit.hidden {
                    > .gridIcon, > .listIcon, > .label, > .dsCount, 
                    > .dragWrap {
                        display: none !important;
                    }
                }

                grid-unit:first-of-type {
                    clear: left;
                }

                grid-unit.display {
                    .gridViewForGrid;
                }

                grid-unit.ds.display > .dragWrap {
                    height: 100%;
                    width: ~"calc(50% + 7px)";
                    position: absolute;
                    background: transparent;
                    &.leftTopDragWrap {
                        // background-color: blue;
                        left: -7px;
                        &.active {
                            box-shadow: inset 2px 0px 0px @color-background-topAction;
                        }
                    }

                    &.rightBottomDragWrap {
                        // background-color: green;
                        left: 50%;
                        &.active {
                            box-shadow: 2px 0px 0px @color-background-topAction;
                        }
                    }
                }

                grid-unit.folder.display {
                    .label {
                        cursor: text;
                        &:focus {
                            box-shadow: inset 0px 0px 3px black;
                            background: @color-background-white;
                            outline: none;
                            white-space: nowrap;
                            overflow: scroll;
                            width: 150%;
                            text-overflow: initial;
                            position: absolute;
                            left: -10px;
                            &::-webkit-scrollbar {
                                display: none;
                            }
                        }
                    }

                    .dsCount {
                        color: @color-text-blue;
                        font-weight: 900;
                        position: absolute;
                        left: -3px;
                        right: 0px;
                        top: 11px;
                        bottom: 0px;
                        height: 20px;
                        width: 50px;
                    }

                    > .dragWrap {
                        height: 100%;
                        position: absolute;
                        background: transparent;

                        &.leftTopDragWrap {
                            // background-color: blue;
                            left: -7px;
                            width: ~"calc(16.5% + 7px)";
                            &.active {
                                box-shadow: inset 2px 0px 0px @color-background-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            // background-color: green;
                            left: 82.5%;
                            width: ~"calc(16.5% + 7px)";
                            &.active {
                                box-shadow: 2px 0px 0px @color-background-topAction;
                            }
                        }

                        &.midDragWrap {
                            // background-color: yellow;
                            width: 66%;
                            left: 16.5%;
                        }
                    }
                }
            }

            & .dragWrap {
                z-index: -1;
            }

            &.drag .dragWrap {
                z-index: 99;
            }
        
            &.listView {
                padding-top: 4px;
                padding-bottom: 4px;
                overflow-y: scroll;

                grid-unit {
                    .listViewForGrid;
                }
                grid-unit.ds {
                    > .dragWrap {
                        width: 100%;
                        height: 17.5px;
                        position: absolute;
                        background: transparent;
                        &.leftTopDragWrap {
                            // background-color: blue;
                            top: -5px;
                            &.active {
                                box-shadow: inset 0px 2px 0px @color-background-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            // background-color: green;
                            top: 12.5px;
                            &.active {
                                box-shadow: 0px 2px 0px @color-background-topAction;
                            }
                        }
                    }
                }

                grid-unit.folder {
                    grid-unit {
                        margin-left: 5%;
                        width: 95%;
                        max-width: 230px;
                        display: block;
                    }

                    .label:focus {
                        outline: none;
                    }

                    .dsCount {
                        color: @color-text-blue;
                        font-weight: 900;
                        position: absolute;
                        right: 8px;
                        top: 3px;
                        bottom: 0px;
                        height: 25px;
                        width: 45px;
                        text-align: right;
                    }

                    > .dragWrap {
                        width: 100%;
                        position: absolute;
                        background: transparent;

                        &.leftTopDragWrap {
                            // background-color: blue;
                            top: -5px;
                            height: 9.17px;
                             &.active {
                                box-shadow: inset 0px 2px 0px @color-background-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            // background-color: green;
                            top: 20.84px;
                            height: 9.16px;
                            &.active {
                                box-shadow: 0px 2px 0px @color-background-topAction;
                            }
                        }

                        &.midDragWrap {
                            // background-color: yellow;
                            height: 16.67px;
                            top: 4.17px;
                        }
                    }
                }

                grid-unit.collapse {
                    grid-unit {
                        display: none !important;
                    }
                    &.folder > .listIcon .icon {
                        .image("/images/datastore/folder-sm.png", 50%, 50%)
                    }
                }
            }
        }
    }
}
/* End Of Content Left */

/* Content Mid */
#contentViewMid {
    .flex(1 1 auto);
    .flex-order(2);
    .flex-display();
    .flex-flow(column);
    z-index: 1;
    height: 100%;
    #contentViewHeader {
        .flex(0 0 93px);
        .flex-order(1);
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: 0 3px 2px rgba(0,0,0,.2);
        .dbText {
            display: inline-block;
            float: left;
            width: ~"calc(100% - 105px)";
            padding-left: 25px;
            overflow: hidden;
        }
        .modifyDBButtons {
            display: inline-block;
            float: right;
            width: 105px;
            margin-top: 12px;
            color: @color-text-blue;
            font-weight: 600;
            text-align: right;
            padding-right: 20px;
        }
        .modifyDBButton {
            margin-bottom: 5px;
            cursor: pointer;
            text-align: right;
            height: 20px;
            span {
                float: right;
            }
            .icon {
                display: inline-block;
                margin-left: 8px;
                width: 16px;
                height: 17px;

            }
        }
        .delete {
            .icon {
                margin-top: 2px;
                .image("/images/ds-deleteDS-blue.png", 50%, 50%);
            }
        }
        .update {
            .icon {
                margin-top: 0px;
                .image("/images/ds-refreshDS.png", 50%, 50%);
            }
        }
        .edit {
            .icon {
                margin-top: 1px;
                .image("/images/ds-editDS.png", 50%, 50%);
            }
        }
        h2 {
            display: block;
            height: 28px;
            line-height: 28px;
            color: @color-text-blue;
            font-size: 19px;
            margin-top: 8px;
        }
        p {
            display: block;
            font-size: 13px;
            margin-top: 2px;
            margin-bottom: 5px;

        }
    }
    
    /* START DATASET TABLE */
    #contentViewTable {
        .flex(1 1 auto);
        .flex-order(2);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 100%;
        .datasetTitleWrap {
            height: 50px;
            margin-left: 0px;
        }
        h2 {
            display: block;
            margin: 15px 0px 8px;
            font-size: 14px;
        }
        p {
            font-size: 13px;
        }
        .dsInfo {
            float: left;
            width: ~"calc(100% - 120px)";
            padding-left: 25px;
        }
        .buttonGroup {
            display: inline-block;
            float: right;
            width: 120px;
            margin-top: 12px;
            color: @color-text-blue;
            font-weight: 600;
            text-align: right;
            padding-right: 17px;
        }
        .modifyDSButton {
            margin-bottom: 5px;
            cursor: pointer;
            height: 20px;
            span {
                float: right;
            }
            .icon {
                display: inline-block;
                margin-left: 8px;
                width: 16px;
                height: 17px;
            }
        }
        .selectAll {
            .icon {
                margin-top: 2px;
                width: 19px;
                .image("/images/select-all.png", 50%, 50%);
            }
        }
        .clear {
            .icon {
                margin-top: 1px;
                width: 19px;
                .image("/images/select-none.png", 50%, 50%);
            }
        }
    }

    .datasetTitleWrap {
        margin-left: 15px;
    }

    #datasetWrap {
        white-space: nowrap;
        overflow: hidden;
        float: left;
        height: ~"calc(100% - 58px)";
        position: absolute;
        max-width: 100%;
        margin-left: 10px;
        width: ~"calc(100% - 20px)";
        overflow-x: auto;


        .colMenu {
            width: 160px;
            ul {
                left: 145px;
            }
            span {
                display: block;
                text-align: left;
            }
            input {
                font: 13px "Open Sans","Trebuchet MS",Arial,sans-serif;
            }

            .changeDataType {
                .subColMenu {
                    width: 140px;
                    li.flexContainer {
                        height: 30px;
                        // see common.less
                        .typeIcon;
                        .type.icon {
                            background-position: 0 -2px !important;
                        }
                        .flexWrap.flex-left {
                            .flex(0 0 22px);
                        }
                        .flexWrap.flex-right {
                            .flex(1 1 auto);
                            padding: 2px 0 0 6px;
                        }
                    }
                }
            }
        }
    }

    .datasetTbodyWrap {
        max-height: 100%;
        overflow-x: visible;
        overflow-y: scroll;
        display: inline-block;
        outline: 1px solid #DDDDDD;
        outline-offset: -1px;
        margin-top: -1px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    table.datasetTable {
        margin-top: -40px;
        margin-top: 0px;
        margin-right: 0;
    }


    .datasetTableWrap {
        height: ~"calc(100% - 20px)";
        max-height: ~"calc(100% - 20px)";
        margin: 20px 0px 0px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        .datasetTable {
            width: 0px;
        }

        .header {
            position: absolute;
            cursor: pointer;
            width: 130px;
            height: 40px;
            top: 0px;

           .dataTableHeader();

           .colGrab:hover + div {
                .dropdownBox {
                    display: none;
                }
           }

           .flexContainer {
                overflow: hidden;
           }

            .flexWrap.flex-left {
                .flex(0 0 26px);
                margin: 4px 0 0 4px;
                overflow: hidden;
            }

            .flexWrap.flex-mid {
                .flex(1 1 auto);
            }

            .flexWrap.flex-right {
                .flex(0 0 26px);
                position: relative;
                .tick.icon {
                    // see mixins/common.less
                    .background("/images/datastore/tick.png", 15px, 12px);
                    position: absolute;
                    top: 2px;
                    right: 2px;
                    opacity: 0.5;
                }
            }

            &:hover {
                .flexWrap.flex-right {
                    > .dropdownBox, > .tick.icon {
                        opacity: 1.0;
                    }
                }
            }
        }

        th {
            width: 130px;
            &:first-child .header {
                border-left: 5px solid @color-background-tableBorders;
            }
        }
        .selectedCell {
            .editableHead {
                background: none !important;
                background-color: @color-background-white !important;
                color: @color-text-darkGray !important;
            }
        }
        .selectedCol {
            .header {
                .action-gradient;
                .editableHead {
                    color: @color-background-white;
                }
                .tick.icon {
                    opacity: 1.0;
                }
            }
        }
    }
    #searchHeader {
        .flex(0 0 91px);
        .flex-order(1);

        background-repeat: no-repeat;
        background-position: center;
    }
    #searchResult {
        .flex(1 1 auto);
        .flex-order(2);
        background-repeat: no-repeat;
        background-position: center;
    }
}
/* End Of Content Mid */

/* Content Right */
#contentViewRight {
    .flex(0 0 255px);
    .flex-order(3);
    width: 255px;
    height: 100%;
    background-color: @color-background-darkGray;
    box-shadow: inset 2px 2px 6px 0 rgba(0,0,0,.3);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    .buttonArea {
        margin-top: 20px;
        padding-bottom: 20px;
        padding-left: 12px;
        z-index: 2;
        position: relative;
        &.cartOverflow {
            box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
        }
    }
    .btnLarge {
        margin-top: 10px;
        width: 225px;
        font-size: 11px;
        .icon {
            margin: 4px;
            float: left;
            display: inline-block;
        }
        &#submitDSTablesBtn {
            .icon {
                width: 27px;
                height: 21px;
                .image("/images/send-single.png");
            }

        }
        &#submitMultipleDBTablesBtn {
            .icon {
                width: 27px;
                height: 23px;
                .image("/images/send-multiple.png");
            }
        }
        &#clearDataChart {
            .icon {
                width: 22px;
                height: 24px;
                margin-right: 8px;
                .image("/images/garbage.png");
            }
        }
    }
}

#dataCartWrap {
    overflow: auto;
    float: left;
    height: ~"calc(100% - 145px)";
    width: 100%;
}

#dataCart {
    margin-left: 12px;
    background-color: @color-background-darkGray;

    .selectedTable {
        margin-bottom: 20px;
        margin-top: 10px;
        width: 225px;
        h3 {
            display: inline-block;
            text-indent: 4px;
        }
        li {
            height: 28px;
            line-height: 28px;
            background-color: @color-background-white;
            border-radius: 3px;
            box-shadow: -1px 1px 1px rgba(0,0,0,.2);
            overflow: hidden;
            margin-top: 8px;
            font-weight: 700;
            &.colSelected {
                background-color: @color-selectedCell-light;
            }
            &.keySelected {
                box-shadow: 0px 0px 0px 2px @color-background-bottomAction;
            }
            .colName {
                width: 200px;
                height: 100%;
                padding-left: 12px;
                float: left;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
            }
            .removeCol {
                width: 25px;
                height: 100%;
                float: left;
                display: inline-block;
                .gray-gradient;
                cursor: pointer;
                &:hover {
                    .red-gradient;
                }
                .closeIcon {
                    display: inline-block;
                    width: 100%;
                    height: 100%;
                    .image("/images/ds-close.png", 50%, 50%);
                }
            }
        }
    }
}
