 // DataStore CSS
#datastoreView {
    .position(relative, @top: 0);
    .size(@width: 100%, @height: ~"calc(100% - 115px)");
    z-index: 5;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.waitingIcon {
    .position(absolute, @top: 2px, @left: 3px);
    .size(@width: 35px, @height: 37px);
    display: none;
    .image("/images/waiting-1.gif");
    z-index: 101;
    &.active {
        display: inline-block;
    }
}

input {
    &.error {
        background-color: #FFEEEE !important;
        &:focus {
            outline: 1px solid #FFD6D6 !important;
        }
    }
}

/* Content Header */
 #contentHeader {
    .flex-display;
    .flex-flow(row);
    .position(absolute, @top: -1px);
    z-index: 6;
    box-shadow: 0px 2px 11px 0px rgba(0,0,0, .5);
    cursor: default;

    .text {
        float: left;
        font-size: 14px;
        color: white;
        margin: 8px 0 0 3px;
        text-shadow: 1px 1px @color-text-drop-shadow;
    }

    #contentHeaderLeft {
        .flex(0 0 255px);
        .flex-order(1);

        background-color: white;

        .flex-display;
        .flex-flow(row);

        .buttonArea {
            .flex(1 1 127px);
            .linear-gradient(top, rgb(163, 163, 163), rgb(140, 140, 140));
            border-right: 1px solid @color-bar-border;
            &.active {
                .linear-gradient(top, rgb(96, 179, 230), rgb(60, 141, 178));
            }
        }

        #exploreButton {
            margin: 6px 2px 0 8px;
            float: left;
            .background("/images/datastore/explore.png", 24px, 24px);
        }
        #searchButton {
            margin: 6px 0 0 8px;
            float: left;
            .background("/images/datastore/search.png", 26px, 24px);
        }
    }
    #contentHeaderMid {
        .flex(1 1 auto);
        .flex-order(2);
        background-repeat: no-repeat;
        background-position: 19px 12px;
    }
    #contentHeaderRight {
        .flex(0 0 255px);
        .flex-order(3);
        background: linear-gradient(@color-bar-darkGray-top,
                                    @color-bar-darkGray-bot);
        border-left: 1px solid black;
        .icon {
            margin: 9px 0 0 8px;
            .background("/images/db-icon-white.png", 19px, 19px);
            float: left;
        }

        color: white;
    }
}
/* End Of Content Header */

/* Import Data View Section */

#importDataView {
    display: block;
    .position(fixed, @top: 78px, @left: 255px);
    .size(@width: ~"calc(100% - 510px)", @height: ~"calc(100% - 152px)",
          @min-width: 513px);
    z-index: 2;
    background-color: @color-background-white;
    font-size: 13px;
    overflow: hidden;

    .contentViewMidWrap {
        .size(@height: 100%, @max-width: 900px);
        margin: 0 auto;
    }

    #importHelp {
        .position(relative);
        .size(@height: 93px);
        padding: 15px 6% 5px 6%;
        font-weight: 700;
        box-shadow: 0px 3px 2px rgba(0,0,0,0.2);
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;

        h2 {
            font-size: 18px;
            color: @color-text-blue;
            display: block;
            margin-bottom: 10px;
        }
        p {
            .size(@width: ~"calc(100% - 50px)", @height: 30px);
            .font(@weight: 700, @size: 12px);
            color: @color-text-lightGray;
            overflow: hidden;
            display: inline-block;
            white-space: normal;
            float: left;
        }
        .icon {
            .background("/images/info-icon-large.png", 28px, 28px);
            display: inline-block;
            float: left;
            margin-right: 10px;
        }
    }

    #importDataTopForm {
        background-color: @color-background-topForm;
        padding: 30px 13% 1px 15%;

        .importFormRow {
            margin-bottom: 30px;
            height: 30px;
            line-height: 30px;
            label {
                display: inline-block;
                width: 100px;
                font-weight: 700;
                float: left;
            }
            input {
                width: ~"calc(100% - 300px)";
                box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
                float: left;
            }
            :-ms-input-placeholder {  
               color: #A9A9B1;  
               color: @color-text-instructions;
            }
        }
    }

    #importDataBottomForm {
        padding: 30px 13% 1px 15%;
    }

    #fileFormat {
        margin-bottom: 25px;
        font-weight: 700;
        > span {
            display: inline-block;
            width: 90px;
            float: left;
            cursor: default;
        }
        label {
            display: inline-block;
            .position(relative);
            .size(@width: 100px, @height: 20px);
            .font(@size: 12px, @line-height: 20px);
            .noSelection;
            span {
                cursor: pointer;
                float: left;
                display: inline-block;
                padding-left: 10px;
            }
            .radio {
                float: left;
                margin: 4px 0 0 10px;
                cursor: pointer;
                .background("/images/radioEmpty.png", 14px, 15px);
                .dot {
                    .size(@width: 14px, @height: 15px);
                    .image("/images/radioDot.png", 50%, 50%);
                    display: none;
                }
                &.checked {
                    .image("/images/radioChecked.png");
                    .dot {
                        display: inline-block;
                    }
                }
            }
        }
        input[type=radio] {
            .position(absolute, @left: 0);
            margin: 0 0 0 10px;
            cursor: pointer;
            opacity: 0;
            pointer-events: none;
        }
        .dsTypeLabel {
            float: left;
        }
    }
    #csvDelim {
        margin-bottom: 100px;
        font-weight: 700;
        position: relative;
        #fieldText {
            display: inline-block;
            .position(relative, @left: 10);
            cursor: default;
            margin-right: 20px;
        }
        #lineText {
            display: inline-block;
            .position(absolute, @left: ~"calc(50% - 30px)");
            cursor: default;
            margin-right: 20px;
        }
        input[disabled] {
           background-color: #E6E6E6;
        }
        #fieldDelim {
            width: ~"calc(50% - 200px)";
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            margin-left: 10px;
            margin-top: -5px;
            margin-right: 35px;
            border: 1px solid @color-background-topForm;
        }
        #lineDelim {
            .position(absolute, @left: ~"calc(50% + 80px)");
            width: ~"calc(50% - 200px)";
            box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
            margin-left: 10px;
            margin-top: -6px;
            margin-right: 45px;
            border: 1px solid @color-background-topForm;
        }
    }

    .btn {
        margin-left: 20px;
        padding: 0;
        float: right;
        text-shadow: 1px 1px rgba(0,0,0,.2);
    }
}
/* End Of Import Data View Section */

/* Main Content */
#mainContent {
    height: 100%;
    padding-top: 37px;
    #searchView {
        display: none;
        height: 100%;

        #datasetSearch {
            .flex(0 0 35px);
            .flex-order(2);
            z-index: 1;
            background-color: @color-background-darkGray;
        }

        #listView {
            .flex(1 1 auto);
            .flex-order(1);
            background-color: @color-background-darkGray;
            z-index: 1;
        }

        #searchHeader {
            .flex(0 0 91px);
            .flex-order(1);
        }
        #searchResult {
            .flex(1 1 auto);
            .flex-order(2);
        }
    }

    #exploreView {
        height: 100%;
    }

    #contentView {
        height: 100%;
        .flex-display;
        .flex-flow(row);
        background-color: @color-background-white;
    }
}

/* Content Left */
#contentViewLeft {
    .flex(0 0 255px);
    .flex-order(1);
    .flex-display;
    .flex-flow(column);
    box-shadow: inset -2px 2px 6px 0 rgba(0,0,0,.3);

    #datasetExplore {
        .flex(0 0 35px);
        .flex-order(0);
        .gray-gradient;
        text-align: center;
        padding-top: 6px;
        position: relative;
        color: @color-background-darkdarkGray;
        .font(@weight: 700, @size: 15px);

        span {
            line-height: 22px;
        }
        .buttonGroup {
            .position(absolute, @right: 7px);
            display: inline-block;
            .noSelection;
            cursor: default;
            .btn {
                .size(23px, 23px);
                margin-left: 2px;
            }
            #dataListView .icon {
                .image("/images/ds-listView.png", 50%, 50%);
            }
            #dataGridView .icon {
                .image("/images/ds-iconView.png", 50%, 50%);
            }
        }
    }

    #importDataArea {
        .flex(0 0 59px);
        .flex-order(1);
        background-color: @color-background-darkGray;
        border-bottom: 1px solid rgba(0,0,0,0.25);
        border-right: 1px solid rgba(0, 0, 0, 0.25);
        z-index: 2;
        height: 59px;
        #importDataButton {
            .vertical-align;
            display: block;
            margin: 0 auto;
            .icon {
                .size(@width: 25px, @height: 100%);
                background-image: url(/images/db-icon-white.png);
                margin: 0 4px 0px 8px;
                float: left;
            }
        }
    }

    #gridViewButtonArea {
        .flex(0 0 31px);
        .flex-order(2);
        .flex-display;
        position: relative;
        background-color: @color-background-bottomGrayMed;
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        .gridViewButton(@order, @url) {
            .flex(1 1 auto);
            .flex-order(@order);
            height: 100%;
            cursor: pointer;
            .gray-gradient;
            &:hover {
                .gray-inverse-gradient;
            }
            &.disabled {
                opacity: 0.3;
                background: @color-background-darkGray;
                cursor: default;
            }
            .icon {
                display: inline-block;
                margin: 3px 5px 3px 8px;
                .background(@url, 25px, 25px);
                float: left;
            }

            .label {
                display: inline-block;
                .transition (opacity 0.6s);
                .font(@size: 11px, @line-height: 32px, @family: @font-base);
                text-align: center;
                float: left;
                color: @color-text-black;
            }
        }

        #backFolderBtn {
            .gridViewButton(1, "/images/datastore/btn-upper-folder.png");
            .label {
                font-size: 12px;
            }
            &.active {
                .gray-inverse-gradient;
                opacity: 1.0;
            }
        }
        #addFolderBtn {
            .gridViewButton(2, "/images/datastore/btn-add-folder.png");
            border-left: 1px solid rgba(118, 118, 118, 0.5);
            border-right: 1px solid rgba(118, 118, 118, 0.5);
        }
        #deleteFolderBtn {
            .gridViewButton(3, "/images/datastore/btn-delete-folder.png");
        }
    }

    #gridViewWrapper {
        .flex(1 1 auto);
        .flex-order(3);
        padding: 9px;
        position: relative;
        overflow: hidden;
        background-color: @color-background-darkGray;
        border-top: 1px solid rgba(154,154,154,1);
        border-right: 1px solid rgba(0, 0, 0, 0.25);

        #gridViewScrollbarWrapper {
            position: absolute;
            overflow-x: hidden;
            overflow-y: scroll;
            .size(@width: ~"calc(100% + 20px)", @height: 100%);
        }
        #gridViewScrollbarWrapper::-webkit-scrollbar {
            display: none;
        }

        #gridView {
            &.gridView {
                overflow: auto;
                grid-unit.hidden {
                    > .gridIcon, > .listIcon, > .label, > .dsCount, 
                    > .dragWrap {
                        display: none !important;
                    }
                }

                grid-unit:first-of-type {
                    clear: left;
                }

                grid-unit.display {
                    .gridViewForGrid;
                }

                grid-unit.ds.display > .dragWrap {
                    .size(@width: ~"calc(50% + 7px)", @height: 100%);
                    position: absolute;
                    background: transparent;
                    &.leftTopDragWrap {
                        // background-color: blue;
                        left: -7px;
                        &.active {
                            box-shadow: inset 2px 0px 0px @color-background-topAction;
                        }
                    }

                    &.rightBottomDragWrap {
                        // background-color: green;
                        left: 50%;
                        &.active {
                            box-shadow: 2px 0px 0px @color-background-topAction;
                        }
                    }
                }

                grid-unit.folder.display {
                    .label {
                        cursor: text;
                        &:focus {
                            .position(absolute, @left: -10px);
                            box-shadow: inset 0px 0px 3px black;
                            background: @color-background-white;
                            outline: none;
                            white-space: nowrap;
                            overflow-y: hidden;
                            width: 150%;
                            text-overflow: initial;
                        }
                    }

                    .dsCount {
                        .position(absolute, 11px, 0, 0, -3px);
                        .size(@width: 50px, @height: 20px);
                        color: @color-text-blue;
                        font-weight: 700;
                    }

                    > .dragWrap {
                        height: 100%;
                        position: absolute;
                        background: transparent;

                        &.leftTopDragWrap {
                            // background-color: blue;
                            left: -7px;
                            width: ~"calc(16.5% + 7px)";
                            &.active {
                                box-shadow: inset 2px 0px 0px @color-background-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            // background-color: green;
                            left: 82.5%;
                            width: ~"calc(16.5% + 7px)";
                            &.active {
                                box-shadow: 2px 0px 0px @color-background-topAction;
                            }
                        }

                        &.midDragWrap {
                            // background-color: yellow;
                            width: 66%;
                            left: 16.5%;
                        }
                    }
                }
            }

            & .dragWrap {
                z-index: -1;
            }

            &.drag .dragWrap {
                z-index: 99;
            }
        
            &.listView {
                padding: 4px 0;
                overflow-y: scroll;

                grid-unit {
                    .listViewForGrid;
                }

                grid-unit.ds > .dragWrap {
                    .position(absolute);
                    .size(@width: 100%, @height: 17.5px);
                    background: transparent;
                    &.leftTopDragWrap {
                        // background-color: blue;
                        top: -5px;
                        &.active {
                            box-shadow: inset 0px 2px 0px @color-background-topAction;
                        }
                    }

                    &.rightBottomDragWrap {
                        // background-color: green;
                        top: 12.5px;
                        &.active {
                            box-shadow: 0px 2px 0px @color-background-topAction;
                        }
                    }
                }

                grid-unit.folder {
                    grid-unit {
                        .size(@width: 95%, @max-width: 230px);
                        margin-left: 5%;
                        display: block;
                    }

                    .label:focus {
                        outline: none;
                    }

                    .dsCount {
                        .position(absolute, @top: 3px, @right: 8px, @bottom: 0);
                        .size(@width: 45px, @height: 25px);
                        color: @color-text-blue;
                        font-weight: 900;
                        text-align: right;
                    }

                    > .dragWrap {
                        width: 100%;
                        position: absolute;
                        background: transparent;

                        &.leftTopDragWrap {
                            // background-color: blue;
                            top: -5px;
                            height: 9.17px;
                             &.active {
                                box-shadow: inset 0px 2px 0px @color-background-topAction;
                            }
                        }

                        &.rightBottomDragWrap {
                            // background-color: green;
                            top: 20.84px;
                            height: 9.16px;
                            &.active {
                                box-shadow: 0px 2px 0px @color-background-topAction;
                            }
                        }

                        &.midDragWrap {
                            // background-color: yellow;
                            height: 16.67px;
                            top: 4.17px;
                        }
                    }
                }

                grid-unit.collapse {
                    grid-unit {
                        display: none !important;
                    }
                    &.folder > .listIcon .icon {
                        .image("/images/datastore/folder-sm.png", 50%, 50%)
                    }
                }
            }
        }
    }
}
/* End Of Content Left */

/* Content Mid */
#contentViewMid {
    .flex(1 1 auto);
    .flex-order(2);
    .flex-display;
    .flex-flow(column);
    z-index: 1;
    height: 100%;

    .modifyDBButton, .modifyDSButton {
        margin-bottom: 5px;
        cursor: pointer;
        text-align: right;
        height: 20px;
        span {
            float: right;
        }
        .icon {
            display: inline-block;
            margin-left: 8px;
            .size(@width: 16px, @height: 17px);
        }
    }

    #contentViewHeader {
        .flex(0 0 93px);
        .flex-order(1);
        box-shadow: 0 3px 2px rgba(0,0,0,.2);
        .dbText {
            display: inline-block;
            float: left;
            width: ~"calc(100% - 105px)";
            padding-left: 25px;
            overflow: hidden;
        }
        .modifyDBButtons {
            display: inline-block;
            float: right;
            width: 105px;
            margin-top: 12px;
            color: @color-text-blue;
            font-weight: 600;
            text-align: right;
            padding-right: 20px;
        }

        .modifyDBButton {
            &.delete .icon {
                margin-top: 2px;
                .image("/images/ds-deleteDS-blue.png", 50%, 50%);
            }
            &.update .icon {
                margin-top: 0px;
                .image("/images/ds-refreshDS.png", 50%, 50%);
            }
            &.edit .icon {
                margin-top: 1px;
                .image("/images/ds-editDS.png", 50%, 50%);
            }
        }
        h2 {
            display: block;
            height: 28px;
            color: @color-text-blue;
            margin-top: 8px;
            .font(@size: 19px, @line-height: 28px);
        }
        p {
            display: block;
            font-size: 13px;
            margin: 2px 0 5px 0;
        }
    }
    
    /* START DATASET TABLE */
    #contentViewTable {
        .flex(1 1 auto);
        .flex-order(2);
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 100%;
        .datasetTitleWrap {
            height: 60px;
            margin-left: 0px;
        }
        .dsInfo {
            float: left;
            .size(@width: ~"calc(100% - 120px)", @height: 60px);
            padding-left: 25px;
            h2 {
                display: block;
                margin: 15px 0px 8px;
                font-size: 14px;
            }
            p {
                font-size: 13px;
            }
        }
        .buttonGroup {
            display: inline-block;
            float: right;
            width: 120px;
            margin-top: 10px;
            color: @color-text-blue;
            font-weight: 600;
            text-align: right;
            padding-right: 17px;
        }

        .modifyDSButton {
            &.selectAll .icon {
                margin-top: 2px;
                width: 19px;
                .image("/images/select-all.png", 50%, 50%);
            }
            &.clear .icon {
                margin-top: 1px;
                width: 19px;
                .image("/images/select-none.png", 50%, 50%);
            }
        }

        .colMenu {
            width: 160px;
            ul {
                left: 145px;
            }
            span {
                display: block;
                text-align: left;
            }
            input {
                font: 13px @font-base;
            }

            .changeDataType {
                .subColMenu {
                    width: 140px;
                    li.flexContainer {
                        height: 30px;
                        // see common.less
                        .typeIcon;
                        .type.icon {
                            background-position: 0 -2px !important;
                        }
                        .flexWrap.flex-left {
                            .flex(0 0 22px);
                        }
                        .flexWrap.flex-right {
                            .flex(1 1 auto);
                            padding: 2px 0 0 6px;
                        }
                    }
                }
            }
        }
    }

    .datasetTitleWrap {
        margin-left: 15px;
    }

    #datasetWrap {
        .size(@width: ~"calc(100% - 20px)", @height: ~"calc(100% - 68px)",
              @max-width: 100%);
        white-space: nowrap;
        overflow: hidden;
        float: left;
        position: absolute;
        margin-left: 10px;
        overflow-x: auto;

       
    }

    .datasetTbodyWrap {
        max-height: 100%;
        overflow-x: visible;
        overflow-y: scroll;
        display: inline-block;
        outline: 1px solid #DDDDDD;
        outline-offset: -1px;
        margin-top: -1px;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    table.datasetTable {
        margin: 0;
    }

    .datasetTableWrap {
        .size(@height: ~"calc(100% - 10px)", @max-height: ~"calc(100% - 10px)");
        margin: 10px 0px 0px;
        position: relative;
        display: inline-block;
        overflow: hidden;
        .datasetTable {
            width: 0px;
        }

        .header {
            .position(absolute, @top: 0);
            .size(@width: 130px, @height: 40px);
            cursor: pointer;

           .dataTableHeader;

           .colGrab:hover + div {
                .dropdownBox {
                    display: none;
                }
           }

           .flexContainer {
                overflow: hidden;
           }

            .flexWrap.flex-left {
                .flex(0 0 26px);
                margin: 4px 0 0 4px;
                overflow: hidden;
                cursor: default;
            }

            .flexWrap.flex-mid {
                .flex(1 1 auto);
            }

            .flexWrap.flex-right {
                .flex(0 0 26px);
                position: relative;
                .tick.icon {
                    .position(absolute, @top: 2px, @right: 2px);
                    .background("/images/datastore/tick.png", 15px, 12px);
                    opacity: 0.5;
                }
            }

            &:hover {
                .flexWrap.flex-right {
                    > .dropdownBox, > .tick.icon {
                        opacity: 1.0;
                    }
                }
            }
        }

        th {
            width: 130px;
            &:first-child .header {
                border-left: 5px solid @color-background-tableBorders;
            }
        }
        .selectedCell {
            .editableHead {
                background: none !important;
                background-color: @color-background-white !important;
                color: @color-text-darkGray !important;
            }
        }
        .selectedCol {
            .header {
                .action-gradient;
                .editableHead {
                    color: @color-background-white;
                }
                .tick.icon {
                    opacity: 1.0;
                }
            }
        }
    }
}
/* End Of Content Mid */

/* Content Right */
#contentViewRight {
    .flex(0 0 255px);
    .flex-order(3);
    .size(@width: 255px, @height: 100%);
    background-color: @color-background-darkGray;
    box-shadow: inset 2px 2px 6px 0 rgba(0,0,0,.3);
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    .buttonArea {
        margin-top: 4px;
        padding-bottom: 0px;
        padding-left: 12px;
        z-index: 2;
        position: relative;
        &.cartOverflow {
            box-shadow: 0px 2px 5px rgba(0,0,0,0.4);
            .border {
                display: none;
            }
        }
        .title {
            font-size: 16px;
            padding-left: 5px;
            padding-top: 15px;
            .size(@width:225px, @height: 45px);
            text-align: center;
        }
        .border {
            border-top: 1px solid @color-join-border;
            border-bottom: 1px solid white;
            width: 225px;
        }
    }
    .btnLarge {
        margin-top: 10px;
        width: 225px;
        font-size: 11px;
        .icon {
            margin: 4px;
            float: left;
            display: inline-block;
        }
        &#submitDSTablesBtn .icon {
            .size(@width: 27px, @height: 21px);
            .image("/images/send-single.png");
        }
        &#submitMultipleDBTablesBtn .icon {
            .size(@width: 27px, @height: 23px);
            .image("/images/send-multiple.png");
        }
        &#clearDataCart .icon {
            .size(@width: 22px, @height: 24px);
            margin-right: 8px;
            .image("/images/garbage.png");
        }
    }
}

#dataCartWrap {
    .size(@width: 100%, @height: ~"calc(100% - 145px)");
    overflow: auto;
    float: left;
}

#dataCart {
    margin-left: 12px;
    background-color: @color-background-darkGray;

    .selectedTable {
        margin: 10px 0 20px 0;
        width: 225px;
        h3 {
            display: inline-block;
            text-indent: 4px;
        }
        li {
            height: 28px;
            .font(@weight: 700, @line-height: 28px);
            background-color: @color-background-white;
            .rounded;
            box-shadow: -1px 1px 1px rgba(0,0,0,.2);
            overflow: hidden;
            margin-top: 8px;
            &.colSelected {
                background-color: @color-selectedCell-light;
            }
            &.keySelected {
                box-shadow: 0px 0px 0px 2px @color-background-bottomAction;
            }
            .colName {
                .size(@width: 200px, @height: 100%);
                padding-left: 12px;
                float: left;
                display: inline-block;
                text-overflow: ellipsis;
                overflow: hidden;
                cursor: default;
            }
            .removeCol {
                .size(@width: 25px, @height: 100%);
                float: left;
                display: inline-block;
                .gray-gradient;
                cursor: pointer;
                &:hover {
                    .red-gradient;
                }
                .closeIcon {
                    display: inline-block;
                    .size(100%, 100%);
                    .image("/images/ds-close.png", 50%, 50%);
                }
            }
        }
    }
}
