 // ========== Modal CSS ==========
.modalBuilder(@w, @h) {
    &.modalContainer {
        display: none;
        .position(absolute, 0, 0, 0, 0);
        .size(@width: @w, @height: @h, @max-width: 99%, @max-height: 99%);
        margin: auto;
        .rounded;
        z-index: 40;
        box-shadow: 0px 0px 10px 3px rgba(0,0,0, .4);
        background-color: @color-white;
        overflow: hidden;
    }

    .modalHeader {
        .action-gradient;
        .size(@width: 100%, @height: 36px);
        .noSelection;
        cursor: default;
        line-height: 36px;
        text-align: center;
        text-shadow: 1px 1px rgba(0,0,0,0.2);
        .text {
            color: @color-text-white;
            .font(@weight: bold, @size: 18px);
        }
        .close {
            cursor: pointer;
            .position(absolute, @top: 7px, @right: 7px);
            .size(@width: 22px, @height: 22px);
            .rounded(2px);
            box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
            .linear-gradient(top, #ACD7F1, #9FCADF);

            .icon {
                display: inline-block;
                .position(absolute, @top: 0, @right: 0);
                .size(@width: 22px, @height: 22px);
                .image("/images/ds-close.png", 50%, 50%);
            }

            &:hover {
                .linear-gradient(top, #9FCADF, #ACD7F1);
            }

            &:active {
                box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, 0.5), 
                            0px 1px 1px 0 rgba(255, 255, 255, 0.3);
            }
        }
    }

    .modalInstruction {
        .size(@width: 100%, @height: 58px);
        background-color: @color-white;
        overflow: hidden;
        padding: 13px;
        .flex-display;
        .flex-direction(row);

        .icon {
            .flex(0 0 58px);
            .background('/images/exclamation.png', 32px, 32px);
        }
        .text {
            .flex(0 0 ~"calc(100% - 58px)");
            .font(@weight: bold, @size: 12px);
            color: @color-text-instructions;
            overflow: hidden;
        }
    }

    .modalTopMain {
        .size(@width: 100%);
        border-top: 3px solid rgba(1, 1, 1, 0.18);
        background: @color-join-background;
        color: @color-text-darkGray;
    }

    .modalMain {
         background-color: @color-white;
    }

    .modalSubMain {
        .size(@width: 100%);
        background: @color-join-background;
        color: @color-text-darkGray;
    }

    .modalBottom {
        .size(@width: 100%, @height: 50px);
        background-color: @color-white;

        .btn {
            float: right;
            &.confirm {
                color: @color-text-cyan;
            }
            &.cancel {
                color: @color-text-white;
                .gray-gradient;
                &:hover {
                    .gray-inverse-gradient;
                }
            }
        }
    }
}

#joinModal, #modalBackground {
    .position(fixed, @top: 0, @left: 0);
    .size(100%, 100%);
    background-color: #000000;
    opacity: 0.6;
    display: none;
    z-index: 35;
}

/* Pretty Json Modal */
#jsonModal {
    display: inline-block;
    .position(fixed, @left: 0);
    opacity: 1;
    z-index: 36;
    display: none;
    .rounded(2px);
    overflow: hidden;
}

#jsonWrap {
    left: 0;
    .size(400px, 400px, @min-width: 300px);
    background-color: @color-white;
    opacity: 1;
    z-index: 36;
    overflow: hidden;
    resize: both;
    padding: 32px 0px 10px 10px;
    .font(@weight: 400);
}

.jsonDragArea {
    .position(absolute, @top: 0);
    .size(@width: 100%, @height: 30px);
    .cursor-move;
    .action-gradient;
    text-align: center;
    color: @color-text-transparentWhite;
    text-shadow: 1px 1px rgba(0,0,0,0.2);
    .font(@size: 15px, @line-height: 28px);
}

.closeJsonModal {
    .modalBuilder.modalHeader.close();
    .position(@top: 3px, @right: 4px);
}

.prettyJson {
    .size(@height: 100%, @min-width: 100px, @min-height: 100px);
    .font(@size: 16px, @family: @font-code);
    color: #FFA633;
    resize: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.jObject {
    .position(relative);
    .size(@width: 100%, @height: auto);
    padding-left: 25px;
    padding-right: 5px;
    overflow:visible;
}

.jsonBlock {
    display:block;
}

.jKey {
    color: #002D41;
    padding: 0px 1px;
    margin: 0px -1px;
    display: inline-block;
    .rounded;
    cursor: pointer;
}

.jKey:hover {
    background-color: #EEEEEE;
    box-shadow: 0px 0px 1px #266481;
}

.jString {
    color: #2B594F;
}

.jNum, .jBool, .jNull , .jUndf {
    color: #E74A5F;
}

.jArray > .jString {
    color: #9B8920;
    white-space: nowrap;
}

.hideScroll {
    overflow: hidden !important;
}
/* End Of Pretty Json Modal */

/* Join Modal */
#joinDialog {
    .modalBuilder(920px, 670px);
    overflow: hidden;
    resize: both;
    #inputSection {
        .size(@height: 57px);
        .font(@weight: bold, @size: 14px, @line-height: 57px);
        padding-left: 17px;
        .text {
            float: left;
            margin-right: 10px;
        }
        #roundedInput {
            float: left;
            margin: 16px 15px 0 0;
            .size(@width: 198px, @height: 25px);
            .font(@weight: bold, @size: 12px, @line-height: 25px);
            &:focus {
                background-color: white;
                box-shadow: 0px 2px 2px 0 #888888 inset;
                outline: none;
                color: @color-text-brightBlue;
            }
        }

        #joinType {
            .dropDownList(201px, 25px);
            margin-top: 16px;
            .text, .list li {
                .font(@weight: 600);
            }
            .list {
                .position(@top: 26px);
                .rounded(0 0 3px 3px);
                overflow: hidden;
            }
            &.open {
                .rounded(3px 3px 3px 0);
            }
        }
    }

    #mainJoin {
        padding-top: 16px;
        .size(@height: ~"calc(100% - 195px)");
        .tabArea {
            .position(relative);
            .size(@height: 100%);
            border: 1px solid @color-join-border;
        }
        .tableTabs {
            .position(absolute);
            .size(@width: 100%, @height: 38px);
            padding-left: 5px;
            .flex-display;
            .active {
                .flex(0 0 115px);
                .size(@width: 115px, @height: 32px);
                .rounded(3px 3px 0 0);
                background: @color-selectedCell-light;
                color: @color-text-blue;
                padding-top: 2px;
                margin-top: 7px;
                border-right: 1px solid @color-join-border;
                border-left: 1px solid @color-join-border;
                border-top: 1px solid @color-join-border;
                box-shadow: none;
            }
        }
        .joinTableArea {
            .size(@width: 100%, @height: ~"calc(100% - 38px)");
            background: @color-selectedCell-light;
            background: white;
            border-top: 1px solid @color-join-border;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
            overflow: auto;
            overflow-y: hidden;
            margin-top: 38px;
        }

        .background {
            .position(absolute);
            .size(@width: 100%, @height: 36px);
            background-color: @color-selectedCell-light;
            z-index: 1;
        }

        .outline {
            .position(absolute);
            .size(@width: 100%, @height: 36px);
            border: 1px solid @color-join-border;
            border-top: 0;
            z-index: 5;
            pointer-events: none;
        }

        .joinTable {
            .position(relative);
            .size(@width: 0px);
            margin-left: 1px;
            display: none;
            z-index: 2;
            td:nth-child(odd) {
                background-color: rgba(80,80,80,.1);
            }
            th {
                background-color: #ddeaf2;
                border-color: #ddeaf2;
                .size(@width: 120px, @height: 36px);
                &:first-child {
                    width: 125px !important;
                    padding-left: 5px;
                }
            }

            .addedBarText {
                word-break: break-all;
            }
        }

        .columnTab {
            .size(@width: 100%, @height: 22px);
            .gray-gradient;
            .font(@weight: bold, @size: 12px, @line-height: 22px);
            color: @color-text-midGray;
            text-align: center;
            margin-right: 1px;
            float: left;
            .rounded;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
            cursor: pointer;
        }

        .unselectable .columnTab {
            cursor: default;
        }

        .tableLabel {
            .size(@width: 115px, @height: 22px);
            .gray-gradient;
            color: @color-text-midGray;
            .font(@weight: bold, @size: 14px, @line-height: 22px);
            text-align: center;
            margin: 10px 5px 0 0;
            float: left;
            .rounded;
            box-shadow: 1px 1px 1px 1px rgba(0,0,0,.1);
            cursor: pointer;
            padding: 0 2px;
            text-overflow: ellipsis;
            overflow: hidden;
            .flex(0 1 115px);
            white-space: nowrap;
        }
        .tableText {
            .size(@height: 29px);
            .font(@weight: bold, @line-height: 29px);
            color: @color-text-darkGray;
            padding-left: 25px;
        }
        .mainTable {
            .size(@width: ~"calc(100% - 25px)", @height: ~"calc(100% - 55px)");
            margin-left: 15px;
            .rounded;
            background: @color-join-background;
            box-shadow: 0px 2px 2px 0 @color-join-drop-shadow inset;
        }
        #leftJoin {
            float: left;
            .size(@width: ~"calc(50% - 2px)", @height: 100%);
            .noSelection;
        }
        .divider {
            float: left;
            .size(@width: 1px, @height: 100%);
            background-color: @color-join-divider;
        }
        #rightJoin {
            float: left;
            .size(@width: 50%, @height: 100%);
            .noSelection;
            .tableText {
                padding-left: 20px;
            }
            .mainTable {
                margin-left: 10px;
            }
        }

        tr:nth-child(odd) td.colSelected {
            background-color: @color-selectedCell-dark;
        }

        tr:nth-child(even) td.colSelected {
            background-color: @color-selectedCell-light;
        }

        .colSelected {
            .columnTab{
                .action-gradient;
                color: white;
            }
        }
    }
    .modalBottom {
        height: 40px !important;
        .btn {
            margin: 0 20px 10px 0;
        }
    }
}
/* End Of Join Modal */

/* Alert Modal */
#alertModal {
    .modalBuilder(500px, auto);
    bottom: auto !important;
    margin-top: 10% !important;

    #alertHeader {
        text-transform: uppercase;
    }

    #alertContent {
        .size(@width: 500px, @height: 75px);
        padding: 5px 20px;
        overflow-y: scroll;
        display: table-cell;
        vertical-align: middle;
        .text {
            .size(@max-height: 65px);
            text-align: center;
            white-space: pre;
        }
    }

    #alertInstruction {
        .size(@height: 60px);
    }

    #alertOption {
        padding: 15px 5px 0 5px;
        #alertCheckBox {
            text-align: center;
            margin: 0 auto;
            .font(@weight: bold, @size: 13px);
            .checkbox {
                display: inline-block;
                .background("/images/alertModal/checkbox-unchecked.png", 
                            16px, 17px);

                &.checked {
                    background-image: url(/images/alertModal/checkbox-checked.png);
                }
            }
            .text {
                .position(relative, @top: -4px);
                display: inline-block;
                margin-left: 10px;
                color: @color-text-lightGray;
            }
            // now make it disabled
            &.inactive {
                .checkbox {
                    background-image: url(/images/alertModal/checkbox-unchecked.png);
                }
                opacity: 0.5;
            }
        }
    }

    .modalBottom {
        .btn {
            .size(@width: 130px);
            margin: 10px 10px 0px 0;
        }
    }
}
/* End Of Alert Modal */

/* File Browser Modal */
#fileBrowserModal {
    .modalBuilder(800px, 670px);
    text-transform: capitalize;

    .listSection {
        .dropDownList(450px, 25px);
        .text, .list li {
            font-size: 12px;
        }
    }

    .topSection .label, .inputSection .label {
        .size(@width: 90px, @height: 25px);
        .font(@weight: bold, @size: 13px, @line-height: 25px);
        float: left;
        .noSelection;
        cursor: default;
    }

    .modalTopMain {
        .size(@height: 58px);
        padding: 14px 0;
        .topSection {
            .size(@width: 90%, @height: 25px);
            margin: 0px auto;

            .listSection {
                text-transform: none;
            }

            .iconSection {
                float: left;
                margin-left: 50px;

                .iconWrapper {
                    display: inline-block;
                    .size(25px, 25px);
                    .rounded;
                    .action-gradient;
                    &:active {
                        .action-inverse-gradient;
                    }
                    .icon {
                        .size(25px, 25px);
                    }
                    &.icon-up .icon{
                        .image("/images/fileBrowserModal/up.png", 50%, 50%);
                    }
                    &.icon-sort {
                        position: relative;
                        > .icon {
                            .image("/images/fileBrowserModal/sort.png", 50%, 50%);
                        }
                        .dropDown;
                        .dropdownBox {
                            .size(@width: 12px, @height: 9px);
                            .position(@right: 2px);
                            border-width: 9px 9px 0 0;
                        }
                        &:hover .dropdownBox{
                            opacity: 1.0 !important;
                        }
                        .colMenu {
                            .size(@width: 120px);
                            .position(absolute, @top: 25px, @right: 0);
                            li {
                                .position(relative);
                                .icon {
                                    display: none;
                                    .position(absolute, @top: 9px, @right: 6px);
                                    .size(@width: 15px, @height: 12px);
                                    .image("/images/dagIcons/tick-blue.png");
                                }
                                &:hover {
                                    background-color: @color-selectedCell-dark;
                                }
                                &.select .icon {
                                    display: initial;
                                }
                            }
                        }
                    }

                    &.icon-list.gridView .icon {
                        .size(@width: 26px);
                        .image("/images/fileBrowserModal/listView.png", 4px, 3px);
                    }

                    &.icon-list.listView .icon {
                        .size(@width: 26px);
                        .image("/images/fileBrowserModal/gridView.png", 4px, 3px);
                    }
                }

            }
        }
    }

    .modalMain {
        .position(relative);
        .size(@height: 370px);
        padding: 5px 0;
        .noSelection;

        .titleSection {
            .size(@width: 778px, @height: 40px);
            padding: 5px 0;
            margin: 0 auto;
            background: @color-background-darkGray;
            .rounded(3px 3px 0px 0px);
            border: 1px solid #b2b2b2;
            box-shadow: 0px 1px 1px rgba(0,0,0,0.3);

            .title {
                float: left;
                .position(relative);
                .size(@height: 30px);
                .font(@weight: bold, @size: 12px, @line-height: 30px);
                margin-left: 10px;
                padding-left: 15px;
                .gray-gradient;
                .rounded;
                color: #5e5e5e;
                cursor: default;
                &.fileName {
                    .size(@width: 400px);
                }
                &.fileDate {
                    .size(@width: 160px);
                }
                &.fileSize {
                    .size(@width: 170px);
                }
                &.clickable {
                    .icon {
                        display: initial;
                    }
                    &:hover {
                        .gray-inverse-gradient;
                    }
                }
                &.select {
                    .action-gradient;
                    color: @color-white;
                    &:hover {
                        .action-inverse-gradient;
                    }
                }
                .icon {
                    display: none;
                    .position(absolute, @right: 2px);
                    .size(@width: 25px, @height: 30px);
                    .image("/images/fileBrowserModal/sort.png", 50%, 50%);
                }
            }
        }

        .mainSection {
            .size(@width: 778px, @height: 100%);
            overflow-y: auto;
            background: lighten(@color-background-darkGray, 3%);
            .rounded(3px 3px 0px 0px);
            box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
            margin: 0 auto;
            text-transform: none;
        }

        &.gridView {
            .titleSection, .fileDate, .fileSize {
                display: none;
            }
            grid-unit {
                .gridViewForGrid;
                cursor: default;
                .label {
                    white-space: nowrap;
                    color: #666666;
                }
                &.active .label{
                    color: @color-text-blue;
                }
            }
        }
        
        &.listView {
            .mainSection {
                background: #f9f9f9;
                .rounded(0);
                .size(@height: ~"calc(100% - 40px)");
                box-shadow: inset 0px 0px 1px rgba(0, 0, 0, 0.5);
            }

            grid-unit {
                .size(@height: 30px);
                margin: 0 auto;
                display: block;
                cursor: default;

                > div {
                    float: left;
                    .size(@height: 30px);
                    .font(@weight: bold, @size: 12px, @line-height: 30px);
                    border: 1px solid transparent;
                    color: #8b8b8b;
                }

                .label {
                    .size(@width: ~"calc(400px - 30px)");
                    padding-left: 5px;
                }
                .fileSize, .fileDate {
                    margin-left: 10px;
                    padding-left: 15px;
                }
                .fileDate {
                    .size(@width: 160px);
                }
                .fileSize {
                    .size(@width: 170px);
                }
                .gridIcon {
                    display: none;
                }

                .listIcon {
                    margin-left: 10px;
                    .size(30px, 30px);
                    .icon {
                        display: inline-block;
                        .size(30px, 30px);
                    }
                }
                &:nth-child(even) > div {
                    background-color: #f4f4f4;
                }
                
                &:nth-child(odd) > div {
                    background-color: #e6e6e6;
                }
                &.active {
                    > div {
                        border: 1px solid @color-background-topAction;
                        background: @colorOpaque-blue;
                        color: @color-text-blue;
                    }
                    .listIcon {
                        border-right: none;
                        .action-gradient;
                    }
                }
                &.ds > .listIcon .icon {
                    .image("/images/db-icon-white.png", 50%, 40%);
                }
                &.folder > .listIcon .icon {
                    .image("/images/datastore/folder-sm.png", 50%, 50%);
                }
            }
        }
    }
    .modalSubMain {
        .size(@height: 90px);
        padding: 5px 0;
        .inputSection {
            .size(@width: 600px, @height: 25px);
            margin: 10px auto 5px auto;
            input {
                .size(@width: 450px, @height: 25px);
                line-height: 25px;
                .rounded;
                box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5);
                padding-left: 10px;
            }
            .listSection {
                text-transform: uppercase;
                .list {
                    .size(@height: 75px);
                    overflow-y: auto;
                }
            }
        }
    }
    .modalBottom {
        .btn {
            margin: 15px 15px 0 0;
        }
    }
}
// End Of File Browser Modal
#dagParameterModal {
    .modalBuilder(920px, 300px);

    .transition(height 0.5s);

    &.minimized {
        height: 265px;
    }
    
    &.enlarged {
        height: 670px;
    }

    .modalInstruction {
        box-shadow: 0 3px 3px 0px rgba(0,0,0,.2);
        position: relative;
        .icon {
            .image("/images/info-icon-large.png");
        }
    }

    .modalTopMain {
        padding: 0px 20px 0px 28px;
        border-top: none;
    }

    .border {
        width: 100%;
        border-top: 1px solid @color-retina-border;
        border-bottom: 1px solid @color-white;

        &:last-child {
            display: none;
        }
    }

    .heading {
        .font(@weight: 700, @size: 13px);
        color: @color-text-darkGray;
        display: block;
        margin-bottom: 5px;
    }

    
    .retinaModalSection {
        padding: 14px 0px;
    }

    .templateSection {
        white-space: nowrap;
        .heading {
            .size(@width: 120px, @height: 30px);
            float: left;
            line-height: 30px;
            margin-bottom: 0px;
        }
        .templateTable {
           display: inline-block;
           float: left;
           border-collapse: collapse;
        }

        td:first-child {
            text-transform: capitalize;
        }

        .boxed {
            text-overflow: ellipsis;
        }
    }

    table { 
        border-collapse: collapse;
        td {
            text-align: left;
            padding: 0px 5px;
            .font(@weight: 700, @size: 13px);
            color: @color-text-midlightGray;
            .boxed {
                .size(@height: 30px);
                background-color: white;
                line-height: 30px;
                .rounded;
                padding: 0px 4px 0px 6px;
                color: @color-text-blue;
                &.small {
                    .size(@min-width: 35px, @max-width: 50px);
                    text-align: center;
                    padding-left: 6px;
                }
                &.medium {
                    .size(@min-width: 120px, @max-width: 350px);
                }
                &.large {
                    .size(@min-width: 300px, @max-width: 600px);
                }
            }
        }  
    }

    .draggableParams {
        margin-left: -5px;
    }

    .draggableDiv {
        .position(relative);
        .size(@height: 25px);
        display: inline-block;
        padding: 2px 12px 2px 2px;
        margin: 5px;
        .rounded;
        .action-gradient;
        cursor: pointer;
        color: @color-text-cyan;
        text-shadow: -1px 0px 1px rgba(0,0,0,0.6);

        .icon {
            .size(@width: 19px, @height: 100%);
            .image("/images/dagIcons/move-white.png");
            display: inline-block;
            float: left;
            margin-right: 4px;
        }

        .delim {
            display: none;
        }
        .close {
            .position(absolute, @top: 0, @right: 0);
            .size(@height: 11px);
            display: none;
            opacity: 0;
            padding: 2px 0px 2px 1px;
            .font(@size: 16px, @line-height: 6px);
            .rounded(2px);
            color: @color-text-cyan;
            cursor: pointer;
            overflow: hidden;
            span {
                display: inline-block;
               .transform (rotate(45deg)); 
            }
        }
    }

    .currentParameterList + .border {
        display: none;
    }

    .editableParamQuery {
        display: none;
        td:first-child {
            text-transform: capitalize;
        }

        .editableParamDiv {
            margin: 0px 5px;
            padding: 0px 25px 0px 5px;
            overflow:hidden;
            white-space: nowrap;
            outline: none; 
            display: table-cell;
            vertical-align: bottom;
            box-shadow: inset -1px 0px 1px 1px rgba(0,0,0,0.15);
            .transform (translateZ(0));
            cursor: text;

            &.load {
                .size(@min-width: 300px, @max-width: 800px);
            }

            .draggableDiv {
                margin: -2px 2px;
                top: 0px;
                line-height: 20px;
                .close {
                    display: inline-block;
                }
                &:hover .close {
                    .transition (opacity 0.05s linear 0.15s);
                    opacity: 1;
                }
            }
        }
    }

    .defaultListSection {
        display: none;
        padding: 15px 15px 0px 15px;
        .retinaTable();
        .tableContainer {
            height: auto;
            display: inline-block;
            overflow: hidden;
            border-radius: 5px;
            border: 1px solid #a8a8a8;
            float: left;
            z-index: 0;
            padding: 0;

            .tableWrapper {
                .thWrap {
                    width: 444px;
                    padding-left: 17px;
                }

                .paramName {
                    color: @color-text-darkGray;
                }
                .paramVal {
                    width: 385px;
                    .font(@weight: 700, @size: 13px, @line-height: 100%);
                    &:focus {
                        box-shadow: inset -1px 0px 1px 1px rgba(0,0,0,0.15);
                        background-color: white; 
                    }
                }
                .options {
                    float: right;
                    .position(relative, @right: 0);
                    cursor: pointer;

                    .option {
                        display: inline-block;
                        float: left;
                        width: 25px;

                         &.paramEdit {
                            .icon {
                                .position(relative, @top: 1px);
                                .background("/images/ds-editDS.png", 15px, 15px);

                            }
                            &.selected {
                                .icon {
                                    .background("/images/pencil-gray.png", 16px, 15px);
                                }
                            }
                        }
                    }
                }
                .unfilled .paramEdit {
                    display: none;
                }
            }
        }

        table {
            margin: 0;
            th {
                height: 30px;
                &:first-of-type .thWrap{
                    width: 444px !important;
                    border-right: 1px solid #CCCCCC;
                }
            }
            tbody {
                tr {
                    td {
                        .size(@width: 444px, @height: 40px);
                        padding-left: 15px;
                        &:first-of-type {
                            width: 444px;
                            border-left: 7px solid @color-join-background;
                        }
                        &:last-of-type {
                            border-right: 8px solid @color-join-background;
                        }
                    }
                }
            }
        }
    }

    #addNewParameterizedQuery {
        text-align: center;
        float: right;
        color: @color-text-cyan;
        width: 240px;
        .icon {
            .size(@width: 20px, @height: 100%);
            .image("/images/dagIcons/plus-soft-white.png", 0, 50%);
            float: left;
            margin-left: 3px;
        }
        &.btnInactive {
            color: @color-white;
        }
    }
    
    .modalBottom {
        padding-right: 0px;
        right: 0px;
        .size(auto, auto);
        padding-bottom: 15px; 
        .btn {
            margin: 15px 15px 0 0;
        }
    }
}
