#monitorPanel {
    background-color: white;
    position: relative;
    .size(@width: 100%, @height: ~"calc(100% - 115px)");

    .topBar {
        border-bottom-width: 2px;
        z-index: 10;

        .buttonArea {
            .size(@width: 150px, @height: 100%);
            .darkDarkGray-gradient;
            border-right: 1px solid @color-bar-border;
            float: left;
            cursor: pointer;

            &.active {
                .action-gradient;
            }

            .icon {
                margin: 6px 4px 0 10px;
                float: left;
            }

            &#systemButton {
                .icon {
                    .background("/images/monitor/gear.png", 23px, 23px);
                }
            }

            &#queriesButton {
                .icon {
                    .background("/images/monitor/query.png", 28px, 24px);
                }
            }

            &#setupButton {
                .icon {
                    .background("/images/monitor/tools.png", 22px, 23px);
                }
            }

            .text {
                float: left;
                .font(@color: white, @size: 14px);
                margin: 8px 0 0 3px;
                text-shadow: 1px 1px #555555;
            }
        }
    }

    .monitorSection {
        display: none;
        // exclude height of #worksheetBar
        .size(@width: 100%, @height: ~"calc(100% - 35px)");

        &.active {
            display: block;
            &#monitor-queries {
                .flex-display;
            }
        }
    }

    #monitor-system {
        .asupSubSection {
            .size(@width: 100%, @height: 50px);
            background-color: @color-background-darkGray;
            border-bottom: 1px solid @color-retina-border;

            .asupSection, .subSection {
                .size(@width: auto, @height: 50px);
                float: left;
                padding: 0 10px;
                .font(@line-height: 50px);

                > div {
                    float: left;
                    margin-right: 10px;
                }
            }

            .title {
                .font(@size: 14px, @weight: 700, @color: #777777);
            }

            .asupSection {
                padding-right: 20px;
                border-right: 1px solid @color-white;

                .icon {
                    .size(@width: 50px, @height: 100%);
                    .image("/images/monitor/asup.png", 50%, 50%);
                }

                .onOffBtn {
                    margin-left: 15px;
                    .vertical-align;
                }
            }

            .subSection {
                border-left: 1px solid @color-retina-border;

                .icon {
                    .size(@width: 40px, @height: 100%);
                    .image("/images/monitor/sub.png", 60%, 50%);
                }

                .btn {
                    .position(relative, @top: -1px);
                    margin-left: 40px;
                }

            }
        }

        .topSection {
            box-shadow: 0px 3px 3px 0px rgba(0,0,0,.3);
            position: relative;
            z-index: 5;
            border-top: 1px solid @color-white;

            .sideTabs {
                display: inline-block;
                float: left;

                .sideTab {
                    display: block;
                    .size (@width: 65px, @height: 75px);
                    text-align: center;
                    .linear-gradient(top, #CDCDCD, #ACACAC);
                    border-right: 1px solid @color-table-borderGray;
                    border-bottom: 1px solid @color-table-borderGray;
                    cursor: pointer;
                    .noSelection;

                    &.active {
                        .action-gradient;
                        .text {
                            .font(@color: white);
                            text-shadow: 1px 1px #555555;
                        } 
                    }
                        
                }

                .icon {
                    display: block;
                    .size (@height: 50px, @width: 100%);
                }

                #cpuTab {
                    .icon {
                        .image("/images/monitor/cpu-white.png", 50%, 60%);
                    }
                }

                #ramTab {
                    .icon {
                        .image("/images/monitor/ram-white.png", 50%, 60%);
                    }
                }

                #flashTab {
                    .icon {
                        .image("/images/monitor/flash-white.png", 50%, 60%);
                    }
                }

                #diskTab {
                    .text {
                        .font (@size: 12px);
                    }
                    .icon {
                        .image("/images/monitor/disk-white.png", 50%, 60%);
                    }
                }

                .text {
                    .font (@size: 13px, @weight: bold, @color: @color-text-columnList);
                }
            }

            .graphSection {
                .size(@width: ~"calc(100% - 65px)", @height: 300px);
                .font(@color: @color-table-borderGray);
                padding-left: 50px;
                padding-right: 95px;
                display: inline-block;
                float: left;
                background-color: @color-background-darkGray;
                overflow: hidden;
                position: relative;

                #graphWrap {
                    .size(@width: ~"calc(100% - 170px)", @height: 260px);
                    .position(absolute, @left: 79px);
                    z-index: 1;
                    overflow-x: scroll;
                    overflow-y: hidden;

                    &::-webkit-scrollbar-track {
                        border-radius: 20px;
                    }
                }

                #graphParts {
                    position: absolute;
                    width: 100%;

                    .yAxis {
                        .position(absolute, @top: 2px);
                        white-space: nowrap;
                        text-align: right;

                        span {
                            display: block;
                            .font(@size: 11px, @weight: 500);
                            height: 42px;
                        }

                        &.right {
                            right: 136px;
                            text-align: left;
                            height: 210px;

                            span {
                                position: absolute;
                                bottom: -42px;
                            }

                            svg {
                                top: 0px;
                                stroke: none;
                                fill: transparent;
                                margin-left: -2px;

                                text {
                                    display: block;
                                    fill: @color-table-borderGray;
                                    .font(@size: 11px, @weight: 500);
                                }
                            }
                        }
                    }
                }

                #graph {
                    .size(@width: 100%, @height: 100%);
                    z-index: 1;
                    text-align: right;
                    position: relative;
                    .noSelection;

                    .svgWrap {
                        .size(@width: 100%, @height: 212px);
                        position: relative;
                    }

                    .mainSvg {
                        .position(relative, @top: 10px, @right: 0);
                        background-color: #3b4952;
                        display: inline-block;
                        overflow: hidden;
                    }

                    .separator {
                        display: block;
                        .size(@width: 100%, @height: 1px);
                    }
                    .xLabelsWrap {
                        .position(relative, @top: 6px, @right: 0, @bottom: 6px);
                        display: inline-block;
                        white-space: nowrap;
                        text-align: left;
                        overflow: hidden;

                        .spacer {
                            .size(@width: 40px, @height: 1px);
                            float: left;
                            display: inline-block;
                        }
                        .xLabels {
                            position: relative;
                            display: inline-block;

                            span {
                                display: inline-block;
                                top: 0px;
                                width: 240px;
                                .font(@size: 11px, @weight: 500);

                            }
                        } 
                    }
                }

                .graphBackground {
                    .position(absolute, @left: 30px);
                    .size(@width: ~"calc(100% - 170px)", @height: 210px);
                    margin: 10px 0px 20px -1px;
                    background-color: #3b4952;
                }

                .axis {
                    stroke: black;
                    &.x {
                        stroke: #27717C;
                    }

                    &.y {
                        stroke: rgba(255,255,255, 0.2);
                    }
                }

                .line{
                    fill: none;
                    stroke-width: 2px;
                    &.line0 {
                        stroke: #6DCFF6;
                    }
                    &.line1 {
                        stroke: #90C591;
                    }
                }

                .area {
                    opacity: 0.2;
                    stroke-width: 0;
                    &.area0 {
                        fill: #6DCFF6; 
                    }
                    &.area1 {
                        fill: #90C591; 
                    }

                    &.highlighted {
                        opacity: 0.6;
                    }
                }

                .graphTop {
                    .size (@height: 32px);
                    .font (@size: 13px);
                    padding-top: 14px;

                    .time {
                        float: right;
                        .size(@height: 100%, @width: 270px);
                        .font(@weight: bold);
                    }

                    #graphTime {
                        display: inline-block;
                        min-width: 50px;
                    }

                    #refreshGraph {
                        float: right;
                        .size(@height: 100%);
                        .font(@color: @color-text-blue);
                        margin-left: 10px;
                        cursor: pointer;

                        .icon {
                            display: inline-block;
                            margin-left: 4px;
                            float: right;
                            .size (@width: 16px, @height: 17px);
                            .image("/images/ds-refreshDS.png", 50%, 50%);
                        }
                    }

                    .onOffBtn {
                        .vertical-align;
                        float: right;
                    }
                    
                    #connectionInfo {
                        float: left;
                        #virNodeText {
                            padding-left: 10px;
                        }
                    }

                }

                .graphText {
                    .size(@width: 100%, @height: 80%);
                    float: right;
                    position: absolute;
                    margin-top: 20px;
                    z-index: 1;
                    .sampleText {
                        text-align: center;
                        z-index: 5;
                        .font(@size: 70px, @color: @color-white, @weight: bold);
                        line-height: 110px;
                        opacity: 0.15;
                    }
                }

                #grids {
                    overflow: hidden;
                    position: absolute;
                    .size(@width: 100%, @height: 220px);

                    .gridSvg {
                        .position(@top: 10px, @right: 0);
                    }
                }
            }
        }

        .bottomSection {
            .flex-display();
            .size(@height: ~"calc(100% - 352px)");
            overflow-x: hidden;
            overflow-y: scroll;
            margin-right: 10px;

            .donutSection {
                .flex(1 0 200px);
                .size(@height: 100%, @min-height: 200px);
                position: relative;

                &:nth-child(even) {
                    background-color: #fafafa;
                    .statsSection {
                        background-color: #fafafa;
                    }
                }

                &> .icon {
                    .size (@width: 75px, @height: 75px);
                    .position(absolute, @top: 0, @right: 0);
                    display: inline-block;
                    z-index: 1;
                }

                .donut {
                    .size (@height: 180px, @width: 180px);
                    margin: 15px auto 5px;
                    position: relative;

                    .sampleText {
                        .position(absolute, @top: 47px, @left: -29px);
                        .font(@size: 60px, @color: black, @weight: bold);
                        .transform(rotate(35deg));
                        opacity: 0.15;
                        z-index: 5;
                    }

                    .innerCircle {
                        .size (@width: 130px, @height: 130px);
                        .position(absolute, @top: 25px, @left: 25px);
                        .rounded(130px);
                        background-color: rgba(255,255,255,0.5);
                        z-index: 2;
                        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.15);
                    }

                    .donutInfo {
                        .size(@width: 100%);
                        .position(absolute, @top: 60px);
                        display: inline-block;
                        text-align: center;
                        z-index: 3;

                        sup {
                            .font(@size: 12px);
                        }

                        hr {
                            width: 73px;
                            border: none;
                            border-top: 1px solid @color-background-bottomGrayMed;
                            display: block;
                            .nomargin-padding;
                            margin: 0 auto;
                        }

                        .userSize {
                            .font(@size: 32px, @weight: bold, @line-height: 36px);
                            margin-right: -6px;

                            sup {
                                margin-top: -6px;
                                position: relative;
                                top: -5px;
                            }
                            
                        }

                        .totalSize {
                            .font(@size: 18px, @weight: bold, @color: @color-background-bottomGrayMed);
                            margin-right: 8px;

                            sup {
                                .font(@size: 11px);
                                position: absolute;
                            }
                        }
                    }

                    svg:first-of-type {
                        z-index: 1;
                    }
                }

                &#donut0 {
                    &> .icon {
                        .image("/images/monitor/cpu-gray.png", 50%, 16px);
                    }
                    .donut {
                        .userSize {
                            .font(@color: #20a7eb);
                        }
                        sup {
                            .font(@color: #20a7eb, @weight: bold);
                        }
                    }
                    .donutInfo {
                        top: 64px;
                    }
                }

                &#donut1 {
                    &> .icon {
                        .image("/images/monitor/ram-gray.png", 50%, 19px);
                    }
                    .donut {
                        .userSize {
                            .font(@color: #90c591);
                        }
                    }

                    li .userSize, .statsHeadingBar .userSize {
                        background-color: #D6E6D6;
                    }
                }
                &#donut2 {
                    &> .icon {
                        .image("/images/monitor/flash-gray.png", 60%, 19px);
                    }
                    .donut {
                        .userSize {
                            .font(@color: #bbae84);
                        }
                    }

                    li .userSize, .statsHeadingBar .userSize {
                        background-color: #E3DFD2;
                    }
                }
                &#donut3 {
                    &> .icon {
                        .image("/images/monitor/disk-gray.png", 55%, 13px);
                    }
                    .donut {
                        .userSize {
                            .font(@color: #1193b8);
                        }
                    }
                    li .userSize, .statsHeadingBar .userSize {
                        background-color: #AFD7E2;
                    }
                }

                .statsSection {

                    .statsTopHeading {
                        .font(@weight: 600, @size: 11px, @color: @color-text-midlightGray);
                        .size(@width: 245px, @height: 20px);
                        margin: 0 auto;
                        padding: 2px 12px 0px 2px;
                        
                        .global {
                            float: left;
                        }

                        .user {
                            float: right;
                        }
                    }

                    .statsHeadingBar {
                        .font(@size: 13px, @color: @color-text-darkGray, @weight: bold, @line-height: 25px);
                        .size(@width: 245px, @height: 25px);
                        background-color: #f4f4f4;
                        .rounded;
                        padding: 0 0 0 7px;
                        margin: 0 auto;
                        overflow: hidden;
                        cursor: pointer;

                        &.small {
                            width: 210px;
                        }

                        .arrow {
                            .image("/images/arrowUpGray.png");
                            .size(@width: 13px, @height: 8px);
                            display: inline-block;
                            float: left;
                            margin: 8px 5px 0px 0px;
                        }

                        &.open {
                            .arrow {
                                .image("/images/arrowDownBlue.png");
                                margin-top: 10px
                            }
                        }

                        .title {
                            float: left;
                        }

                        .num {
                            float: right;
                        }

                        .percent {
                            float: right;
                            display: inline-block;
                            padding-right: 7px;
                        }
                    }

                    .userSize {
                        .size(@width: 70px, @height: 100%);
                        .font (@weight: bold, @color: @color-text-darkGray);
                        text-align: right;
                        float: right;
                        display: inline-block;
                        padding-right: 7px;
                    }

                    .totalSize {
                        float: right;
                        margin-right: 4px;

                    }

                    .listWrap {
                        overflow-x: hidden;
                        overflow-y: auto;
                        height: ~"calc(100% - 25px)";
                        margin-bottom: 5px;
                        ul {
                            width: 245px;
                            margin: 0 auto;
                            
                            li {
                                .font(@size: 11px, @color: @color-text-midlightGray, @weight: bold);
                                .size(@width: 225px, @height: 17px);
                                margin-top: 6px;
                                padding-left: 6px;
                                .rounded;
                                background-color: @color-background-lightLightGray;
                                float: right;
                                overflow: hidden;

                                .statsNum {
                                    float: right;
                                    margin-right: 9px;
                                }
                            }

                            &.small {
                                width: 210px;

                                li {
                                    width: 190px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .c3-chart-arc path {
            stroke: none; 
        }
        .c3 line, .c3 path {
            fill: none;
            stroke: none;
        }

        svg {
            position: absolute;
        }

        text {
            display: none;
        }
    }

    #monitor-queries {
        // .flex-display;

        .titleSection {
            .size(@height: 55px);
            .font(@line-height: 55px, @color: @color-text-blue);

            h1 {
                font-size: 20px;
            }
        }

        .leftSection {
            .flex(0 0 55%);
            .size(@height: 100%);

            .titleSection {
                box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, .2);
                padding-left: 15px;
            }

            .queryListSection {
                .size(@height: ~"calc(100% - 58px)");
                // in order to show box-shadow
                .position(relative, @top: 3px);
                overflow-y: scroll;
            }

            .queryList {
                .size(@height: 80px);
                .position(relative);
                .linear-gradient(top, @color-white, @color-table-midGray);
                .noSelection;
                cursor: default;
                padding: 11px 10px 0 15px;
                box-shadow: inset 0px -2px 1px 0px rgba(0, 0, 0, .1);

                &.active {
                    background: #d8eff6;

                    .headBar {
                        background-color: @color-text-blue;
                    }

                    .inspectIcon {
                        background-color: #58c8fc !important;
                    }
                }

                .headBar {
                    .size(@width: 7px, @height: 80px);
                    .position(absolute, @top: 0, @left: 0);
                    background-color: transparent;
                }

                .queryInfo {
                    .size(@height: 20px);

                    .name {
                        float: left;
                        .font(@size: 13px, @weight: bold);
                    }

                    .date {
                        float: right;
                        .font(@size: 12px, @weight: bold, @color: @color-text-midlightGray);
                    }
                }

                .queryProgress {
                    margin-top: 10px;
                    .size(@height: 20px);
                    .flex-display;

                    .icon {
                        .flex(0 0 20px);
                        .size(@height: 20px);
                        margin-right: 5px;
                        cursor: pointer;
                    }

                    .barIcon {
                        margin-right: 3px;
                        pointer-events: none;
                    }

                    .refreshIcon {
                        .position(relative, @top: -1px);
                    }

                    .pauseIcon {
                        margin-left: 10px;
                    }

                    .deleteIcon {
                        .image("/images/monitor/queries/cross_red.png", 50%, 50%);
                    }

                    .inspectIcon {
                        .image("/images/monitor/queries/inspect.png", 50%, 50%);
                        .position(relative, @top: 1px);
                        .rounded;
                        margin-right: 0;
                    }

                    .divider {
                        .flex(0 0 2px);
                        background-color: @color-retina-border;
                        border-right: 1px solid @color-white;
                        margin-right: 4px;
                    }

                    .barContainer {
                        .flex(1 1 auto);
                        .size(@height: 100%);
                        .rounded(4px);
                        background-color: #36434c;
                        padding: 1px 1px;

                        .progressBar {
                            .size(@height: 100%);
                            .rounded;
                            background-repeat: repeat-x;
                        }
                    }
                }

                &.play {
                    .barIcon {
                        .image("/images/monitor/queries/inProgress.png", 50%, 50%);
                    }

                    .pauseIcon {
                        .image("/images/monitor/queries/pause.png", 50%, 50%);
                    }

                    .refreshIcon {
                        .image("/images/monitor/queries/refresh_inact.png", 50%, 50%);
                        pointer-events: none;
                    }

                    .progressBar {
                        .image("/images/monitor/queries/activeBarUnit.png");
                    }
                }

                &.pause {
                    .barIcon {
                        .image("/images/monitor/queries/pausedProgress.png", 50%, 50%);
                    }

                    .pauseIcon {
                        .image("/images/monitor/queries/play.png", 50%, 50%);
                    }

                    .refreshIcon {
                        .image("/images/monitor/queries/refresh_inact.png", 50%, 50%);
                        pointer-events: none;
                    }

                    .progressBar {
                        .image("/images/monitor/queries/pausedBarUnit.png");
                    }
                }

                &.done {
                    .barIcon {
                        .image("/images/monitor/queries/done.png", 50%, 50%);
                    }

                    .pauseIcon {
                        .image("/images/monitor/queries/pause_inact.png", 50%, 50%);
                    }

                    .refreshIcon {
                        .image("/images/monitor/queries/refresh_act.png", 50%, 50%);
                    }

                    .progressBar {
                        .image("/images/monitor/queries/doneBarUnit.png");
                        .size(@width: 100%);
                    }
                }
            }
        }

        .rightSection {
            .flex(0 0 45%);
            .size(@height: 100%);
            border-left: 1px solid rgba(0,0,0,.2);
            background-color: @color-background-darkGray;

            .flex-display;
            .flex-flow(column);

            > section {
                padding-left: 15px;
            }

            .title {
                margin: 5px 0;

                h2 {
                    font-size: 13px;
                }
            }

            .divider {
                .flex(0 0 2px);
                background-color: @color-retina-border;
                border-bottom: 1px solid @color-white;
            }

            .titleSection {
                .flex(0 0 50px);
            }
        
            .statusSection {
                .flex(0 0 100px);
                margin-bottom: 5px;

                .status {
                    .font(@size: 12px, @weight: bold, @color: @color-text-signout-lightGray);

                    .name {
                        display: inline-block;
                        .size(@width: 150px);
                    }
                }
            }

            .outputSection {
                .text {
                    color: #cbcbcb;
                }

                .buttonArea {
                    margin: 2px 18px 10px 0 ;
                    float: right;

                    .btn {
                        margin-right: 12px;
                        padding-right: 10px;
                    }
                }


                #monitor-inspect {
                    .size(@width: 135px);
                    .icon {
                        .image("/images/monitor/queries/view_act.png", 50%, 50%);
                    }
                }

                #monitor-export {
                    .size(@width: 255px);
                    .icon {
                        .image("/images/monitor/queries/export_act.png", 50%, 50%);
                    }
                }
            }

            .operationSection {
                .flex(1 1 auto);
                .size(@height: ~"calc(100% - 263px)");
                padding: 0;

                .title {
                    .size(@height: 19px);
                    padding-left: 15px;
                }

                .content {
                    .size(@width: 100%, @height: ~"calc(100% - 20px)");
                    background-color: @color-white;
                    box-shadow: inset 0px 2px 2px 1px rgba(0,0,0,0.2);
                
                    .sqlWrap {
                        .size(@width: 100%, @height: 100%);
                        .position(relative, @top: 3px, @left: 2px);
                    }

                    .lineMarkerArea {
                        .size(@width: 40px, @height: 100%);
                        float: left;
                        background-color: #f7f7f7;
                    }

                    .sqlArea {
                        .size(@width: ~"calc(100% - 40px)", @height: 100%);
                        float: left;
                    }
                }
            }
        }
    }
}
