// ========== Right Side Bar ==========
#rightSideBar {
    .position(absolute, @right: -25%, @bottom: 74px);
    .size(@width: ~"calc(25% + 10px)", @height: ~"calc(100% - 152px)");
    border-left: 1px solid @color-bar-border;
    background-color: @color-background-sidebar;
    z-index: 11;
    box-shadow: -2px 0px 2px 3px rgba(0,0,0,0.1), inset 0px 4px 4px rgba(0,0,0,0.3);
    .transition (right 0.3s);

    &.open {
        right: 0px;
    }

    .heading {
        .size(@width: 100%, @height: 35px);
        text-align: center;
        padding-top: 2px;
        h2 {
            margin-left: 55px;
            line-height: 35px;
            color: @color-text-darkGray;
        }
    }

    .rightBarContent {
        .position(relative);
        .size(@width: auto, @height: ~"calc(100% - 35px)");
        margin-left: 10px;
        background-color: @color-table-darkGray;
    }

    .topBorder {
        .position(absolute, @bottom: 60px, @left: -7px);
        .size(@width: 7px, @height: 1px);
        background-color: @color-bar-border;
        z-index: 20;
        box-shadow: -1px -2px 5px rgba(0,0,0,.3);
    }

    .rightBarSection {
        .position(absolute, @top: 0, @left: 0);
        .size(@width: 100%, @height: 100%);
        display: none;
        overflow: hidden;

        &.active {
            display: block;
        }

        .heading {
            .btn {
                .size(@width: 19px, @height: 19px);
                float: right;
                margin-right: 6px;
                margin-top: 7px;
                &:first-of-type {
                    margin-right: 10px;
                }
            }
        }

        .iconArrowDiag {
            background-image: url(/images/arrow-diag.png);
        }
        .iconClose {
            background-image: url(/images/close-icon.png);
        }
    }
}

@media screen and (max-width: 1300px) {
    .timeStampWrap {
        width: 14% !important;
        text-align: center;
        span:first-child {
            display: none !important;
        }
    }

    .tableListBox {
        width: 86% !important;
    }

    .tableListSection {
        ol {
            width: ~"calc(86% - 26px)" !important;
        }
    }
}

/* ========== Table List Section in Right Side Bar ========== */
#tableListSection {
    .rightBarContent {
        .size(@width: ~"calc(100% - 20px)", @height: ~"calc(100% - 45px)");
    }

    #tableListSectionTabs {
        .size(@width: ~"calc(100% + 2px)", @height: 35px);
        border-top: 1px solid @color-table-borderGray;
        border-left: 1px solid @color-table-borderGray;
        margin-left: -1px;

        .tableListSectionTab {
            .size(@width: 33.3333%, @height: 100%);
            float: left;
            display: inline-block;
            .font(@weight: 700, @line-height: 35px, @size: 13px);
            text-align: center;
            color: @color-text-darkGray;
            border-right: 1px solid @color-table-borderGray;
            border-bottom: 1px solid @color-table-borderGray;
            .gray-gradient;
            .noSelection;

            &:hover {
                .gray-inverse-gradient;
                cursor: pointer;
            }

            &.active {
                border-bottom: 1px solid @color-tab-borderBlue;
                .action-gradient;
                color: @color-white;
                text-shadow: 2px 2px rgba(0,0,0,.3);
                font-size: 14px;
            }
        }
    }

    #tableListSections {
        overflow-x: hidden;
        overflow-y: auto;
        height: ~"calc(100% - 35px)";

        .tableListSection {
            display: none;
            width: 100%;
            &:first-child {
                display: block;
            }
        }

        ul {
            list-style: none;
            margin: 0 10px;
        }

        li.timeLine {
            .position(relative);
            .size(@width: 100%);
            margin-top: -1px;
            color: @color-text-darkGray;
            .font(@line-height: 25px, @size: 13px);
        }

        li.tableInfo {
            .position(relative);
            .size(@width: 100%);
            margin-top: 4px;
            color: @color-text-darkGray;
            .font(@line-height: 25px, @size: 13px);

            &:hover .iconWrap {
                .action-gradient;
            }

            .active {
                .iconWrap {
                   .lightGray-gradient;
                }

                &:hover .iconWrap {
                    .action-gradient;
                }
            }
        }

        ul#activeTablesList {
            margin-top: 10px;
        }

        .timeStampWrap {
            .position(relative, @top: 4px, @left: -1%);
            .size(@width: 24%, @height: 25px);
            display: inline-block;
            float: left;
            .font(@line-height: 15px, @size: 9px);

            .timeStamp {
                .flex-display;
                .flex-wrap(wrap);
                .justify-content(center);
            }

            span {
                .size(@width: 45px);
                white-space: nowrap;
                display: inline-block;
                &:first-child {
                  margin-right: 8px;  
                }
                &:last-child {
                    margin-left: -7px;
                }
            }
        }

        .tableListBox {
            .size(@width: 76%, @height: 25px);
            border-radius: 3px;
            background-color: @color-white;
            display: inline-block;
            box-shadow: 1px 2px 1px rgba(0,0,0,.2);
            cursor: pointer;
            white-space: nowrap;
            overflow: hidden;

            .tableName {
                display: inline-block;
                overflow: hidden;
                max-width: 170px;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .iconWrap {
            display: inline-block;
            .size(@height: 100%);
            .gray-gradient;
            float: left;
            padding-top: 1px;
            margin-right: 10px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        .icon {
            margin: 0px;
            display: inline-block;
            .background("/images/table-icon.png", 25px, 22px);
        }

        .numCols {
            float: right;
            color: @color-text-brightBlue;
            margin-right: 10px;
        }

        ol {
            display: none;
            .position(relative);
            .size(@width: ~"calc(76% - 26px)");
            .nomargin-padding;
            margin: -7px 0 10px 22px;
            padding-top: 2px;
            float: right;

            li {
                .size(@height: 20px);
                list-style-position: inside;
                margin-top: 5px;
                padding-left: 10px;
                border-radius: 3px;
                .font(@size: 11px, @line-height: 20px);
                background-color: @color-background-columnList;
                color: @color-text-columnList;
                overflow: hidden;
                text-overflow: ellipsis;
                whitespace: nowrap;
            }
        }

        .addArchivedBtn {
            display: none;
        }
    }

    #archivedTableList {

        .addArchivedBtn {
            display: inline-block;
            float: right;
            .size(@width: 24px, @height: 100%);
            border-left: 1px solid @color-background-bottomGrayMed;
            border-radius: 0 3px 3px 0;
            background: url(/images/checkmark-inactive.png) 50% 50% no-repeat, 
                        linear-gradient(@color-background-topGrayMed, 
                        @color-background-bottomGrayMed);
            &:hover {
                background: url(/images/checkmark-inactive.png) 50% 50% no-repeat,
                            linear-gradient(@color-background-topGrayMed, 
                            @color-background-midGrayMed);
            }
            &.selected {
                background: url(/images/checkmark-inactive.png) 50% 50% no-repeat, 
                            linear-gradient(@color-background-topAction, 
                            @color-background-bottomAction);
            } 
        }

        .tableName {
            max-width: 150px !important;
        }

        .buttonWrap {
            .flex-display;
            .flex-wrap(wrap);
            .justify-content(space-between);
            margin: 10px 5px 0px;

            .btnLarge {
                margin: 0px 5px 9px;
                display: none;
                .flex(1 0 170px);
                text-align: center;
                position: relative;
                padding-left: 6px;

                .icon {
                    .position(absolute, @left: 0);
                    .size(@width: 27px, @height: 24px);
                }
            }
        }

        #submitTablesBtn .icon {
            margin: 4px;
            .image("/images/send-single.png");
        }

        #deleteTablesBtn .icon {
            margin: 2px 6px 0px 2px;
            .image("/images/garbageThick.png");
        }
    }
}
/* ========== End Of Table List Section in Right Side Bar ========== */

/* ========== SQL Section in Right Side Bar ========== */
#sqlSection {
    height: ~"calc(100% - 10px)";
    #rightBarTextScrollWrap {
        background-color: @color-background-white;
        height: 100%;
        position: relative;
        overflow: hidden;
        #rightBarTextArea {
            .position(absolute, @top: 0);
            .size(@width: 100%, @height: 100%);
            overflow-y: scroll;

            .cliContentWrap {
                padding: 2px;
                width: 100%;
                font-size: 13px;
                color: @color-cli-black;

                .cliKey {
                    color: @color-cli-lightGray;
                }

                .title {
                    color: @color-cli-blue;
                }

                .content {
                    .operation {
                        .cliKey {
                            color: @color-cli-brown;
                        }
                        .cliVal {
                            color: @color-cli-darkGreen;
                        }
                    }

                    .tableName, .leftTable, .rightTable, .dsName {
                        .cliKey {
                            color: @color-cli-darkGray;
                        }
                        .cliVal {
                            color: @color-cli-orange;
                        }
                    }

                    .key {
                        .cliKey {
                            color: @color-cli-lightGreen;
                        }
                    }
                }

                &:hover {
                    background-color: @color-cli-hover;
                }
            }
        }
    }
}
/* ========== End Of SQL Section in Right Side Bar ========== */

/* ========== Scratch Pad Section in Right Side Bar ========== */
#scratchPadSection {
    textarea {
        .size(@width: 100%, @height: 100%);
        padding: 10px;
        background: transparent;
        resize: none;
        outline: none;
    }
}
/* ========== End Of Scratch Pad Section in Right Side Bar ========== */

/* ========== Python Cli Section in Right Side Bar ========== */
#pythonCliSection {

    .tabSectionContainer {
        .size(@width: 100%, @height: 50px);
        box-shadow: 0px 2px 2px 2px rgba(153,153,153,.7);

        .tabSection {
            .size(@width: 350px, @height: 100%, @max-width: 95%);
            margin: 0 auto;
        }

        .select-item {
            .vertical-align;
            display: inline-block;
            .position(relative);
            .size(@width: ~"calc(50% - 5px)", @height: 20px);
            .font(@size: 13px, @line-height: 20px);
            .noSelection;
            cursor: pointer;

            .radio {
                float: left;
                display: inline-block;
                margin: 4px 5px 0 0px;
                .background("/images/radioEmpty.png", 14px, 15px);

                .dot {
                    .size(@width: 14px, @height: 15px);
                    .image("/images/radioDot.png", 50%, 50%);
                    display: none;
                }
                &.checked {
                    .image("/images/radioChecked.png");
                    .dot {
                        display: inline-block;
                    }
                }
            }

            .label {
                float: left;
                padding-left: 5px;
                .font(@weight: 900);
            }
        }
    }

    .mainSectionContainer {
        .position(relative);
        .size(@width: 100%, @height: ~"calc(100% - 50px)");
        padding-bottom: 5px;

        .mainSection {
            &.hidden {
                display: none;
            }
        }
    }

    .upload {
        .position(relative);
        .icon {
            .position(absolute, @left: 4px);
            .size(@width: 25px, @height: 30px);
            .image("/images/upload.png", 50%, 50%);
        }
    }

    #cli-uploadSection {
        margin: 0 auto;
        padding-top: 15px;
        .size(@width: 350px, @max-width: 95%);

        .label {
            .font(@size: 13px);
            .noSelection;
        }

        .pathSection {
            padding-top: 10px;
            .position(relative);

            input {
                .rounded;
                .size(@width: 100%, @height: 30px);
                .font(@line-height: 30px);
                box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.5);
                padding: 0 40px 0 5px;

                &:focus {
                    outline: none;
                }
            }

            .iconWrapper {
                .position(absolute, @top: 16px, @right: 7px);
                .size(20px, 20px);
                .rounded;
                .gray-gradient;
                cursor: pointer;

                &:hover {
                    .gray-inverse-gradient;
                }

                .icon {
                    .size(20px, 20px);
                    .image("/images/close-icon.png", 50%, 50%);
                }
            }

        }

        .btnSection {
            padding-top: 25px;
            .btn {
                width: 160px;
                &:first-child {
                    float: left;
                }
                &:last-child {
                    float: right;
                }
            }
        }
    }

    #cli-fnSection {
        .position(relative);
        .size(100%, 100%);

        .templateSection {
            .size(@width: 100%, @height: 30px);
            padding: 15px 0;

            .sectionContainer {
               .size(@width: 420px, @height: 100%, @max-width: 95%);
                margin: 0 auto;
            }

            .position(relative);

            .listSection {
                float: left;
                .dropDownList(60%, 30px);
                .text {
                    .size(@width: ~"calc(100% - 30px)", @height: 30px);
                    .font(@size: 13px, @line-height: 30px);
                    .noSelection;
                }
                .list {
                    top: 31px;
                    .rounded(0px 0px 3px 3px);
                    background-color: #F8F8F8;
                    .font(@size: 13px);
                }
                &.open {
                    .rounded(0);
                }
            }

            .downloadSection {
                .size(@width: 35%);
                float: right;

                .btn {
                    .size(@width: 150px);
                    .position(relative);
                    float: right;

                    .icon {
                        .position(absolute, @left: 10px);
                        .size(@width: 25px, @height: 30px);
                        .image("/images/download.png", 50%, 35%);
                    }

                    &.hidden {
                        opacity: 0.5;
                        pointer-events: none;
                    }
                }
            }
        }


        .editSection {
            .size(@width: 100%, @height: ~"calc(100% - 125px)");
            .position(relative);
            background-color: @color-white;
            padding-right: 10px;
            margin-bottom: 5px;
            .sideArea {
                .size(@width: 40px, @height: 100%);
                .position(absolute, @top: 0, @left: 0);
                background-color: #F4F4F4;
            }

            .editArea {
                .position(relative);
                .size(100%, 100%);
                // font-family:courier;
                overflow: hidden;

                .lineMarker {
                    .size(@width: 40px);
                    .position(absolute, @top: 3px, @left: 0);
                    .font(@weight: 900, @size: 12px, @line-height: 15px);
                    color: #A3A3A3;
                    text-align: center;
                }

                .codeArea {
                    .size(@width: ~"calc(100% - 50px)", @height: 100%);
                    .position(absolute, @left: 40px);
                    .font(@size: 12px, @line-height: 15px);
                    padding: 3px 0 0 5px;
                    resize: none;
                    overflow-x: auto;
                    white-space: pre;
                    word-wrap: normal;

                   .tab-size(16);

                    &:focus {
                        outline: none;
                    }
                }
            }
        }

        .submitSection {
            .size(@width: 100%, @height: 30px);
            .position(relative);
            box-shadow: 0px -3px 3px 0px rgba(153,153,153,.7);
            padding: 15px 0;

            .sectionContainer {
                .size(@width: 420px, @height: 100%, @max-width: 95%);
                margin: 0 auto;
            }

            .inputSection {
                .size(@width: 60%);
                .position(relative);
                float: left;

                .label {
                    .size(@width: 80px, @height: 25px);
                    .font(@weight: 900, @size: 13px, @line-height: 30px);
                    .noSelection;
                    cursor: default;
                    float: left;
                }

                input {
                    .size(@width: ~"calc(100% - 80px)", @height: 30px, @min-width: 80px);
                    .rounded;
                    .font(@line-height: 30px);
                    box-shadow: inset -1px 1px 2px rgba(0, 0, 0, 0.5);

                    &:focus {
                        outline: none;
                    }
                }
            }

            .btnSection {
                float: right;
                .size(@width: 35%);
                .position(relative);
                .btn {
                    .size(@max-width: 100%);
                    float: right;
                }
            }
        }
    }
}


/* ========== End Of Scratch Pad Section in Right Side Bar ========== */

/* ========== Help Section in Right Side Bar ========== */
#helpSearchArea {
    padding: 6px 3% 5px 3%;
    border-bottom: 1px solid @color-background-midGrayMed;
    input {
        width: 70%;
        padding: 2px 2px 2px 4px;
        .font(@weight: bold, @size: 12px);
        background-color: @color-background-sidebar;
        color: @color-text-darkGray;
        float: left;
        &:focus {
            background-color: @color-white;
            outline: none;
            .input-placeholder(@color-text-lightGray);
        }
        .input-placeholder(@color-text-darkGray);
    }
}

#helpSubmit {
    .size(@width: 25%, @height: 30px);
    .action-gradient;
    color: @color-text-white;
    float: right;
    .font(@size: 12px, @line-height: 30px);
    border-radius: 3px;
    margin-left: 5px;
    text-align: center;
    padding-right: 10px;

    .iconSearch {
        .background("/images/search-icon.png", 18px, 18px);
        margin: 5px;
        display: inline-block;
        float: left;
    }
}

.helpBox {
    .size(@width: auto, @height: 148px);
    margin: 0 3%;
    padding: 5px;
    background-color: @color-white;
}

#helpResults {
    text-align: center;
    span {
        .vertical-align;
        top: 40%;
        color: @color-text-lightGray;
    }
}

#helpTopics {
    margin-top: 20px;
    color: @color-text-dropMenu;
    span {
        font-weight: 700;
    }

    ul {
        > span {
            font-size: 14px;
        }
        li {
            .font(@weight: 400, @size: 12px);
            margin: 6px 0px 0px 4px;
        }
    }
}

#helpOnOff {
    margin: auto;
    .background("/images/help-on.png", 218px, 65px);
}
#pulloutTab {
    .position(absolute, @bottom: 0, @left: -9px);
    .size(@width: 18px, @height: 60px);
    border-left: 1px solid @color-bar-border;
    border-top-left-radius: 3px;
    box-shadow: -1px 0px 0px rgba(0,0,0,0.3);
    .image("/images/pullout.png", 4px, 11px);
    background-color: inherit;
}
// ========== End Of Help Section in Right Side Bar ==========