// XXX Style the class .mainPane instead of this id
#workspacePanel {
    height: ~"calc(100% - 115px)";
}

#watermark {
    .position(absolute, @bottom: 100px, @left: 15px);
    .size(@width: 579px, @height: 253px);
    .image("/images/logo-white-L.png", 0, -70px);
    background-size: 100%;
    z-index: -1;
    opacity: 0.05;
}

#insight {
    .position(absolute, @bottom: 89px, @left: 238px);
    .size(243px, 79px);
    .image("/images/insight.png");
    background-size: 100%;
    z-index: -1;
    opacity: 0.15;
}

/* DRAG AND DROP TABLES */
.tableDragging {
    position: absolute !important;
    opacity: 0.7;
    z-index: 10;
}

#shadowTable {
    .position(relative, @top: 0, @left: 0);
    background-color: @color-shadow-darkGray;
    display: inline-block;
    opacity: 1;
    margin-right: 5px;
    overflow: hidden;
    white-space: normal;
    z-index: 0;
    vertical-align: top;
}

/* DRAG AND DROP COLUMNS styling */
#shadowDiv {
    .position(absolute);
    background-color: @color-table-midGray;
    z-index: 11;
    opacity: 1;
    margin-top: 5px;
}

#fauxCol{
    .position(absolute, @top: 114px);
    background-color: @color-white;
    z-index: 12;
    opacity: 0.7;
    pointer-events: none;
    overflow: hidden;
    box-shadow: 1px 0px 1px 1px rgba(100,100,100,.05);
    white-space: nowrap;
}

#fauxTable {
    background-color: @color-white;
    z-index: 12;
    margin-left: 0 !important;
    margin-top: 5px;
    th {
        outline: 1px solid rgba(0,0,0,.1);
    }
    tr:first-child {
        position: absolute;
        background-color: white !important;
    }
    .header {
        border-left: none !important;
    }
}

.xcTable#fauxTable {
    th, td {
        border-right: none !important;
        border-left: none;
    }
}

.dragArea {
    .position(absolute, @top: -5px, @left: 0);
    .size(@width: 100%, @height: 45px);
    .cursor-move;
    z-index: 1;
}

#dropTargets {
    .position(absolute, @top: 0, @left: 0);
}

.dropTarget {
    .position(absolute, @top: 0);
    z-index: 22;
    background-color: rgba(0,0,50,0.2);
    font-size: 50px;
    opacity: 0;
}
/* END DRAG AND DROP STYLING */

 /* ========== Work Sheet Bar ========== */
#workspaceBar {
    .position(relative, @top: -1px);
    border-bottom-width: 2px;
    .flex-display;

    .workspaceArea {
        .flex-shrink(0);
    }

    #functionArea {
        .flex(4 1 380px);
    }

    #fnBar {
        .size(@width: ~"calc(100% - 28px)");
        &.active {
            background-color: @color-background-input-active;
            box-shadow: 0px 2px 2px 0 #888888 inset;
        }
    } 

    #searchBar {
        .size(@width: 180px);
    }

    #rowInput {
        .size(@width: 60px);
    }

    #rowScrollerArea {
        .size(@width: 200px, @height: 35px);
        .flex(2 0 200px);
        cursor: default;
        .noSelection;
        margin: 0 4px;
        overflow: hidden;

        .rowScroller {
            .position(relative);
            .size(@width: 100%, @height: 11px);
            margin: 12px 0 25px 0;
            background-color: @color-bar-border;
            box-shadow: inset 0px 1px #1A1C1D, 0px 1px #d5d5d5;

            .bookmark {
                .position(absolute, @bottom: 0);
                .size(@width: 3px, @height: 11px);
                background-color: @color-background-bookmark;
                margin-left: -1px;
            }

            .rowMarker {
                .position(absolute, @top: -11px, @left: -6px);
                .size(@width: ~"calc(100% - 1px)", @height: 35px);
                display: inline-block;
                .image("/images/locator1.png");
                .transition (transform 0.13s);

                &.scrolling {
                    .transition (transform 0s);
                }
            }

            .subRowMarker {
                .position(absolute, @top: 0, @left: 2px);
                .size(@width: 10px, @height: 11px);
                cursor: pointer;
            }

            .bottom {
                .position(@top: 22px);
            }

            .middle {
                .position(@top: 11px, @left: 5px);
                .size(@width: 3px);
            }

            &.hidden {
                display: none !important;
            }
        }
    }
}
 /* ========== End Of Work Sheet Bar ========== */

 /* ========== Main Frame ========== */
 #mainFrame {
    .size(@width: ~"calc(100% - 5px)", @height: ~"calc(100% - 38px)");
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    // XXX not using position relative for the sake of 
    // the scrolling when drag/dropping a table or column
    .transition-delay(0s);
    .transition(height 0.3s);
    &.midway {
        .size(@height:  ~"calc(50% - 20px)");
        .transition(height 0s);
        .transition-delay(0.3s);
    }
}

.tableWrap {
    padding: 0;
    .size(100%, 100%);
    .font(@size: 11px);
    overflow-x: auto;
    overflow-y: scroll;
    display: inline-block;
}

.xcTable {
    .size(@width: 520px, @height: 0);

    td.jsonElement, td.dataCol {
        .go-column-solid(20%);
    }

    td:first-child {
        cursor: pointer;
    }

    .header {
        .position(absolute, @top: 35px);
        .dataTableHeader;

        > input {
            .gray-gradient;
            .rounded;
        }

        .flexContainer {
            .position(relative);
            .size(@width: 100%);
            .gray-gradient;
            .rounded;
            .flexWrap.flex-left {
                .flex(0 1 27px);
                .size(@height: 22px);
                margin: 4px 0 0 0px;
                overflow: hidden;
                white-space: normal;
                min-width: 26px;
                .iconHidden {
                    .size(@width: 1px, @height: 22px);
                    display: inline-block;
                }
            }

            .flexWrap.flex-mid {
                .flex(1 0 0);
                .editableHead {
                    padding-right: 27px;
                }
            }

            .flexWrap.flex-right {
                .flex(0 1 4px);
            }

            &:hover {
                .flexWrap.flex-right {
                    > .dropdownBox {
                        opacity: 1.0;
                    }
                }
            }
        }
    }

    th.selectedCell {
        .flexContainer{
            .action-gradient;
            .editableHead {
                color: @color-white !important;
                text-overflow: clip;
            }
        }
    }

    th:first-child {
        border-left: none !important;
        .header {
            border-left: 5px solid #e6e6e6;
        }
    }
    
}

.xcTableWrap {
    .position(relative);
    .size(@width: auto);
    margin-bottom: 0px;
    overflow: hidden;

    &:only-child {
        .tableGrab {
            display: none;
        }
    }

    .xcTbodyWrap {
        .position(@right: -17px);
        .size(@width: ~"calc(100% + 17px)", @max-height: ~"calc(100% - 31px)");
        .font(@size: 11px);
        margin-bottom: 0;
        padding: 0;
        overflow-x: hidden;
        overflow-y: auto;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    thead {
        box-shadow: 0px 1px  1px @color-shadow-black;
        .header:hover > .dropdownBox {
            opacity: 0.6;
        }

        .colGrab:hover ~ .dropdownBox {
            opacity: 0;
        }
    }
}

.xcTheadWrap {
    .position(relative, @left: 0%);
    top: 0px !important;
    .size(@width: ~"calc(100% - 5px)");
    pointer-events: none;
    z-index: 9;
    display: inline-block;

    .tableTitle {
        .position(relative);
        .size(@width: 100%, @height: 35px);
        pointer-events: auto;
        text-align: center;
        display: block;
        .gray-gradient;
        border-bottom: 1px solid @color-table-borderGray;
        .tableGrab {
            .position(absolute, @top: 0);
            .size(@width: ~"calc(100% - 15px)", @height: 40px);
            z-index: 2;
            .cursor-move;
        }

        &.tblTitleSelected {
            .action-gradient;
            color: @color-white; 
            border-bottom: 1px solid @color-table-borderBlue;

            input {
                color: @color-white; 
            }

            .dropdownBox {
                opacity: 1;
                .innerBox {
                    background-image: url(/images/table-corner.png) !important;
                }
            }
        }

        .dropdownBox {
            .position(absolute, @right: -3px, @bottom: -4px);
            .size(24px, 24px);
            z-index: 6;
            opacity: 0;
            border: none;
            cursor: pointer;
            .transition (opacity 0.02s linear);
            .transition-delay (0.08s);
            .innerBox {
                .position(absolute, @right: 6px, @bottom: 7px);
                .size(16px, 16px);
                background-image: url(/images/table-corner-inactive.png); 
            }
        }

        &:hover {
            .dropdownBox {
                opacity: 1;
                .innerBox {
                    background-image: url(/images/table-corner-inactive.png);
                }
            }
        }

        input {
            .position(relative);
            .size(@width: 100%, @height: 25px);
            .font(@weight: 600, @size: 15px, @family: @font-base);
            text-align: center;
            background-color: transparent;
            padding: 0 2px;
            margin-top: 5px;
            z-index: 2;
            &:focus {
                background-color: @color-white;
                color: @color-text-darkGray;
                width: auto !important;
                max-width: 90%;
            }
        }
    }
}

.colGrab {
    .position(absolute, @top: 0, @right: -7px);
    .size(@width: 8px);
    display: inline-block;
    cursor: ew-resize;
    z-index: 4;
    background-color: rgba(0,0,0,0); //ie hack
    .noSelection;
}

th:last-child .colGrab{
    .position(@right: -10px);
    .size(@width: 12px);
}

/* CUSTOM DROPDOWNS BASED ON DATA TYPES */
.xcTable th {
    &.newColumn {
        .sort, .aggregate, .groupBy, .filterWrap, .joinList {
            display: none;
        }
    }
}

/* VERTICAL RESIZING */
.rowGrab {
    .position(absolute, @bottom: -6px, @left: -2px);
    .size(@width: 1000px, @height: 7px);
    z-index: 0;
    cursor: ns-resize;
}

.xcTable tbody td {
    .size(@height: 30px);
}

.idWrap {
    .position(relative);
    .size(100%, 100%);
    display: table;
}

.idSpan {
    .size(@width: 100%);
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
/* END VERTICAL RESIZING */
/* ========== End Of Main Frame ========== */