<section class="columnAssignmentSection">
    <!-- list part -->
    <div class="tableSection">
        <div class="header clearfix">
            <span class="text"><%= dicts.SetOpPanel.ColumnTitle %>:</span>
        </div>
        <div class="listSection"></div>
    </div>
    <!-- result part -->
    <div class="resultSection">
        <div class="listSection"></div>
    </div>
    <!-- drop part -->
    <div class="candidateSection">
        <div class="actionSection"></div>

        <div class="listSection">
        <div class="lists"></div>
        </div>
    </div>
</section>