<div class="xc-colShema colSchemaSection">
  <!-- buttons -->
  <div class="buttonSection">
    <div class="detect xc-action">
      <i class="icon xi-magic-wand"></i>
      <span><%= dicts.smartCast.detect %></span>
    </div>
    <div class="clear xc-action">
      <i class="icon xi-select-none"></i>
      <span><%= dicts.smartCast.clearAll %></span>
    </div>
  </div>
  <!-- list section -->
  <div class="listSection">
    <div class="title">
      <div class="part">
        <div class="name"><%= dicts.smartCast.colName %></div>
        <div class="type"><%= dicts.common.ColType %></div>
    </div>
    </div>
    <div class="content"></div>
    <div class="addColumn addArgWrap addArgWrapSmall">
      <button class="addArg btn btn-secondary btn-100-rounded">
        <i class="icon xi-plus"></i>
      </button>
      <span class="text"><%= dicts.common.AddCol %></span>
    </div>
  </div>
  <!-- end of list section -->
</div>