<section id="mapOpPanel" class="xc-hidden opPanel generalOpPanel">
    <header>
        <div class="row">
            <div class="title"><%= dicts.opsView.map %></div>
            <!-- <div class="hint csHelp" data-topic="mapFunctions" title="" data-toggle="tooltip" data-container="body" data-original-title="<%= dicts.TooltipTStr.CSHelp %>">
                <i class="icon xi-help fa-12"></i>
            </div> -->
            <div class="subTitle"></div>
        </div>
        <i class="close icon xi-close" data-toggle="tooltip" data-placement="auto top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
    </header>
    <div class="mainContent">
        <div class="opSection">
            <p class="mainInstructions instrText"><%= dicts.opsView.mapInstr %></p>
            <div class="group mapGroup firstGroup">
                <i class="icon xi-minus minGroup"></i>
                <div class="altFnTitle">No Map Function Chosen</div>
                <div class="filterMapFuncArea">
                    <input type="text" class="mapFilter" autocomplete="off" placeholder="<%= dicts.opsView.mapFilter %>...">
                    <div class="clear">
                        <i class="icon fa-11 xi-close xc-action"></i>
                    </div>
                </div>
                <div class="catFuncHeadings clearfix subSubHeading">
                    <div><%= dicts.opsView.category %>
                      <i class="qMark icon xi-unknown"
                      data-toggle="tooltip"
                      data-container="body"
                      data-placement="auto top"
                      data-title="<%= dicts.opsView.mapCategoryTip %>">
                      </i>
                    </div>
                    <div><%= dicts.opsView.function %>
                      <i class="qMark icon xi-unknown"
                      data-toggle="tooltip"
                      data-container="body"
                      data-placement="auto top"
                      data-title="<%= dicts.opsView.mapFunctionTip %>">
                      </i>
                    </div>
                </div>
                <div class="catFuncMenus clearfix">
                    <ul class="categoryMenu"></ul>
                    <ul class="functionsMenu"></ul>
                </div>
                <div class="descriptionText"></div>
                <div class="argsSection inactive"></div>
            </div>
            <div class="addArgWrap addArgWrapSmall addGroup addExtraGroup">
                <button class="btn btn-secondary btn-100-rounded addArg addMapGroup">
                    <i class="icon xi-plus"></i>
                </button>
                <span class="text"><%= dicts.opsView.additionalMapFunc %>
                  <i class="qMark icon xi-unknown"
                    data-toggle="tooltip"
                    data-container="body"
                    data-placement="auto top"
                    data-title="<%= dicts.opsView.additionalMapFuncTip %>">
                    </i>
                </span>
            </div>
            <!-- icvContainer is deprecated, need to remove from MapOpPanel.ts -->
            <div class="icvContainer xc-hidden">
                <div class="icvMode checkboxSection inactive">
                    <div class="checkbox">
                        <i class="icon xi-ckbox-empty fa-11"></i>
                        <i class="icon xi-ckbox-selected fa-11"></i>
                    </div>
                    <div class="text"><%= dicts.opsView.erroneousRows %></div>
                </div>
            </div>
            <div class="strPreview"></div> <!-- this gets filled by JS -->
        </div>
        include "opPanelAdvancedSection.html"
        include "opPanelBottomSection.html"
    </div>
</section>
