<!-- Set Op Panel -->
<section id="setOpPanel" class="xc-hidden opPanel">
  <!-- Header -->
  <header class="headerSection">
    <div class="row">
        <div class="title"><%= dicts.SetOpPanel.header %></div>
         <div class="subTitle"></div>
    </div>
    <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
  </header>
  <!-- content -->
  <div class="mainContent">
    <div class="opSection">
      <p class="mainInstructions instrText"><%= dicts.SetOpPanel.Instr %></p>
      <!-- topSection -->
      <section class="topSection">
        <div class="operationSection">
          <div class="header"><%= dicts.SetOpPanel.Mode %>:</div>
          <div class="modeList"></div>
        </div>
        <div class="dedupSection radioButtonGroup">
          <div class="header"><%= dicts.SetOpPanel.IncludeAll %>:</div>
          <div class="radioButton xc-action active yes" data-option="yes">
            <div>Yes</div>
            <div class="radio">
              <i class="icon xi-radio-selected"></i>
              <i class="icon xi-radio-empty"></i>
            </div>
          </div>
          <div class="radioButton xc-action no" data-option="no">
            <div>No</div>
            <div class="radio">
              <i class="icon xi-radio-selected"></i>
              <i class="icon xi-radio-empty"></i>
            </div>
          </div>
        </div>
        <div class="divider"></div>

      </section>
      include "colAssignmentView.html"
      include "opPanelAdvancedSection.html"
      include "opPanelBottomSection.html"
    </div>
  </div>
</section>
<!-- End Of Set Op Panel -->
