<!-- SQL Section -->
<section id="sqlOpPanel" class="xc-hidden opPanel sqlOpPanel">
  <header>
    <div class="row">
      <div class="title">SQL</div>
      <div class="subTitle"></div>
    </div>
    <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
  </header>
  <div class="mainContent">
    <!-- Operation panel-->
    <section class="opSection">
      <p class="mainInstructions instrText">
        Select a SQL snippet and use the SQL Node input connections as the source tables.
      </p>
      <div class="snippetSelectionArea formRow">
        <div class="subHeading clearfix">
          <div class="label">SQl Query:</div>
          <i class="qMark icon xi-unknown"
          data-toggle="tooltip"
          data-container="body"
          data-placement="top"
          data-title="Select an existing query">
          </i>
        </div>
        <div class="snippetsList dropDownList">
            <input class="text snippetInput" type="text" value="" spellcheck="false" disabled>
            <div class="iconWrapper">
                <i class="icon xi-arrow-down"></i>
            </div>
            <div class="list">
                <ul class="snippetsUl"></ul>
                include "../../util/menuScrollArea.html"
            </div>
        </div>
      </div>
      <div class="nextForm xc-hidden">
        <div class="tableTitle">
          <div class="title">Table Mapping:</div>
          <!-- <i class="qMark icon xi-unknown" data-toggle="tooltip"
            data-container="body"
            data-title="Select an input connection number in the drop-down and enter a unique table identifier name (for example, orders). You can use this table identifier in the SQL snippet below."
            data-placement="auto"></i> -->
          <div class="maximize">
            <i class="icon xi-minus" data-container="body"
            data-title="Collapse"
            data-placement="top"></i>
          </div>
        </div>
        <div class="tableSection tableWrapper">
          <div class="instruction">
            Match each table in your SQL query with a table from the App Builder.
          </div>
          <div class="identifiersSection">
            <div class="header">
              <div class="sourceHeader">SQL Query Tables</div>
              <div class="destHeader">Module Tables (by label)</div>
            </div>
            <div class="tableInstruction instrText">
              No Tables found. Use the SQL Editor to write a SQL query that takes in source tables.
            </div>
            <div class="identifiersList"></div>
          </div>
        </div>
        <div class="dropAsYouGo checkboxSection">
          <div class="checkbox">
            <i class="icon xi-ckbox-empty"></i>
            <i class="icon xi-ckbox-selected"></i>
          </div>
          <div class="text">Drop intermediate results</div>
          <i class="qMark icon xi-unknown"
            data-toggle="tooltip"
            data-container="body"
            data-title="If this check box is checked , the system drops all the intermediate results sets generated during the execution of this SQL snippet to optimize memory consumption."
            data-placement="top"></i>
        </div>
        <div class="editorTitle">
          <div class="title">
            <i class="icon xi-error-outline"></i>
            SQL Node statement is out of sync: <i class="qMark icon xi-unknown" data-toggle="tooltip" data-container="body"
            data-original-title="The original SQL statement has been modified since this SQL Node was last saved, but this SQL Node is still using the orignal statement." data-placement="top"></i>
          </div>
          <div class="refreshSnippet">Update
            <i class="icon xi-refresh" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Update %>"></i>
          </div>
        </div>
        <div class="snippetUpdated">
          SQL Query is now up to date.
        </div>
        <div class="editorWrapper">
        </div>
      </div>
    </section>
    include "opPanelAdvancedSection.html"
    include "opPanelBottomSection.html"
  </div>
</section>