<!-- SQL Section -->
<section id="sqlOpPanel" class="xc-hidden opPanel sqlOpPanel">
  <header>
    <div class="row">
      <div class="title"><%= dicts.SQLOpPanel.Header %></div>
      <div class="subTitle"></div>
    </div>
    <i class="close icon xi-close" data-toggle="tooltip" data-placement="top" data-container="body" data-original-title="<%= dicts.common.Close %>"></i>
  </header>
  <div class="mainContent">
    <!-- Operation panel-->
    <section class="opSection">
      <p class="mainInstructions instrText">
        <%= dicts.SQLOpPanel.Instr %>
      </p>
      <div class="snippetSelectionArea formRow">
        <div class="subHeading clearfix">
          <div class="label"><%= dicts.SQLOpPanel.Statement %>:</div>
          <i class="qMark icon xi-unknown"
          data-toggle="tooltip"
          data-container="body"
          data-placement="right"
          data-title="<%= dicts.SQLOpPanel.StatementHint %>">
          </i>
        </div>
        <div class="snippetsList dropDownList">
          <input class="text snippetInput inputable" type="text" value="" spellcheck="false">
          <div class="iconWrapper">
            <i class="icon xi-arrow-down"></i>
          </div>
          <div class="list">
            <ul class="snippetsUl"></ul>
            include "../../util/menuScrollArea.html"
          </div>
        </div>
      </div>
      <div class="nextForm xc-hidden">
        <div class="tableTitle">
          <div class="title"><%= dicts.SQLOpPanel.TableMap %>:</div>
          <div class="maximize">
            <i class="icon xi-minus"
            data-container="body"
            data-title="<%= dicts.SQLOpPanel.Collapse %>"
            data-placement="top"></i>
          </div>
        </div>
        <div class="tableSection tableWrapper">
          <div class="instruction">
            <%= dicts.SQLOpPanel.TableMapInstr %>
          </div>
          <div class="identifiersSection">
            <div class="header">
              <div class="sourceHeader"><%= dicts.SQLOpPanel.TableLable %></div>
              <div class="destHeader"><%= dicts.SQLOpPanel.ModuleLabel %></div>
            </div>
            <div class="tableInstruction instrText">
              <%= dicts.SQLOpPanel.NoTableHint %>
            </div>
            <div class="identifiersList"></div>
          </div>
        </div>
        <div class="dropAsYouGo checkboxSection">
          <div class="checkbox">
            <i class="icon xi-ckbox-empty"></i>
            <i class="icon xi-ckbox-selected"></i>
          </div>
          <div class="text"><%= dicts.SQLOpPanel.DropTempTable %></div>
          <i class="qMark icon xi-unknown"
            data-toggle="tooltip"
            data-container="body"
            data-title="<%= dicts.SQLOpPanel.DropTempTableHint %>"
            data-placement="top"></i>
        </div>
        <div class="editorTitle">
          <div class="title">
            <i class="icon xi-error-outline"></i>
            <%= dicts.SQLOpPanel.OutOfSync %>
            <i class="qMark icon xi-unknown"
            data-toggle="tooltip"
            data-container="body"
            data-original-title="<%= dicts.SQLOpPanel.OutOfSyncHint %>"
            data-placement="top"></i>
          </div>
          <div class="refreshSnippet">
            <%= dicts.common.Update %>
            <i class="icon xi-refresh"></i>
          </div>
        </div>
        <div class="snippetUpdated">
          <%= dicts.SQLOpPanel.UpToDate %>
        </div>
        <div class="editorWrapper"></div>
      </div>
    </section>
    include "opPanelAdvancedSection.html"
    include "opPanelBottomSection.html"
  </div>
</section>