<div id="dataflowView" class="subPanel">
  <!-- AddSchedule Card - Currently not used since we are going to get rid
       of schedules
  <div id="addScheduleCard" class="cardContainer">
    <header class="cardHeader">
      <span class="title"><%= dicts.sched.Add %></span>
      <div class="close"><i class="icon xi-close fa-15"></i></div>
    </header>
    <section class="cardInstruction">
      <i class="icon xi-warning"></i>
      <div class="text"><%= dicts.sched.AddInstr %></div>
    </section>
    <section class="cardMain">
      <div class="scheInfoSection">
        <h3 class="label"><%= dicts.sched.AttachedSched %>:</h3>
        <div class="text">N/A</div>
      </div>
      <div class="selectScheSection">
        <h3 class="label"><%= dicts.sched.SelectSched %>:</h3>
        <div class="dropDownList scheduleList">
          <input class="text focusable scheduleListInput" type="text" value="" spellcheck="false" disabled>
          <div class="iconWrapper">
            <i class="icon xi-arrow-down"></i>
          </div>
          <div class="list" style="display: none;">
            <ul></ul>
            <div class="scrollArea top">
              <div class="arrow"></div>
            </div>
            <div class="scrollArea bottom">
              <div class="arrow"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="newScheSection">
        <h3 class="label"><%= dicts.sched.CreateNew %>:</h3>
        <div>
          <button type="button" class="btn createNewSchedule"><%= dicts.sched.CreateNewBtn %></button>
        </div>
      </div>
    </section>
    <section class="cardBottom">
      <button type="button" class="btn confirm"><%= dicts.common.SAVE %></button>
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
    </section>
  </div>
  End of AddSchedule Card -->

  <!-- Retina Uploader -->
  <div id="uploadDataflowCard" class="cardContainer">
    <!-- RetinaUploader  Header -->
    <header class="cardHeader">
      <span class="title"><%= dicts.dataflow.uploadHeader %></span>
      <div class="close"><i class="icon xi-close fa-15"></i></div>
    </header>
    <!-- RetinaUploader Instruction -->
    <section class="cardInstruction">
      <i class="icon xi-warning"></i>
      <div class="text"><%= dicts.dataflow.uploadInstr %></div>
    </section>
    <!-- RetinaUploader Main Section -->
    <section class="cardMain">
      <div class="retinaUploader">
        <span class="text"><%= dicts.common.Location %>:</span>
        <input id="retinaPath" type="text" disabled>
        <input id="dataflow-browse" spellcheck="false" type="file" style="display: none">
        <button id="dataflow-fakeBrowse" class="btn"><%= dicts.common.BROWSE %></button>
      </div>
    </section>
    <!-- Button Section -->
    <section class="cardBottom">
      <button type="button" class="btn confirm"><%= dicts.dataflow.upload %></button>
      <button type="button" class="btn btn-cancel cancel"><%= dicts.common.CANCEL %></button>
    </section>
  </div>

  <div id="dfgViz" class="cardContainer">
    <!-- cardHeader -->
    <header class="cardHeader">
      <div class="leftSection">
        <h2 class="title"></h2>
        <div class="schedulesList"></div>
      </div>
      <!-- Retina Tab Section -->
      <div class="retTabSection no-selection hidden">
        <div class="retTab">
          <div class="tabWrap btn">
            <span class="retTitle"><%= dicts.sched.params %></span>
            <div class="caret">
              <i class="icon fa-10 xi-arrow-down"></i>
            </div>
          </div>
          <!-- retPopUp -->
          <div class="retPopUp">
            <div class="inputSection">
              <input class="newParam" type="text" placeholder="<%= dicts.sched.inputNewParam %>" spellcheck="false">
              <button class="btn iconBtn addParam">
                <i class="icon fa-18 xi-add-parameters"></i>
                <%= dicts.sched.newParam %>
              </button>
            </div>
            <div class="tableHeader">
              <div class="thWrap paramName"><%= dicts.sched.param %></div>
              <div class="thWrap paramVal"><%= dicts.sched.val %></div>
              <div class="thWrap paramAction"><%= dicts.sched.action %></div>
            </div>
            <div class="tableContainer">
              <div class="tableWrapper">
                <table>
                  <tbody></tbody>
                </table>
              </div>
            </div>
          </div> 
          <!-- End of retPopUp -->
        </div>
      </div>
      <!-- End Of Retina Tab Section -->
    </header>
    <!-- End of cardHeader -->
    <div class="cardMain"></div>
  </div>
</div>