<section class="menuSection schedulesMenu xc-hidden">
	<div class="iconSection">
	    <!-- add schedule button -->
	    <div id="addSchedule" class="action" title="" data-toggle="tooltip" data-placement="top" data-container="body" title="Add Schedule">
	      <i class="icon xi-add-schedule"></i>
	    </div>
	    <i class="minimizeBtn icon xi-close fa-17"></i>
	</div>
	<div class="titleSection no-selection">
		<header>
			<span><%= dicts.sched.scheds %> (<span class="num">0</span>)</span>
		</header>
	</div>
  <div class="scheduleListArea mainSection">
      <ul id="scheduleLists" class="scheduleLists listWrap support-animation"></ul>
  </div>  
</section>

<!--  <div class="leftContent">
    <div class="mainButtonArea">
      <button id="addSchedule" class="btn btnLarge iconBtn">
        <span class="icon"></span>
        <%= dicts.sched.newSched %>
      </button>
    </div>
    <div class="scheduleListArea">
      <div class="scrollbarWrapper">
        <ul id="scheduleLists" class="scheduleLists support-animation"></ul>
      </div>
    </div>
  </div> -->